#closedcaptioneditor {
	position: relative;
}
#closedcaptioneditor.disabled input,
#closedcaptioneditor.disabled select,
#closedcaptioneditor.disabled textarea,
#closedcaptioneditor.disabled button,
#closedcaptioneditor.disabled .select2,
#closedcaptioneditor.disabled .btn {
	pointer-events: none !important;
	opacity: 0.6 !important;
}
.transcribe-progress-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(0 0 0 / 32%);
	backdrop-filter: blur(5px);
	z-index: 99999;
}
.transcribe-progress-message {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 400px;
	aspect-ratio: 1;
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 20px;
	border-radius: 8px;
	transform: translateY(-75px);
}
.selectedclip .timecell,
.selectedclip .timecellcaption {
	background: var(--themed-btn-cta);
	color: var(--themed-btn-cta-text);
}

.selectedtime {
	border-color: #666;
	background-color: #ffaf7d;
}

.selectedlength {
	border-color: #666;
	background-color: #ffaf7d;
}

#bottom-slider #btmcontent ul#slider_vdo {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bottom-slider {
	padding: 10px;
}

#bottom-slider #btmcontent ul#slider_vdo li a.current {
	border-color: #2a6496;
}

.grabresize {
	position: absolute;
	right: 0;
	top: 0px;
	cursor: col-resize;
	width: 12px;
	height: 36px;
	border-radius: 4px;
	margin-right: -6px;
}
.grabresize:hover {
	background: #666;
}

.grabmove {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 18px;
	display: none;
	color: #bbb;
	background-color: #555;
	border-radius: 3px;
	font-size: 0.8rem;
	cursor: move;
}

.timecell {
	cursor: pointer;
}

.timecell:hover .grabmove {
	display: block;
}

.grabmove:hover {
	color: #fff;
}

.productpanel {
	position: absolute;
	top: 0px;
	right: -0px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	background-color: rgba(221, 221, 221, 0.6);
	width: 20%;
	padding: 10px 0;
	z-index: 2147483647;
	height: 80%;
}

#video {
	position: relative;
	z-index: 1;
}

.video-holder {
	position: relative;
}

#video-container {
	background-color: var(--light-bg);
	padding: 0.5rem 0.5rem 0 0;
	position: relative;
	width: 100%;
	height: 260px;
}

@media (min-width: 1460px) {
	#video-container {
		height: 292px;
	}
}

#video-container .player {
	height: 100%;
}
#video-container .player .video-js {
	width: 96%;
}
#video-container video {
	margin: 0 auto;
}

#product-dialog {
	position: absolute;
	top: 0;
	right: 0;
	/*
	background: url("../img/slide_bg.png") repeat;
	*/
	background-color: rgba(237, 237, 237, 0.25);
	z-index: 10;
	padding: 2% 2% 3%;
	width: 27%;
	height: 92%;
}
#product-dialog .buy,
#product-dialog .price,
#product-dialog .share {
	padding-top: 6%;
	border-bottom: 1px ridge #999d9a;
	margin: 0;
}

#product-dialog .buy .highlight {
	color: red;
}

#product-dialog .view {
	padding-bottom: 7%;
	border-bottom: 1px ridge #999d9a;
}
#product-dialog .brand {
	padding-bottom: 3%;
	border-bottom: 1px ridge #999d9a;
}
#product-dialog .brand p {
	font-size: 12px;
}
#product-dialog .brand h5 {
	margin: 0;
}

#product-dialog .brand ul {
	/*
	list-style: url('../img/protag.png');
	*/
	list-style: none;
}
#left-slide {
	background: none repeat scroll 0 0 #ededed;
	/*margin-left: 1%;*/
	padding-left: 2%;
	padding-top: 2%;
	position: relative;
	padding-right: 2%;
}

#left-slide #links {
	left: 2%;
	position: absolute;
	top: 1%;
}
#left-slide #left-page {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#left-slide #products {
	border-bottom: 1px solid #cacaca;
	padding-bottom: 24%;
}
#left-slide .product {
	padding-bottom: 8%;
}
#left-slide #drop-link {
	margin: 0;
}
#left-slide #drop-link .accordion-group {
	border: none;
}
#left-slide #drop-link .accordion-group .accordion-toggle {
	display: block;
	padding-bottom: 10%;
	padding-left: 12px;
}
#left-slide #drop-link .accordion-group .accordion-toggle span {
	line-height: 15px;
	padding-left: 5%;
	text-align: left;
	width: 81%;
	color: #000000;
}
#left-slide .thumbnail {
	border: none;
	width: 48%;
}
#left-slide .thumbnail > p {
	margin: 7px 0 10px;
}

#video {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.productclosebutton {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -29px;
}

/* ------------------- */
/* show / hide buttons */
/* ------------------- */
.container-fluid.closeLeft p.closeLeft {
	display: none;
}

.container-fluid.openLeft p.openLeft {
	display: none;
}

/* -----------------*/
/*  Close Left       */
/* -----------------*/
.closeLeft .span2 {
	opacity: 0;
	filter: alpha(opacity = 0); /* For IE8 and earlier */
	margin-left: -200px;
	width: 0;
	overflow: hidden;
}

.closeLeft .spa10 {
	width: 100%;
}

.closeLeft .span10 {
	width: 100%;
}

.closeLeft .to-hide {
	display: none;
}

.closeLeft #openTrigger {
	display: none;
}

.openLeft #closeTrigger {
	display: none;
}

.productpanel {
	position: absolute;
	top: 0px;
	right: -0px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	background-color: rgba(221, 221, 221, 0.6);
	width: 20%;
	padding: 10px 0;
	z-index: 2147483647;
	height: 80%;
}

#video {
	position: relative;
	z-index: 1;
}

.video-holder {
	position: relative;
}

.video-tl {
	max-width: 100%;
	max-height: 420px;
}

.productlink-tray {
	display: inline-block;
	padding-top: 1px;
	width: 15px;
	height: 15px;
}

#left-dialog {
	position: absolute;
	top: 0;
	left: 0;
	/*
	background: url("../img/slide_bg.png") repeat;
	*/
	background-color: rgba(237, 237, 237, 0.25);
	z-index: 10;
	padding: 2% 2% 3%;
	width: 27%;
	height: 92%;
}

#top-float {
	margin: 0 auto;
	background-color: rgba(237, 237, 237, 0.25);
	z-index: 10;
	padding: 2% 2% 3%;
	width: 27%;
}

.timelineviewer {
	width: 100%;
	position: relative;
	padding: 10px 0 30px 0;
	overflow: hidden;
}

.timelinedata {
	clear: both;
	min-height: 400px;
	position: relative;
	margin-left: 60px;
}

.timelineviewercontainer {
	margin: 20px;
	background-color: #fff;
	color: #111;
	position: relative;
}
.timelinevieweractions {
	width: 1280px;
	height: 40px;
	margin: 0 auto;
}

.timelineviewerinside {
	width: 1280px;
	margin: 0 auto;
}
.timelineviewerarrows {
	position: absolute;
	top: 4px;
	right: 10px;
	width: 80px;
}
@media (max-width: 90px) {
	.timelineviewercontainer {
		overflow-x: auto;
	}
	.timelinedata {
		min-height: 350px;
		height: 100%;
	}
}
@media (max-width: 1610px) {
	.timelineviewercontainer {
		overflow-x: auto;
	}
	.timelinedata {
		min-height: 480px;
		height: 100%;
	}
}

.videotimelinecreate {
	background-color: var(--light-bg);
	padding: 0 0px 0px 0px;
	margin: 0;
}

.videotimelinecreate h3 {
	margin: 0 0 20px;
	font-weight: bold;
	font-size: 0.95rem;
	text-transform: uppercase;
}

.timelinecontainer {
	min-height: 60px;
	position: relative;
}

.timelinecursor {
	position: absolute;
	left: 60px; /*starting*/
	height: 50px;
	border-left: 1px solid #333;
	width: 1px;
	z-index: 5;
}

#timelineviewerbackground {
	position: absolute;
	margin-top: 90px;
	width: calc(100% - 40px);
	height: 100%;
	top: 0;
	z-index: 5;
}

.cctimelinedata {
	min-height: 280px;
}

.clipedit {
	padding: 0 10px;
}

#timelineeditor .clipdetail {
	display: block;
}

#timelineeditor .clipdetails a {
	color: #409c40;
	font-weight: bold;
	text-decoration: none;
}
#timelineeditor .clipdetails a:hover {
	text-decoration: underline;
}

#timelineeditor .cliptext {
	display: block;
}

.clickjump img {
	cursor: pointer;
}
