body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.75; }

a {
  color: #524104; }
  a.active, a:active, projectresultholdera:focus, a:hover {
    color: #fec503; }

.text-primary {
  color: #fed136 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1 {
  margin: 25px 0 20px 0}
h2 {
  margin: 20px 0 20px }
h3 {
  margin: 15px 0 15px }

header.masthead {
  color: white;
  background-image: url("../images/girl.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

header.masthead .intro-text {
    padding-top: 130px;
    margin-left: 20px;
    padding-bottom: 30px; 
}

header.masthead .intro-text .intro-lead-in {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
      letter-spacing: 10px;
       font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

header.masthead .intro-text .intro-heading {
      font-size: 34px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  .navbar-logo  {
	position:absolute;
	left:20px; 
	top:20px 	
  }
  
.navbar-brand  { 
		position:absolute;
		left: 100px;
}

.navbar-toggler {
 	color:#fff;
 }
.nav-item { 
	text-align:right; 
}

.nav-item.active
{
	background-color: #1b1a12;
}
.nav-item.active a
{
	color: white;
}

@media (min-width: 768px) 
{

header.masthead .intro-text {
    padding-top: 200px;
    margin-left: 60px;
    padding-bottom: 150px;
  }
  header.masthead .intro-text .intro-lead-in {
    
    }
    header.masthead .intro-text .intro-heading {
    	font-size: 45px;
    	
	} 
	.navbar-brand  img  { 
		margin: 0px; 
	}    
}

 
.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; 
}

.btn-sm {
  font-weight: normal; 
}


.btn-primary {
  color: white;
  border-color: #fed136;
  background-color: #fed136; 
}
.btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
.btn-primary:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-primary.active, .btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
    color: white;
    border-color: #b48b01;
    background-color: #dcab01; }
.btn-primary.active, .btn-primary:active,
.open > .btn-primary.dropdown-toggle {
  background-image: none; }
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  border-color: #fed136;
  background-color: #fed136; }
.btn-primary .badge {
  color: #fed136;
  background-color: white; }

.btn-light {
	background-color: #efefef;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #fed136;
	background-color: #f7f7f7 !important;
}
 
#services {
	padding-bottom: 50px;
	
}
#services .text-muted {
	font-size: 20px;
	line-height: 1.5;
}
#services h4 { margin: 10px 0 20px;}
.section {
	padding: 0 20px 0;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.card-mini-project .card 
{
	min-height:115px;
}
.card-mini-project {
	margin: 0px; 
	float:left;
	width: 100%;
}
.card-mini-project .logo {
	margin-bottom:0px;
}
.card-mini-project p {
	line-height: 1.2;
}

.oiheader {
	background-color: #f7f7f7;
	height:70px;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
	border-bottom:1px solid #e4e5de;
	z-index:500;
}
.logocontainer {
	margin-top:-20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	height: 165px;
	width: 165px;
	padding:5px;
	overflow:hidden;
	border:1px solid #9EA2A4;
	background-color:#fff;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.logo {
	background: url("../oi/logo.png") no-repeat center; 
	background-size: 100%;
	height: 150px;
	width: 150px;
}

.projectname h4 {
	padding:10px;
}
.projectdetails {
	padding:20px 10px;
}
.subheaderbackground {
	background-color: #e6e8ea;
	color:#fff;
	padding:5px;
	font-size:1em;
}

#mainNav
{
	float: right;
	background-color:#000;
	filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  	z-index: 600;
}

#mainNav.nav-project-page .navbar-nav .nav-item .nav-link 
{
		color: white;
}


@media (min-width: 992px) {
	#mainNav {
		background:none;
	}


#mainNav.nav-project-page .navbar-nav .nav-item .nav-link
{
	color:#3e4553;
}

#mainNav.nav-project-page .navbar-nav .nav-item.active a
{
		color: white;
}

#mainNav .navbar-nav .nav-item .nav-link
{
	color:#FFF;
}

}



.navbar-toggler {
    padding: .15rem .5rem;
    font-size: 1.0rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.oicontainer { width:100%; margin: 0; position:relative;  }
.col-sidebar {
    z-index: 1000;
    position:absolute;
    top: 0px;
    
    left:-80%;
    display: block!important;
    width: 260px;
    height: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    background-color:#fff;
}
.col-content { position:relative; }

.sidebartoggle, .sidebartoggleout {
	display:block;
}
#mapholder
{
	display:none;
}
#projectresultholder
{
		max-width: 100%;
		flex: 0 0 100%;
}
	
@media (min-width: 992px) {
	.oifeedlayout {
		margin-left: 220px
	}
	
	#mapholder
	{
		display: block;	
	}
	.col-sidebar {
	    position: absolute;
	    left:0;
	    width: 240px;
	    height: auto;
	    min-height: 100%;
	}
	.sidebartoggle, .sidebartoggleout {
		display:none;
	}
	.col-content {
		margin-left: 240px
	}
}
	

@media (min-width: 1380px) {
	.navbar-brand {
	}
	.card-mini-project {
		width:33%;
	}
	.oicontainer-content {
		padding:0 40px;
	}
	.col-sidebar {
	    position: absolute;
	    left:0;
	    width: 280px;
	    height: auto;
	    min-height: 100%;
	}
	.col-content {
		margin-left: 280px
	}
}

.categories-tag
{
	display: inline-block;
    margin-top: 5px;
    margin-right: 4px;
    padding: 0 4px;
    color: #9b9b9b;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    white-space: nowrap;
}

.sidebartoggle {
	position:absolute;
	left: -2px;
	z-index:2000;
}

.sidebaractive {
	left:0;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
	z-index:2000;
}
.sidebartoggle {
	position:absolute;
	top:-5px;
}
.sidebartoggleout {
	position:absolute;
	top:-5px;
	right:-24px;
	z-index:999;

}
.sidebartogglebtn {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}
.sidebartogglebtnout {
		z-index:999;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}
.oifeedlayout-content { padding: 20px; }
.oifeedlayout {
   background: url("../oi/banner.jpg") no-repeat top right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  min-height:990px;
  padding-top:1px;
 		
}
.oifeedlayout { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.oicontent {
	 padding: 20px 30px;
}

.oi-feedcard  { margin-bottom: 30px; }

.oi-feedcard .card-footer { font-size:90%; padding:.55rem 1.25rem }

.oi-feedcard .card-footer .btn-sm { padding:.10rem .5rem; }

.oi-feedgallery { padding:20px;}

.oi-feedgallery .gallery 
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.oi-feedgallery .gallery li {
    float: left;
    
    
    display: block;
    position: relative;
    padding-right: 10px;
   
}
.oi-feedgallery .gallery li img {
    width: 241px;
}
.oi-feedgallery .gallery li .player {
	max-height: 320px;
}
.oi-feedgallery .card .card-footer {
	font-size:80%;
}
.card-uploader .card-block {
	
}


.oimenu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 35px;
}
.oimenu li {
   float: left;
   display: block;
   margin-right: 40px;
   position: relative;
   padding-top: 10px;
}


span.select2-container {
    z-index:900;
}

.modal-header
{
	display:block;
}


#card-element { border:1px solid #ced4da; border-radius:.25rem; padding:.375rem .75rem;  }
#card-errors { color:#e5424d; font-size:80%;}

#drop-area .drop-over {
    margin: 0 auto 20px auto;
    width: 240px;
    height: 120px;
    background: url(../images/dropfiles.png) no-repeat center center #fAfAfA;
    border:2px dashed #efefef;
    
}
#drop-area .drop-over:hover {
	background: url(../images/dropfiles.png) no-repeat center center #f6f6f6;
	border:2px dashed #bfbfbf;
}

.uploadinstructions { margin-bottom: 10px; text-align: center; }


#upload {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px !important;
    margin-top: 20px;
    float: right;
}
.up-files-list {
    padding: 0;
    margin: 15px 0;
 }
 
.up-files-list li:first-child
{
     border-top: 1px solid #ddd;
}
.up-files-list li {
    padding:0px;
    margin: 0;
    height:45px;
    border-bottom: 1px dotted #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    list-style: none;
    position: relative;
    color:#666;
}
.up-files-list li a {
    padding: 10px;
    display: block;
    margin: 0;
    color: #444;
}
.up-files-list li:hover {
    background: #f3f3f3;
}
.up-files-list li .name {
    width: 350px;
    overflow: hidden;
    display: block;
     
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uploadprogressrow {
	line-height: 17px;
}

.uploadprogressrow-filename {
	line-height: 43px;
	margin-right:100px;
	padding-left:5px;
	overflow: hidden;
}
.uploadprogressrow-size {
	width:100px;
	margin: 0;
	position:absolute;
	top:10px;
	right:5px;
	text-align:right;
	color: #3DAACD;
	font-size:80%;
}
.up-files-list li .uploadstatus {
    font-style: italic;
}

.up-files-list li .delete-row, .up-files-list li:hover .delete-row {
    background: url('../images/iconset-10x10.png') 20px 10px;
    opacity: 0.7;
    width: 10px;
    height: 10px;
    padding: 0;
    display: block;
    margin-top: 5px;
    float: left;
    margin: 8px 0 0 6px;
}
.up-files-list li:hover .delete-row:hover {
    background: url('../images/iconset-10x10.png') 20px 10px;
    opacity: 1;
}
.up-files-list li .uploadprogress {
    background: rgba(113, 206, 113, 0.2);
    display: block;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
}

.inputformrow
{
	padding-bottom: 6px;
}

.listdropdown
{
	max-width: 250px;
	display: inline;
}


/* Component containers
----------------------------------*/
.ui-widget {
	font-size:0.8em;
}
.ui-widget .ui-widget {

}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #e9e9e9;
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}


/*Media Menu*/
.resultheader {clear:both;}

#sub-nav {
	background-color:#81cee0;
}



#resultpageslabel { line-height:40px; font-size:80%;}
#resultsdiv div.masonry-grid { padding:10px 12px;  background-color:transparent;}

#oisidebar .ui-widget {
	margin-bottom:20px;
} 
#oisidebar .ui-widget-content {
	padding:10px;
}
#oisidebar .ui-widget-content h4 {
	font-size:1.1em;
}
#oisidebar .ui-widget-content h3 {
	font-size:1.2em;
}




.assetviewer {
	background-color: #fff;
}

.assetviewer #media-player {
	padding:20px;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Profile container */
.profile {
  margin: 0px;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 0px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
margin: auto auto;
  padding:20px 20px 40px 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.profile-usermenu ul {
	padding:0px;
	margin:0px;
}


.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  display:block;
  float: left;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-weight: 400;
  display:block;
  padding:6px;
}

.profile-usermenu ul li a i {
  margin: 0 8px;
}

.profile-usermenu ul li a:hover {
  background-color: #e0e0e0;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  margin-left: -2px;
  font-weight: bold;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
table.stripped
{

}
tr.odd td
{
	background-color: #f6f9fb;
  
}
.headersubtext
{
	color: #777;
	font-size: .8em;
}
.goalage
{
	display:block;
	float: right;
	text-align: right;
}
#emrowpicker .rowclick:hover td {
	background-color: #eee;
}
.chatsidebar
{
   border-right: solid 1px black;
   background-color: #e8e8e8;
   padding-right: 0px;
}
.projectsidebar 
{
	display:block;
    min-height: 460px;
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 10px 0px;
 
}
.projectsidebar li
{
	line-height:40px;
	color: #333;
	
}
.projectsidebar li:hover
{
	color: #333;
	background-color: #eee;
}
.projectsidebar a
{
	display:block;
	padding-left: 30px;
}
.projecttree
{
	background-color: #ccc;
	height: 100%; 
    min-height: 600px;
    padding-right: 0px;
}

.showeditonright
{
	float: right;
	position: absolute;
	top: 5px;
}