<div class="ai-content-helper">
  <div class="dropdown light-dropdown dropleft">
    <a class="dropdown-toggle no-icon" type="button" data-toggle="dropdown">
      <svg xmlns="http://www.w3.org/2000/svg" fill="royalblue" viewBox="0 0 24 24" width="20" height="20">
        <path d="m19 9 1.25-2.75L23 5l-2.75-1.25L19 1l-1.25 2.75L15 5l2.75 1.25zm-7.5.5L9 4 6.5 9.5 1 12l5.5 2.5L9 20l2.5-5.5L17 12zM19 15l-1.25 2.75L15 19l2.75 1.25L19 23l1.25-2.75L23 19l-2.75-1.25z"></path>
      </svg>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" data-type="generate">
        <i class="bi bi-card-text"></i>
        <span class="ml-2">
          Generate Text from Prompt
        </span>
      </a>
      <a class="dropdown-item" data-type="grammar">
        <i class="bi bi-type"></i>
        <span class="ml-2">
          Fix Grammar & Spelling
        </span>
      </a>
      <a class="dropdown-item" data-type="extend">
        <i class="bi bi-menu-up"></i>
        <span class="ml-2">
          Improve and Extend Text
        </span>
      </a>
    </div>
  </div>
</div>