<div class="creator-section"
  #ifnotnull($section)
    data-dataid="$section.id"
    data-ordering="$section.ordering"
  #end>
  $pages.include("./section-title.html", $context)
  <div class="creator-section-contents soft-scrollbar" id="creatorcontent-${section.id}">
    #set($componentcontents = $mediaarchive.query("componentcontent").exact("componentsectionid", $section.id).sort("ordering").search())
    #foreach($componentcontent in $componentcontents)
      $context.putPageValue("componentcontent", $componentcontent)
      $pages.include("./section-content.html", $context)
    #end
    #if($componentcontents.size() == 0)
      $context.putPageValue("type", "paragraph")
      $pages.include("./section-content.html", $context)
    #end
  </div>
</div>
