<form class="creator-section-title">
  <h3>${section.name}</h3>
  <textarea rows="3">${section.name}</textarea>
  <div class="d-flex align-items-center mt-3">
    <a class="section-edit">
      <i class="fas fa-pen"></i>
    </a>
    <button class="btn btn-success btn-sm section-save" type="submit">
      <i class="fas fa-save"></i>
    </button>
    <a class="btn btn-secondary btn-sm section-cancel">
      <i class="bi bi-x-lg"></i>
    </a>
  </div>
</form>
<div class="action-btn-group light-dropdown">
  $context.putPageValue("actiontype","title")
  $pages.include("./section-action.html", $context)
</div>