<a class="action-btn icon move-up" data-action="move-up">
  <i class="fas fa-arrow-up"></i>
</a>
<a class="action-btn icon move-down" data-action="move-down">
  <i class="fas fa-arrow-down"></i>
</a>
#if($actiontype == "title")
  <a class="action-btn" data-action="add">
    <i class="fas fa-plus"></i>
    <span class="ml-2">
      Add
    </span>
  </a>
#elseif($actiontype == "content")
  <div class="dropdown">
    <a class="action-btn dropdown-toggle no-icon" type="button" data-toggle="dropdown">
      <i class="fas fa-plus"></i>
      <span class="ml-2">
        Add
      </span>
    </a>
    <div class="dropdown-menu">
      #set($componenttypes = $mediaarchive.getList("componenttype"))
      #foreach($componenttype in $componenttypes)
      <a class="dropdown-item ajax"
        data-type="${componenttype.id}"
        data-targetdiv="creatorcontent-${section.id}"
        href="$applink/components/smartcreator/section/section-content.html"
        data-oemaxlevel="1"
        data-targetappendtype="append">
        <i class="bi bi-${componenttype.icon}"></i>
        <span class="ml-2">${componenttype.name}</span>
      </a>
      #end
    </div>
  </div>
  <a class="action-btn" data-action="edit">
    <i class="fas fa-edit"></i>
    <span class="ml-2">
      Edit
    </span>
  </a>
#end
<a class="action-btn" data-action="copy">
  <i class="fas fa-copy"></i>
  <span class="ml-2">
    Duplicate
  </span>
</a>
<a
  class="action-btn"
  data-action="delete"
  href="$applink/components/smartcreator/section/delete.html"
  data-sectionid="${section.id}">
  <i class="fas fa-trash-alt"></i>
  <span class="ml-2">
    Delete
  </span>
</a>