<a class="action-btn icon move-up" data-action="move-up">
  <i class="fas fa-arrow-up"></i>
</a>
<a class="action-btn icon move-down" data-action="move-down">
  <i class="fas fa-arrow-down"></i>
</a>
#if($actiontype == "title")
  <a class="action-btn" data-action="add">
    <i class="fas fa-plus"></i>
    <span class="ml-2">
      Add
    </span>
  </a>
#elseif($actiontype == "content")
  <div class="dropdown">
    <a class="action-btn dropdown-toggle no-icon" type="button" data-toggle="dropdown">
      <i class="fas fa-plus"></i>
      <span class="ml-2">
        Add
      </span>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-type="header">
        <i class="bi bi-type-h1"></i>
        <span class="ml-2">Header</span>
      </a>
      <a class="dropdown-item" data-type="paragraph">
        <i class="bi bi-paragraph"></i>
        <span class="ml-2">Paragraph</span>
      </a>
      <a class="dropdown-item" data-type="image">
        <i class="bi bi-image"></i>
        <span class="ml-2">Image</span>
      </a>
      <a class="dropdown-item" data-type="video">
        <i class="bi bi-camera-video"></i>
        <span class="ml-2">Video</span>
      </a>
    </div>
  </div>
#end
<a class="action-btn" data-action="edit">
  <i class="fas fa-edit"></i>
  <span class="ml-2">
    Edit
  </span>
</a>
<a class="action-btn" data-action="copy">
  <i class="fas fa-copy"></i>
  <span class="ml-2">
    Duplicate
  </span>
</a>
<a class="action-btn" data-action="delete">
  <i class="fas fa-trash-alt"></i>
  <span class="ml-2">
    Delete
  </span>
</a>