#set($type = $componentcontent.componenttype)

#ifnull($type)
#set($type = $context.getRequestParameter("type"))
#end

#ifnull($type)
#set($type = "paragraph")
#end

#set($ordering = $componentcontent.ordering)

#ifnull($ordering)
  #set($ordering = $context.getRequestParameter("ordering"))
#end

#ifnull($ordering)
  #set($ordering = 1)
#end

#set($data = $componentcontent.content)

$context.putPageValue("data", $data)

<div class="creator-section-content">
  <div class="editable-content"
    data-sectionid="${section.id}"
    #ifnotnull($componentcontent)
      data-componentcontentid="$componentcontent.id"
    #end
    data-componenttype="$type"
    data-ordering="$ordering"
    data-savepath="$applink/components/smartcreator/section/create-content.html">
    $pages.include("./types/${type}.html", $context)
  </div>
  $pages.include("./ai-action.html", $context)
  <div class="action-btn-group light-dropdown">
    $context.putPageValue("actiontype", "content")
    $pages.include("./section-action.html", $context)
  </div>
</div>