<a class="action-btn icon move-up" data-action="move-up">
  <i class="fas fa-arrow-up"></i>
</a>
<a class="action-btn icon move-down" data-action="move-down">
  <i class="fas fa-arrow-down"></i>
</a>
<a class="action-btn" data-action="add">
  <i class="fas fa-plus"></i>
  <span class="ml-2">
    Add
  </span>
</a>
<a class="action-btn" data-action="copy">
  <i class="fas fa-copy"></i>
  <span class="ml-2">
    Duplicate
  </span>
</a>
<a
  class="action-btn"
  data-action="delete"
  href="$applink/components/smartcreator/section/delete.html"
  data-id="${section.id}">
  <i class="fas fa-trash-alt"></i>
  <span class="ml-2">
    Delete
  </span>
</a>