<a href="" class="entitydropdownmenu dropdown-toggle dropdown-noarrow" data-toggle="dropdown" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
	 <div class="dropdown-menu">
	 		<a class="dropdown-item globalfilePicker" 
	 			data-categoryid="$!{categoryid}"   
	 		href="#" 
	 		title="[[Add Files]]"><i class="fas fa-photo-video"></i> [[Add Files]]</a>
	 		<a class="dropdown-item emdialog"    
	 		href="#" 
	 		title="[[Add Folder]]"><i class="fas fa-folder-plus"></i> [[Add Folder]]</a>
	 		#if($candownloadcategoryzip)
		   		#if($category)
				<a	class="dropdown-item emdialog"
		  			title="[[Download]]: $category.getName()"
		  			href="$applink/views/modules/asset/downloads/bycategory/${category.id}/#eid($category.name).zip">
		  			<i class="fa fa-download"></i> [[Download]]</a>
				#end
			#end
	 		<a class="dropdown-item emdialog" data-allwaysloadpage="true" data-hidefooter="true"   
	 		href="#" 
	 		title="[[Properties]]"><i class="fas fa-cog"></i> [[Properties]]</a>
 	</div>