#set($hits = $entityassethits)

$context.putPageValue("hits", $hits)

#set($module = $mediaarchive.getCachedData("module", "asset"))
#set($moduleid = $module.getId())

$context.putPageValue("module", $module)
#set($componenthome = "$apphome/views/modules/asset/components")
$context.putPageValue("componenthome", $componenthome)

#if( !$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("rootcategory"))
	#end
	#if($categoryid)
		#set($category = $mediaarchive.getCachedData("category", $categoryid))
	#end
#end

#if( !$categoryid && $category)
	#set( $categoryid= $category.getId())
#end
$context.putPageValue("category", $category)
$context.putPageValue("categoryid", $categoryid)
#if( !$librarycol && $category )
	#set($rootcategories = $category.getParentCategories()) 
	###set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory", $rootcategories).searchOne() )
#end
#set($rootcategory = $context.getRequestParameter("rootcategory"))
#if(!$rootcategory)
	#set( $rootcategory = $categoryid)
#end

#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#ifnull($topmodule)
	#set($topmodule = $mediaarchive.getCachedData("module", $parentsearchtype))
	
#end
$context.putPageValue("topmodule", $topmodule)
$context.putPageValue("topmoduleid", $topmoduleid)

#ifnull($entityid)
#set($entityid = $context.getRequestParameter('entityid'))
#end

#set($resultview = $userprofile.get("assetresultview"))

#set($maintargetdiv = "dialogassetresultscontainer")
$context.putPageValue("maintargetdiv", $maintargetdiv)

$context.putPageValue("dialogresults", true)

#set( $targetdivmedia = "dialogmediaentity")
$context.putPageValue("targetdivmedia", $targetdivmedia)


<div id="$maintargetdiv"
	class="dialogassetresults assetresults resultsdiv" 
	data-moduleid="asset"
	data-resultview="$!resultview"
	data-url="$apphome/views/modules/asset/dialogindex.html"
	data-categoryid="$!categoryid"
	data-nodeID="$!categoryid"
	exact-search="true"
	data-dialogresults="true"
	data-hitssessionid="$!hits.getSessionId()"
	data-componenthome = "$!componenthome"
	data-searchhome="$!home$!componenthome/results"
	data-targetdiv="$!maintargetdiv"
	data-topmoduleid="$!topmoduleid"
	data-entityid="$!entityid"
	data-rootcategory="$!rootcategory"
	data-oemaxlevel="1"
	data-assetsortby="$!hits.getSearchQuery().getSortBy()"
	> 
	
	<div class="emgrid-module emgrid-box emgrid-module-asset h-100">
		
		$context.putPageValue("rootcategory", $rootcategory)

		#if($categoryid != $rootcategory)
			$context.putPageValue("selectednodes", $categoryid)
		#end
		
		#set($canupload = false)
		#if($canviewupload)
			#if($topmodule.getBoolean("enableuploading") && $permissions.can($topmoduleid, "upload_files"))
				#set($canupload = true)
			#end
		#end

		$context.putPageValue("canupload", $canupload)
		
		#ifnull($hidedialogtree)
		
			#set($dialogtreestatus = $userprofile.get("dialogtreestatus"))
			#ifnotnull($dialogtreestatus)
				#if($dialogtreestatus != "open")
					#set($dialogtreestatus = "close")
				#end
			#end
			#ifnull($dialogtreestatus)
				#set($dialogtreestatus = "close")
			#end
			$context.putPageValue("dialogtreestatus", $dialogtreestatus)
			
			<div class="embedmediacontainer">
			
			#if($dialogtreestatus == "open")
				<div class="embedmediacol embedmediacol-tree embedtreestatus$dialogtreestatus">
					<div class="embedmediacolactions d-flex align-items-center">
						
						<a href="#" 
						class="d-flex align-items-center toggledialogtree toggledialogclose"
						data-targetdiv="dialogassetresultscontainer"
						data-oemaxlevel="1"
						data-url="$applink/views/modules/asset/dialogindex.html"
						data-topmoduleid="$!topmoduleid"
						data-entityid="$!entityid"
						data-rootcategory="$!rootcategory"
						data-categoryid="$!categoryid"
						data-treestatus="close"
						title="[[Collapse Tree]]">
							<i class="fas fa-angle-double-left"></i>
							<h3 class="embedmediacolheader">[[Folders]]</h3>
						</a>
	
						#if($canviewupload && $topmodule.getBoolean("enableuploading") && $permissions.can($topmoduleid, "upload_files"))
						<a href="" 
							class="createfoldertree"
							data-tree="dialogentitymediatreetree" 
							style="width:32px;" 
							title="[[Add Sub-Folder]]"><i class="bi bi-folder-plus"></i></a>
							
						
						#end
					</div>
					
					<div class="assetdropcategory h-100 dialogdroppable">
						<div class="embedmediatree">
						
						#set( $link = "$componenthome/emtree/tree.html")
						#set( $link = "${link}?dialogentitymediatreeroot=$rootcategory&treename=dialogentitymediatree&editabletree=true&targetdivsearch=$!targetdivmedia" )
						#set( $link = "${link}&maintargetdiv=$!maintargetdiv&targetdiv=$!targetdivmedia&maxlevelclick=1&updateAddressBar=false&uploadmaxlevel=1&nodeID=$!{categoryid}" )
						#set( $link = "${link}&customurladdmedia=$apphome/views/modules/asset/add/entityaddmedia.html" )
						#set( $link = "${link}&oemaxlevel=1&urlprefix=$apphome/views/modules/asset/dialogshowcategory.html" )
							
						$pages.include($link, $context)
						</div>
					</div>
				</div>
			#end
		#end
		<div class="embedmediacol embedmediacol-results" #ifnotnull($hidedialogtree)style="width:100%;"#end>
			<div id="dialogmediaentity" >
			#set( $uploadmedia = $context.getRequestParameter("uploadmedia"))
			
			#if($uploadmedia && $canupload)
				$pages.include("$apphome/views/modules/asset/add/entityaddmedia.html?categoryid=$rootcategory", $context)
			#else
				$context.putPageValue("targetdivsearch", $targetdivmedia)
				
				$pages.include("$componenthome/results/index.html", $context)
			#end
			</div>
		</div>
		</div>
		
	</div>


</div>
