#set($hits = $entityassethits)
$context.putPageValue("hits", $hits)

#set($module = $mediaarchive.getCachedData("module", "asset"))
#set($moduleid = $module.getId())

$context.putPageValue("module", $module)
#set($componenthome = "$apphome/views/modules/asset/components")
$context.putPageValue("componenthome", $componenthome)


#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#ifnull($topmodule)
	#set($topmodule = $mediaarchive.getCachedData("module", $parentsearchtype))
	
#end
$context.putPageValue("topmodule", $topmodule)
$context.putPageValue("topmoduleid", $topmoduleid)

#set($resultview = $userprofile.get("assetresultview"))

#set($maintargetdiv = "dialogassetresultscontainer")

$context.putPageValue("maintargetdiv", $maintargetdiv)

$context.putPageValue("dialogresults", true)

<div id="$maintargetdiv"
	class="assetresults h-100 resultsdiv" 
	data-moduleid="asset"
	data-resultview="$!resultview"
	data-url="$apphome/views/modules/asset/dialogindex.html"
	data-categoryid="$!categoryid"
	data-nodeID="$!categoryid"
	
	data-dialogresults="true"
	data-hitssessionid="$!hits.getSessionId()"
	data-componenthome = "$!componenthome"
	data-searchhome="$!home$!componenthome/results"
	data-targetdiv="$maintargetdiv"
	data-topmoduleid="$!topmoduleid"
	data-rootcategory="$!rootcategory"
	data-oemaxlevel="1"
	>
	
	<div class="emgrid-module emgrid-box emgrid-module-asset h-100">
		
		#set( $targetdivmedia = "dialogmediaentity")
		$context.putPageValue("targetdivmedia", $targetdivmedia)
		
		#ifnull($dialogtreestatus)
			#set($dialogtreestatus = "close")
		#end
		$context.putPageValue("dialogtreestatus", $dialogtreestatus)
		$context.putPageValue("hidedialogtree", true)
		
		<div class="embedmediacontainer">
		
		
		<div class="embedmediacolX embedmediacol-results dialogmediacol-faceprofiles" id="$!{targetdivmedia}" >
			#set($facemanager = $mediaarchive.getBean("faceProfileManager") )
			
			#set( $primaryimage = $entity.primaryimage ) ##primaryimage
			
				#foreach($face in $faceassets)
					#set($hit = $face.getAsset())
					#set($faceprofilegroup = $face.getFaceProfileGroup())		
					#set($h = 180)
					#set($imagelocation = $facemanager.getImageAndLocationForFaceAsset($face, $h) )
					#set($link = $mediaarchive.asLinkToPreview($hit, "image550x350.jpg"))
			 		#if($imagelocation.timecodestartseconds > -1)
						 #set($link = "$link?timeoffset=$imagelocation.timecodestartseconds")
			 		#end
			 		
					##TODO get offset for video
				 	<div class="faceprofile-attachedmedia  #if($primaryimage==$hit.id) grid-isprimaryimage #end">
					<div class=" " data-assetid="$!hit.getId()" > 
					 	<a class="stackedplayer imagearea" data-assetid="$hit.getId()"  href="#" title="$hit.name">
						<div class="emshowbox" 
							data-faceprofilegroup="$entityid" 
							data-showbox="$imagelocation.locationxy"
							data-imagewidth=""
							data-imageheight="${h}">
							<img src="$!link"
								class="imagethumb" 
								style="height:${h}px;" 
								border="0"  
								data-assetid="$hit.getId()" 
								alt="[[View]]: $!hit.getName()" 
								draggable="true"
								data-sourcepath="$hit.getSourcePath()" />
						</div>
						</a>
						
					</div>
						#if(false && $primaryimage!=$hit.id)
						<div class="grid-makeprimary">
						<a href="$siteroot$applink/components/gridsample/preview/makeprimaryimage.html?assetid=${hit.id}&entityid=$entityid&moduleid=${moduleid}"
							class="ajax"
							data-targetdivinner="entitydialog"
							data-oemaxlevel=""><i class="fas fa-image"></i> [[Make Primary Image]]</a>
						</div>
						#end
					</div>
				#end
				<div class="clearfix"></div>
				
			
			
		</div>
		</div>
		
	</div>


</div>
