
#set($hits = $entityassethits)
$context.putPageValue("hits", $hits)

#set($module = $mediaarchive.getCachedData("module", "asset"))
#set($moduleid = $module.getId())

$context.putPageValue("module", $module)
#set($componenthome = "$apphome/views/modules/asset/components")
$context.putPageValue("componenthome", $componenthome)

#if( !$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("rootcategory"))
	#end
	#if($categoryid)
		#set($category = $mediaarchive.getCachedData("category", $categoryid))
	#end
#end
#if( !$categoryid && $category)
	#set( $categoryid= $category.getId())
#end
$context.putPageValue("category", $category)
$context.putPageValue("categoryid", $categoryid)
#if( !$librarycol && $category )
	#set($rootcategories = $category.getParentCategories()) 
	###set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory", $rootcategories).searchOne() )
#end
#set($rootcategory = $context.getRequestParameter("rootcategory"))
#if(!$rootcategory)
	#set( $rootcategory = $categoryid)
#end

#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#ifnull($topmodule)
	#set($topmodule = $mediaarchive.getCachedData("module", $parentsearchtype))
	
#end
$context.putPageValue("topmodule", $topmodule)
$context.putPageValue("topmoduleid", $topmoduleid)

#set($resultview = $userprofile.get("assetresultview"))


#set($maintargetdiv = "dialogassetresultscontainer")
$context.putPageValue("maintargetdiv", $maintargetdiv)

$context.putPageValue("dialogresults", true)


<div id="$maintargetdiv"
	class="dialogassetresults assetresults h-100 resultsdiv" 
	data-moduleid="asset"
	data-resultview="$!resultview"
	data-url="$apphome/views/modules/asset/dialogindex.html"
	data-categoryid="$!categoryid"
	data-nodeID="$!categoryid"
	
	data-dialogresults="true"
	data-hitssessionid="$!hits.getSessionId()"
	data-componenthome = "$!componenthome"
	data-searchhome="$!home$!componenthome/results"
	data-targetdiv="$maintargetdiv"
	data-topmoduleid="$!topmoduleid"
	data-rootcategory="$!rootcategory"
	data-oemaxlevel="1"
	>
	
	<div class="emgrid-module emgrid-box emgrid-module-asset h-100">
		
		$context.putPageValue("rootcategory", $rootcategory)
		#set( $targetdivmedia = "dialogmediaentity")
		$context.putPageValue("targetdivmedia", $targetdivmedia)
		#if($categoryid != $rootcategory)
			$context.putPageValue("selectednodes", $categoryid)
		#end
		
		#set($canupload = false)
		#if($canviewupload || $canviewcategoryupload)
			#if($topmodule.getBoolean("enableuploading") && $permissions.can($topmoduleid, "upload_files"))
				#set($canupload = true)
			#end
		#end
		$context.putPageValue("canupload", $canupload)
		
		#set($dialogtreestatus = $userprofile.get("dialogtreestatus"))
		#ifnotnull($dialogtreestatus)
			#if($dialogtreestatus != "open")
				#set($dialogtreestatus = "close")
			#end
		#end
		#ifnull($dialogtreestatus)
			#set($dialogtreestatus = "close")
		#end
		$context.putPageValue("dialogtreestatus", $dialogtreestatus)
		
		<div class="embedmediacontainer">
		
		#if($dialogtreestatus == "open")
			<div class="embedmediacol embedmediacol-tree embedtreestatus$dialogtreestatus">
				<div class="embedmediacolactions d-flex align-items-center">
					<a href="" class="d-flex align-items-center toggledialogtree toggledialogclose"
					
					data-targetdiv="dialogassetresultscontainer"
					data-oemaxlevel="1"
					data-url="$applink/views/modules/asset/dialogindex.html"
					data-categoryid="$categoryid"
					data-topmoduleid="$!topmoduleid"
					data-rootcategory="$!rootcategory"
					data-treestatus="close"
					title="[[Collapse Tree]]">
						<i class="fas fa-angle-double-left"></i>
						<h3 class="embedmediacolheader">[[Folders]]</h3>
					</a>

					#if($topmodule.getBoolean("enableuploading") && $permissions.can($topmoduleid, "upload_files"))
					<a href="" 
						class="createfoldertree"
						data-tree="entitymediatreetree" 
						style="width:32px;" 
						title="[[Add Sub-Folder]]"><i class="fas fa-folder-plus"></i></a>
						
					
						<a href="$siteroot$applink/views/modules/asset/add/entityaddmedia.html?categoryid=$!categoryid" 
							class="ajax float-left" 
							data-targetdiv="dialogmediaentity"
							data-oemaxlevel="1"
							style="width:32px;" title="[[Upload]]"><i class="fas fa-upload"></i></a>
					#end
				</div>
				
				
				<div class="embedmediatree">
				
				#set( $link = "$componenthome/emtree/tree.html")
			    #set( $link = "${link}?entitymediatreeroot=$rootcategory&treename=entitymediatree&editabletree=true&targetdivsearch=$!targetdivmedia" )
			    #set( $link = "${link}&maintargetdiv=$!maintargetdiv&targetdiv=$!targetdivmedia&maxlevelclick=1&updateAddressBar=false&uploadmaxlevel=1" )
				#set( $link = "${link}&customurladdmedia=$apphome/views/modules/asset/add/entityaddmedia.html" )
			    #set( $link = "${link}&oemaxlevel=1&urlprefix=$apphome/views/modules/asset/dialogshowcategory.html" )
			    
				$pages.include($link, $context)
				</div>
			</div>
		#end
		<div class="embedmediacol embedmediacol-results" id="$!{targetdivmedia}" >
			#set( $addednew = $context.getRequestParameter("addednew"))
			#if($hits.isEmpty() && $addednew && $canupload)
				$pages.include("$apphome/views/modules/asset/add/entityaddmedia.html?categoryid=$rootcategory", $context)
			#else
				$context.putPageValue("targetdivsearch", $targetdivmedia)
				$pages.include("$componenthome/results/index.html", $context)
			#end
		</div>
		</div>
		
	</div>


</div>
