#set($hits = $entityassethits)
$context.putPageValue("hits", $hits)


#set($module = $mediaarchive.getCachedData("module", "asset"))
#set($moduleid = $module.getId())

$context.putPageValue("module", $module)
#set($componenthome = "$apphome/views/modules/asset/components")
$context.putPageValue("componenthome", $componenthome)


#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#ifnull($topmodule)
	#set($topmodule = $mediaarchive.getCachedData("module", $parentsearchtype))
	
#end
$context.putPageValue("topmodule", $topmodule)
$context.putPageValue("topmoduleid", $topmoduleid)

#if(!$entityid)
	#set ( $entityid = $context.getRequestParameter("entityid") )
#end
$context.putPageValue("entityid", $entityid)

#set($resultview = $userprofile.get("assetresultview"))
#set($maintargetdiv = "dialogassetresultscontainer")
$context.putPageValue("maintargetdiv", $maintargetdiv)
$context.putPageValue("dialogresults", true)

$context.putPageValue("hidedialogtree", true)
$context.putPageValue("hideupload", true)


<div id="$maintargetdiv"
	class="assetresults h-100 resultsdiv" 
	data-moduleid="asset"
	data-resultview="$!resultview"
	data-url="$apphome/views/modules/asset/dialogindex.html"
	
	data-dialogresults="true"
	data-dialogindextype="searchfaceprofile"
	data-hidedialogtree="true"
	data-hideupload="true"
	
	data-hitssessionid="$!hits.getSessionId()"
	data-componenthome = "$!componenthome"
	data-searchhome="$!home$!componenthome/results"
	data-targetdiv="$maintargetdiv"
	data-topmoduleid="$!topmoduleid"
	data-entityid="$!entityid"
	data-oemaxlevel="1"
	>
	
	<div class="emgrid-module emgrid-box emgrid-module-asset h-100">
		
		#set( $targetdivmedia = "dialogmediaentity")
		$context.putPageValue("targetdivmedia", $targetdivmedia)
		
		#ifnull($dialogtreestatus)
			#set($dialogtreestatus = "close")
		#end
		$context.putPageValue("dialogtreestatus", $dialogtreestatus)
		$context.putPageValue("hidedialogtree", true)
		
		<div class="embedmediacontainer">
		
		
		<div class="embedmediacol embedmediacol-results dialogmediacol-faceprofiles" id="$!{targetdivmedia}" >
			
			$context.putPageValue("targetdivsearch", $targetdivmedia)

			$pages.include("$componenthome/results/index.html", $context)
	
			<div class="clearfix"></div>
		
		</div>
		</div>
		
	</div>


</div>
