$context.putPageValue("hits", $entityassethits)

#if(!$topmodule)
	#set ( $topmodule = $context.getRequestParameter("topmodule") )
	$context.putPageValue("topmodule", $topmodule)
#end
#if(!$rootcategory)
	#set ( $rootcategory = $context.getRequestParameter("rootcategory") )
	$context.putPageValue("rootcategory", $rootcategory)
#end

$context.putPageValue("dialogresults", true)

#set( $searchhome = $context.findValue("searchhome") )
##$pages.include("$searchhome/dialogindex.html", $context)


<div class="embedmediacol embedmediacol-results" id="dialogmediaentity" >
$pages.include("$componenthome/results/index.html", $context)
</div>
