#set($hits = $entityassethits)
$context.putPageValue("hits", $hits)


#set($module = $mediaarchive.getCachedData("module", "asset"))
#set($moduleid = $module.getId())

$context.putPageValue("module", $module)
#set($componenthome = "$apphome/views/modules/asset/components")
$context.putPageValue("componenthome", $componenthome)

#if( !$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if($categoryid)
		#set($category = $mediaarchive.getCachedData("category", $categoryid))
	#end
#end
#if( !$categoryid && $category)
	#set( $categoryid= $category.getId())
#end
$context.putPageValue("category", $category)
$context.putPageValue("categoryid", $categoryid)
#if( !$librarycol && $category )
	#set($rootcategories = $category.getParentCategories()) 
	###set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory", $rootcategories).searchOne() )
#end

<div id="$!{module.getId()}resultscontainer">
<div id="assetresults"
	class="assetresults" 
	#if($categoryid)
	##data-url="$apphome/views/modules/asset/viewfiles/${categoryid}/#dash($category).html"
	data-url="$apphome/views/modules/asset/indexembed.html"
	
	data-categoryid="$!categoryid"
	data-nodeID="$!categoryid"
	data-oemaxlevel="1"
	#else
	data-url="$apphome/views/modules/asset/index.html"
	#end  
	data-oemaxlevel="1"
	>
	
	<div class="emgrid-module emgrid-box emgrid-module-asset" style="">

		<div class="emgrid-subtitle">
	  		<h3>
	     	#set($moduleicon = "entity")
	     	#if ($module.moduleicon)
	     		#set($moduleicon = $module.moduleicon)
	     	#end
	     	
			#set( $count = $hits.size())
			 
				##<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 26px;"> 
						
				#if( $category )
					<div class="filtered-breadcrumb">
						
						#set($parentcategories = $category.getParentCategories())
						
						#if(!$parentcategories.isEmpty())
							#foreach( $parent in $parentcategories)
								#if( ${foreach.count} > 1) / #end
								
								<a style="padding:0px 4px 0;" 
									href="$siteroot$apphome/views/modules/asset/viewfiles/$!{parent.id}/#dash($parent).html?hitssessionid=$!hits.getSessionId()"
									title="[[View Files]]: $parent"
									class="ajax"
									data-targetdiv="applicationcontent"
									data-oemaxlevel="5"
									data-scrolltocat="true"
									data-updateurl="true"
									data-closedialog="true"
									data-sidebarcomponent="categories">#text($parent)</a>
					
							#end
						
							#if($count)&nbsp;<span class="count">($count)</span>#end
						#end
						</div>
						$context.putPageValue("moduleid", $moduleid)
						$pages.include("$apphome/views/modules/asset/contextmenu.html", $context)
					
				#end
			</h3>
			<div class="clearfix"></div>
		</div>
		
		<div class="embedmediacontainer">
		<div class="embedmediacol embedmediacol-tree">
			<div class="embedmediacolheader"></div>
			#set( $rootcategory = $categoryid)
			#set( $targetembedmedia = "embedmedia$!{embedmediadialogid}")
			#set( $link = "$componenthome/emtree/tree.html")
		    #set( $link = "${link}?collectiontreeroot=$rootcategory&tree-name=collectiontree&editabletree=true" )
		    #set( $link = "${link}&targetdivinner=${targetembedmedia}&maxlevelclick=1&updateAddressBar=false" )
			
		    #set( $link = "${link}&url-prefix=$apphome/views/modules/asset/showcategory.html" )
		    
			$pages.include($link, $context)
		</div>
		
		<div class="embedmediacol embedmediacol-results" id="embedmedia$!{embedmediadialogid}" >
			
			$pages.include("$componenthome/results/index.html", $context)
		</div>
		</div>
		
	</div>


</div>
</div>