#set($hitssessionid = $modulehits.getSessionId())
##fix module vs moduleid
#if($module)
	#if($module.id)
		#set($moduleid = $module.id)
	#else
		#set($moduleid = $module)
	#end
#end

#if (!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeID"))
	$context.putPageValue("nodeID",$nodeID)
#end

#if( !$librarycol && $category ) 
	#set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end

#if( $librarycol )	
	$context.putPageValue("librarycol",$librarycol)
#end



<div class="filters-container">

<table class="#if ($canquicksearch) searchbarheadertable #else searchbarheadertablesmall #end">
<tr>
#if ($canquicksearch)
	<td>
		<div class="navbar-quicksearch" id="nav-quicksearch" style="margin: 0 auto;">
				$pages.include("$apphome/components/quicksearch/navbar.html", $context)
		</div>
	</td>
#end

#if($canaddtofavorites)
<td class="headerbookmarks">

<a class="ajax" data-updateurl="true" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3" 
href="$siteroot$applink/views/modules/modulesearch/favorites.html?clearselection=true&clearfilters=true" title="[[Favorites]]"><i class="fas fa-bookmark fa-2x"></i></a>

</td>
#end
#if( $canviewupload )
<td>
$pages.include("$apphome/components/upload/types/html5inlinetop.html", $context)

<a class="btn btn-upload ajax sidebarselected" data-updateurl="true" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3" 
href="$siteroot$applink/views/modules/asset/add/start.html" title="[[Upload Media]]"><i class="fas fa-plus"></i><span>&nbsp;[[Upload]]</span></a>

</td>
#end
</tr>
</table>
	
    

</div>
