#set($id = $context.getRequestParameter("id"))
#set($targetcategoryid = $context.getRequestParameter("targetcategoryid"))

#set($endpointurl = $mediaarchive.getCatalogSettingValue("remote-assetsearch-mediadb-endpoint"))
$context.putPageValue("endpointurl", $endpointurl)
	
<div id="autosearch" style="height: 100%; padding-bottom: 2px; overflow-y: auto;">
	
	<div class="tabheader">[[Search Files]]</div>
	
	<div class="mx-auto px-4 py-2">
	<form  id="filesearch" method="post" name="wizard3" method="post"  
		class="ajaxform showwaiting" 
		data-showwaitingtarget="filesearchprogress"
		data-oemaxlevel="1" 
		data-targetdiv="autosearchresults"
		action="$apphome/components/entities/import/autopopulateresultsremote.html">
		<div class="d-flex align-items-center entitysearch-fields">
	    <input type="text" name="id" value="$!id" class="form-control form-control-md flex-1"/> 	
	    <input  class="btn  btn-lg btn-accent border-0" type="submit" value="[[Search]]" />	
		</div>
	    <input type="hidden" name="targetcategoryid" value="$!targetcategoryid"/>
	    <div id="filesearchprogress" style="display:none;"><img src="$apphome/theme/images/ajax-loader.gif"/> [[Loading, please wait..]]</div>
	</form>

	<form  name="wizard"    
		class="ajaxform" 
		data-oemaxlevel="1" 
		data-targetdivinner="autosearch"
		action="$home$apphome/components/entities/import/importremote.html">
	    
	    <input type="hidden" name="targetcategoryid" value="$targetcategoryid"/>

		$pages.include("$apphome/components/entities/import/autopopulateresultsremote.html")			
		
	</form>
</div>   
   <script type="text/javascript">
   jQuery("#select-all").on("click", function () {
		if(jQuery(this).is(":checked")){
			jQuery(".collection-list").prop('checked', true);
		} else{
			jQuery(".collection-list").prop('checked', false);
		}
	   
	} );
   
   </script>
   
</div>