#set($id = $context.getRequestParameter("id"))
#set($targetcategoryid = $context.getRequestParameter("targetcategoryid"))

	
<div id="autosearch" style="height: 100%; padding-bottom: 2px; overflow-y: auto;">
	
	<div class="entityuploadheader mb-2" style="font-size:1rem; font-weight: 600;">[[Search Files]]</div>
	
	<form  id="filesearch" method="post" name="wizard3" method="post"  
	class="ajaxform" 
	data-oemaxlevel="1" 
	data-targetdivinner="autosearch"
	action="$apphome/components/entities/import/autopopulate.html">
	<div class="d-flex align-items-center entitysearch-fields">
    <input type="text" name="id" value="$!id" class="form-control form-control-lg flex-1"/> 	
    <input  class="btn btn-primary btn-lg btn-brand" type="submit" value="[[Search]]" />	
	</div>
    <input type="hidden" name="targetcategoryid" value="$targetcategoryid"/>
	</form>

	<form  name="wizard"    
		class="ajaxform" data-oemaxlevel="1" 
		data-targetdivinner="autosearch"
		action="$home$apphome/components/entities/import/import.html">
	    <input type="hidden" name="targetcategoryid" value="$targetcategoryid"/>
		
		<div class="ajaxprogress" style="display:none;">[[Loading, please wait..]]<img src="$apphome/components/search/images/spinner.gif"/></div>
		



		<div class="d-flex align-items-center justify-content-end py-2">
			<input type="checkbox" id="select-all" class="select-all mr-2" />
			<label for="select-all" class="m-0">[[Select All]]</label> 
		</div>

<ul id="cat-list" class="list-group list-group-striped list-group-hover autopopulate-list">

		#ifnull( $foundcategories )
		<li>No folders found</li>
		#end

		#foreach($categoryid in $foundcategories)
		#set($category  = $mediaarchive.getCategory($categoryid))

		<li id="auto-${categoryid}" class="collectionBox" data-nodeid="$categoryid" data-categoryname="$category.getName()">
			<a class="category" title="$category.getCategoryPath()" target="_blank" href="$applink/views/modules/asset/viewfiles/${category.getId()}/#esc($category).html" >$category.getCategoryPath() </a>
			<div class="collectionIcons">
				<input type="checkbox" id="categoryvalues" class="collection-list" name="categoryid" value="$categoryid" />
			</div>
		</li>
		#end

		#if( $assets.isEmpty() )
		<li>No files found</li>
		#end

		#foreach($asset in $assets)
			<li id="auto-${asset.id}" class=" collectionBox">
							<div class="collectionIcons">
								<input type="checkbox" class="collection-list" name="assetid" value="$asset.id" />
							</div>

				#set ($mime = $mediaarchive.getMimeTypeIcon($asset.fileformat))

						#set($dlink = $mediaarchive.asLinkToOriginal($asset))
							<a  href="#urlencode("$home/$mediadbappid/services/module/asset/downloads/originals/$dlink?assetid=$asset.getId()")">
							<i class="fas fa-download"></i>&nbsp;
							<i class="bi bi-$!mime mimeicon" title="[[Conversion Error]]" ></i>
							</a>
						<a class="stackedplayer" data-assetid="$asset.id" style="padding-left: 20px;" title="$asset.name" href="$home$apphome/views/modules/asset/editor/viewer/index.html?assetid=$asset.id" >
							$asset.sourcepath $asset.name
						</a>
	
						
			</li>
		#end	
	</ul> 
<div class="w-100 text-center">
	<a class="submitform btn btn-brand btn-primary upload-btn" type="submit" id="finishbutton">
		<i class="bi bi-box-arrow-in-down rr mr-1" ></i>
		[[Import]]
	</a>
</div>
	</form>
   
   <script type="text/javascript">
   jQuery("#select-all").on("click", function () {
		if(jQuery(this).is(":checked")){
			jQuery(".collection-list").prop('checked', true);
		} else{
			jQuery(".collection-list").prop('checked', false);
		}
	   
	} );
   
   </script>
   
</div>