#set( $entityid = $context.getRequestParameter("entityid") )
#set($auto = $context.getRequestParameter("autorun"))


<div id="resultsdiv" class="h-100">
#if( $entityid )	
	<h3 class="collection-config-title">[[Add Existing Files]] </h3>
	<div style="padding:0 20px; height: calc(100% - 70px); overflow-y: auto;"> 
	<form  name="wizard" method="post"  class="" data-targetdiv="addcategoryform"
		action="$home$apphome/components/createmedia/copycategory/createnew.html">
	    <input type="hidden" name="collectionid" id="urlcurrentcollection" value="$collectionid"/>
	   
	   <a class="emdialog btn btn-secondary" data-dialogid="catpicker" href="$home$apphome/components/categories/search/searchcategory.html?pickone=true&targetdiv=autocategoriespicked&clearselection=$!clear&action=${page.directory}/picked.html"
	    data-hidefooter="true" data-parameterdata="categoryvalues"><i class="bi bi-plus me-1"></i> [[Add Category]]</a>
	    
	   <a #if($auto == "true") style="display: noneXX;" #end 
	    	class="ajax btn btn-primary" id="poptrigger" 
	    	targetdivinner="auto-pop"  
			data-hidefooter="true" 
			title="ID: ($entityid)"
			href="$apphome/components/createmedia/copycategory/autopopulate.html?id=$!{entityid}" 
			 >
			<i class="far fa-arrow-alt-circle-down"></i> [[Search By Id]] </a> 
		
		<div class="inner-content" id="autocategoriespicked" >
		$pages.include("$apphome/components/createmedia/copycategory/picked.html",$context)	
		</div>
		<div id="auto-pop"></div>
		<br><br>
		<input class="btn btn-primary" type="submit" value="[[Import]]" />	
	</form>
	</div>
#end
</div>


<script type="text/javascript">
lQuery(".auto-remove").livequery("click", function() {
	var catid = jQuery(this).data('categoryid');
	jQuery("#auto-" + catid).remove();
});
jQuery("#poptrigger").trigger("click");
</script>		
	


