
<div class="modulesearchmodules"
	data-autoreloadevents="entitysave"
	data-moduleid="$module.id"
	data-url="$apphome/views/modules/$module.id/modules.html"
	data-oemaxlevel="1"
>


#foreach($module in $organizedModules)
	#if($module.id != $expandedmodule)
		#set($idhits = $organizedHits.get($module.id))
		#if( !$idhits.isEmpty())
			$context.putPageValue("hits", $idhits)
			$context.putPageValue("module", $module)
			$context.putPageValue("moduleid", $module.id)
			
		   	#set($modulerendertype = "entity")
		   	#if ($module.homepagerendertype)
		   		#set($modulerendertype = $module.homepagerendertype)
		   	#end
		   	
		   	$context.putPageValue("modulerendertype", $modulerendertype)
		  	
		   	#set( $favorites = $userprofile.get("favorites_"+$module.id))
			$context.putPageValue("favorites", $favorites)
	
			$pages.include("$apphome/components/gridsample/modulegrid.html", $context)
		#end	
	#end 
#end
<div class="clearfix"></div>

$pages.include("$apphome/components/gridsample/preview/media/listassets.html", $context)

</div>