
<div class="modulesearchmodules"
	data-autoreloadevents="entitysave"
	data-moduleid="$module.id"
	data-url="$apphome/views/modules/$module.id/modules.html"
	data-oemaxlevel="1"
>

#set($topentityid = $context.getRequestParameter("topentityid"))
$context.putPageValue("topentityid", $topentityid)


	#foreach($childmodule in $organizedModules)
		#if($module.id != $expandedmodule)
			#set($idhits = $organizedHits.get($childmodule.id))
			
			#if( !$idhits.isEmpty())
				$context.putPageValue("hits", $idhits)
				$context.putPageValue("module", $childmodule)
				$context.putPageValue("moduleid", $childmodule.id)
				
			   	#set($modulerendertype = "entity")
			   	#if ($childmodule.homepagerendertype)
			   		#set($modulerendertype = $childmodule.homepagerendertype)
			   	#end
			   	
			   	$context.putPageValue("modulerendertype", $modulerendertype)
			  	
			   	#set( $favorites = $userprofile.get("favorites_"+$childmodule.id))
				$context.putPageValue("favorites", $favorites)
		
				$pages.include("$apphome/components/gridsample/modulegrid.html", $context)
				
				#if($organizedSubModules[$childmodule.id])
					#set( $childsubmodule = $organizedSubModules[$childmodule.id])
					#set( $idsubhits = $organizedHitsSubModules.get($childsubmodule.id))
					#if( !$idsubhits.isEmpty())
						$context.putPageValue("hits", $idsubhits)
						$context.putPageValue("module", $childsubmodule)
						$context.putPageValue("moduleid", $childsubmodule.id)
						
					   	#set($modulerendertype = "entity")
					   	#if ($childsubmodule.homepagerendertype)
					   		#set($modulerendertype = $childsubmodule.homepagerendertype)
					   	#end
					   	
					   	$context.putPageValue("modulerendertype", $modulerendertype)
					  	
					   	#set( $favorites = $userprofile.get("favorites_"+$childsubmodule.id))
						$context.putPageValue("favorites", $favorites)
				
						$pages.include("$apphome/components/gridsample/modulegrid.html", $context)
					#end
				#end
				
			#end	
		#end 
	#end
	<div class="clearfix"></div>


</div>



