

##<a href="" class="entitydropdownmenu dropdown-toggle dropdown-noarrow" data-toggle="dropdown" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
## <div class="dropdown-menu">
#if($canviewsettings)
	<a class="ajax entitycontextmenu" 
		href="$apphome/views/settings/modules/${module.getId()}/info/module-setup.html"
		data-targetdiv="applicationcontent" 
		data-oemaxlevel="5"
		data-sidebarcomponent="settings"
		title="[[Properties]]"><i class="bi bi-gear-fill"></i></a>
#end
##	</div>