

<a href="" class="entitydropdownmenu dropdown-toggle dropdown-noarrow" data-toggle="dropdown" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
 <div class="dropdown-menu">
 	#if($permissions.can($moduleid, "create") && $moduleid!="faceprofilegroup")
 		#set($addurl = "$siteroot$applink/views/modules/${moduleid}/components/gridsample/preview/$!{entityrendertype}.html?edit=true&addnew=true&viewid=$!{moduleid}addnew")
 		#ifnotnull($topentityid)
 			#set($addurl = "$addurl&fieldexternalid=${topmodule.getId()}&fieldexternalvalue=${topentityid}&reloadtargets=topmodulecontainer")
 		#end
 		<a class="dropdown-item emdialog" 
 			href="$addurl" 
 			title="[[Add Record]]"><i class="fas fa-file-alt"></i> [[Add Record]]</a>
 	#end
 	#if($permissions.can($moduleid, "upload_files") && $moduleid!="faceprofilegroup")
 		<a class="dropdown-item globalfilePicker" 
 			href="#"
 			data-categoryid="$!categoryid" 
 			title="[[Add Files]]"><i class="fas fa-photo-video"></i> [[Add Files]]</a>
 	#end
 	#if($permissions.can($moduleid, "upload_folders") && $moduleid!="faceprofilegroup")
 		<a class="dropdown-item globalfolderPicker" 
 			href="#"
 			data-categoryid="$!categoryid"
 			title="[[Add Folder]]"><i class="fas fa-folder-plus"></i> [[Add Folder]]</a>
 	#end
 	#if($canviewsettings)
 		<a class="dropdown-item ajax" 
 		  href="$apphome/views/settings/modules/${module.getId()}/info/module-setup.html"
 		  data-targetdiv="applicationcontent" 
 		  data-oemaxlevel="5"
 		  data-sidebarcomponent="settings"
 		  title="[[Properties]]"><i class="fas fa-cog"></i> [[Properties]]</a>
 	#end
	</div>