
#set($moduleid = $module.getId())
#if (!$rendertype && $moduleid)
	#if(!$module)
		#set($module = $mediaarchive.getCachedData("module", $moduleid))
	#end
   	#set($rendertype = $module.modulerendertype)
#end
#if (!$rendertype)
   		#set($rendertype = "entity")
#end


#set( $topmodule = $module)
$context.putPageValue("topmodule", $topmodule)

<div class="moduleindex"
	data-hitssessionid="$!hits.getSessionId()"
	data-url="$apphome/views/modules/$!{module.id}/index.html"
	data-oemaxlevel="1">
	
	
 	<div class="emgrid-box expandedmodule">
 		<div class="emgrid-subtitle">
	  		<h3>
	     	#set($moduleicon = "entity")
	     	#if ($module.moduleicon)
	     		#set($moduleicon = $module.moduleicon)
	     	#end
	     	
	    		#set($entityurl = "$siteroot$apphome/views/modules/$module.id/index.html")
	
			<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 26px;"> 
	
			#set( $count = $hits.size()) 
			#text($module)
			<span class="count">($count)</span>
			
			<a href="" class="entitydropdownmenu dropdown-toggle dropdown-noarrow" data-toggle="dropdown" data-bs-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></a>
				 <div class="dropdown-menu">
				 	#if($permissions.can($moduleid, "create"))
				 		<a class="dropdown-item emdialog" data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" 
				 		title="[[Add Record]]"><i class="fas fa-file-alt"></i> [[Add Record]]</a>
				 	#end
				 		<a class="dropdown-item emdialog" data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" 
				 		title="[[Add Folder]]"><i class="fas fa-folder-plus"></i> [[Add Folder]]</a>
				 		<a class="dropdown-item emdialog" data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" 
				 		title="[[Add Files]]"><i class="fas fa-photo-video"></i> [[Add Files]]</a>
				 		<a class="dropdown-item emdialog" data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" 
				 		title="[[Properties]]"><i class="fas fa-cog"></i> [[Properties]]</a>
			 	</div>
					 
			</h3>
			<div class="clearfix"></div>
		</div>


		$pages.include("$componenthome/results/index.html", $context)

	</div>

</div>


