#set($moduleid = $module.id)
#set($expandedmodule = $moduleid)

#set($rendertype = "entity")
#if ($module.modulerendertype)
	#set($rendertype = $module.modulerendertype)
#end

$context.putPageValue("rendertype", $rendertype)

#if(!$hits.isEmpty())
	#set( $count = $hits.size())
#end
$context.putPageValue("count", $count)

$pages.include("$componenthome/filters/filters-selected.html", $context)

#if($moduleid != "modulesearch")	
	<div id="${moduleid}resultscontainer">
	
	$pages.includeContent()
	
	
	</div>
#end


<div class="modulesearchmodules">

#foreach($module in $organizedModules)
	#if($module.id != $expandedmodule)
		#set($idhits = $organizedHits.get($module.id))
		
		$context.putPageValue("hits", $idhits)
		$context.putPageValue("module", $module)
		$context.putPageValue("moduleid", $module.id)
		
	   	#set($modulerendertype = "entity")
	   	#if ($module.homepagerendertype)
	   		#set($modulerendertype = $module.homepagerendertype)
	   	#end
	   	
	   	$context.putPageValue("modulerendertype", $modulerendertype)
	  	
	   	#set( $favorites = $userprofile.get("favorites_"+$module.id))
		$context.putPageValue("favorites", $favorites)

		$pages.include("$apphome/components/gridsample/modulegrid.html", $context)
	#end 
#end
</div>





