#set($moduleid = $module.id)
#set($expandedmodule = $moduleid)

#set($rendertype = "entity")
#if ($module.modulerendertype)
	#set($rendertype = $module.modulerendertype)
#end

$context.putPageValue("rendertype", $rendertype)

#if(!$hits.isEmpty())
	#set( $count = $hits.size())
#end
$context.putPageValue("count", $count)

$pages.include("$componenthome/filters/filters-selected.html", $context)

#if($moduleid != "modulesearch")	
	<div id="${moduleid}resultscontainer">
	
	$pages.includeContent()
	
	
	</div>
#end


$pages.include("$apphome/views/modules/$module.id/modules.html", $context)




