##Header for Modules (not asset)

#set($moduleid = $module.id)
$context.putPageValue("moduleid", $moduleid)

#set($defaultview = $userprofile.getDefaultViewForModule($module.id) )
	
#set($resulttype = $userprofile.get("${module.id}-display"))
#if(!$resulttype)
	#set($resulttype = "table")
#end
$context.putPageValue("resulttype", $resulttype)

#set($searchhome = $page.get("searchhome") )

#set( $edit = $context.getRequestParameter("editheader"))
#if( !$edit || $edit == "false")
	#set( $edit = false)
#end

#set($entityrendertype = "entity")
#if ($module.modulerendertype)
	#set($entityrendertype = $module.modulerendertype)
#end
$context.putPageValue("entityrendertype", $entityrendertype)

#if(!$resultview)
	#set($resultview = $userprofile.get("$!{module.getId()}resultview"))
	
	#if (!$resultview)
		#set($resultview = $content.get("resultview"))
	#end
	#if (!$resultview)
		#set($resultview = "table")
	#end
#end
	
<div id="resultsheader" class="resultsheader">
	<div id="sub-nav" class="search-views emsubnav sub-nav-$!moduleid">
		<ul class="resultsnav">
			#if($permissions.can($moduleid, "create") && $moduleid!="faceprofilegroup" && $moduleid!="order")
				#set($addurl = "$siteroot$applink/views/modules/${moduleid}/components/gridsample/preview/$!{entityrendertype}.html?edit=true&addnew=true&viewid=$!{moduleid}addnew")
				#ifnotnull($topentityid)
					#set($addurl = "$addurl&fieldexternalid=${topmodule.getId()}&fieldexternalvalue=${topentityid}&reloadtargets=topmodulecontainer")
				#end
				<li>
					<a class="emdialog resultsnavlink" href="$addurl" title="[[Add New Record]]">
						<i class="bi bi-plus-lg mr-1"></i> [[Create New]]
					</a>
				</li>
			#end
			#if($resultview != "grid")
			<li class="dropdown">
				<a class="resultsnavlink dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					#if($!hits.getSelectionSize() > 0)
						[[Selected]] ($!hits.getSelectionSize())
					#else
						[[Select]]
					#end
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item ajax selectpage" targetdiv="resultsheader" href="${searchhome}/components/results/togglepage.html?oemaxlevel=1&hitssessionid=$hits.getSessionId()&action=page">[[Select This Page]]</a>
					<a class="dropdown-item ajax  selectpage" targetdiv="resultsheader" href="${searchhome}/components/results/togglepage.html?oemaxlevel=1&hitssessionid=$hits.getSessionId()&action=all">[[Select All Results]]</a>
					<a class="dropdown-item ajax  deselectpage" targetdiv="resultsheader" href="${searchhome}/components/results/togglepage.html?oemaxlevel=1&hitssessionid=$hits.getSessionId()&action=none">[[Deselect All]]</a>
				</div>
			</li>
			#end
				
			#if($resultview == "grid")
				#if($hits.getTotalPages() >  1  )
					$pages.include("$apphome/views/modules/$module.id/navigate.html", $context)
				
				#end
			#end
				
			#if($moduleid != "faceprofilegroup")
				#if(!$edit)
				
					#if($hits && $resultview == "table" && $hits.hasSelections())
					
						$pages.include("$searchhome/selectionactions.html", $context)
					#end
				#end
			#end
			
			##<li> <div id="resultsmessages"></div> </li>
			
			
		</ul>
			
		#if($hits)
			<ul class="resultsnavright">
				#if($edit != "true")
					#set($total = $hits.getTotalPages() )
					#if( $total > 1)
						
							$pages.include("/${searchhome}/components/results/positions.html", $context)
						
					#end
				#end

				#if (!$resultview || $resultview == 'table')
					#if($canedittablecolumns)
						#if($edit)
							<li class="resultsnavtitem s2h" style="min-width:180px">
								#set ($alldetails = $searcher.getUserPropertyDetails() )
								<select class="form-control form-control-sm select2 tableresultsaddcolumn" 
										name="addcolumn"
										data-componenthome="$siteroot$componenthome/results/addremovecolumns.html?searchtype=$!moduleid&hitssessionid=$hits.getSessionId()&editheader=true&moduleid=$!moduleid&viewid=$!{moduleid}resultstable"
										data-targetdiv="$!{moduleid}resultsarea"
										data-oemaxlevel="1" 
										data-allowclear="false" 
									>
									<option>[[Add Column]]</option>
									#foreach( $detail in $alldetails) 
										<option value="$detail.id">$detail.getText($context)</option>
									#end
								</select>
								##<span class="hint">*[[Drag columns to move them]]</span>
								<a href="$siteroot$componenthome/results/resetcolumns.html?searchtype=$!moduleid&hitssessionid=$hits.getSessionId()&moduleid=$!moduleid&viewid=$!{moduleid}resultstable&$!{moduleid}clearresults=true"
									data-targetdiv="$!{moduleid}resultsarea"
									data-oemaxlevel="1"
									class="ajax reset-columns">
									<i class="bi bi-arrow-counterclockwise mr-1"></i>
									[[Reset Columns]]
								</a>
							</li>
							##Close Icon
						#end	
					#end								
				#end
				#set($preferencename = "${moduleid}summary")
				#set($preference = '#set($selectedpreference = ' + '$!userprofile.minimize'  + $preferencename + ')')
				#evaluate($preference)
				#ifnull($selectedpreference)
					#set($selectedpreference = "true")
				#end
				<li>
					<a href="$applink/views/modules/${moduleid}/components/filters/dialogsort.html" 
						class="emdialog emsort #if($selectedpreference == "true") closed #end"
						data-dialogid="sortdialog"
						data-hidebackdrop="true"
						data-hidefooter="true"
						data-modalsize="sm"
						data-moduleid="$!{moduleid}"
						data-hitssessionid="$hits.getSessionId()"
						data-categoryid="$!categoryid"
						data-rootcategory="$!rootcategory"
						data-targetdivsearch="$!{moduleid}resultscontainer"
						style="padding:0 8px 0 10px;" 
						title="[[Sort Results]]"><i class="bi bi-sort-down"></i> [[Sort]]</a>
				</li>
				#if($resultview != "stackedgallery")
					<li style="width:61px;height:36px" title="[[Results per page]]">
						#set( $currenthitsperpage = $hits.getHitsPerPage())
						
						#set($hitcountoptions = $mediaarchive.getList("hitcount"))
						<select class="form-control hitsperpagechange" id="hitsperpagechange$!{moduleid}">
							<option value=""></option>
							#foreach($ho in $hitcountoptions)
								<option value="$ho.id" #if($currenthitsperpage==$ho.id) selected="selected"#end>#text($ho)</option>
							#end	
						</select>
					</li>		
				#end
				<li class="resultsnavtitem">
					<button class='btn summary-opener #if($selectedpreference == "true") closed #end' data-target="$preferencename">
						<i class="bi bi-chevron-double-left"></i> [[Summary]]
					</button>
				</li>
			</ul>
		#end
	</div>
	$pages.include("$componenthome/filters/filters-inline.html", $context)
</div>

