##Header for Modules (not asset)

#set($moduleid = $module.id)
$context.putPageValue("moduleid", $moduleid)

#set($defaultview = $userprofile.getDefaultViewForModule($module.id) )

##if($hits)
	
	#set($resulttype = $userprofile.get("${module.id}-display"))
	#if(!$resulttype)
		#set($resulttype = "table")
	#end
	$context.putPageValue("resulttype", $resulttype)
	
	#set($searchhome = $page.get("searchhome") )
	
	#set( $edit = $context.getRequestParameter("editheader"))
	#if( !$edit || $edit == "false")
		#set( $edit = false)
	#end
	
	#set($entityrendertype = "entity")
	#if ($module.modulerendertype)
		#set($entityrendertype = $module.modulerendertype)
	#end
	$context.putPageValue("entityrendertype", $entityrendertype)
	
	#if(!$resultview)
		#set($resultview = $userprofile.get("$!{module.getId()}resultview"))
		
		#if (!$resultview)
			#set($resultview = $content.get("resultview"))
		#end
		#if (!$resultview)
			#set($resultview = "stackedgallery")
		#end
	#end
	
		<div id="resultsheader" class="resultsheader">
		
		
		<div id="sub-nav" class="search-views emsubnav sub-nav-$!moduleid">
			
					<ul class="resultsnav">
					
					#if($resultview == "grid")
						#if($hits.getTotalPages() >  1  )
							$pages.include("$apphome/views/modules/$module.id/navigate.html", $context)
						
						#end
					#end
					
					#if($moduleid != "faceprofilegroup")
						#if(!$edit)
							#if($hits && $resultview == "table" && $hits.hasSelections())
								$pages.include("$searchhome/selectionactions.html", $context)
							#end
						#end
					#end
					#if($hits)
						<li class="navbarfilter">
						<a href="$applink/views/modules/${module.id}/components/filters/dialog.html"
							class="emdialog"
							data-dialogid="entityfilters"
							data-hidebackdrop="true"
							data-hidefooter="true"
							data-modalsize="sm"
							data-moduleid="asset"
							data-hitssessionid="$hits.getSessionId()"
							data-categoryid="$!categoryid"
							data-rootcategory="$!rootcategory"
							data-targetdiv="$!{module.id}resultscontainer"
							title="[[Filter Results]]"
							><i class="fas fa-search"></i> &nbsp;[[Add Filter]]</a>
						</li>
						<li id="filtersselected">
							$pages.include("$componenthome/filters/filters-inline.html", $context)
						</li>
					#end
					</ul>
			
	
		#if($hits)
		<ul class="resultsnavright">
			#if($edit != "true")
				#set($total = $hits.getTotalPages() )
				#if( $total > 1)
				<li class="resultpages">	 
					$pages.include("/${searchhome}/components/results/positions.html", $context)
				</li>
				#end
				
				#if($resultview != "stackedgallery" && $resultview != "grid")
					<li class="resultsnavtitem" style="width:61px;">
							#set( $currenthitsperpage = $hits.getHitsPerPage())
							#set($hitcountoptions = $mediaarchive.getList("hitcount"))
							<select class="form-control hitsperpagechange resultsnavselect" 
								id="hitsperpagechange$!{moduleid}">
							#foreach($ho in $hitcountoptions)
							<option value="$ho.id" #if($currenthitsperpage==$ho.id) selected="selected"#end>#text($ho)</option>
							#end	
							</select>
					</li>		
				#end
				
				
					<li class="resultsnavtitem">
						<select class="form-control" 
							name="resultview" 
							id="selectresultview"  
							>
							<option value="grid" #if( $resultview == "grid") selected #end>[[Grid]]</option>
							<option value="table" #if( $resultview == "table") selected #end>[[Table]]</option>
						</select>
						
					</li>

			#end
			#if (!$resultview || $resultview == 'table')
				#if( $canedittablecolumns )
					#if( $edit )
						
						<li class="resultsnavtitem" style="min-width:180px">
							#set ($alldetails = $searcher.getUserPropertyDetails() )
							<select class="form-control form-control-sm select2 tableresultsaddcolumn" 
									name="addcolumn"
									data-componenthome="$siteroot$componenthome/results/addremovecolumns.html?searchtype=$!moduleid&hitssessionid=$hits.getSessionId()&editheader=true&moduleid=$!moduleid&viewid=$!{moduleid}resultstable"
									data-targetdiv="$!{moduleid}resultsarea"
									data-oemaxlevel="1" 
									data-allowclear="false" >
								<option>[[Add Column]]</option>
								#foreach( $detail in $alldetails) <option value="$detail.id">$detail.getText($context)</option>
								#end
							</select>
							<div class="">**[[Drag columns to move them]]</div>
						</li>
						##Close Icon
						<li>
							<a class="ajax table-edit-close" 
								data-targetdiv="$!{moduleid}topcontainer"
								data-oemaxlevel="2" 
								href="${searchhome}/index.html?searchtype=$!moduleid&hitssessionid=$!hits.getSessionId()&editheader=false&moduleid=$!moduleid"><i class="fas fa-times"></i></a>
						</li>
					#else 
						##Edit
						<li >
							<a class="ajax nav-hover" 
								id="table-editor-close" 
								data-targetdiv="$!{moduleid}topcontainer"
								data-oemaxlevel="2" 
								href="${searchhome}/index.html?searchtype=$!searchtype&hitssessionid=$hits.getSessionId()&editheader=true&moduleid=$!moduleid"> <i class="fas fa-edit"></i></a>
						</li>
					#end	
				#end								
			#end
			
		
		</ul>
		#end
		
	</div>
	</div>
##end

