#set( $root = "$siteroot$componenthome/upload/types/html5")
#set( $nodeID = $context.getRequestParameter("nodeID") )
#if(!$nodeID)
	#set( $nodeID = $context.getRequestParameter("categoryid") )
#end
#if(!$nodeID)
	##Is a Collection Upload?
	#set($collectionid = $context.getRequestParameter("collectionid"))
	#if(!$collectionid)
		#set($librarycol = $mediaarchive.getProjectManager().loadUserCollection($mediaarchive, $userprofile))
	#end
	#if($collectionid)
		#set($librarycol = $mediaarchive.getCachedData("librarycollection",$collectionid) )
	#end
	#if( $librarycol)
		#set($collectionid = $librarycol.getId())
		#set( $nodeID = $librarycol.getValue("rootcategory") )
		$context.putPageValue("librarycol", $librarycol)
	#end
	
#end
#if( $nodeID )
    #set($category = $mediaarchive.getData("category",$nodeID))
    #set($categoryid = $category.getId())
#end



<div class="uploadformarea globaluploadarea" data-ajaxreloadtargets="assetresults" style="display:none;">
<input class="upload_field" type="file" style="position:absolute; top:-2000px;" multiple="multiple" data-autostartupload="true"  />
<input class="upload_folder" type="file" style="position:absolute; top:-2000px;" webkitdirectory multiple="multiple"  />


<form id="uploaddata" 
		name="wizard" onSubmit="return false;" 
		data-finishaction="" 
		action="$root/finish.html" 
		class="force-validate-inputs"  >
		
		##<input id="nodeid" type="hidden" name="parentcategoryid" value="$nodeID"/>
		
		#set( $createentityparent = $context.getRequestParameter("createentityparent") )
		#set( $uploadsourcepath = $context.getRequestParameter("uploadsourcepath") )
		#set( $moduleid = $context.getRequestParameter("moduleid") )
		
		
		<input name="createentity" id="createentity" value="" type="hidden"/>
	  	<input name="entitytype" id="entitytype" value="$!moduleid" type="hidden"/>
	  	<input name="uploadsourcepath" id="uploadsourcepath" value="$!uploadsourcepath" type="hidden"/>
	
		
		<div id="completed-uploads" style="display:none;" >
		
		<ul class="up-files-list up-files-list-pending">				
		</ul>	
		
		<div class="completed-uploads">
		    <h4><i class="fas fa-cloud-upload-alt"></i> [[Upload Queue]]</h4>
		    <a href="" class="hideuploadarea"><i class="fas fa-times"></i></a>
		    <div>
					<ul id="up-files-list-completed" class="up-files-list" >
					</ul>	
			</div>
		</div>	
		</div>
	
		<!-- This is not shown -->
	       <div class="progress_report_template" style="display:none;">
	        <li class="uploadprogressrow" >
				<span  style="width: 0px;" class="uploadprogress progress_report_barcurrentupload"></span>
				<a href="#">
					<span   class="progress_report_namecurrentupload name"></span>
					<span   class="progress_report_sizecurrentupload size"></span>
					<span  class="progress_report_statuscurrentupload uploadstatus"></span>
				</a>	
			</li>
		 </div>	
	 

</form>
</div>


