$context.putPageValue("hits", $modulehits)
<div class="bookmarksarea" data-url="$!{page.path}" data-oemaxlevel="1">
<div class="finder-title">
	<h2><i class="bi bi-bookmarks-fill"></i> [[Bookmarks]]</h2>
</div>
  
 <div class="favoritescontainer">

 
 #foreach($module in $organizedModules)
 
 		#set($idhits = $organizedHits.get($module.id))
		$context.putPageValue("hits", $idhits)
		$context.putPageValue("module", $module)
		$context.putPageValue("moduleid", $module.id)
		$context.putPageValue("componenthome", "$apphome/views/modules/$module.id/components")
		
		$context.putPageValue("topmoduleid", "favorites")
   		
 
	#if($module.id != "asset")
	   	#set($modulerendertype = "entity")
	   	#if ($module.homepagerendertype)
	   		#set($modulerendertype = $module.homepagerendertype)
	   	#end
	   	
	   	$context.putPageValue("modulerendertype", $modulerendertype)
	  	
	   	#set( $favorites = $userprofile.get("favorites_"+$module.id))
		$context.putPageValue("favorites", $favorites)

		$pages.include("${edithome}/tabs/modulegrid.html", $context)
	#else
		$context.putPageValue("showheader", true)
		$pages.include("$apphome/views/modules/asset/index.html", $context)
		
	#end 
#end
</div>
</div>
