##Sidebars
#set( $sidebarcomponent = $userprofile.get("sidebarcomponent"))
#if(!$sidebarcomponent)
	#set( $sidebarcomponent = "")
#end
#set( $sidebarwidth = $userprofile.get("sidebarwidth"))
$context.putPageValue("sidebarcomponent", $sidebarcomponent)
$context.putPageValue("sidebarwidth", $sidebarwidth)

<div class="emheader">
<div class=" navbar  navbar-expand-lg navbar-dark ">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	<div class="collapse navbar-collapse navlinks" id="navbarNav">
	<ul class="navbar-nav  ml-auto">
		#if( $user )
			<li class="nav-item nav-first-item"><a class="emdialog" data-width="900" data-height="1900" title="[[Help Center]]" href="$home$apphome/views/modules/help/helpcenter.html">[[Help]]</a></li>
	    	#if( $canviewmyaccount ) 
	   			<li class="nav-item"><a href="$home$apphome/views/myaccount/myassets/index.html">[[My Account]]</a></li>	    	
	    	#end
			 
	    	<li   class="nav-item"><a href="$home$apphome/authentication/logout.html">[[Logout]]</a></li> 
	    #else 
	    	<li class="nav-item nav-first-item"><a href="$home$apphome/authentication/login.html" class="first">[[Login]]</a></li> 
	    #end
	    #if($user)
		#set( $localesearcher = $mediaarchive.getSearcher("locale") )
	       #set($currentlang = $localesearcher.searchById($context.language))
	      #if($currentlang)
	 	<li class="nav-item dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">$currentlang</a> 
	    #else
	 	<li class="nav-item dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">[[Language]]</a> 
	     #end
	  
	  	<div id="language-bar-select" class="dropdown-menu">
			#set( $localesearcher = $mediaarchive.getSearcher("locale") )
			#set( $languages = $localesearcher.query().match("enabled", "true").search($context) )
			#foreach( $lang in $languages)
				 <a class="dropdown-item" href="$home$apphome/components/languages/changelanguage.html?newlang=locale_$lang.id&origURL=#uuencode($context.getPathUrl())">$lang </a>
			#end
	    </div> 
		</li>
		#end	
		
	    #if($canviewsettings)
	   	<li class="nav-item"><a href="$home$apphome/views/dashboard/index.html" >[[Dashboard]]</a></li> 
	   	<li class="nav-item"><a #if ( $module ) href="$home$apphome/views/settings/modules/$module.id/index.html" #else href="$home$apphome/views/settings/index.html" #end>[[Settings]]</a></li> 
	    #end 
	
	
	#set($modules = $mediaarchive.query("module").all().search($context))
	#if($modules)
		#set( $urlbase = "$home$apphome/views/modules" )
		<li class="nav-item dropdown">
			#if($module)
			<a class="dropdown-toggle" href="#" data-toggle="dropdown">$module.getName($context.locale)</a> 
			#else
			<a class="dropdown-item" href="#"></a>			
			#end
			<div id="module-bar-select" class="dropdown-menu">
				#foreach ( $amodule in $modules )
					<a class="dropdown-item" href="$urlbase/${amodule.id}/index.html?field=last_selected_module&last_selected_module.value=${amodule.id}">$amodule</a>
				#end
			</div>
		</li>
	#end

    </ul>
 </div>
</div>

#if( $userprofile.hasModule("order") )
#set( $orders = $mediaarchive.query("order").exact("checkoutstatus","pending").search($context))
#if( $orders.size() > 0)
<div id="headerstatusarea"  class="alert alert-primary" role="alert">
<a href="$apphome/views/modules/order/fieldsearch.html?field=checkoutstatus&checkoutstatus.value=pending&operation=exact">
	<i class="fas fa-info-circle"></i>
	[[Pending Orders]]  ($orders.size())</a>
</div>
#end
#end
</div>



<div id="header" class="mediacenterheader">
	<div class="pushcontent #if($sidebarcomponent) pushcontent-$sidebarcomponent #else pushcontent-fullwidth #end">
	#set($logourl = "$home$themeprefix/images/EM-round-logo.png")
	<div class="logocontainer">
		<a class="emlogo" href="$home$apphome/index.html">
			<img class="logo" src="$logourl" alt="EnterMediaDb" />
			<h1>[[Media Drive AI]]</h1>
			##<div id="site-title">$!content.tagline</div>
		</a>
	</div>
	<div id="addmediaheader" class="addmediacontainer">
	<a href="$apphome/components/upload/add/start.html" 
		class=" emdialog btn btn-primary btn-addmedia"
		data-hidefooter="true" 
		data-customdialogclass="addmedia"
		title="[[Add Media...]]"><i class="fas fa-plus"></i> &nbsp;[[Add]]</a>
	</div>
	
	  #if(!$hidefilters)
	        $pages.include("$apphome/components/filters/filters-selected.html", $context)
	    #end
	</div>
</div>


