#set($defaultcategoryid = $context.getRequestParameter("defaultcategoryid"))

#set($category = $mediaarchive.getCategory($defaultcategoryid))
#if(!$category)
	[[Missing Category]] $defaultcategoryid
#else
#set($catname = "#dash($category.name)")

<div class="entityuploadheader mb-2" style="font-size:1rem; font-weight: 600;">[[Push to Local Drive]]</div>
<div id="embed-wrapper" class="segment mb-2">
	
	<form action="">
	<div class="d-flex flex-column boolean-switches">
		
		<div class="synclog">
			[[10 assets pending]]
		</div>
	
	<div class="syncactions my-2">
	<a href="" class="btn btn-primary btn-sm">[[Start]]</a>
	<a href="" class="btn btn-secondary btn-sm">[[Resume]]</a>
	</div>
	</form>
</div>
</div>
#end