$context.putPageValue("assetid", $hit.id)

#set($sourcepath = $hit.sourcepath)
$context.putPageValue("sourcepath", $sourcepath )
	
#set($type = $hit.getSearchHit().getType())
#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
#if(!$rendertype || $type =="rendertype")
	#set( $rendertype = "mime" )
#elseif( $rendertype =="video")
	#set( $rendertype = "videothumbnail" )
#end
$context.putPageValue("type", $rendertype)

#set( $thumbsize = "crop")
$context.putPageValue("thumbsize", $thumbsize)
	
#if($stackedfield)
      	#set($title = $hit.get($stackedfield))
#end

#if(!$title)		         	
     	#if( $hit.assettitle )
     		#set($title =  $hit.getText("assettitle",$context)) 
     	#else 
     		#set($title = $hit.getText("name",$context) )
     	#end
     #end
	
	<div class="list-attachedmedia #if($primaryimage==$hit.id) list-isprimaryimage #end assetdraggable" data-assetid="$hit.id"> 
 	<a class="stackedplayer imagearea" id="clickid${hit.id}" data-assetid="$hit.id" href="#" title="$!title">
 	$context.putPageValue("hit", $hit)
 	$context.putPageValue("asset", $hit)
	$pages.include("$componenthome/results/thumbnails/${rendertype}.html", $context)
	<div class="list-attacedmedia-title">#text($!title)</div>
	</a>
##	#if($primaryimage!=$hit.id)
##	<div class="list-makeprimary">
##	<a href="$siteroot$applink/components/gridsample/preview/makeprimaryimage.html?assetid=${hit.id}&entityid=$entityid&moduleid=${moduleid}"
##		class="ajax"
##		data-targetdivinner="entitydialog"
##		data-oemaxlevel=""><i class="fas fa-image"></i> [[Make Primary Media]]</a>
##	</div>
##	#end

</div>
