#if(!$moduleid)
	#set($moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$entityid)
	#set($entityid = $context.getRequestParameter("entityid"))
#end

##if(!$mediarender)
	#set($mediarender = "attachedmediarender")
##end



#if($assetshits)

	$context.putPageValue("rendertype", "media")
	$context.putPageValue("rendermoduleid", "asset")
	
	<div id="galleryimg-media-dialog" 
			class='emgrid #if($section != "favorites")emgridlimited#end entitiescontainer' 
			data-colwidth="360" 
			data-colcount="4"
			data-cellpadding="10"
			data-entityrenderurl="$!{siteroot}$apphome/views/modules/${module.id}/components/gridsample/gridcell.html"
			data-rendertype="media">
		#foreach( $hit in $assetshits.getPageOfHits() )
			$context.putPageValue("hit", $hit)
		    $pages.include("$apphome/components/gridsample/gridcell.html", $context)
		#end
		#if($assetshits.getTotalPages() > 1)
		<div class=" emgrid-viewmore " style="">
			<a class="ajax"
				data-targetdiv="applicationcontent"
				data-oemaxlevel="4"
				data-updateurl="true"
				href="$siteroot$applink/views/modules/asset/index.html?hitssessionid=$!assethits.getSessionId()">[[View More]]</a>
		</div>
		#end
	</div>
#end




#if(1==2 && $assetshits)
	#set($count = 0)
	#set($stackedfield = $mediaarchive.getCatalogSettingValue("stackedgalleryfield"))
	
	#foreach( $hit in $assetshits.getPageOfHits())
		#set($count = $count + 1)
		$context.putPageValue("hit", $hit)
		
		 
		$pages.include("$apphome/components/gridsample/preview/${mediarender}.html", $context)		
		#end
	<div class="clearfix"></div>

#end


