#if(!$moduleid)
	#set($moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$entityid)
	#set($entityid = $context.getRequestParameter("entityid"))
#end

#if(!$mediarender)
	#set($mediarender = "attachedmediarender")
#end

#if($assetshits)
	#set($count = 0)
	#set($stackedfield = $mediaarchive.getCatalogSettingValue("stackedgalleryfield"))
	
	#foreach( $hit in $assetshits.getPageOfHits())
		#set($count = $count + 1)
		$context.putPageValue("hit", $hit)
		
		$pages.include("$apphome/components/gridsample/preview/${mediarender}.html", $context)		
		#end
	<div class="clearfix"></div>

#end


