#set( $searchtype = $context.getRequestParameter("searchtype"))

#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end


#set($module = $mediaarchive.getData("module", $searchtype))

<div class="modal-content modal-data-details ${module.id}-modal">

<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>


<div class="modal-body">
<h2 class="modal-titleX">$data.name</h2>
<div class="row" >

$pages.include("$componenthome/gridsample/attachedmedia.html",$context)

</div>
<div class="float-right"><a href="#">[[Link]]</a></div>
</div>
</div>