#set( $searchtype = $context.getRequestParameter("searchtype"))

#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype, $id) )
#end


#set($module = $mediaarchive.getData("module", $searchtype))

<div class="modal-content modal-data-details modal-entity ${module.id}-modal">
	<div class="modal-body">
		<div class="modal-close">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		</div>
		
		
		<div class="clearfix"></div>
		<div class="entity-media">
		$context.putPageValue("assetsshown",20)
		$pages.include("$componenthome/gridsample/attachedmedia.html",$context)
		</div>
		<div class="entity-metadata">
			$context.putPageValue("data", $data)
			$context.putPageValue("searchtype", $searchtype)
			$pages.include("metadata.html", $context)
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>