#set( $searchtype = $context.getRequestParameter("searchtype"))

#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end


#set($module = $mediaarchive.getData("module", $searchtype))

<div class="modal-content modal-data-details ${module.id}-modal">

<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>


<div class="modal-body">
<h2 class="modal-titleX">$data.name</h2>
<div class="row" >
<div class="col-md-3">
    #set($formateddate = $context.getDate($hit.entity_date) )
    #if( $formateddate )
	<p>
	<label>[[Date:]]</label><br>
		$!formateddate
	</p>
	#end
		
	#set($count=0)
		#if ($data.keywords)
			<div class="mb-4">
				<label>[[Tags]]</label>
	      	<div class="ibmpreview-keywords">
	       #foreach ($tag in $data.keywords.split("\s*\|\s*"))
		       	#if($count<5)
					<a class="badge badge-light" 
						title="$tag"
				href="?searchtype=asset&field=$catalogid:asset/details:description&operation=matches&description.value=$tag">$tag</a>
					#set($count=$count+1)
				#end
			#end
			</div>
			</div>
		#end
	<p>
	
   	#set($rendertype = "discovery")
   	#if ($module.modulerendertype)
   		#set($rendertype = $module.modulerendertype)
   	#end
	</p>
</div>
<div class="col-md-9">
#if( $data.entitysummary )
	<div class="ibmtext"> 
	<h3>Description</h3>
	$!hits.highlight($data,"entitysummary")
	</div>
#end	
</div>
</div>
<div class="float-right"><a href="#">[[Link]]</a></div>
</div>
</div>