##always reset it?

#if($tabmodule)
	#set( $searchtype = $tabmodule.getId())
	#set( $moduleid = $tabmodule.getId())
#end
#ifnull($id)
	#set( $id = $context.getRequestParameter("id"))
#end
#ifnull($id)
	#set( $id = $context.getRequestParameter("entityid"))
#end
#if(!$tabtype)
	#set($tabtype = $context.getRequestParamenter("tabtype"))
#end
#if($tabtype == "submodulehome")
	#set($tabid = "tab_${viewid}")
	#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
	##set($viewdata = $viewsearcher.searchById($viewid))
	#set($name = $viewdata.getName($context))
#elseif($tabtype=="media")
	#set($tabid = "tab_media")
	#set($name = $tabmodule.getName($context))
#else
	#if($id.startsWith("multiedit"))
		#set($name = "[[Multi Edit]] $!entity.getSelectedResults().size() [[Items]]")
		#set($targetentitytabid = "entity-tab-multiedit")
	#else
		#if( !$entity)
			#set( $entity  = $mediaarchive.getData($searchtype, $id) )
		#end
		#if($moduleid == "faceprofilegroup")
			#set($name = $entity.name)
			#if($name)
				#set($name = "$!name ([[Profile]] $entity.facecounter)")
			#else	
				#set($name = "[[Profile]] $entity.facecounter")
			#end
		#else
			#if($entity.getName($context))
					###set($name = $!entity.getName($context))
				#set($name = $viewdata.getName($context))
			#else 
				#if($addnew=='true')
					#set($name = "[[Add New]]")
				#end
			#end
		#end
		#set($targetentitytabid = "entity-tab-#eid($!{id})")
		#set($tabid = "tab_$viewid")
	#end

#end

<div class="entity-tab  #if($currenttab == $tabid) current-entity #end" 
	#if(!$tabtype) data-entityid="$!entity.getId() #end">
	<a 
		#if($addnew=='true')
			href="#"
		#else
			href="#$!tabid"
		#end 
		class="entity-tab-label"
		data-tabid="$!tabid"
		data-currenttab="$!tabid"
		data-tabtype="$!tabtype" 
		data-toggle="tab"
		data-target="$!targetentitytabid"
		data-topmodule="$!topmodule"
		data-moduleid="$!moduleid"
		#if($id.startsWith("multiedit"))
			data-ismultiedit="true"
		#end 
		role="tab" 
		#if(!$tabtype)
			aria-controls="$targetentitytabid" 
			data-entityid="$!entity.getId()"
		#end 
		title="#esc($name)">
		#set($moduleicon = "entity")
	   	#if ($tabmodule.moduleicon)
	   		#set($moduleicon = $tabmodule.moduleicon)
	   	#end
	   	<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 22px;"> 
		#if($tabtype == "submodulehome")
			#text($name)
		#elseif($tabtype=="media") 
			 #text($tabmodule)
		#else
			#text($name)
		#end
		</a>
		
		
</div>




