#set($searchtype = $context.getRequestParameter("searchtype"))
#if(!$searchtype)
	#set( $searchtype = $context.findValue("module"))
#end
#if(!$searchtype)
	#set( $searchtype = $context.findValue("searchtype"))
#end

#set( $id = $context.getRequestParameter("id"))
#set($entityid = $id)

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end
#set($entityid = $entity.id)

#set($module = $mediaarchive.getData("module", $searchtype))
#set($moduleid = $module.getId())

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#if(!$id)
#set($id= $entity.id)
#end
#if(!$id)
#set($id= "")
#end

#set($edit = $context.getRequestParameter("edit"))
#if($edit!="true")
	#set($edit="false")
#end
$context.putPageValue("edit", $edit)



<div id="entity-tab-#eid($id)" 
	class="entity-tab-content ajaxautoreload" 
	data-id="$!entity.id" 
	data-searchtype="$searchtype"
	data-autoreloadevents="uploadstart"
	data-url="$componenthome/gridsample/preview/entitytab.html">
	
	<div class="entity-metadata" id="entitymetadata" data-id="$!entity.getId()" data-searchtype="$!searchtype">
		$context.putPageValue("id", $entityid)
		$context.putPageValue("data", $entity)
		$context.putPageValue("searchtype", $searchtype)
		$pages.include("$componenthome/gridsample/preview/metadata.html", $context)
	</div>
	
	#if($module.enablemoduleuploads)
		<div class="entity-media">
		#if($moduleid && $entityid)
			
			$pages.include("$componenthome/categories/entities/listcategories.html",$context)
			
			
			$pages.include("$componenthome/gridsample/preview/media/listassets.html",$context)
			
			#end
		</div>
	#end
	<div class="clearfix"></div>
	
	
	$pages.include("$componenthome/gridsample/preview/metadata-submodules.html",$context)
	
	
	

</div>