#set($entityid = $context.getRequestParameter("entityid"))
#if(!$entityid)
	#set($entityid = $context.getRequestParameter("entity"))
#end
#if(!$parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
$context.putPageValue("parentsearchtype", $parentsearchtype)
#if( !$entity)
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
	$context.putPageValue("topmoduleid", $topmoduleid)
#end
#ifnotnull($topmoduleid)
		#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end

<div id="tab_media" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
##style=" #if($currenttab != 'media' || $hidesubmodule) display:none; #end"
data-tabid="tab_media"
data-viewid="media"
data-entityid="$!entityid"
data-currenttab="$!currenttab"
data-parentsearchtype="$!parentsearchtype"
data-topmoduleid="$!topmoduleid"
data-url="$componenthome/gridsample/preview/entitytabmedia.html">
<div id="$!submodulepickerid" class="submodulepicker entity-tab-content" >
	##Display Full Media
	##if($topmodule.enableuploading == true)
		
		#ifnull($defaultfolder)
			#ifnull($entity)
			
				##TODO: remove this
				#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolderForModule($topmodule, $context.getUser()))
			#end
			
			#ifnotnull($entity)
				#if($topmodule.getId()=="faceprofilegroup")
					#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolderForModule($topmodule, $context.getUser()))		
				#else
					#set($defaultfolder =  $mediaarchive.getBean("entityManager").createDefaultFolder($entity, $context.getUser()))
				#end
			#end
		#end
		$context.putPageValue("defaultfolder", $defaultfolder)
		#if(!$currentcategoryid && $defaultfolder)
			#set( $currentcategoryid = $defaultfolder.getId())
			$context.putPageValue("categoryid", $currentcategoryid)
		#end
		
		$context.putPageValue("entitydialogid", "entity")
		$pages.include("$apphome/views/modules/asset/dialogindex.html", $context)
	##end
	
	<div class="clearfix"></div>
</div>
</div>


