#set( $searchtype = $context.findValue("module")) 

#if(!$searchtype)
	#set( $searchtype = $context.findValue("searchtype")) 
#end
#if(!$searchtype)
	#set($searchtype = $context.getRequestParameter("searchtype")) 
#end

#set( $id = $context.getRequestParameter("entityid"))

##ifnotnull($id)

#if($id.startsWith("multiedit"))
	#set($entityid = $entity.id)
	#set($entitytabid = "entity-tab-multiedit")
#else
	#if(!$entity && $id)
		#set( $entity  = $mediaarchive.getData($searchtype, $id) )
	#end
	#ifnotnull($entity)
		#set($entityid = $entity.id)
		$context.putPageValue("entity", $entity)
	#end
#end
#set($module = $mediaarchive.getData("module", $searchtype))
#set($moduleid = $module.getId())

$context.putPageValue("entityid", $!entityid)
$context.putPageValue("moduleid", $!moduleid)

#if(!$entitytabid)
	#set($entitytabid = "${module.getId()}$!{entityid}")
	#set($entitytabid = "#eid($entitytabid)")
#end

#set($edit = $context.getRequestParameter("edit"))
#if($edit!="true")
	#set($edit="false")
#end
$context.putPageValue("edit", $edit)

#ifnull($entityid)
	#set($entityid = "")
#end

#ifnull($showmedia)
	#set($showmedia = $context.getRequestParameter("showmedia"))
#end
$context.putPageValue("showmedia", $showmedia)
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end

#ifnull($viewid)
#set($viewid = $context.getRequestParameter("viewid"))
#end

#set($tabid = $context.getRequestParameter("tabid"))
#ifnull($tabid)
	#set($tabid = "tab_$viewid")
#end

<div id="$tabid"
	class="#eid($entityid)tab-content reloadonupload entity-tab-content tabtype$!tabtype"
	style=" #if($currenttab != $tabid) display:none; #end" 
	data-entityid="$!entity.id" 
	data-tabtype="metadata"
	data-tabid="$tabid"
	data-viewid="$!viewid"
	data-currenttab="$!currenttab"
	data-searchtype="$searchtype"
	data-autoreloadevents="uploadend"
	data-url="$componenthome/gridsample/preview/entitytab.html">
	
	
	
	<div class="entity-metadata #if($module.enableuploading == true) Zentity-metadata-withmedia #end" 
		id="entitymetadata" data-id="$!entity.getId()" data-searchtype="$!searchtype">
		$context.putPageValue("id", $entityid)
		$context.putPageValue("data", $entity)
		$context.putPageValue("searchtype", $searchtype)

		$pages.include("$componenthome/gridsample/preview/metadata.html", $context)
	</div>
	<div class="clearfix"></div>
	
	#if($moduleid && $entityid)
			#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
			$context.putPageValue("defaultfolder", $defaultfolder)
	#end

	


</div>

##end