#set( $searchtype = $context.findValue("searchtype"))
#set( $parentsearchtype = $searchtype)
#set( $id = $context.getRequestParameter("id"))

#ifnull($id)
	#set( $id = $context.getRequestParameter("entityid"))
	$context.putPageValue("id", $id)
#end

#set( $ismulti = $id.startsWith("multiedit:") || $context.getRequestParameter("multi") == "true")
$context.putPageValue("ismulti", $ismulti)
#if($ismulti)

#else
	#if( !$entity && $id)
		#set( $entity  = $mediaarchive.getData($searchtype, $id) )
	#end
	#if($entity)
		#set($entityid = $entity.id)
		$context.putPageValue("entity", $entity)
		$context.putPageValue("entityid", $entityid)
	#end
#end

#set($module = $mediaarchive.getData("module", $searchtype))
#set($moduleid = $module.getId())
$context.putPageValue("moduleid", $moduleid)
$context.putPageValue("topmoduleid", $moduleid)

#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set($enttiyviews = $viewsearcher.query().exact("moduleid", $moduleid).exact("systemdefined","false").sort("orderingUp").search($context) )

#set($userentities = $userprofile.getEntitiesIds())

#set( $addednew = $context.getRequestParameter("addednew"))
#set( $addnew = $context.getRequestParameter("addnew"))

#if($addednew)
	##just added new entity, open Media and Upload if available
	##
	###if($module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
	##	#set($entitytabopen = "tab_media")
	###end
#else
	#if ($addnew)
		#foreach( $targetview in $enttiyviews)
			#set( $viewid = $targetview.getId())
			#set($tabid = "tab_$!{viewid}")
			#ifnull($firstview)
				#set($firstview = $viewid)
			#end
		#end
		#if($firstview)
			#set($entitytabopen = "tab_$firstview")
		#else
			#set($entitytabopen = "")
		#end
		#set($dialogtabid = "addnew${moduleid}")
	#else
		#set($dialogtabid = "${moduleid}$!{entityid}")
	#end
#end

#ifnull($entitytabopen)
	#set( $entitytabopen = $context.getRequestParameter("entitytabopen"))
#end

#ifnull($entitytabopen)
	#set( $entitytabopen = $userprofile.get("${moduleid}_entitytabopen"))
#end
 
#if(!$entitytabopen || $entitytabopen.equals("undefined"))
	#set( $entitytabopen = "")
#end

##default to (Data)General tab if not media allowed
#if($entitytabopen == 'tab_media')
	#if(!$module.getBoolean("enableuploading") || !$permissions.can($moduleid, "view_files"))
		#set($entitytabopen = "")
	#end
#end

##default to frist if not submodules (view) exists in this Entity
#if($ismulti || !$entitytabopen && $enttiyviews)
	#foreach( $targetview in $enttiyviews)
		#set( $viewid = $targetview.getId())
		#set($tabid = "tab_$!{viewid}")
		#ifnull($firstview)
			#set($firstview = $viewid)
		#end
	#end
	#if($firstview)
		#set($entitytabopen = "tab_$firstview")
	#else
		#set($entitytabopen = "")
	#end
#end

#set( $enablebackbutton = $context.getRequestParameter("enablebackbutton"))

	#if($moduleid && $entityid)
			#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
			$context.putPageValue("defaultfolder", $defaultfolder)
	#end


<div class="entitydialog #if($enablebackbutton || $addnew) enablebackbtn #end"
	id="#eid($!dialogtabid)" 
	data-moduleid="$moduleid" 
	data-entityid="$!entityid" 
	data-oemaxlevel="1"
	data-url="$componenthome/gridsample/preview/entity.html">
	
	<div class="entity-wraper">
	
	<div class="d-flex align-items-center justify-content-between mb-2">
		<h2>
			<a href="#" id="backbtn#eid($!dialogtabid)" class="entitydialogback" style="display: none;">
				<i class="fas fa-arrow-left"></i>
			</a>
		
			#set($moduleicon = "entity")
			#if ($module.moduleicon)
				#set($moduleicon = $module.moduleicon)
			#end
		
			<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 22px;" /> 
			#text($module) - 
			
			#if($moduleid == "faceprofilegroup")
				#if($entity.entitypeople)
					#set($name = $searcherManager.getValue($searcher, $entity, "name"))
					#set($name = "[[Profile]] $name")
				#else
					#set($name = "$entity.samplecount")
				#end
				
				#text($name)
				
			#else
				#if($ismulti)
					[[Multi Edit]] $!entity.getSelectedResults().size() [[Items]]		
				#else	
					#if($entity.getName($context))
							#set($name = $!entity.getName($context))
					#else 
						#if($addnew=='true')
							#set($name = "[[Add New]]")
							
							$context.putPageValue("addnew", $addnew)
						#end
					#end
					
					#text($name)
					
				#end
			#end
			
			
		</h2>
		#if(!$ismulti)
			<div class="entity-actions-bar" style="margin-bottom: 10px;">
				##if($canviewsettings && $entityid)
				##<span >Id: $entityid</span>
				##end
				
				$context.putPageValue("itemid", $entity.id)
				$pages.include("$componenthome/gridsample/favorites.html?id=$entity.id&moduleid=$moduleid", $context)
				
				#if($permissions.can($moduleid, "edit"))
				<a href="$applink/views/modules/$moduleid/edit/editdialog.html?id=${entityid}&viewid=entitypermissions"
					class="emdialog btn btn-sm btn-brand"
					data-hidefooter="true"
					data-dialogid="entitypermissionsdialog"
					title="#text($module)\ #text($entity) [[Permissions]]"><i class="fas fa-user-lock"></i> [[Permissions]]</a>
				#end
	
				#if($canviewsettings)	
				<a href="$applink/views/settings/modules/$moduleid/info/module-setup.html"
					class="ajax btn btn-sm btn-brand"
					data-targetdiv="applicationcontent"
					data-oemaxlevel="5"
					data-updateurl="true"
					data-closedialog="true"
					data-sidebarcomponent="settings"
					data-scrolltotop="true"
					title="#text($module) [[Settings]]"><i class="fas fa-cog"></i> [[Settings]]</a>
				#end
					
				#ifnotnull($defaultfolder)
					#if($permissions.can($moduleid, "share"))
					<a href="$applink/components/share/entity.html?moduleid=$moduleid&categoryid=${defaultfolder.getId()}" 
					class="emdialog btn btn-sm btn-brand"
					data-dialogid="entitysharedialog"
					data-hidefooter="true"
					title="[[Share]] #text($entity.name)"><i class="fas fa-share-alt"></i></a>
					#end
				#end
	
				<div class="entityclose ml-2"><span title="[[Esc to Close]]" class="close-button white"></span></div>
			</div>
		#end
	</div>
	
		
		<nav>
	  	<div class="nav nav-tabs entity-navigation" id="entity-nav-tab" role="tablist" 
	  		 data-tabmenuurl="gridsample/preview/entitytabmenu.html">

			#ifnull($id)
				#set( $viewid = $firstview)
				$context.putPageValue("viewid", $viewid)
				#set( $viewdata = $viewsearcher.searchById($viewid))
				$context.putPageValue("viewdata", $viewdata)
				#set($entitytabopen = "tab_${firstview}")
				$context.putPageValue("currenttab", $entitytabopen)
				$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
			#end
			#ifnotnull($id)  
				#if($enttiyviews)		
				
					#foreach( $targetview in $enttiyviews)
						#set( $viewid = $targetview.getId())
						$context.putPageValue("viewid", $viewid)
						#set( $viewdata = $viewsearcher.searchById($viewid))
						$context.putPageValue("viewdata", $viewdata)
						
						#set($tabid = "tab_${viewid}")
						#if($entitytabopen.equals($tabid))
				  			$context.putPageValue("currenttab", $tabid)
						#end
						
						#if($targetview.rendertype=="table")
							#if(!$ismulti)
								#set( $subentitysearchtype = $viewdata.rendertable )
								#ifnotnull($subentitysearchtype)
									##Permission check
									##$subentitysearchtype $userentities.contains($subentitysearchtype)
									#if($userentities.contains($subentitysearchtype))
										#set($submodule = $mediaarchive.getCachedData("module", $viewdata.rendertable))
										$context.putPageValue("tabmodule", $submodule)
										#set($tabtype= "submodulehome")
										$context.putPageValue("tabtype", $tabtype)
										#set($subcomponenthome = "$apphome/views/modules/$subentitysearchtype/components")
										$pages.include("$subcomponenthome/gridsample/preview/entitytabmenu.html", $context)
									#end
								#end
							#end
						#else
							####Other Tabs
							
								#set($tabtype= "entitytab")
								#ifnotnull($targetview.rendertype)
									#set($tabtype= $targetview.rendertype)
								#end
								
								#if($tabtype=="default")
									#set($tabtype= "entitytab")
								#end
								
						  		$context.putPageValue("tabmodule", $module)
								$context.putPageValue("tabtype", $tabtype)
								
								#if(!$entitytabopen)
									#set($entitytabopen = $tabid)
						  			$context.putPageValue("currenttab", $tabid)
								#end
								
								$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
							
						#end
					#end
				#end	
			#end
			
			##media
			#ifnotnull($id)
				#if(!$ismulti)
					#if($module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
						#set($submodule = $mediaarchive.getCachedData("module", "asset"))
						$context.putPageValue("tabmodule", $submodule)
						$context.putPageValue("tabtype", "media")
						#set($tabid = "tab_media")
						$context.putPageValue("tabid", $tabid)
						#if($entitytabopen == $tabid)
				  			$context.putPageValue("currenttab", $tabid)
						#end
						#set($subcomponenthome = "$apphome/views/modules/asset/components")
						$pages.include("$subcomponenthome/gridsample/preview/entitytabmenu.html", $context)
					#end
				#end
			#end	
		</div>
		</nav>
		
		<div class="tab-content entity-body" id="entity-nav-tabContent">
			
				#ifnull($id)
					$context.putPageValue("viewid", $firstview)
					#set($entitytabopen = "tab_${firstview}")
					$context.putPageValue("currenttab", $entitytabopen)
					
					$pages.include("$componenthome/gridsample/preview/entitytab.html", $context)
				#end
				#ifnotnull($id)
					#if($enttiyviews)		
						#foreach( $targetview in $enttiyviews)
							#set( $viewid = $targetview.getId())
							$context.putPageValue("viewid", $viewid)
							$context.putPageValue("parentsearchtype", $parentsearchtype)
							$context.putPageValue("parentid", $id)
							$context.putPageValue("hidesubmodule", true)
							
									#set($tabid = "tab_${viewid}")
									#if($entitytabopen.equals($tabid))
							  			$context.putPageValue("currenttab", $tabid)
							  			$context.putPageValue("hidesubmodule", false)
									#end
									
									#if($targetview.rendertype=="table")
										#if(!$ismulti)
											#set($tabtype= "submodulehome")
											#set( $viewdata = $viewsearcher.searchById($viewid))
											#set( $subentitysearchtype = $viewdata.rendertable )
											##Permission check
											#if($userentities.contains($subentitysearchtype))
												#set($subcomponenthome = "$apphome/views/modules/$subentitysearchtype/components")
												$pages.include("$subcomponenthome/gridsample/preview/entitytabsub.html", $context)
											#end
										#end
									#else
										#set($tabtype= "entitytab")
										#ifnotnull($targetview.rendertype)
											#set($tabtype= $targetview.rendertype)
										#end
										#if($tabtype=="default")
											#set($tabtype= "entitytab")
										#end
										
										$context.putPageValue("tabtype", $tabtype)
										
										#if(!$entitytabopen)
											#set($entitytabopen = $tabid)
							  				$context.putPageValue("currenttab", $tabid)
										#end
										
										$pages.include("$componenthome/gridsample/preview/${tabtype}.html", $context)
									#end
								
						#end
					#end
						
					#if($module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
						#if(!$ismulti)
							$context.putPageValue("parentsearchtype", $parentsearchtype)
							$context.putPageValue("hidesubmodule", true)
							#set($tabtype= "media")
							#if($entitytabopen == $tabtype)
					  			$context.putPageValue("currenttab", $tabtype)
					  		#end
							$pages.include("$subcomponenthome/gridsample/preview/entitytabmedia.html?entityid=$id", $context)
						#end
					#end
			#end
		</div>
	</div>
</div>


