#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
###set( $entity = $hits.findData("id", $id))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end
#set($module = $mediaarchive.getData("module", $searchtype))
#set($entityid = $entity.id)
#set($moduleid = $module.getId())

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)
<div id="entitypreviewdialog">
<div class="modal-content modal-data-details modal-entity ${moduleid}-modal">
	<div class="modal-body">
		<div class="modal-close">
		        <button type="button" class="close" data-dismiss="modal" aria-label="[[Close]]" title="[[Close]]">
		          <span aria-hidden="true">&times;</span>
		        </button>
		</div>
		

		
		<div class="entity-metadata">
			<h4>#text($module)</h4>
			$context.putPageValue("data", $entity)
			$context.putPageValue("searchtype", $searchtype)
			$pages.include("metadata.html", $context)
		</div>
		
		<div class="entity-media">
		
		#set( $assetsshown = 4)
		#if( $searchtype == "faceprofilegroup" )
			#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact("faceprofiles.faceprofilegroup", $entityid).sort("assetaddeddateDown").search() )
					
		#else
			#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match($moduleid, $entityid).sort("assetaddeddateDown").search() )
				
		#end
		
		
		$context.putPageValue("assetshits", $assetshits)
		$context.putPageValue("fullview",true) 
		$context.putPageValue("thumbsize", "small" )
		$context.putPageValue("primaryimage", $entity.primaryimage )
		$pages.include("$componenthome/gridsample/preview/attachedmedia.html",$context)
		
		
		
		
		<div class="entity-assets-info">
			#if($assetshits.size()>0)
				#if($moduleid=="librarycollection")
					#if(!$rootcategory)
						#set($rootcategory = $context.getRequestParameter("rootcategory"))
					#end
					#set($link = "$siteroot$applink/views/modules/librarycollection/showcategory.html?hitssessionid=$!{assetshits.sessionId}&nodeID=$rootcategory&clearfilters=true")
					#set($oemaxlevel = "4")
					#set($link = "$link&sidebarcomponent=categories")
					#set($targetdiv = "applicationcontainer")
				#elseif($moduleid=="faceprofilegroup")
					#set($link = "$siteroot$applink/views/modules/asset/faceprofilegroup.html")
					#set($link = "$link?faceprofilegroupid=$!entityid&clearfilters=true")
					#set($oemaxlevel = "2")
					#set($targetdiv = "applicationmaincontent")
				#else
					#set($link = "$siteroot$applink/views/modules/asset/index.html")
					#set($link = "$link?hitssessionid=$!{assetshits.sessionId}&field=$moduleid&operation=matches&${moduleid}.value=$!entityid&clearfilters=true")
					#set($oemaxlevel = "1")
					#set($targetdiv = "applicationmaincontent")
				#end
				
				
				<a href="$link" 
								class="ajax" 
								data-targetdivinner="$targetdiv" 
								data-closedialog="true"
								data-oemaxlevel="$!oemaxlevel"
								data-updateurl="true"
								data-closemediaviewer="true">[[View Media]] ($assetshits.size())</a>
				
			#end
			#if( $canviewupload )
				##if($fullview) 
					#if($moduleid=="librarycollection")
						#set($uploadlink = "$siteroot$applink/views/modules/asset/add/start.html?collectionid=$entityid&clearotherentities=true")
						#set($oemaxlevel = "1")
						#set($targetdiv = "applicationmaincontent")
					#elseif($moduleid=="faceprofilegroup")
						#set($uploadlink = "")
					#else
						#set($uploadlink = "$siteroot$applink/views/modules/asset/add/start.html?entityupload=true&entitytype=$moduleid&addselection=$entityid&clearotherentities=true")
						#set($oemaxlevel = "1")
						#set($targetdiv = "applicationmaincontent")
					#end
					#if ($uploadlink)
					<a href="$uploadlink" 
						class="ajax moreactions"
						data-targetdivinner="$targetdiv"
						data-closedialog="true" 
						data-closemediaviewer="true"
						data-updateurl="true"
						data-oemaxlevel="$!oemaxlevel"
						title="[[Upload Media]]">
						<i class="fas fa-upload"></i></a>
					#end
				##end
			#end
			
		</div>
		
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>

</div>