#set( $searchtype = $context.findValue("searchtype"))
#set( $parentsearchtype = $searchtype)
#set( $id = $context.getRequestParameter("id"))
$context.putPageValue("parentsearchtype", $parentsearchtype)
$context.putPageValue("parentid", $id)

#ifnull($id)
	#set( $id = $context.getRequestParameter("entityid"))
	$context.putPageValue("id", $id)
#end

#set( $ismulti = $id.startsWith("multiedit:") || $context.getRequestParameter("multi") == "true")
$context.putPageValue("ismulti", $ismulti)

#if($ismulti)

#else
	#if( !$entity && $id)
		#set( $entity  = $mediaarchive.getData($searchtype, $id) )
	#end
	#if($entity)
		#set($entityid = $entity.id)
		$context.putPageValue("entity", $entity)
		$context.putPageValue("entityid", $entityid)
		
		##Publishing (Gallery)
		#if($permissions.can($moduleid, "publishinggallery"))
			#set($canpublishinggallery = true)
		#end
		#if($permissions.can($moduleid, "publishingcarousel"))
			#set($canpublishingcarousel = true)
		#end
	#end
#end

#ifnull($module)
	#set($module = $mediaarchive.getCachedData("module", $searchtype))
#end
#set($moduleid = $module.getId())
$context.putPageValue("moduleid", $moduleid)
$context.putPageValue("topmoduleid", $moduleid)

#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set($enttiyviews = $viewsearcher.query().exact("moduleid", $moduleid).exact("systemdefined","false").sort("orderingUp").search($context) )
#set($firstviewid = $enttiyviews.first().getId())
#set($userentities = $userprofile.getEntitiesIds())
#set($dialogtabid = "${moduleid}$!{entityid}")
#set($entitytabopen = "")
#set( $saveaction = $context.getRequestParameter("saveaction"))
#set( $addnew = $context.getRequestParameter("addnew"))
#if ($addnew)
	#set($entitytabopen = $firstviewid)
	#set($dialogtabid = "addnew${moduleid}")
#else
	##check if saveaction
	#if($saveaction == "upload")
		#set($entitytabopen = "media")
	#end
#end
#if(!$entitytabopen)
	#set( $entitytabopen = $context.getRequestParameter("entitytabopen"))
#end
#if(!$entitytabopen)
	#set( $entitytabopen = $userprofile.get("${moduleid}_entitytabopen"))
#end
#if(!$entitytabopen && $viewfiles)
	#set($entitytabopen = "media")
#end

##default to (Data)General tab if not media allowed
#if($entitytabopen == 'media')
	#if(!$module.getBoolean("enableuploading") || !$permissions.can($moduleid, "view_files"))
		#set($entitytabopen = "")
	#end
	
	#set( $uploadmedia = $context.getRequestParameter("uploadmedia"))
#end
#if($entitytabopen == "publishinggallery" && $canpublishinggallery!="true")
	#set($entitytabopen = "")
#end
#if($entitytabopen == "publishingcarousel" && $canpublishingcarousel!="true")
	#set($entitytabopen = "")
#end

#if(!$entitytabopen || $entitytabopen.equals("undefined"))
	#set( $entitytabopen = "")
#end
##default to frist if not submodules (view) exists in this Entity
#if($ismulti || !$entitytabopen)
	#set($entitytabopen = $firstviewid)
#end

#set( $enablebackbutton = $context.getRequestParameter("enablebackbutton"))

##TODO: Check on enableuploading
#if($moduleid && $entityid)
	#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
	$context.putPageValue("defaultfolder", $defaultfolder)
#end



<div class="entitydialog #if($enablebackbutton || $addnew) enablebackbtn #end"
	id="#eid($!dialogtabid)" 
	data-moduleid="$!moduleid" 
	data-entityid="$!entityid" 
	data-categorypath="$!defaultfolder.getCategoryPath()"
	data-oemaxlevel="1"
	data-url="$componenthome/gridsample/preview/entity.html"
	data-urlbar="$apphome/views/modules/$!{moduleid}/index.html?entityid=$!entityid"
	#if($entityhits && $entityhits.size() > 1)
		$context.putPageValue("hitssessionid", $entityhits.getSessionId())
		data-hitssessionid="$entityhits.getSessionId()" 
	#end
	#if($entity)
		data-setpagetitle="#text($entity)"
	#else
		data-setpagetitle="[[Add New]]"
	#end
	>
	<div class="entity-wraper">
		<div class="entity-header d-flex align-items-center justify-content-between">
			<div class="d-flex align-items-center">
				<h2 class="d-flex align-items-center">
					<a href="#" id="backbtn#eid($!dialogtabid)" class="entitydialogback" style="display: none;">
						<i class="fas fa-arrow-left"></i>
					</a>
					
					#if ($module.moduleicon)
						#set($moduleicon = $module.moduleicon)
					#end
					#ifnull($moduleicon)
						#set($moduleicon = "grid")
					#end
					<i class="bi bi-${moduleicon} module-icon"></i> 
					 
					#if($moduleid == "faceprofilegroup")
						#text($module) <i class="bi bi-chevron-right mx-1 bi-small"></i>
						#if($entity.entitypeople)
							#set($people =  $mediaarchive.getCachedData("entitypeople", $entity.entitypeople))
							#set($label = "[[Profile]] $!people")
						#else
							#set($label = "$entity.samplecount")
						#end
					#else
						#if($ismulti)
							#text($name) [[Multi Edit]] $!entity.getSelectedResults().size() [[Items]]		
						#else	
							#if($addnew=='true')
								#text($module) <i class="bi bi-chevron-right mx-1 bi-small"></i>
								#set($label = "[[Add New]]")
								#text($label)	
								$context.putPageValue("addnew", $addnew)
							#elseif($module.getValue("customname"))
								#set($label = $searcherManager.renderMask($entity, $searcher.getDetail("name") ,$module.getValue("customname"), null, $context.getLocale())) 
								#text($label) 
							#else
								#text($module) <i class="bi bi-chevron-right mx-1 bi-small"></i>
								#set($label = $!entity.getName($context))
								#text($label) 				
							#end
							
						#end
					#end 
				</h2>
				
				
				#if(!$ismulti && $entityid)
					<div class="entity-actions-bar">

						$context.putPageValue("itemid", $entity.id)
						$pages.include("$componenthome/gridsample/favorites.html?id=$entity.id&moduleid=$moduleid", $context)
						
						#if($permissions.can($moduleid, "shareentity"))
						<a href="$applink/views/modules/${moduleid}/components/gridsample/preview/tabexport.html?entityid=$!entity.getId()" 
						class="entitytabactions btn-accent"
						data-tabaction="export"
						data-viewid="export"
						data-tabtype="tabexport" 
						data-entityid="$!entity.getId()" 
						data-topmoduleid="$!moduleid"
						data-moduleid="$!moduleid"
						data-tabsection="share"
						data-targetdiv="" title="[[Share]]"><i class="bi bi-share"></i></a>
						#end
						
						#if($canviewsettings)
						<a href="#"
						class="entitytabactions btn-accent"
						data-tabaction="activityhistory"
						data-viewid="activityhistory"
						data-tabtype="tabactivityhistory" 
						data-entityid="$!entity.getId()" 
						data-topmoduleid="$!moduleid"
						title="[[History]]"
						data-moduleid="$!moduleid"><i class="bi bi-clock-history"></i></a>
						#end
					</div>
				#end
			</div>

			##<span class="text-white">$hits.indexOfId($entity.getId())</span>
			
	
			<div class="d-flex entity-actions-bar align-items-center text-white">
				#if(!$ismulti && $entity)
					
				
				#if($module.getBoolean("enableuploading"))
				#if($permissions.can($moduleid, "upload_files") ||
					$permissions.can($moduleid, "upload_folders") ||
					$permissions.can($moduleid, "importurl") ||
					$permissions.can($moduleid, "importassets") ||
					$permissions.can($moduleid, "importfolders") ||
					($desktop && $permissions.can($moduleid, "importpushtoserver")))
				<a href="#"
						class='btn btn-sm btn-accent entitytabactions tabactionimport #if($entitytabopen=="import")enabledaction #end '
						data-tabaction="import"
						data-viewid="import"
						data-tabtype="tabimport" 
						data-entityid="$!entity.getId()" 
						data-topmoduleid="$!moduleid"
						data-moduleid="$!moduleid"
						data-tabsection="upload"
						data-hitssessionid="$entityhits.getSessionId()"
						title="[[Upload to]] #text($module) "><i class="bi bi-box-arrow-in-right mr-1"></i> [[Import]]</a>
				#end	
				#end
				#if($permissions.can($moduleid, "copyentity") ||
					$permissions.can($moduleid, "moveentity") ||
					$permissions.can($moduleid, "downloadall") ||
					$permissions.can($moduleid, "shareentity") ||
					($desktop && $permissions.can($moduleid, "exportpulltoserver")))	
					
				<a href="#"
						class='btn btn-sm btn-accent entitytabactions tabactionexport #if($entitytabopen=="export")enabledaction #end '
						data-tabaction="export"
						data-viewid="export"
						data-tabtype="tabexport" 
						data-entityid="$!entity.getId()" 
						data-topmoduleid="$!moduleid"
						data-moduleid="$!moduleid"
						data-tabsection="share"
						title="[[Download]] #text($module) ">[[Export]]&nbsp;<i class="bi bi-box-arrow-right ml-1"></i></a>
				#end
					
				#end
						
				#if($entityhits && $entityhits.size() > 1)
					#set( $index = $entityhits.indexOfId($entity.getId()))
					#set( $previous = false )
					#set( $previous = $entityhits.previous($index))
					#set( $next = false )
					#set( $next = $!entityhits.next($index))
						<div class="d-flex align-items-center entity-navigator">
							#if($previous)
							<a class="text-white btn mr-1 emdialog btn-accent" 
								href="$componenthome/gridsample/preview/entity.html?id=$previous.getId()"
								data-hitssessionid="$entityhits.getSessionId()"
								title="#text($previous)">
								<i class="bi bi-caret-left-fill"></i> <span>[[Prev]]</span>
							</a>
							#end
							#if($next)
							<a class="text-white btn ml-1 emdialog btn-accent"  
								href="$componenthome/gridsample/preview/entity.html?id=$next.getId()"
								data-hitssessionid="$entityhits.getSessionId()" 
								title="#text($next)">
								<span>[[Next]]</span> <i class="bi bi-caret-right-fill"></i>
							</a>
							#end
						</div>
					#end
				<div class="entityclose">
					<span title="[[Esc to Close]]" class="bi bi-x-lg ns"></span>
				</div>
			</div>
			
		</div>
		<nav>
			<div class="nav nav-tabs entity-navigation" id="entity-nav-tab" role="tablist" 
				data-tabmenuurl="gridsample/preview/entitytabmenu.html">
				#ifnull($id)
					#set( $viewid = $firstviewid)
					$context.putPageValue("viewid", $viewid)
					#set( $viewdata = $viewsearcher.searchById($viewid))
					$context.putPageValue("viewdata", $viewdata)
					#set($entitytabopen = $firstviewid)
					$context.putPageValue("currenttab", $entitytabopen)
					$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
				#end
				#ifnotnull($id)  
					#if($enttiyviews)		
						$context.putPageValue("currenttab", $entitytabopen)
						#foreach( $targetview in $enttiyviews)
							#set( $viewid = $targetview.getId())
							$context.putPageValue("viewid", $viewid)
							#set( $viewdata = $viewsearcher.searchById($viewid))
							$context.putPageValue("viewdata", $viewdata)
							
							#set($tabid = "tab_${viewid}")

							#if($targetview.rendertype=="table")
								#if(!$ismulti)
									##View Permission
									#if($permissions.can($moduleid, $viewid))
										#set( $subentitysearchtype = $viewdata.rendertable )
										#ifnotnull($subentitysearchtype)
											##Permission check
											##$subentitysearchtype $userentities.contains($subentitysearchtype)
											#if($userentities.contains($subentitysearchtype))
												#set($submodule = $mediaarchive.getCachedData("module", $viewdata.rendertable))
												$context.putPageValue("tabmodule", $submodule)
												#set($tabtype= "tabsubmodulehome")
												$context.putPageValue("tabtype", $tabtype)
												#set($subcomponenthome = "$apphome/views/modules/$subentitysearchtype/components")
												$pages.include("$subcomponenthome/gridsample/preview/entitytabmenu.html", $context)
											#end
										#end
									#end
								#end
							#else
								####Other Tabs
							
								#if($permissions.can($moduleid, $viewid))
									#set($tabtype= "entitytab")
									#ifnotnull($targetview.rendertype)
										#set($tabtype= $targetview.rendertype)
									#end
									
									#if($tabtype=="default")
										#set($tabtype= "entitytab")
									#end
									
									$context.putPageValue("tabmodule", $module)
									$context.putPageValue("tabtype", $tabtype)
									
									
									##hide files Tab if Lightbox tab is enabled
									#if($tabtype == "tablightboxes")
										#set($hidefilestab = true)
									#end
									
									$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
								#end
							#end
						#end
					#end	
				#end
				
				
				#ifnotnull($id)
					#if(!$ismulti)
					
						##media tab
						#ifnull($hidefilestab)
							#if($module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
								#set($submodule = $mediaarchive.getCachedData("module", "asset"))
								$context.putPageValue("tabmodule", $submodule)
								$context.putPageValue("tabtype", "entitytabmedia")
								#set($tabid = "tab_media")
								$context.putPageValue("tabid", $tabid)
								#if($entitytabopen == "media")
									$context.putPageValue("currenttab", $entitytabopen)
								#end
								$pages.include("$apphome/views/modules/asset/components/gridsample/preview/entitytabmenu.html", $context)
							#end
							
							$context.putPageValue("tabmodule", "")
						#end
						
						##import tab
						#if($entitytabopen == "import")
							##permissions here
							#set($tabtype= "tabimport")
							$context.putPageValue("tabtype", $tabtype)
							#set($tabid = "tab_import")
							$context.putPageValue("tabid", $tabid)
							$context.putPageValue("currenttab", $entitytabopen)
									
							$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
						#end
						
						##export tab
						#if($entitytabopen == "export")
							##permissions here
							#set($tabtype= "tabexport")
							$context.putPageValue("tabtype", $tabtype)
							#set($tabid = "export")
							$context.putPageValue("tabid", $tabid)
							$context.putPageValue("currenttab", $entitytabopen)
									
							$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
						#end
						
						
						#if($entitytabopen == "activityhistory")
							##permissions here
							#set($tabtype= "tabactivityhistory")
							$context.putPageValue("tabtype", $tabtype)
							#set($tabid = "activityhistory")
							$context.putPageValue("tabid", $tabid)
							$context.putPageValue("currenttab", $entitytabopen)
									
							$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
						#end						
					#end
				#end	
			</div>
		</nav>
		
		<div class="tab-content entity-body" id="entity-nav-tabContent">
			#ifnull($id)
				$context.putPageValue("viewid", $firstview)
				#set($entitytabopen = $firstviewid)
				$context.putPageValue("currenttab", $entitytabopen)
				
				$pages.include("$componenthome/gridsample/preview/entitytab.html", $context)
			#end
			#ifnotnull($id)
				#if($enttiyviews && 
					$entitytabopen  != "media"  && 
					$entitytabopen  != "publishinggallery"  &&
					$entitytabopen  != "publishingcarousel"  &&  
					$entitytabopen  != "import" &&
					$entitytabopen  != "tablightboxes" &&
					$entitytabopen  != "export" &&
					$entitytabopen  != "activityhistory")
							
						#set( $viewid = $entitytabopen)
						#set( $targetview = $viewsearcher.searchById($viewid))
						
						$context.putPageValue("viewid", $viewid)
						
						#set($tabid = "tab_${viewid}")
						#if($entitytabopen.equals($viewid))
							$context.putPageValue("currenttab", $viewid)
							$context.putPageValue("hidesubmodule", false)
						#end
						
						#set($tabtype= $targetview.rendertype)
						
						#if($tabtype == "table")
							#if(!$ismulti)
								##View Permission
								#if($permissions.can($moduleid, $viewid))
									#set( $viewdata = $viewsearcher.searchById($viewid))
									#set( $subentitysearchtype = $viewdata.rendertable )
									##Permission check
									#if($userentities.contains($subentitysearchtype))
										#set($subcomponenthome = "$apphome/views/modules/${subentitysearchtype}/components")
										$pages.include("$subcomponenthome/gridsample/preview/tabsubmodulehome.html", $context)
									#end
								#end
							#end
						#else
							##View Permission
							#if($permissions.can($moduleid, $viewid))
								#ifnotnull($targetview.rendertype)
									#set($tabtype= $targetview.rendertype)
								#end
								#if(!$tabtype || $tabtype=="default")
									#set($tabtype= "entitytab")
								#end
								
								$context.putPageValue("tabtype", $tabtype)
	
								$pages.include("$componenthome/gridsample/preview/${tabtype}.html", $context)
							#end
						#end
				#end
				

				#if($entitytabopen == "tablightboxes")
					#if(!$ismulti)
						$context.putPageValue("currenttab", $tabtype)
						$pages.include("$componenthome/entities/lightboxes/show.html?entityid=$id", $context)
					#end
								
				#elseif($entitytabopen == "import")
					#if(!$ismulti)
						#set($tabtype= "tabimport")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "import")
						$context.putPageValue("viewid", "import")
						$pages.include("$componenthome/gridsample/preview/tabimport.html?entityid=$id", $context)
					#end
					
				#elseif($entitytabopen == "export")
					#if(!$ismulti)
						#set($tabtype= "tabexport")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "export")
						$context.putPageValue("viewid", "export")
						$pages.include("$componenthome/gridsample/preview/tabexport.html?entityid=$id", $context)
					#end
				#end
				
				#if($entitytabopen == "activityhistory")
					#if(!$ismulti)
						#set($tabtype= "tabactivityhistory")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "activityhistory")
						$context.putPageValue("viewid", "activityhistory")
						$pages.include("$componenthome/gridsample/preview/tabactivityhistory.html?entityid=$id", $context)
					#end
				#end
					
				#if(!$hidefilestab && $entitytabopen == "media" && $module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
					#if(!$ismulti)
						$context.putPageValue("parentsearchtype", $parentsearchtype)
						#set($tabtype= "media")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "media")
						$pages.include("$apphome/views/modules/asset/components/gridsample/preview/entitytabmedia.html?entityid=$id", $context)
					#end
				#end
			#end
		</div>
	</div>
</div>


