
#if(!$searchtype)
	#set( $searchtype = $context.findValue("searchtype"))
	
	#if(!$searchtype)
		#set( $searchtype = $context.getRequestParameter("searchtype"))
	#end
#end
#set( $id = $context.getRequestParameter("id"))
#set( $module = $mediaarchive.getCachedData("module", $searchtype))

#if(!$moduleid)
	#set($moduleid = $module.getId())
#end

#if($id.startsWith("multiedit"))
	#set($name = "[[Multi Edit]] $!entity.getSelectedResults().size() [[Items]]")
	#set($targetentitytabid = "entity-tab-multiedit")
#else
	#if( !$entity)
		#set( $entity  = $mediaarchive.getData($searchtype, $id) )
	#end
	#if($moduleid == "faceprofilegroup")
		#set($name = $entity.name)
		#if($name)
			#set($name = "$!name ([[Profile]] $entity.facecounter)")
		#else	
			#set($name = "[[Profile]] $entity.facecounter")
		#end
	#else
		#if($entity.getName($context))
			#set($name = $!entity.getName($context))
		#else 
			#set($name = "[[Add New]]")
		#end
	#end
	#set($targetentitytabid = "entity-tab-#eid($id)")
#end
<div class="entity-tab  current-entity" data-entityid="$!entity.getId()">
<a href="#$!entity.getId()" 
	class="entity-tab-label" 
	data-toggle="tab" 
	data-target="$targetentitytabid"
	#if($id.startsWith("multiedit"))
	data-ismultiedit="true"
	#end 
	role="tab" 
	aria-controls="$targetentitytabid" 
	data-entityid="$!entity.getId()" 
	title="#esc($name)">
<span class="entity-tab-label-type">#text($module)\</span> #esc($name)</a>
<a href="#$!entity.getId()" class="entity-tab-close" data-entityid="$!entity.getId()" title="[[Close]]: $!entity.getName()"><i class="fas fa-times"></i></a>
</div>