#set($entityid = $context.getRequestParameter("entityid"))
#if(!$parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
$context.putPageValue("parentsearchtype", $parentsearchtype)
#if( !$entity)
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
<div id="tab_media" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
style=" #if($currenttab != 'tab_media') display:none; #end"
data-tabid="tab_media"
data-entityid="$!entityid"
data-currenttab="$!currenttab"
data-parentsearchtype="$!parentsearchtype"
data-url="$componenthome/gridsample/preview/entitytabmedia.html"
#if($hidesubmodule) style="display: none; #end">
<div id="$!submodulepickerid" class="submodulepicker entity-tab-content" style="border-bottom:1px solid #252e3c">
	
	##Display Full Media
	##if($topmodule.enableuploading == true)
		
		#ifnull($defaultfolder)
			#ifnull($entity)
				#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolderForModule($topmodule, $context.getUser()))
			#end
			
			#ifnotnull($entity)
				#if($topmodule.getId()=="faceprofilegroup")
					#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolderForModule($topmodule, $context.getUser()))		
				#else
					#set($defaultfolder =  $mediaarchive.getBean("entityManager").createDefaultFolder($entity, $context.getUser()))
				#end
			#end
		#end
		$context.putPageValue("defaultfolder", $defaultfolder)
		#if(!$currentcategoryid && $defaultfolder)
			#set( $currentcategoryid = $defaultfolder.getId())
			$context.putPageValue("categoryid", $currentcategoryid)
		#end
		
		$context.putPageValue("embedmediadialogid", "entity")
		$pages.include("$apphome/views/modules/asset/indexembed.html", $context)
	##end
	
	<div class="clearfix"></div>
</div>
</div>


