#set( $searchtype = $context.findValue("searchtype"))
#set( $parentsearchtype = $searchtype)
#set( $id = $context.getRequestParameter("id"))
$context.putPageValue("parentsearchtype", $parentsearchtype)
$context.putPageValue("parentid", $id)

#ifnull($id)
	#set( $id = $context.getRequestParameter("entityid"))
	$context.putPageValue("id", $id)
#end

#set( $ismulti = $id.startsWith("multiedit:") || $context.getRequestParameter("multi") == "true")
$context.putPageValue("ismulti", $ismulti)
#if($ismulti)

#else
	#if( !$entity && $id)
		#set( $entity  = $mediaarchive.getData($searchtype, $id) )
	#end
	#if($entity)
		#set($entityid = $entity.id)
		$context.putPageValue("entity", $entity)
		$context.putPageValue("entityid", $entityid)
		
		##Publishing (Gallery)
		#set($canpublishing = $entity.get("enablepublishing"))
	#end
#end

#set($module = $mediaarchive.getData("module", $searchtype))
#set($moduleid = $module.getId())
$context.putPageValue("moduleid", $moduleid)
$context.putPageValue("topmoduleid", $moduleid)

#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set($enttiyviews = $viewsearcher.query().exact("moduleid", $moduleid).exact("systemdefined","false").sort("orderingUp").search($context) )
#set($firstviewid = $enttiyviews.first().getId())

#set($userentities = $userprofile.getEntitiesIds())

#set($dialogtabid = "${moduleid}$!{entityid}")

#set( $viewfiles = $context.getRequestParameter("viewfiles"))
#set( $addnew = $context.getRequestParameter("addnew"))

#set($entitytabopen = "")

#if ($addnew)
	#set($entitytabopen = $firstviewid)
	#set($dialogtabid = "addnew${moduleid}")
#end

#if(!$entitytabopen)
	#set( $entitytabopen = $context.getRequestParameter("entitytabopen"))
#end

#if(!$entitytabopen)
	#set( $entitytabopen = $userprofile.get("${moduleid}_entitytabopen"))
#end
#if(!$entitytabopen && $viewfiles)
	#set($entitytabopen = "media")
#end
##default to (Data)General tab if not media allowed
#if($entitytabopen == 'media')
	#if(!$module.getBoolean("enableuploading") || !$permissions.can($moduleid, "view_files"))
		#set($entitytabopen = "")
	#end
#end

#if($entitytabopen == "publishing" && $canpublishing!="true")
	#set($entitytabopen = "")
#end

#if(!$entitytabopen || $entitytabopen.equals("undefined"))
	#set( $entitytabopen = "")
#end
##default to frist if not submodules (view) exists in this Entity
#if($ismulti || !$entitytabopen)
	#set($entitytabopen = $firstviewid)
#end

#set( $enablebackbutton = $context.getRequestParameter("enablebackbutton"))

#if($moduleid && $entityid)
	#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
	$context.putPageValue("defaultfolder", $defaultfolder)
#end

<div class="entitydialog #if($enablebackbutton || $addnew) enablebackbtn #end"
	id="#eid($!dialogtabid)" 
	data-moduleid="$moduleid" 
	data-entityid="$!entityid" 
	data-oemaxlevel="1"
	data-url="$componenthome/gridsample/preview/entity.html"
	#if($entity)
		data-setpagetitle="#text($entity)"
	#else
		data-setpagetitle="[[Add New]]"
	#end
	>
	<div class="entity-wraper">
		<div class="entity-header d-flex align-items-center justify-content-between">
			<div class="d-flex align-items-center">
				<h2 class="d-flex align-items-center">
					<a href="#" id="backbtn#eid($!dialogtabid)" class="entitydialogback" style="display: none;">
						<i class="fas fa-arrow-left"></i>
					</a>
					
					#if ($module.moduleicon)
						#set($moduleicon = $module.moduleicon)
					#end
					#ifnull($moduleicon)
						#set($moduleicon = "grid")
					#end
					<i class="bi bi-${moduleicon} module-icon"></i> 
					#text($module) <i class="bi bi-chevron-right mx-1" style="transform: scale(0.8);"></i> 
					#if($moduleid == "faceprofilegroup")
						#if($entity.entitypeople)
							#set($name = $searcherManager.getValue($searcher, $entity, "name"))
							#set($name = "[[Profile]] $name")
						#else
							#set($name = "$entity.samplecount")
						#end
						#text($name)
					#else
						#if($ismulti)
							[[Multi Edit]] $!entity.getSelectedResults().size() [[Items]]		
						#else	
							#if($entity.getName($context))
								#set($name = $!entity.getName($context))
							#else 
								#if($addnew=='true')
									#set($name = "[[Add New]]")	
									$context.putPageValue("addnew", $addnew)
								#end
							#end
							#text($name)	
						#end
					#end
				</h2>
				
				
				#if(!$ismulti)
				
					
					<div class="entity-actions-bar">

						$context.putPageValue("itemid", $entity.id)
						$pages.include("$componenthome/gridsample/favorites.html?id=$entity.id&moduleid=$moduleid", $context)
						
					</div>
				#end
			</div>

			##<span class="text-white">$hits.indexOfId($entity.getId())</span>
			
			
			<div class="d-flex entity-actions-bar align-items-center text-white">
				
				<a href="$applink/views/modules/$moduleid/components/gridsample/preview/tabimport.html"
						class='btn btn-sm btn-brand entitytabactions tabactionimport #if($entitytabopen=="import")enabledaction #end '
						data-tabaction="import"
						data-viewid="import"
						data-tabtype="tabimport" 
						data-entityid="$!entity.getId()" 
						data-topmoduleid="$!moduleid"
						data-moduleid="$!moduleid"
						title="[[Import]] #text($module) "><i class="bi bi-download"></i> &nbsp;[[Import]]</a>
						
				<a href="$applink/views/modules/$moduleid/publishing/enablepublishing.html"
						class="btn btn-sm btn-brand"
						data-updateurl="false"
						data-closedialog="true"
						data-entityid="$!entityid"
						data-moduleid="$moduleid"
						title="[[Publish]] #text($module) "><i class="bi bi-share"></i> &nbsp;[[Export]]</a>
						
						##href="$applink/views/modules/$moduleid/edit/editdialog.html?id=${entityid}&viewid=entitypermissions"
				
				#if($permissions.can($moduleid, "publishinggallery") && $entityid && $canpublishing)
					#if($publishing && $publishing.get("enabled") == true)
						#set($enabledpublishing = true)
					#end
					
					<a href="$applink/views/modules/$moduleid/publishing/enablepublishing.html"
						class=' btn btn-sm btn-brand entitytabactions tabactionpublishing #if($entitytabopen=="publishing")enabledaction #end #if($enabledpublishing) statusenabled #end'
						data-tabaction="publishing"
						data-updateurl="false"
						data-closedialog="true"
						data-entityid="$!entityid"
						data-moduleid="$moduleid"
						title="[[Gallery]] #text($module) "><i class="bi bi-grid"></i> [[Gallery]]
						<i class="bi bi-check-circle-fill tabactivitystatus"></i>
						</a>
						
				#end
						
						
						
				#if($entityhits && $entityhits.size() > 1)
					#set( $index = $entityhits.indexOfId($entity.getId()))
					#set( $previous = false )
					#set( $previous = $entityhits.previous($index))
					#set( $next = false )
					#set( $next = $!entityhits.next($index))
						<div class="d-flex align-items-center entity-navigator">
							#if($previous)
							<a class="text-white btn btn-sm btn-brand mr-1 emdialog" 
								href="$componenthome/gridsample/preview/entity.html?id=$previous.getId()"
								data-hitssessionid="$entityhits.getSessionId()"
								title="#text($previous)">
								<i class="bi bi-caret-left-fill"></i> <span>[[Prev]]</span>
							</a>
							#end
							#if($next)
							<a class="text-white btn btn-sm btn-brand ml-1 emdialog"  
								href="$componenthome/gridsample/preview/entity.html?id=$next.getId()"
								data-hitssessionid="$entityhits.getSessionId()" 
								title="#text($next)">
								<span>[[Next]]</span> <i class="bi bi-caret-right-fill"></i>
							</a>
							#end
						</div>
					#end
				<div class="entityclose ml-3 text-white btn btn-sm btn-brand">
					<span title="[[Esc to Close]]" class="bi bi-x-lg" style="transform: scale(1.5);"></span>
				</div>
			</div>
			
		</div>
		<nav>
			<div class="nav nav-tabs entity-navigation" id="entity-nav-tab" role="tablist" 
				data-tabmenuurl="gridsample/preview/entitytabmenu.html">

				#ifnull($id)
					#set( $viewid = $firstviewid)
					$context.putPageValue("viewid", $viewid)
					#set( $viewdata = $viewsearcher.searchById($viewid))
					$context.putPageValue("viewdata", $viewdata)
					#set($entitytabopen = $firstviewid)
					$context.putPageValue("currenttab", $entitytabopen)
					$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
				#end
				#ifnotnull($id)  
					#if($enttiyviews)		
						$context.putPageValue("currenttab", $entitytabopen)
						#foreach( $targetview in $enttiyviews)
							#set( $viewid = $targetview.getId())
							$context.putPageValue("viewid", $viewid)
							#set( $viewdata = $viewsearcher.searchById($viewid))
							$context.putPageValue("viewdata", $viewdata)
							
							#set($tabid = "tab_${viewid}")
							
							#if($targetview.rendertype=="table")
								#if(!$ismulti)
									#set( $subentitysearchtype = $viewdata.rendertable )
									#ifnotnull($subentitysearchtype)
										##Permission check
										##$subentitysearchtype $userentities.contains($subentitysearchtype)
										#if($userentities.contains($subentitysearchtype))
											#set($submodule = $mediaarchive.getCachedData("module", $viewdata.rendertable))
											$context.putPageValue("tabmodule", $submodule)
											#set($tabtype= "tabsubmodulehome")
											$context.putPageValue("tabtype", $tabtype)
											#set($subcomponenthome = "$apphome/views/modules/$subentitysearchtype/components")
											$pages.include("$subcomponenthome/gridsample/preview/entitytabmenu.html", $context)
										#end
									#end
								#end
							#else
								####Other Tabs
								
									#set($tabtype= "entitytab")
									#ifnotnull($targetview.rendertype)
										#set($tabtype= $targetview.rendertype)
									#end
									
									#if($tabtype=="default")
										#set($tabtype= "entitytab")
									#end
									
									$context.putPageValue("tabmodule", $module)
									$context.putPageValue("tabtype", $tabtype)
									
									$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
								
							#end
						#end
					#end	
				#end
				
				#ifnotnull($id)
					#if(!$ismulti)
					
						
						##media tab
						#if($module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
							#set($submodule = $mediaarchive.getCachedData("module", "asset"))
							$context.putPageValue("tabmodule", $submodule)
							$context.putPageValue("tabtype", "entitytabmedia")
							#set($tabid = "tab_media")
							$context.putPageValue("tabid", $tabid)
							#if($entitytabopen == "media")
								$context.putPageValue("currenttab", $entitytabopen)
							#end
							#set($subcomponenthome = "$apphome/views/modules/asset/components")
							$pages.include("$subcomponenthome/gridsample/preview/entitytabmenu.html", $context)
						#end
						
						##publishing import
						#if($entitytabopen == "import")
							##permissions here
							#set($tabtype= "tabimport")
							$context.putPageValue("tabtype", $tabtype)
							#set($tabid = "tab_import")
							$context.putPageValue("tabid", $tabid)
							$context.putPageValue("currenttab", $entitytabopen)
									
							$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
						#end
						##publishing tab
						#if($entitytabopen == "publishing")
							##permissions here
							#set($tabtype= "tabpublishing")
							$context.putPageValue("tabtype", $tabtype)
							#set($tabid = "tab_publishing")
							$context.putPageValue("tabid", $tabid)
							$context.putPageValue("currenttab", $entitytabopen)
									
							$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
						#end	
						
					#end
				#end	
			</div>
		</nav>
		
		<div class="tab-content entity-body" id="entity-nav-tabContent">
			#ifnull($id)
				$context.putPageValue("viewid", $firstview)
				#set($entitytabopen = $firstviewid)
				$context.putPageValue("currenttab", $entitytabopen)
				
				$pages.include("$componenthome/gridsample/preview/entitytab.html", $context)
			#end
			#ifnotnull($id)
				#if($enttiyviews && $entitytabopen  != "media"  && $entitytabopen  != "publishing"  && $entitytabopen  != "import")		
						#set( $viewid = $entitytabopen)
						#set( $targetview = $viewsearcher.searchById($viewid))
						
						$context.putPageValue("viewid", $viewid)
						
						#set($tabid = "tab_${viewid}")
						#if($entitytabopen.equals($viewid))
							$context.putPageValue("currenttab", $viewid)
							$context.putPageValue("hidesubmodule", false)
						#end
						
						#set($tabtype= $targetview.rendertype)
						
						#if($tabtype == "table")
							#if(!$ismulti)
								#set($tabtype= "tabsubmodulehome")
								$context.putPageValue("tabtype", $tabtype)
								#set( $viewdata = $viewsearcher.searchById($viewid))
								#set( $subentitysearchtype = $viewdata.rendertable )
								##Permission check
								#if($userentities.contains($subentitysearchtype))
									#set($subcomponenthome = "$apphome/views/modules/${subentitysearchtype}/components")
									$pages.include("$subcomponenthome/gridsample/preview/tabsubmodulehome.html", $context)
								#end
							#end
						#else
							#ifnotnull($targetview.rendertype)
								#set($tabtype= $targetview.rendertype)
							#end
							#if(!$tabtype || $tabtype=="default")
								#set($tabtype= "entitytab")
							#end
							
							$context.putPageValue("tabtype", $tabtype)

							$pages.include("$componenthome/gridsample/preview/${tabtype}.html", $context)

						#end
				#end
				

				
				#if($entitytabopen == "import" && $canpublishing == "true")
					#if(!$ismulti)
						#set($tabtype= "tabimport")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "import")
						$context.putPageValue("viewid", "import")
						$pages.include("$subcomponenthome/gridsample/preview/tabimport.html?entityid=$id", $context)
					#end
				#end
					
				#if( $entitytabopen == "media" && $module.getBoolean("enableuploading") && $permissions.can($moduleid, "view_files"))
					#if(!$ismulti)
						$context.putPageValue("parentsearchtype", $parentsearchtype)
						#set($tabtype= "media")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "media")
						$pages.include("$subcomponenthome/gridsample/preview/entitytabmedia.html?entityid=$id", $context)
					#end
				#end
				
				
				#if($entitytabopen == "publishing" && $canpublishing == "true")
					#if(!$ismulti)
						#set($tabtype= "tabpublishing")
						$context.putPageValue("tabtype", $tabtype)
						$context.putPageValue("currenttab", "publishing")
						$context.putPageValue("viewid", "publishing")
						$pages.include("$subcomponenthome/gridsample/preview/tabpublishing.html?entityid=$id", $context)
					#end
				#end
			#end
		</div>
	</div>
</div>


