#set( $searchtype = $context.findValue("module")) 

#if(!$searchtype)
	#set( $searchtype = $context.findValue("searchtype")) 
#end
#if(!$searchtype)
	#set($searchtype = $context.getRequestParameter("searchtype")) 
#end

#set( $id = $context.getRequestParameter("id"))

##ifnotnull($id)

#if($id.startsWith("multiedit"))
	#set($entityid = $entity.id)
	#set($entitytabid = "entity-tab-multiedit")
#else
	#if(!$entity)
		#set( $entity  = $mediaarchive.getData($searchtype, $id) )
	#end
	#set($entityid = $entity.id)
	$context.putPageValue("entity", $entity)
	#if(!$id)
		#set($id= $entity.id)
	#end
	#if(!$id)
		#set($id= "")
	#end
#end
#set($module = $mediaarchive.getData("module", $searchtype))
#set($moduleid = $module.getId())

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#if(!$entitytabid)
	#set($entitytabid = "${module.getId()}$!{entityid}")
	#set($entitytabid = "#eid($entitytabid)")
#end

#set($edit = $context.getRequestParameter("edit"))
#if($edit!="true")
	#set($edit="false")
#end
$context.putPageValue("edit", $edit)

#set($entityid = $entity.id)
#ifnull($entityid)
	#set($entityid = "")
#end

#ifnull($showmedia)
	#set($showmedia = $context.getRequestParameter("showmedia"))
#end
$context.putPageValue("showmedia", $showmedia)
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end

#ifnull($viewid)
#set($viewid = $context.getRequestParameter("viewid"))
#end

#set($tabid = $context.getRequestParameter("tabid"))
#ifnull($tabid)
	#set($tabid = "tab_$viewid")
#end

<div id="$tabid"
	class="#eid($entityid)tab-content reloadonupload entity-tab-content tabtype$!tabtype"
	style=" #if($currenttab != $tabid) display:none; #end" 
	data-id="$!entity.id" 
	data-tabtype="metadata"
	data-tabid="$tabid"
	data-viewid="$viewid"
	data-currenttab="$!currenttab"
	data-searchtype="$searchtype"
	data-autoreloadevents="uploadend"
	data-url="$componenthome/gridsample/preview/entitytab.html">
	
	
	
	<div class="entity-metadata #if($module.enableuploading == true) Zentity-metadata-withmedia #end" 
		id="entitymetadata" data-id="$!entity.getId()" data-searchtype="$!searchtype">
		$context.putPageValue("id", $entityid)
		$context.putPageValue("data", $entity)
		$context.putPageValue("searchtype", $searchtype)
		$pages.include("$componenthome/gridsample/preview/metadata.html", $context)
	</div>
	<div class="clearfix"></div>
	
	#if($moduleid && $entityid)
			#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
			$context.putPageValue("defaultfolder", $defaultfolder)
	#end

		
	<div class="entity-actions-bar">
		##if($canviewsettings && $entityid)
		##<span >Id: $entityid</span>
		##end
		
		$context.putPageValue("itemid", $entity.id)
		$pages.include("$componenthome/gridsample/favorites.html?id=$entity.id&moduleid=$moduleid", $context)
		
		#ifnotnull($defaultfolder)
			
			#if($permissions.can($moduleid, "share"))
			<a href="$applink/components/share/entity.html?moduleid=$moduleid&categoryid=${defaultfolder.getId()}" 
			class="emdialog"
			data-dialogid="entitysharedialog"
			data-hidefooter="true"
			title="[[Share]] #text($entity.name)"><i class="fas fa-share-alt"></i></a>
			#end
			
			#if($canviewsettings)
			<a href="$applink/views/modules/$moduleid/edit/editdialog.html?id=${entityid}&viewid=entitypermissions"
				class="emdialog"
				data-hidefooter="true"
				data-dialogid="entitypermissionsdialog"
				title="#text($module)\ #text($entity) [[Permissions]]"><i class="fas fa-user-lock"></i></a>
				
				
			<a href="$applink/views/settings/modules/$moduleid/info/module-setup.html"
				class="ajax"
				data-targetdiv="applicationcontainer"
				data-oemaxlevel="5"
				data-updateurl="true"
				data-closedialog="true"
				data-sidebarcomponent="settings"
				title="#text($module) [[Properties]]"><i class="fas fa-cog"></i></a>
			#end
			
			#set($link = "$applink/views/modules/asset/viewfiles/${defaultfolder.getId()}/#dash($entity.name).html")
			<a href="$link" 			
				class="btn-sm btn-blue entity-add-media ajax"
				data-targetdiv="applicationcontent"
				data-sidebarcomponent="categories"
				data-updateurl="true"
				data-oemaxlevel="5"
				data-closedialog="true"
				title="[[View Media]]">
			<i class="fas fa-external-link-alt"></i> [[View Media]]</a>
		
		#end
		
		
		
	</div>


</div>

##end