#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end

#set($module = $mediaarchive.getData("module", $searchtype))
#set($entityid = $entity.id)
#set($moduleid = $module.getId())

$context.putPageValue("entity", $entity)

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#set($facemanager = $mediaarchive.getBean("faceDetectManager") )
#set($name = $entity.name)

#if(!$name)
	#set($name = "[[Unknown Profile]]")
#end
<div class="entity-wraper">	
	<nav>
  	<div class="nav nav-tabs entity-navigation" id="entity-nav-tab" role="tablist"  data-tabmenuurl="$componenthome/gridsample/preview/entitytabmenu.html">
  	
  		$context.putPageValue("tabmodule", $module)
  		#set($tabid = "tab_metadata")
		#set($tabtype= "metadata")
		$context.putPageValue("tabtype", $tabtype)
		
		#if(!$entitytabopen || $entitytabopen == $tabid)
  			$context.putPageValue("currenttab", $tabid)
		#end
			
			
		$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
		
	</div>
	</nav>
	
	<div class="tab-content entity-body" id="entity-nav-tabContent">
		
		$pages.include("$componenthome/gridsample/preview/faceprofilegrouptab.html", $context)
		
	</div>
</div>