#set($searchtype = $context.getRequestParameter("searchtype"))
#if(!$searchtype)
	#set( $searchtype = $context.findValue("module"))
#end
#if(!$searchtype)
	#set( $searchtype = $context.findValue("searchtype"))
#end

#set( $id = $context.getRequestParameter("id"))
#set($entityid = $id)

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end
#set($entityid = $entity.id)
$context.putPageValue("entity", $entity)
#set($module = $mediaarchive.getData("module", $searchtype))
#set($moduleid = $module.getId())

$context.putPageValue("entity", $entity)
$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#if(!$id)
#set($id= $entity.id)
#end
#if(!$id)
#set($id= "")
#end

#set($edit = $context.getRequestParameter("edit"))
#if($edit!="true")
	#set($edit="false")
#end
$context.putPageValue("edit", $edit)

<div id="entity-tab-#eid($id)" 
		class="entity-tab-content entity-faceprofile-tab ajaxautoreload" 
		data-id="$!entity.id" 
		data-searchtype="$searchtype"
		data-url="$componenthome/gridsample/preview/faceprofilegrouptab.html">
	
		<div class="entity-metadata entity-metadata-faceprofile entity-metadata-withmedia ">
		
			$context.putPageValue("data", $entity)
			$context.putPageValue("searchtype", $searchtype)
			$pages.include("metadata.html", $context)
			
		
		</div>
		<div class="entity-media-faceprofile ">
			#set($facemanager = $mediaarchive.getBean("faceProfileManager") )		
			#set($assetsshown = 5)
			##set( $assetshits = $facemanager.searchForAssets($mediaarchive,$entityid) )
			
			
			$context.putPageValue("assetshits", $assetshits)
			$context.putPageValue("fullview",true)
			$context.putPageValue("thumbsize", "small" )
			
			#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact("faceprofiles.faceprofilegroup", $entityid).sort("assetaddeddateDown").search() )		
			
			
			#set( $primaryimage = $entity.primaryimage ) ##primaryimage
			#if($assetshits.size() > 0)
			<h3>[[Media]]</h3>
			
			#foreach($hit in $assetshits.getPageOfHits())
				#set($imagelocation = $facemanager.getImageAndLocationForGroup($hit,$entityid,240,240) )
					##/views/modules/asset/downloads/preview/crop/Albums/Users/admin/2021/axevnr20130110ensd_2.mp4/thumb.jpg?timeoffset=18.0&assetid=AXvggdnE8BvxpXRSMb13
					##http://localhost:8080/finder/mediadb/services/module/asset/downloads/preset/Albums/Users/admin/2021/54888538ecad0490488b456b-750-536_5.jpg/image200x200.jpg
					###set($link = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/$hit.sourcepath/image550x350.jpg?timeoffset=$imagelocation.timecodestartseconds")
					#set($link = $mediaarchive.asLinkToPreview($hit, "image550x350.jpg"))
			 
			 		#if($imagelocation.timecodestartseconds > -1)
						 #set($link = "$link?timeoffset=$imagelocation.timecodestartseconds")
			 		#end
			 ##TODO get offset for video
			 	<div class="faceprofile-attachedmedia  #if($primaryimage==$hit.id) grid-isprimaryimage #end">
				<div class=" " data-assetid="$hit.getId()" > 
				 	<a class="stackedplayer imagearea" data-assetid="$hit.getId()"  href="#" title="$hit.name">
					<div class="emshowbox" 
						data-faceprofilegroup="$entityid" 
						data-showbox="$imagelocation.locationxy"
						data-imagewidth="240"
						data-imageheight="240">
						<img class="imagethumb" style="width:240px" border="0"  data-assetid="$hit.getId()" alt="$hit.getName()" draggable="true" 
						data-sourcepath="$hit.getSourcePath()"  src="$!link">
					</div>
					</a>
					
				</div>
					#if($primaryimage!=$hit.id)
					<div class="grid-makeprimary">
					<a href="$siteroot$applink/components/gridsample/preview/makeprimaryimage.html?assetid=${hit.id}&entityid=$entityid&moduleid=${moduleid}"
						class="ajax"
						data-targetdivinner="entitydialog"
						data-oemaxlevel=""><i class="fas fa-image"></i> [[Make Primary Image]]</a>
					</div>
					#end
				</div>
			#end
			<div class="clearfix"></div>
			#end
		</div>
		#if($assetshits.size() > 0)
		
		#set($link = "$applink/views/modules/asset/search.html?field=faceprofiles.faceprofilegroup&faceprofiles.faceprofilegroup.value=$entityid&operation=exact")
		<div style="margin:0 10px 10px; height: 50px; font-size:0.8rem;">
		<a href="$link" 			
			class="btn-sm btn-blue entity-add-media hideonupload ajax"
			data-targetdiv="application"
			data-oemaxlevel="4"
			data-updateurl="true"
			data-closedialog="true"
			title="[[View Media]]">
		<i class="fas fa-images"></i> [[View Media]]</a>
		</div>
		#end
		<div class="clearfix"></div>
		</div>