#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $entity = $hits.findData("id",$id))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end
#set($module = $mediaarchive.getData("module", $searchtype))
#set($entityid = $entity.id)
#set($moduleid = $module.getId())

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#set($facemanager = $mediaarchive.getBean("faceDetectManager") )

<div class="modal-content modal-data-details modal-entity ${moduleid}-modal">
	<div class="modal-body">
		<div class="modal-close">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		</div>
		
		
		<div class="clearfix"></div>
		<div class="entity-media" style="width:240px;">
##		<h2 class="modal-title">
##			#set($name = $entity.name)
##			#if(!$name)
##				#set($name = "[[Unknown Profile]]")
##			#end
##			$name
##		</h2>
		
		#set($assetsshown = 4)
		#set( $assetshits = $facemanager.searchForAssets($mediaarchive,$entityid) )
		$!assetshits.setHitsPerPage($assetsshown)
		$context.putPageValue("assetshits", $assetshits)
		$context.putPageValue("fullview",true)
		$context.putPageValue("thumbsize", "small" )
		
		#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact("faceprofiles.faceprofilegroup", $entityid).sort("assetaddeddateDown").search() )		

#set($facemanager = $mediaarchive.getBean("faceDetectManager") )

	#foreach($hit in $assetshits)
		
		#set($link = $mediaarchive.asLinkToPreview($hit, "image200x200.jpg"))
		#set($locationxy = $facemanager.getImageAndLocationForGroup($hit,$entityid,200,200) )
	 
	 ##TODO get offset for video
	 ##TODO get array of images
	 
		<div class="assetdraggable ui-draggable ui-draggable-handle" data-assetid="$hit.getId()" > 
		 	<a class="stackedplayer imagearea" data-assetid="$hit.getId()"  href="#" title="$hit.name">
			<span class="emshowbox" data-faceprofilegroup="$entityid" data-showbox="$locationxy">
				<img class="imagethumb" style="width:200px" border="0"  data-assetid="$hit.getId()" alt="$hit.getName()" draggable="true" 
				data-sourcepath="$hit.getSourcePath()"    src="$link">
			</span>
			</a>
		</div>
	
	#end
		
		</div>
		<div class="entity-metadata">
			$context.putPageValue("data", $entity)
			$context.putPageValue("searchtype", $searchtype)
			$pages.include("metadata.html", $context)
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>