#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end

$context.putPageValue("data", $data)

#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details modal-insight ${ibmmodule.id}-modal">
	
<div class="modal-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>

<div class="modal-body modal-body-insight">

<div class="ibmpreview">

<h3 class="modal-insight-datatype"><img src="$apphome/theme/images/insights/icon_${ibmmodule.id}.svg"> $ibmmodule</h3>

<div class="modal-body-insight-header">
	<h2 class="modal-title">$!data.ibmtitle</h2>
</div>

#if($data.ibmchargeCode)<div class="insight-subheader"><span class="insight-projectnumber">$data.ibmchargeCode</span>#if($data.ibmstatus)  Status: $data.ibmstatus#end</div>#end

<div class="row insight-columns">
	<div class="col-md-7">
		#if ($data.ibmphonebookDisplayName)<h4>$!data.ibmphonebookDisplayName - Leader</h4>#end
		
		<h4>Period of Performance</h4>
		<p>
		#if($data.ibmstartDate) 
		#set($formateddate = $context.getDate($data.ibmstartDate))
  		#if(!$formateddate)
  			$data.ibmstartDate
  		#else
  			$formateddate
  		#end
		#end  
		#if($data.ibmendDate) - 
		#set($formateddate = $context.getDate($data.ibmendDate))
  		#if(!$formateddate)
  			$data.ibmendDate
  		#else
  			$formateddate
  		#end
		#end  
		</p>
		<p>
		[[Last updated]]: 
		#set($formateddate = $context.getDate($data.ibmsdl_date))
  		#if(!$formateddate)
  			$data.ibmsdl_date
  		#else
  			$formateddate
  		#end
		</p>
		
	</div>
	<div class="col-md-5">
	<h4>[[Project Details]]</h4>
	#if($data.ibmportfolios)<p><strong>Portfolio</strong></p>
	<p>
		#set ($portfolios = $data.ibmportfolios.split("\s*\,\s*"))
      	#foreach ($Name in $portfolios)
      		$Name<br>
      	#end
	</p>
	#end
	</div>
</div>
	
	$pages.include("$componenthome/gridsample/preview/tabs.html",$context)

	$pages.include("$componenthome/gridsample/preview/tags.html",$context)	
	
	$pages.include("$componenthome/gridsample/favorites.html?moduleid=$module.id&id=$data.id&searchtype=$searchtype", $context)
	
	#if($data.ibmproject_url)
		<div class="download-link float-right">
			<a href="$data.ibmproject_url" target="_blank">[[view project page]]</a>
		</div>
	#end

</div>
</div>
</div>