#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $data = $hits.findData("id",$id))

#if( !$data)
	#set( $data  = $mediaarchive.getData($searchtype,$id) )
#end

$context.putPageValue("data", $data)

#set($ibmmodule = $mediaarchive.getData("module", $searchtype))


<div class="modal-content modal-data-details modal-insight ${ibmmodule.id}-modal">
	
<div class="modal-close">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
</div>

<div class="modal-body modal-body-insight">

<div class="ibmpreview">

<h3 class="modal-insight-datatype"><img src="$apphome/theme/images/insights/icon_${ibmmodule.id}.svg"> $ibmmodule</h3>

<div class="modal-body-insight-header">
	<h2 class="modal-title">$!data.ibmtitle</h2>
</div>

<div class="insight-columns" >
	#if($data.ibmuploaded_by)<h4>$data.ibmuploaded_by - [[Uploader]]</h4>#end
	
	#if($data.ibmlast_modified)
	<p>[[Publication Date]]: 
		#set($formateddate = $context.getDate($data.ibmlast_modified))
  		#if(!$formateddate)
  			$data.ibmlast_modified
  		#else
  			$formateddate
  		#end </p>
	#end

</div>
	
	$pages.include("$componenthome/gridsample/preview/tabs.html",$context)

	$pages.include("$componenthome/gridsample/preview/tags.html",$context)
	
	$pages.include("$componenthome/gridsample/favorites.html?moduleid=$module.id&id=$data.id&searchtype=$searchtype", $context)
	
	
	#if($data.ibmdocument_url)<div class="float-right" target="_blank"><a href="$data.ibmdocument_url">[[download document]]</a></div>#end
</div>
</div>
</div>