#set($moduleid = "librarycollection")
$context.putPageValue("moduleid", $moduleid)

#set( $id = $context.getRequestParameter("id"))
#if(!$id)
	#set( $id = $context.getRequestParameter("collectionid"))
#end

#set( $id = $context.getRequestParameter("id"))

#if($id.startsWith("multiedit"))
	
	#set($entitytabid = "entity-tab-multiedit")
#else
	#set($entityid = $id)
	#set($entitytabid = "entity-tab-#eid($id)")
	
	#set( $librarycol = $mediaarchive.getData("librarycollection",$id))
	$context.putPageValue("librarycol", $librarycol)
	$context.putPageValue("entity", $librarycol)
	
	#set($rootcategory = $librarycol.rootcategory)
	$context.putPageValue("rootcategory", $rootcategory)
#end


<div id="$entitytabid" 
	class="entity-tab-content #eid($entityid)tab-content" 
	data-id="$!entityid" 
	data-searchtype="$!moduleid"
	data-autoreloadevents="uploadstart"
	data-url="$componenthome/gridsample/preview/librarycollectiontab.html">
		<div class="entity-metadata #if($module.enableuploading == true) entity-metadata-withmedia #end" id="entitymetadata" data-id="$!entity.getId()" data-searchtype="$!searchtype">
			
			$context.putPageValue("data", $entity)
			$context.putPageValue("searchtype", $moduleid)
			$pages.include("metadata.html", $context)
			
			
			#if($canviewsettings)
			<div class="entityidfooter">Id: $entityid</div>
			#end
		</div>
		#if($module.enableuploading == true)
		<div class="entity-media">
		
		
		<div class="entity-media">
		#if($entityid)
			
			$pages.include("$componenthome/categories/entities/listcategories.html",$context)
			
			
			$pages.include("$componenthome/gridsample/preview/media/listassets.html",$context)
			
			#end
		</div>
		</div>
		#end
		<div class="clearfix"></div>
</div>


