#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#if(!$id)
	#set( $id = $context.getRequestParameter("collectionid"))
#end

#set($entityid = $id)
$context.putPageValue("entityid", $entityid)

#set( $librarycol = $mediaarchive.getData("librarycollection",$id))
$context.putPageValue("librarycol", $librarycol)

#set($rootcategory = $librarycol.rootcategory)
$context.putPageValue("rootcategory", $rootcategory)

#set($moduleid = "librarycollection")
$context.putPageValue("moduleid", $moduleid)


<div class="entity-wraper">	
	<nav>
  	<div class="nav nav-tabs entity-navigation" id="entity-nav-tab" role="tablist"  data-tabmenuurl="$componenthome/gridsample/preview/entitytabmenu.html">
		$pages.include("$componenthome/gridsample/preview/entitytabmenu.html", $context)
		
	</div>
	</nav>
		<div class="tab-content entity-body" id="entity-nav-tabContent">
			
			$pages.include("$componenthome/gridsample/preview/librarycollectiontab.html", $context)
	
	</div>
</div>