#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
#set( $entity = $hits.findData("id", $id))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end
#set($module = $mediaarchive.getData("module", $searchtype))
#set($entityid = $entity.id)
#set($moduleid = $module.getId())

#set( $rootcategory = $context.getRequestParameter("rootcategory"))

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

<div class="modal-content modal-data-details modal-entity ${module.id}-modal">
	<div class="modal-body">
		<div class="modal-close">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		</div>
		
		
		<div class="clearfix"></div>
		<div class="entity-media">
		<h2 class="modal-title">$entity.name</h2>
		
		#set($assetsshown = 15)
		#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).sort("assetaddeddateDown").search() )
		$context.putPageValue("assetshits", $assetshits)
		$context.putPageValue("fullview",true)
		$pages.include("$componenthome/gridsample/attachedmedia.html",$context)
		</div>
		<div class="entity-metadata">
			$context.putPageValue("data", $entity)
			$context.putPageValue("searchtype", $searchtype)
			$pages.include("metadata.html", $context)
			
		</div>
		<div class="clearfix"></div>
	</div>
</div>