#if(!$moduleid)
	#set($moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$entityid)
	#set($entityid = $context.getRequestParameter("entityid"))
#end
#if($moduleid && $entityid)
	#set($entity = $mediaarchive.getCachedData($moduleid, $entityid))
#end

#set($module = $mediaarchive.getCachedData("module", $moduleid))
#set($rendertype = $module.modulerendertype)
#if (!$rendertype)
	#set($rendertype = "entity")
#end

$pages.include("$componenthome/gridsample/preview/${rendertype}.html?id=$entityid&searchtype=$moduleid", $context)