#set( $id = $context.getRequestParameter("id"))
#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $searcher = $mediaarchive.getSearcher($searchtype) )
$context.putPageValue("searcher",$searcher)

#if(!$moduleid)
	#set($moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$moduleid)
	#set($moduleid = $searchtype)
#end

##if($id)

#set( $data  = $mediaarchive.getData($searchtype, $id) )

$context.putPageValue("data",$data)


<div id="editentitymetadata" class="entitymetadatamodal" data-id="$!id">


#set($edit = $context.getRequestParameter("edit"))
#if($edit!="true")
	#set($edit="false")
#end

#set($viewid = "${searchtype}general")
#set($view = "$searchtype/$viewid")

#set($action = "$siteroot$applink/components/gridsample/preview/metadata-save.html")

<form id="entitydataeditor" 
		name="entitydataeditor" 
		class="ajaxform force-validate-inputs" 
		data-targetdiv="editentitymetadata" 
		data-onsuccess="updateentities"
		method="post"  
		action="$action"
		enctype="multipart/form-data">
    	<input name="save" type="hidden" value="true" />
    	<input name="id" type="hidden" value="$!id" />
    	<input name="searchtype" type="hidden" value="$searchtype" />
    	<input name="moduleid" type="hidden" value="$moduleid" />
    	<input name="viewid" type="hidden" value="$viewid" />
    	<input name="view" type="hidden" value="$view" />
    	<input name="hitssessionid" type="hidden" value="$!hits.sessionId" />

    	
    	$context.putPageValue("view", $view)
    	$context.putPageValue("viewid", $viewid)
    	
		#if($edit =="true")  ##TODO - Permissions
			##1 or 2 colums feature
			#set($detailviewercolumns = $context.getRequestParameter("detailviewercolumns"))
			#if(!$detailviewercolumns)
				#set($detailviewercolumns = 2)
			#end
		
			$pages.include("/$applicationid/components/xml/detaileditor-entities.html?longform=true&detailviewercolumns=$detailviewercolumns", $context)
		#else
			##Tags search link
			$context.putPageValue("tagssearchlink", "$siteroot$apphome/views/modules/$moduleid/index.html")
		
			$pages.include("$apphome/components/xml/detaileditor-entities.html?detailsreadonly=true&alwaysshow=true", $context)
		#end
	
    #if($edit=="true")
    <div class="btns">
	    <a class="btn btn-sm btn-dark submitform" style="margin-right: 10px;">[[Save]]</a>
	    
		#if($id) 
			<a class="btn btn-sm btn-dark ajax" style="margin-right: 10px;" data-targetdiv="editentitymetadata" href="$siteroot$apphome/components/gridsample/preview/metadata.html?id=$!id&searchtype=$!searchtype&moduleid=$!moduleid">[[Cancel]]</a>
		#else
			<button id="closebutton" style="margin-right: 10px;"  type="button" class="btn btn-sm btn-dark" data-dismiss="modal">[[Cancel]]</button>
		#end
		
		#if($detailviewercolumns==1)
			#set($changedetailviewercolumns = 2)
			#set($icondetailviewercolumns = "grip-vertical")
		#else
			#set($changedetailviewercolumns = 1)
			#set($icondetailviewercolumns = "grip-horizontal")
		#end
		<a class="ajax btn btn-sm btn-darkless float-right" data-targetdiv="applicationcontent" data-updateurl="true" data-closedialog="true" data-oemaxlayout="2" href="$siteroot$apphome/views/settings/modules/${searcher.searchType}/metadata/views/index.html?viewid=$viewid&viewpath=$!view&moduleid=$!moduleid"><i class="fas fa-cog"></i> [[Fields]]</a>
		<a class="ajax btn btn-sm btn-darkless float-right" style="margin-right:5px;" data-targetdiv="editentitymetadata" href="$siteroot$apphome/components/gridsample/preview/metadata.html?edit=true&id=$data.id&searchtype=$searchtype&detailviewercolumns=$changedetailviewercolumns&moduleid=$!moduleid">
			<i class="fas fa-$icondetailviewercolumns"></i>
		</a>
		
	    <div class="clearfix"></div>
    </div>
    #end
    </form>

#if($edit!="true")
##<a href="$siteroot$apphome/views/modules/$!{searchtype}/edit/edit.html?edit=true&id=$data.id" data-oemaxlevel="3" data-targetdivinner="applicationmaincontent" data-closedialog="true" data-updateurl="true" class="ajax btn btn-dark"><i class="fas fa-edit"></i> [[Edit]]</a>
<a href="$siteroot$apphome/components/gridsample/preview/metadata.html?edit=true&id=$data.id&searchtype=$searchtype&moduleid=$!moduleid" data-targetdiv="editentitymetadata" class="ajax btn btn-dark"><i class="fas fa-edit"></i> [[Edit]]</a>
<a href="$siteroot$apphome/components/entities/delete.html?id=$data.id&searchtype=$searchtype" class="ajax btn btn-dark" data-targetdiv="editentitymetadata" data-closedialog="true" data-confirm="[[Are you sure]]?" style="margin-left:10px;"><i class="fas fa-trash"></i> [[Delete]]</a>
#end


##SUB-Modules

#set($fieldexternalid = $context.getRequestParameter("fieldexternalid"))
#if($fieldexternalid)
	#set($fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))
	#if($fieldexternalvalue)
		$context.putPageValue("${fieldexternalid}.value",$fieldexternalvalue)
	#end
#end


#set( $parentsearchtype = $searchtype)

#if($edit && $edit !="true" && $moduleid) 
	#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
	#set($views = $viewsearcher.query().exact("moduleid",$moduleid).exact("systemdefined","false").not("id",$viewid).sort("orderingUp").search($context) )
	#if($views)		
		#foreach( $targetview in $views)
			#if($targetview.getId())
				#set( $targetviewid = $targetview.getId())
				#set( $targetviewpath = "${parentsearchtype}/"+$targetview.getId())
				#set( $viewdata = $viewsearcher.searchById($targetviewid))
				
				#set( $searchtype = $viewdata.rendertable )
				#set( $fieldexternalid = $viewdata.renderexternalid)
				#set( $fieldexternalvalue = $id )
				
				#set( $permissionname = "canedit${searchtype}")
				#set( $parentid = $context.getRequestParameter("parentid"))
				
				
				#set( $joinsearcher = $searcherManager.getSearcher($catalogid, $searchtype))
				#set ($query = $joinsearcher.createSearchQuery().append($fieldexternalid, $fieldexternalvalue) )
				#set( $existingrecords = $joinsearcher.search($query) )
				
				
				#set($targetmodule = $mediaarchive.getCachedData("module", $viewdata.rendertable)) 
				#set($targetrendertype = $targetmodule.modulerendertype)
				#if(!$targetrendertype)
					#set($targetrendertype = "entity")
				#end
		
				##set( $args = "id=$id&candelete=$!candelete&parentid=$!parentid&catalogid=$!catalogid&searchtype=$!searchtype&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&viewid=$!targetviewid&viewpath=$!targetviewpath&permissionname=$!permissionname&hitssessionid=$!hitssessionid")
				##set( $args = "$args&tabletype=subentity&targetrendertype=$!targetrendertype&targetdiv=entitypreviewdialog&targetoemaxlevel=1")
				
				#set( $args = "id=$id&parentid=$!parentid&searchtype=$!searchtype&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&viewid=$!targetviewid&viewpath=$!targetviewpath&hitssessionid=$!hitssessionid")
				#set( $args = "$args&tabletype=subentity&targetrendertype=$!targetrendertype&targetdiv=entitypreviewdialog&targetoemaxlevel=1")
				
			
				#set($targetentityrendertype = "entity")
				#if ($targetmodule.modulerendertype)
					#set($targetentityrendertype = $targetmodule.modulerendertype)
				#end
				
				##set($targetmodulelink = "$!siteroot$applink/components/gridsample/preview/$!{targetentityrendertype}.html?searchtype=$!targetmodule.getId()&edit=true")
				##set($targetmodulelink = "$targetmodulelink&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue")
							
							
							
				#set($addentitylink = "$!siteroot$applink/views/modules/$moduleid/edit/table/generictablesearch.html?submodulesearchtype=$searchtype&fieldexternalid=$fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&parentviewid=$!viewid&parentviewpath=$!viewpath&parentid=$!id&parentsearchtype=$!parentsearchtype")
							
							
				<div class="editentitymetadata-submodule">

							<h3>#text($targetmodule)
							<div class="float-right submodule-actions">
							
							
							<a class="btn btn-sm btn-dark ajax"  
			
							href="$addentitylink" 
							data-targetdiv="targetmoduleaddnew#eid($targetviewid)"
							data-oemaxlevel="1"
							data-parentviewid="$!viewid"
							data-parentviewpath="$!viewpath"
							data-parenttargetdiv="editentitymetadata"
							data-parentid="$!id"
							data-hidefooter="true">[[Add]] $!context.getText($viewdata)</a>
					
##								<a  
##									class="ajax btn btn-xs btn-dark"  
##									data-targetdiv="entitydialog" 
##									data-oemaxlevel="2" 
##									title="[[Add New]] #text($targetmodule) "
##									href="$!targetmodulelink"
##									>
##									<i class="fas fa-plus"></i> [[Add]] #text($targetmodule)</a>

								</div>
							</h3>
							<div id="targetmoduleaddnew#eid($targetviewid)">
								#if($existingrecords.size()>0)
									#if($viewdata.rendertable)
										$pages.include("/$applicationid/components/xml/table.html?$args&passalong=$!passalong",$context)						
									#end
								#end

							</div>
						</div>
							
					#end		

		#end
	#end

#end


</div>

##end

