<div class="alert-primary alert-save fader">
	#if($assets)
		<strong>$!assets [[Assets Added]]</strong>
	#else
		<strong>[[Saved]]</strong>
	#end
</div>

#set($addnew = $context.getRequestParameter("addnew"))

#ifnull($id)
	#set( $id = $context.getRequestParameter("entityid"))
#end
#set( $ismulti = $id.startsWith("multiedit:") || $context.getRequestParameter("multi") == "true")
#if($ismulti)
	$context.putPageValue("ismultisaved", true)
#end
$pages.include("$apphome/components/gridsample/preview/entity.html", $context)
