##SUB-Modules
#set($fieldexternalid = $context.getRequestParameter("fieldexternalid"))
#if($fieldexternalid)
	#set($fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))
	#if($fieldexternalvalue)
		$context.putPageValue("${fieldexternalid}.value",$fieldexternalvalue)
	#end
#end


#set( $parentsearchtype = $searchtype)
#if($edit && $edit !="true" && $moduleid)

	##<div class="editentitymetadata-submodules-container"> 
	#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
	#set($views = $viewsearcher.query().exact("moduleid",$moduleid).exact("rendertype","table").exact("systemdefined","false").not("id",$viewid).sort("orderingUp").search($context) )
	#if($views)		
		#foreach( $targetview in $views)
			#set( $targetviewid = $targetview.getId())
			#if($targetviewid)
			
				#set( $targetviewpath = "${parentsearchtype}/"+$targetviewid)
				#set( $viewdata = $viewsearcher.searchById($targetviewid))
				
				#set( $searchtype = $viewdata.rendertable ) 
				#set( $fieldexternalid = $viewdata.renderexternalid)
				#set( $fieldexternalvalue = $id )
				
				#set( $permissionname = "canedit${searchtype}")
				
				#set( $parentid = $context.getRequestParameter("parentid"))
				#if(!$parentid)
					#set( $parentid = $fieldexternalvalue)
				#end
							
				#set($targetmodule = $mediaarchive.getCachedData("module", $viewdata.rendertable))
				 
				#set($targetrendertype = $targetmodule.modulerendertype)
				#if(!$targetrendertype)
					#set($targetrendertype = "entity")
				#end
		
				$context.putPageValue("canedittablecolumns", "false")
				#if($targetmodule.getId() && $id)

					#set($addentitylink = "$!siteroot$applink/views/modules/$moduleid/edit/table/generictablesearch.html?submodulesearchtype=$searchtype&fieldexternalid=$fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&parentviewid=$!viewid&parentviewpath=$!viewpath&parentid=$!id&parentsearchtype=$!parentsearchtype")
					#set($submodulepickerid = "tmc_#eid($targetmodule.getId())#eid($id)")
							

							
					<div class="editentitymetadata-submodule subentity-body" 
							data-submoduleid="$!targetmodule.getId()">
						<div id="$submodulepickerid" class="submodulepicker entity-tab-content">
							#if($viewdata.rendertable)
								#set( $args = "id=$id&parentid=$!parentid&searchtype=$!searchtype&field=$!fieldexternalid&$!{fieldexternalid}.value=$!fieldexternalvalue&operation=exact&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&viewid=$!targetviewid&viewpath=$!targetviewpath&hitsperpage=6&targetrendertype=$!targetrendertype&tabletype=subentity")
								$context.putPageValue("moduleid", $!targetmodule.getId() )				
								$pages.include("/$applicationid/views/modules/$!searchtype/components/table/subentitytable.html?$!args",$context)
							#end
						</div>
						
						
					</div>
					
						
					#end		
				#end		
			#end
	#end
	#if($permissions.can($!targetmodule.getId() , "create"))
	<div class="submodule-actions">
		<a class="btn btn-sm btn-blue ajax  submoduleedit"  
		href="$addentitylink" 
		##data-targetdiv="$submodulepickerid"
		data-targetdiv="resultsdiv$!{searchtype}"
		data-oemaxlevel="1"
		data-parentviewid="$!viewid"
		data-parentviewpath="$!viewpath"
		data-parenttargetdiv="entity-tab-#eid($id)"
		data-parentid="$!id"
		data-hidefooter="true"
		data-onbefore="switchsubmodulebox"
		title="[[Add]] #text($viewdata)"><i class="fas fa-plus"></i> #text($viewdata)</a>
	</div>
	#end
	##</div>
#end


