#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $id = $context.getRequestParameter("id"))
###set( $entity = $hits.findData("id", $id))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($searchtype, $id) )
#end
#set($module = $mediaarchive.getData("module", $searchtype))
#set($entityid = $entity.id)
#set($moduleid = $module.getId())

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#set( $data  = $mediaarchive.getCachedData($searchtype, $id) )


<div id="entitypreviewdialog">
<div class="modal-content modal-data-details modal-entity ${moduleid}-modal">
	<div class="modal-body">
		<div class="modal-close">
		        <button type="button" class="close" data-dismiss="modal" aria-label="[[Close]]" title="[[Close]]">
		          <span aria-hidden="true">&times;</span>
		        </button>
		</div>
	<div class="entity-wraper">	
		<header class="entity-navigation">
		<a href="" class="current-entity">$module.getName(): $!data.getName()</a>
		</header>
		
		<div class="entity-body">
			
			
			<div class="entity-media">
			<div class="entity-media-header">
				<h4>[[Files]]</h4>
				
				#if( $canviewupload )
					
						#set($uploadlink = "$siteroot$applink/views/modules/asset/add/start.html?entityupload=true&entitytype=$moduleid&addselection=$entityid&clearotherentities=true")
						#set($oemaxlevel = "1")
						#set($targetdiv = "applicationmaincontent")
						<a href="$uploadlink" 
							class="ajax entity-add-media"
							data-targetdivinner="$targetdiv"
							data-closedialog="true" 
							data-closemediaviewer="true"
							data-updateurl="true"
							data-oemaxlevel="$!oemaxlevel"
							title="[[Upload Media]]">
							<i class="fas fa-plus"></i></a>
					
				#end
			</div>
			
			#set( $assetsshown = 4)
			#if( $searchtype == "faceprofilegroup" )
				#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact("faceprofiles.faceprofilegroup", $entityid).sort("assetaddeddateDown").search() )
						
			#else
				#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match($moduleid, $entityid).sort("assetaddeddateDown").search() )
					
			#end
			
			
			$context.putPageValue("assetshits", $assetshits)
			$context.putPageValue("fullview",true) 
			$context.putPageValue("thumbsize", "small" )
			$context.putPageValue("primaryimage", $entity.primaryimage )
			$pages.include("$componenthome/gridsample/preview/attachedmedia.html",$context)
			</div>
			
			<div class="entity-metadata">
				
				$context.putPageValue("data", $entity)
				$context.putPageValue("searchtype", $searchtype)
				$pages.include("metadata.html", $context)
			</div>
		</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

</div>