#set($entityid = $context.getRequestParameter("entityid"))
#if(!$parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
$context.putPageValue("parentsearchtype", $parentsearchtype)

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#set($entityid = $entity.id)

<div id="${tabid}"
	class=" entity-tab-content"
	data-tabid="$!{tabid}"
	data-viewid="$!viewid"
	data-entityid="$!entityid"
	data-currenttab="$!viewid"
	data-parentsearchtype="$!parentsearchtype"
	data-topmoduleid="$!topmoduleid"
	data-url="$componenthome/gridsample/preview/tabactivityhistory.html"
>
	<div id="entityactivityhistoryhistory" class="entiytabhistory p-3">
		
		#set( $assetActivityHistory =  $mediaarchive.getBean("entityManager").loadHistoryForEntity($applicationid, $context.getUser(), $module, $entity))
		
		#if(!$assetActivityHistory.isEmpty())
		
			<div class="w-100">
			<table class="emdata table table-striped table-hover ">
				<thead>
					<tr class="tableheader">
							<th style="width: 200px;">[[Date]]</th>
							<th>[[User]]</th>
							<th>[[Activity]]</th>
							<th>[[Assets]]</th>
							<th style="width: 200px;">[[Undo]]</th>
						</tr>
				</thead>
				<tbody>
					#foreach($activity on $assetActivityHistory)
						<tr>
							<td>$!context.getDateTime($activity.get("date"))</td>
							<td>$activity.getValue("user")</td>
							<td>
								#set($operation = $activity.get("operation"))
								#set($operaionName = $mediaarchive.getCachedData("historyactivitytype", $operation))
								
								#text($operaionName)
							</td>
							<td>
								#set($assetids = $activity.getValue("assetids"))
								
								<span class="trim-text" data-max="100">
								#foreach($assetid in $assetids)
									#set($asset = $mediaarchive.getAsset($assetid))
									#if($asset)
										$asset.getName()
										#if($foreach.hasNext), &nbsp;#end
									#else
										$assetid
									#end
								#end</span>
								<button class="see-more-btn see-more" data-seemore="(...[[see more]])" data-seeless="(...[[see less]])">(..[[.see more]])</button>
								</td>
							<td>
								
								#if($operation == "assetsremoved")
									<a href="#" class="btn btn-xs btn-dark">[[Restore]]</a>
								#elseif($operation == "assetsadded")
									<a href="#" class="btn btn-xs btn-dark">[[Remove]]</a>
								#end
							</td>
						</tr>
					#end
				</tbody>
			</table>
			</div>
		#end
	</div>
</div>
