#set($entityid = $context.getRequestParameter("entityid"))
#if(!$parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
$context.putPageValue("parentsearchtype", $parentsearchtype)
#if( !$entity)
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#set($entityid = $entity.id)
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
	$context.putPageValue("topmoduleid", $topmoduleid)
#end
#ifnotnull($topmoduleid)
		#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#ifnull($viewid)
#set($viewid = $context.getRequestParameter("viewid"))
#end
#set($tabid = "tab_$viewid")


#set($defaultcategory = $mediaarchive.getBean("entityManager").createDefaultFolder($entity, $context.getUser()))

#set($tabmode = 1)
$context.putPageValue("tabmode", $tabmode)

<div id="${tabid}"
	class=" entity-tab-content entity-tab-media tabtypemedia"
	data-tabid="${tabid}"
	data-viewid="$viewid"
	data-entityid="$!entityid"
	data-currenttab="$!viewid"
	data-parentsearchtype="$!parentsearchtype"
	data-topmoduleid="$!topmoduleid"
	data-url="$componenthome/gridsample/preview/tabpopulatecategory.html"
>
	<div id="$!submodulepickerid" class="d-flex align-items-stretch p-2" style="height: 100%;">
		<div class="entityimport">
			<a href="$apphome/views/modules/asset/add/tabentityaddmedia.html?categoryid=$!defaultcategory.getId()"
				class="btn btn-lg btn-wide ajax"
				data-targetdivinner="tabimportcontent"
				data-oemaxlevel="1"><i class="bi bi-file-earmark-arrow-up-fill"></i> [[Upload]]</a>


			<a href="$siteroot$apphome/components/createmedia/url/start.html?categoryid=$!defaultcategory.getId()"
				class="btn btn-lg btn-wide ajax" data-targetdivinner="tabimportcontent"
				data-oemaxlevel="1">
				<i class="bi bi-link-45deg"></i> [[Import from URL]]</a>

			<h4 class="text-center">[[Import Existing]]</h4>

			<a class="ajax btn btn-lg btn-wide"
				id="poptrigger"
				data-targetdivinner="tabimportcontent"
				data-hidefooter="true"
				data-oemaxlevel="1"
				data-targetcategoryid="$!defaultcategory.id"
				onclick='$("#searcher").show();$("#picker").hide();'
				title="ID: ($entityid)"
				href="$apphome/components/entities/import/autopopulate.html?id=$!entityid"
				><i class="bi bi-file-check-fill"></i> &nbsp;[[Search Files]]</a>

			<a class="ajax btn btn-lg btn-wide"
				data-targetdivinner="tabimportcontent"
				data-oemaxlevel="1"
				data-targetcategoryid="$!defaultcategory.id"
				href="$apphome/components/entities/import/choosecategory.html?id=$!searchby"><i class="bi bi-folder-plus"></i> &nbsp;[[Choose Folders]]</a>

			<h4 class="text-center">[[Synced Import]]</h4>
			<a href="" class="btn btn-lg btn-wide"><i class="bi bi-folder-symlink-fill"></i> &nbsp;[[Pull local changes]]</a>
		</div>

		<div id="tabimportcontent" class="tabimportcontent">
			$pages.include("$apphome/views/modules/asset/add/tabentityaddmedia.html?categoryid=$!defaultcategory.getId()")
		</div>
	</div>
</div>
