#if( !$entity)
	#set($entityid = $context.getRequestParameter("entityid"))
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#set($entityid = $entity.id)
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("moduleid") )
#end
$context.putPageValue("topmoduleid", $topmoduleid)
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#set($tabid = "tab_publishinggallery")


<div id="${tabid}" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
data-tabid="${tabid}"
data-entityid="$!entityid"
data-currenttab="$!viewid"
data-topmoduleid="$!topmoduleid"
data-url="$componenthome/gridsample/preview/tabpublishing_gallery.html"
>

<div id="publishingcontainer" class="tabpulications" style="height: 100%;">
	<div class="tabpulications-col overflow-y" style="padding:10px 20px;  flex: 0 0 500px;">
	
	<form action="$componenthome/gridsample/preview/tabpublishing_gallerysave.html" 
	class="ajaxform mt-1" 
	data-targetdiv="${tabid}">
		
##//List available lightboxes that are enabled for this entity and person? Use person search? Use one to many? and boolean all?
	#set($boxes =  $mediaarchive.getBean("entityManager").loadLightBoxesForModule($topmodule, $entity, $context.getUser()))
	#set($assets =  $mediaarchive.getBean("entityManager").loadLightBoxeAssetsForModule($boxes,$topmodule, $entity, $context.getUser()))
#foreach( $box in $boxes )

	#set( $filtervalue = $$assets.findFilterValue($box.getId()))

<div style="background-color: #eee; margin: 12px; padding:4px;">
<a class="ajax" data-targetdiv="$!submodulepickerid" 
	href="$apphome/views/modules/asset/dialogindex-searchlightbox.html?lightboxid=$box.id&entityid=$entity.id&moduleid=$module.id">

#set( $moduleicon = $box.moduleicon)
#ifnull($moduleicon)
#set( $moduleicon = "check-circle-fill")
#end
<i class="bi bi-${moduleicon}" style="font-size:2em;"></i> <br>

	$box 
#ifnotnull( $filtervalue )
#ifnull( $selectedfirst )
	#set( $selectedfirst = $box)
#end
	($filtervalue.getCount())
#end
	
</a>
</div>

#end

<div style="background-color: #eee; margin: 12px; padding:4px;"  class="#ifnull($selectedfirst) active #end side-select-menu">
<a class="ajax" data-targetdiv="$!submodulepickerid" 
	href="$apphome/views/modules/asset/dialogindex-searchlightbox.html?&entityid=$entity.id&moduleid=$module.id">

#set( $moduleicon = $mediaarchive.getCachedData("module","asset").moduleicon)
<i class="bi bi-${moduleicon}" style="font-size:2em;"></i> <br>

	Unsorted Files
	#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($topmodule, $entity, $context.getUser(),true))
	#set( $allassets = $mediaarchive.query("asset").exact("category",$defaultfolder).search($context) )
	($allassets.size())
</a>
</div>


	</form>
</div>


<div  id="$!submodulepickerid"  class="tabpulications-col h-100 submodulepicker entity-tab-content" >
#ifnotnull( $selectedfirst)
		$pages.include("$apphome/views/modules/asset/dialogindex-searchlightbox.html?lightboxid=$selectedfirst.getId()", $context)
#end
#ifnull( $selectedfirst)
		$context.putPageValue("defaultfolder", $defaultfolder)
		$context.putPageValue("categoryid", $defaultfolder.getId())
		$context.putPageValue("entitydialogid", "entity")
		$pages.include("$apphome/views/modules/asset/dialogindex.html", $context)
		
		XX
		
#end	
	<div class="clearfix"></div>
</div>
</div>


