#set($entityid = $context.getRequestParameter("entityid"))
#if( !$entity)
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#set($entityid = $entity.id)
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
	$context.putPageValue("topmoduleid", $topmoduleid)
#end
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
#ifnull($viewid)
#set($viewid = $context.getRequestParameter("viewid"))
#end
#ifnull($viewid)
	#set($viewid = $context.getRequestParameter("parentviewid"))
#end
#set($tabid = "tab_$viewid")


<div id="${tabid}" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
data-tabid="${tabid}"
data-viewid="$viewid"
data-entityid="$!entityid"
data-currenttab="$!viewid"
data-topmoduleid="$!topmoduleid"
data-url="$componenthome/gridsample/preview/tabpublishing.html"
>

<div id="publishingcontainer" class="tabpulications" style="height: 100%;">
	<div class="tabpulications-col" style="padding:10px 20px;  flex: 0 0 500px;">
	
	<form action="$componenthome/gridsample/preview/tabpublishingsave.html" class="ajaxform" data-targetdiv="${tabid}">
		<div class="form-group">
			<div class="form-check form-check-inline">
			  <input type="hidden" value="title_enabled" name="field" />
			  <input class="form-check-input" type="checkbox" id="titlelabel" value="true" name="title_enabled.value" #if($publishing.title_enabled=="true")checked#end>
			  <label class="form-check-label" for="titlelabel">[[Title]]</label>
			</div>
			<input type="hidden" value="title" name="field" />
		    <input  class="form-control"  placeholder="[[Enter Title here]]" name="title.value" value="$!publishing.title">
		 </div>
		 
		 <div class="form-group">
			<div class="form-check form-check-inline">
				<input type="hidden" value="caption_enabled" name="field" />
			  <input class="form-check-input" type="checkbox" id="captionlabel" value="true" name="caption_enabled.value" #if($publishing.caption_enabled=="true")checked#end>
			  <label class="form-check-label" for="captionlabel">[[Caption]]</label>
			</div>
			<input type="hidden" value="caption" name="field" />
		    <textarea  class="form-control"   name="caption.value">$!publishing.caption</textarea>
		 </div>
		 
		 <div class="form-group">
			<div class="form-check form-check-inline">
				<input type="hidden" value="footer_enabled" name="field" />
			  <input class="form-check-input" type="checkbox" id="footerlabel" value="true" name="footer_enabled.value"  #if($publishing.footer_enabled=="true")checked#end>
			  <label class="form-check-label" for="footerlabel">[[Footer]]</label>
			</div>
			<input type="hidden" value="footer" name="field" />
		    <input  class="form-control"  placeholder="[[Enter Footer here]]" name="footer.value" value="$!publishing.footer">
		 </div>
		 
		 
		
		
		<div class="form-group">
			<div class="form-check form-check-inline">
				<input type="hidden" value="enabled" name="field" />
			  	<input class="form-check-input" type="checkbox" id="enabledlabel" value="true" name="enabled.value" #if($publishing.enabled=="true")checked#end>
			  	<label class="form-check-label" for="enabledlabel">[[Enabled]]</label>
			</div>
		    
		 </div>
		<input type="hidden" value="entityid" name="field" />
		<input type="hidden" name="entityid.value" value="$!entityid" />
		#if($publishing)
			<input type="hidden" name="publishingid" value="$!publishing.id" />
			<input type="hidden" name="id.value" value="$!publishing.id" />
		#end
		
		<input type="hidden" name="searchtype" value="distributiongallery" />
		<input type="hidden" name="field" value="moduleid" />
		<input type="hidden" name="moduleid.value" value="$!topmoduleid" />
		<input type="hidden" name="topmoduleid" value="$!topmoduleid" />
		<input type="hidden" name="parentviewid" value="$!viewid" />
		<input type="hidden" name="entityid" value="$!entityid" />
		<input name="save" type="hidden" value="true">
		
		<input type="submit" value="[[Save]]" class="btn btn-sm btn-primary btn-savepublishing"> 
		
		#if($publishing.enabled=="true")
			<div style="padding: 10px 0;">
			<strong>[[oEmbed Link]]:</strong>
			<textarea class="embedlinktextarea form-control" id="embedcode" onclick="this.select();" readonly="readonly" rows="4" cols="45">$!siteroot/$mediadbappid/services/publishingdestination/view/${publishing.id}</textarea>
			<a href="#" class="copytoclipboard btn btn-xxs btn-light" data-targetdiv="embedalertdialog" data-copytext="embedcode" title="Copy to Clipboard"><i class="far fa-copy"></i> [[Copy]]</a>
				
		
			<a href="/$mediadbappid/services/publishingdestination/view/${publishing.id}" 
				class="" 
				style="margin-left: 10px; font-size: 0.9em; text-decoration: underline;"
				target="_blank">[[Live View]]</a>
			</div>
		#end
	</form>
</div>


<div class="tabpulications-col" style="height: 100%;">
	<div style="padding: 20px; height: 100%;  overflow-y: auto;">
		<iframe src="$!siteroot/$mediadbappid/services/publishingdestination/view/${publishing.id}" style="width: 100%; height: 100%; border: 0;"></iframe>
	</div>
</div>
</div>


