#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))

#ifnull($viewid)
	#set($viewid = $context.getRequestParameter("viewid"))
#end

#ifnull($parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
#ifnull($parentid)
	#set($parentid = $context.getRequestParameter("parentid"))
#end
#ifnull($parentid)
	#set($parentid = $context.getRequestParameter("entityid"))
#end


#set( $targetviewpath = "${parentsearchtype}/"+$viewid)
#set( $viewdata = $viewsearcher.searchById($viewid))
#set( $subentitysearchtype = $viewdata.rendertable )
#set( $submodule = $mediaarchive.getCachedData("module", $subentitysearchtype))
#set( $fieldexternalid = $viewdata.renderexternalid)
#set( $fieldexternalvalue = $parentid)
 
#set( $sortby = $!viewdata.rendersort)
#if(!$sortby)
	#set( $sortby = "name")
#end

#set($targetrendertype = $submodule.modulerendertype)
#if(!$targetrendertype)
	#set($targetrendertype = "entity")
#end

#set($tabid = "tab_${viewid}")

#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end

#ifnull($topmoduleid)
	#set($topmoduleid = $parentsearchtype)
#end

#if($subentitysearchtype)
	<div id="$tabid" 
		class="editentitymetadata-submodule entity-tab-content tabtype$!tabtype" 
		data-tabtype="tabsubmodulehome"
		data-viewid="$!viewid"
		data-currenttab="$currenttab"
		data-submoduleid="$!submodule.getId()"
		data-viewid="$!viewid"
		data-parentsearchtype="$!parentsearchtype"
		data-parentid="$!parentid"
		data-url="$componenthome/gridsample/preview/tabsubmodulehome.html"
		#if($hidesubmodule) style="display: none; #end">
		
		#if($currenttab == $viewid)
		
			#set( $args = "${submodule.getId()}hitsname=$!{viewid}hits&${subentitysearchtype}clearfilters=true&parentid=$!parentid&searchtype=$!subentitysearchtype&$!{subentitysearchtype}clearresults=true")
			#set( $args = "$args&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue")
			#set( $args = "$args&field=$!fieldexternalid&$!{fieldexternalid}.value=$!fieldexternalvalue&operation=exact")
			#set( $args = "$args&viewid=$!viewid&viewpath=$!targetviewpath&hitsperpage=6&targetrendertype=$!targetrendertype")
			#set( $args = "$args&parentsearchtype=$!parentsearchtype&targetdiv=submodulepicker&sortby=$!sortby")
			
			$context.putPageValue("moduleid", $!submodule.getId() )
			$context.putPageValue("submoduleresults", $!submoduleresults )	
			
					
			$pages.include("/$applicationid/views/modules/$!subentitysearchtype/components/table/subentitytable.html?$!args",$context)
		
		
			#set($addentitylink = "$!siteroot$applink/views/modules/${submodule.getId()}/edit/table/generictablesearch.html")
			#set($addentitylink = "$addentitylink?submodulesearchtype=$subentitysearchtype&fieldexternalid=$fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&parentviewid=$!viewid&parentviewpath=$!viewpath&parentid=$!id&parentsearchtype=$!parentsearchtype&rendertype=$!targetrendertype")
		
			#if($permissions.can($topmoduleid, "edit"))
				#if($permissions.can($!submodule.getId() , "create"))
				<div class="submodule-actions">
					
					#set($pickerurl= "$applink/views/modules/$!{subentitysearchtype}/components/entities/search/searchpicker.html")
					<a href="$pickerurl" 
						class="emdialog btn btn-sm btn-primary"
						data-dialogid="entitypicker"
						data-width="1200"
						data-fieldexternalid = '$fieldexternalid'
						data-fieldexternalvalue = '$fieldexternalvalue'
						data-entitymodule="$!{subentitysearchtype}"
						data-pickertarget="$tabid"
						data-targettype="entitypickersubmodule"
						data-pickersearchaddnew="true"
						data-hidefooter="true"><i class="fas fa-plus"></i> [[Add]]</a>
				</div>
				#end
			#end
		#end
	</div>
	
	
#end