#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))

#ifnull($viewid)
	#set($viewid = $context.getRequestParameter("viewid"))
#end

#ifnull($parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
#ifnull($parentid)
	#set($parentid = $context.getRequestParameter("parentid"))
#end
#ifnull($parentid)
	#set($parentid = $context.getRequestParameter("entityid"))
#end


#set( $targetviewpath = "${parentsearchtype}/"+$viewid)
#set( $viewdata = $viewsearcher.searchById($viewid))
#set( $submoduleid = $viewdata.rendertable )
#set( $fieldexternalid = $viewdata.renderexternalid)
#set( $fieldexternalvalue = $parentid)
 
#set( $sortby = $!viewdata.rendersort)
#if(!$sortby)
	#set( $sortby = "name")
#end

#set($targetrendertype = $submodule.modulerendertype)
#if(!$targetrendertype)
	#set($targetrendertype = "entity")
#end

#set($tabid = "tab_${viewid}")

#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end

#ifnull($topmoduleid)
	#set($topmoduleid = $parentsearchtype)
#end

#if($submoduleid)
	<div id="$tabid" 
		class="editentitymetadata-submodule entity-tab-content tabtype$!tabtype onetomanytab" 
		data-tabtype="tabsubmodulehome"
		data-viewid="$!viewid"
		data-currenttab="$currenttab"
		data-submoduleid="$!submoduleid"
		data-viewid="$!viewid"
		data-parentsearchtype="$!parentsearchtype"
		data-parentid="$!parentid"
		data-url="$componenthome/gridsample/preview/tabsubmodulehome.html"
		#if($hidesubmodule) style="display: none; #end">
		
		#if($currenttab == $viewid)
		
			#set( $args = "${submoduleid}hitsname=$!{viewid}hits&${submoduleid}clearfilters=true&parentid=$!parentid&searchtype=$!submoduleid&$!{submoduleid}clearresults=true")
			#set( $args = "$args&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue")
			#set( $args = "$args&field=$!fieldexternalid&$!{fieldexternalid}.value=$!fieldexternalvalue&operation=exact")
			#set( $args = "$args&viewid=$!viewid&viewpath=$!targetviewpath&hitsperpage=6&targetrendertype=$!targetrendertype")
			#set( $args = "$args&parentsearchtype=$!parentsearchtype&targetdiv=submodulepicker&sortby=$!sortby")
			
			$context.putPageValue("moduleid", $!submoduleid )
			$context.putPageValue("submoduleresults", $!submoduleresults )	
			
			
			$pages.include("/$applicationid/views/modules/$!submoduleid/components/table/subentitytable.html?$!args",$context)
		
		#end
	</div>
	
	
#end