#set($categories = $mediaarchive.query("category").exact("parentid",$category.getId()).sort("name").search($context))
#ifnotnull($categories)
<div class="childcategorieslist">
#foreach( $child in  $categories)
		<a style="margin-right: 10px;" 
			href="$siteroot$apphome/views/modules/asset/viewfiles/$!{child.id}/#dash($child).html?hitssessionid=$!hits.getSessionId()"
			title="[[View Files]]: $child"
			class="ajax"
			data-targetdiv="applicationcontent"
			data-oemaxlevel="5"
			data-updateurl="true"
			data-scrolltocat="true"
			#if($child.id =="asset") data-sidebarcomponent="categories" #end
			data-sidebarcomponent="categories"><i class="bi bi-folder-fill"></i> <span>$child</span></a>
#end
</div>
#end