<div class="entityuploadheader">
  <span style="font-size:1rem; font-weight: 600;; ">Add DITA File</span>
</div>
<div class="bg-white py-2 px-3 shadow-sm mt-2 rounded">
  <p>
    The DITA (Darwin Information Typing Architecture) format is an XML-based standard used for structuring, authoring, and publishing technical content. 
    1. Create an components with this file as the input file
    2. 
    
	You can import multiple content components from this UI with a shared parent being the input file. 
  </p>
  <div class="border-top mb-3"></div>
  <div class="d-flex flex-column mb-2 w-100">
    <form name="save" class="ajaxform text-center mx-auto" data-targetdiv="importdone" action="$componenthome/entities/metadata/import/ditafinish.html">
      <input type="hidden" name="importtype" value="dita" />
      <input type="hidden" name="moduleid" value="${module.id}" />
      <input type="hidden" name="entityid" value="${entity.id}" />
      
      <div class="d-flex">
        <input type="file" class="border rounded p-1" id="inputGroupDITA">
        <button class="input-group-text btn-accent ml-2" type="submit" for="inputGroupDITA">Upload</button>
      </div>
    </form>
    <div id="importdone">
    </div>
  </div>
</div>