<div id="lightboxessidemenu" class="overflow-y">
	#set($assetsaddedto = $context.getRequestParameter("lightboxid"))

		<div class="rounded lightboxdropasset" data-entityid="$entity.id" data-moduleid="$topmodule.id" data-lightboxid="$box.id">
			<a class="ajax btn-wide #if( $box.id == $selectedbox.id ) active #end"
				data-targetdiv="tablightboxes"
				data-oemaxlevel="1"
				href="$componenthome/entities/lightboxes/show.html?lightboxid=$box.id&entityid=$entity.id&moduleid=$module.id">
			
			#set( $moduleicon = "check-circle-fill")
			<i class="bi bi-${moduleicon}"></i>
			<span>[[Attach File]]			</span>
			</a>
		</div>


		<div class="rounded lightboxdropasset" data-entityid="$entity.id" data-moduleid="$topmodule.id" data-lightboxid="$box.id">
			<a class="ajax btn-wide #if( $box.id == $selectedbox.id ) active #end"
				data-targetdiv="tablightboxes"
				data-oemaxlevel="1"
				href="$componenthome/entities/lightboxes/show.html?lightboxid=$box.id&entityid=$entity.id&moduleid=$module.id">
			
			#set( $moduleicon = $box.moduleicon)
			#ifnull($moduleicon)
				#set( $moduleicon = "check-circle-fill")
			#end
			<i class="bi bi-${moduleicon}"></i>
			<span>[[Visual Editor]]			</span>
			</a>
		</div>

		<div class="rounded lightboxdropasset" data-entityid="$entity.id" data-moduleid="$topmodule.id" data-lightboxid="$box.id">
			<a class="ajax btn-wide #if( $box.id == $selectedbox.id ) active #end"
				data-targetdiv="tablightboxes"
				data-oemaxlevel="1"
				href="$componenthome/entities/lightboxes/show.html?lightboxid=$box.id&entityid=$entity.id&moduleid=$module.id">
			
			#set( $moduleicon = $box.moduleicon)
			#ifnull($moduleicon)
				#set( $moduleicon = "check-circle-fill")
			#end
			<i class="bi bi-${moduleicon}"></i>
			<span>[[DITA Tree]]			</span>
			</a>
		</div>

</div>