<div class="collaborate-channel h-100">
	<div class="collaborate-channel-header">
		<div class="channel-name float-left">[[Channel Name]]</div>
		<div class="channel-actions float-right"><a href=""><i class="fas fa-cog"></i></a></div>
	</div>
		<div class="row no-gutters"   style="height: calc(100% - 80px)">
			<div class="col">
			 	
						<div class="chatterbox-container">
						<div class="chatterbox-body-inside">
						<div class="chatterbox-message-list" >
						  #foreach($message in $messages)
					
						  #set($type = $message.messagetype)
						  $context.putPageValue("chat", $message)
						  #if(!$type)
						  	#set($type = "message")
						  #end  
						
						 	$pages.include("$apphome/components/chatterbox/types/${type}.html", $context)
						 
						
						  #end
						</div>
						</div>
						</div>
				
			 	
			</div>
		</div>
		#if ($cancomment)
		<div class="row  no-gutters" >
			<div class="col">
				<div class="collaborate-wirte">
				<a class="collaborate-media" href=""><i class="fa fa-plus-square"></i></a>
					<input type="text" class="collaborate-text" id="chatter-msg" />
					<button class="btn btn-primary btn-sm chatter-send float-left" data-command="messagereceived" type="button">[[Send]]</button>
				</div>
			</div>
		</div>
		#end
     
</div>                
           
