
		<div class="chatterbox-messages">
			<div class="chatterbox-container">
				<div class="chatterbox-body-inside">
						<div class="chatterbox-message-list" >
						  #foreach($message in $messages)
					
						  #set($type = $message.messagetype)
						  $context.putPageValue("chat", $message)
						  #if(!$type)
						  	#set($type = "message")
						  #end  
						
						 	$pages.include("$apphome/components/chatterbox/types/${type}.html", $context)

						  #end
						</div>
					</div>
				</div>
		</div>
		#if ($cancomment)
		<div class="" >
			
				<div class="collaborate-wirte">
				##<a class="collaborate-media" href=""><i class="fa fa-plus-square"></i></a>
					<input type="text" class="collaborate-text chatter-text" id="chatter-msg" />
					<button class="btn btn-primary btn-sm chatter-send float-left" data-command="messagereceived" type="button">[[Send]]</button>
				</div>
			
		</div>
		#end
         
           
