<div id="assetentityresultsmediaviewer">

<div class="asset-data-detail assetpanel-editor-box">
	<h4>[[Entities]]</h4>
	#set( $entities = $mediaarchive.getEntityManager().getEntitiesForCategories($asset.categories, $userprofile) )
	#if($entities && $entities.size() > 0)
	
			<div class="px-3">
			#foreach ( $data in $entities)
				#set($entity = $data)
				#set($entityid = $data.getId())
				#set($emoduleid = $data.get("entitysourcetype")) 
				
				#set($emodule = $mediaarchive.getCachedData("module", $emoduleid))
				
				#set($rendertype = $emodule.modulerendertype)
				#if (!$rendertype)
					#set($rendertype = "entity")
				#end
				$context.putPageValue("rendertype", $rendertype)
				$context.putPageValue("rendermoduleid", $emoduleid)
				
				#set($moduleicon = "entity")
				#if ($emodule.moduleicon)
					#set($moduleicon = $emodule.moduleicon)
				#end
					
				#set($previewurl = "$!{siteroot}$apphome/views/modules/$!{emoduleid}${searchhome}/tabs/preview/${rendertype}.html?id=$entity.getId()&hitssessionid=$!hits.sessionId")
				
				$context.putPageValue("hit", $entity)
				
				#set($moduleicon = "entity")
				#if ($module.moduleicon)
					#set($moduleicon = $module.moduleicon)
				#end
				
					<a href="$previewurl" 
					class="emdialog entity-dialog emgridresulttitle badge badge-tags mr-1" 
					data-hidefooter="true" 
					data-hideheader="true"
					id="clickid${entityid}"  
					data-id="${entityid}"
					data-moduleid="$!emoduleid"
					title="#text($!entity)">
					<i class="bi bi-$moduleicon"></i>&nbsp;#text($emodule) \ #text($entity)</a>
			#end
			</div>
	</div>
	#end
	<div class="asset-data-detail assetpanel-editor-box" style="padding:12px; margin-bottom: 20px;">
	<div class="folder-list-actions">
		<div class="dropdown show">
			<a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-plus"></i> [[Add to Entity]]
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				#foreach ( $amodule in $userprofile.getEntities() )
					#set($amoduleid = $amodule.getId())
					#if($amodule.getBoolean("enableuploading"))
						#if($permissions.can($amoduleid, "create") && $amoduleid!="faceprofilegroup" && $amoduleid!="asset" && $amoduleid!="modulesearch")
							#set($entityrendertype = "entity")
							#if ($amodule.modulerendertype)
								#set($entityrendertype = $amodule.modulerendertype)
							#end
							
							#set($addurl = "$siteroot$applink/views/modules/${amoduleid}/components/entities/search/searchpicker.html")
							#ifnotnull($topentityid)
								#set($addurl = "$addurl&fieldexternalid=${topmodule.getId()}&fieldexternalvalue=${topentityid}&reloadtargets=topmodulecontainer")
							#end
							<a class="dropdown-item emdialog"
								href="$addurl"
								data-dialogid="addtoentity"
								data-viewfiles="true"
								data-pickertarget="assetentityresultsmediaviewer"
								data-maxwidth="1400"
				    		data-hidefooter="true"
								data-pickedmoduleid="$amoduleid"
								data-copyingsearchtype="assets"
				    		data-copyinghitssessionid="$hits.getSessionId()"
								#if( $ismulti )
									data-assethitssessionid="$hits.getSessionId()"
								#else
									data-pickedassetid="$!{asset.id}"
								#end
								>#text($amodule)</a>
					#end
				#end
			#end
			</div>
		</div>
	</div>
	

</div>
<div class="clearfix"></div>

</div>
