.home-list
{

font-size: 16pt; 
color: white; 
text-align: justify; 
text-justify: interword;

}


.home-list ul li
{

font-size: 16pt; 
color: white; 
text-align: justify; 
text-justify: interword;

}