	<div class="col-sidebar-header">
		<h2>
		[[ADVANCED SEARCH]] 
				<a href="#"
					title="[[Hide Search Sidebar]]"
					class="sidebar-toggler sidebar-toggler-hide"
					data-action="hide" 
					data-targetdiv="col-sidebars"
					data-modulesearchhitssessionid="$modulehits.sessionId"
					data-sidebar="filters">
					<i class="fas fa-angle-double-left closebar"></i>
				</a>
		</h2>
						<a href="#"
					title="[[Resize Sidebar]]"
					class="sidebar-toggler sidebar-toggler-resize"
					data-sidebar="categories">
					<i class="fas fa-arrows-alt-h "></i>
				</a>

	</div>

	$pages.include("$apphome/components/filters/sidebar.html", $context)
	
	<div class="clearfix"></div>

	##<div class="colslidercontainer">
	##	<a href="#" class="col-resize" title="[[Resize Sidebar]]"></a>
	##</div>

