#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
<div id="embed-wrapper">
<div class="embedlink">

#set( $mediadbappid = $mediaarchive.getMediaDbId() )

#set($moduleid = $context.getRequestParameter("moduleid"))
#set($categoryid = $context.getRequestParameter("categoryid"))
#if($moduleid && $categoryid)
#set( $sharelink = "$siteroot$apphome/views/modules/asset/bycategory/${categoryid}.html")
#end
#ifnotnull($sharelink )
<div id="embedalertdialog" style="display:none; position: absolute;" class="alert alert-success fader">[[Copied to Clipboard]]</div>
	<div style="margin-bottom:20px">
	<h5>[[Entity Category Page]]:</h5> 
	<p class="hyphenate" style="margin:5px 0">
	##<a href="$sharelink">
	$sharelink
	##</a>
	</p>
	<input style="position:absolute; top:-1000px;" id="previewlink" value="$sharelink" />
	<a href="#" 
			class="copytoclipboard btn btn-xxs btn-light"
			data-targetdiv="embedalertdialog"
			data-copytext="previewlink" title="[[Copy to Clipboard]]"><i class="far fa-copy"></i> [[Copy]]</a>
	</div>
#end

	
</div>
</div>
