#set( $mediadbappid = $mediaarchive.getMediaDbId() )

#set($moduleid = $context.getRequestParameter("moduleid"))
#set($entityid = $context.getRequestParameter("entityid"))
#set($categoryid = $context.getRequestParameter("defaultcategoryid"))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($moduleid, $entityid) )
#end

#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
<div class="tabheader">[[Sharing Links]]</div>
<div id="embed-wrapper" class="mx-3 my-4">
	<div class="embedlink">
		#set($entitytabopen = $context.getRequestParameter('entitytabopen'))
		#if($moduleid)
			#set( $sharelink = "$siteroot$apphome/views/modules/${moduleid}/userview/${entityid}/#dash($entity).html")
		#end
		#ifnotnull($sharelink )
			<div id="embedalertdialog" style="display:none; position: absolute;" class="alert alert-success fader">[[Copied to Clipboard]]</div>
				
				<h5>[[Data]]</h5> 
				<div class="hyphenate hyphenate-bg" style="margin:5px 0">
					<span class="sharelink">${sharelink}</span> 
					<a href="#" 
						class="copytoclipboard btn btn-xs btn-primary"
						data-targetdiv="embedalertdialog"
						data-copytext="previewlink" title="[[Copy to Clipboard]]"><i class="far fa-copy"></i> [[Copy]]</a>
				
				
					<input class="sharelink" style="position:absolute; top:-1000px;" id="previewlink" value="$sharelink" />
				
				</div>
				
				
				#set( $sharefilelink = "$!{sharelink}?entitytabopen=media") 
				
				<h5 class="pt-4">[[Files]]</h5> 
				<div class="hyphenate hyphenate-bg" style="margin:5px 0">
					<span class="sharelink">${sharefilelink}</span> 
					<a href="#" 
						class="copytoclipboard btn btn-xs btn-primary"
						data-targetdiv="embedalertdialog"
						data-copytext="previewfileslink" title="[[Copy to Clipboard]]"><i class="far fa-copy"></i> [[Copy]]</a>
				
				
					<input class="sharelink" style="position:absolute; top:-1000px;" id="previewfileslink" value="$sharefilelink " />
				
				</div>
				
				
				#if($moduleid=="librarycollection")
				#set( $sharecollectionlink = "$!{siteroot}$!{siteid}/$!{mediadbappid}/services/module/asset/players/collections/display/category/$!{entityid}.html")
				<h5 class="pt-4">[[Share Collection]]</h5> 
				<div class="hyphenate hyphenate-bg" style="margin:5px 0">
					<span class="sharelink">${sharecollectionlink}</span> 
					<a href="#" 
						class="copytoclipboard btn btn-xs btn-primary"
						data-targetdiv="embedalertdialog"
						data-copytext="sharecollectionlink" title="[[Copy to Clipboard]]"><i class="far fa-copy"></i> [[Copy]]</a>
				
				
					<input class="sharelink" style="position:absolute; top:-1000px;" id="sharecollectionlink" value="$sharecollectionlink " />
				
				</div>
				#end

		#end
		
	</div>
</div>


<div id="embed-wrapper" class="mt-4 mx-2 ">
	<h5 class="mb-2">[[Share With]]</h5>
	<div class="pb-3">[[Add users who needs access to this record.]]</div>
	<div class="row no-gutters">
	<div class="col-5">
	$pages.include("$apphome/views/modules/${moduleid}/edit/editdialog.html?entityid=$!{entityid}&moduleid=$!{topmoduleid}&viewid=entitypermissions", $context)
	</div>
	</div>
</div>


