<div class="share-preset">
	<a class="preset-dl-link"><i class="bi bi-download ns"></i></a>
	<div class="preset-prop"><strong>[[Size]]:</strong> 200x200</div>
	<div class="preset-prop"><strong>[[Format]]:</strong> JPEG</div> 
	<div class="d-flex flex-column align-items-center preset-links">
		<a class="preset-copy-link copytoclipboard" data-text="$plink"><i class="bi bi-copy ns mr-1"></i> Preview Link</a>
		<a class="preset-copy-link dl copytoclipboard" data-text="$dlink"><i class="bi bi-copy ns mr-1"></i> Download Link</a>
	</div>
</div>