<div class="share-preset">
	
	#set($dlink = $mediaarchive.asLinkToShare($context.getSiteRoot(),$asset,$preset))
	<a target="_new" href="$dlink" class="preset-dl-link" title="View #text($preset)">

		#set( $ext = $url_util.getPathUtilities().extractPageType($dlink))
		#set ($mime = $mediaarchive.getMimeTypeIcon($ext))
		<div class="format-thumb">
			<i class="bi bi-$mime"></i>
		</div>
	</a>

	<div class="d-flex flex-column">
		#set( $type = $mediaarchive.getCachedData("fileformat",$preset.outputextension))
		
		<div class="preset-prop">#text($preset) #if($type)<em class="text-muted">(#text($type))#end</em></div>
	</div>

	<div class="d-flex align-items-center preset-links">
		<a class="btn btn-cta" href="$dlink?download=true&ondemand=true"><i class="bi bi-download ns me-1"></i> [[Download]]</a>
		<a class="btn btn-accent copytoclipboard" data-text="$dlink?ondemand=true"><i class="bi bi-copy ns me-1"></i> [[Copy Share Link]]</a>
	</div>
</div>