<div id="desktopTitle">
  <div style="app-region:drag" class="trafficlight"></div>
  <div class="d-flex align-items-center menubar">
    <button class="home">
      <i class="bi bi-house-door-fill"></i>
    </button>
    <button class="edit">Edit</button>
    <button class="window">Window</button>
  </div>
  <div class="titlebar" style="app-region:drag">
    <div class="desktop-icon"></div>
    <div class="desktop-title">
      $!mediaarchive.getCatalogSettingValue("sitetitle")
    </div>
    <div class="desktop-error"></div>
  </div>
</div>