<div id="desktopTitle">
  <div class="menubar">
    <button class="eMediaMenu">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAgVBMVEVHcExfplNfplNfplNank9krlhfplNank9krlhkrlhank9ank9ank9ank9krlhkrlhkrlhkrlhank9krlhank+h0ahYnU3z+vn5/f6ZzaKSxpxiq1Zkpl+OyZXP6dne7+JttWjG5NGDu4eKwZPl8eip1q94tHmAv4ByuG2JxIlzsHJmjW84AAAAE3RSTlMABGQx7Ox49uL2n+KKOp+KOsrKmiuB8QAAAP5JREFUKM9tkumSgyAQhAcUNd4Hiroar0Q3+/4PuO21a4zfj4bqZoYqBqIFFgaRSBIRBSGjA5oPd0X42p/NuJUcsPhWxIxb8sbNWBN+8pHwpb+VfGDhHuYnF/iMQnEViJACLG2RgqL9rtvXBIEVUAR9qRyoOlV100FgRSQOFU9VPO7PfA4EfYHp3sxMezB7JMHY3UE3pqp8dGk+zB7pkKosQFntQSalTrGUWb9e3hdqaLpS9QhicueKoQRDVfXV+AOB5ZI398oWsGIHQSePmC0vsPG+mvPpO8uwuHn2Tb4N6pSYxj5C/tbN4f//QbP13dZt7fhNmOfGyPTY9bbjv8L0JmbHtGdiAAAAAElFTkSuQmCC" />
      eMedia Library
    </button>
    <button class="editMenu">Edit</button>
    <button class="windowMenu">Window</button>
  </div>
  <div class="titlebar" style="app-region:drag">
    <div class="desktop-icon"></div>
    <div class="desktop-title">
      $!mediaarchive.getCatalogSettingValue("sitetitle")
    </div>
    <div class="desktop-error"></div>
  </div>
</div>