#if($cansidebar)
	#set($forcedsidebarcomponent = $context.getRequestParameter("sidebarcomponent")) 
	#if($forcedsidebarcomponent)
		#set( $sidebarcomponent = $forcedsidebarcomponent )
	#end
	
	#if($sidebarcomponent == "categories" && !$canviewcategorynav )
		#set($sidebarcomponent = "")
	#end
	#if($sidebarcomponent)
		#set( $sidebarwidth = $userprofile.get("sidebarwidth"))
		
		#if($sidebarwidth=='' || $sidebarwidth=='undefined')
			#set($sidebarwidth = 280)
		#end
	#end
#end

<div id="header" class="mediacenterheader autostickywidth d-flex align-items-center justify-content-between p-3 pb-4">
	<div class="logocontainer">
		#set ($homeurl = "$!{siteroot}$apphome/index.html")
		#ifnotnull($category)
			#set( $assetid = $category.findValue("headercategoryimage") )
			#ifnotnull($assetid)
				#set($logoasset = $mediaarchive.getCachedData("asset",$assetid))
				#set($logourl = $mediaarchive.asLinkToOriginal($logoasset))
				#set($logourl = "$siteroot/$mediadbappid/services/module/asset/downloads/originals/${logourl}")
			#end
			#ifnotnull( $logourl)
			<a class="emlogo-custom" href="$homeurl" title="[[eMediaWorkspace]]" data-clearfilters="true">	
				<span>
					<img src="$logourl" class="logoimg" alt="[[eMediaWorkspace]]" />
				</span>
			</a>
			#end
		#end
		#ifnull( $logourl)
			#set( $logourl = "$!{siteroot}$themeprefix/images/logo.png")
			<a class="emlogo" href="$homeurl" title="[[eMediaWorkspace]]">	
				<span>
					<img src="$logourl" class="logoimg" alt="[[eMediaWorkspace]]" />
				</span>
			</a>
		#end
	</div>
	#if($canviewquicksearchheader)
		$pages.include("$apphome/components/gridfilters/header-search.html", $context)
	#end
	#if($user)
	<div class="position-relative">
		<button class="em navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon text-white"></span>
		</button> 
		<div class="navbar-collapse collapse" id="navbarNavDropdown">
			<ul class="navbar-nav d-flex flex-column">
			#if($canviewsettings)
				<li class="nav-item">
					<a href="$!{siteroot}$apphome/views/dashboard/index.html" class="nav-link ajax" 
						data-targetdivinner="application" data-updateurl="true" data-oemaxlevel="4" title="[[Dashboard]]">
						[[Dashboard]]
					</a>
				</li>
			#end
			#if( $user )
				#if( $canviewmyaccount ) 
					<li class="nav-item">
						<a class="nav-link ajax" data-targetdivinner="application" data-updateurl="true" data-oemaxlevel="4" href="$!siteroot$apphome/views/myaccount/index.html"  title="[[Account Settings]]">
							[[My Account]]
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ajax" data-targetdivinner="application" data-updateurl="true" data-oemaxlevel="4" href="$!siteroot$apphome/views/myaccount/orders/index.html"  title="[[My Orders]]">
							[[My Orders]]
						</a>
					</li>
				#end
				#set( $localesearcher = $mediaarchive.getSearcher("locale") )
				#set($currentlang = $localesearcher.searchById($context.language))
				<li class="nav-item dropdown dropleft">
					<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
						#if($currentlang)
							$currentlang
						#else
							[[Language]]
						#end
					</a> 
					<div id="language-bar-select" class="dropdown-menu">
						#set( $languages = $localesearcher.query().named("localehits").match("enabled", "true").search($context) )
						#foreach( $lang in $languages)
							#set($langurl = "$home$apphome/components/languages/changelanguage.html?newlang=locale_${lang.id}&origURL=$context.getPathUrl()")
							<a class="nav-link" href="#urlescape($langurl)">$lang</a>
						#end
					</div> 
				</li>
				<li  class="nav-item">
					<a class="nav-link" href="$!siteroot$apphome/authentication/logout.html" title="[[Logout]]">
						[[Logout]] ($user)
					</a>
				</li> 
			#else 
				<li  class="nav-item">
					<a class="nav-link" href="$!siteroot$apphome/authentication/login.html"  title="[[Login]]">
						[[Login]]
					</a>
				</li> 
			#end
			</ul>
		</div>
	</div>
	#end
</div>
