##Sidebars
#set( $sidebarcomponent = $userprofile.get("sidebarcomponent"))
#if(!$sidebarcomponent)
	#set( $sidebarcomponent = "")
#end
#set( $sidebarwidth = $userprofile.get("sidebarwidth"))
$context.putPageValue("sidebarcomponent", $sidebarcomponent)
$context.putPageValue("sidebarwidth", $sidebarwidth)

<div class="emheader">
<div class=" navbar  navbar-expand-lg navbar-dark ">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	<div class="collapse navbar-collapse navlinks" id="navbarNav">
	<ul class="navbar-nav  ml-auto">

		#if( $user )
			<li class="nav-item nav-first-item"><a class="emdialog" data-width="900" data-height="1900" title="[[Help Center]]" href="$home$apphome/views/modules/help/helpcenter.html">[[Help]]</a></li>
	    	#if( $canviewmyaccount ) 
	   			<li class="nav-item"><a href="$home$apphome/views/myaccount/myassets/index.html">[[My Account]]</a></li>	    	
	    	#end
			 
	    	<li   class="nav-item"><a href="$home$apphome/authentication/logout.html">[[Logout]]</a></li> 
	    #else 
	    	<li class="nav-item nav-first-item"><a href="$home$apphome/authentication/login.html" class="first">[[Login]]</a></li> 
	    #end
	    #if($user)
		#set( $localesearcher = $mediaarchive.getSearcher("locale") )
	       #set($currentlang = $localesearcher.searchById($context.language))
	      #if($currentlang)
	 	<li class="nav-item dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">$currentlang</a> 
	    #else
	 	<li class="nav-item dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">[[Language]]</a> 
	     #end
	  
	  	<div id="language-bar-select" class="dropdown-menu">
			#set( $localesearcher = $mediaarchive.getSearcher("locale") )
			#set( $languages = $localesearcher.query().match("enabled", "true").search($context) )
			#foreach( $lang in $languages)
				#set($langurl = "$home$apphome/components/languages/changelanguage.html?newlang=locale_$lang.id&origURL=$context.getPathUrl()")
				 <a class="dropdown-item" href="#urlescape($langurl)">$lang </a>
			#end
	    </div> 
		</li>
		#end	
		
	    #if($canviewsettings)
	   	<li><a href="$home$apphome/views/dashboard/index.html" >[[Dashboard]]</a></li> 
	   	<li><a #if ( $module ) href="$home$apphome/views/settings/modules/$module.id/index.html" #else href="$home$apphome/views/settings/index.html" #end>[[Settings]]</a></li> 
	    #end 
	
	#set($lastselected = $userprofile.last_selected_module )
	#if(!$lastselected)
		#set ($lastselected = $content.module )
	#end
	#if(!$lastselected)
	      #set($lastselected = "asset" )
	#end   
	#if( $userprofile.getModules().size() > 1 )
	#set( $urlbase = "$home$apphome/views/modules" )
	<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">+ Add</a> 
		<div id="module-bar-select" class="dropdown-menu  dropdown-menu-right">
			#foreach ( $amodule in $userprofile.getModules() )
				<a class="dropdown-item emdialog" href="$urlbase/${amodule.id}/edit/addnewdialog.html?field=last_selected_module&last_selected_module.value=${amodule.id}">$amodule</a>
			#end
		</div>
	</li>
	#end


	</ul>
 </div>
</div>
</div>



<div id="header" class="mediacenterheader">
	<div class="pushcontent #if($sidebarcomponent) pushcontent-open pushcontent-$sidebarcomponent #end"
	style="#if($sidebarcomponent && $sidebarwidth) margin-left:${sidebarwidth}px;#end">
	
	<div class="logocontainer">
		<a class="emlogo" href="$home$apphome/index.html" title="[[EnterMedia Insights]]">
			<span><img src="$home$themeprefix/images/logo.png" alt="[[EnterMedia Insights]]" /></span>
		</a>
	</div>
		
	  #if(!$hidefilters)
	        $pages.include("$apphome/components/gridfilters/header-search.html", $context)
	        ##$pages.include("$apphome/components/gridfilters/filters-selected.html", $context)
	    #end
	</div>
</div>


