<script type="text/javascript"  src="$applink/components/javascript/jquery-3.6.0.min.js" onload="if (!window.jQuery) window.$ = window.jQuery = module.exports;"></script>

<script type="text/javascript" src="/${applicationid}/components/javascript/bootstrap/4.5.3/js/popper.min.js"></script>
<script type="text/javascript" src="/${applicationid}/components/javascript/bootstrap/4.5.3/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/${applicationid}/components/javascript/jquery-ui/1.12/jquery-ui.min.js" ></script>
<script type="text/javascript" src="/${applicationid}/components/javascript/jquery-ui/i18n/jquery-ui-i18n.js" ></script> 

<script type="text/javascript" src="$siteroot$applink/components/javascript/index.js" ></script>
<script type="text/javascript" src="$siteroot$apphome/theme/fontfaceobserver.js"></script>
<script type="text/javascript" src="$siteroot$apphome/theme/fabric.min.js"></script>

#foreach( $style in $content.getStylePaths() )
	<link rel="stylesheet" type="text/css" href="#if(!$style.startsWith("http"))$siteroot#end$style" />
#end

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">