<div id="applicationmaincontent" class="applicationmaincontent  applicationmaincontent$section">
	$pages.include("${themeprefix}/layouts/header.html", $context)
	
	#set($tab = $content.tab)
#if($canviewentitiestopmenu)
	
	#set($selected = $context.findValue("module") )
	
	#if($module.getId() == "asset")
		#set($selected = "myassets")
	#end
	#if($module.getId() == "modulesearch" && $tab=="favorites")
		#set($selected = "favorites")
	#end
	
	<div class="entitynabarcontainer autostickywidth">
	<ul class="entity-navbar">
		
		#if($topmenu.isEmpty())
		<li>
			<a href="$applink/index.html" class="ajax #ifnull($selected) active #end" 
				data-targetdiv="applicationcontent" 
				data-oemaxlevel="3" 
				data-updateurl="true"
				data-sidebarcomponent="categories"
				data-profilepreference="defaultmodule" 
				data-profilepreference.value="" 
				data-scrolltotop="true"
			 	title="[[View All]]">
					  [[Folders]]
			</a>
		</li>
		#else
			#foreach( $link in $topmenu)
				#set( $entity = $mediaarchive.getCachedData("module",$link.toplevelentity) )
				##sort type			
				<li >
					<a href="$applink/views/modules/$entity.getId()/index.html?${entity.getId()}page=1" 
						class="ajax activelistener #ifnotnull($selected) #if( $selected == $entity.getId()) active#end #end" 
						data-targetdiv="applicationcontent" 
						data-oemaxlevel="4" 
						data-updateurl="true"
						data-profilepreference="defaultmodule" 
						data-profilepreference.value="${entity.getId()}" 
						data-scrolltotop="true"
						#if($entity.getId() =="asset") data-sidebarcomponent="categories" #end
						title="[[View]] #text($link)">
							#text($link)
					</a>
				</li>
			#end
			
			#if($user && $canviewmyfiles)
			<li >
					<a href="$applink/views/myaccount/myassets/index.html" 
						class='ajax activelistener #if( $selected=="myassets") active #end' 
						data-targetdiv="applicationcontent" 
						data-oemaxlevel="4" 
						data-updateurl="true"
						data-scrolltotop="true"
						title="[[View My Files]]">
							[[My Files]] 
							
					</a>
			</li>
			#end
			#if($user && $canaddtofavorites)
			<li >
					<a href="$siteroot$applink/views/modules/modulesearch/favorites.html" 
						class='ajax activelistener #if( $selected=="favorites" || $selected=="modulesearch") active #end' 
						data-targetdiv="applicationcontent" 
						data-oemaxlevel="4" 
						data-clearselection="true"
						data-clearfilters="true"
						data-updateurl="true"
						data-scrolltotop="true"
						title="[[View Saved]]">
							[[Saved]]
					</a>
			</li>
			
			#end
				
			#if($canviewsettings)
				<li class="settingslinkmenu">
					<a href="$applink/views/settings/modules/setup/index.html" 
					class="ajax" data-targetdiv="applicationcontent" data-oemaxlevel="5"
					data-sidebarcomponent="settings" 
					data-scrolltotop="true"
					title="[[Add Menu Options]]">
					<i class="fas fa-plus"></i></a>
				</li>
			#end
		#end
	</ul>
	</div>
#end



	$pages.streamContent()
</div>