#set( $tab = $context.findValue("tab") )

<div class="settingslayout" id="settingslayout">
	$pages.includeContent()
</div>

<script type="text/javascript">
	jQuery(document).ready(function () 
		{ 
			#set( $tab = $context.findValue("tab") )
			#if( $tab )
				jQuery("#$tab").attr("class", "current");
			#end	
			jQuery("#settings-menu a").click(function(){
				jQuery("#settings-menu li").removeClass("current")
				jQuery(this).parent().addClass("current");
			});
		});
		
</script>
		

		
		
		