#set( $tab = $context.findValue("tab") )
#set( $sidebarwidth = $userprofile.get("sidebarwidth"))

<div class="cols-main settingslayout" id="settingslayout">



 $pages.include("$componenthome/sidebars/index.html",$context)

<div class="col-main col-content col-content-main" id="maincontent">
	<div class="settings col-main-inner">
	<div class="pushcontent #if($sidebarcomponent) pushcontent-open pushcontent-$sidebarcomponent #else pushcontent-fullwidth #end" 
	     style="#if($sidebarwidth) margin-left:${sidebarwidth}px;#end">
		$pages.includeContent()
	</div>
	</div>
	
</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function () 
		{ 
			#set( $tab = $context.findValue("tab") )
			#if( $tab )
				jQuery("#$tab").attr("class", "current");
			#end	
			jQuery("#settings-menu a").click(function(){
				jQuery("#settings-menu li").removeClass("current")
				jQuery(this).parent().addClass("current");
			});
		});
		
</script>
		

		
		
		