#set($section = $content.section)

#if($cansidebar)
#set($forcedsidebarcomponent = $context.getRequestParameter("sidebarcomponent")) 
#if($forcedsidebarcomponent)
	#set( $sidebarcomponent = $forcedsidebarcomponent )
#end


#if( !$sidebarcomponent && $modulehits.isEmpty() )
	#set( $sidebarcomponent = "guide" )
#end

#set( $sidebarwidth = $userprofile.get("sidebarwidth"))
#if($sidebarwidth=='' || $sidebarwidth=='undefined')
	#set($sidebarwidth = 280)
#end
#end



<div id="applicationcontent"  
	 class="cols-main #if ($module) cols-$module.id #end cols-${section}" 
	 data-moduleid="$!module.id" 
   $pages.include("$apphome/components/sections/title.html",$context)
>

	#if($user && $cansidebar)
		 $pages.include("$componenthome/sidebars/index.html",$context)
	#end
	
	 <div class="col-main col-content-main">
		<div class="pushcontent finderlayout col-main-inner #if($cansidebar && $cantogglesidebar && $sidebarcomponent) pushcontent-open pushcontent-$sidebarcomponent #else pushcontent-fullwidth #end" 
			  style="#if($cansidebar && $sidebarcomponent && $sidebarwidth) margin-left:$!{sidebarwidth}px;#end">
			  ##<div class=" ">
				
				$pages.includeContent()
				
			##</div>
					
		</div>
	</div>
	
</div>
