#if( !$sidebarcomponent && $modulehits.isEmpty() )
	#set( $sidebarcomponent = "guide" )
#end

#set( $sidebarwidth = $userprofile.get("sidebarwidth"))

<div id="applicationcontent"  
	 class="cols-main #if ($module) cols-$module #end" >
	 
	 $pages.include("$componenthome/sidebars/index.html",$context)
	
	 <div class="col-main col-content-main">
		<div class="pushcontent #if($sidebarcomponent) pushcontent-open pushcontent-$sidebarcomponent #else pushcontent-fullwidth #end" 
			  style="#if($sidebarwidth) margin-left:${sidebarwidth}px;#end">
			
			<div id="applicationmaincontent">   
				$pages.streamContent()
			</div>
					
		</div>
	</div>
	
</div>
