
$context.putPageValue("hits",$orderassets)
$context.putPageValue("hidefilters",true)

#set($module = $searcherManager.getCachedData($catalogid, "module", $moduleid ) )

<div id="searchplugin" class="modules-layout">
  <div id="collectionbasket">
    <div class="finder-title">
      <h2><i class="bi bi-cart-fill"></i> [[Cart]]</h2>
    </div>
    #if($orderitems.size() >0 )
      $context.putPageValue("resultstargetdiv","collectionbasket")
      $context.putPageValue("resultsPage","$siteroot$apphome/views/basket/index.html")
      $context.putPageValue("hideresultstypes","hideresultstypes")
      
      $pages.include("$searchhome/index.html",$context)
    #else
      <p style="padding:20px;">[[No Items in Cart]]</p>
    #end
  </div>
</div> 