<div  id="search-collections" >
	<div id="searcharea" >
	#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
	$context.putPageValue("searcher",$searcher)
	#set ($details = $searcher.getDetailsForView("librarycollection/librarysearchcollection", $userprofile))

#if( $hits && $hits.getSelectionSize() > 0)	
	<div class="alert alert-info">
  		<strong>[[Adding]]</strong> $hits.getSelectionSize() [[assets to album]]
	</div>
#elseif($assetid)	
	
#end	
     
    <form  id="colsearchform" class="autosubmit"  
    data-targetdiv="assetcollectionresultsdialog" 
    action="$home$apphome/components/opencollections/searchcollectionresults.html">
	
		<input type="hidden" name="searchtype" value="librarycollection" />
		<input type="hidden" name="sortby" value="name" />

		<input type="hidden" name="assetid" value="$!asset.id" />
		<table  width="100%">
		<tr>
		<td>
		<div class="row inlinesearch" >
			$context.putPageValue("autocomplete","off")
			#foreach( $detail in $details)
			<div class="col">
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
			</div>
			#if( $counter == 4)
				</div>
				<div  class="row" >
			#end	
			#end
		</div>	
		</td>
		
		</tr>
		</table>
	</form>
	
	
	<div id="assetcollectionresultsdialog">
	$pages.include("$apphome/components/opencollections/searchcollectionresults.html?assetid=$!asset.id",$context)
	</div>
	
	</div>
	
	#if($canaddnewcollection)
	<h4>[[Or]]</h4>
       <a  class="emdialog btn btn-primary" 
       	title="[[Create New Album]]" 
       	href="$home$apphome/components/opencollections/pickcollectionaddnew.html?searchtype=librarycollection&assetid=$!asset.id&targetdiv=assetcategoryresults&library.value=$!library.getId()">
       	<i class="bi bi-plus-lg mr-1"></i> [[Create New Album]]</a>
    #end
</div>	
<form id="collectionselectform" 
	class="ajaxform"  
	data-targetdiv="assetcategoryresultsmediaviewer" 
	data-ajaxreloadtargets="sidebarcontent"
	action="$home$apphome/components/categories/asset/listassetcollections.html">

	<input type="hidden" name="searchtype" value="librarycollection" />
	<input type="hidden" name="sortby" value="name" />
	<input id="emselectedrow" type="hidden" name="collectionid" />
    <input type="hidden" name="assetid" value="$!asset.id" />
</form>
