#set( $id = $context.getRequestParameter("id"))
#set( $title = $context.getRequestParameter("title"))
#set( $titleFS = $context.getRequestParameter("titleFS"))
#set( $caption = $context.getRequestParameter("caption"))
#set( $captionFS = $context.getRequestParameter("captionFS"))
#set( $image = $context.getRequestParameter("image"))
#set( $bgColor = $context.getRequestParameter("bgColor"))
#set( $color = $context.getRequestParameter("color"))



<div class="d-flex flex-column bg-white m-4 rounded" style="width: 400px; max-width: 100%;" data-setpagetitle="Insert Action">
  <div class="d-flex justify-content-between border-bottom px-3 pt-3 pb-2">
    <h4 class="text-center m-0 text-dark">
      #ifnull($id) Insert #end
      #ifnotnull($id) Update #end
      Action</h4>
    <button class="btn text-muted closemodal">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <form class="d-flex flex-column m-0 p-3" id="actionForm" #ifnotnull($id) data-id="$id" #end>
    <select name="type" class="rounded form-control mb-3">
      <option value="">Action Type</option>
      <option value="create">Create</option>
      <option value="update">Update</option>
      <option value="delete">Delete</option>
    </select>
    <div class="d-flex align-items-center mb-3">
      <textarea type="text" name="title" placeholder="Notes" class="rounded form-control">$!{title}</textarea>
      <!-- <input type="number" name="fst" value="16" placeholder="Font Size" class="rounded form-control me-1" id="titleFontSize" style="width: 50px;" #ifnotnull($titleFS) value="$titleFS" #end />
      <label class="text-dark m-0" for="titleFontSize">px</label> -->
    </div>
	  <!-- <input type="text" name="image" placeholder="Image URL (optional)" class="rounded form-control mb-3" #ifnotnull($image) value="$image" #end /> -->
    <div class="d-flex align-items-center mb-3">
      <input type="text" name="caption" placeholder="Email" class="rounded form-control" #ifnotnull($caption) value="$caption" #end />
      <!-- <input type="number" name="fsc" value="16" placeholder="Font Size" class="rounded form-control me-1" id="captionFontSize" style="width: 50px;" #ifnotnull($captionFS) value="$captionFS" #end />
      <label class="text-dark m-0" for="captionFontSize">px</label> -->
    </div>
    <div class="d-flex align-items-center mb-3">
      <input type="text" name="caption" placeholder="Script" class="rounded form-control" #ifnotnull($caption) value="$caption" #end />
      <!-- <input type="number" name="fsc" value="16" placeholder="Font Size" class="rounded form-control me-1" id="captionFontSize" style="width: 50px;" #ifnotnull($captionFS) value="$captionFS" #end />
      <label class="text-dark m-0" for="captionFontSize">px</label> -->
    </div>
    <div class="d-none align-items-center justify-content-between mb-3 color-inputs">
      <input type="text" name="fill" placeholder="Background Color" class="color-picker rounded form-control me-2" autocomplete="off" #ifnotnull($bgColor) value="#B12DC2" #end />
      <input type="text" name="stroke" placeholder="Border Color" class="color-picker rounded form-control" autocomplete="off" #ifnotnull($color) value="#9525A1" #end />
    </div>
    <button type="submit" class="btn btn-brand btn-lg rounded align-self-center">
      #ifnull($id) Insert #end
      #ifnotnull($id) Update #end
    </button>
  </form>
</div>