
<div class="deploy-warning p-3">
  <p class="mb-3 text-center">
    <strong class="text-warning"><i class="bi bi-exclamation-triangle ns"></i> [[WARNING]]:</strong> 
    [[Deploying this will overwrite your current folder structure. Would you like to proceed?]]
  </p>
  <div class="d-flex justify-content-between">
    <button class="deploy-organizer-finish btn btn-lg btn-brand rounded me-2"
    	data-url="$apphome/components/smartorganizer/deploy-finish.html"><i class="bi bi-rocket-takeoff me-2"></i> [[Deploy]]</button>
    <button class="btn btn-lg btn-secondary rounded closemodal">[[Cancel]]</button>
  </div>
</div>
