
<div id="smartorganizermain" class="organizer" data-setpagetitle="Smart Organizer">
  <div class="organizer-inner">
    $pages.include("./header.html")
    <div class="org-row">
      $pages.include("./sidebar.html")
      <div class="org-canvas">
        <div id="draggableArea" class="h-100">
          <div
            id="organizer_canvas" data-initializing="true"
            style="width: 3000px; height: 3000px"
          ></div>
        </div>
      </div>
      $pages.include("./folderconfig.html")
    </div>
  </div>
</div>