<button id="mod-toggler" style="display: none;">
  <i class="bi bi-gear"></i>
</button>

<div id="modifySelection" style="display: none"> 
  <div id="dragHandle"></div>
  <div class="folder-props">
    <a
      href="$!siteroot$apphome/components/smartorganizer/icons.html"
      class="emdialog"
      type="button"
      id="folderThumbPickerBtn"
      data-dialogid="iconPicker"
      data-oemaxlevel="1"
    ></a>
    <input type="text" id="folderLabel" placeholder="Folder Name" />
  </div>
  
  <div class="d-flex align-items-center my-2">
    <label for="folderId" class="mb-0">ID</label>
    <input type="text" id="folderId" placeholder="Folder ID" />
  </div>
 
  <textarea rows="5" id="folderDesc" placeholder="[[Folder description]]"></textarea>
  
  
   <div class="d-flex align-items-center my-2">
    <label for="ordering" class="mb-0 p-2">On&nbsp;Menu</label>
    <select id="ordering" name="ordering" title="Menu Order" class="select2" >
    	<option value="-1" >Not shown</option>
    	<option value="1" >1st Position</option>
    	<option value="2" >2nd Position</option>
    	<option value="3" >3rd Position</option>
    	<option value="4" >4th Position</option>
    	<option value="5" >5th Position</option>
    	<option value="6" >6th Position</option>
    	<option value="7" >7th Position</option>
    	<option value="8" >8th Position</option>
    	<option value="9" >9th Position</option>
    	<option value="10" >10th Position</option>
    </select>
  </div>
  

  ##ifnotnull($folder)
	
  <div class="d-flex justify-content-between w-100 text-center">
    <a href="$apphome/views/settings/modules/${folder.id}/info/module-setup.html" class="btn text-brand mb-1">
      <div class="bi bi-lock mr-1"></div> [[Settings]]
    </a>
    <a href="$apphome/views/settings/modules/${folder.id}/metadata/views/index.html" class="btn text-brand mb-1">
      <div class="bi bi-gear mr-1"></div> [[Editing Fields]]
    </a>
    <a href="$apphome/views/settings/modules/${folder.id}/metadata/viewssystem/index.html" class="btn text-brand mb-1">
      <div class="bi bi-eye mr-1"></div> [[Search Fields]]
    </a>
  </div>
  ##end


  <p class="del-hint">
    [[Press]] <kbd>[[Delete]]</kbd> [[to delete the selected folder.]]
  </p>
</div>