<button id="mod-toggler" style="display: none;">
  <i class="bi bi-gear"></i>
</button>

<div id="modifySelection" style="display: none"> 
  <div id="dragHandle"></div>
  <div class="folder-props">
    <a
      href="$!siteroot$apphome/components/smartorganizer/icons.html"
      class="emdialog"
      type="button"
      id="folderThumbPickerBtn"
      data-dialogid="iconPicker"
      data-oemaxlevel="1"
    ></a>
    <input type="text" id="folderLabel" placeholder="Folder Name" />
  </div>
  
  <div class="d-flex align-items-center my-2">
    <label for="folderId" class="mb-0">ID</label>
    <input type="text" id="folderId" placeholder="Folder ID" />
  </div>
  
  <textarea rows="5" id="folderDesc" placeholder="[[Folder description]]"></textarea>
  ##if($folderExists)
  <div class="d-flex justify-content-between w-100 text-center">
    <a href="#" class="btn text-brand mb-1">
      <div class="bi bi-gear mr-1"></div> [[More Settings]]
    </a>
    <a href="#" class="btn text-brand mb-1">
      <div class="bi bi-eye mr-1"></div> [[View Data]]
    </a>
  </div>
  ##end
  <p class="del-hint">
    [[Press]] <kbd>[[Delete]]</kbd> [[to delete the selected folder.]]
  </p>
</div>