<div id="modifySelection" style="display: none">
  <div id="dragHandle"></div>
  <div class="folder-props">
    <a
      href="$siteroot$apphome/components/smartorganizer/icons.html"
      class="emdialog"
      type="button"
      id="folderThumbPickerBtn"
      data-dialogid="iconPicker"
      data-oemaxlevel="1"
    ></a>
    <input type="text" id="folderLabel" />
  </div>
  <textarea rows="5" id="folderDesc" placeholder="Folder description..."></textarea>
  <p class="del-hint">
    Press <kbd>Delete</kbd> to remove the selected folder.
  </p>

  <button class="btn configure-options collapsed" type="button" data-toggle="collapse" data-target="#configureOptions">Configure Selected Folder <i class="ml-1 bi bi-chevron-up"></i></button>
  <div class="collapse" id="configureOptions">
    <div class="customization-buttons"> 
      <a href="#">Permissions</a>
      <a href="#">Viewing Options</a>
      <a href="#">Fields and Data</a>
      <a href="#">Export/Import Settings</a>
      <a href="#">User Options</a>
      <a href="#">Module Type</a>
      <a href="#">Automation Settings</a>
      <a href="#">Branding</a>
      <a href="#">Sharing Settings</a>
      <a href="#">Languages</a>
    </div>
  </div>
</div>