<div id="smartheader" class="org-header">
  <div class="d-flex align-items-center mr-2" style="min-width:300px">
    #set( $id = $context.getRequestParameter("id"))
	#ifnotnull($id)
    	#set( $current = $mediaarchive.getData("smartorganizer",$id) )
    #end	
    #ifnull($current)
      #set( $current = $mediaarchive.query("smartorganizer").exact("iscurrent","true").searchOne($context)))
    #end

    <img src="$siteroot$apphome/theme/images/emedialogo.png" alt="eMedia Logo" />
    <h1>Smart Organizer</h1>
  </div> 

  <div class="d-flex align-items-center justify-content-between flex-grow-1">
    <div class="d-flex align-items-center">
      <a 
        class="btn template-versions py-2 px-3 emdialog saved-versions" 
        title="Saved Template Versions"
        href="$siteroot$apphome/components/smartorganizer/versions.html" 
        role="button"
        data-dialogid="templateVersions"
        data-oemaxlevel="1"
        aria-haspopup="true" 
        aria-expanded="false">
        <i class="bi bi-clock-history mr-2"></i> Saved Versions
      </a>
      <input type="hidden" id="organizerId" name="id" value="$!current.getId()"/>
      <input type="hidden" class="form-control px-3" id="organizerName" name="name" value="$!current.getName()" placeholder="Template Name" />
      <button class="btn btn-brand px-3 py-2 rounded" id="saveOrganizer">
        <i class="fas fa-save"></i>
        <i class="fas fa-check"></i>
        <i class="fas fa-spinner fa-spin"></i>
        <span></span>
      </button>
      <button class="btn btn-outline-success px-3 py-2 rounded ml-2" id="copySmartNodes" style="display: none;">
        <i class="bi bi-copy"></i>
      </button>
      <button class="btn btn-outline-info px-3 py-2 rounded ml-2" id="pasteSmartNodes" style="display: none;">
        <i class="bi bi-clipboard"></i>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <a 
      class="btn btn-brand p-2 rounded emdialog deploy-organizer" 
      title="Deploy Template"
      href="$siteroot$apphome/components/smartorganizer/deploy.html" 
      role="button" 
      data-dialogid="deployOrganizer"
      data-dialogwidth="500"
      data-oemaxlevel="1"
      style="min-width: 120px;"
      >
        <i class="bi bi-rocket-takeoff"></i>
        <span class="ml-2" style="font-size: 1.1rem;">
          Deploy
        </span>
      </a>

      <button id="closeorgnizer" class="ml-2 btn closeorgnizer" title="Close Dialog">
        <i class="bi bi-x-lg"></i>
      </button>
    </div> 
  </div>
</div>
