<div class="organizer">
  $pages.include("./header.html")
  <div class="org-row">
    $pages.include("./sidebar.html")
    <div class="org-canvas">
      <div id="draggableArea">
        <div
          id="organizer_canvas"
          style="width: 3000px; height: 3000px"
        ></div>
      </div>
      <div class="canvas-zoom">
        <button id="zoomInBtn">
          <i class="bi bi-zoom-in"></i>
        </button>
        <button id="zoomResetBtn">
          <i class="bi bi-aspect-ratio"></i>
        </button>
        <button id="zoomOutBtn">
          <i class="bi bi-zoom-out"></i>
        </button>
      </div>
    </div>
    $pages.include("./folderconfig.html")
  </div>
</div>

