<div class="d-flex flex-column bg-white m-4 rounded" style="width: 400px; max-width: 100%;" data-setpagetitle="Insert Label">
  <div class="d-flex justify-content-between border-bottom px-3 pt-3 pb-2">
    <h4 class="text-center m-0 text-dark">Insert Label</h4>
    <button class="btn text-muted closemodal">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <form class="d-flex flex-column m-0 p-3" id="labelForm">
    <div class="d-flex align-items-center mb-3">
      <input type="text" name="title" placeholder="Title" class="rounded form-control mr-2" />
      <input type="number" name="fst" value="16" placeholder="Font Size" class="rounded form-control mr-1" id="titleFontSize" style="width: 50px;" />
      <label class="text-dark m-0" for="titleFontSize">px</label>
    </div>
	  <input type="text" name="image" placeholder="Image URL (optional)" class="rounded form-control mb-3" />
    <div class="d-flex align-items-center mb-3">
      <input type="text" name="caption" placeholder="Caption" class="rounded form-control mr-2" />
      <input type="number" name="fsc" value="16" placeholder="Font Size" class="rounded form-control mr-1" id="captionFontSize" style="width: 50px;" />
      <label class="text-dark m-0" for="captionFontSize">px</label>
    </div>
    <div class="d-flex align-items-center mb-3">
      <input type="text" name="fill" placeholder="Fill (hex color)" class="rounded form-control mr-2" />
      <input type="text" name="stroke" placeholder="Stroke (hex color)" class="rounded form-control" />
    </div>
    <button type="submit" class="btn btn-brand btn-lg rounded align-self-center">Insert</button>
  </form>
</div>