<div class="org-left-sidebar">
  <input
    id="logoPicker"
    type="file"
    accept="image/*"
    style="display: none"
  />
  <button id="logoPickerBtn" title="Set Company Logo"  class="round-btn">
    <div style="color: #5f739e; line-height: 1; margin-bottom: 14px">
      <div style="font-size: 3em">&plus;</div>
      <div style="font-size: 1em; font-weight: bold">LOGO</div>
    </div>
  </button>
  <button id="addFolderBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/fl.svg" alt="Logo" title="Create New Folder" style="width: 40px" />
  </button>
  <button id="templatePickerBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/templates.svg" alt="Logo" title="Import Existing Templates" style="width: 50px" />
  </button>
  <button id="deployBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/deploysite.svg" alt="Deploy  Changes" title="Deploy" style="width: 50px" />
  </button>
  <div class="viewport-nav">
    <button id="vToTop" disabled>
      <i class="bi bi-chevron-up"></i>
    </button>
    <div class="w-100 d-flex justify-content-between">
      <button id="vToLeft" disabled>
        <i class="bi bi-chevron-left"></i>
      </button>
      <button id="vToRight">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
    <button id="vToBottom">
      <i class="bi bi-chevron-down"></i>
    </button>
  </div>
</div>