<div class="org-left-sidebar">
  <input
    id="logoPicker"
    type="file"
    accept="image/*"
    style="display: none"
  />
  <button id="logoPickerBtn" class="round-btn">
    <div style="color: #5f739e; line-height: 1; margin-bottom: 14px">
      <div style="font-size: 3em">&plus;</div>
      <div style="font-size: 1em; font-weight: bold">LOGO</div>
    </div>
  </button>
  <button id="addFolderBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/fl.svg" alt="Logo" style="width: 40px" />
  </button>
  <button id="templatePickerBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/templates.svg" alt="Logo" style="width: 50px" />
  </button>
</div>