<div class="org-left-sidebar">
  <input
    id="logoPicker"
    type="file"
    accept="image/*"
    style="display: none"
  />
  <button id="logoPickerBtn" title="Set Company Logo"  class="round-btn">
    <div style="color: #5f739e; line-height: 1; margin-bottom: 14px">
      <div style="font-size: 3em">&plus;</div>
      <div style="font-size: 1em; font-weight: bold">LOGO</div>
    </div>
  </button>
  <button id="addFolderBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/fl.svg" alt="New Folder" title="Create New Folder" style="width: 40px" />
  </button>
  <a id="templatePickerBtn" 
    class="round-btn emdialog"
    href="$siteroot$apphome/components/smartorganizer/templatepicker.html" 
    type="button" 
    data-dialogid="templatePicker"
    data-oemaxlevel="1">
    <img src="$siteroot$apphome/theme/images/templates.svg" alt="Templates" title="Import Existing Templates" style="width: 50px" />
  </a>
  <button id="deployBtn" class="round-btn">
    <img src="$siteroot$apphome/theme/images/deploysite.svg" alt="Deploy Changes" title="Deploy" style="width: 40px" />
  </button>
  <div class="viewport-nav">
    <button id="vToTop" title="Scroll to Top">
      <i class="bi bi-chevron-up"></i>
    </button>
    <div class="w-100 d-flex justify-content-between">
      <button id="vToLeft" title="Scroll Left">
        <i class="bi bi-chevron-left"></i>
      </button>
      <button id="vToRight" title="Scroll Right">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
    <button id="vToBottom" title="Scroll to Bottom">
      <i class="bi bi-chevron-down"></i>
    </button>
  </div>
</div>