<div class="d-flex flex-column bg-white m-4 rounded" style="width: 800px; max-width: 100%;" data-setpagetitle="Pick a Template">
  <div class="d-flex justify-content-between border-bottom px-3 pt-3 pb-2">
    <h3 class="text-center m-0 text-dark">Add from Template</h3>
    <button class="btn text-muted closemodal">
      <i class="bi bi-x-lg"></i>
    </button>
  </div> 
  <div class="row pt-2 px-3">
	  #set( $templates = $mediaarchive.query("smartorganizertemplates").sort("ordering").search() )
	  #foreach($template in $templates) 
		    <div class="col-md-6 p-0">
		      <div class="template-card">
				  #set($thumb = "temp1.png")
				  #ifnotnull($template.thumbnailpath)
				  #set($thumb = $template.thumbnailpath)
				  #end
		        <img src="$siteroot$apphome/theme/icons/templates/${thumb}" alt="$template.caption">
		        <h5>#text($template)</h5>
		        <p>$template.caption</p>
		        <textarea class="d-none">
						$template.json					
				</textarea>
		        <button class="insert-btn">
		          [[Insert]]
		        </button>
		      </div>
		    </div>
		#end 

  </div>
</div> 