<div class="d-flex flex-column bg-white m-4 rounded"
	style="width: 800px; max-width: 100%;"
	data-setpagetitle="Import / Export Template">
	<div
		class="d-flex justify-content-between border-bottom px-3 pt-3 pb-2">
		<h3 class="text-center m-0 text-dark">Smart Folder Templates</h3>
		<button class="btn text-muted closemodal">
			<i class="bi bi-x-lg"></i>
		</button>
	</div>
	<div class="row pt-2 px-3">

		<div class="col-md-6 p-0">
			<div class="card ms-2 mb-2 me-1">
				<div class="card-header">Upload Templates</div>
				<div class="card-body">
					<p>
					<a href="">Download Pre-built Templates</a>				
				
					Then
					</p>
					<form id="importForm" class="d-flex flex-column"
						enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" class="form-control border-0" id="importFile"
								name="importFile" accept="application/json">
						</div>
						<button type="submit" class="btn btn-accent">Upload File</button>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-6 p-0">
			<div class="card me-2 mb-2 ms-1">
				<div class="card-header">Save Template</div>
				<div class="card-body">
					<form id="exportForm" class="d-flex flex-column" method="post">
						<div class="form-group">
							<select class="form-control" id="exportType" name="exportType">
								<option value="selected">Selected Smart Folders</option>
								<option value="all">Everything</option>
							</select>
						</div>
						<button type="submit" class="btn btn-success">Download</button>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>
