<div class="d-flex flex-column bg-white m-4 rounded" style="width: 800px; max-width: 100%;" data-setpagetitle="Pick a Template">
  <div class="d-flex justify-content-between border-bottom px-3 pt-3 pb-2">
    <h3 class="text-center m-0 text-dark">Add from Template</h3>
    <button class="btn text-muted closemodal">
      <i class="bi bi-x-lg"></i>
    </button>
  </div> 
  <div class="row justify-content-center pt-2 px-3"> 
    <div class="col-md-6 p-0">
      <div class="template-card">
        <img src="$siteroot$apphome/theme/images/temp1.png" alt="temp1">
        <h5>Example Template #1</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <textarea class="d-none">$pages.include("./testdata.html")</textarea>
        <button class="insert-btn">
          Insert
        </button>
      </div>
    </div> 
    <div class="col-md-6 p-0">
      <div class="template-card">
        <img src="$siteroot$apphome/theme/images/temp1.png" alt="temp1">
        <h5>Example Template #1</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <textarea class="d-none">$pages.include("./testdata.html")</textarea>
        <button class="insert-btn">
          Insert
        </button>
      </div>
    </div> 
  </div>
</div> 