#if($librarycol)
	#set( $collectionid = $librarycol.getId())
#else
	#set( $collectionid = $context.getRequestParameter("collectionid"))
#end
<div class="nav-form nav-quicksearch">
##TODO  Remember last selected module of profile
		#set( $input = $modulehits.getInput("description") )
		#if (!$input)
			#set( $input = "")
		#end


		<div class="input-group">
			<input class="typeaheaddropdown form-control border-right-0 border" 
					type="text"  
					id="searchinput" 
					data-quicksearched='$!context.getRequestParameter("quicksearched")'
					autocomplete="off"
					placeholder="[[Search...]]"
					data-searchurl="$applink/views/modules/$module.id/grid/index.html"  
					data-typeaheadurl="$applink/components/quicksearch/results.html"
					data-oemaxlevel="2"
					data-searchtype="$module.id"
					name="description.value" 
					data-field="description"
					data-operation="contains"
					value="#esc($input)" />
			
			<div class="input-group-addon submitform" style="pointer-events: initial;">
			<a><i class="fa fa-search"></i></a>
			</div>
            
		</div>

</div>