<div class="modal-dialog">
  <div class="modal-content bg-white rounded">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="close" data-dismiss="modal" title="[[Esc to Close]]">
        <span aria-hidden="true" class="bi bi-x"></span>
      </button>
    </div>
    <div class="modal-body">
      <form action="$apphome/components/sidebars/localdrives/importexistingdialogsave.html" 
          method="post" 
          class="ajaxform validate autocloseform d-flex flex-column w-100 auto-importer-form" 
          data-targetdiv="sidebarfolderimport" 
          data-ajaxreloadtargets="topmodulecontainer"
          data-onsuccess="showsidebaruploads"
          id="existingAutoImportForm">
        <input type="hidden" name="save" value="true">
        #set( $moduleid = $context.getRequestParameter("moduleid"))
        #set( $entityid = $context.getRequestParameter("entityid"))
        #set( $modulename = $context.getRequestParameter("modulename"))
        #set( $entityname = $context.getRequestParameter("entityname"))
        
        <input type="hidden" name="moduleid" value="${moduleid}">
        <input type="hidden" name="entityid" value="${entityid}">
        <input type="hidden" name="desktop" value="${desktop.id}">
        
        
        <div class="d-flex">
          <input type="text" id="relativeLocalRootPath" name="abspath" value="/home/cristobal/Media/03/05/" class="form-control" data-entityname="$entityname" data-modulename="$modulename">
          <button type="button" data-target="relativeLocalRootPath" class="btn btn-accent rounded ms-2 dir-picker" style="width:160px;">
            [[Choose Location]]
          </button>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-between">
      <button type="submit" form="existingAutoImportForm" class="btn btn-lg btn-accent rounded">[[OK]]</button>
      <button type="button" type="button" data-dismiss="modal" class="btn btn-lg btn-secondary rounded">[[Cancel]]</button>
    </div>
  </div>
</div>
  