
  <form action="$apphome/components/sidebars/localdrives/importexistingdialogsave.html" 
  		method="post" 
  		class="ajaxform validate autocloseform d-flex flex-column w-100 auto-importer-form" 
  		data-targetdiv="sidebarfolderimport" 
  		id="newAutoImportForm">
    <input type="hidden" name="save" value="true">
    #set( $moduleid = $context.getRequestParameter("moduleid"))
    #set( $entityid = $context.getRequestParameter("entityid"))
    
    <input type="hidden" name="moduleid" value="${moduleid}">
    <input type="hidden" name="entityid" value="${entityid}">
    <input type="hidden" name="desktop" value="${desktop.id}">
    
    
    <div class="d-flex">
	  <input type="text" id="abspath" name="abspath" value="/home/cristobal/Media/03/05/" class="form-control">
		
      <button type="button" id="folderAbsPath" class="btn btn-accent rounded ml-2" style="width:160px;">
        [[Choose Location]]
      </button>
      
    </div>
    <!--div class="mt-3">
      	<div class="d-flex align-items-center">
				<label class="mb-0 pr-2  filter-inclusive " for="autoimport">[[]]</label>
				<div class="custom-control custom-switch  boolean-switcher">
				<input type="hidden" name="autoimport" value="false">
				<input type="checkbox" id="autoimport" name="autoimportvalue" class="custom-control-input " value="true">
				<label class="custom-control-label" for="autoimport"></label>
				</div>
				<label class="mb-0  filter-exclusive  " for="autoimport">[[Live monitor for changes]]</label>
			</div>
    </div -->
  </form>
  