<div id="sidebarfolderimport" class="col-sidebar-header sidebar-header-desktops"> 
	<h2 class="w-100">[[Cloud Sync History]]</h2>
		#set( $selectedModuleId = $userprofile.get("desktop_lastselected_module") )
		#ifnotnull( $selectedModuleId)
			#set( $module =	$mediaarchive.getCachedData("module",$selectedModuleId) )
			$context.putPageValue("module",$module)
			#set( $componenthome = "$apphome/views/${module.getId()}/components")
			$context.putPageValue("componenthome",$componenthome)
		#end

	<a href="#" title="[[Hide Cloud Sync History]]"
		class="sidebar-toggler sidebar-toggler-hide"
		data-action="hide" 
		data-targetdiv="col-sidebars">
		<i class="bi bi-chevron-left closebar"></i>
	</a>			
</div>

$pages.include("$apphome/components/sidebars/localdrives/listcurrentsync.html", $context)