	<div class="col-sidebar-header">
		<h2 class="">[[Desktop Uploads]]
			<a class="sidebar-header-action picker" 
				href="#" id="localfolderPicker" 
				data-sourcepath="Albums/Users/$user.getScreenName()/Desktops"
				style="margin-top: 0"><i class="fa fa-plus"></i></a>			
		</h2>
<input id="upload_folder" type="file" style="position:absolute; top:-2000px;" webkitdirectory multiple="multiple"  />
		
<a href="#" title="[[Hide Categories Sidebar]]"
					class="sidebar-toggler sidebar-toggler-hide"
					data-action="hide" 
					data-targetdiv="col-sidebars"
					>
					<i class="fas fa-angle-double-left closebar"></i>
				</a>			
	</div>
	
	<div style="padding:0px 0px 20px 10px;">

		<div id="targetmodulecontainer#eid($targetviewid)" class="submodulepicker">
			#set( $args = "searchtype=userupload&field=owner&owner.value=$user.id&operation=exact&sortby=uploaddate&viewid=$!targetviewid&viewpath=$!targetviewpath&hitsperpage=6")
			$pages.include("/$applicationid/components/table/table.html?$!args",$context)						
		</div>


	</div>
	
				