<div id="syncFolderList">
#ifnull($syncfolders)
  #set($syncfolders = $mediaarchive.query("desktopsyncfolder").exact("desktop", $desktop.id).exact("module", $module.id).sort("name").search())
#end
#if($syncfolders.size() == 0)
  <div class="alert alert-info mx-2">
    <i class="bi bi-info-circle ns mr-1"></i> 
    <span>[[No local folders are being monitored for changes in]] #text($module) [[module]].</span>
  </div>
#else

  #ifnull($scanstatus)
    #set($scanstatus = "scan-started")
  #end
  
  <p>$scanstatus - $verifynow</p>
  <div class="alert import-verify p-2 mx-2 mt-1 mb-2 text-center $scanstatus #if($verifynow) verifynow #end">
    #if($scanstatus == "scan-started")
      <p class="mb-1">
        <i class="fas fa-spin fa-apinner mr-1"></i>
        <span>[[Looking for new files in the local folders]]</span>
      </p>
      <button class="btn btn-sm rounded mt-2" id="syncAllFolders" disabled>[[Scanning...]]</button>
      #elseif($scanstatus == "upload-started")
      <p class="m-0">
        <i class="fas fa-spin fa-apinner mr-1"></i>
        <span>[[Uploading new files from local folders to the server]]</span>
      </p>
      <p class="upload-counter my-1">
        <b>0</b> [[files]] (<b>2</b> mb) [[uploaded]].
      </p>
      <button class="btn btn-sm btn-danger rounded mt-2" id="abortUpload">[[Abort]]</button>
    #elseif($scanstatus == "upload-aborted")
      <p class="m-0">
        <i class="bi bi-exclamation-triangle ns mr-1"></i>
        <span>[[Upload aborted]]</span>
      </p>
      <button class="btn btn-sm btn-danger rounded mt-2" id="syncAllFolders">[[Try Again]]</button>
    #elseif($scanstatus == "upload-completed")
      <p class="m-0">
        <i class="bi bi-check-circle ns mr-1"></i>
        <span>[[All new files are uploaded to the server]].</span>
      </p>
      <button class="btn btn-sm rounded mt-2" id="syncAllFolders">[[Scan Again]</button>
    #end
  </div>

  <div class="work-dir-tree">
    #foreach($syncfolder in $syncfolders) 
    <div class="work-folder" id="wf-$syncfolder.id" title="Open: $syncfolder.localpath" data-id="$syncfolder.id" data-localpath="$syncfolder.localpath" data-categorypath="$syncfolder.categorypath" data-entityid="$syncfolder.entityid">
      <div class="d-flex flex-column flex-grow-1 p-2 position-relative open-folder">
        <div class="up-progress" style="width:0%"></div>
        <p class="my-0"><i class="fl fas fa-folder"></i> $syncfolder.name</p>
        <small class="mt-1 last-scanned">
          #if($syncfolder.lastscandate)
            Last uploaded on $syncfolder.lastscandate
          #else
            Scanning for new files...
          #end
        </small>
      </div>

      #set($previewurl = "$!{siteroot}$apphome/views/modules/$!{module.id}/components/gridsample/preview/entity.html?id=$!{syncfolder.entityid}")

      <button class="btn deleteAutoFolder" data-id="$syncfolder.id">
        <i class="bi bi-dash-square"></i>
      </button>
      <a href="$!{previewurl}" class="emdialog entity-dialog" title="[[Show the folder in Server]]">
        #set($moduleicon = $mediaarchive.getCachedData("module", "asset").moduleicon)
				#ifnull($moduleicon)
					#set($moduleicon = "images")
				#end
        <i class="bi bi-$moduleicon"></i>
      </a>
    </div>
    #end
  </div>
#end
</div>