<div id="desktopsynchistory"
  class="ajaxstatus"
  data-oemaxlevel="1" 
  data-ajaxpath="$page.path">
<div id="syncFolderList">
  #ifnull($syncfolders)
    #set($syncfolders = $mediaarchive.query("desktopsyncfolder").exact("desktop", $desktop.getComputerName()).sort("completeddateDown").search())
  #end

  #if($syncfolders.size() == 0)
    <div class="alert alert-info mx-2 mt-2">
      <i class="bi bi-info-circle ns mr-1"></i> 
      [[You will see your upload/download task here]]
    </div>
  #else
    <div class='work-dir-tree'>
      #foreach($syncfolder in $syncfolders)
        #set($previewclass = "")
        #if($syncfolder.desktopimportstatus == "scan-started" || $syncfolder.desktopimportstatus == "sync-started")
          #set($previewclass = "processing")
        #else
          #set($previewclass = "done")
        #end
        
        #set($label = "")
        #set($labelPast = "")
        #set($labelGerund = "")
        #if($syncfolder.isdownload == "true")
          #set($label = "download")
          #set($labelPast = "downloaded")
          #set($labelGerund = "downloading")
        #else
          #set($label = "upload")
          #set($labelPast = "uploaded")
          #set($labelGerund = "uploading")
        #end
        
        <div class='work-folder $label $previewclass $syncfolder.desktopimportstatus'
          id="wf-$syncfolder.id"
          data-id="$syncfolder.id"
          data-categorypath="$syncfolder.categorypath"
          data-moduleid="$syncfolder.module"
          data-entityid="$syncfolder.entityid">
          <div class="sync-summary">
            <div class="d-flex flex-column flex-grow-1 p-2 position-relative">
              <p class="mb-2">
                <span class="sync-type">
                  #if($syncfolder.isdownload == "true")
                    <small class="dl"><i class="bi bi-arrow-down ns"></i></small>
                  #else
                    <small class="ul"><i class="bi bi-arrow-up ns"></i></small>
                  #end
                </span>
                #set($moduleicon = $module.moduleicon)
                #ifnull($moduleicon)
                  #set($moduleicon = "images")
                #end
                <span class="folder-crumb"><i class="ns bi bi-$moduleicon"></i> #elidemiddle($syncfolder.name, 100)</span>
              </p>
              #if($syncfolder.desktopimportstatus == "sync-cancelled")
                <small class="text-muted fupper">
                  Cancelled
                  #if($syncfolder.completedfiles > 0)
                  with <b>$syncfolder.failedfiles</b> files remaining
                  #end
                </small>
              #else
                #ifnotnull($syncfolder.completeddate)
                  <small class="last-scanned">
                    #set($ago = $context.getAge($syncfolder.getDate("completeddate")))
                    Last scanned
                    #ifnull($ago)
                    1 second ago
                    #end
                    #ifnotnull($ago)
                    <span style="text-transform:lowercase;">$ago</span> ago
                    #end
                  </small>
                #end
                <small class="mb-1 files-stats fupper">
                  $labelPast <b>$syncfolder.completedfiles</b>, <span class="f$!syncfolder.failedfiles">failed <b>$syncfolder.failedfiles</b></span>
                </small> 
              #end
            </div>
            
            <button class="btn deleteSyncFolder $label" data-id="$syncfolder.id" data-categorypath="$syncfolder.categorypath" title="[[Remove this task]]">
              <div></div>
            </button>
            <div class="m-1">
              #if($syncfolder.categorypath)
                <div class="open-folder flex-1 p-2"
                  data-path="$syncfolder.categorypath"
                  title="[[Open the folder in your computer]]">
                  <i class="bi bi-eye-fill ns"></i>
                </div>
                #if($syncfolder.isdownload == "true")
                <a href="#" class="mt-1 d-block p-2 text-primary ajax redownload" data-categorypath="$syncfolder.categorypath" title="[[Show the record]]">
                  <i class="bi bi-arrow-clockwise ns"></i>
                </a>
                #end
              #end
#*
              #if($syncfolder.module == "category")
                #set($category = $mediaarchive.getCachedData("category", $syncfolder.entityid))
                #set($previewurl = "$!{siteroot}$apphome/views/modules/asset/editors/viewfilescategory/$!{syncfolder.entityid}/#dash($!category).html")
                <a href="$!{previewurl}" class="mb-1 d-block p-2 text-warning entity-dialog" title="[[Show the record]]">
                  <i class="bi bi-folder-fill ns"></i>
                </a>
              #else
                #set($previewurl = "$!{siteroot}$apphome/views/modules/$!{syncfolder.module}/editors/default/tabs/index.html?entityid=$!{syncfolder.entityid}")
                <a href="$!{previewurl}" class="mb-1 d-block p-2 text-primary emdialog entity-dialog" title="[[Show the record]]">
                  <i class="bi bi-folder-fill ns"></i>
                </a>
              #end
*#
            </div>
          </div>
          <div class="currentSync">
            <p class="mb-2 text-primary">
              <strong class="fupper">$labelPast <span class="filesCompleted">0</span> of <span class="filesTotal">0</span> files, <span class="filesFailed">0</span> failed</strong>
            </p>
            <p class="mb-1 text-muted fileName"></p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped fileProgress" style="width: 100%"></div>
            </div>
            <p class="mt-1 mb-0 text-right">
              <span><span class="fileProgressLoaded"></span> / <span class="fileProgressTotal"></span></span>
            </p>
            <div class="text-center mt-1">
              <button class="border-0 bg-white mx-auto text-danger cancelSync $label"
                data-categorypath="$syncfolder.categorypath"
                title="[[Cancel this task]]">
                <i class="bi bi-x"></i> [[Cancel]]
              </button>
            </div>
          </div>
        </div>
      #end
    </div>
  #end
</div>
</div>
