<div id="desktopsynchistory" 
  data-targetdiv="desktopsynchistory"
  data-url="$page.path"
  data-no-toast="true">
<div id="syncFolderList">
  #ifnull($syncfolders)
    #set($syncfolders = $mediaarchive.query("desktopsyncfolder").exact("desktop", $desktop.getComputerName()).sort("completeddateDown").search())
  #end

  #if($syncfolders.size() == 0)
    <div class="alert alert-info mx-2 mt-2">
      <i class="bi bi-info-circle ns mr-1"></i> 
      [[You will see your upload/download task here]]
    </div>
  #else
    <div class='work-dir-tree'>
      #foreach($syncfolder in $syncfolders)

        #set( $processing = false ) 
        #if($syncfolder.desktopimportstatus == "scan-started" || $syncfolder.desktopimportstatus == "sync-started")
          #set($processing = true)
        #end
        
        #set($label = "")
        #set($labelPast = "")
        #set($labelGerund = "")
        #if($syncfolder.isdownload == "true")
          #set($label = "download")
          #set($labelPast = "downloaded")
          #set($labelGerund = "downloading")
        #else
          #set($label = "upload")
          #set($labelPast = "uploaded")
          #set($labelGerund = "uploading")
        #end
        
        <div class='work-folder $label #if($processing) processing #end $syncfolder.desktopimportstatus'
          id="wf-${syncfolder.id}"
          data-id="$syncfolder.id"
          data-syncfolderid="$!syncfolder.id"
          data-categorypath="$syncfolder.categorypath"
          data-entitymoduleid="$syncfolder.entitymoduleid"
          data-entityid="$syncfolder.entityid">
          <div class="sync-summary">
            <div class="d-flex flex-column flex-grow-1 p-2 position-relative">
              #set($folderlink = "$apphome/views/modules/${syncfolder.entitymoduleid}/editors/default/tabs/index.html?entityid=${syncfolder.entityid}")
              <a href="$folderlink" class="emdialog d-inline-block mb-2 w-100 catpath">
                <span class="sync-type">
                  #if($syncfolder.isdownload == "true")
                    <small class="dl"><i class="bi bi-arrow-down ns"></i></small>
                  #else
                    <small class="ul"><i class="bi bi-arrow-up ns"></i></small>
                  #end
                </span>
                <span class="folder-crumb">#elidemiddle($syncfolder.name, 100)</span>
              </a>
              #if(!$processing)
                <small class="last-scanned fupper">
                  #if($syncfolder.desktopimportstatus == "sync-cancelled")
                    Cancelled
                  #else
                    $labelPast
                  #end
                  
                  #ifnotnull($syncfolder.completeddate)
                    #set($ago = $context.getAge($syncfolder.getDate("completeddate")))
                    #ifnull($ago)
                      1 second ago
                    #end
                    #ifnotnull($ago)
                      <span style="text-transform:lowercase;">$ago</span> ago
                    #end
                  #end
                </small>
              #end
            </div>
            #if(!$processing)
              <button class="btn deleteSyncFolder $label" data-syncfolderid="$syncfolder.id" title="[[Remove this task]]">
                <div></div>
              </button>
            #end
            <div class="m-1">
              #if($syncfolder.categorypath)
                <div class="open-folder flex-1 p-2 action-button"
                  data-path="$syncfolder.categorypath"
                  title="[[Open the folder in your computer]]">
                  <i class="bi bi-eye-fill ns"></i>
                </div>
                #if(!$processing && $syncfolder.isdownload == "true")
                <a href="#" class="mt-1 d-block p-2 text-primary ajax redownload action-button"" data-syncfolderid="$syncfolder.id" title="[[Show the record]]">
                  <i class="bi bi-arrow-clockwise ns"></i>
                </a>
                #end
              #end
            </div>
          </div>
          #if($processing)
          <div class="currentSync">
            <p class="mb-1 text-primary fileName">$syncfolder.currentcategorypath</p>
            <p class="mb-2 text-muted">
              <span class="fileCompletedCount"></span>$syncfolder.currentfoldertotalcount files
            </p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped fileProgress"></div>
            </div>
            <p class="mt-1 mb-0 text-right">
              <span>
                <span class="fileCompletedSize"></span> 
                <span class="fileTotalSize">
                  $sizer.inEnglish($syncfolder.currentfoldertotalsize)
                </span>
              </span>
            </p>
            <div class="text-center">
              <button class='p-1 border-0 bg-white mx-auto text-danger cancelSync #if($syncfolder.isdownload == "true") download #else upload #end'
                data-syncfolderid="$syncfolder.id"
                title="[[Cancel this task]]">
                <i class="bi bi-x"></i> [[Cancel]]
              </button>
            </div>
          </div>
          #end
        </div>
      #end
    </div>
  #end
</div>
</div>
