<div id="syncFolderList">
  #ifnull($syncfolders)
    #set($syncfolders = $mediaarchive.query("desktopsyncfolder").exact("desktop", $desktop.id).sort("createddate").search())
  #end

  #if($syncfolders.size() == 0)
    <div class="alert alert-info mx-2 mt-2">
      <i class="bi bi-info-circle ns mr-1"></i> 
      [[You will see your bulk upload/download progress here]]
    </div>
  #else
    <div class='work-dir-tree'>
      #foreach($syncfolder in $syncfolders)
        #set($previewclass = "")
        #if($syncfolder.desktopimportstatus == "scan-started" || $syncfolder.desktopimportstatus == "upload-started" || $syncfolder.desktopimportstatus == "download-started")
          #set($previewclass = "processing")
        #end
        <div class='work-folder #if($syncfolder.isdownload == "true") download #else upload #end $previewclass $syncfolder.desktopimportstatus'
          id="wf-$syncfolder.id"
          data-id="$syncfolder.id"
          data-categorypath="$syncfolder.categorypath"
          data-entityid="$syncfolder.entityid">
          <div class="upload-summary">
            <div class="d-flex flex-column flex-grow-1 p-2 position-relative">
              #if($syncfolder.isdownload == "true")
                <small class="text-success"><i class="bi bi-arrow-down ns"></i> DOWNLOAD</small>
              #else
                <small class="text-primary"><i class="bi bi-arrow-up ns"></i> UPLOAD</small>
              #end
              <p class="my-1">
                #set($moduleicon = $module.moduleicon)
                #ifnull($moduleicon)
                  #set($moduleicon = "images")
                #end
                <i class="ns bi bi-$moduleicon"></i>
                $syncfolder.name
              </p>
              #if($syncfolder.desktopimportstatus == "upload-cancelled")
                <small class="text-muted">[[Upload cancelled]]</small>
              #else
                #ifnotnull($syncfolder.lastscandate)
                  <small class="last-scanned">
                    #set($ago = $context.getAge($syncfolder.getDate("lastscandate")))
                    Last scanned
                    #ifnull($ago)
                    1 second ago
                    #end
                    #ifnotnull($ago)
                    <span style="text-transform:lowercase;">$ago</span> ago
                    #end
                  </small>
                #end
                <small class="mb-1 files-stats">
                  #if($syncfolder.isdownload == "true")
                    Downloaded
                  #else
                    Uploaded
                  #end
                  <b>$syncfolder.completedfiles</b>, <span class="f$!syncfolder.failedfiles">failed <b>$syncfolder.failedfiles</b></span>
                </small> 
              #end
            </div>
            
            <button class="btn deleteSyncFolder" data-id="$syncfolder.id" data-categorypath="$syncfolder.categorypath">
              <div></div>
            </button>
            #set($previewurl = "$!{siteroot}$apphome/views/modules/$!{module.id}${edithome}/tabs/index.html?entityid=$!{syncfolder.entityid}")
            <div class="m-1">
              <a href="$!{previewurl}" class="mb-1 d-block p-2 text-primary emdialog" title="[[Show the folder in Server]]">
                <i class="bi bi-box-arrow-up-right ns"></i>
              </a>
              <div class="open-folder flex-1 p-2"
                #if($syncfolder.categorypath)
                  data-path="$syncfolder.categorypath"
                #end
                title="[[Show the folder in your computer]]">
                <i class="bi bi-display ns"></i>
              </div>
            </div>
          </div>
          <div class="currentUpload">
            <p class="mb-2 text-primary">
              <strong>[[Uploading]] <span class="filesCompleted">0</span> of <span class="filesTotal">0</span> [[Files]], <span class="filesFailed">0</span> [[Failed]]</strong>
            </p>
            <p class="mb-1 text-muted fileName"></p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped fileProgress" style="width: 0%"></div>
            </div>
            <p class="mt-1 mb-0 text-right">
              <span><span class="fileProgressLoaded"></span> / <span class="fileProgressTotal"></span></span>
            </p>
            <div class="text-center mt-1">
              <button class="border-0 bg-white mx-auto text-danger cancelUpload" data-categorypath="$syncfolder.categorypath" title="[[Cancel the upload]]">
                <i class="bi bi-x"></i> [[Cancel]]
              </button>
            </div>
          </div>
        </div>
      #end
    </div>
  #end
</div>