<div class="modal-dialog">
  <div class="modal-content bg-white rounded">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="close" data-dismiss="modal" title="[[Esc to Close]]">
        <span aria-hidden="true" class="bi bi-x"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column w-100">
        <p class="m-0">[[Local Active Sync Directory]]</p>
        <div class="d-flex align-items-center mb-3">
          <input type="text" id="localRootPathInput" class="form-control" readonly/>
          <button type="button" data-target="localRootPathInput" class="btn btn-accent rounded ml-2 dir-picker" style="width:160px;">[[Change Location]]</button>
        </div>
        <p class="m-0">[[Default Download Directory]]</p>
        <div class="d-flex align-items-center">
          <input type="text" id="localDownloadPathInput" class="form-control" readonly/>
          <button type="button" data-target="localDownloadPathInput" class="btn btn-accent rounded ml-2 dir-picker" style="width:160px;">[[Change Location]]</button>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
      <button id="changeDesktopSettings" class="btn btn-lg btn-accent rounded">[[Update]]</button>
      <button type="button" type="button" data-dismiss="modal" class="btn btn-lg btn-secondary rounded">[[Cancel]]</button>
    </div>
  </div>
</div>
