#set($selectedUser = $user)

<div class="sidebar-box">
    <div class="sidebar-box-header">
        [[Team Projects]]        
    </div>
    <div class="sidebar-box-content">
	#set($selectedproject = $librarycol.getId())
	##Search collections this user is teammeber
	#set( $organizationsuser = $mediaarchive.query("librarycollectionusers").exact("followeruser",$selectedUser.getId()).exact("ontheteam","true").search() )
	#set($oids = [])
	#foreach( $ohit in $organizationsuser )
		#set($x = $oids.add($ohit.collectionid))
	#end
	#if($oids)
	#set( $organizations = $mediaarchive.query("librarycollection").ids($oids).sort("name").search() )
	#foreach( $ohit in $organizations )
		<p><a href="$applink/collective/community/index.html?collectionid=$ohit.id&goaltrackerstaff=*" class="#if($selectedproject==$ohit.id) active #end"><i class="fas fa-sitemap"></i> $ohit.name</a></p>
	#end
	#end
	<div style="padding:20px 0;">
	<a href="$applink/site/sitedeployer/add/addorganization.html" class="emdialog btn btn-sm btn-primary" title="[[Add a Project]]">[[Add a Project]]</a></div>
    </div>
</div>






