<div class="feedcard">
	<div class="feedcard-header">
		<div class="feedcard-title">$librarycol.name Live Feed</div>
		<div class="feedcard-author text-left">
			Live feed <a class="emdialog"
				data-width="900" data-hidefooter="true"
				data-librarycol="AWqogo579iJPjpvfDmDN"
				data-uploadid="AWrLnPi3IjUN1nyUnXEL"
				href="/site/app/collective/channel/share.html?collectionid=AWqogo579iJPjpvfDmDN"><i
				class="fas fa-share-alt"></i></a>
		</div>
	</div>
	<div class="feedcard-media">
		<div class="center-cropped">
			<iframe src="$librarycol.streamurl"
				style="border: none; width: 100%; height: 470px"
				webkitallowfullscreen="true" mozallowfullscreen="true"
				allowfullscreen="true"> </iframe>

		</div>
	</div>

	<div class="clearfix"></div>
	<div class="feedcard-footer">
		<div class="clearfix"></div>
	</div>
</div>
