#set($defaultcategoryid = $context.getRequestParameter("defaultcategoryid"))

#set($category = $mediaarchive.getCategory($defaultcategoryid))
#if(!$category)
	[[Missing Category]] $defaultcategoryid
#else
#set($catname = "#dash($category.name)")

<div id="embed-wrapper" class="segment mb-2">
	<form action="">
	<div class="d-flex flex-column boolean-switches">
	<div class="custom-control custom-switch">
		<input type="checkbox" class="custom-control-input true-switch " id="enable" name="enable.value" data-fieldtype="boolean" value="true">
		<label class="custom-control-label" for="enable">[[Enable]]</label>
	</div>
	</form>
</div>
</div>
#end