#set($defaultcategoryid = $context.getRequestParameter("defaultcategoryid"))

#set($category = $mediaarchive.getCategory($defaultcategoryid))
#if(!$category)
	[[Missing Category]] $defaultcategoryid
#else
#set($catname = "#dash($category.name)")
<div class="entityuploadheader mb-2" style="font-size:1rem; font-weight: 600;">[[Download Files]]</div>
#set($downloadurl = "$siteroot$apphome/views/modules/asset/downloads/bycategory/${defaultcategoryid}/${catname}.zip")
<div id="embed-wrapper" class="segment mb-2">
	<div class="embedlink">
		#ifnotnull($downloadurl )
			<div id="embedalertdialog" style="display:none; position: absolute;" class="alert alert-success fader">[[Copied to Clipboard]]</div>
				<div style="margin-bottom:20px">
				<h5>[[Zip File]]:</h5> 
				<div class="hyphenate" style="margin:5px 0">
					<span class="sharelink">${downloadurl}</span> 
					<a href="${downloadurl}" 
						class="btn btn-xxs btn-secondary">
						
						<i class="bi bi-cloud-arrow-down mr-1"></i> [[Download]]</a>
				
				
					<input class="sharelink" style="position:absolute; top:-1000px;" id="previewlink" value="$downloadurl" />
				
				</div>
				</div>
		#end

	</div></div>
#end