<div class="alert alert-save  fader" role="alert">
<strong>$!saved [[Items moved]]</strong>
</div>
#set($newentityid = $newentity.getId())
#set($newmoduleid = $context.getRequestParameter("pickedmoduleid"))

<a href="#" class="redirecttopage" data-redirectok="$siteroot$apphome/views/modules/${newmoduleid}/index.html?entityid=$newentityid"></a>

###set($module = $mediaarchive.getCachedData("module", $newmoduleid))
##$context.putPageValue("module", $module)
##$pages.include("$apphome/views/modules/${newmoduleid}${edithome}/tabs/index.html?entityid=${newentityid}", $context)

