<div class="entityuploadheader" style="font-size:1rem; font-weight: 600;">Pull Local Changes</div>
<div class="pull-container mt-4">
  <div class="pull-enabler">
    <input id="pullEnabler" type="checkbox" />
    <label for="pullEnabler"></label>
  </div>
  <div class="pull-folder">
    <span>Pulling from:</span>
    <input id="pullSaveFolder" type="text" class="form-control" placeholder="Save Folder" value="Activities/Fashion/">
    <button class="btn btn-brand ml-2">
      Change
    </button>
  </div>
  <div class="pull-progress">
    <p class="pull-changes pending">
      <i class="bi bi-file-diff ns mr-1"></i> 5 local changes detected
    </p>
    <!-- <p class="pull-changes">
      <i class="bi bi-check-lg ns mr-1"></i> All changes are up to date
    </p> -->
    <span class="bi bi-cloud-arrow-up-fill"></span>
    <p class="pull-status">
      Uploading <span class="pull-finished">156</span> of <span class="pull-total">500 MB</span>
    </p>
  </div>
  <div class="w-100 text-center mt-2">
    <a class="submitform btn btn-brand btn-primary upload-btn" type="submit" id="finishbutton">
      <i class="bi bi-box-arrow-in-down rr mr-1"></i>
      Import
    </a>

  </div>
</div>