#set($autoscan = $context.getRequestParameter("autoscan"))

#if($autoscan && $autoscan == "true")
	<div id="immediate-scan" data-toplevelcategorypath="$category.getCategoryPath()"></div>
#end

<div class="entityuploadheader" style="font-size:1rem; font-weight: 600;">
	[[Bulk Upload From Local]] #text($!category) [[Folder]]
</div>

#if($category.getCategoryPath())
<div class="row no-gutters mt-2 mb-1 watch-entity" data-entityid="$!entity.getId()" data-toplevelcategorypath="$category.getCategoryPath()">
	<div class="col-4">
		<div class="d-flex align-items-center p-2 h-100">
			<button class="btn btn-success rounded scan-changes"
				data-toplevelcategorypath="$category.getCategoryPath()">
				<i class="bi bi-arrow-repeat mr-1"></i> <span>[[Refresh]]</span>
			</button> 
			<button class="ml-2 btn btn-success rounded upload-lightbox-all" 
				style="display: none;"
				data-entityid="$!entity.getId()"
				data-toplevelcategorypath="$category.getCategoryPath()">
				<i class="bi bi-cloud-arrow-up-fill mr-1"></i> <span>[[Upload All]]</span>
			</button>
		</div>
	</div>
	<div class="col"></div>
</div>
#end

<div class="sync-container row no-gutters">
	<div class="col-4">
		<div class="syncfoldertree mr-2">
		#set($allchildren = $mediaarchive.getCategorySearcher().listAllCategories($category))
		#foreach($parent in $allchildren)
			#set($padding = ($parent.getLevel() - 1) * 8)
			#set($index = $foreach.count - 1)
			<div style="padding-left: ${padding}px;" class="pull-folder" id="folder-$index">
				<a href="#"
					class="pullfetchfolder"
					data-tab="push"
					data-entityid="$!entity.getId()" 
					data-categorypath="$!parent.getCategoryPath()">
					<i class="bi bi-folder mr-1"></i>
					<span class="mx-1 notif">$parent.name <i class="bi bi-circle-fill"></i></span>
					<i class="fas fa-spinner fa-spin text-muted" style="display: none;"></i>
				</a>
			</div>
		#end
		</div>
	</div>
	<div class="col">
		<div id="fetchfolder">
			##load content via pullfetchfolder click -> Electron
		</div>
	</div>
</div>