<div class="entityuploadheader" style="font-size:1rem; font-weight: 600;">[[Upload from Local Drive To Server]]</div>
<div class="sync-container mt-2">  
	
	  <div class="sync-folder mx-4 my-4">
    <span>[[Import from]]:</span>
    <input id="pushSaveFolder" type="text" class="form-control" placeholder="[[Import From Folder]]" readonly 
    		value="$!assetmap.filedownloadpath">
    <button class="btn btn-brand ml-2 open-folder" data-path="$!assetmap.filedownloadpath">
      [[Open]]
    </button>
    <button class="btn-unstyled refresh-sync-push ml-2">
      <i class="bi bi-arrow-repeat ns"></i>
    </button>
  </div>


<div class="px-2">
#set($indent = 1)
#foreach( $folder in $remotemap.folders)
	<div><i class="bi bi-folder"></i> $folder.path</div>
	#if($folder.subfolders)
		#set($padding = 10*$indent)
		<div style="padding-left:${padding}px">
		#set($subfolders = $folder.subfolders)
		#foreach( $subfolder in $subfolders.folders)
			<div><i class="bi bi-folder"></i> $subfolder.path</div>
		#end
		#foreach( $file in $subfolders.files)
			<div title="$!file.size"><i class="bi bi-file"></i> $file.path</div>
		#end
	
		</div>
	#end
#end
 
#foreach( $file in $remotemap.files)
	<div title="$!file.size"><i class="bi bi-file"></i> $file.path</div>
#end
</div>


  
  
  #if($missingfiles.size() < 1 && $files.size() < 1)
    <div class="d-flex align-items-center justify-content-center my-3 px-2 py-2 sync-stage synced">
    <span>
      [[You are up to date!]]
    </span>
  </div>
  #end
</div>