##<div class="alert alert-save  fader" role="alert">
##<strong>$!assets [[Assets Added]]</strong>
##</div>



#set($entityid = $entity.id)
$context.putPageValue("entity", $entity)
$context.putPageValue("entityid", $entityid)

#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("moduleid") )
#end
$context.putPageValue("topmoduleid", $topmoduleid)
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end
$context.putPageValue("topmodule",$topmodule)

#set($boxes =  $mediaarchive.getBean("entityManager").loadLightBoxesForModule($topmodule, $entity, $context.getUser()))
#set($assets =  $mediaarchive.getBean("entityManager").loadLightBoxeAssetsForModule($boxes,$topmodule, $entity, $context.getUser()))


#set( $lightboxid = $context.getRequestParameter("lightboxid"))

#ifnotnull($lightboxid)
	#if( $lightboxid != "files")
		#set($selectedbox =  $mediaarchive.getCachedData("emedialightbox",$lightboxid) )
	#end	
#end

#ifnull($lightboxid)
	#set($selectedbox =  $mediaarchive.getBean("entityManager").findFirstSelectedLightBox($boxes,$assets))
#end	



$context.putPageValue("boxes",$boxes)
$context.putPageValue("assets",$assets)
$context.putPageValue("selectedbox",$selectedfirst)
$pages.include("$componenthome/entities/lightboxes/sidemenu.html",$context)
