<div class="entityuploadheader" style="height:100px">
  <span style="font-size:1rem; font-weight: 600; ">
  #set( $moduleicon = $selectedbox.moduleicon)
	#ifnull($moduleicon)
	#set( $moduleicon = "check-circle-fill")
	#end
	<i class="bi bi-${moduleicon}" style="font-size:2em;"></i> 
  
  #text($selectedbox)</span>
  
   <p>
	Select the files by clicking them. Drag and drop selected files to add them into multiple status
  </p>
  
</div>


$context.putPageValue("hits",$lightboxassets)
$pages.include("$componenthome/results/brickvertical.html",$context)
