<div class="lightbox-header"> 
  #set( $moduleicon = $selectedbox.moduleicon)
	#ifnull($moduleicon)
	  #set( $moduleicon = "check-circle-fill")
	#end
  <div class="d-flex align-items-center">
    #if($selectedbox)
      <i class="bi bi-${moduleicon}"></i> 
      <strong>#text($selectedbox)</strong>
    #else
      <i class="bi bi-media"></i>
      <strong>Unsorted Files</strong>
    #end
  </div>
  <span class="mx-2">&middot;</span>
  <small>Select the files by clicking them. Drag and drop selected files to add them into multiple status</small>
  
	#ifnotnull($lightboxassetsresults)
		#if ($lightboxassets.size() > 0)
		<div class="d-flex">
					<a href="#" class="resultsnavlink entitytabactions btn-accent"
						data-tabaction="export"
						data-viewid="export"
						data-tabtype="tabexport" 
						data-entityid="$!entity.getId()" 
						data-topmoduleid="$!moduleid"
						data-moduleid="$!moduleid"
						data-tabsection="sharegallery"
						data-lightboxid="$!{selectedbox.id}">[[Publish as Gallery]]</a>
		</div>
		#end
	#end
</div>