<div class="lightbox-header"> 
  #set( $moduleicon = $selectedbox.moduleicon)
	#ifnull($moduleicon)
	  #set( $moduleicon = "check-circle-fill")
	#end
  <div class="d-flex align-items-center" title="#if($lightboxassets.size()>0) $lightboxassets.size() [[Assets]]#end">
    #if($selectedbox)
      <i class="bi bi-${moduleicon}"></i> 
      <strong>#text($selectedbox)</strong>
    #else
      <i class="bi bi-image"></i>
      <strong>[[Working Files]]</strong>
    #end
  </div>

  <small><span class="mx-2">&middot;</span>[[Select the files by clicking them. Drag and drop selected files to add them into multiple status]]</small>
  
	#set($showpublishbtn = true)

	#ifnotnull($lightboxassets)
		#if ($lightboxassets.isEmpty())
			#set($showpublishbtn = false) 
		#end
	#end 
	
	<div class="d-flex align-items-center ml-auto">
		#if ($desktop) 
			<button class="pub-gallery open-lightbox"
				data-entityid="$!entity.getId()" 
				#set($topmoduleid = $module.id)
				data-topmoduleid="$!topmoduleid"
				data-moduleid="$!module.getId()"
				data-tabsection="sharegallery"
				data-lightboxid="$!{selectedbox.id}">
				<i class="bi bi-eye-fill mr-1 ns"></i> [[Open Locally]]
			</button> 
		#end
		#if ($showpublishbtn) 
			<a href="#" class="pub-gallery"
				data-tabaction="export"
				data-viewid="export"
				data-tabtype="tabexport" 
				data-entityid="$!entity.getId()" 
				#set($topmoduleid = $module.id)
				data-topmoduleid="$!topmoduleid"
				data-moduleid="$!module.getId()"
				data-tabsection="sharegallery"
				data-lightboxid="$!{selectedbox.id}">
				<i class="bi bi-send-fill mr-1 ns"></i> [[Publish as Gallery]]
			</a> 
		#end
	</div>
</div>