<div class="lightbox-header"> 
  #set( $moduleicon = $selectedbox.moduleicon)
	#ifnull($moduleicon)
	  #set( $moduleicon = "check-circle-fill")
	#end
  <div class="d-flex align-items-center">
    #if($selectedbox)
      <i class="bi bi-${moduleicon}"></i> 
      <strong>#text($selectedbox)</strong>
    #else
      <i class="bi bi-media"></i>
      <strong>Unsorted Files</strong>
    #end
  </div>
  <span class="mx-2">&middot;</span>
  <small>[[Select the files by clicking them. Drag and drop selected files to add them into multiple status]]</small>
  
	#set($showpublishbtn = true)

	#ifnotnull($lightboxassets)
		#if ($lightboxassets.isEmpty())
			#set($showpublishbtn = false) 
		#end
	#end 
	#if ($showpublishbtn) 
		<a href="#" class="pub-gallery entitytabactions"
			data-tabaction="export"
			data-viewid="export"
			data-tabtype="tabexport" 
			data-entityid="$!entity.getId()" 
			data-topmoduleid="$!moduleid"
			data-moduleid="$!moduleid"
			data-tabsection="sharegallery"
			data-lightboxid="$!{selectedbox.id}">
			<i class="bi bi-send-fill mr-1 ns"></i> [[Publish as Gallery]]
		</a> 
	#end
</div>