
<div  id="lightboxresults"  class="tabpulications-col submodulepicker entity-tab-content" >
	
	
	#ifnull( $selectedbox)
		##Files Unsorted
		#if($module && $entity)
			#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
		#end
	#end
	#ifnotnull( $selectedbox)
		#set($defaultfolder = $mediaarchive.getBean("entityManager").loadLightboxCategory($selectedbox, $module, $entity, $context.getUser()))
	#end
	
	$context.putPageValue("defaultfolder", $defaultfolder)
	$context.putPageValue("categoryid", $defaultfolder.getId())
	$context.putPageValue("entitydialogid", "entity")
	
	$pages.include("$componenthome/entities/lightboxes/header.html", $context)
	
	$pages.include("$apphome/views/modules/asset/dialogindex.html?categoryid=$!categoryid", $context)
		
	<div class="clearfix"></div>
</div>
