
<div  id="lightboxresults"  class="tabpulications-col submodulepicker entity-tab-content" >
	
	$context.putPageValue("entitydialogid", "entity")
	
	$pages.include("$componenthome/entities/lightboxes/header.html", $context)
	
	#set($assethits = $mediaarchive.getBean("entityManager").searchForAssetsInCategory($module, $entity, $selectedbox,$user) )

	$assethits.size()

	$context.putSessionValue($assethits.getSessionId(),$assethits)
	$context.putPageValue("assethits",$assethits)
	
	$pages.include("$apphome/views/modules/asset/index.html", $context)
		
	<div class="clearfix"></div>
</div>
