#set( $searchtype = $context.findValue("searchtype"))
#set( $parentsearchtype = $searchtype)
#if( !$entity)
	#set($entityid = $context.getRequestParameter("entityid"))
	#set( $entity  = $mediaarchive.getData($searchtype, $entityid) )
#end
#set($entityid = $entity.id)
$context.putPageValue("entity", $entity)
$context.putPageValue("entityid", $entityid)

#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("moduleid") )
#end
$context.putPageValue("topmoduleid", $topmoduleid)
#ifnotnull($topmoduleid)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end

#set($tabid = "tablightboxes")
<div id="${tabid}" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
data-tabid="${tabid}"
data-entityid="$!entityid"
data-currenttab="$!viewid"
data-topmoduleid="$!topmoduleid"
data-url="$componenthome/gridsample/preview/tabpublishing_gallery.html"
>

<div  class="tablightbox d-flex h-100" style="height: 100%;">
	
	$context.putPageValue("topmodule",$topmodule)
	
	#set($boxes =  $mediaarchive.getBean("entityManager").loadLightBoxesForModule($topmodule, $entity, $context.getUser()))
	#set($assets =  $mediaarchive.getBean("entityManager").loadLightBoxeAssetsForModule($boxes,$topmodule, $entity, $context.getUser()))

#set( $lightboxid = $context.getRequestParameter("lightboxid"))

#ifnotnull($lightboxid)
	#if( $lightboxid != "files")
		#set($selectedbox =  $mediaarchive.getCachedData("emedialightbox",$lightboxid) )
	#end	
#end
#ifnull($lightboxid)
	#set($selectedbox =  $mediaarchive.getBean("entityManager").findFirstSelectedLightBox($boxes,$assets))
#end	
	$context.putPageValue("boxes",$boxes)
	$context.putPageValue("assets",$assets)
	$context.putPageValue("selectedbox",$selectedbox)
	
	
	$pages.include("$componenthome/entities/lightboxes/sidemenu.html",$context)

	$pages.include("$componenthome/entities/lightboxes/search.html",$context)

</div>