<div id="lightboxessidemenu" class="overflow-y">
		
#set($assetsadded = $context.getPageValue("assetsadded"))
#set($assetsaddedto = $context.getRequestParameter("lightboxid"))

#foreach( $box in $boxes )
	#set( $filtervalue = $assets.findFilterChildValue("lightboxid",$box.getId()))
	<div class="entitytabmenubtn rounded lightboxdropasset #if( $box.id == $selectedbox.id ) active #end"
		data-entityid="$entity.id" data-moduleid="$topmodule.id" data-lightboxid="$box.id"
	>
	<a class="ajax text-center"
		data-targetdiv="tablightboxes"  data-oemaxlevel="1"
		href="$componenthome/entities/lightboxes/show.html?lightboxid=$box.id&entityid=$entity.id&moduleid=$module.id">
	
	#set( $moduleicon = $box.moduleicon)
	#ifnull($moduleicon)
	#set( $moduleicon = "check-circle-fill")
	#end
	<i class="bi bi-${moduleicon}" style="font-size:2em;"></i> <br>
	
		$box 
	#ifnotnull( $filtervalue )
		($filtervalue.getCount())
	#end
	#ifnotnull( $assetsadded )
		#if($box.id == $assetsaddedto )
			<span class='fader emnotify'>+$!{assetsadded}</span>
		#end
	#end
	</a>
	</div>

#end

<div id="entitypicker" 
	data-entityid="$entity.id" data-moduleid="$topmodule.id"
	class="entitytabmenubtn rounded assetdroplightbox #ifnull($selectedbox) active #end side-select-menu">
<a class="ajax" 
		data-targetdiv="tablightboxes" data-oemaxlevel="1"
	href="$componenthome/entities/lightboxes/show.html?lightboxid=files&entityid=$entity.id&moduleid=$module.id">

#set( $moduleicon = $mediaarchive.getCachedData("module","asset").moduleicon)
<i class="bi bi-${moduleicon}" style="font-size:2em;"></i> <br>

	Unsorted Files
	#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($topmodule, $entity, $context.getUser(),true))
	#set( $allassets = $mediaarchive.query("asset").exact("category",$defaultfolder).search($context) )
	($allassets.size())
</a>
</div>

</div>