#set($section = $content.get("section"))
#set($filter = $modulehits.findFilterValue("entitysourcetype") )


#if( $organizedModules.isEmpty())
	<div>[[0 results]]</div>
#end

#foreach($module in $organizedModules)
	
	#set($idhits = $organizedHits.get($module.id))
	
	$context.putPageValue("hits", $idhits)
	$context.putPageValue("module", $module)
	
   	#set($rendertype = "default")
   	#if ($module.modulerendertype)
   		#set($rendertype = $module.modulerendertype)
   	#end
   	
   	#set( $favorites = $userprofile.get("favorites_"+$module.id))
	$context.putPageValue("favorites", $favorites)
    	
   	#if( $rendertype == "media")
   		##Stacked view
   		<div class="emgrid-module emgrid-module-$rendertype">
   			<div id="resultsdiv" 
   				data-hitssessionid="$idhits.getSessionId()"
   				
   				#set( $inputid = $context.getRequestParameter("inputid"))
   				data-inputid="$inputid"
   				>
	   		<div class="emgrid-module-$rendertype-inside">
	   		
	   			$pages.include("$apphome/components/results/header.html?issample=true",$context)
	   		
		   		$pages.include("$apphome/components/gridsample/types/media.html", $context)
		   		
		   		
		   		<div class="clearfix"></div>
		   		
		   		
		   		#set($resultsPage = "$apphome/views/modules/$module.id/index.html")
				#if($idhits.size() > 4 && $section != "favorites")
					#if( $jsonsearch)
						#set($resultsPage = $url_util.urlEscape("$resultsPage?${module.id}clearfilters=true&${module.id}_jsonquery=$jsonsearch" ) )
					#end		
					<div class="emgrid-seemore"><a href="$resultsPage">[[See More]]</a></div>
					<div class="clearfix"></div>
				#end
			</div>
			</div>
   		</div>
   		
   	#else
   		<div class="emgrid-module emgrid-column emgrid-module-$rendertype">
   		<div class="emgrid-subtitle">
   		<h3>
	     	#set($moduleicon = "entity")
	     	#if ($module.moduleicon)
	     		#set($moduleicon = $module.moduleicon)
	     	#end
	
			<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 24px;"> 
			
			#if( $idhits.size() < 7) ##this is safe
				#set( $count = $idhits.size())
			#else
				#set( $count = $filter.getCount($module.id) )
			#end
	
			$module.getName() <span class="count">($count)</span>
		</h3>
		
   		</div>
		<div id="galleryimg-${rendertype}" class='emgrid #if($section != "favorites")emgridlimited#end' data-colwidth="292" data-cellpadding="30">
			#foreach( $hit in $idhits)
				$context.putPageValue("hit", $hit)
			     ###if($foreach.count > 6 && $section != "favorites")
			     ##	#break 
			     ###end 
			     
			     
			     <div class="emgridcell emgridcell-$rendertype">
			     $pages.include("$apphome/components/gridsample/types/${rendertype}.html", $context)
				 </div>
			#end
		</div>
		</div>		
	#end
		   
#end

