#if(!$entity_module)
	#set($entity_module = $context.getRequestParameter("searchtype"))
#end
#if(!$entityid)
	#set($entityid = $context.getRequestParameter("id"))
#end

#if(!$assetsshown)
	#set($assetsshown = 4)
#end

#if($entity_module && $entityid)
#set( $hits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact($entity_module, $entityid).sort("assetaddeddateDown").search() )
#set($count = 0)
#set($stackedfield = $mediaarchive.getCatalogSettingValue("stackedgalleryfield"))

#foreach( $hit in $hits.getPageOfHits())
	#set($count = $count + 1)
	$context.putPageValue("hit", $hit)
	#set($type = $hit.getSearchHit().getType())
	#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
	$context.putPageValue("type", $rendertype)
	
	$context.putPageValue("assetid", $hit.id)
	$context.putPageValue("sourcepath", $hit.sourcepath )
	$context.putPageValue("thumbsize", "crop" )
	
	#set($sourcepath = $hit.sourcepath)
	#set($click = "$siteroot$viewerlink?hitssessionid=${hits.getSessionId()}&assetid=${hit.id}")
	
  	#if(!$rendertype || $type =="rendertype")
 		#set( $rendertype = "mime" )
 	#elseif( $rendertype =="video")
 		#set( $rendertype = "videothumbnail" )
 	#end
 	
 	#if($stackedfield)
	      	#set($title = $hit.get($stackedfield))
	#end
	#if(!$title)		         	
	  	#if( $hit.assettitle )
	      	#set($title =  $hit.assettitle) 
	    #else 
	      	#set($title = $hit.name) 
	    #end
	#end
 	<div class="float-left grid-attachedmedia">
 	<a class="stackedplayer imagearea" id="clickid${hit.id}" data-assetid="$hit.id" href="#" alt="$!title">
	$pages.include("$componenthome/results/thumbnails/${rendertype}.html", $context)
	</a>
	</div>
#end
<div class="clearfix"></div>
<div class="entity-assets-info">
	#if($hits.size()>0)
		#set($link = "$siteroot$applink/views/modules/asset/index.html")
		#set($link = "$link?hitssessionid=${hits.getSessionId()}&field=$entity_module&operation=matches&${entity_module}.value=$entityid")
		#set($link = "$link&sidebarcomponent=categories")
		#set($link = "$link&oemaxlevel=1")
		[[Found]]: <a href="$link" class="ajax" data-targetdivinner="applicationmaincontent" data-oemaxlevel="1" data-closedialog="true" data-closemediaviewer="true">$hits.size() #if ($hits.size()==1) [[asset]] #else [[assets]] #end</a>
	#end
	#if($fullview) 
	<a href="$siteroot/$applink/views/modules/asset/add/start.html?entitytype=$entity_module&addselection=$entityid" class="moreactions">
		<i class="fas fa-upload"></i> [[Upload]]</a>
	#end
</div>
<div class="clearfix"></div>

#end