#if($canaddtofavorites)
	
	#if(!$itemid)
		#set($itemid = $context.getRequestParameter("id"))
	#end
	#set($moduleid = $context.getRequestParameter("moduleid"))
	
	
	#set( $favorites = $userprofile.get("favorites_"+$moduleid))
	#set($isfav="false")
	
	#if($favorites && $favorites.indexOf($itemid) != -1)
		#set($isfav="true")
	#end
	
	<div id="itemfav$itemid" class="itemfav$itemid emgrid-favoriteicon">
	 <a href="" 
	 	class="favclick favorite-star #if($isfav=='true') itemfavorited #end" 
	 	data-id="$itemid"
	 	data-moduleid="$moduleid"
	 	data-targetdiv="itemfav$itemid"
	 	data-favurl="$siteroot$componenthome/gridsample/favorites.html"
	 	#if($isfav=='true')
	 		title="[[Remove from Saved]]"
	 	#else
	 		title="[[Add to Saved]]"
	 	#end
	 	>
	 	<i class="#if($isfav=='true') fas #else far #end fa-bookmark fa-bounce"></i>
	 </a>
	 </div>
 #end