
#set($itemid = $context.getRequestParameter("id"))
#set($searchtype = $context.getRequestParameter("searchtype"))


#set( $favorites = $userprofile.get("favorites_"+$searchtype))
#set($isfav="false")

#if($favorites && $favorites.indexOf($itemid) != -1)
	#set($isfav="true")
#end

<div id="itemfav$itemid" class="itemfav$itemid">
 <a href="" 
 	class="favclick favorite-star #if($isfav=='true')  star-full itemfavorited #end" 
 	data-id="$itemid"
 	data-searchtype="$searchtype"
 	data-targetdiv="itemfav$itemid"
 	data-favurl="$componenthome/gridsample/favorites.html"
 	#if($isfav=='true')
 	title="[[Remove from Favorites]]"
 	#else
 	title="[[Add to Favorites]]"
 	#end
 	>
 	<i class="fas fa-star"></i>
 </a>
 </div>