#if(!$hit)
	#set($id = $context.getRequestParameter("id"))
	#if(!$searchtype)
		#set( $searchtype = $context.findValue("module"))
	#end
	#if(!$searchtype)
		#set($searchtype = $context.getRequestParameter("moduleid"))
	#end
	#if($id && $searchtype)
		#set($hit = $mediaarchive.getData($searchtype, $id))
		#set($rendertype = $module.modulerendertype)
		$context.putPageValue("hit", $hit)
	#end
#end
 
#if($hit)
 <div class="emgridcell emgridcell-$rendertype" > 
    $pages.include("$apphome/components/gridsample/types/${rendertype}.html", $context)
 </div>
#end