
#if(!$hit)
	#set($id = $context.getRequestParameter("id"))
	#if(!$searchtype)
		#set( $searchtype = $context.findValue("module"))
	#end
	#if(!$searchtype)
		#set($searchtype = $context.getRequestParameter("moduleid"))
	#end
	
	#if(!$module)
		#set($module = $mediaarchive.getCachedData("module", $searchtype))
	#end
	
	#set($moduleid = $module.getId())
	
	#set($rendermoduleid = $moduleid)
	
	#if($id && $searchtype)
		#set($hit = $mediaarchive.getData($searchtype, $id))
			#set($rendertype = $module.modulerendertype)
		#if (!$rendertype)
   			#set($rendertype = "entity")
		#end
		$context.putPageValue("hit", $hit)
	#end
#end

#set($selectedid = $context.getRequestParameter("entityid"))
#set($topselectedid = $context.getRequestParameter("topentityid"))

#ifnotnull($hit) 
 <div class="emgridcell emgridcellC emgridcell-$rendertype activelistcontainer 
 			#if($selectedid == $hit.getId() || $topselectedid == $hit.getId()) active #end
 			"> 
   	##$pages.include("$apphome/views/modules/$!{rendermoduleid}/components/gridsample/types/${rendertype}.html", $context)
   	$pages.include("$apphome/views/modules/$!{rendermoduleid}/components/gridsample/types/qsresult.html", $context)
   	#set($highlight =  $hits.highlight($hit, "description", 20, true))
   	#ifnotnull($highlight)
   	<div class="gridcellhighligh">$highlight</div>
   	#end
 </div>
#end