#if($topcategoryid)
	#set($topcategory = $mediaarchive.getData("searchcategory", $topcategoryid) )
#end
#if($moduleid=="searchcategory" || $topcategory)
<div class="">
<div class="filtered-breadcrumb ">
		<a href="$!{siteroot}$apphome/views/modules/searchcategory/index.html" title="[[All Categories]]">[[All]]</a>
		#if($topcategory)
		&gt;&nbsp;#text($topcategory.getName()) ($!hits.size())
		#end
</div>
</div>
#end

<div id="modulesearchresultsdiv" class="h-100" data-moduleid="$!module.id" >
	#set( $favorites = $userprofile.get("favorites_"+$module.id))
	$context.putPageValue("favorites", $favorites)

	#if (!$rendertype)
		#set($rendertype = $module.modulerendertype)
		#if (!$rendertype)
			#set($rendertype = "entity")
		#end
	#end
	$context.putPageValue("rendertype", $rendertype)
	$context.putPageValue("rendermoduleid", $module.id)



$pages.include("$apphome/views/modules/${module.id}/resultsactions.html",$context)

#set($currentpage = $context.getRequestParameter("currentpagenum"))

#set( $prhits = $hits.getPositionRender() )
#ifnotnull($currentpage)
$prhits.setPageOneBased($currentpage)
#end
#set($pos = $prhits.toPosition($prhits.getPage()))


#set($resultsPage = "$componenthome/results/index.html?hitssessionid=$!hits.sessionId&pageposition")
#set($targetdivinner = "${module.id}resultsarea")
#set($oemaxlevel = "2")


<div class="emgridflexcontainer" style="overflow-y: auto; height: calc(100% - 36px);">

<div class="emgridflex">
	<div id="galleryimg-${rendertype}" 
		class='emgrid entitiescontainer' 
		data-fixedwidth="210" 
		data-cellpadding="15"
		data-entityrenderurl="$siteroot$apphome/views/modules/$module.id/components/gridsample/gridcell.html"
		data-rendertype="$rendertype">
	    	#foreach( $hit in $hits.getPageOfHits())
				$context.putPageValue("rendermoduleid", $hit.entitysourcetype)
				$context.putPageValue("entity", $hit)
				$context.putPageValue("hit", $hit)								
			    ##$pages.include("$apphome/components/gridsample/gridcell.html", $context)
			    <div class="emgridcell emgridcell-$rendertype activelistcontainer 
	 			#if($selectedid == $hit.getId() || $topselectedid == $hit.getId()) active #end
	 			">
	 			
			    $pages.include("$apphome/views/modules/${hit.entitysourcetype}/components/gridsample/types/entity.html", $context)
			    </div>
			#end
	</div>  
	  

	</div>
</div>
</div>

