#set( $favorites = $userprofile.get("favorites_"+$module.id))
$context.putPageValue("favorites", $favorites)

#if (!$rendertype)
	#set($rendertype = $module.modulerendertype)
	#if (!$rendertype)
		#set($rendertype = "entity")
	#end
#end
$context.putPageValue("rendertype", $rendertype)
$context.putPageValue("rendermoduleid", $module.id)


$hits.setHitsPerPage(6)


$pages.include("$apphome/views/modules/$module.id/resultsactions.html",$context)

#set($currentpage = $context.getRequestParameter("currentpagenum"))

#set( $prhits = $hits.getPositionRender() )
#ifnotnull($currentpage)
$prhits.setPageOneBased($currentpage)
#end
#set($pos = $prhits.toPosition($prhits.getPage()))

#set($resultsPage = "$componenthome/results/index.html?hitssessionid=$!hits.sessionId&pageposition")
#set($targetdivinner = "${module.id}resultsarea")
#set($oemaxlevel = "2")

<div class="emgridflex">

<div class="emgridnav" style="padding-right: 4px;">
	#if( $prhits.nextPosition() )
		<a href="$resultsPage=$prhits.nextPosition()" class="ajax" data-updateurl="$!updateurl" 
		data-oemaxlevel="$oemaxlevel" data-targetdiv="$targetdivinner">
		<img src="$apphome/theme/images/arrow-left.svg"	style="width:20px;" />
		</a>
	#end
</div>

<div id="galleryimg-${rendertype}" 
	class='emgrid entitiescontainer' 
	data-fixedwidth="170" 
	data-cellpadding="10"
	data-entityrenderurl="$siteroot$apphome/views/modules/$module.id/components/gridsample/gridcell.html"
	data-rendertype="$rendertype">
    	#foreach( $hit in $hits.getPageOfHits())
			$context.putPageValue("hit", $hit)
		    $pages.include("$apphome/components/gridsample/gridcell.html", $context)
		#end
</div>  
  
<div class="emgridnav" style="padding-left:4px;">
	#if ( $prhits.prevPosition() )
		<a href="$resultsPage=$prhits.prevPosition()" class="ajax" data-updateurl="$!updateurl" 
		data-oemaxlevel="$oemaxlevel" data-targetdiv="$targetdivinner">
		<img src="$apphome/theme/images/arrow-right.svg"	style="width:20px;" />
		</a>
	#end
</div>

#if($permissions.can($moduleid, "create") && $moduleid!="faceprofilegroup")
	 		#set($addurl = "$siteroot$applink/views/modules/${moduleid}/components/gridsample/preview/$!{entityrendertype}.html?edit=true&addnew=true&viewid=$!{moduleid}addnew")
	 		#ifnotnull($topentityid)
	 			#set($addurl = "$addurl&fieldexternalid=${topmodule.getId()}&fieldexternalvalue=${topentityid}&reloadtargets=topmodulecontainer")
	 		#end
			<div class=" emgrid-addmore " style="">
				<a href="$addurl"
				class="emdialog"
				title="[[Add Record]]"
				>[[Add New]]</a>
			</div>
		#end
</div>
<div class="clearfix"></div>
		
