#set( $favorites = $userprofile.get("favorites_"+$module.id))
$context.putPageValue("favorites", $favorites)

#if (!$rendertype)
	#set($rendertype = $module.modulerendertype)
	#if (!$rendertype)
		#set($rendertype = "entity")
	#end
#end
$context.putPageValue("rendertype", $rendertype)
$context.putPageValue("rendermoduleid", $module.id)


$pages.include("$apphome/views/modules/$module.id/resultsactions.html",$context)

<div id="galleryimg-${rendertype}" 
	class='emgrid entitiescontainer' 
	data-colwidth="335" 
	data-cellpadding="20"
	data-entityrenderurl="$siteroot$apphome/views/modules/$module.id/components/gridsample/gridcell.html"
	data-rendertype="$rendertype">
    	#foreach( $hit in $hits.getPageOfHits())
			$context.putPageValue("hit", $hit)
		    $pages.include("$apphome/components/gridsample/gridcell.html", $context)
		#end
		
</div>  
#if($hits.getTotalPages() >  1  )

	$pages.include("$apphome/views/modules/$module.id/navigate.html", $context)

#end