#set($filter = $modulehits.findFilterValue("entitysourcetype") )
$context.putPageValue("filter", $filter)

   		<div class="emgrid-module emgrid-box emgrid-column emgrid-module-$!rendertype">
   		<div class="emgrid-subtitle">
	   		<h3>
		     	#set($moduleicon = "entity")
		     	#if ($module.moduleicon)
		     		#set($moduleicon = $module.moduleicon)
		     	#end
		     	
	     		#set($entityurl = "$siteroot$apphome/views/modules/$module.id/index.html")
	
				<a href="$entityurl" 
					class="ajax" 
					data-targetdiv="applicationcontent" 
					data-oemaxlevel="3" 
					data-updateurl="true"
					title="#text($module)" >
				<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 24px;"> 
				
				#if( $module.id == "asset") ##this is safe
					#set( $count = $hits.size()) 
				#else
					#set( $count = $filter.getCount($module.id) ) 
				#end
				#text($module)
				 <span class="count">($count)</span>
				</a>
				

			</h3>
							<div style="float:right" >
					<a href="$entityurl" 
					class="ajax minimizeexpandedmodule" 
					data-targetdiv="applicationcontent" 
					data-oemaxlevel="3" 
					data-updateurl="true" 
					data-profilepreference="defaultmodule"
					data-profilepreference.value="$!module.getId()"
					title="[[Expand]] #text($module)">
					<i class="fas fa-window-maximize"></i></a>
				</div>
		<div class="clearfix"></div>
   		</div>
		#set($rendertype = "entity")
	   	#if ($module.modulerendertype)
	   		#set($rendertype = $module.modulerendertype)
	   	#end
	   	$context.putPageValue("rendertype", $rendertype)
		<div id="galleryimg-${rendertype}" 
				class='emgrid #if($section != "favorites")emgridlimited#end entitiescontainer' 
				data-colwidth="315" 
				data-colcount="2"
				data-cellpadding="10"
				data-entityrenderurl="$siteroot$apphome/views/modules/$module.id/components/gridsample/gridcell.html"
				data-rendertype="$rendertype">
			#foreach( $hit in $hits.getPageOfHits() )
				$context.putPageValue("hit", $hit)
			    $pages.include("$apphome/components/gridsample/gridcell.html", $context)
			#end
		</div>
		<div class="emgrid-footer">
			#if ($moduleid!="faceprofilegroup")
				#if($moduleid =="asset")
				<a class="btn btn-xs btn-secondary ajax sidebarselected" 
					data-updateurl="true" 
					data-targetdivinner="applicationmaincontent" 
					data-oemaxlayout="3" 
					href="$siteroot$applink/views/modules/asset/add/start.html" 
					title="Upload Media">
					<i class="fas fa-plus"></i><span>&nbsp;[[Upload]]</span></a>
				#else
					<a class="btn btn-xs btn-secondary emdialog TODOautocloseside" 
						style="margin-right:5px; "  
						title="[[Add New]] #text($module)"
						href="$siteroot$applink/views/modules/${moduleid}/components/gridsample/preview/$!{rendertype}.html?edit=true&addnew=true&viewid=${module.id}addnew&searchtype=${module.id}&targetdiv=applicationmaincontent"
						data-hidefooter="true">
						<i class="fas fa-plus"></i> [[Add New]]</a>
				#end
			#end

		</div>
		</div>	