#set($count=0)
#if ($hit.keywords)
     	<div class="emgridcell-keywords">
     	  #set ($keywords = $hit.keywords.split("\s*\|\s*"))
	      #foreach ($tag in $keywords)
	       	#if($count<3)
				#set($count=$count+1)
				<a class="badge badge-light" 
					title="$tag"
					href="$applink/views/modules/modulesearch/searchtag.html?searchtype=modulesearch&field=description&operation=contains&description.value=$tag&clearfilters=true">$tag</a>
			#end
		  #end
		  
		  #if($keywords.size()>3)
		  	#set($morekeywords = $keywords.size()-$count)
		  	<a class="emdialog badge badge-light" 
		  		href="$!previewurl" 
		  		title="${morekeywords} more keywords"
		  		>${morekeywords}+</a> 
		  #end
	</div>
	
#end