#set($assettype = $context.getRequestParameter("assettype"))
<div id="metadataeditarea">
#if($assettype)
	#set($typesearcher = $searcherManager.getSearcher("$catalogid", "assettype"))
	#set($type = $typesearcher.searchById($assettype))

	<ul class="emsettingslist">
		<li class="header no-sort" id="views-header" >
			<span id="name">[[Properties]]</span>
		</li>
		<li id="editlayout" class="singlecontainer nohover" style="height: auto; padding:10px 0;">

		<form id="assettypeeditform" 
				name="assettypeeditform" 
				action="$siteroot$apphome/views/settings/modules/asset/assettypes/views/modifytype.html"
				class="ajaxform"
				data-targetdivinner="workarea"
				data-oemaxlevel="1">
			<input type="hidden" name="assettype" value="$type.id"/>
			<input type="hidden" name="id" value="$type.id"/>
			<input type="hidden" name="searchtype" value="assettype"/>
			
			$context.putPageValue("searcher", $typesearcher)	 
			$context.putPageValue("viewid", "assettypegeneral")
			$context.putPageValue("data", $type)	
			#set($details =  $typesearcher.getDetailsForView("assettypegeneral", $user))
			$context.putPageValue("details", $details)
			$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
			
			<div class="d-flex px-2">
				<a class="btn btn-sm btn-primary submitform mr-2" href="#">[[Save Changes]]</a>
				#if( $type )
					<a class="btn btn-sm btn-danger ajax" data-confirm="[[Are you sure you want to delete]] $!{type}?" 
						href='$siteroot$apphome/views/settings/modules/asset/assettypes/edit/delete.html?id=$type.id'
						data-targetdivinner="workarea"
						data-oemaxlevel="1">
						[[Delete]]
					</a>
				#end			
			</div>
		</form>
	</li>	
	</ul>
#else
	[[Please select an Asset Type]]
#end
</div>