<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	#set($sitetitle = $content.title)
    <title>#if( $librarycol ) $librarycol - #end $!sitetitle</title>
	
	$pages.include("/${applicationid}/theme/layouts/includes.html")
	
	#if(!$browser.inApp() && $content.usemap == "true")
		$pages.include("/${applicationid}/components/map/includes.html")
	#end
	

	
	#if(!$browser.inApp())
		
	    <link rel="Shortcut Icon" type="image/x-icon" href="$applink/theme/images/favicon.ico" />
	#end
	</head>

<body id="page-top"  data-hidetoolbar="true">
<div id="application"
	class="eminstituteapp" 
	data-home="$siteroot"
	data-siteroot="$siteroot" 
	data-apphome="$apphome"
	data-applink="$applink" 
	data-inapp="$browser.inApp()"
	data-themeprefix="/${applicationid}/theme" 
	data-browserlanguage="$!{browserlanguage}"
	data-editmode='$!user.get("oe_edit_mode")' 
	data-mediadbappid="$!mediaarchive.getMediaDbId()"
	data-componenthome="$!componenthome"
	#if( $showupload)
		data-showuploadid="${showupload.id}"
	#end
	data-viewertemplate="$applink/collective/channel/show/index.html"
	>
	
  	#if(!$browser.inApp())
		$pages.include("${apphome}/theme/layouts/navigation.html", $context)
	#end
	
	$pages.includeContent()
	

</div>
	#if(!$browser.inApp())
		$pages.include("${apphome}/googleanalytics.html", $context)
	#end
</body>
</html>
