<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
#if( $librarycol )
#if( $userupload)
<meta property="og:url" content="${context.siteRoot}$apphome/project/media/category/${librarycol.getId()}/${userupload.uploadcategory}.html" />
<meta property="og:title" content="$!userupload.longdescription" />
<meta property="og:description" content="$librarycol $!mediaarchive.getUserManager().getScreenName($userupload.owner)" />
#if($hits)
#set( $asset = $hits.first())
<meta property="og:image" content="${context.siteRoot}/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${asset.sourcepath}/image1024x768.jpg" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="768" />
#end
#else
<meta property="og:url" content="${context.siteRoot}$apphome/project/feed/${librarycol.getId()}.html" />
<meta property="og:title" content="$librarycol" />
<meta property="og:description" content="Open Institute" />
#set( $logo = $mediaarchive.getAsset($librarycol.assetportrait))
<meta property="og:image" content="${context.siteRoot}/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${logo.sourcepath}/image1024x768.jpg" />
<meta property="og:image:width" content="1024" />
<meta property="og:image:height" content="768" />
#end
#end
<meta name="description" content="">
<meta property="og:type"               content="article" />

    <title>#if( $librarycol ) $librarycol - #end OpenInstitute</title>
    <!-- Custom fonts for this template -->
    <link href="$themeprefix/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	$pages.include("$apphome/theme/layouts/includes.html")
	
	#if($content.usemap == "true")
		$pages.include("$apphome/components/map/includes.html")
	#end

	</head>

<body id="page-top">
<div id="application" data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}" data-mediadbappid="$!mediaarchive.getMediaDbId()">

  <!-- Navigation -->
  #if( $content.bannerpage )
  #else
  	<div class="oiheader">
  	<div class="oicontainer">
    <a class="navbar-brand" href="$apphome" style="float:right;">  
    	<img style="height: 80px;" src="$apphome/theme/images/Homepage-Layer-Files_0000s_0000_Logo-Black.png" alt=""></a>
    <nav class="navbar  navbar-fixed-top navbar-expand-sm nav-project-page " id="mainNav">    
      <div class="">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          [[Account]]
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/browse/index.html">[[Browse]]</a>
            </li>
            #if( $user )
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/member/index.html">[[Account]]</a>
            </li>
            #end
           ## <li class="nav-item">
           ##   <a class="nav-link js-scroll-trigger" href="$apphome/contact/index.html">[[Contact]]</a>
           ## </li>
            	#if( $user )
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/authentication/logout.html">[[Logout]]</a>
            </li>
            	#else
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/authentication/login.html">[[Login]]</a>
            </li>
              	#end
          </ul>
        </div>
      </div>
    </nav>
    </div>
    </div>
    #end
    
    <div id="emcontent">
		$pages.includeContent()
	</div>
	
</div>
</body>

</html>