<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	#set($collectionid = $librarycol.getId())
	#if(!$collectionid)
		#set($collectionid = $context.getRequestParameter("organizationid"))
		#if($collectionid)
			#set( $librarycol = $mediaarchive.query("librarycollection").exact("id",$collectionid).searchOne() )
		#end
	#end

	#set($sitetitle = $content.title)
    <title>#if( $library ) $library #end #if( $librarycol ) $librarycol - #end $!sitetitle</title>
    
	$pages.include("/${applicationid}/theme/layouts/includes.html")
	
	$pages.include("/${applicationid}/collective/opengraphmetadata.html", $context)
	
	#if($content.usemap == "true")
		$pages.include("/${applicationid}/components/map/includes.html")
	#end

    <link rel="Shortcut Icon" type="image/x-icon" href="$applink/theme/images/favicon.ico" />

	</head>
	
	
	#if ($librarycol.assetbanner)
		#set( $banner= $mediaarchive.getAsset($librarycol.assetbanner) )
		#set ($bannerurl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${banner.sourcepath}/image1920x500cropped.jpg")
	#end

<body id="page-top" #if($browser.inApp()) data-hidetoolbar="true" #end
		#if ($bannerurl) style="
			background-image:url($bannerurl); 
			background-size: cover;
			background-attachment: fixed;
			background-position:  0 50px;"#end
>

<div id="application" 
	class="eminstitutecollective"
	data-home="$home" 
	data-apphome="$apphome"
	data-applink="$applink"
	data-inapp="$browser.inApp()" 
	data-themeprefix="/${applicationid}/theme" 
	data-browserlanguage="$!{browserlanguage}"
	data-editmode='$!user.get("oe_edit_mode")' 
	data-mediadbappid="$!mediaarchive.getMediaDbId()"
	data-componenthome="$!componenthome"	
	#if( $showupload)
	data-showuploadid="${showupload.id}"
	#end
	data-viewertemplate="$applink/collective/channel/show/index.html" 
	>
	#if(!$browser.inApp())
		$pages.include("/${apphome}/theme/layouts/navigation.html")
	#end
	<div id="applicationcontent" class="applicationcontent applicationcollective #if($browser.inApp()) inapp #end">
		#if($browser.inApp())
            $pages.includeContent()
		#else	
		#set( $usersidebarhidden = $userprofile.get("usersidebarhidden"))
		#if (!$usersidebarhidden)
			#set( $usersidebarhidden = 'false')
		#end
		
		#if($user && !$browser.inApp())
			$pages.include("$apphome/components/sidebars/user/index.html")
		#end
		<div class="emrightcontent #if($user && $usersidebarhidden == 'false') empushcontent #end emmaincontent">
            $pages.includeContent()
        </div>
        #end
    </div>
</div>

#if(!$browser.inApp())
$pages.include("${apphome}/googleanalytics.html", $context)
#end
</body>
</html>


