<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>#if( $librarycol ) $librarycol - #end OpenInstitute</title>
    
	$pages.include("/${applicationid}/theme/layouts/includes.html")
	
	#if($content.usemap == "true")
		$pages.include("/${applicationid}/components/map/includes.html")
	#end

    <link rel="Shortcut Icon" type="image/x-icon" href="$apphome/theme/images/favicon.ico" />

	</head>

<body id="page-top">
<div id="application" data-home="$home" data-apphome="$apphome" 
	data-themeprefix="/${applicationid}/theme" data-browserlanguage="$!{browserlanguage}"
	data-editmode='$!user.get("oe_edit_mode")' 
	data-mediadbappid="$!mediaarchive.getMediaDbId()"
	data-componenthome="$!componenthome"
	>

	$pages.includeContent()



	<div class="openinstitute">[[Powered by]]: <a href="/${applicationid}">Openinstute.org</a></div>


</div>
</body>
</html>


