#set ($librarycolid = $librarycol.getId())
<div id="channelcontainer" class="container" style="min-height: 100%;";>
<div class="row " style="min-height: 100%;";>
 <div class="col feed-maincol">

	#if( $caneditcollection )
		$pages.include("$apphome/collective/channel/addnewupload.html")
	#end
	
	<div class="feed-topics">
	<strong>[[Topics]]:</strong> <a href="" class="topicselected">#All</a>
	#set( $allprojects = $mediaarchive.getSearcher("collectiveproject").query().match("parentcollectionid",$librarycolid).sort("name").search($context) )
	#foreach( $project in $allprojects )
	<a href="$apphome/collective/channel/${librarycolid}/topics.html?topic=${project.getId()}.html" class="#if($projectid == $project.getId()) topicselected #end">$project</a>
	#end

	<a href="$apphome/collective/projects/edit.html?collectionid=${librarycolid}" class="topicselected float-right emdialog"  title="[[Edit Topics]]" style="margin-left:5px;"><i class="fas fa-ellipsis-v"></i></a> 
	<a href="$apphome/collective/projects/addnew.html?collectionid=${librarycolid}" class="topicselected  emdialog" title="[[Add a Topic]]"><i class="fas fa-plus"></i></a>
	
	</div>

	#if( $librarycol.streamurl)
		$pages.include("$apphome/components/streaming/play.html",$context)
	#end
	#set($topuploads = $mediaarchive.getSearcher("userupload").query().exact("librarycollection", $librarycolid).sort("uploaddateDown").search() )
	$topuploads.setHitsPerPage(20)
	
	#foreach( $upload in $topuploads.getPageOfHits())
		$context.putPageValue("upload",$upload)
		$pages.include("$apphome/collective/channel/showpost.html",$context)
	#end



</div>	
 <div class="col col-lg-4 ">
<div class="collective-sidebar">
	$pages.include("$apphome/collective/channel/subscribers/index.html")
</div>
 </div>
</div>
</div>


