<div id="channelcontainer" class="row " style="min-height: 100%;";>
 <div class="col feed-maincol">
	#set ($librarycolid = $librarycol.getId())
	#if( $caneditdata )
		$pages.include("$apphome/collective/channel/addnewupload.html")
	#end
	#set($topuploads = $mediaarchive.getSearcher("userupload").query().exact("librarycollection", $librarycolid).sort("uploaddateDown").search() )
	$topuploads.setHitsPerPage(20)
	
	##TODO add pages
	
	#foreach( $upload in $topuploads.getPageOfHits())
		<div class="feedcard">

			<div class="row no-gutters">
					<div class="col">
						#if($upload.title)
							<div class="feedcard-title">$upload.title</div>
						#end
					<div class="feedcard-author text-left">[[Published on ]]<a href="#">$librarycol</a>, <a href="#">Entermedia</a> $context.getAge($upload.getDate("uploaddate")) [[ago]]  [[by]] $userManager.getScreenName($upload.owner) |  
					<a  class="emdialog"  data-width="900" data-hidefooter="true" data-librarycol="${librarycol.getId()}" data-uploadid="${upload.id}" 
			     	 href="$home$apphome/collective/channel/share.html?collectionid=${librarycol.getId()}" ><i class="fas fa-share-alt"></i></a>
					</div> 
					</div>

					
			</div>
			
						<div class="feedcard-media">
				$context.putPageValue("upload",$upload)
				$pages.include("$apphome/collective/channel/images.html",$context)
			</div>
			<div class="feedcard-body">$upload.longdescription</div>
			 <div class="feedcard-footer">
			 	
				<div class="clearfix"></div>
				#if($upload.usertags)
					#set( $tags = $upload.usertags.split("\s*\|\s*") )
					#foreach( $tag in $tags )
						<a href="#" class="badge badge-tags" title="#esc($tag)">#esc($tag)</a>
					#end
				#end
			</div>
		</div>
	#end



</div>	
 <div class="col col-lg-4 collective-sidebar">
	$pages.include("$apphome/collective/channel/subscribers/index.html")
 </div>
</div>



