#set($collectionid = $librarycol.getId())
#if(!$collectionid)
	#set($collectionid = $context.getRequestParameter("organizationid"))
	#if($collectionid)
		#set( $librarycol = $mediaarchive.query("librarycollection").exact("id",$collectionid).searchOne() )
	#end
#end

#if( $librarycol )
#set($fullwidth = $content.fullwidth)
	
	#set($logo = $mediaarchive.getAsset($librarycol.assetportrait) )
	#if ($logo)
		#set($logourl = "/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${logo.sourcepath}/image200x200.png")
	#else
		#set($logourl = "$applink/theme/images/OI_flower.png")
	#end
	#set($homelink = "$apphome/collective/community/index.html?collectionid=$collectionid")


<div class="collectivelayout ">

 	<div class=" collectiveheader" style="position:relative;" >

			<div class="collectiveheaderlogo">
			<a  href="$homelink" title="$!librarycol.name">
				<div class="project-thumb" style="background-image: url('$logourl');"></div>
			</a>
			</div>
		
		<div class="collectiveheadermenu">	
			#if($librarycol.name)
			<div class="project-title">
			$!librarycol.name
			</div>
			#end
		
			$pages.include("$apphome/collective/menu.html", $context)
		</div>	
	
	</div>
	
	$pages.includeContent()	

</div>

#else
$pages.includeContent()	

#end