
<div class="container">

	<div class="row">
	##style="background-image:url($apphome/theme/images/cover/cover.png);background-repeat: no-repeat;"
		<div id="topbanner" class="col-md-12" >
			<nav class="navbar navbar-expand-lg navbar-light" >
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="navbar-toggler-icon"></span></button> 
				<a class="navbar-brand" href="$apphome/collective/channel/${librarycol.id}/#urlencode($librarycol.name).html">
				<div class="headerlogo">$!librarycol.name</div>
				</a>
					<div class="collection-header-actions">
						<a href="#" class="dropdown-toggle dropdown-noarrow" data-toggle="dropdown" title="[[Collection Actions]]">
						<i class="fas fa-ellipsis-v"></i></a>
							<div class="dropdown-menu">
								#if($caneditcollection)
								  #set( $link = "$home$apphome/views/modules/librarycollection/share.html?collectionid=${librarycol.getId()}")
								  <a class="dropdown-item emdialog"  id="sharetab"  href="$link" data-hidefooter="true" title="[[Collection Followers]]"><i class="dropdown-item-icon fas fa-user-friends"></i> [[Followers]]</a>
								   #set( $link = "$home$apphome/views/modules/librarycollection/permissions.html?collectionid=${librarycol.getId()}")
								  <a class="dropdown-item emdialog" id="permissionstab" href="$link" data-hidefooter="true" title="[[View Permissions]]"><i class="dropdown-item-icon fas fa-user-lock"></i> [[View Permissions]]</a>
								  #set( $editlink = "$home$apphome/views/modules/librarycollection/edit/settings.html?collectionid=${librarycol.getId()}")
							 	  <a class="dropdown-item emdialog"  data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" title="[[Collection Properties]]"><i class="dropdown-item-icon fas fa-cogs"></i> [[Properties]]</a>
								  #set( $link = "$home$apphome/views/modules/librarycollection/datapermissions/index.html?collectionid=${librarycol.getId()}&id=${librarycol.getId()}")
								  <a class="dropdown-item emdialog" id="permissionstab" href="$link" data-hidefooter="true" title="[[Collection Permissions]] (${librarycol})"><i class="dropdown-item-icon fas fa-user-lock"></i> [[Collection Permissions]]</a>
					              #set( $link = "$home$apphome/views/modules/library/datapermissions/index.html?id=${librarycol.get('library')}")
								  <a class="dropdown-item emdialog" id="permissionstab" href="$link" data-hidefooter="true" title="$librarycol.library [[Library Permissions]]"><i class="dropdown-item-icon fas fa-user-lock"></i>  [[ Library Permissions]]</a>
					
					
							   	#else
								   	#set( $editlink = "$home$apphome/views/modules/librarycollection/edit/settings.html?collectionid=${librarycol.getId()}")
								 	<a class="dropdown-item emdialog"  data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" title="[[Collection Properties]]"><i class="dropdown-item-icon fas fa-cogs"></i> [[Properties]]</a>
								#end
							 	## #if($cansharecollection && !$librarycol.isVisibility("3") )
								## 	#set( $editlink = "$home$apphome/views/modules/librarycollection/sharecollection.html?collectionid=${librarycol.getId()}")
								## 	<a class="dropdown-item emdialog" data-allwaysloadpage="true" data-hidefooter="true"   href="$editlink" title="[[Sharing Collection]]"><i class="dropdown-item-icon fas fa-share-alt"></i> [[Sharing]]</a>
							 	## #end
							</div>
						</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					$pages.include("$apphome/collective/menu.html", $context)
				</div>
			</nav>
		</div>
	</div>
</div>

<div class="container" style="min-height: calc(100% - 130px)">
$pages.includeContent()	
</div>

<div class="container">
	<div class="row">
		<div class="collective-social">
		#if ($librarycol.socialfacebook)
			<a href="https://www.facebook.com/${socialfacebook}">Facebook</a>
		#end
		#if ($librarycol.socialinstagram)
			<a href="https://www.facebook.com/${socialinstagram}">Instagram</a>
		#end
		</div>
	</div>
</div>
	


