#set( $usersidebarhidden = $userprofile.get("usersidebarhidden"))
#if (!$usersidebarhidden)
	#set( $usersidebarhidden = 'false')
#end
<div class="oiheaderout">
<div class="oiheader emrightcontent #if($user && $usersidebarhidden == 'false') empushcontent #end"> 
<div class="container">

    <nav id="mainOINav" class="navbar navbar-fixed-top navbar-expand-lg nav-project-page mainoinav">    
		<a class="navbar-brand" href="${context.siteRoot}/	" title="Open Institute"> 
		<img style="height: 50px;" src="$applink/theme/oi/OI.png" alt="Open Institute">
		</a>
		#if( $communitytag)
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
			#if ($communitytag.communityimage)
				#set( $thumbnail = $mediaarchive.getAsset($communitytag.communityimage) )
			#end
			
				#if( $communitytag.domain)
					#set( $href="//${communitytag.domain}$applink/")
				#end
			
				<a  class="nav-link"  href="$href">						
				#if($thumbnail)
					<h1 class="navcommunity" style="">
							<img height="50px" src="/$mediaarchive.getMediaDbId()/services/module/asset/downloads/preset/${thumbnail.sourcepath}/image200x200.png')" />
						#esc($library.name)
					</h1>
				#else
					<h1 class="navcommunity">
						#esc($communitytag.name)
						</h1> 
				#end	
				 
				</a>
			</li>	
			</ul>
		#end	 
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
			#set($oisection = $content.oisection)          
			<ul class="navbar-nav ml-auto">
		   
		   #if( $selecteduser.getId() == $user.getId())
		   	#set($oisection = "account")
		   #end
		   
			#if( $library )
           ## <li class="nav-item #if($oisection == "feed")active#end" >
           ##   <a class="nav-link js-scroll-trigger" href="$applink/news/$library.getId()/${library.name.replaceAll(" ","-")}.html">[[News Feed]]</a>
           ## </li>
            <li class="nav-item #if($oisection == "profiles")active#end" >
              <a class="nav-link js-scroll-trigger" href="$applink/profiles/$library.getId()/${library.name.replaceAll(" ","-")}.html">[[People]]</a>
            </li>
            #end
            <li class="nav-item dropdown">
	              <a class="nav-link  dropdown-toggle " href="#" data-toggle="dropdown">[[Organizations]]</a>
	              <ul class="dropdown-menu">
	    	        	
        			#set( $libraries = $mediaarchive.query("library").sort("name").all().search($context) )
					#foreach( $libraryhit in $libraries )
						#if ($libraryhit.getId())
						<li class="dropdown-item">
							<a class="subnav-link "
							#if( $libraryhit.communitysubdomain)
								href="//${libraryhit.communitysubdomain}$applink/"
							#else
							 	href="$applink/organization/projects/$libraryhit.getId()/#dash($libraryhit.name).html"
							#end	 
							>#esc($libraryhit.name)</a>			                    	
				       	</li>
				       	#end
					#end
	            </ul>
            </li>
            <li class="nav-item #if($oisection == "stations")active#end" >
              <a class="nav-link js-scroll-trigger" href="${context.siteRoot}$applink/browse/stations/index.html">[[Search]]</a>
            </li>
            <li class="nav-item #if($oisection == "contact")active#end" >
              <a class="nav-link js-scroll-trigger" href="${context.siteRoot}$applink/contact/contact.html">[[Contact]]</a>
            </li>
            #if( $user )
##            <li class="nav-item #if($oisection == "account")active#end" >
##              <a class="nav-link" href='#urlescape("${context.siteRoot}$applink/users/${user.getId()}/${user.getAnonNickName()}.html")'>[[Account]]</a>
##            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$applink/authentication/logout.html">[[Logout]]</a>
            </li>
         ##   <li class="nav-item">
         ##    <a class="nav-link js-scroll-trigger" href="$applink/users/notification/index.html"><i class="fa fa-bell" aria-hidden="true"></i></a>
         ##  </li>
            #else
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="${context.siteRoot}$applink/authentication/login.html">[[Login]]</a>
            </li>
            #end
            
       <li class="nav-item dropdown">
			#set( $currentlang = $mediaarchive.getData("locale",$context.language) )
              <a class="nav-link  dropdown-toggle " href="#" data-toggle="dropdown">#if($currentlang)$currentlang.id #else $context.language#end</a>	
	  
              <ul class="dropdown-menu">

					#set( $localesearcher = $mediaarchive.getSearcher("locale") )
					#set( $languages = $localesearcher.query().match("enabled", "true").search($context) )
					#foreach( $lang in $languages)
	    	        	<li class="dropdown-item">
						 <a href="$home$apphome/components/languages/changelanguage.html?newlang=locale_$lang.id&origURL=#urlescape($context.getPathUrl())">$lang </a>
		            	</li>
					#end
            	</ul>
            	
          </li>

            
            
          </ul>
        </div>
      
    </nav>


    </div>
</div>


</div>




