<!-- Navigation -->
<div class="oiheaderout">
<div class="oiheader"> 
<div class="container">


    <nav id="mainOINav" class="navbar navbar-fixed-top navbar-expand-sm nav-project-page">    
	<a class="navbar-brand" href="$applink/index.html" title="Open Institute">
	<img style="height: 50px;" src="$applink/theme/oi/OI.png" alt="Open Institute"></a>
	
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
			#set($oisection = $content.oisection)          
			<ul class="navbar-nav  ml-auto">
			<li class="searchcollectivescontainer">
			<select  id="collectivesearch" 
				name="collectionid" 
				class="form-control autosubmitlink" 
				data-placeholder="[[View Project]]"
				data-url="$applink/collective/community/index.html?collectionid="
				data-dropdownparent="navbarResponsive"
			>
			<option></option>
			#set( $collectives = $mediaarchive.query("librarycollection").all().search($context) )
			#foreach( $collective in $collectives )
				<option value="$collective.getId()">#esc($collective.name)</option>
			#end
		   </select>
		   </li>
		   
		   #if( $selecteduser.getId() == $user.getId())
		   	#set($oisection = "account")
		   #end 
		   
		   
            <li class="nav-item #if($oisection == "stations")active#end" >
              <a class="nav-link js-scroll-trigger" href="$applink/browse/stations/index.html">[[Projects]]</a>
            </li>
            <li class="nav-item #if($oisection == "feed")active#end" >
              <a class="nav-link js-scroll-trigger" href="$applink/browse/feed/index.html">[[News Feed]]</a>
            </li>
            <li class="nav-item #if($oisection == "profiles")active#end" >
              <a class="nav-link js-scroll-trigger" href="$applink/profiles/index.html">[[People]]</a>
            </li>
            <li class="nav-item #if($oisection == "contact")active#end" >
              <a class="nav-link js-scroll-trigger" href="$applink/contact/contact.html">[[Contact]]</a>
            </li>
            #if( $user )
            <li class="nav-item #if($oisection == "account")active#end" >
              <a class="nav-link" href='#urlescape("$applink/users/${user.getId()}/${user.getAnonNickName()}.html")'>[[Account]]</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$applink/authentication/logout.html">[[Logout]]</a>
            </li>
         ##   <li class="nav-item">
         ##    <a class="nav-link js-scroll-trigger" href="$applink/users/notification/index.html"><i class="fa fa-bell" aria-hidden="true"></i></a>
         ##  </li>
            #else
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$applink/authentication/login.html">[[Login]]</a>
            </li>
            #end
          </ul>
        </div>
      
    </nav>


    </div>
</div>


</div>




