<!-- Navigation -->
<div class="oiheaderout">
<div class="oiheader"> 
<div class="container">
<div class="row">
<div class="col">

    <nav id="mainOINav" class="navbar navbar-fixed-top navbar-expand-sm nav-project-page">    
      
        
	<a class="navbar-brand" href="$apphome" title="Open Institute"><img style="height: 50px;" src="$apphome/theme/oi/OI.png" alt="Open Institute"></a>
	
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          [[Account]]
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
			#set($oisection = $content.oisection)          
			<ul class="navbar-nav  ml-auto">
            <li class="nav-item #if($oisection == "feed")active#end" >
              <a class="nav-link js-scroll-trigger" href="$sitelink/app/browse/feed/index.html">[[Activity]]</a>
            </li>
            <li class="nav-item #if($oisection == "stations")active#end" >
              <a class="nav-link js-scroll-trigger" href="$sitelink/app/browse/stations/index.html">[[Projects]]</a>
            </li>
            <li class="nav-item #if($oisection == "profiles")active#end" >
              <a class="nav-link js-scroll-trigger" href="$sitelink/app/profiles/index.html">[[Profiles]]</a>
            </li>
            <li class="nav-item #if($oisection == "about")active#end" >
              <a class="nav-link js-scroll-trigger" href="$sitelink/app/about/index.html">[[About]]</a>
            </li>
            
            <li class="nav-item #if($oisection == "contact")active#end" >
              <a class="nav-link js-scroll-trigger" href="$sitelink/app/contact/contact.html">[[Contact]]</a>
            </li>
            #if( $user )
            <li class="nav-item #if($oisection == "users")active#end" >
              <a class="nav-link js-scroll-trigger" href='#urlescape("$apphome/users/${user.getId()}/${user.getAnonNickName()}.html")'>$user.getAnonNickName()</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/authentication/logout.html">[[Logout]]</a>
            </li>
         ##   <li class="nav-item">
         ##    <a class="nav-link js-scroll-trigger" href="$apphome/users/notification/index.html"><i class="fa fa-bell" aria-hidden="true"></i></a>
         ##  </li>
            #else
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="$apphome/authentication/login.html">[[Login]]</a>
            </li>
            #end
          </ul>
        </div>
      
    </nav>

    </div>
	</div>
    </div>
</div>

<div id="searchcollectivescontainer">
	<div class="container">
		<div class="searchcollectivescontainer">
			<select  id="collectivesearch" 
				name="collectionid" 
				class="form-control autosubmitedZ" 
				data-placeholder="[[Projects]]"
				data-url="$apphome/collective/channel/"
			>
			<option></option>
			#set( $collectives = $mediaarchive.query("librarycollection").search() )
			#foreach( $collective in $collectives )
				<option value="$collective.getId()">#esc($collective.name)</option>
			#end
		   </select>
		</div>
	</div>	
</div>

</div>




