#if($content.isPropertyTrue("shownav"))
<div class="navbar navbar-expand-lg" id="nav">
<div class="collapse navbar-collapse" id="emshareNavbar">
	<ul class="navbar-nav" >
		#set( $module = $content.module )
		<li class="nav-item #if($module == 'librarycollection') navselected #end"><a class="nav-link navbutton"  href="$apphome/index.html"> [[Collections]] </a></li>
		<li class="nav-item #if($module == 'asset') navselected #end"><a class="nav-link navbutton" href="$apphome/views/modules/asset/index.html"> [[Assets]] </a></li>
	   </ul>
		#if( $canviewopencollections)
			$pages.include("$apphome/components/libraries/pickcollection.html")
		#end
		
		
		#if ($canquicksearch)
		<div class="nav-form nav-quicksearch">
			<form id="search_form" action="$home$apphome/views/search/search.html" class="form-inline em-widget-content">
				<input type="hidden" name="field" value="description" />
				<input type="hidden" name="operation" value="freeform" />
				<input type="hidden" name="quicksearched" value="true" />
				#set( $input = $hits.getInput("description") )
				#if (!$input)
					#set( $input = "")
				#end
				<div class="input-group">
					<input class="suggestsearchinput form-control border-right-0 border" type="text"  id="assetsearchinput" data-quicksearched='$!context.getRequestParameter("quicksearched")' placeholder="[[Asset Search...]]"   name="description.value" value="$input" />
					##<span class="fas fa-search form-control-feedback submitform" ></span>
					
		                  <div class="input-group-addon submitform" style="pointer-events: initial;"><i class="fa fa-search"></i></div>
		            
				</div>
				
			</form>
		</div>
		#end
		

		<ul class="navbar-nav ml-auto">
			#if($canviewbasket)
			<li class="nav-item #if($section=="basket") navselected  #end">
				$pages.include("$apphome/components/basket/menuitem.html")
			</li>
			#end
	
	
			#if( $canviewupload)
			#if($mediaarchive.isCatalogSettingTrue("show_add_media_on_nav") )
			<li class="nav-item"><a class="nav-link navbutton" href="$home$apphome/views/upload/create/createnewstart.html" > [[Add Media]] </a></li>
			#end
		#end
	</ul>
</div>
</div>
#end
