#set( $moduleid = $context.findValue("module") )
#set( $sectiontab = $context.findValue("sectiontab") )

#if($content.isPropertyTrue("shownav"))
<ul class=" navtabs">
	<li class="#if($moduleid == 'librarycollection') navactive #end">
	<a class="navtabitem" href="$apphome/index.html?hitssessionid=$!hits.getSessionId()&assetclearresults=true&assetclearselection=true&clearselection=true&clearfilters=true"><i class="fas fa-folder"></i> [[Collections]]</a>
	</li>
	<li class="#if($sectiontab == 'assets') navactive #end">
	<a  class="navtabitem" href="$apphome/views/modules/asset/index.html?hitssessionid=$!hits.getSessionId()&assetclearresults=true&assetclearselection=true&clearselection=true&clearfilters=true" title="[[All Assets]]"><i class="fas fa-images"></i> [[Assets]]</a>
	</li>
</ul>
#end

	#if ($canquicksearch || $canshowcollectionpicker || $canshowlibrarypicker)
	<div class="navbar-quicksearch" id="nav-quicksearch">
		#if( $canshowcollectionpicker || $canshowlibrarypicker)
			$pages.include("$apphome/components/libraries/pickcollection.html")
		#end
		
		
		#if ($canquicksearch)
		<div class="nav-form nav-quicksearch">
			<form id="search_form" action="$home$apphome/views/modules/asset/search.html" class="form-inline em-widget-content">
				<input type="hidden" name="field" value="description" />
				<input type="hidden" name="operation" value="freeform" />
				<input type="hidden" name="quicksearched" value="true" />
				#set( $input = $hits.getInput("description") )
				#if (!$input)
					#set( $input = "")
				#end
				<div class="input-group">
					<input class="suggestsearchinput form-control border-right-0 border" type="text"  id="assetsearchinput" data-quicksearched='$!context.getRequestParameter("quicksearched")' placeholder="[[Asset Search...]]"   name="description.value" value="$input" />
					##<span class="fas fa-search form-control-feedback submitform" ></span>
					<div class="input-group-addon submitform" style="pointer-events: initial;">
					<a><i class="fa fa-search"></i></a>
					</div>
		            
				</div>
				
			</form>
		</div>
		#end
	</div>
	#end

#if( $canviewupload && $mediaarchive.isCatalogSettingTrue("show_add_media_on_nav"))
	#set($showaddmedia = true)
#end
#if($canviewbasket)
	#set($showbasket = true)
#end
#if ($showaddmedia || $showbasket)

	<ul class="navtabs float-right">
		#if ($showaddmedia)
		<li class="#if($moduleid == 'asset' && $sectiontab == 'assetadd') navactive #end">
			<a class="navtabitem" href="$home$apphome/views/modules/asset/add/start.html"  title="[[Add Assets]]" ><i class="fas fa-plus"></i> <span class="">[[Add Media]]</span></a>
		</li>
		#end
		#if( $user )
	    	#if( $canviewmyaccount ) 
			<li  class="#if($sectiontab == 'myorders') navactive #end">
				<a class="navtabitem" id="module" href="$home$apphome/views/myaccount/orders/index.html"><i class="fas fa-list"></i> [[My Orders]] </a>
			</li>
			#end
		#end
		#if($showbasket)
			<li class="#if($moduleid == 'asset' && $sectiontab == 'basket') navactive #end">
				$pages.include("$apphome/components/basket/menuitem.html")
			</li>
		#end
		
				
</ul>
#end
<div class="clearfix"></div>


