#set( $moduleid = $context.findValue("module") )
#if($content.isPropertyTrue("shownav"))
<ul class=" navtabs">
	<li class="#if($moduleid == 'librarycollection') navactive #end">
	<a class="navtabitem" href="$apphome/index.html"> [[Collections]] </a>
	</li>
	<li class="#if($moduleid == 'asset') navactive #end">
	<a  class="navtabitem" href="$apphome/views/modules/asset/index.html"> [[Assets]]</a>
	</li>
</ul>
#end

#if( $canviewupload && $mediaarchive.isCatalogSettingTrue("show_add_media_on_nav"))
	#set($showaddmedia = true)
#end
#if($canviewbasket)
	#set($showbasket = true)
#end
#if ($showaddmedia || $showbasket)
	<ul class=" navtabsright">
		#if($showbasket)
			<li class="nav-item #if($section=="basket") navactive  #end">
				$pages.include("$apphome/components/basket/menuitem.html")
			</li>
		#end
		#if ($showaddmedia)
		<li class="navtabright">
			<a class="navrighttabitem" href="$home$apphome/views/upload/create/createnewstart.html" ><i class="fas fa-plus"></i><span class="navtabsright-text">[[Add Media]]</span></a>
		</li>
		#end
		
</ul>
#end
<div class="clearfix"></div>