<div id="application">
<div id="emcontainer">


  <div id="header" class="clearfix" role="banner">
      $pages.include("${themeprefix}/layouts/header.html")
      
		<div id="site-title">$!content.tagline</div>
  </div>
  <div id="nav" role="navigation">
    <div class="page_margins">
      <div class="page">
          <!-- main navigation: #nav_main -->
         $pages.include("$apphome/theme/layouts/nav.html")
      </div>
    </div>
  </div>

 
<div id="emcontent">
  <div id="main">
    <div class="page_margins">

      <div class="page">
       $pages.includeContent()
      </div>
    </div>
  </div>
</div>

  <div id="extended">
    <div class="page_margins">
      <div class="page">
        
      </div>
    </div>
  </div>
  <!-- begin: #footer -->
  <div id="footer" role="contentinfo">
    <div class="page_margins">
      <div class="page">
     $pages.include("${themeprefix}/layouts/footer.html")
      </div>
    </div>
  </div>
<!-- full skiplink functionality in webkit browsers -->

</div>

</div>
