$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")

			<div class="ui-widget uipanel" style="float: left; width: 633px; margin-right: 13px;">
				<div  class="ui-widget-header">
					$asset
					</div>
				<div  class="ui-widget-content playerbox" style="min-height: 380px;">
				 
				  $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
				 
				  $pages.include("$apphome/components/mediaviewer/player/navigation.html",$context)
				 
				</div> 
			</div>
			
			
			
<div class="detailsbox ui-widget" style="float: left; width: 160px;">
	<div class="ui-widget-header">Related Media</div>
	<div class="ui-widget-content" style="padding-top: 20px;">

$!hits.setHitsPerPage(7)
$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")
$pages.include("$apphome/components/results/sidebar.html",$context)

</div>
</div>

#if ($cancomment)
			<div class="ui-widget commentbox">
				<div  class="ui-widget-header">Comments</div>
				<div  class="ui-widget-content">			
				$pages.include("$apphome/components/mediaviewer/comments/mini.html",$context)
			</div>
			</div>
			#end


			


