$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")


<table width="100%">
<tr>
<td class="player">
			<div class="ui-widget uipanel" >
				<div  class="ui-widget-header">Player</div>
				<div  class="ui-widget-content playerbox">
				  <table>
				  <tr>
				  <td>
				  $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
				  <td>
				  <td>
				  $pages.include("$apphome/components/mediaviewer/player/navigation.html",$context)
				  </td>
				  </tr>
				  </table>
				</div> 
			</div>
			
			<div class="ui-widget commentbox">
				<div  class="ui-widget-header">Comments</div>
				<div  class="ui-widget-content">			
				$pages.include("$apphome/components/mediaviewer/comments/mini.html",$context)
			</div>
</td>
<td width="200">

<div class="detailsbox ui-widget">
	<div class="ui-widget-header">Details</div>
	<div class="ui-widget-content"	>

	$pages.include("/${applicationid}/components/mediaviewer/details/index.html",$context)

</div>
	
</div>

</td>
</tr>

</table>

  
  	$pages.include("/${applicationid}/components/results/mini.html",$context)
  