#if($content.isPropertyTrue("shownav")) 

<ul class="emheaderbuttons" >

#if( $canviewhomelink )
<li><a class="navbutton" id="module"  href="$home$apphome/index.html"> [[Home]] </a></li>
#end

<li>
##if ($canquicksearch)
$pages.include("$apphome/components/advancedsearch/topsearch.html")
##end
</li>
     #if( $cancreatenewrecord || $cancreatelivemedia)
     <li #if( $section == "upload" ) class="navselected" #end style="float: right;"><a class=" navbutton" href="$home$apphome/views/upload/create/createnewstart.html" >[[Add Media]]</a></li>
    #elseif( $canviewupload )
     <li #if( $section == "upload" ) class="navselected" #end style="float: right;"><a class=" navbutton" href="$home$apphome/views/upload/index.html" >[[Upload Media]]</a></li>
    #end
 
    #if($canviewbasket)
    <li #if($section=="basket") class="navselected"  #end  style="float: right;">
    	$pages.include("$apphome/components/basket/menuitem.html")
    </li>
    #end

    

 </ul>


#end
