 
 <ul class="emheaderbuttons" >
#set($module = $searcherManager.getData($catalogid, "module", $content.module ))
#set( $section = $content.section)

#if ($user)

<li><a id="module" class="flat-right" #if ( $module ) href="$apphome$module.href" #else  href="$home$apphome/index.html" #end>#if ( $module ) ${module}s #else Home #end</a><a id="module-dropdown" class="flat-left" href="#"><span></span></a>
	<ul id="module-list" style="display: none;">
		#set ( $modules = $searcherManager.getList($catalogid, "module") )
		#foreach ( $module in $modules )
			<li><a href="$apphome$module.href">$module</a></li>
		#end
	</ul>
</li>

#end


#if( $canviewupload )
 <li #if( $section == "upload" ) class="navselected" #end><a href="$home$apphome/views/upload/index.html" >Upload Media</a></li>
#end

#if($canviewbasket)
<li #if($section=="basket") class="navselected"  #end  style="float: right;">
	$pages.include("$apphome/components/basket/menuitem.html")
</li>
#end

 </ul>


<div style="float:right; margin-top:-30px;">

#if ($canquicksearch)
<div id="searchform">
<form id="search_form" action="$apphome/views/search/search.html" class="em-widget-content">
	<input type="hidden" name="field" value="description" />
	<input type="hidden" name="operation" value="startswith" />
	#set( $input = "Search...")
	#set( $input = $hits.getInput("description") )
    <input type="text"  id="assetsearchinput" initialtext="Search..."  class="initialtext" name="description.value" value="$input" />
</form>
</div>
#end


</div>
