
<div class="subcolumns">
          <div class="c25l" id="left-col">
          	

			$pages.include("$apphome/components/sidebars/combined.html", $context)
			
      	 </div>
         <div id="right-col">
       	 	
			<div class="ui-widget uipanel" id="view-picker">
			<div class="ui-widget-header">Your Search for: $!hits.getSearchQuery().getName() ($!hits.size()) <a style="color:#fff; float: right; margin-right: 15px;" href="$home$apphome/views/search/edit/save.html?queryid=$hits.getSearchQuery().id&name=$hits.getSearchQuery().getName()">Add Search to Favorites</a></div>
			<div id="view-picker-content" class="ui-widget-content search-view">
					$pages.includeContent()
			</div></div>

        </div>
</div>