<div class="subcolumns">
          <div class="c25l" id="left-col">

			<div class="ui-widget uipanel" id="left-col-search" >
				<div  class="ui-widget-header">Search</div>
				<div  class="ui-widget-content">
					$pages.include("$apphome/components/advancedsearch/index.html", $context)
				</div>
			</div>

			<div class="ui-widget  uipanel" id="left-col-categories" >
				<div  class="ui-widget-header">Categories</div>
				<div  class="ui-widget-content categories-widget">
					$pages.include("$apphome/components/categories/inline.html")
				</div>
			</div>

			#if($hits )
			$pages.include("$apphome/components/relatedkeywords/index.html")
			#end
      	 </div>
         <div id="right-col">
       	 	
			<div class="ui-widget uipanel" id="view-picker">
			<div class="ui-widget-header">Assets ($!hits.size())</div>
			<div class="ui-widget-content search-view">
					$pages.includeContent()
			</div></div>

        </div>
</div>