<div class="subcolumns">
          <div class="c25l">
          <div class="subcl">

			<div class="ui-widget  uipanel" >
				<div  class="ui-widget-header">Folders</div>
				<div  class="ui-widget-content">
				$pages.include("$apphome/components/savedsearches/index.html", $context)
				</div>
			</div>


			
			<div class="ui-widget uipanel" >
				<div  class="ui-widget-header">Search</div>
				<div  class="ui-widget-content">
$pages.include("$apphome/components/advancedsearch/index.html", $context)
				</div>
			</div>

			<div class="ui-widget  uipanel" >
				<div  class="ui-widget-header">Categories</div>
				<div  class="ui-widget-content">
$pages.include("$apphome/components/categories/inline.html")
				</div>
			</div>

#if($hits )
$pages.include("$apphome/components/relatedkeywords/index.html")
#end
          
		 </div>
         </div>
         <div class="c75r">
         <div class="subcr">
      
<div class="ui-widget uipanel">
<div class="ui-widget-header">Assets</div>
<div class="ui-widget-content">
		$pages.includeContent()
</div></div>

          </div>
          </div>
        </div>