	<div class="col-sidebar-header">
		<h2 class="">[[Recent GAlleries]]
		<a class="emdialog sidebar-header-action"
			data-hidefooter="true" 
			title="[[Find Albums]]"
			id="sidebarsearchalbum"
			 data-targeturl="$siteroot$apphome/views/modules/librarycollection/showcategory.html"
			 data-targetdiv="applicationcontent"
			 data-oemaxlevel="3"
			href="$siteroot$apphome/components/opencollections/searchcollection.html?searchcollectinolauncher=sidebarsearchalbum"><i class="fa fa-search"></i> </a>
		</h2>
<a href="#"
					title="[[Hide Categories Sidebar]]"
					class="sidebar-toggler sidebar-toggler-hide"
					data-action="hide" 
					data-targetdiv="col-sidebars">
					<i class="bi bi-chevron-double-left closebar"></i>
				</a>			
	</div>
	
	<div class="col-sidebar-scroll">

$context.putPageValue( "colhits",$usercollections)

$pages.include("$apphome/components/sidebars/libraries/collectionlist.html",$context)


	</div>
	
				