
	
<div class="category-search category-selector auto-active-container overflow-y">
			#foreach( $hit in $hits)
		     	$context.putPageValue("hit", $hit)
		     	$context.putPageValue("module", $module)
		    
<div class="category-search-hit auto-active-row">
<a href="$siteroot$apphome/views/modules/asset/showcategory.html?nodeID=$hit.id" class="ajax auto-active-link" data-oemaxlevel="1" data-targetdiv="applicationmaincontent">
	<div class="category-search-hit-icon" >
        	<i class="bi bi-folder-fill" ></i>
     </div>
     <div class="category-search-hit-name" >
     	$hit.categorypath
     </div>
</a>	
     <div class="category-search-hit-tools" >
     #if( $desktop || 1==1)
       	<a href="#" class="emdesktopdownload emdownloadasset" data-categoryid="$hit.id" data-reloadsidebar="false" title="[[Download]]">
       	<i class="fas fa-download"> </i>
       	</a>
	#end     
     </div>
</div>
<div class="clearfix"></div>    
#end    

</div>
