##this will block and will be loaded using a one time ajaxstatus reload
#if( !$desktop )
	<div id="userfiles" class="ajaxstatus" 
	data-oemaxlevel="1"
	 data-ajaxpath="$siteroot$applink/components/sidebars/categories/userfiles.html" >
	</div>
#else
<div class="localfiles col-categories categorytree " >

<div id="side-categories" class="assetdropcategory">
    #set( $link = "$apphome/components/desktop/tree.html")
    #set( $treename = "desktopTree" )
    #set( $link = "${link}?tree-name=$treename&treemodel=desktopTreeModel&clearselection=$clearselection&allowselections=false&editabletree=true" )
    #set( $link = "${link}&targetdiv=applicationmaincontent&maxlevelclick=2" )
   	$pages.include($link, $context)
</div>

</div>
#end