#if(!$moduleid)
	#set($moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$entityid)
	#set($entityid = $context.getRequestParameter("entityid"))
#end

#if(!$mediarender)
	#set($mediarender = "attachedmediarender")
#end


#if($assetshits)
	#set($count = 0)
	#set($stackedfield = $mediaarchive.getCatalogSettingValue("stackedgalleryfield"))
	
	#foreach( $ahit in $assetshits.getPageOfHits())
		#set($count = $count + 1)
		$context.putPageValue("hit", $ahit)
		$pages.include("$apphome/components/gridsample/types/attachedmediarender.html", $context)
	#end
	<div class="clearfix"></div>
#end



