#set($entity = $hit)
#set($entityid = $entity.id)
#set($moduleid = $module.id)

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#set($previewurl = "$siteroot$componenthome/gridsample/preview/${rendertype}.html?id=$entityid&searchtype=$moduleid&hitssessionid=$!hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content emgrid-type-$!moduleid entitycontainer entity$!moduleid$!entityid" 
		data-id="${entity.id}"
   	 	data-moduleid="$!moduleid">
   	 <div class="emgrid-entityheader">
   	 <h3>
   	 <a href="$previewurl" 
   	 	class="emdialog entity-dialog emgridresulttitle" 
   	 	data-hidefooter="true" 
   	 	data-hideheader="true"
   	 	id="clickid${entity.id}"  
   	 	data-id="${entity.id}"
   	 	data-moduleid="$!moduleid"
   	 	title="$!entity.name">
   	 	##$!hits.highlight($hit,"name")
   	 	$!entity.name
   	 	</a>
   	 	
   	 </h3>
   	 <div class="emgrid-moredetails">
       	<a class="emdialog entity-dialog" 
       		data-hidefooter="true" 
       		href="$previewurl" 
       		title="$!entity.name">
       		<i class="fas fa-info-circle"></i></a>
       	</div> 
   	 </div>
	<div class="emgrid-entitymetadata">
	
		#set( $image = $mediaarchive.getCachedData("asset", $entity.primaryimage))
		#if($image)
			#set( $imagesize = "image200x200.jpg")
	  	 	#set($tpath = $mediaarchive.asLinkToPreview($image, null, $imagesize, true))
	   	 	<a href="$previewurl" 
	   	 	class="emdialog entity-dialog" 
	   	 	data-hidefooter="true" 
	   	 	data-hideheader="true"
	   	 	id="clickid${entity.id}"  
	   	 	data-id="entity.id"
	   	 	title="$!entity.name">
			<img class="imagethumb img-fluid"
				 border="0" 
				 sourcepath="$sourcepath" 
				 catalogid="$catalogid" 
				 assetid="$image.id" 
				 alt="$!image.name"
				 draggable="true"  
				 data-name="$!image.name" 		
				 src="$tpath" 
				  />    
			</a>        	 
		#end
        	 
       	#if($entity.longcaption)
       		$entity.longcaption
       	#end
        	
       	##$pages.include("$componenthome/gridsample/tags.html",$context)
	        
      </div>
      
      #set($assetsshown = 4)
      $context.putPageValue("assetsshown", $assetsshown)
       <div class="emgrid-entitymedia assetdropentity"
       		id="attachedmedia$entityid" 
       		data-moduleid="$moduleid" 
       		data-entityid="$entityid" 
       		data-assetsshown="$assetsshown"
       		data-attachedmediaurl="$siteroot$componenthome/gridsample/types/attachedmedia/entity.html"
       		data-targetdiv="attachedmedia$entityid"> 	
	        $pages.include("$componenthome/gridsample/types/attachedmedia/entity.html",$context)
	   </div>
	        
        <div class="clearfix"></div>
        
        <div class="grid-gallery-footer">
        
       	<div class="emgrid-moredetailsright">
       		#if( $canviewupload )
		       	#if($moduleid=="librarycollection")
					#set($uploadlink = "$siteroot/$applink/views/modules/asset/add/start.html?collectionid=$entityid&clearotherentities=true")
					#set($oemaxlevel = "1")
					#set($targetdiv = "applicationmaincontent")
				#elseif($moduleid=="faceprofilegroup")
					#set($uploadlink = "")
				#else
					#set($uploadlink = "$siteroot/$applink/views/modules/asset/add/start.html?entityupload=true&entitytype=$moduleid&addselection=$entityid&clearotherentities=true")
					#set($oemaxlevel = "1")
					#set($targetdiv = "applicationmaincontent")
				#end
				#if ($uploadlink)
				<a href="$uploadlink" 
					class="ajax moreactions"
					data-targetdivinner="$targetdiv"
					data-closedialog="true" 
					data-closemediaviewer="true"
					data-updateurl="true"
					data-oemaxlevel="$!oemaxlevel"
					title="[[Upload assets here]]">
					<i class="fas fa-upload"></i></a>
				#end
			#end
			
	       	$pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$moduleid", $context)
	       	
	       	
       	</div>
        </div>
        
       ## <div class="griditem-tools resultsselection">
       ## <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
       ## </div>
</div>


