#set($entity = $hit)
#set($entityid = $entity.id)
#set($entity_module = $module.getId())

$context.putPageValue("entityid", $entityid)
$context.putPageValue("entity_module", $entity_module)

#set( $rendertype = $context.getPageValue("previewrendertype"))
#if (!$rendertype)
	#set( $rendertype = "default")
#end

#set($previewurl = "$componenthome/gridsample/preview/${rendertype}.html?id=$entityid&searchtype=$entity_module&hitssessionid=$hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content emgrid-type-$rendertype">        	 
        	 <div class="emgrid-content-header">
        	 <h3>
        	 <a href="$previewurl" 
        	 	class="emdialog entity-dialog emgridresulttitle" 
        	 	data-hidefooter="true" 
        	 	data-hideheader="true"
        	 	id="clickid${entity.id}"  
        	 	data-id="entity.id"
        	 	title="$!entity.name">
        	 	##$!hits.highlight($hit,"name")
        	 	$entity.name
        	 	</a>
        	 
        	 </h3> 
        	 </div>
        	  
	        <div class="emgridcell-default" data-width="$!{hit.width}" data-height="$!{hit.height}">
		        	
		        	#set($formateddate = $context.getDate($entity.entity_date) )
		        	#if($formateddate )
		        	<div>Date: $formateddate
		        	</div>
		        	#end
	        </div>
			
			$context.putPageValue("assetsshown",4)
	        $pages.include("$componenthome/gridsample/attachedmedia.html",$context)
	        
	        
	        <div class="clearfix"></div>
	        $pages.include("$componenthome/gridsample/tags.html",$context)
	        <div class="clearfix"></div>
	        
	        <div class="ibmgrid-footer">
	        
	        $pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$module.id", $context)
	        
	        
	        
	        <a class=" float-right emdialog insighemdialog" data-hidefooter="true" href="$previewurl" title="$!hit.ibmtitle">[[view more details]]</a>
	        
	        </div>
	        
	       ## <div class="griditem-tools resultsselection">
	       ## <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	       ## </div>
</div>