#if($hit)
	#set($entity = $hit)
	#set($entityid = $entity.id)
	#set($moduleid = $module.id)
#else
	#if(!$moduleid)
		#set($moduleid = $context.getRequestParameter("moduleid"))
	#end
	#if(!$entityid)
		#set($entityid = $context.getRequestParameter("entityid"))
	#end
	#if($moduleid && $entityid)
		#set($entity = $mediaarchive.getCachedData($moduleid, $entityid))
	#end
#end

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#if (!$rendertype && $moduleid)
	#if(!$module)
		#set($module = $mediaarchive.getCachedData("module", $moduleid))
	#end
   	#set($rendertype = $module.modulerendertype)
#end
#if (!$rendertype)
   		#set($rendertype = "entity")
#end

#set($previewurl = "$!{siteroot}$apphome/views/modules/$!moduleid/components/gridsample/preview/${rendertype}.html?id=$entityid&hitssessionid=$!hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content emgrid-type-$!moduleid entitycontainer entity$!moduleid$!entityid" 
	 id="emgridentity$!moduleid$!entityid"
		data-id="${entityid}"
   	 	data-moduleid="$!moduleid"
   	 	data-rendertype="$rendertype">
   	 <div class="emgrid-entityheader">
   	 <h3>
   	 <a href="$previewurl" 
   	 	class="emdialog entity-dialog emgridresulttitle" 
   	 	data-hidefooter="true" 
   	 	data-hideheader="true"
   	 	id="clickid${entityid}"  
   	 	data-id="${entityid}"
   	 	data-moduleid="$!moduleid"
   	 	title="#text($!entity.name)">
   	 	##$!hits.highlight($hit,"name")
   	 	#text($!entity.name)
   	 	</a>
   	 	
   	 </h3>
       	<div class="clearfix"></div>
   	 </div>
   	
		<div class="emgrid-entitydata">
			$context.putPageValue("searchtype", $moduleid)
			$context.putPageValue("data", $entity)
	      	$pages.include("$componenthome/gridsample/types/fields.html",$context)
	    </div>
    
	   	#set($assetsshown = 1)
	    $context.putPageValue("viewer", "e_m_g_${entity.id}")
     
      	#set( $primaryasset = $mediaarchive.getAsset($entity.primaryimage))
		#if($primaryasset)
			$context.putPageValue("primaryasset", $primaryasset)		
			#set( $entityassetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact($moduleid, $entityid).not("id",$primaryasset.getId()).sort("assetaddeddateDown").search() )
			#set($entityassetscount = $entityassetshits.size() + 1)
		#else
			#set( $entityassetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact($moduleid, $entityid).sort("assetaddeddateDown").search() )
			#set($entityassetscount = $entityassetshits.size())
		#end
		
		$context.putPageValue("entityassetshits", $entityassetshits)
		
      
       <div class="emgrid-entitymedia assetdropentity"
       		id="attachedmedia$entityid" 
       		data-moduleid="$moduleid" 
       		data-entityid="$entityid" 
       		data-assetsshown="$assetsshown"
       		data-attachedmediaurl="$siteroot$componenthome/gridsample/types/entity.html"
       		data-targetdiv="emgridentity$!moduleid$!entityid"> 	
	        $pages.include("$componenthome/gridsample/types/attachedmedia/entity.html",$context)
	   
	        
        <div class="clearfix"></div>
        

        </div>
        
       ## <div class="griditem-tools resultsselection">
       ## <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
       ## </div>
       
       
<div class="grid-gallery-footer">

	#if($entityassetscount>0)
	$entityassetscount <i class="fas fa-images"></i>
	#end
	
	<div class="emgrid-moredetailsright">
 	$pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$moduleid", $context)
	</div>
</div>
       
</div>


