#if($hit)
	#set($entity = $hit)
	#set($entityid = $entity.id)
	#set($moduleid = $module.id)
#else
	#if(!$moduleid)
		#set($moduleid = $context.getRequestParameter("moduleid"))
	#end
	#if(!$entityid)
		#set($entityid = $context.getRequestParameter("entityid"))
	#end
	#if($moduleid && $entityid)
		#set($entity = $mediaarchive.getCachedData($moduleid, $entityid))
	#end
#end

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#set( $librarycol = $mediaarchive.getData("librarycollection",$entityid))
$context.putPageValue("librarycol", $librarycol)

#set($rootcategory = $librarycol.rootcategory)
$context.putPageValue("rootcategory", $rootcategory)

#if (!$rendertype)
	#set( $rendertype = "librarycollection")
#end

#set($previewurl = "$!{siteroot}$apphome/views/modules/librarycollection/media/showcategory.html?nodeID=$rootcategory")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content entitycontainer emgrid-type-$!previewrendertype entity$!moduleid$!entityid"
		id="emgridentity$!moduleid$!entityid"
		data-id="$!{entity.id}"
   	 	data-moduleid="$!moduleid">
   	 <div class="emgrid-entityheader">
   	 <h3>
   	 <a href="$previewurl" 
   	 	class="ajax emgridresulttitle" 
   	 	data-targetdiv="applicationcontent"
   	 	data-oemaxlevel="3"
   	 	data-sidebarcomponent="categories"
   	 	data-updateurl="true" 
   	 	id="clickid${entity.id}"  
   	 	data-id="entity.id"
   	 	data-moduleid="$!moduleid"
   	 	title="#text($!entity.name)">
   	 	##$!hits.highlight($hit,"name")
   	 	#text($!entity.name)
   	 	</a>
   	 
   	 </h3> 
   	 
   	 </div>
   	 

   	 <div class="emgrid-entitydata">
      	$pages.include("$componenthome/gridsample/types/tags.html",$context)
    </div>
	    
	    #set($assetsshown = 1)
      	$context.putPageValue("assetsshown", $assetsshown)
      	$context.putPageValue("viewer", "l_m_g_${entity.id}")
      
		#set( $primaryasset = $mediaarchive.getCachedData("asset", $entity.primaryimage))
		
		#if($primaryasset)
			$context.putPageValue("primaryasset", $primaryasset)		
			#set($entityassetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).not("id",$primaryasset.getId()).sort("assetaddeddateDown").search() )
			#set($entityassetscount = $entityassetshits.size() + 1)
		#else
			#set($entityassetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).sort("assetaddeddateDown").search() )
			#set($entityassetscount = $entityassetshits.size())
		#end
		
		$context.putPageValue("entityassetshits", $entityassetshits)
	  
	      <div class="emgrid-entitymedia assetdropentity"
	       		id="attachedmedia$entityid" 
	       		data-moduleid="$moduleid" 
	       		data-entityid="$entityid"
	       		data-rootcategory="$librarycol.rootcategory" 
	       		data-assetsshown="$assetsshown"
	       		data-attachedmediaurl="$siteroot$componenthome/gridsample/types/librarycollection.html"
	       		data-targetdiv="emgridentity$!moduleid$!entityid"> 
		  		$pages.include("$componenthome/gridsample/types/attachedmedia/librarycollection.html",$context)
		  </div>
	   
	        
	        <div class="clearfix"></div>
			
	        
	       ## <div class="griditem-tools resultsselection">
	       ## <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	       ## </div>
</div>
<div class="grid-gallery-footer">

	#if($entityassetscount>0)
	$entityassetscount <i class="fas fa-images"></i>
	#end
	
	<div class="emgrid-moredetailsright">
 	$pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$moduleid", $context)
	</div>
</div>

