#if($hit)
	#set($entity = $hit)
	#set($entityid = $entity.id)
	#set($moduleid = $module.id)
#else
	#if(!$moduleid)
		#set($moduleid = $context.getRequestParameter("moduleid"))
	#end
	#if(!$entityid)
		#set($entityid = $context.getRequestParameter("entityid"))
	#end
	#if($moduleid && $entityid)
		#set($entity = $mediaarchive.getCachedData($moduleid, $entityid))
	#end
#end

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)

#set( $librarycol = $mediaarchive.getData("librarycollection",$entityid))
$context.putPageValue("librarycol", $librarycol)

#set($rootcategory = $librarycol.rootcategory)
$context.putPageValue("rootcategory", $rootcategory)

#if (!$rendertype)
	#set( $rendertype = "librarycollection")
#end

#set($previewurl = "$siteroot$componenthome/gridsample/preview/${rendertype}.html?id=$entityid&searchtype=$moduleid&collectionid=$entityid&rootcategory=$rootcategory&hitssessionid=$hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content entitycontainer emgrid-type-$previewrendertype entity$!moduleid$!entityid"
		id="emgridentity$!moduleid$!entityid"
		data-id="${entity.id}"
   	 	data-moduleid="$!moduleid">
   	 <div class="emgrid-entityheader">
   	 <h3>
   	 <a href="$previewurl" 
   	 	class="emdialog entity-dialog emgridresulttitle" 
   	 	data-hidefooter="true" 
   	 	data-hideheader="true"
   	 	id="clickid${entity.id}"  
   	 	data-id="entity.id"
   	 	data-moduleid="$!moduleid"
   	 	title="#text($!entity.name)">
   	 	##$!hits.highlight($hit,"name")
   	 	#text($!entity.name)
   	 	</a>
   	 
   	 </h3> 
   	 <div class="emgrid-moredetails">
        	<a class="emdialog entity-dialog" data-hidefooter="true" href="$previewurl" title="$!entity.name"><i class="fas  fa-info-circle"></i></a>
        	</div>
        	<div class="clearfix"></div>
   	 </div>
   	 
   	 <a href="$previewurl" 
   	 	class="emdialog entity-dialog emgridresulttitle" 
   	 	data-hidefooter="true" 
   	 	data-hideheader="true"
   	 	id="clickid${entity.id}"  
   	 	data-id="entity.id"
   	 	data-moduleid="$!moduleid"
   	 	title="#text($!entity.name)">
   	 <div class="emgrid-entitydata">
      	$pages.include("$componenthome/gridsample/types/tags.html",$context)
    </div>
   	 </a>
	    
	    #set($assetsshown = 1)
      	$context.putPageValue("assetsshown", $assetsshown)
      	$context.putPageValue("viewer", "l_m_g_${entity.id}")
      
		#set( $primaryasset = $mediaarchive.getCachedData("asset", $entity.primaryimage))
		
		#if($primaryasset)
			$context.putPageValue("primaryasset", $primaryasset)		
			#set($entityassetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).not("id",$primaryasset.getId()).sort("assetaddeddateDown").search() )
			#set($entityassetscount = $entityassetshits.size() + 1)
		#else
			#set($entityassetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).sort("assetaddeddateDown").search() )
			#set($entityassetscount = $entityassetshits.size())
		#end
		
		$context.putPageValue("entityassetshits", $entityassetshits)
	  
	      <div class="emgrid-entitymedia assetdropentity"
	       		id="attachedmedia$entityid" 
	       		data-moduleid="$moduleid" 
	       		data-entityid="$entityid"
	       		data-rootcategory="$librarycol.rootcategory" 
	       		data-assetsshown="$assetsshown"
	       		data-attachedmediaurl="$siteroot$componenthome/gridsample/types/librarycollection.html"
	       		data-targetdiv="emgridentity$!moduleid$!entityid"> 
		  		$pages.include("$componenthome/gridsample/types/attachedmedia/librarycollection.html",$context)
		  </div>
	   
	        
	        <div class="clearfix"></div>
	        
	        
			<div class="grid-gallery-footer">
	        
        	<div class="emgrid-moredetailsright">
        		#if( $canviewupload )
	        		#if($moduleid=="librarycollection")
					#set($uploadlink = "$siteroot/$applink/views/modules/asset/add/start.html?collectionid=$entityid&clearotherentities=true")
					#set($oemaxlevel = "1")
					#set($targetdiv = "applicationmaincontent")
					#elseif($moduleid=="faceprofilegroup")
						#set($uploadlink = "")
					#else
						#set($uploadlink = "$siteroot/$applink/views/modules/asset/add/start.html?entitytype=$moduleid&addselection=$entityid&clearotherentities=true")
						#set($oemaxlevel = "1")
						#set($targetdiv = "applicationmaincontent")
					#end
					#if ($uploadlink)
					<a href="$uploadlink" 
						class="ajax moreactions"
						data-targetdivinner="$targetdiv"
						data-closedialog="true" 
						data-closemediaviewer="true"
						data-updateurl="true"
						data-oemaxlevel="$!oemaxlevel"
						title="[[Upload assets here]]">
						<i class="fas fa-upload"></i></a>
					#end
				#end
				
				
				#if($entityassetscount>=1)
				
						#set($targetdivinner = "applicationmaincontent")
						#set($oemaxlevel = "2")
						
							#if($moduleid=="librarycollection")
								#if(!$rootcategory)
									#set($rootcategory = $context.getRequestParameter("rootcategory"))
								#end
								#set($link = "$siteroot$applink/views/modules/librarycollection/media/showcategory.html?nodeID=$rootcategory&clearfilters=true&collectionid=$!librarycol.getId()")
								#set($link = "$!link&sidebarcomponent=categories")
							#end
							
							#if($entityassetscount==1)
								#set($entityassetscounttext = "(${entityassetscount} [[Asset]])")
							#elseif($entityassetscount>1)
								#set($entityassetscounttext = "(${entityassetscount} [[Assets]])")
							#end
							<a href="$link" 
											class="ajax"
											data-oemaxlevel="$!oemaxlevel" 
											data-targetdivinner="$!targetdivinner" 
											data-closedialog="true"
											data-updateurl="true"
											data-closemediaviewer="true"
											title="[[View Media]] $!entityassetscounttext"><i class="fas fa-images"></i></a>
							
							
					#end
				
				
				
	       		$pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$moduleid", $context)
	       	</div>
	        </div>
	        
	       ## <div class="griditem-tools resultsselection">
	       ## <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	       ## </div>
</div>