<div class="masonry-grid" 
data-maxheightX="$!mediaarchive.getCatalogSettingValue('stacked_gallery_imagesize')"
data-maxheight="180" 
data-cellpadding="4"
data-makebox="true"
data-singlepage="true"  >

#set($count = 0)
#set( $viewerlink = $content.get("assetviewerlink") )
#set($stackedfield = $mediaarchive.getCatalogSettingValue("stackedgalleryfield"))

#foreach( $hit in $hits)
	
	$context.putPageValue("hit", $hit)
	#set($asset = $mediaarchive.getAsset($hit.id))
	$context.putPageValue("asset", $asset)
	
	#set($type = $hit.getSearchHit().getType())
	#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
	$context.putPageValue("type", $rendertype)
	
	$context.putPageValue("assetid", $hit.id)
	$context.putPageValue("count", $count )
	$context.putPageValue("sourcepath", $hit.sourcepath )
	$context.putPageValue("thumbsize", "mediumplus" )
	
	#set($sourcepath = $hit.sourcepath)
	#set($assetwidth = $mediaarchive.getRealImageWidth($hit))
	#set($assetheight = $mediaarchive.getRealImageHeight($hit))
	#set($click = "$siteroot$viewerlink?hitssessionid=${hits.getSessionId()}&assetid=${hit.id}")
	#set($isselected = $hits.isSelectedOnPage(${hit.id}) )
       
	<div class="masonry-grid-cell stackedplayer-cell assetdraggable resultsassetcontainer #if($isselected) emrowselected #end" 
		 id="gallerycell_${hit.id}"
		 data-assetid="$hit.id" 
		 data-width="$assetwidth" 
		 data-height="$assetheight">
		<div class="grid-cell-hover"></div>
		<div class="grid-gallery-checkbox resultsselection">
			<input type="checkbox" class="selectionbox" name="count" value="${hit.id}" 
		        	#if($isselected) checked #end data-dataid="${hit.id}" />          
		</div>
	    
	    	    <div class="grid-thumbimage" data-assetid="$!hit.id">
	    	    
	    	    	#if(!$rendertype || $type =="rendertype")
	    	    		#set( $rendertype = "mime" )
	    	    	#elseif( $rendertype =="video")
	    	    		#set( $rendertype = "videothumbnail" )
	    	    	#end

	        	    $pages.include("$componenthome/results/thumbnails/${rendertype}.html", $context)
	        	   	##$pages.include("$componenthome/results/badges.html", $context)
	        	</div>
	    	
	    	 	<div class="grid-caption  #if($rendertype=="default") grid-caption-show #end">
			         <a class="stackedplayer grid-caption-link" id="clickid${hit.id}" data-assetid="$hit.id" href="#">
			         #if($stackedfield)
			         	#set($title = $hit.get($stackedfield))
					 #end
					 #if(!$title)		         	
			         	#if( $hit.assettitle )
				        	#set($title =  $hit.assettitle) 
				        #else 
				        	#set($title = $hit.name) 
				        #end
			         #end
			         
			         $!title

			         </a>  
			        <div class="grid-gallery-footer"> 
			         #if ($hit.assetaddeddate)
			         $!context.getDate($hit.assetaddeddate)
			         #end

	  	        	<div id="assetfavorite-${hit.id}" class="media-info-icons">
			        	 $pages.include("$apphome/views/modules/asset/editor/favorite/index.html", $context)
			   		</div>
	  	        	
	  	        	#if($canquickdownload)
		  	        	#if( $desktop )
				        	<a href="#" class="emdesktopdownload grid-gallery-download" data-assetid="$hit.id" title="[[Download]] $!title">
				        	<i class="fas fa-download"> </i>
				        	</a>
			        	#else
							#set($dlink = $mediaarchive.asLinkToOriginal($hit))
							#set($dlink = "$siteroot/$mediadbappid/services/module/asset/downloads/originals/$dlink?assetid=$!hit.getId()")
							#if($collectionid)
								#set($dlink = "$dlink&collectionid=$!{collectionid}")
							#end
				        	<a href="$dlink" class="grid-gallery-download" data-assetid="$hit.id" title="[[Download]] $!title">
				        	<i class="fas fa-download"> </i>
				        	</a>
			        	#end
			        #end 
		        	</div>
		       </div>
		 
		 
		        	
		  
		</div>
       #set ( $count = $count + 1) 
   
	#end

</div>