#set($type = $hit.getSearchHit().getType())
#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
<div class="emgrid-content emgrid-type-$type emgrid-type-asset-$rendertype resultsassetcontainer">        	 
        	 <h3>
        	 $!hit.name
        	 </h3> 
	        

	        $pages.include("$componenthome/grid/tags.html",$context)
	        
	        <div class="griditem-tools resultsselection">
	        <input type="checkbox" class="selectionbox" name="count" value="" data-dataid="$hit.getId()">
	        </div>
</div>