#if(!$module)
	#set( $module = "asset")
#end
$context.putPageValue("module", $module)

 
#set($nodeID = $context.getRequestParameter("nodeID"))
#if(!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeid"))
#end
#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("category.value"))
	#end
	#if(!$categoryid && $nodeID)
		#set($categoryid = $nodeID)
    #end
    #if(!$categoryid)
        #set($categoryid = "index")
        #set($nodeID = "index")
    #end
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
		#if(!$nodeID)
			#set($nodeID = $categoryid)
		#end
	#end
#else
	#set($categoryid = $category.getId())
#end

##Sidebars
#set( $sidebarcomponent = $userprofile.get("sidebarcomponent"))
#if(!$sidebarcomponent)
	#set( $sidebarcomponent = "")
#end

$context.putPageValue("sidebarcomponent", $sidebarcomponent)

<div id="searchlayout" 
	 class="cols-main #if ($module) cols-$module #end searchlayout2" 
	 data-nodeID="$!nodeID" data-collectionid="$!collectionid" data-module="asset"
	 data-hitssessionid="$!hits.sessionId" data-searchtype="asset" data-hitsperpage="$!hits.hitsPerPage">
	<div id="maincontent" class="col-main col-content-main">
			<div id="emresultscontainer" >
			
		    	$pages.include("$componenthome/results/index.html",$context) 
			</div>		
	</div>
	
	$pages.include("$apphome/components/sidebars/index.html",$context)
	
</div>




