#if($showorder)
	<span data-emdialoglink="$apphome/views/modules/asset/activity/download/listitems.html?orderid=$!{showorder.id}" 
			class="emdialog autoopenemdialog"
			data-hidefooter="true" 
			title="[[Download]]"
			></span>
#end

#if($haspendingorders)
		
		<div id="statusdownloadpending" class="ajaxstatus" ajaxpath="$home$apphome/components/orders/download/ajaxorderstatus.html" period="2000">
			<i class="fas fa-spinner fa-spin"></i>
		</div>
#else

	<i class="fas fa-cloud-download-alt"></i>
#end