<div id="basket-paint" data-href="$home$apphome/components/basket/menuitem.html" class="cart-btn">
	#set($colSize = $orderitems.size() )
	<a  class='btn-topnav ajax position-relative #if($content.section == "basket") btn-cta #end'
		data-targetdiv="applicationmaincontent"  
		data-oemaxlevel="2"
		data-updateurl="true"
		href="$home$apphome/views/basket/index.html" 
		title="#if($colSize > 0)$colSize #if($colSize > 1) [[assets]] #else [[asset]]#end #else [[Cart is Empty]]#end">
		<i class="bi bi-cart-fill"></i>
		#if($colSize > 0)
		<span class="position-absolute rounded-circle bg-secondary text-white text-center" style="top:-6px;right:-6px;min-width: 20px">
			$colSize
		</span>
		#end
		#if($canviewsettings && $pendingorders.size()>0)
			<span class="position-absolute rounded-circle bg-success text-white text-center" style="top:-6px;left:-6px;min-width: 20px">
				$pendingorders.size()
			</span>
		#end
		
	</a>
</div>