$pages.include("$apphome/components/xml/types/select2translations.html",$context)

#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#set($searchfield = $detail.getId() )
#set( $detailid = $detail.getId().replace('.','-') )

##TODO Use $values
#set( $vals = $val.split("\s*\|\s*") )

		##sorted and use a multi-check box with a background showing how many times found	
		#foreach($entry in $filternode.getChildrenByCount() )
			<div class="chartbackground row">
				##<span class="" style="width: ${entry.count}px"></span> 
			<div class="col-4" style="text-align:right;">			
			 ##<input type="checkbox" name="" value="$entry.getId()" #if(  $hits.getSearchQuery().hasTermValue($filternode.id,$entry.getId()) ) selected #end />
			 #set($barwidth = $entry.count*100/10)
			 #esc($entry.getText($context)) 
			 </div>
			 <div class="col">	
				 <a href="" class="filterbar" 
				 		style="width:${barwidth}px;#if( $foreach.count == 1)background-color:#f98f20;#end"> 
				 </a>	${entry.count}
			 </div>
		   </div>
		#end
<!-- 
<select name="${detail.getId()}.value" 
		id="list-${detailid}${idcount}value" 
		multiple="multiple" 
		class="listtags select2-container--bootstrap4 #if($detail.isRequired() && !$multiedit) required #end" 
		data-searchfield="$searchfield"
		data-searchtype="$searcher.getSearchType()" 
		data-listcatalogid="$detail.listCatalogId" 
		data-foreignkeyid="$!detail.foreignkeyid" 
		data-sortby="$!detail.sort" 
		data-placeholder=""
        data-width="100%"
		>
	#foreach($vtag in $vals)
		#if($vtag && $vtag != "")
			<option value="$!vtag" selected="selected">#esc($vtag)</option>
		#end
	#end
	#if( $foundrow )
	  <option value="$!val" selected="selected">#esc($label)</option>
	#end
</select>
 -->