$pages.include("$apphome/components/xml/types/select2translations.html",$context)

#set($idcount = $context.getRequestParameter("idcount"))
#if(!$idcount)
	#set($idcount = "")
#end

#set($searchfield = $detail.getId() )
#set( $detailid = $detail.getId().replace('.','-') )

#set( $input = $modulehits.getInput("description") )


##TODO Use $values
#set( $vals = $val.split("\s*\|\s*") )

		#set( $maxwidth = 100)	
		#foreach($entry in $filternode.getChildrenByCount() )
			<div class="chartbackground row">
				##<span class="" style="width: ${entry.count}px"></span> 
			<div class="col-4" style="text-align:right;">			
			 ##<input type="checkbox" name="" value="$entry.getId()" #if(  $hits.getSearchQuery().hasTermValue($filternode.id,$entry.getId()) ) selected #end />
			 #if( $foreach.count == 1)
			 	#set( $maxwidth = $entry.count  + 0.0)
			 #end
			 #set($barwidth = $entry.count + 0.0 )
			 #set($barwidth = $barwidth /  $maxwidth )
			 #set($barwidth = $barwidth  *  80.0)
				#set($s = $entry.getText($context) )			
				<a href="$apphome/views/topictracker/showreport.html?tag=$s" class="badge badge-light" style="text-align:right; padding-right:10px;"><span>#esc($s)</span></a>
			 
			 </div>
			 <div class="col">	
			 	<a href="$applink/views/modules/$module.id/grid/index.html"  
					data-oemaxlevel="3"
					data-searchtype="modulesearch"
					data-field="description"
					data-operation="contains"
					data-targetdiv="emcontainer" ##searchlayout"
					data-description.value="$s"
			 	 	class="filterbar ajax" style="width:${barwidth}%;#if( $input == $s)background-color:#f98f20;#end"> 
				 </a>	<span>${entry.count}</span>
			 </div>
		   </div>
		#end