.username
{
	min-width: 100px;
	display: table-cell;

}
.usernote
{
	min-width: 200px;
	font-style: italic;
	display: table-cell;
}

.whatsapp
{
	background-color: #eee;
	min-width: 100px;
	display: table-cell;
}