<div id="application" data-user="$user.getId()" data-home="$home" data-apphome="$apphome" data-themeprefix="${themeprefix}" data-browserlanguage="$!{browserlanguage}" data-mediadbappid="$!mediaarchive.getMediaDbId()">

    #if ( $canviewerrors )
		<div id="errordiv"></div>
	#end
	<div id="emcontainer" class=" h-100">
		<div id="emcontent" class=" h-100">
		  <div id="main" class="mainlayoutcontainer h-100">
		       $pages.includeContent()
		  </div>
		  <div class="clearfix"></div>
		</div>
		
	</div>
	

</div>
