<div class="emheader">

	<nav class="navbar navbar-dark bg-dark justify-content-between">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="bi bi-list"></i>
			</span>
		</button>
		
		<a href="#" class="btn-hideoverlay btncloseoverlay" data-targetadiv="blockfindoverlay" data-dismiss="modal" aria-label="Close" style="position:absolute; top:0; right:0;"><i class="fas fa-times"></i></a>
		
		<div class="collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#">[[Dashboard]] <span class="sr-only">([[current]])</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="$siteroot/views/modules/help/helpcenter.html">[[Help]]</a>
			</li>
			</ul>
		</div>
	</nav>
</div>


<div id="header" class="mediacenterheader">
	<div class="pushcontent #if($sidebarcomponent) pushcontent-open pushcontent-$sidebarcomponent #end"
	style="#if($sidebarcomponent && $sidebarwidth) margin-left:${sidebarwidth}px;#end">
	
	<div class="logocontainer">
		<a class="emlogo ajax" href="$!siteroot$apphome/index.html" data-oemaxlevel="4" data-targetdiv="applicationcontainer" title="[[eMediaFinder]]">
			<span><img src="$!siteroot$themeprefix/images/emfinder.png" alt="[[eMediaFinder]]" /></span>
		</a>
	</div>
		
	  #if(!$hidefilters)
	        $pages.include("$apphome/components/gridfilters/header-search.html", $context)
	        ##$pages.include("$apphome/components/gridfilters/filters-selected.html", $context)
	    #end
	</div>
</div>


