<div class="container">
<p>&nbsp;</p>

<h1>FEATURES</h1>

<p>- Media search platform<br />
- Advanced AI<br />
- Store, archive and share multiple formats of media<br />
- Wordpress shared media upload</p>

<div class="benefitsbox-container" style="font-size: 17.6px;">

<table>

<tr>
<td>
<img alt="24/7 Server Monitoring" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/6a/756/Server%20Monitoring.png/Server%20Monitoring.png" style="border-style: none; font-size: 17.6px; text-align: center;" />
</td>
<td class="benefitsbox-text">and meetings
</td>
</tr>

<tr>
<td>
<img alt="24/7 Server Monitoring" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/6a/756/Server%20Monitoring.png/Server%20Monitoring.png" style="border-style: none; font-size: 17.6px; text-align: center;" />
</td>
<td class="benefitsbox-text">and meetings
</td>
</tr>

</table>
<div class="benefitsbox-l">

</div>
<div class="benefitsbox-r">
<div class="benefitsbox-text benefitsbox-text-two-lines">and meetings</div>
</div>
<div class="clearfix">

<div class="benefitsbox-l">
<img alt="99.999% Uptime Gauantee" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/52/fee/Uptime%20Guarantee.png/Uptime%20Guarantee.png" style="border-style: none; font-size: 17.6px; text-align: center;" />
</div>
<div class="benefitsbox-r">
<div class="benefitsbox-text benefitsbox-text-two-lines">and meetings</div>
</div>
<div class="clearfix">

</div>


XXX

<div class="benefitsbox-l">
<div class="benefitsbox-text"><img alt="Secure Data Integrity" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/c0/c9f/Data%20Integrity.png/Data%20Integrity.png" style="font-size: 17.6px; border-style: none; text-align: center;" />Data integrity validation and<br />
multi-level backu</div>

<div class="benefitsbox-text">&nbsp;</div>
</div>

<div class="benefitsbox-l">
<div class="benefitsbox-text">T<img alt="World Class Tech Support" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/a6/6cb/Support.png/Support.png" style="font-size: 17.6px; border-style: none; text-align: center;" /><span style="font-size: 1.2rem;">rack customization &amp; support goals and manage costs with an efficient point-based system</span></div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-l">
<div class="diamond-shape" style="padding-top: 44px;">&nbsp;</div>

<div class="benefitsbox-text benefitsbox-text-two-lines"><img alt="Points based tech support" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/78/c79/Task%20Manager%20(1).png/Task%20Manager%20(1).png" style="font-size: 17.6px; border-style: none; text-align: center;" />R<img alt="Request Tracking" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/e4/bde/Goal%20Tracker.png/Goal%20Tracker.png" style="font-size: 17.6px; border-style: none; text-align: center;" /><span style="font-size: 1.2rem;">eceive up to 300 points in the task manager every month</span></div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape">&nbsp;</div>

<div class="benefitsbox-text  benefitsbox-text-one-line">Points can roll over up to two months</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-l">
<div class="diamond-shape" style="padding: 25px 25px 25px 30px;"><img alt="Email, Chat, and Phone Support" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/cb/6ec/Support%202.1.png/Support%202.1.png" style="border-style: none;" /></div>

<div class="benefitsbox-text benefitsbox-text-two-lines">Request support via email,<br />
chat, or telephone</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape"><img alt="Entermedia Recognized Sponsors" class="img-fluid" src="https://entermediadb.org/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support%20Page/2019/01/74/52a/Sponsor%20Recognition.png/Sponsor%20Recognition.png" style="border-style: none;" /></div>

<div class="benefitsbox-text">Receive recognition on our EnterMedia website as a sponsor</div>
</div>

<div class="clearfix">&nbsp;</div>
</div>

<div class="clearfix" style="font-size: 17.6px;">&nbsp;</div>

<p>&nbsp;</p>
</div>

<div class="container">
<div class="knowledgebar"><big><img alt="File Icon" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/file-icon.png/file-icon.png" /> Were you looking for support documentation? <a href="/knowledge/10/index.html">CLICK HERE</a>&nbsp;to visit our Knowledge Base.</big></div>

<section class="section-highlight">
<div class="section-highlight-gold">
<div class="container-fluid product-sla">
<div class="row">
<div class="col">
<p>&nbsp;</p>

<p><big>We give our customers <strong>continued peace of mind </strong>by ensuring that they receive consistent, top-caliber support throughout the year.</big></p>

<p><big>Through the use of a sophisticated point-based system to track all customization and support requests, we give you <strong>cost-control, efficiency, and transparency</strong> <strong>at all times</strong>.&nbsp;</big></p>

<p>&nbsp;</p>
</div>

<div class="col-md-5" style="text-align:center"><img alt="EM Service Level Agreement" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/be/02b/SLA V2.png/SLA V2.png" style="width: 200px;" /></div>
</div>
</div>
</div>
<!--
<div class="section-highlight-footer">
<div class="row">
<div class="col text-center"><img alt="Harvard and Entermedia Database" class="img-fluid" src="/entermediadb/theme/img/Harvard200px.png" style="float: left; margin: 21px auto; width: 140px;" /></div>

<div class="col-md-9">
<table>
	<tbody>
		<tr>
			<td valign="top"><img alt="Harvard University review of Entermedia" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Cloud%20Hosting/left-quote%20(1).png/left-quote%20(1).png" style="width: 90px; margin-top: 9px; margin-bottom: 9px; " /></td>
			<td style="padding:22px 0 0 20px; font-size:1.1rem;">
			<p>"We felt that EnterMedia offered the most promising solutions to many of our needs, and were very impressed with the level of personal attention and support we received throughout our extended vetting process."</p>

			<p style="text-align:right; font-size:0.85em"><em>—Erick Simms, Educational Programs Manager at<br />
			Harvard University's Center for the Environment.</em></p>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
--></section>

<section class="custom-support">
<div>
<div class="row">
<div class="col-md-6">
<div class="support-text text-right" style="padding-left:216px">
<h3>User Training</h3>

<p>Empower your team through basic or specialized product training for administrators and developers.</p>
</div>
</div>

<div class="col-md-6"><img alt="User Training" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/54/85d/Devoted V2.png/Devoted V2.png" /></div>
</div>

<div class="row">
<div class="col-md-6" style="text-align:right;"><img alt="Custom Workflows" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/a7/5c5/Secure V2.png/Secure V2.png" /></div>

<div class="col-md-6">
<div class="support-text" style="padding-right:216px">
<h3>Custom Workflows</h3>

<p>Open-source means unlimited asset management possibilities. Work with our experts to automate manual processes, assign retention rules, set up metadata templates, configure asset approval, set status-based tasks... the sky's the limit!</p>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div class="support-text  text-right" style="padding-left:216px">
<h3>Create New Features</h3>

<p>Collaborate with our product experts and software architects to enhance existing features and build new ones. Together, we can create the best digital asset management solution out there.</p>
</div>
</div>

<div class="col-md-6"><img alt="Product Personalization" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/53/bc7/Agile V2.png/Agile V2.png" /></div>
</div>
</div>
</section>
<a name="pricing"></a>

<section class="section-highlight">
<div class="section-highlight-gold">
<div class="container">
<h2 style="text-align:center; margin:0; padding:0;">Support Pricing</h2>

<div class="section-price">
<div class="supporttitle" style="width:33%;">
<h3>Free Support Portal <span class="supportitleprice">Free</span></h3>
</div>

<div class="supportplancontent">
<p>Online chat with our Level 1 support team and ask basic product questions. Get pricing estimates for custom requirements. Schedule status meetings to get to know one another. Access to EnterMedia collaboration app for Android and iOS.</p>
</div>

<div class="supporttitle" style="width:66%;">
<h3>Gold Product Support and SLA <span class="supportitleprice">$650/month</span></h3>
</div>

<div class="supportplancontent">
<div class="row">
<div class="col-sm-6">
<p>EnterMedia uses a points based support system to track all the steps that go into supporting your site and customizations. Tracking points helps our clients control their costs by having pre-determined the costs per task.</p>
</div>

<div class="col-sm-6">
<p><span style="font-size: 0.9rem;">✓ 24/7 server monitoring</span><br />
<span style="font-size: 0.9rem;">✓ 99.999% uptime guarantee</span><br />
<span style="font-size: 0.9rem;">✓ Unlimited Level 1 technical support, customer service, and customer care</span><br />
<span style="font-size: 14.4px; background-color: rgb(241, 241, 241);">✓Apply upgrades</span><br />
<span style="font-size: 0.9rem;">✓ Up to 300 points worth of Level 2 server administration, troubleshooting, training and advanced customization. (First come first serve)</span></p>

<p><br />
<br />
&nbsp;</p>
</div>
</div>
</div>

<div class="supporttitle" style="width:100%;">
<h3>Advanced Developer Tasks <span class="supportitleprice">$1000/3 tasks</span></h3>
</div>

<div class="supportplancontent">
<div class="row">
<div class="col-sm-6">
<p>We can help add new features or consult with our team of product architects to fully understand the diverse array of features.</p>
</div>

<div class="col-sm-6">
<p>✓ Level 3 advanced tasks and customization<br />
✓ New Features or integrations<br />
✓ Remote end user training sessions<br />
✓ Product changes<br />
✓ Cost starts at $1000 for three half day programming sessions<br />
✓ Most simple features can be created in a single sessions<br />
✓ Can be used within a year</p>
</div>
</div>
</div>
</div>

<div class="support-getstarted">
<div style="text-align:center; margin-bottom:0.3rem;"><a class="btn btn-primary homepage-btn" href="/contact-us.html" title="Try out the EnterMedia Database today">GET STARTED FOR FREE</a></div>
</div>
</div>
</div>
</section>
</div>

<div class="container-fluid">
<section>
<h2 style="text-align:center">Support Package Specifications&nbsp;</h2>

<div class="benefitsbox-container">
<div class="benefitsbox-l">
<div class="diamond-shape"><img alt="24/7 Server Monitoring" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/6a/756/Server Monitoring.png/Server Monitoring.png" /></div>

<div class="benefitsbox-text benefitsbox-text-one-line">24/7 server monitoring</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape" style="padding-top:33px;"><img alt="99.999% Uptime Gauantee" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/52/fee/Uptime Guarantee.png/Uptime Guarantee.png" /></div>

<div class="benefitsbox-text benefitsbox-text-one-line">99.999% uptime guarantee</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-l">
<div class="diamond-shape"><img alt="Secure Data Integrity" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/c0/c9f/Data Integrity.png/Data Integrity.png" /></div>

<div class="benefitsbox-text">Data integrity validation and<br />
multi-level backups</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape"><img alt="World Class Tech Support" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/a6/6cb/Support.png/Support.png" /></div>

<div class="benefitsbox-text">High-quality technical support, customer service, and customer care</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-l">
<div class="diamond-shape"><img alt="Points based tech support" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/78/c79/Task Manager (1).png/Task Manager (1).png" /></div>

<div class="benefitsbox-text">Track customization &amp; support goals and manage costs with an efficient point-based system</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape" style="padding-top:44px;"><img alt="Request Tracking" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/e4/bde/Goal Tracker.png/Goal Tracker.png" /></div>

<div class="benefitsbox-text benefitsbox-text-two-lines">Track multiple goals such as new features, training, code changes,<br />
and meetings</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-l">
<div class="diamond-shape" style="padding-top:44px;"><img alt="Points for Tasks and Requests" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/8c/dbd/Point-Based System.png/Point-Based System.png" /></div>

<div class="benefitsbox-text benefitsbox-text-two-lines">Receive up to 300 points in the task manager every month</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape"><img alt="Rollover Points" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/92/cbf/Point Rollover.png/Point Rollover.png" /></div>

<div class="benefitsbox-text  benefitsbox-text-one-line">Points can roll over up to two months</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-l">
<div class="diamond-shape" style="padding:25px 25px 25px 30px;"><img alt="Email, Chat, and Phone Support" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/cb/6ec/Support 2.1.png/Support 2.1.png" /></div>

<div class="benefitsbox-text benefitsbox-text-two-lines">Request support via email,<br />
chat, or telephone</div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="benefitsbox-r">
<div class="diamond-shape"><img alt="Entermedia Recognized Sponsors" class="img-fluid" src="/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/74/52a/Sponsor Recognition.png/Sponsor Recognition.png" /></div>

<div class="benefitsbox-text">Receive recognition on our EnterMedia website as a sponsor</div>
</div>

<div class="clearfix">&nbsp;</div>
</div>

<div class="clearfix">&nbsp;</div>
</section>
</div>

<div class="container">
<section class="section-highlight">
<div class="section-highlight-gold">
<div class="support-getstarted"><span class="support-small">Try our service before agreeing to anything. No strings attached!</span></div>

<p style="text-align:center"><a class="btn btn-primary homepage-btn" href="/contact-us.html" title="Try out the EnterMedia Database today">GET STARTED FOR FREE</a></p>
</div>
</section>
</div>
