##Tempfix for cdn
#set( $cdn = $mediaarchive.getCatalogSettingValue("cdn_prefix"))
$context.putPageValue("cdn", $cdn)


<div id="hiddenoverlay" style="background-color: #444; position:absolute; z-index: 9000;">
<div id="emmodalinner" style="margin:20px; position:relative;	">
	
	$pages.include("/${applicationid}/theme/layouts/includes.html", $context)
	#if($content.usemap == "true")
		$pages.include("$apphome/components/map/includes.html", $context)
	#end
	
	$pages.streamContent()
</div>	
</div>