##fix module vs moduleid
#if($module)
	#if($module.id)
		#set($moduleid = $module.id)
	#else
		#set($moduleid = $module)
	#end
#end
$context.putPageValue("moduleid", $moduleid)

#set($nodeID = $context.getRequestParameter("nodeID"))
#if(!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeid"))
#end
#if(!$category)
	#set($categoryid = $context.getRequestParameter("categoryid"))
	#if(!$categoryid)
		#set($categoryid = $context.getRequestParameter("category.value"))
	#end
	#if(!$categoryid && $nodeID)
		#set($categoryid = $nodeID)
    #end
	#if($categoryid)
		#set($category = $mediaarchive.getData("category",$categoryid))
		#if($category)
			$context.putPageValue("category",$category)
		#end
		#if(!$nodeID)
			#set($nodeID = $categoryid)
		#end
	#end
#else
	#set($categoryid = $category.getId())
#end

<div id="searchlayout" 
	 class="searchlayout2  col-main-inner" 
	 data-nodeID="$!nodeID" data-collectionid="$!collectionid" data-module="asset"
	 data-hitssessionid="$!hits.sessionId" data-searchtype="asset" data-hitsperpage="$!hits.hitsPerPage">
	 	
	$pages.streamContent()
						
</div>
