<div class="col-sidebar-header">
#if( !$module)
	#set( $selectedmodule = $context.getRequestParameter("selectedmodule") )
	#if( $selectedmodule)
		#set( $module = $mediaarchive.getData("module",$selectedmodule))  ##not working due to ajax load. Fix one day, low priority
	#end
#end
		<h2>
		[[Data Entity Manager]] 
		</h2>
		<a href="#"
		title="[[Hide Search Sidebar]]"
		class="sidebar-toggler sidebar-toggler-hide"
		data-action="hide" 
		data-targetdiv="col-sidebars">
		<i class="fas fa-angle-double-left closebar"></i>
		</a>
	</div>
<div style="padding:5px">
<ul class="sidebar-list auto-active-container">
	#set( $urlbase = "$siteroot$applink/views/modules" )
		<li #if( $module.id == "asset") class="current" #end> <a class=" ajax TODOautocloseside" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3" data-hidefooter="true" 
		href="$urlbase/asset/add/start.html">Upload Media</a></li>

	#foreach ( $amodule in $userprofile.getEntities() )
		#if( $amodule.id != "asset")
		<li >
		<a class=" ajax TODOautocloseside auto-active-link" data-targetdivinner="applicationmaincontent" data-oemaxlevel="1" data-updateurl="true" data-hidefooter="true" 
		href="$urlbase/${amodule.id}/index.html?field=sidebarcomponent&sidebarcomponent.value=addentity">$amodule</a></li>
		#end	
	#end
</ul>
</div>




