<div class="col-sidebar-header">
		<h2>
		[[Add New]] 
				<a href="#"
					title="[[Hide Search Sidebar]]"
					class="sidebar-toggler sidebar-toggler-hide"
					data-action="hide" 
					data-targetdiv="col-sidebars"
					data-modulesearchhitssessionid="$modulehits.sessionId"
					data-sidebar="filters">
					<i class="fas fa-angle-double-left closebar"></i>
				</a>
		</h2>
						<a href="#"
					title="[[Resize Sidebar]]"
					class="sidebar-toggler sidebar-toggler-resize"
					data-sidebar="mainsidebar">
					<i class="fas fa-arrows-alt-h "></i>
				</a>

	</div>

<div >
	#set( $urlbase = "$home$applink/views/modules" )
		<div> <a class="dropdown-item TODOautocloseside" data-hidefooter="true" 
		href="$urlbase/asset/add/start.html">Upload Media</a></div>

	#foreach ( $amodule in $userprofile.getEntities() )
		<div> <a class="dropdown-item emdialog TODOautocloseside" data-hidefooter="true" 
		href="$urlbase/${amodule.id}/edit/addnewdialog.html?field=last_selected_module&last_selected_module.value=${amodule.id}">$amodule</a></div>
	#end
</div>
	
	<div class="clearfix"></div>




