#ifnull($resultsLink)
	#set($searchhome = "$home$apphome/components/table")
#end
##Set max position pages
#set($positionsmaxpages = $context.getRequestParameter("positionsmaxpages"))
#if($positionsmaxpages)
	$hits.setMaxPageListing($positionsmaxpages)
#end
#set($resultsLink = "$resultsLink?hitssessionid=$hits.sessionId&searchtype=$hits.getSearchType()&hitsperpage=$!hits.hitsPerPage&oemaxlevel=1&positionsmaxpages=$!positionsmaxpages")
#set($resultsPage = "$resultsLink&pageposition")

#set($targetdivinner = $targetdivtablepostions)
#ifnull($targetdivinner)
	#set($targetdivinner = "resultsdiv")
#end

#set($total = $hits.getTotalPages() )


#set($updateurl = "false")

#if($resultsPage && $total > 1)
		<li class="resultpages" style="padding-top:1px;">
		 <ul>
			#set( $befores = $hits.linksBefore() )
			#if(!$befores.isEmpty() && $befores.get(0)>1)
				<li><a class="ajax"  data-updateurl="$updateurl" href="$resultsPage=$total" >$total</a></li>	
			    <li class="ellipsis">...</li>
			#end
			#foreach( $before in $befores )
				#set( $pos = $hits.toPosition($before) )
				<li><a class="ajax" data-updateurl="$updateurl"  href="$resultsPage=$pos" >$pos</a></li>		
			#end
			#set($pos = $hits.toPosition($hits.getPage()))
			<li class="current"><a  class="ajax" data-updateurl="$updateurl" href="$resultsPage=$pos" >$pos</a></li>
			#set( $afters = $hits.linksAfter() )
			#foreach( $after in $afters )
				#set( $pos = $hits.toPosition($after) )
				<li><a  class="ajax" data-updateurl="$updateurl" data-oemaxlevel="$oemaxlevel" href="$resultsPage=$pos">$pos</a></li>		
			#end
			#set($size=${afters.size()})
			#set( $size = $size - 1 )
			#if($size>0  )
				#if ($afters.get($size)< $hits.getTotalPages() )
					<li class="ellipsis">...</li>
					#if($hits.size() < 9999)
                      <li><a  class="ajax" data-updateurl="$updateurl" data-oemaxlevel="$oemaxlevel" href="$resultsPage=1" >1</a></li>	
                     #end
				#end
			#end
			#if( $hits.prevPage() )
				<li class="pagenav"><a class="ajax"  data-updateurl="$updateurl" href="$resultsPage=$hits.toPosition($hits.prevPage())" title="Previous ( alt p enter)" accesskey="p" ><span class="fas fa-caret-left overlay-nav gocaret"></span></a></li>
			#end
			#if ( $hits.nextPage() )
				<li class="pagenav"><a id="next" class="ajax" data-updateurl="$updateurl" data-oemaxlevel="$oemaxlevel"  href="$resultsPage=$hits.toPosition($hits.nextPage())" title="Next (alt n enter)" accesskey="n"><span class="fas fa-caret-right overlay-nav gocaret"></span></a></li>
			#end
		</ul>
	 </li>
##	 <li class="textheader">
##			<span class="text">#if($total > 1) [[of]] $total [[pages]]#else [[page]]#end  </span>
##	</li>	

#end
	
	 
	 	