#set( $subentitysearchtype = $context.getRequestParameter("searchtype"))
#ifnull($subentitysearchtype)
	#set( $subentitysearchtype = $module.getId())
#end
#set( $submodule = $mediaarchive.getCachedData("module", $subentitysearchtype))
$context.putPageValue("module", $submodule)

#set($componenthome = "$applink/views/modules/$!{subentitysearchtype}/components")
$context.putPageValue("componenthome", $componenthome)

#set($topmoduleid =  $context.getRequestParameter("topmoduleid"))

#set( $parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#ifnull($parentsearchtype)
	#set( $parentsearchtype = $topmoduleid)
#end

$context.putPageValue("topmoduleid", $parentsearchtype)

#ifnull($entityid)
#set( $entityid = $context.getRequestParameter("entityid"))
#end
#ifnull($entityid)
#set( $entityid = $context.getRequestParameter("parentid"))
#end


#set( $fieldexternalid = $context.getRequestParameter("fieldexternalid"))
#set( $fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))
$context.putPageValue("fieldexternalid", $fieldexternalid)
$context.putPageValue("fieldexternalvalue", $fieldexternalvalue)

#set( $viewid = $context.getRequestParameter("viewid"))
#set( $viewpath = "${parentsearchtype}/${viewid}")
$context.putPageValue("viewid", $!viewid )
$context.putPageValue("viewpath", $!viewpath)

#set($tabid = "tab_${viewid}")
#set($submoduleresults = "results$!{viewid}")
$context.putPageValue("submoduleresults", $submoduleresults)

#set($hitsname = $context.getRequestParameter("${searchtype}hitsname"))
#if($hitsname)
	#set($hits = $context.getPageValue($hitsname))
#else
	#set($hits = $subtablehits)
#end
$context.putPageValue("hits", $hits)
$context.putPageValue("tablehits", $hits)

#set($tabletype = "subentity")
$context.putPageValue("tabletype", $tabletype)

<div id="$!submoduleresults" class="submodulepicker">
	<div class="entity-ction-header">
		<h3 class="m-0 mr-auto align-items-center">
			#set($moduleicon = "box")
			#ifnotnull($submodule.moduleicon)
				#set($moduleicon = $submodule.moduleicon)
			#end	
			<i class="bi bi-$moduleicon module-icon" style="font-size: 0.8em;;"></i> 
			#text($submodule) <small>($hits.size())</small>
		</h3>
		
		#if($permissions.can($topmoduleid, "edit"))
			#if($permissions.can($!submodule.getId() , "create"))

				#set($pickerurl= "$applink/views/modules/$!{subentitysearchtype}/components/entities/search/searchpicker.html")
				<a href="$pickerurl" 
					class="emdialog btn btn-lg btn-accent light px-3 py-2"
					data-dialogid="entitypicker"
					data-width="1200"
					data-entityid="$!{entityid}"
					data-topmodule="$!{topmoduleid}"
					data-fieldexternalid = '$!{fieldexternalid}'
					data-fieldexternalvalue = '$!{fieldexternalvalue}'
					data-entitymodule="$!{subentitysearchtype}"
					data-pickertarget="$!{tabid}"
					data-targettype="entitypickersubmodule"
					data-pickersearchaddnew="true"
					data-hidefooter="true"
					title="[[Create or Choose Existing]] #text($entity)"><i class="bi bi-plus-lg mr-2"></i> [[Add Existing]]</a>
					
					#set($pickerurl = "$!{componenthome}/entities/csvupload/picker.html")
					<a href="$pickerurl" 
					class="emdialog btn btn-lg btn-accent light px-3 py-2"
					data-dialogid="entitypicker"
					data-width="1200"
					data-entityid="$entity.id"
					data-topmodule="${topmoduleid}"
					data-fieldexternalid = '$fieldexternalid'
					data-fieldexternalvalue = '$fieldexternalvalue'
					data-entitymodule="$!{subentitysearchtype}"
					data-pickertarget="$tabid"
					data-targettype="entitypickersubmodule"
					data-pickersearchaddnew="true"
					data-hidefooter="true"
					title="[[Upload]]"><i class="bi bi-upload mr-2"></i> [[Upload Spreadsheet]]</a>	

					#set($pickerurl = "$!{componenthome}/entities/ai/input.html")
					<a href="$pickerurl" 
					class="emdialog btn btn-lg btn-accent light px-3 py-2"
					data-dialogid="entitypicker"
					data-width="600"
					data-entityid="$entity.id"
					data-topmodule="${topmoduleid}"
					data-fieldexternalid = '$fieldexternalid'
					data-fieldexternalvalue = '$fieldexternalvalue'
					data-entitymodule="$!{subentitysearchtype}"
					data-pickertarget="$tabid"
					data-targettype="entitypickersubmodule"
					data-pickersearchaddnew="true"
					data-hidefooter="true"
					title="[[Create New]] #text($submodule) [[With AI]]"><i class="bi bi-brush mr-2"></i> [[Create With AI]]</a>	
					
					#set($pickerurl = "$!{componenthome}/entities/renderdita/input.html")
					<a href="$pickerurl" 
					class="emdialog btn btn-lg btn-accent light px-3 py-2"
					data-dialogid="entitypicker"
					data-width="800"
					data-entityid="$entity.id"
					data-topmodule="${topmoduleid}"
					data-fieldexternalid = '$fieldexternalid'
					data-fieldexternalvalue = '$fieldexternalvalue'
					data-entitymodule="$!{subentitysearchtype}"
					data-pickertarget="$tabid"
					data-targettype="entitypickersubmodule"
					data-pickersearchaddnew="true"
					data-hidefooter="true"
					title="[[Create New Dita Rendering]]"><i class="bi bi-file-break mr-2"></i> [[Render]]</a>	
			#end
		#end
	</div>
		
	#if( $hits && $hits.size() > 0 )		
			#set($total = $hits.getTotalPages() )
				
			#set($maintargetdiv = "$!{moduleid}resultscontainer")
			$context.putPageValue("maintargetdiv", $maintargetdiv)
			
			<div class="d-flex">
				<div class="emresultstable flex-grow-1">
					
					<div id="$!maintargetdiv"
						class="resultsdiv moduleajaxreloadtarget adjustHeight"
						data-searchtype="$!searchtype"
						data-moduleid="$!moduleid"
						data-parentsearchtype="$!parentsearchtype"
						data-topmoduleid="$!topmoduleid"
						data-fieldexternalid = '$fieldexternalid'
						data-fieldexternalvalue = '$fieldexternalvalue'
						data-hitssessionid="$!hits.getSessionId()"
						data-url="$apphome/views/modules/$!{topmoduleid}/index.html"
						data-componenthome = "$!componenthome"
						data-searchhome="$!home$!componenthome/results"
						data-targetdiv="tab_$!{viewid}"
						data-tabletype="$!tabletype"
						data-tabid="$!{tabid}"
						data-viewid="$!{viewid}"
						data-viewpath="$!{viewpath}"
						data-entityid="$!{entityid}"
						
						#if($topentityid) data-topentityid="$topentityid" #end
						data-oemaxlevel="1"	>	
								
						$pages.include("$!{componenthome}/results/types/table.html",$context)
						
	
					</div>
	
					
				</div>
				$context.putPageValue("targetdivsearch","results$!{viewid}")
				$context.putPageValue("resultslink", $resultsLink)
				$context.putPageValue("idprefix","entitysearch")
				$pages.include("$!{componenthome}/sidebars/filters/index.html", $context)
			</div>

	#else
		#set($addnew = "$!{componenthome}/entities/addnew.html")
		<div class="w-100 text-center mt-5">
			<p class="text-muted">[[No]] #text($module) [[created yet]]</p>
			<a class="resultsnavlinkaddnew emdialog rounded"
			data-dialogid="entitypickeraddnew"
			data-hidefooter="true"
			data-targetdivinner="pickersearchentities"
			data-ajaxreloadtargets="onetomanytab"
			data-fieldexternalid="$!fieldexternalid"
			data-fieldexternalvalue="$!fieldexternalvalue"
			href="$addnew"
			title="[[Create New]] #text($entity)">
			<i class="bi bi-plus-lg mr-1"></i> [[Create New]]</a>
		
			#if($tabletype == "subentity")
				#set($entity = $mediaarchive.getCachedData("module", $searchtype))	
				<div id="resultsdiv$!{entity.getId()}"></div>
			#end
		</div>
	#end
</div>
