
#set( $searchtype = $context.getRequestParameter("searchtype"))
#set( $parentsearchtype = $context.getRequestParameter("parentsearchtype"))

#ifnull($topmoduleid)
	#set($topmoduleid = $parentsearchtype)
#end
$context.putPageValue("topmoduleid", $topmoduleid)

#set( $topmodule = $mediaarchive.getCachedData("module", $topmoduleid))

#set( $parentviewid = $context.getRequestParameter("parentviewid"))
#if($parentviewid)
	#set( $viewid = $parentviewid)
	#set( $viewpath = "${parentsearchtype}/${viewid}")
#else
	#set( $viewid = $context.getRequestParameter("viewid"))
	#set( $viewpath = $context.getRequestParameter("viewpath"))
	#if( !$viewpath )
		#set( $viewpath = "${searchtype}/${viewid}")
	#end
		
#end

#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set( $viewdata = $viewsearcher.searchById($viewid))
#set( $subentitysearchtype = $viewdata.rendertable )
#set( $submodule = $mediaarchive.getCachedData("module", $subentitysearchtype))

#set($tabid = "tab_${viewid}")

#set( $fieldexternalid = $context.getRequestParameter("fieldexternalid"))
$context.putPageValue("fieldexternalid", $fieldexternalid)
#set( $fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))
$context.putPageValue("fieldexternalvalue", $fieldexternalvalue)

#set( $tabletype = "subentity")
$context.putPageValue("tabletype", $tabletype)

#set($sortable = "sortable")

#set( $targetrendertype = $context.getRequestParameter("targetrendertype"))
$context.putPageValue("targetdivtablepositions", $targetdivtablepositions)

#set($clickurl = $context.getRequestParameter("clickurl"))
#set($clickurltargetdiv = $context.getRequestParameter("clickurltargetdiv"))
#set($clickurloemaxlevel = $context.getRequestParameter("clickurloemaxlevel"))

#set($emselectableform = $context.getRequestParameter("emselectableform"))

#set($hitsname = $context.getRequestParameter("${searchtype}hitsname"))
#if($hitsname)
	#set($hits = $context.getPageValue($hitsname))
#else
	#set($hits = $subtablehits)
#end

$context.putPageValue("tablehits", $hits)

$context.putPageValue("moduleid", $!submodule.getId() )
$context.putPageValue("module", $!submodule )

$context.putPageValue("viewid", $!viewid )
$context.putPageValue("viewpath", $!viewpath)

#set($details = $mediaarchive.getSearcher($subentitysearchtype).getDetailsForView($viewpath, $userprofile))
$context.putPageValue("details", $!details)
#if(!$details)
	[[No view defined]]: $viewpath
	#stop
#end

#set( $xmledithome = "$componenthome/xml")
#set( $candelete = $context.getRequestParameter("candelete"))
#ifnull($candelete)
	#if($permissions.can($topmoduleid, "edit"))
		#set($candelete = true)
	#end
#end



#set($submoduleresults = "results$!{viewid}")
<div id="$!submoduleresults" class="submodulepicker">
	#set($entity = $mediaarchive.getCachedData("module", $searchtype))
	$context.putPageValue("entity", $entity)
	#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
	<div class="d-flex mb-2">
		<h3 class="m-0  flex-grow-1">
			#set($moduleicon = "box")
			#ifnotnull($entity.moduleicon)
				#set($moduleicon = $entity.moduleicon)
			#end	
			<i class="bi bi-$moduleicon module-icon" style="font-size: 0.8em;;"></i> 
			#text($entity) <small>($hits.size())</small>
		</h3>
		#if($permissions.can($topmoduleid, "edit"))
			#if($permissions.can($!submodule.getId() , "create"))
				
				#set($pickerurl= "$applink/views/modules/$!{subentitysearchtype}/components/entities/search/searchpicker.html")
				<a href="$pickerurl" 
					class="emdialog btn btn-lg btn-accent light px-3 py-2"
					data-dialogid="entitypicker"
					data-width="1200"
					data-fieldexternalid = '$fieldexternalid'
					data-fieldexternalvalue = '$fieldexternalvalue'
					data-entitymodule="$!{subentitysearchtype}"
					data-pickertarget="$tabid"
					data-targettype="entitypickersubmodule"
					data-pickersearchaddnew="true"
					data-hidefooter="true"
					title="[[Create or Choose Existing]] #text($entity)"><i class="bi bi-search mr-2"></i> [[Add Existing]]</a>
					
				#set($addnew = "$apphome/views/modules/${moduleid}/components/entities/csvupload/picker.html")
					<a class="btn btn-lg btn-accent rounded mb-3 ajax float-right" style="min-width: 150px;"
					data-targetdivinner="pickersearchentities"
					data-pickertarget="$!pickertarget"
					data-targettype="$!targettype"
					data-ajaxreloadtargets="onetomanytab"
					data-fieldexternalid="$!fieldexternalid"
					data-fieldexternalvalue="$!fieldexternalvalue"
					data-oemaxlevel="1"
					href="$addnew">
					<i class="bi bi-plus-lg mr-1"></i> [[Upload CSV/XLS]]</a>					
								
									#set($addnew = "$apphome/views/modules/${moduleid}/components/entities/csvupload/picker.html")
					<a class="btn btn-lg btn-accent rounded mb-3 ajax float-right" style="min-width: 150px;"
					data-targetdivinner="pickersearchentities"
					data-pickertarget="$!pickertarget"
					data-targettype="$!targettype"
					data-ajaxreloadtargets="onetomanytab"
					data-fieldexternalid="$!fieldexternalid"
					data-fieldexternalvalue="$!fieldexternalvalue"
					data-oemaxlevel="1"
					href="$addnew">
					<i class="bi bi-plus-lg mr-1"></i> [[Create Question With AI]]</a>					
	
									#set($addnew = "$apphome/views/modules/${moduleid}/components/entities/csvupload/picker.html")
					<a class="btn btn-lg btn-accent rounded mb-3 ajax float-right" style="min-width: 150px;"
					data-targetdivinner="pickersearchentities"
					data-pickertarget="$!pickertarget"
					data-targettype="$!targettype"
					data-ajaxreloadtargets="onetomanytab"
					data-fieldexternalid="$!fieldexternalid"
					data-fieldexternalvalue="$!fieldexternalvalue"
					data-oemaxlevel="1"
					href="$addnew">
					<i class="bi bi-plus-lg mr-1"></i> [[Render DITA MAP]]</a>							
			#end
		#end
	</div>
	
	#if( $hits && $hits.size() > 0 )		
			#set($total = $hits.getTotalPages() )
			
			$context.putPageValue("hits", $hits)
				
			#set($maintargetdiv = "$!{moduleid}resultscontainer")
			$context.putPageValue("maintargetdiv", $maintargetdiv)
			
			<div class="d-flex">
				<div class="emresultstable flex-grow-1">
					<div id="$maintargetdiv"
						class="resultsdiv moduleajaxreloadtarget adjustHeight"
						data-moduleid="$topmodule.getId()"
						data-hitssessionid="$!hits.getSessionId()"
						data-url="$apphome/views/modules/$!{module.id}/index.html"
						data-componenthome = "$!componenthome"
						data-searchhome="$!home$!componenthome/results"
						data-targetdiv="$maintargetdiv"
						data-tabletype="$!{tabletype}"
						#if($topentityid) data-topentityid="$topentityid" #end
						data-oemaxlevel="1"	>	
								
						$pages.include("/$applicationid/views/modules/$!subentitysearchtype/components/results/types/table.html",$context)
						
	
					</div>
	
					
				</div>
				$context.putPageValue("targetdivsearch","results$!{viewid}")
				$context.putPageValue("resultslink", $resultsLink)
				$context.putPageValue("idprefix","entitysearch")
				$pages.include("$apphome/components/sidebars/filters/index.html", $context)
		</div>
	
	
		
		#if( !$hits || $hits.size() == 0 )
			<p class="info">[[No records found]]</p>
		#end
	
	#else
	
		#set($addnew = "$!{siteroot}${apphome}/views/modules/${moduleid}/components/entities/addnew.html")
		<a class="resultsnavlinkaddnew emdialog"
		data-dialogid="entitypickeraddnew"
		data-hidefooter="true"
		data-targetdivinner="pickersearchentities"
		data-ajaxreloadtargets="onetomanytab"
		data-fieldexternalid="$!fieldexternalid"
		data-fieldexternalvalue="$!fieldexternalvalue"
		href="$addnew"
		title="[[Create New]] #text($entity)">
		<i class="bi bi-plus-lg mr-1"></i> [[Create New]]</a>
	
		#if($tabletype == "subentity")
			#set($entity = $mediaarchive.getCachedData("module", $searchtype))	
			<div id="resultsdiv$!{entity.getId()}"></div>
		#end
	#end
</div>
