<div id="userdownloadlist" class="col-sidebar-header ajaxstatusxx" data-ajaxpath="$applink/components/sidebars/userdownloads/index.html" >
#set($recentdownloads = $mediaarchive.query("userdownloads").exact("user",$user.getId()).sort("dateDown").search($context))
		<h2>
		[[Downloads]] ($recentdownloads.size()) 
				<a href="#"
					title="[[Hide Search Sidebar]]"
					class="sidebar-toggler sidebar-toggler-hide"
					data-action="hide" 
					data-targetdiv="col-sidebars"
					data-modulesearchhitssessionid="$modulehits.sessionId"
					data-sidebar="filters">
					<i class="fas fa-angle-double-left closebar"></i>
				</a>
		</h2>
						<a href="#"
					title="[[Resize Sidebar]]"
					class="sidebar-toggler sidebar-toggler-resize"
					data-sidebar="mainsidebar">
					<i class="fas fa-arrows-alt-h "></i>
				</a>
<ul class="sidebar-list">
#set($recentdownloads = $mediaarchive.query("userdownloads").exact("user",$user.getId()).sort("dateDown").search($context))

	#foreach ( $download in $recentdownloads )
		<li> 
		
		#if( $desktop && $download.isdownloadcomplete )
			<a href="#" class="emdesktopopen" data-userdownloadid="$download.id" >
		#end		
		##$context.getDateTime($download.getDate("date")) 
		#if( $download.assetid)
			#set( $asset = $mediaarchive.getAsset($download.assetid))
			#set ($mime = $mediaarchive.getMimeTypeIcon($asset.fileformat))
			<!-- #set( $thumbpath =  "$themeprefix/images/mimetypes/${mime}.png" ) -->
			#set( $thumbpath = $mediaarchive.asLinkToPreview($asset, "image200x200.jpg"))
			<img class="mimethumb" style="height:64px" src="$!cdn$home$thumbpath" border="0"/>
			$asset.getName()
		#else
			#set( $cat = $mediaarchive.getCategory($download.categoryid))
			<i class="fas fa-folder-open"></i>
			$cat.getName()			
		#end		
		#if( $desktop && $download.isdownloadcomplete )
			</a>
		#end		
	
		</li>
	#end
</ul>
	<div class="clearfix"></div>

</div>
	