<div id="userdownloadlist" 
	class="reloaduserdownloadlist" 
	data-url="$siteroot$applink/components/sidebars/userdownloads/index.html"
	data-targetdiv="userdownloadlist">
	<div class="col-sidebar-header">
		<h2>[[Download Queue]]</h2>
		<a href="#"
			title="[[Hide Downloads Sidebar]]"
			class="sidebar-toggler sidebar-toggler-hide"
			data-action="hide" 
			data-targetdiv="col-sidebars">
			<i class="bi bi-chevron-left closebar"></i>
		</a>	
	</div>
	
	<div id="targetmodulecontainerdownloads" class="col-sidebar-scroll domdatacontext" data-onlyassets="true">
		$pages.include("/$applicationid/components/orders/download/recentorders.html",$context)		
	</div>
</div>