#set( $nodeID = $context.getRequestParameter("nodeID"))
#set( $searcher = $mediaarchive.getSearcher("category") )
#set( $results = $searcher.query().exact("parents",$nodeID).sort("categorypathUp").search($context) )
#set( $action = $context.getRequestParameter("pickedcategoryaction") )

$context.putPageValue("hits",$results)
$context.putPageValue("searcher",$searcher)
#set ($details = $searcher.getDetailsForView("category/searchcategory", $userprofile))
	<form id="autosubmitfilter" 
			name="autosubmitfilter" 
			class="autosubmit" 
			autocomplete="off"  
			data-targetdiv="categoryresults" 
			action="$siteroot$apphome/components/categories/search/searchpath.html"
			>
		<input type="hidden" name="searchtype" value="category" />
		<input type="hidden" name="sortby" value="categorypathUp" />
		<input type="hidden" name="field" value="parents" />
		<input type="hidden" name="operation" value="exact" />
		<input type="hidden" name="parents.value" id="parentfilter" value="$nodeID" />
		<div class="emsearchfieldrow">
			<div id="detail_categorypath" align="left" class="emsearchfieldvalue">
				<input name="field" value="finder/catalog:$view:categorypath" type="hidden">
				<input name="operation" value="contains" type="hidden">
				<input type="text" class="form-control detail_categorypath textinput autosubmited " 
						placeholder="[[Search Categories]]" value="" id="categorypath.value" name="categorypath.value">
			</div>
		</div>
	</form>
	
	#if($action)
		#set($targetresults = $action)
	#end
	#if(!$targetresults)
		#set($targetresults = "$siteroot$apphome/views/modules/asset/showcategory.html")
	#end
	
	#if(!$targetdiv)
		#set($targetdiv = "applicationcontent")
	#end


	<form class="pickedcategoryform ajaxform #if($action) autoclose #end" 
			action="$targetresults" 
			data-targetdivinner="$targetdiv" 
			data-oemaxlevel="3"
			>
		
		$pages.include("$apphome/components/categories/search/searchpath.html", $context)
		
		#if($action)
			##Searching from Media Viewer
			#set( $assetid = $context.getRequestParameter("assetid") )
			<input name="assetid"  type="hidden" value="$assetid" />
			<input name="detailid"  type="hidden" value="categoryid" />
		#end
		
		<input name="categoryid" class="emselectedrow" type="hidden" id="selectedcategories" value="$!selectedcategories" />
		<input name="nodeID" class="emselectedrow" type="hidden" />
	</form>


<div style="padding:20px 0; text-align:right;">
	<a href="" class="btn btn-sm btn-secondary" data-dismiss="modal">[[Cancel]]</a>
</div>
