
$context.putPageValue("hits",$orderassets)
$context.putPageValue("hidefilters",true)

#set($module = $searcherManager.getCachedData($catalogid, "module", $moduleid ) )

<div id="searchplugin" class="modules-layout">
  <div id="collectionbasket">
	  
	  <div class="category-breadcrumb bookmark-breadcrumb #if($searchcategory) category-breadcrumb-tall #end">
	<div class="d-flex">
		<h5 class="mr-auto p-0 m-0 pl-3">
			<i class="bi bi-cart-fill"></i> [[Cart]] #if($orderitems.size() >0)<span class="text-secondary">($orderitems.size())</span>#end
		</h5>
    </div>
    </div>
    
    #if($orderitems.size() >0 )
      $context.putPageValue("resultstargetdiv","collectionbasket")
      $context.putPageValue("resultsPage","$siteroot$apphome/views/basket/index.html")
      $context.putPageValue("hideresultstypes","hideresultstypes")
      <div id="basketassetlist" 
			class="editdiv basketassetlist heightExcludingHeaderFooter" 
			data-oemaxlevel="1"
			data-targetdiv="resultsdiv"
		>
      $pages.include("$searchhome/index.html",$context)
      </div>
    #else
      <p style="padding:20px;">[[No Items in Cart]]</p>
    #end
  </div>
</div> 