#set( $fieldname = $detail.getId() )
<input type="checkbox" 
	name="${fieldname}.value" 
	id="$!{idprefix}${fieldname}_val"
	class='#if($hits.getSearchQuery().hasTermValue($detail.id,"true"))filtercheck#end' 
	data-fieldtype="boolean"
	data-fieldname="${fieldname}"
	value="true" #if( $hits.getSearchQuery().hasTermValue($detail.id,"true") ) checked #end />
<label for="$!{idprefix}${fieldname}_val"> [[True]] </label>

<input type="checkbox" 
	name="${fieldname}.value" 
	id="$!{idprefix}${fieldname}_val_f"
	class='#if($hits.getSearchQuery().hasTermValue($detail.id,"false"))filtercheck#end' 
	data-fieldtype="boolean"
	data-fieldname="${fieldname}"
	value="false" #if( $hits.getSearchQuery().hasTermValue($detail.id,"false") ) checked #end />
<label for="$!{idprefix}${fieldname}_val_f"> [[False]] </label>
