
#set($searchfield = $detail.getId() )
#if($filternode)
	#set( $viewpermission = $context.getPageValue("canviewfilter${type.getId()}") )
	#ifnull($viewpermission)
		#set( $viewpermission = true)
	#end
	
	#ifnotnull($filternode)
		#set($values = $filternode.children)
	#end

	#if( $viewpermission )
		#set( $fieldname = $detail.getId() )
		#foreach($entry in $values)
			#if($foreach.count<=10)
				<div class="d-flex align-items-start">
					##<a class="addfilter #if ($first) filter-current #end" data-filtertype="$filternode.getId()" data-filtervalue="$entry.getId()" data-filterlabel="$entry.getText($context)" href="#" title="($entry.count)">
					##<i class="fas  #if ($first) fa-check-square #else fa-square #end"></i>
					<input style="margin-top:4px" class="filtercheck filtercheck${fieldname}" data-fieldname="${fieldname}" type="checkbox" name="${fieldname}.value" id="$entry.getId()${fieldname}_val" value="$entry.getId()" #if( $hits.getSearchQuery().hasTermValue($filternode.id,$entry.getId()) ) checked #end />
					<label for="$entry.getId()${fieldname}_val" class="ml-1">$entry.getText($context) #if( $entry.count > 0)($entry.count)#end</label>
					##</a>
				</div>
			#end
		#end
		#if ($values.size() > 10)
		<select id="${fieldname}select2" 
				name="${fieldname}.value" 
				class="listautocomplete choose-select detail-select form-control" 
				listid="${fieldname}filter" 
				data-listid="${fieldname}filter" 
				data-searchtype= '$detail.getListId()'
				data-searchfield="name"
				data-allowclear="false">
			<option value=""></option>
		</select>
		#end
	#end  ##permission
#end
