
#set( $pickertaget = $context.getRequestParameter("pickertarget") )

<div class="bg-white shadow-sm dita-ai-tabcontent">

  <div class="w-100 my-2">
    <form name="save" class="ajaxform d-flex flex-column align-items-center" data-targetdiv="importdone" action="$componenthome/publish/ditatopics/create.html">
      <input type="hidden" name="importtype" value="dita" />
      <input type="hidden" name="moduleid" value="${module.id}" />
      <input type="hidden" name="entityid" value="${entity.id}" />

	<input type="hidden" name="entityid" value="$entity.getId()"/>
	<input type="hidden" name="pickertarget" value='$context.getRequestParameter("pickertarget")'/>
	<input type="hidden" name="fieldexternalid" value='$context.getRequestParameter("fieldexternalid")'/>
	<input type="hidden" name="fieldexternalvalue" value='$context.getRequestParameter("fieldexternalvalue")'/>
	<input type="hidden" name="targettype" value='$context.getRequestParameter("targettype")'/>
	<input type="hidden" name="onetomanytab" value='$context.getRequestParameter("onetomanytab")'/>

       <div class="d-flex flex-column align-items-center mb-3">
        <label for="aiInstruction" class="mb-1">Extra Instructions: </label>
        <div style="width: 400px;">
          <textarea name="ai-extrainstructions" id="aiInstruction" class="form-control rounded" rows="8">$!entity.extrainstructions</textarea>
        </div>
       </div> 

      <button class="input-group-text btn-accent px-3 ml-2" type="submit" for="inputGroupDITA">Create</button>

    </form>
    <div id="importdone"></div>
  </div>
</div>