.creator-preview {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-width: 1000px;
	margin: 0 auto;
}
.creator-preview a {
	color: rgb(0, 143, 213);
}
.creator-preview h1 {
	font-family:
		"Merriweather", "Roboto Slab", Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	line-height: 1.3;
	color: #4d4d4d;
	margin: 16px 0;
}
.creator-preview .headline h1,
.creator-preview .headline p {
	font-size: 32px;
}
.creator-preview p {
	margin-top: 24px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #454545;
	line-height: 24px;
}
.creator-preview .lead p {
	background-color: #f2f2f2;
	padding: 2rem;
	font-weight: 600;
	font-size: 1rem;
	box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
}
.creator-preview .publisheddate p {
	color: #4d4d4d;
	font-family:
		"Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.3;
	box-sizing: border-box;
	display: inline-block;
}
.creator-preview .asset-content {
	width: 590px;
	max-width: 100%;
	margin: 0 auto;
}
.creator-preview .featureimage .asset-content {
	width: 100%;
}
.creator-preview .imageleft .asset-content {
	margin: 0 auto 0 0;
}
.creator-preview .imageright .asset-content {
	margin: 0 0 0 auto;
}
.creator-preview .asset-content p.caption {
	color: rgb(69, 69, 69);
	text-align: center;
	font-size: 16px;
	margin: 0;
}
.creator-preview .featureimage .asset-content p.caption {
	font-size: 12px;
	text-align: left;
}
.creator-section-preview.body .creator-content-preview {
	max-width: 790px;
	margin: 0 auto;
}
