.emdetailsbox {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 260px;
}
#emcontainer .emdetailactions a {
	display: block;
	text-decoration: none;
}
#emcontainer .emdetailactions a img {
	vertical-align: top;
}
#emcontainer .emdetailactions a:hover {
	display: block;
	text-decoration: none;
}
.emdetailvotes {
	line-height: 20px;
}
.emdetailvotes img {
	vertical-align: middle;
}
.emdetaildownload img {
	vertical-align: middle;
}
#emcommentarea {
	padding-top: 10px;
}
#emcontainer #emcomments {
	padding-left: 9px;
}
#emcontainer .emcomment {
	margin-bottom: 5px;
	display: table;
	padding: 5px;
}
#emcontainer .emcommentuser {
	font-weight: bold;
}
#emcontainer .emcommentdate {
	display: block;
	color: #888888;
}
.emtabs li {
	float: left;
	margin-left: 5px;
	position: relative;
	margin-top: 0px;
	overflow: hidden;
}
.emtabs li a {
	padding: 4px 8px;
	display: block;
}
.emtabs li a:hover {
	text-decoration: none;
}
.emtabs li.emtab a {
	padding: 5px 25px 5px 5px;
}
.emtabs li.emtabselected {
	border-bottom: 0 none;
}
.emtabs li.emtabselected a {
	text-decoration: none;
}
.emtabs li.ui-state-default a {
	padding-right: 5px;
}
@media (max-width: 1024px) {
	.emtabs li a {
		padding: 4px 4px;
	}
	.emtabs li {
		margin-left: 0px;
	}
}
#emcontent .tab-container {
	border: 1px solid #a3c8d4;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
	margin: -1px 10px 10px 10px;
	padding: 0 0 15px 0;
}
#mainimageholder {
	padding: 8px;
	position: relative;
	margin: 4px;
	height: calc(100% - 8px);
	width: calc(100% - 8px);
	overflow: hidden;
	text-align: center;
	-ms-touch-action: none;
	touch-action: none;
}
#footerholder {
	color: #eee;
}
#download-select {
	opacity: 1;
}
.media-namecard {
	background: #444;
	height: 30px;
	color: #fff;
	border-bottom: var(--1px-dark);
}
.lighttheme .media-namecard {
	border-bottom: var(--1px-light);
}
#assettabnavs {
	display: flex;
	justify-content: space-between;
	margin: 0;
	height: 36px;
	width: 100%;
	background: var(--themed-tab-bar);
	border-bottom: 1px solid var(--themed-tab-btn-hover);
}
#assettabnavs a.favorite-star {
	width: 56px;
}
#assettabnavs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li.assettabnav {
	font-size: 0.9rem;
	color: var(--themed-tab-btn-text);
	height: 35px;
	font-weight: normal;
	float: left;
	display: block;
	border-right: 1px solid var(--themed-tab-btn-hover);
	background: var(--themed-tab-btn);
}
.assetcaretnav {
	border-right: 1px solid var(--themed-tab-btn-hover);
}
.lighttheme #assettabnavs
{
	background: var(--secondary-bg);	
}
.lighttheme .assetcaretnav,
.lighttheme li.assettabnav,
 {
	border-color: var(--light-border);
	background: var(--themed-nav-btn);
}

#assettabnavs li.assettabnav a {
	color: var(--themed-tab-btn-text);
	line-height: 35px;
}
#assettabnavs .gotoarrows {
	font-size: 1.4rem;
	line-height: 35px;
	padding: 0 2px;
	cursor: pointer;
}
#assettabnavs .goleftclick {
	padding: 0 4px;
}
#assettabnavs .gorightclick {
	padding: 0 4px;
}
#assettabnavs .gotoarrows {
	pointer-events: none;
	color: var(--muted-text);
}
#assettabnavs .gotoarrows.arrowenabled {
	pointer-events: all;
}
#assettabnavs .gotoarrows.arrowenabled:hover {
	color: #dfdfdf;
}
.lighttheme #assettabnavs .gotoarrows.arrowenabled:hover {
	color: var(--default-text);
}
#assettabnavs li a {
	color: #fff;
	display: block;
	line-height: 33px;
}
#assettabnavs .expandmenu {
	padding: 0 10px;
}
@media (min-width: 992px) {
	#assettabnavs .expandmenu,
	#assettabnavs .favorite-star {
		padding: 0 20px;
	}
}
#assettabnavs li.assettabnav .assetpreview {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	max-width: 170px;
}
#assettabnavs .dropdown-menu a {
	padding: 2px 12px;
	font-size: 0.9rem;
	border-bottom: var(--1px-dark);
	background: var(--themed-tab-btn);
}
.lighttheme #assettabnavs .dropdown-menu a {
	border-color: var(--light-border);
}
#assettabnavs .dropdown-menu li:last-child a {
	border-bottom: none;
}
#assettabnavs .dropdown-menu a:hover,
#assettabnavs .dropdown-submenu:hover > a,
#assettabnavs .dropdown-menu a.dropdown-current,
#assettabnavs .dropdown-menu a.dropdown-item-active {
	background: var(--themed-tab-btn-hover);
	text-decoration: none;
}
#assettabnavs .dropdown-menu {
	z-index: 21000;
	border-radius: 0;
	margin: 0;
}
.assetcaretnav {
	display: flex;
	align-items: center;
	margin: 0 2px 0 0;
}
#assettabnavs .goleftclick,
#assettabnavs .gorightclick {
	display: inline-block;
}
#assettabnavs a:hover,
#assettabnavs li.assettabnav:hover,
#assettabnavs li.assettabnav:hover a.dropdown-toggle {
	background: var(--themed-tab-btn-hover);
}
.lighttheme #assettabnavs a:hover,
.lighttheme #assettabnavs li.assettabnav:hover a.dropdown-toggle {
	background-color: var(--themed-tab-btn-active-hover);
}
#assettabnavs li.tabselected,
#assettabnavs li.tabselected:hover {
	background: var(--themed-tab-btn-active) !important;
}
.lighttheme #assettabnavs li.tabselected {
	height: calc(100% + 1px);
}
#assettabnavs li.tabselected a {
	text-decoration: none;
	color: var(--themed-tab-btn-active-text);
	font-weight: bold;
}
#assettabnavs li.tabselected a:hover {
	color: var(--themed-tab-btn-active-text);
}
#assettabnavs .gotoarrows.arrowenabled {
	color: #fff;
}
.lighttheme #assettabnavs .gotoarrows.arrowenabled {
	color: var(--default-text);
}

#assettabnavs .entityclose {
	width: 26px;
	height: 26px;
	margin: 5px;
}

.assettabnav {
	cursor: pointer;
	text-align: center;
}
.assettab {
	cursor: pointer;
}
.media-presets {
	padding-top: 10px;
}
.media-presets-sidebar {
	background: #e1e1e1;
	height: 100%;
	margin-bottom: 15px;
}
.media-presets-sidebar h3 {
	color: #ccc;
	padding: 6px 10px;
	background: #333;
	text-transform: uppercase;
	font-size: 1.1rem;
	margin: 0;
}
.media-presets-sidebar-content {
	padding: 10px;
	color: #333;
}
.mediapreset {
	background: #bebebe;
	border: 2px solid #bebebe;
	width: 220px;
	height: 220px;
	text-align: center;
	line-height: 1;
	float: left;
	margin: 0 6px 6px 0;
	color: #333;
}
.mediapreset:hover {
	border: 2px solid #333;
	background: #d1d1d1;
}
.mediapresetselected {
	border: 2px solid #333;
	background: #e1e1e1;
}
.mediapreset a.mediapresetcontainer {
	display: blocK;
	padding: 10px 10px 10px;
}
.mediapreset-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	padding: 10px 5px;
}
.mediapreset-image {
	height: 155px;
	overflow: hidden;
}
.mediapreset-image img {
	border: 2px solid #ccc;
	max-width: 170px;
	max-height: 150px;
}
.mediapreset .mediapreset-actions a {
	opacity: 0.2;
	margin-right: 5px;
}
.mediapreset:hover .mediapreset-actions a {
	opacity: 1;
}
.mediapreset .mediapreset-actions a .fas {
	font-weight: 600;
}
.embedcopytext textarea {
	visibility: hidden;
}
.croptool-maincol {
	float: left;
	max-width: 820px;
}
.croptool-sidebar {
	float: left;
	margin-left: 10px;
	width: 300px;
	padding-bottom: 20px;
}
@media (min-width: 1200px) {
	.croptool-maincol {
		max-width: 820px;
	}
	.croptool-sidebar {
		width: 325px;
		overflow: hidden;
	}
}
@media (min-width: 1680px) {
	.croptool-maincol {
		max-width: 1040px;
	}
	.croptool-sidebar {
		width: 430px;
	}
	.media-presets-sidebar-content {
		padding: 13px;
	}
}
@media (min-width: 1900px) {
	.croptool-maincol {
		max-width: 1240px;
	}
	.croptool-sidebar {
		width: 580px;
	}
	.media-presets-sidebar-content {
		padding: 15px;
	}
}
.assetpanel-container {
	position: relative;
	display: flex;
	flex-flow: column;
	height: 100%;
	background: var(--dark-bg);
}
.lighttheme .assetpanel-container {
	background: var(--light-bg);
}
.assetpanel-sidebar {
	position: fixed;
	top: 0;
	left: -80%;
	display: block !important;
	width: 80%;
	height: 100%;
	background: #333;
}
.assetpanel-content {
	padding: 15px 10px 15px 15px;
	min-height: 200px;
	height: 100%;
	background: #d3d3d3;
}
.assetpanel-content-inside {
	height: 100%;
	width: 100%;
}
.assetpanel-content-label {
	color: #efefef;
	line-height: 2;
	padding: 5px;
}
.assetpanel-content-breadcrumb {
	color: #ddd;
	font-size: 1.3rem;
	margin-bottom: 15px;
}
.assetpanel-content-breadcrumb a {
	color: #efefef;
}
.assetpanel-content-breadcrumb a:hover {
	color: #fff;
}
@media (min-width: 992px) {
	.assetpanel-sidebar {
		position: absolute;
		left: 0;
		top: 0;
		width: 190px;
	}
	.assetpanel-content {
		min-height: 200px;
		overflow: hidden;
		background: #222;
	}
	.assetpanel-content-chatterbox {
		min-height: 200px;
		height: calc(100% - 20px);
		overflow: hidden;
	}
}
.assetpanel-header {
	display: table-row;
	height: 155px;
	margin-top: 10px;
}
.assetpanel-header .media-player-mini {
	background: #565656;
}
.assetpanel-header .media-player-mini .col-thumb {
	max-width: 280px;
}
.assetpanel-editor {
	height: 100%;
}
.assetpanel-editortitle {
	min-height: 45px;
	overflow: hidden;
}
.assetpanel-editortitle h2 {
	margin: 0;
}
.assetpanel-editorinner {
	position: relative;
	overflow-y: auto;
	height: calc(100% - 45px);
}
.assetpanel-editor .languagesadd a,
.assetpanel-editor .languagesadd a:hover {
	color: #fff;
}
.asset-editor-actions-container {
	height: 100%;
}
.em2tabs-tab-content {
	height: calc(100% - 40px);
}
.assetpanel-content-chatterbox {
	padding: 0 0 20px;
	height: 100%;
	width: 100%;
	display: table;
}
.editor-panel {
	margin: 0 !important;
}
.assetpanel-editor .tab-details {
	color: #ffffff;
	background: var(--dark-bg);
	border-left: 1px solid var(--black-border);
}
.lighttheme .assetpanel-editor .tab-details {
	color: var(--default-text);
	border-color: var(--light-border);
	background: var(--light-bg);
}
.asset-data-readwritemetadata {
	background: var(--themed-tab-bar);
	border-left: 1px solid var(--black-border);
}
.lighttheme .asset-data-readwritemetadata {
	color: var(--muted-text);
	background: var(--light-bg);
	border-color: var(--light-border);
}
.emdatafieldvalue
	.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice,
.entity-metadata
	.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice,
.emfield-entity
	.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	color: #333;
}
.asset-details-editor .edit-panel-generic {
	margin-bottom: 40px;
	padding-bottom: 5px;
}
.assetpanel-editor-header {
	display: flex;
}
.assetpanel-editor h4 {
	padding: 30px 12px 12px;
	/* text-transform: uppercase; */
	font-size: 0.95rem;
	font-weight: bold;
	margin-top: 0px;
}
.assetpanel-editor .asseteditlog {
	padding: 30px 6px 12px;
	font-weight: normal;
	font-size: 0.85rem;
}
.assetpanel-editor-actions {
	padding: 10px;
}
.editor-data-detail {
	margin-bottom: 15px;
}
.col-emdatafield {
	padding: 0 5px 0 10px;
}
.asset-details-editor .emdatafield {
	font-weight: 600;
	color: #aaa;
	display: block;
	font-size: 0.9rem;
	padding: 0;
	text-align: right;
}
.entitiesinfputform .emdatafield {
	font-weight: 600;
	color: #333;
	margin-bottom: 0.3rem;
	display: block;
	font-size: 0.9rem;
	line-height: 1.2;
	padding: 0;
}
.asset-data-preview .emdatafieldvalue {
	color: #ffffff;
	font-size: 1rem;
	line-height: 1.4;
	word-wrap: break-word;
}
.lighttheme .asset-data-preview .emdatafieldvalue {
	color: var(--default-text);
}
.entitiesinputform .emdatafieldvalue {
	color: #000;
	font-size: 1rem;
	line-height: 1.2;
	word-wrap: break-word;
}
.asset-data-preview .emdatafieldvaluelanguages {
	padding-bottom: 10px;
}
.asset-data-preview .emdatafieldvaluelocale {
	color: #aaa;
	font-size: 0.9rem;
}
.emsearchfield {
	font-weight: 600;
}
.emdatafieldvalue .stackedplayer {
	color: var(--default-text);
	display: block;
}
.emdatafieldvalue .render-type-thumbnail {
	display: inline-block;
}
.asset-data-preview .emdatafieldvalue .badge-tags {
	text-decoration: none;
}
.resultstablecell .badge-tags {
	word-break: break-all;
	padding: 0.3em 0.4em;
}
.assetpanel-editor .emdatafieldvalue-readonly,
.emdatafield-faceprofiles .emdatafieldvalue {
	border-radius: 0;
	padding: 0.075rem 0.5rem;
	font-size: 1rem;
	line-height: 1.3;
	/* background: #393939; */
	color: #aaa;
	min-height: 30px;
}
.lighttheme .emdatafield-faceprofiles .emdatafieldvalue {
	border: var(--1px-light);
}
.emdatafield-faceprofiles .emdatafieldvalue,
.emdatafield-faceprofiles .emdatafieldvalue-readonly {
	padding: 0.275rem 0.5rem;
	line-height: 1;
}
.entity-wraper-embedded .entitymetadatapreview .emdatafield {
	width: 110px;
	float: left;
	text-align: right;
	padding: 2px 10px 2px 0;
}
.entity-wraper-embedded .entitymetadatapreview .emdatafieldvalue-readonly {
	margin-left: 120px;
}
.entity-wraper-embedded
	.entitymetadatapreview
	.entitiesinfputform
	.emdatafieldvalue {
	margin-bottom: 15px;
}
.emdatafieldurl {
	color: royalblue;
	text-decoration-style: dotted;
}
.emdatafieldurl:hover {
	color: royalblue;
	text-decoration: underline;
}
.entity-value-list {
	width: 100%;
	margin: 0;
	padding: 0 0 0px 0px;
	list-style: none;
}
.entity-value-list li {
	margin: 0 0 4px;
}
.entity-value-list li a,
.asset-faceprofiles a {
	text-decoration: none;
	color: #28a745;
}

.field-cat-category a,
.editentitymetadata-submodule .field-cat-category a {
	color: #28a745;
	text-decoration: underline;
	font-weight: 600;
	font-size: 0.9rem;
	padding: 2px 0;
	display: inline-block;
}
.field-cat-category a:hover,
.entity-value-list li a:hover,
.editentitymetadata-submodule .field-cat-category a:hover,
.asset-faceprofiles a:hover {
	text-decoration: underline;
}
.asset-faceprofiles a {
	padding: 8px 12px;
}
.entity-value-list li a.removeentity {
	color: #000;
}
#edit-faceprofiles li a.entityupdateurl {
	color: #fff;
	background-color: #378637;
	padding: 2px 6px;
	border-radius: 4px;
}
#edit-faceprofiles li a.entityupdateurl:hover {
	text-decoration: none;
}
#edit-faceprofiles li a.entityremoveurl {
	color: #fff;
	margin-left: 8px;
}
.entitycategoryactions {
	margin-bottom: 8px;
	width: 300px;
}
.entitycategoryactions a {
	font-size: 0.7rem;
	float: left;
	margin-right: 5px;
}
.emdata .entitycategoryactions,
.emdata .entitycategoryactions a {
	float: right;
}
.emdatafieldvalue {
	margin-bottom: 5px;
}
.emdatafieldvalue-boolean {
	margin: 12px 0;
}
.asset-detail-editor .emfield-scroll {
	padding: 5px 0 5px 10px;
}
.fields-editor label.error {
	padding-top: 0;
}
.fields-editor .form-control.error {
	border: 1px solid red;
}
.assetpanel-editor .btns {
	padding: 15px 0;
}
.fields-editor .emdatafieldvalue .form-control:focus {
	box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.15);
	border-color: #ccc;
}
.assetpanel-editor .emlist a {
	color: #ffffff;
	text-decoration: none;
}
.lighttheme .assetpanel-editor .emlist a {
	color: var(--muted-text);
}
.assetpanel-editor .emlist a:hover {
	text-decoration: underline;
}
.folder-list-actions {
	padding: 0 0 20px;
	float: left;
}
.removefieldassetvalue {
	color: #ffffff;
	background-color: #888888;
	position: absolute;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 12px;
	font-size: 1rem;
	opacity: 0.75;
	transition: opacity 0.2s ease-in-out;
}
.removefieldassetvalue:hover {
	opacity: 1;
	color: #ffffff;
	background-color: #fd7474;
}
.conversionsmainpreview-audio {
	padding: 40px 10px 20px;
}
.conversionsmainpreview-audio .conversionassetfilename {
	padding-top: 15px;
	font-size: 0.9rem;
}
.emlist {
	padding: 0;
	color: var(--muted-text);
	border-top: 1px solid var(--black-border);
	border-bottom: 1px solid var(--black-border);
}
.lighttheme .emlist {
	border: var(--1px-light);
}
.emlist .list-row {
	padding-top: 7px;
	padding-bottom: 7px;
	list-style: none;
	position: relative;
}
.emlist .list-row:hover {
	background: rgba(0, 0, 0, 0.05);
}
.emlist .list-row .category,
.field-cat-category {
	padding-left: 27px;
	padding-top: 0px;
	background: url("../../images/folder-closed.png") 6px 3px no-repeat;
	margin: 0 10px 0 0;
	position: relative;
}
.emlist .list-row .cat-category {
	background: url("../../images/folder-closed.png") 6px 4px no-repeat;
}
.emlist .list-row .cat-collection {
	background: url("../../images/folder-collection-closed.png") 6px 4px no-repeat;
}
.list-delete {
	position: absolute;
	right: 8px;
	top: 8px;
	display: none;
}
.list-row:hover .list-delete {
	display: inline-block;
}
.cat-list .list-row .asset {
	padding-left: 18px;
	padding-top: 10px;
	background: url("../../images/attachments-icon.png") left 7px no-repeat;
	margin: 0 3px;
}
.summarytab .list-library,
.summarytab .list-collection {
	display: block;
	background: url(../../images/folder-collection-closed.png) 6px 4px no-repeat;
	padding-left: 26px;
	line-height: 1.8;
	text-decoration: none;
}
.summarytab .list-library i,
.summarytab .list-collection i {
	margin-right: 8px;
}
.summarytab .media-player-mini {
	margin: 0 20px 20px 0;
}
.summarytab .emthumbholder {
	min-height: 150px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.tab-details {
	height: calc(100% - 36px);
	overflow-y: auto;
}
.tab-details .asset-data-readwritemetadata {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 36px;
	border-top: 1px solid #555;
}
.asset-data-readwritemetadata a {
	color: #ffffff;
	font-size: 0.8rem;
	display: inline-block;
	padding: 8px 12px;
	border-right: 1px solid var(--themed-tab-btn-hover);
}
.lighttheme .asset-data-readwritemetadata a {
	color: var(--muted-text);
	border-right: var(--1px-light);
}
.asset-data-readwritemetadata a:hover {
	color: #ddd;
	text-decoration: none;
}
@keyframes slideUp {
	0% {
		top: 100%;
		transform: translateY(0);
	}
	100% {
		top: 50%;
		transform: translateY(-50%);
	}
}
.alert-save-top {
	width: 40%;
	top: 10px;
	bottom: inherit;
	padding: 10px;
	position: absolute;
	text-align: center;
	margin: auto;
	right: 0;
	left: 0;
	z-index: 25000;
}
.alert-save-top-sticky {
	position: stiky;
	width: 600px;
	margin: 0 auto;
}
.assetpanel-chatterbox-header {
	display: table-row;
	height: 50px;
	padding: 0 20px;
}
.tab-pane {
	position: relative;
	height: 100%;
}
.assetpanel-chatterbox-card {
	height: 100%;
	display: table-cell;
}
.chatterbox-container {
	height: 100%;
	width: 100%;
	display: table;
	padding: 0;
}
.assetpanel-chatterbox {
	display: table-row;
}
.chatterbox-body {
	display: table-row;
	background: #fff;
}
.chatterbox-inputarea {
	height: 36px;
	display: table-row;
}
.chatterbox-body-inside {
	overflow-y: auto;
	height: 100%;
	padding: 10px 20px;
}
.chatterbox-inputarea-inside {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	position: relative;
}
.chatterbox-message-list .alert {
	padding: 0.5rem 0.75rem;
}
.chatterbox-message-list .message-time {
	font-size: 0.7rem;
}
.chatterbox-inputarea-inside .chatter-text {
	padding: 0.2rem 0.75rem;
}
.table-conversions td {
	height: 52px;
}
.conversionerrortext {
	max-width: 360px;
	margin: 5px 0;
	word-break: break-all;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	color: #666;
}
.assetpanel-sidebar-ontop {
	position: fixed;
	top: 0;
	left: 0 !important;
	z-index: 1;
	display: block !important;
	width: 40%;
	height: 100%;
}
.assetpanel-document {
	height: 100%;
}
.assetpanel-document .assetpanel-content {
	color: #fff;
	text-align: center;
	margin-left: 190px;
}
.mvshowpages-toggle {
	display: none;
	top: 0;
	left: 0;
	z-index: 1;
	background: #333;
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	color: #666;
	padding: 5px;
	width: 100%;
	height: 30px;
	text-align: right;
}
.mvshowpages-toggle:hover {
	color: #fff;
}
.assetpanel-sidebar-ontop .mvshowpages-toggle {
	display: block;
}
.mvshowpages {
	padding: 0 14px 0 8px;
	color: #ccc !important;
}
.mvjumpto {
	display: none;
}
.next-pages a,
.mvjumpto a {
	color: #bbb;
}
.next-pages a:hover,
.mvjumpto a:hover {
	color: #fff;
}
@media (min-width: 992px) {
	.assetpanel-sidebar {
		position: absolute;
		left: 0;
		width: 190px;
	}
	.assetpanel-content {
		margin-left: 190px;
		min-height: 200px;
		overflow: hidden;
	}
	.assetpanel-sidebar-hidden {
		left: -80%;
	}
	.assetpanel-content-full {
		margin: 0;
	}
	.mvshowpages-toggle {
		display: block;
	}
	.assetpanel-content-chatterbox {
		min-height: 200px;
		height: calc(100% - 20px);
		overflow: hidden;
	}
	li.assettabnav.mvshowpagestab {
		display: none;
	}
	.mvjumpto {
		display: block;
	}
}
.iframelinktextarea,
.embedlinktextarea {
	margin-top: 5px;
	width: 100%;
}
.media-player {
	text-align: center;
}
.media-player .media-info {
	text-align: center;
	padding: 5px;
	font-size: 90%;
}
.media-info .media-info-primary {
	word-wrap: break-word;
	overflow: hidden;
}
.media-player-mini {
	text-align: center;
	margin-bottom: 20px;
	height: 100%;
	overflow: hidden;
	background: var(--dark-bg);
}
.lighttheme .media-player-mini {
	background: var(--light-bg);
}
/* .lighttheme #photoEditorColumn { 
	background: var(--light-bg);
 } */
.media-player-mini-links a:not(.btn) {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	line-height: 32px;
	padding: 0 8px;
}
.media-player-mini-links a:not(.btn):hover {
	color: #fff;
	text-decoration: none;
}
.media-info-icons {
	display: inline-block;
}
.media-player-mini .jp-audio {
	width: 400px;
}
.media-player-mini .jp-audio.mini {
	width: 110px;
}
.media-player-mini .media-thumbnail {
	text-align: center;
	padding: 20px 10px 10px;
	height: calc(100% - 50px);
}
.media-player-mini .media-thumbnail .emthumbholder {
	height: 100%;
	max-height: 100%;
}
.media-player-mini .media-thumbnail .emthumbholder .img-fluid {
	max-height: 100%;
}
.media-player-mini .media-info {
	text-align: left;
	padding: 10px;
	font-size: 90%;
}
.media-player-mini .media-info strong {
	font-size: 110%;
}
.media-player-mini .media-info-more {
	border-top: 1px solid #666;
	padding-top: 10px;
	margin-top: 10px;
}
.media-player-mini .media-info-more p {
	margin-bottom: 5px;
}
.media-likes {
	padding-right: 15px;
	display: inline-block;
}
.media-likes .liked {
	color: #fff;
}
.media-player-mini .audio-thumb-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.playerarea {
	height: 100%;
}
.playerarea span.emdropshadow {
	padding: 0px;
	background: transparent;
	display: block;
	flex: 1;
	min-width: 40px;
	min-height: 40px;
}
.playerarea a.imageplayer {
	flex: 1;
}
.playerarea .player-outer {
	height: 100%;
}
.playerarea .player {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: #000;
}
.player .video-js {
	margin: 1rem auto;
	width: 100%;
	height: 100%;
}
/* @media (min-width: 1480px) {
	.player .video-js {
		width: 80%;
	}
} */
.jp-time-holder {
	display: block;
	visibility: visible;
	font-size: 10px;
	width: 100px;
	height: 16px;
	float: left;
	position: relative;
	top: 5px;
	left: 32px;
}
.mini .jp-time-holder {
	top: 1px;
	left: 33px;
}
.jp-time-holder {
	color: #333;
}
.assetpanel-container .jp-time-holder,
.media-player-mini .media-thumbnail .jp-time-holder {
	color: #ddd;
}
.assetpanel-container-preview .jp-audio.mini {
	width: 600px;
}
.videothumb {
	height: 100%;
}
.assethistorytabs {
	background: var(--light-bg);
	color: var(--default-text);
	height: calc(100% - 42px);
	overflow-y: auto;
}
.logtabledate {
	width: 210px;
}
