.photo-editor-container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.photo-selection-column {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
}
.photo-selection-column h2 {
  background-color: #262e40;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 14px 8px 8px 8px;
}
.photo-selection-column .selection-images {
  overflow-y: scroll;
  background-color: #262e40;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: #8090b3 #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar-track {
  background-color: #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar-thumb {
  background-color: #8090b3;
}
.selection-images .thumb {
  padding: 8px 8px 2px 8px;
  color: white;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s ease-in;
}
.selection-images .thumb:first-child {
  margin-top: 0;
}
.selection-images .thumb:hover {
  background: #4d5d80;
}
.selection-images .thumb.selected {
  outline: 2px #4d5d80 solid;
  background: #4d5d80;
}

.selection-images .thumb a {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d5d80;
  box-shadow: 0 0 2px #333e55;
  z-index: 100;
  transform: translateY(-16px);
  opacity: 0;
  transition: all 0.2s ease-in;
}
.selection-images .thumb:hover a {
  opacity: 1;
  transform: translateY(0);
}
.selection-images .thumb a.dl {
  top: 16px;
  right: 54px;
}
.selection-images .thumb a:hover {
  background: #5f739e;
}

.photo-selection-column img {
  width: 100%;
  height: auto;
  margin: 0;
}
#photoEditorColumn {
  flex: 1;
  background: #262e40;
  padding: 0 16px;
  height: 100%;
}
