.photo-editor-container {
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}
.photo-selection-column {
	height: 100%;
	width: 250px;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	position: relative;
}
#photoEditorColumn {
	width: calc(100% - 250px);
}
#customSizeOptions input[type="radio"] {
	margin-top: 6px;
}
.photo-selection-column .header {
	background-color: var(--themed-tab-bar);
	text-align: center;
	margin: 0;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	height: 46px;
	border-bottom: 1px solid var(--themed-tab-btn-hover);
}
.photo-selection-column .header h2 {
	font-size: 18px;
	line-height: 1;
	margin: 0;
}
#photoEditorColumn h2 {
	/* background-color: #202835; */
	font-size: 18px;
	margin: 0;
	padding-left: 16px;
	/* width: 100%; */
	line-height: 46px;
}
.photo-selection-column .selection-images {
	overflow-y: scroll;
	flex: 1;
	padding-top: 45px;
	scrollbar-width: thin;
	scrollbar-color: #252525 #444444;
	background-color: #444444;
}
.photo-selection-column .selection-images::-webkit-scrollbar-track {
	background-color: #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar {
	width: 8px;
	background-color: #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar-thumb {
	background-color: #8090b3;
}
.selection-images .thumb {
	padding: 8px 8px 2px 8px;
	color: white;
	position: relative;
	overflow: hidden;
	transition: background-color 0.2s ease-in;
}
.selection-images .thumb.original {
	margin: 8px 0;
	padding-top: 0;
	background-color: var(--themed-tab-btn-hover);
}
.selection-images .thumb:first-child {
	margin-top: 0;
}
.selection-images .thumb.selected {
	outline: 2px #4d5d80 solid;
	background: #4d5d80;
}

.selection-images .thumb .img-size {
	position: absolute;
	bottom: 26px;
	left: 16px;
	line-height: 30px;
	padding: 0 8px;
	font-size: 14px;
	background-color: #4d5d80aa;
}
.selection-images .thumb a.btn {
	position: absolute;
	top: 16px;
	right: 16px;
	line-height: 30px;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--themed-btn);
	z-index: 99;
	transition: all 0.2s ease-in;
}
.selection-images .thumb.original a.btn {
	top: 38px;
}
.selection-images .thumb:hover a {
	opacity: 1;
	/* transform: translateY(0); */
}
.selection-images .thumb a.dl {
	top: 16px;
	right: 54px;
}
.selection-images .thumb a:hover {
	background: #444444;
}

.photo-selection-column img {
	width: 100%;
	height: auto;
	margin: 0;
}
#photoEditorColumn {
	flex: 1;
	background: #252525;
	height: 100%;
}
.editorarea {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: calc(100% - 45px);
}
.editorarea span {
	font-size: 16px;
}
.editorarea .editor {
	flex-direction: row-reverse;
	height: calc(100% - 45px);
}
.top-toolbar,
.side-toolbar {
	background-color: #444444;
}
.side-toolbar {
	box-shadow: 4px 0 4px -4px #252525;
	border-bottom: 4px solid #444444;
	margin-top: -46px;
}
form#clearAllPreset {
	margin: 0;
	height: 46px;
}
form#clearAllPreset button {
	height: 46px;
	background-color: #666666;
	color: white;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in;
	padding: 0 12px;
	margin-right: 1px;
}
form#clearAllPreset button:focus,
form#clearAllPreset button:active {
	background-color: #5f739e;
	border: none;
	outline: none;
}

.top-toolbar a,
.side-toolbar a {
	border: none;
	background-color: #666666;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4px;
	transition: all 0.2s ease-in;
}
.top-toolbar a {
	flex-direction: row;
	height: 46px;
	line-height: 46px;
	margin-right: 1px;
	padding: 0 12px;
}
.top-toolbar a:last-child {
	margin-right: 0;
}
.side-toolbar a {
	width: 56px;
	justify-content: flex-start;
	margin-top: 1px;
}
.side-toolbar a:first-child {
	margin-top: 0;
}
.top-toolbar a:hover,
.side-toolbar a:hover {
	background-color: #888888;
}
.top-toolbar a.active,
.side-toolbar a.active {
	background-color: #333e55;
}
.top-toolbar a#saveAs i {
	margin-right: 8px;
	padding: 0;
}
.top-toolbar a i {
	padding: 0 6px;
}
.top-toolbar a label {
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
	cursor: pointer;
}
.side-toolbar a label {
	font-size: 10px;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 0;
	margin-top: 4px;
}
#canvasContainer {
	width: 100%;
	height: 100%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#canvasContainer .lds-dual-ring {
	position: absolute;
	z-index: 1000;
}
.editorarea select {
	height: 32px;
	background-color: var(--themed-light-bg);
	color: var(--themed-default-text);
	border: none;
	padding: 0 8px;
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: var(--btn-radius);
}
.export-menu input,
.save-as-menu input,
.editorarea select:focus {
	outline: none;
	border: none;
}
.x-close {
	width: 16px;
	cursor: pointer;
}
#toast {
	position: fixed;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 300px;
	margin-bottom: 0;
}
.panel {
	top: 10%;
	left: 0;
	transform: translateX(-100%);
	position: fixed;
	z-index: 999;
	padding: 0 8px 8px;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	/* width: 200px;
	min-height: 200px; */
	background-color: #666666;
	opacity: 0;
	transition: all 0.2s ease-in;
}
.panel.text-editor {
	width: 200px;
}
.panel.active {
	opacity: 1;
	transform: translateX(0);
	left: 64px;
}
.panel label {
	font-weight: 700;
	margin-bottom: 4px;
}
.panel input,
.panel textarea,
.panel select {
	padding: 8px;
	width: 100%;
	border-radius: 4px;
	background-color: var(--themed-dark-bg);
	color: white;
	outline: none;
	border: none;
}
.panel input[type="checkbox"] {
	padding: 0;
	margin-left: 8px;
}
.panel input[type="range"] {
	width: auto;
	padding: 0;
}
.panel select {
	border-right: 6px solid var(--themed-dark-bg);
}
.panel input:focus,
.panel textarea:focus,
.panel select:focus {
	outline: none;
}
.panel #font-color {
	background-color: var(--themed-black-border);
	border: none;
	box-shadow: none;
	color: white;
}
.panel .icon-button {
	background-color: var(--themed-btn-acc);
	color: var(--themed-btn-acc-text);
	display: flex;
	flex-direction: column;
	width: 70px;
	height: 70px;
	margin: 8px;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.panel .icon-button:active {
	background-color: #333e55;
}
.text-align-btn:active,
.text-align-btn:focus,
.panel .icon-button:active,
.panel .icon-button:focus {
	outline: none;
}
.panel .icon-button span {
	font-size: 12px;
	font-weight: bold;
	margin-top: 4px;
}
#removeImg,
#insertImg,
#cropBtn,
#resetCrop,
.text-align-btn {
	padding: 4px 8px;
	margin: 8px 2px;
	background-color: var(--themed-light-bg);
	color: var(--themed-default-text);
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	transition: all 0.2s ease-in;
}
.text-align-btn.active {
	background-color: var(--themed-btn-cta);
	color: var(--themed-btn-cta-text);
}
.text-align-btn:active {
	background-color: var(--themed-btn-cta);
}
#textField {
	padding: 0 8px;
	font-size: 1.2rem;
}
#textField::placeholder {
	color: #ccc;
}
.filter-editor {
	width: 260px;
	max-height: calc(100vh - 100px);
	color: white;
}
.filter-editor img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: 0;
}
#preDefFilters {
	height: 280px;
}
#preDefFilters a {
	margin: 5px;
	display: none;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease-in;
	opacity: 0;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#preDefFilters a.show {
	display: flex;
	animation: fadeIn 0.2s ease-in forwards;
}
#preDefFilters a:hover {
	background-color: var(--themed-nav-btn);
}
#preDefFilters a span {
	color: white;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	display: inline-block;
	margin-top: 4px;
}
#preDefFilters a.active {
	background-color: var(--themed-nav-btn);
}
#preDefFilters a.active::after {
	content: "\f633";
	color: #fff;
	position: absolute;
	font-family: bootstrap-icons !important;
	font-weight: 400 !important;
	font-size: 2em;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.55);
}
.filter-controls label {
	padding: 2px 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}
.image-editor {
	width: 216px;
}
#imagePreview {
	width: 200px;
	height: 200px;
	object-fit: contain;
}
.zoom-pan {
	position: fixed;
	bottom: 8px;
	left: 0;
	z-index: 1000;
}
.zoom-pan > div {
	width: 56px;
}
.zoom-pan .icon-button {
	width: 40px;
	height: 40px;
	border: none;
	font-size: 20px;
	border-radius: 4px;
	color: #4d5d80;
	cursor: pointer;
}
.zoom-pan .icon-button:last-child {
	background: transparent;
	color: white;
}
.zoom-pan .icon-button:focus,
.zoom-pan .icon-button:active {
	outline: none;
}
.zoom-pan .icon-button:active {
	transform: scale(0.95);
}
.export-menu,
.save-as-menu {
	padding: 8px;
	position: absolute;
	border-radius: var(--btn-radius);
	min-width: 400px;
	background-color: #666666;
	top: 52px;
	right: 6px;
	z-index: 1500;
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease-in;
	box-shadow: 0 0 8px #202835;
	pointer-events: none;
}
.export-menu {
	min-width: 270px;
}
.save-as-menu {
	padding: 16px;
	min-width: 360px;
}
.export-menu a {
	height: 32px;
}
.save-as-menu a {
	height: 36px;
}
.export-menu.active,
.save-as-menu.active {
	opacity: 1;
	pointer-events: all;
}
.top-toolbar .mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 1400;
	opacity: 0;
	pointer-events: none;
}
.top-toolbar .mask.active {
	opacity: 1;
	pointer-events: all;
}
#exportAsCancel,
#saveAsCancel {
	cursor: pointer;
	color: white;
	padding: 4px;
	background-color: transparent;
}
#saveAsCancel {
	position: absolute;
	top: 0px;
	right: 4px;
}
#downloadImg,
#saveAsImg {
	border-radius: 4px;
	background: var(--themed-btn-cta);
	color: var(--themed-btn-cta-text);
}

.fltr {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
}
.fltr .row-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.fltr .row-1 label {
	width: auto;
	padding: 0;
	margin-right: 8px;
}
.fltr .row-1 .bi {
	transform: scale(1);
}
.fltr .row-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.fltr a {
	color: white;
}
.fltr input[type="range"] {
	flex: 1;
}
.fltr input[type="text"] {
	padding: 0 4px;
	width: 54px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-left: 8px;
}
.fltr .row-2 span {
	display: inline-block;
	margin-left: 4px;
	width: 14px;
}
.fltr .row-2 sup {
	font-size: 16px;
	top: -0.25em;
}
.fltr input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 26px;
	padding: 0 5px;
	background: var(--themed-dark-bg);
	outline: none;
}
.fltr input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: var(--themed-btn-acc);
	cursor: pointer;
}

.fltr input[type="range"]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background: var(--themed-btn-acc);
	border-radius: 8px;
	cursor: pointer;
}
#imageeditorarea
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	background-color: #323e55;
	color: white;
}
#imageeditorarea
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	background-color: var(--themed-dark-bg);
	color: white;
	line-height: 35px;
	cursor: pointer;
}
#imageeditorarea .select2-container--default .select2-selection--single {
	border: none;
	border-radius: 4px;
	overflow: hidden;
	height: 35px;
}
