.photo-editor-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  height: 100%;
  border-top: 1px solid #333e55;
}
.photo-selection-column {
  height: 100%;
  width: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#photoEditorColumn {
  width: calc(100% - 250px);
}
.photo-selection-column h2 {
  background-color: #202835;
  font-size: 18px;
  text-align: center;
  margin: 0;
  width: calc(100% - 8px);
  line-height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
#photoEditorColumn h2 {
  /* background-color: #202835; */
  font-size: 18px;
  margin: 0;
  padding-left: 16px;
  /* width: 100%; */
  line-height: 46px;
}
.photo-selection-column .selection-images {
  overflow-y: scroll;
  flex: 1;
  padding-top: 45px;
  scrollbar-width: thin;
  scrollbar-color: #8090b3 #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar-track {
  background-color: #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar {
  width: 8px;
  background-color: #333e55;
}
.photo-selection-column .selection-images::-webkit-scrollbar-thumb {
  background-color: #8090b3;
}
.selection-images .thumb {
  padding: 8px 8px 2px 8px;
  color: white;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.2s ease-in;
}
.selection-images .thumb:first-child {
  margin-top: 0;
}
.selection-images .thumb:hover {
  background: #4d5d80;
}
.selection-images .thumb.selected {
  outline: 2px #4d5d80 solid;
  background: #4d5d80;
}

.selection-images .thumb .img-size {
  position: absolute;
  top: 16px;
  left: 16px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 14px;
  background-color: #4d5d80aa;
}
.selection-images .thumb a {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d5d80;
  box-shadow: 0 0 2px #333e55;
  z-index: 100;
  /* transform: translateY(-16px); */
  /* opacity: 0; */
  transition: all 0.2s ease-in;
}
.selection-images .thumb:hover a {
  opacity: 1;
  /* transform: translateY(0); */
}
.selection-images .thumb a.dl {
  top: 16px;
  right: 54px;
}
.selection-images .thumb a:hover {
  background: #5f739e;
}

.photo-selection-column img {
  width: 100%;
  height: auto;
  margin: 0;
}
#photoEditorColumn {
  flex: 1;
  background: #262e40;
  height: 100%;
}
.editorarea {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 45px);
}
.editorarea span {
  font-size: 16px;
}
.editorarea .editor {
  flex-direction: row-reverse;
  height: calc(100% - 45px);
}
.editorarea .top-toolbar,
.editorarea .side-toolbar {
  background-color: #333e55;
  z-index: 1000;
}
.editorarea .side-toolbar {
  box-shadow: 4px 0 4px -4px #202835;
  border-top: 4px solid #333e55;
  border-bottom: 4px solid #333e55;
}
.editorarea .top-toolbar {
  padding-right: 56px;
}
.editorarea .top-toolbar a,
.editorarea .side-toolbar a {
  background-color: #4d5d80;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition: all 0.2s ease-in;
}
.editorarea .top-toolbar a {
  /* display: inline-block; */
  /* padding: 0; */
  flex-direction: row;
  /* width: 46px; */
  height: 46px;
  line-height: 46px;
  margin-right: 1px;
  padding: 0 12px;
}
.editorarea .top-toolbar a:last-child {
  margin-right: 0;
}
.editorarea .side-toolbar a {
  width: 56px;
  justify-content: flex-start;
  margin-top: 1px;
}
.editorarea .side-toolbar a:first-child {
  margin-top: 0;
}
.editorarea .top-toolbar a:hover,
.editorarea .side-toolbar a:hover {
  background-color: #5f739e;
}
.editorarea .top-toolbar a.active,
.editorarea .side-toolbar a.active {
  background-color: #333e55;
}
.editorarea .top-toolbar a i {
  margin-right: 8px;
}
.editorarea .top-toolbar a label {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.editorarea .side-toolbar a label {
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 4px;
}
#editingCandidate {
  display: none;
}
#canvas-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editorarea select {
  height: 46px;
  background-color: #333e55;
  color: white;
  border: none;
  padding: 0 8px;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.editorarea select:focus {
  outline: none;
  border: none;
}
.x-close {
  width: 16px;
  cursor: pointer;
}
#toast {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  margin-bottom: 0;
}
.panel {
  top: 10%;
  left: 0;
  transform: translateX(-100%);
  position: fixed;
  z-index: 999;
  padding: 0 8px 8px;
  border-radius: 8px;
  border-top-left-radius: 0;
  /* width: 200px;
  min-height: 200px; */
  background-color: #4d5d80;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.panel.text-editor {
  width: 200px;
}
.panel.active {
  opacity: 1;
  transform: translateX(0);
  left: 64px;
}
.panel label {
  font-weight: 700;
  margin-bottom: 4px;
}
.panel input,
.panel textarea,
.panel select {
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: #333e55;
  color: white;
  outline: none;
  border: none;
}
.panel input[type="checkbox"] {
  width: auto;
  padding: 0;
  margin-left: 8px;
}
.panel input[type="range"] {
  width: auto;
  padding: 0;
}
.panel select {
  border-right: 6px solid #343e55;
}
.panel input:focus,
.panel textarea:focus,
.panel select:focus {
  outline: none;
}
.panel #font-color {
  background-color: #333e55;
  border: none;
  box-shadow: none;
  color: white;
}
.panel .icon-button {
  background-color: #5f739e;
  color: white;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  margin: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.panel .icon-button:active {
  background-color: #333e55;
}
.text-align-btn:active,
.text-align-btn:focus,
.panel .icon-button:active,
.panel .icon-button:focus {
  outline: none;
}
.panel .icon-button span {
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
}
#removeImg,
#insertImg,
#cropBtn,
.text-align-btn {
  padding: 4px 8px;
  margin: 8px 2px;
  background-color: #333e55;
  color: white;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}
.text-align-btn.active {
  background-color: #8090b3;
}
.text-align-btn:active {
  background-color: #5f739e;
}
#textField {
  padding: 0 8px;
}
#textField::placeholder {
  color: #ccc;
}
.filter-editor {
  padding: 0;
  width: 255px;
}
.filter-editor img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0;
}
#preDefFilters a {
  padding: 0;
  margin: 8px;
}
#preDefFilters a.active {
  background-color: #5f739e;
  outline: 5px solid #5f739e;
}
#preDefFilters a.active img {
  opacity: 0.8;
}
.filter-controls label {
  padding: 2px 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.image-editor {
  width: 216px;
}
#imagePreview {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
