#emcontainer .emcategorieslist 
{
	padding: 0px 0 0 4px;
}
#emcontainer .emcategorieslist li a
{
	white-space:nowrap;
	padding-bottom: 6px;
	display: block;	
	font-weight: bold;
	font-size: 1.1em;
}

.emthumbbox {
	margin-bottom: 4px;
	float:left;
	padding: 0 30px 0 0;
}

.emthumbimage
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
	padding: 0 0 4px 0;
}
.emthumbimage *
{
	vertical-align:middle;
}

/** Sizes **/
.emboxthumbsmall
{
	width: 150px;
	height: 150px;
}
.emthumbsmall
{
	width: 150px;
	height: 150px;
}
td.resultstablecell .proxythumb {
    width: 118px;
   height: 62px;
    vertical-align: middle;
    margin: 5px auto;
    padding: 3px;
    
}


.emboxthumb {
	width: calc(33% - 20px);
	height: 250px;
	text-align: center;
	border-bottom:1px solid #666;
	padding-bottom:15px;
	overflow: hidden;
}
@media (min-width: 1200px) {
	.emboxthumb {
		width: calc(25% - 20px);	
	}
}

@media (min-width: 1400px) {
	.emboxthumb {
		width: calc(20% - 20px);	
	}
}

.importstatusreport
{
	height: 100%;
	/*padding-top: 50px;
	color: white;*/
}

.importstatusreport .uiinfo {
	font-size:90%;
	height: 20px;
}

.resultstablecell .importstatusreport {
	height: 90px;
}


.grid-thumbimage  .importstatusreport {
	color:#ddd;
}

.proxythumb .loadingbarout {
	background-color: #fff;
	width:100%;
	border:1px solid #ddd;
	margin-top:20px;
}
.proxythumb .loadingbar {
    height: 12px;
    margin:0;
    background: #E5AE2D;
    
}

.proxythumb .infloading
{
	margin-top: 22px;
    margin-left: 4px;
}

.emthumb
{
	width: 200px;
}

.emthumb:hover
{
}

div.emdropshadow {
    background: white;
    padding: 1px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    margin-top: 3px;
    margin-bottom: 3px;
}

span.emdropshadow {
    background: white;
    padding: 3px;
    border: 1px solid #e5e5e5;
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
}
.playerarea { height: 100%;	}

.playerarea span.emdropshadow {
    padding: 0px;
    background: transparent;
    border: 0px solid #e5e5e5;
    display: block;
    flex: 1;
    min-width: 40px;
    min-height: 40px;
}
.playerarea a.imageplayer {
    flex: 1;
}
.playerarea .player-outer {
	padding:10px 0;
	height: 100%;
}
.playerarea .player {
	margin:0 auto;
	width:100%;
}

.player {

/*
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto;*/ 
background-size: cover; 
width:100%;
height: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player .video-js {
	margin:0 auto;
	width:90%;
	height: 100%;
}

@media (min-width: 1480px) {
.player .video-js  {
	width:80%;
	}
}



div#hiddenoverlay .playerarea {
	
	width: 600px;
}


/* STACKED VIEW OVERLAY */

#emthumbholder img.mimethumb {

	position: relative;
    margin: auto;

}


div#hiddenoverlay .overlay-margin {

	width: 90px;
	position: relative;
	float: left;

}

.overlay-margin {

	height: 100%;

}
.masonry-grid {padding:1px;}

.masonry-grid-cell .grid-thumbimage 
{
	padding: 0px;
	margin:0px;
	height: 100%;
	text-align: center;
}
div.masonry-grid-cell .grid-thumbimage img.imagethumb
{
	display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}


.tumbvideocontainer {
	position:relative;
}

.emboxthumblarge
{
	height:300px;
	width: 300px;
}
.emthumblarge
{
	height:300px;
	width: 300px;
}

.emthumbboxicon
{
	margin: 10px 0 0 0;
}
.emthumbboxtext
{
	margin: 5px 0 0 0;
	height: 50px;
}
#emcontainer .emthumbboxtext .emtitle 
{
	padding: 4px 0px 0px 0px;
	text-align: left;
	font-weight: bold;
	color: white;
}


#emcontainer .emthumbboxtext .emcaption 
{
	padding: 2px 4px 0px 0px;
	text-align: left;
	width: 200px;
}

#emfullresults .emrounded
{
	min-width: 810px;
	width: 100%;
}

#emfullresults #emslidesheet
{
	min-height: 300px;
}

/*------------*/
/* pages.html */
/*------------*/

#emcontainer .emnavigateboxes
{
	text-align: right;
	padding-bottom: 50px;
}

#emcontainer #navbox
{
	
	text-align: center;
	padding-right: 5px;	

}
#emcontainer #navbox A 
{
	background-color: #666666;
	color:           #FFFFFF;
	text-decoration: none;
	display:block;
	width: 28px;
	border: 2px solid #666666;
}
#emcontainer #navbox A:hover 
{
	color:           #666666;
	background-color: #FFFFFF;
	border: 2px solid #666666;
}
#emcontainer #navbox A:visited
{
	color:           #FFFFFF;
	text-decoration: none;
}
#emcontainer #navboxselected
{
	text-align: center;
	padding-right: 5px;	
}
#emcontainer #navboxselected A
{
	border: 2px solid #666666;
	text-decoration: none;
	display:block;
	width: 28px;
	color:           #666666;
	background-color: #FFFFFF;
	
}
#emcontainer #navboxselected A:visited
{
	text-decoration: none;
}


#player_container
{
	position: relative;
	background-color:#eee;
	width:120px;
	height:41px;
	border:1px solid #009be3;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

#player_container  ul#player_controls
{
	list-style-type:none;
	padding: 0;
	margin: 0;
}
#player_container  ul#player_controls li
{
	overflow:hidden;
	text-indent:-9999px;
}

#player_play
{
	position: absolute;
	left:4px;
	top:0px;
	width:40px;
	height:40px;
	cursor: pointer;
	display: inline;
	background: url("../../images/audioplayer/spirites.jpg") 0 0 no-repeat;
}
#player_play.em_hover
{
	background: url("../../images/audioplayer/spirites.jpg") -41px 0 no-repeat;
}
#resultselection
{
	clear:both;
	height:100% !important;
}
#resultselectionclear
{
 display:block; 
 float:left;
 padding:14px 8px 0 0 !important;
 line-height:0p !important;
}
.stackedplayer:hover {
	text-decoration: none;
}

.emthumbholder {
	height: 100%;
}

.assetstable .emthumbholder {
	height: 70px;
}


.masonry-grid-cell
{
	position: relative;
	float:left;
	padding: 0;
	width:100%;
	height:100%;
	text-overflow: ellipsis;
	overflow:hidden;
	background-color: #333;
}


.masonry-grid-cell .grid-thumbimage
{
	vertical-align: middle;
}

.masonry-grid-cell .grid-thumbimage .tumbvideocontainer {
	font-size:11px;
}


.masonry-grid-cell .mimethumb {
	height: 60px;
}
.mimethumbcontainerX, 
.imageholderX {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

.mimeconversionerror {
	color:red; 
	font-size: 10px; 
	position: relative;
} 
.masonry-grid-cell .mimethumbcontainer
{
	
/*	background-color: #0f2228;*/
}
.masonry-grid-cell .grid-caption 
{
	position: absolute;
	opacity: 0;
	line-height:1.6;
	word-break: break-word;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding: 6px 5px 5px 7px;
	top:0;
	left:0;
	/*top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);*/
}

.masonry-grid-cell:hover .grid-caption
{
	opacity:0.75;
	color:#fff;
	background-color: #222;
}
.masonry-grid-cell .grid-caption-show {
	opacity:1;
	color:#333;
}


.masonry-grid-cell .grid-cell-hover {
	opacity:0;
	background-color: rgba(255,255,255,.1);
	
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 98;
	
	-webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}
.masonry-grid-cell .grid-cell-hover:before {
    content:' '; /* Must have content to display */
    position:absolute;
}
.masonry-grid-cell:hover .grid-cell-hover {
     opacity:1;
 }

.masonry-grid-cell.ui-draggable-dragging .grid-caption 
{
	display: none;
}

.masonry-grid-cell .grid-caption .grid-caption-link {
	display:block;
	height:calc(100% - 30px);;
}
.masonry-grid-cell .grid-caption .grid-caption-link spanZ {
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.3;
    margin-bottom: 5px;
    
} 

.masonry-grid-cell .grid-caption a { 
	color:#eee; 
}
.masonry-grid-cell .grid-caption a:hover { 
	color:#87CCd2;
	text-decoration: none; 
}

.grid-caption .plaintext-detail {
	display: block;
}
.grid-caption .plaintextviewer-field {
	display: inline-block;
} 
.grid-caption .plaintextviewer-value {
	display: inline-block;
} 

.masonry-grid-cell .grid-gallery-checkbox
{
	position:absolute;
	top: 6px;
	right:6px;;
	width:100%;
	display: none;
	z-index: 100;
}

.masonry-grid-cell .grid-gallery-checkbox .selectionbox {
	position:absolute;
	top:0;
	right:0;
	 transform: scale(1.5);
}
.masonry-grid-cell:hover .grid-gallery-checkbox,
.emrowselected .grid-gallery-checkbox {
	display:block;
}

.emgrid-seemore {
	float:right;
}

.emgrid-module-media .emselectable {
	margin-bottom:10px;
}
.emgrid-module-media .emgrid-seemore {
	padding:3px 10px 3px 0;
}
.emgrid-module-media .emgrid-seemore a,
.emgrid-module-media .resultsnumber {
	color:#fff;
}

.grid-gallery-footer {
	position:absolute;
	width:100%;
	bottom:0;
	right:2px;
	padding:0px 0 0px 5px;
	z-index:99;
	color: white;
	font-weight: 600;
	text-align: right;	
}
.grid-gallery-footer a {
	color:#555;
	padding:1px 2px;
	text-align:center;
	margin:0 6px 0 0;
	display: inline-block;
}
.grid-gallery-footer a:hover {
	color:#000;
	text-decoration: none;
	}
.grid-gallery-footer .favorite-text,
.gallerycell-favorite .favorite-text
 {
	display:none;
}
.emgrid-moredetails {
	position:absolute;
	top:6px;
	right: 6px;
}
.emgrid-moredetailsright {
	float:right;
	widt:50px;
}
.emgrid-moredetailsright .emgrid-favoriteicon {
	float:right;
}

.masonry-grid-cell .audio-thumb-container {
	z-index:99;
	position:absolute;
	width: 70%;
	bottom:45px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.masonry-grid-cell  .grid-caption-audio {
	padding-top:5px;
	opacity: 1;
}
.masonry-grid-cell  .grid-caption-audio a,
.grid-caption-audio .grid-gallery-footer {
	color:#777;
}
.masonry-grid-cell:hover .grid-gallery-footer{
	color:#eee;	
}

.masonry-grid-cell:hover .grid-caption a {
    color: #eee;
}

@media (min-width: 640px) {
	.emresultscontainer {	
		margin:20px 20px 20px 20px;
		padding: 20px 30px;
	}	
}

@media (min-width: 768px) {
	.emresultscontainer {	
		margin:0px 0px 0px 0px;
		padding: 20px;
	}	
}

@media (min-width: 992px) {
	.emresultscontainer {	
		margin:0px 0px 0px 0px;
		padding: 20px;
	}	
}
.emgrid-subtitle {
	padding:0 0;
	margin-bottom:15px;
}
.emgrid-subtitle h3 {
	font-size:1.5rem;
	color:#efefef;
	padding:0px;
	margin:0;
	font-weight: bold;
	float:left;
}
.emgrid-subtitle h3 i {
	font-size:.8em;
	line-height: 0.5;
}
.emgrid-subtitle h3 a { 
	color:#efefef;
}
.emgrid-subtitle h3 a:hover {
	text-decoration: none;
}
.emgrid-subtitle h3 .count {
	font-weight: normal;
	color:#999;
}
.minimizeexpandedmodule {
color:#bbb;

font-size:1.1rem;
	}
.minimizeexpandedmodule:hover {
	color:#fff;
}
.emgrid-footer {
	height: 22px;
}

.emgrid-expanded .emgrid-subtitle { 
	padding:10px;
	margin-bottom: 0px;
}


.emgrid-entitydescription {
	line-height: 1.2;
	padding:5px 0 0 0;
	
}
.emresultsgrid .pages {
	color:#ddd;
	height: 24px;
	margin-bottom:15px;
}

.emresultsgrid .emgrid {
	margin-left: 0px;
}


.overlay-panel {
	margin: 50px;
	height: 60%;
}

.panel-heading > .overlay-close {
	z-index: 10;
	position: absolute;
	right: 60px;
	top: 60px;
}
.hiddenoverlay > div
{
	flex: 1;
	
}
#hiddenoverlay
{
	background-color: #000;
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
	
}

.overlay-popup.largeicon
{
	font-size:30px;
	color: rgb(200,200,200);
	position: fixed;
	left:40px;
	top: 10px;
	z-index: 10001;
}

.overlay-close.largeicon {
	font-size:20px;
	color: #aaa;
	position: fixed;
	right:12px;
	top: 1px;
	z-index: 10001;
	cursor:pointer;
}
.overlay-close.largeicon:hover {
	color: #efefef;
}

div#hiddenoverlay span.glyphicon.glyphicon-new-window
{
	cursor:pointer;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

span.glyphicon-triangle-right.overlay-nav {

	cursor:pointer;
}

span.glyphicon-triangle-left.overlay-nav {

	cursor:pointer;
}

#main-media
{
	display:block;
    margin:auto;
    position:relative;
}

#emcontainer #emselectable  #main-results-table .tableresults tr td {
    height: 68px;

}

.badgecontainer {  
	height: 30px;
	width:100%;
	position:absolute;
	bottom:0;
	right: 0;
}
.badgetargetsmall {
	/*position: absolute;
	bottom: 0px;
	right:0px;*/
}
.badgetarget {
	position: absolute;
	bottom: 0px;
	right: 5px;
	text-align: right;
}

.masonry-grid-cell .badgecontainer {
	bottom:22px;
}

.embadge {	
	display: block;	
	float: right;
	width: 25px;
	height: 30px;
	margin:0px;
	margin-left: 4px;	
	background-color: transparent;
	background-size: 25px 30px;
}


.emgallery {
    text-align: left;
    margin:5px;
}
.emgallery .emthumbbox {
    padding: 0 0 11px 0;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 5px;
    display: inline-block;
    text-align: center;
    position:relative;
    width:220px;
}


.emgallery .emthumbimage {
	position:relative;
    width: 220px;
    height: 218px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
}


.emgallery .gallery-caption {
    text-align: left;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 2px 10px;
    border-radius: 0 0 0 5px;
}
.emgallery .emthumbimage img {
    border: none;
    margin: 0;
    padding: 0;
max-width:200px;
    max-height:200px;
}
.emgallery .emthumbimage.emthumb:hover img.emdropshadow:hover {
    box-shadow: none;
    border: none;
}

.assetVoteTool {
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    z-index: 2;

}
.assetVoteTool .votebox 
{
   background: white;
    border-left: 1px solid #DDD;
     border-bottom: 1px solid #DDD;
    padding: 2px 0px 0 3px;
    position: relative;
    top: 0px;
    height: 27px;
    display: block;
    border-radius: 0 5px 0 5px;
}

.favorite-star {
    display: block;
    
    margin: 0 5px 0 3px;
    
    color:#afafaf;
    transition: 0.3s;
}
.assetVoteTool .votecounter {
	 text-decoration: none;
	 margin-right: 5px;
}
.favorite-star:hover, 
.favorite-star.star-full,
.favorite-star.star-full:hover,
.grid-gallery-footer .favorite-star.star-full,
.grid-gallery-footer .favorite-star:hover,
.grid-gallery-footer .favorite-star.star-full:hover
 {
      color:#FEDC71;
      filter: drop-shadow(0 0 1px #666);
}
.favorite-star:active i {
  color: #e5c157;
  transform: translateY(-2px);
}

#embody .emgallery a.updatebasket {
   
}

.emgallery a.updatebasket .remove {
}
.gallery-caption {
	position:relative;
}
.gallery-field-label {
    text-align: left; 
    font-size: 10px; 
    color: #666; 
    font-weight: bold; 
}
.gallery-field-info {
    text-align: left; 
    color:#444; 
    line-height:1.5;
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 190px; 
    white-space: nowrap;
}
.gallery-field-info a {
    font-weight: normal;
    color: #555;
    font-size: 0.85rem;
    line-height: 1.6;
}
.gallery-field-info a:hover { 
    text-decoration: underline;
    color: #000;    
}
.gallerycell-download {
	color: #555;
	position:absolute;
	bottom:0;
	right:2px;
}
.gallerycell-download:hover {
	color:#000;

	}
.gallery-field-basket {
	position: absolute;
	top:6px;
	right:4px;
}
.gallery-field-basket a {
	color:#afafaf
}
.gallery-field-basket a:hover,
.remove-from-basket {
	color:#000;
}
.gallery-checkbox {
    background: #fff;
    position: absolute;
    top:0;
    left:0;
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
    border-radius: 0 0 3px 0; 
    padding: 4px 5px 2px 4px;
    z-index: 2;
}

/* VOTING */
#assetVoteCount {
    text-align: center;
}
#asset-viewer-status {
    background: #f7f7f7;
    border-top: 1px solid #000;
    border-bottom: 1px solid #999;
    padding: 16px 13px 16px 13px;

}
#status-flag {
    float: right;
    background: #777;
    border: 1px solid #444;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    margin-top: -10px;
}
#status-flag .emdatafield {
    display: inline-block;
    color: #ccc;
    padding: 0;
}
#status-flag .emdatafieldvalue {
     display: inline-block;
     padding: 0;
}
#assetVoteCount .star {
    display: inline-block;
    line-height: 1;
}
#assetVoteCount .star.full {
    color:#FEDC71;
}

#assetVoteCount .voting-label { 
	line-height: 1.5;
	display: inline-block; 
	}
#assetVoteTool {
    display: inline-block;
    position: relative;
    float:right;
    height:0px;
}
#assetVoteTool .votebox 
{
   background: white;
    border-left: 1px solid #DDD;
     border-bottom: 1px solid #DDD;
    padding: 2px 0px 0 3px;
    position: relative;
    top: 0px;
    height: 27px;
    display: block;
    border-radius: 0 5px 0 5px;
}

#assetVoteTool .star {
    display: block;
    width: 26px;
    margin: 0 5px 0 3px;
    font-size: 120%;
    color:#afafaf;
}
#assetVoteTool .votecounter {
	 text-decoration: none;
	 margin-right: 5px;
}
#assetVoteTool .star:hover, 
#assetVoteTool .star.full {
      color:#FEDC71;
      text-decoration: none;
}
#assetVoteTool a {
    color: #3490B2;
    text-decoration: none;
}
#assetVoteTool a:hover {
    text-decoration: underline;
}



.assetpanel-sidebar .carousel {
	height: 100%;
	overflow-y: auto;
	background-color: #565656;			
}
.assetpanel-sidebar .gallery-item {
	display: block;
	position:relative;
	padding:8px 5px;
	text-align:center;
}
.assetpanel-sidebar .gallery-item-title {
	overflow: hidden; 
    display: block;
    height: 28px;
    padding:4px 8px;
    
}

.gallery-item-title .selectionbox {
	margin: 4px 12px 0 0;
	float: left;
}
.gallery-item-title label {
	line-height:20px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.assetpanel-sidebar .gallery-thumb.active-asset {
	background-color: #ccc;
	border-right: 0px solid #ccc;
	opacity: 1;
	filter: alpha(opacity=100);
}

.assetpanel-sidebar .gallery-thumb {
	background-color:#e1e1e1;
	border-bottom: 1px solid #565656;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.assetpanel-sidebar .gallery-thumb a
{
	text-decoration: none;
}
.assetpanel-sidebar .gallery-thumb:hover {
	/*background-color: #d0e6ef;*/
	opacity: 0.9;
	filter: alpha(opacity=90);
}
.assetpanel-sidebar .gallery-thumb.active-asset:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.assetpanel-sidebar .gallery-thumb:hover .gallery-item-title {
	color:#fff;
	background-color: rgba(20, 20, 20, 0.6);
	}
	
.assetpanel-sidebar .gallery-thumb.selected-asset {
	background-color: #ccc;
	border-right: 0px solid #ccc;
	opacity: 1;
	filter: alpha(opacity=100);
}

.carousel-items .smallthumb {
    max-width: 160px;
	max-height: 100px;
}

.category-search-hit
{
	position: relative;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.category-search-hit .category-search-hit-tools {
	top:5px;
	right:5px;
	display:none;
}
.category-search-hit .category-search-hit-icon {
	font-size:1.2em;
	position: absolute;
	left: 5px;	
	line-height: 1.5em;
	display: inline;	
}

.category-search-hit .category-search-hit-name {
	margin-left: 30px;
	font-size:1.2em;
	line-height: 1.5em;
	display: inline;	
}


.emresultscontainer {
	padding:0;
	margin-bottom:10px;	
}
.suggestionscontainer {
	margin:10px 30px 20px 30px;
	padding:10px;
	background-color: #efefef;
}

.emgrid {
	margin:0;
    padding: 0;
    list-style: none;
    position: relative;
    
    
}
.emgrid-module {
	padding:12px 7px;
}

.emgrid-box {
	background-color: #202835;	
}

.emgrid-column {
	float:left;
	width:582px;
	margin:0 0 20px 10px;
}


@media (min-width: 1282px) {
	.emgrid-column {
		width:644px;
		margin:0 0 20px 10px;
	}
	
}

@media (min-width: 1440px) {
	.emgrid-module {
		padding:15px;
	}
	.emgrid-column {
		width:49%;
		margin:0 0 20px 10px;
	}
	
}
@media (min-width: 1680px) {
	.emgrid-module {
		padding:15px 22px;
	}
	.emgrid-column {
		width:48.8%;
		margin:0 0 20px 10px;
	}
	
}	
	
.modulesearchmodules .emgrid-column:first-child {
	/*margin-left: 0;*/

	}

.emresultscontainer .emsubnav {
	
}

.emresultscontainer .resultsnavright{
	color:#eee;
}
.emgridcell {
	margin: 0;
	position:absolute;
	border:0px solid #ccc;
	border-radius: .20rem;
	box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);
	visibility: hidden;
	background-color: #fefefe;
	color:#111;
	
}

.emgridcell {
height: 152px;
}
.emgridcell-media {
	height: 152px;
}
.emgrid-entitydata {
	height:112px;
}
.emgrid-entitymedia {
	height:112px;	
}


.emgridcell-entity {
	color:#333;
}
.emgridcell-entity a {
	color:#555;
}
.emgridcell-category {
	border:none;
	box-shadow: none;
	visibility: hidden;
}

.emgrid-content {
	position:relative;
	height:100%;
	min-height: 100px;
	
}
.emgrid-content-header {
	padding:0px 10px 5px;
}
.emgridcell h3 {
	margin:0 0 0;
	font-size:0.9rem;
	line-height:1.6;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    
}

.emgridcell h3 a {
	color:#555;
	font-weight:700;
	text-decoration: none;
}
.emgridcell h3 a:hover {
	color:#000;
	}
.emgridcell-default {
	padding:10px 10px 0;
	color:#222;
	
	
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} 

.emgrid-expanded {
	margin-bottom:15px;
}

.emgrid-type-asset .emgrid-content-header {
	background-color: #202835;

}
.emgrid-type-asset-video .emgrid-content-header {
	background-color: #E51E25;
}
.emgrid-type-asset-document .emgrid-content-header {
	background-color: #164EA1;
}

.emgrid-type-librarycollection .emgrid-content-header {
	background-color: #16A7BA;
}

.emgrid-type-categories
{
	padding:0 0 20px 40px;
}


.emgrid-type-category .emgrid-content-header {
	background-color: #37383A;
}
.emgrid-type-category {
	color:#333666;
	height: 20px;
}
.emgrid-type-category .gridcategory-icon {
	float: left;
	font-size:1.2em;
	line-height: 1.5em;
	color:#ffd05b;
	
}
.emgrid-type-asset h3,
.emgrid-type-asset h3 a {
	color:#fff;
}

.gridcategory-name {
	line-height: 1.5em;
	vertical-align:bottom;
	float: left;
	margin-left:10px;
	font-size:1.2em;
		overflow: hidden;
	white-space:nowrap; 
  text-overflow:ellipsis;
}
.emgrid-type-category:hover {
	color:#000
}

.griditem-tools {
	top:5px;
	right:5px;
	display:none;
}

.emgridcell:hover {
	background-color: #f1f1f1;
}
.emgridcell:hover  .emgrid-entitymedia {
	border-color:#f1f1f1;;
}
.emgrid-content:hover  .griditem-tools {
	display: block;
	}
.emgrid-type-category:hover .griditem-tools {
	top:0;
	display: block;
}
.emgridcell h4 {
	font-size: 0.9rem;
	font-weight: bold;
	padding:0 8px;
	}
.emgridcell .imageholder,
.emgridcell .tumbvideocontainer {
	height: 100%;
}
.emgridcell .imageholder .img-fluid,
.emgridcell .tumbvideocontainer .img-fluid {
	/*min-height: 100%;*/
	}
.emgridcell .audio-thumb-container {
	padding:15px 0 5px;
}
.emgridcell-name {
	margin:8px 8px 4px 8px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap;
}
.emgridcell-description {
	margin:8px;
	margin-bottom: 10px;
	line-height: 1.5;
	}
.emgridcell-assetimage {
	text-align: center;
	padding:0;
	min-height: 100px;
	}
.emgridcell-assetimage .videoplay-button {
	font-size:4rem;
}
.emgriddcell-withkeywords {
	min-height: 100px;
}
.emgridcell-actions {
	height: 24px;
	padding-right:12px;
	text-align: right;
}

.emgridcell-task h3 {
	color:#ED1D25;
}

.emgridcell-keywords {
	padding:6px 0;
	width:100%;
	
}
.emgridcell-keywords .badge {
	font-size:0.75rem; 
	background-color: #87DEFF;
	overflow:hidden; 
	  white-space:nowrap; 
	  text-overflow:ellipsis; 
	  max-width:48%;
	}
.emgridcell-keywords .badge:hover {
	background-color:#2A6C92;
	color:#eee;
}

.emgrid-entityheader {
	padding:6px 10px 5px;
}
.emgrid-entitydata {
	float:left;
	width: calc(100% - 205px);
	padding:0 0 0 10px;
    overflow: hidden;
}

.emgrid-entitydata .emgridcell-longcaption {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;	
    line-height: 1.4;
}

.emgridcell-fields a:hover {
	
}
.emgrid-entitydata .emthumbholder {
	height: 82px;
	
}
.expandedmodule .emgrid-entitydata .emthumbholder { 
	margin:0 20px; 
}
.emgrid-entitydata .imageholder {
	position:relative;
}
.emgrid-entitydata .imagethumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.emgrid-entitymedia {
	float:left;
	width: 200px;
	padding:0 0;
	border:1px solid #fff;
	position: relative; 
}

.emgrid-entitymedia.dragoverselected {
	border:1px dashed #999;
}
.emgrid-entitymedia .grid-attachedmedia {
	width:94px;
	height:74px;
	text-align:center;
	overflow:hidden;
	margin:0 0 5px 5px;
	float:left;
	/*background-color: #fff;
	border:1px solid #eee;*/
}
.emgrid-entitymedia .grid-attachedmedia .emthumbholder {
	position:relative;
}
.emgrid-entitymedia .grid-attachedmedia img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	}
.grid-attachedmedia .mimethumb {
	height: 35px;
}
.emgrid-entitymedia  .uiinfo {
	display: none;
}
.grid-attachedmedia .jp-type-single,
.audio-thumb-container .jp-type-single {
	padding:0;
}

.grid-attachedmedia-audio,
.entity-primarymedia-audio {
	max-width:90px;
	padding-left:3px;
	font-size:0.9em;
	overflow:hidden; 
  	white-space:nowrap; 
  	text-overflow:ellipsis;
  	text-align: center;
  	display: block;
  	text-decoration: none; 
  	cursor:pointer;
}
.grid-attachedmedia-audio:hover {
	text-decoration: underline;
}
.entity-primarymedia-audio {
	max-width:200px;
	padding:5px;
	
}

.emgrid-entitydata .tumbvideocontainer,
.emgrid-entitymedia .tumbvideocontainer,
.entity-media .tumbvideocontainer {
	font-size:6px;
}

.modal-entity .entity-media .grid-attachedmedia {
	width:160px;
	text-align:center;
	margin:0 auto 10px;
	overflow: hidden;
	position:relative;
	border:1px solid #222;
}
.modal-entity  .grid-attachedmedia .imageholder,
.modal-entity  .grid-attachedmedia .mimethumbcontainer {
/* transform: initial;*/
}
.modal-entity  .grid-attachedmedia .mimethumbcontainer {
	height: 75px;

	}
.modal-entity .entity-media .grid-attachedmedia .audio-thumb-container {
	margin:25px 0  25px;
}
.modal-entity .entity-media .grid-isprimaryimage {
	border:1px solid #eee;	
	overflow:hidden;
}
.modal-entity .entity-media .grid-attachedmedia .emthumbholder {
	color:#ddd;
}
.modal-entity .entity-media .grid-attachedmedia .mimethumb {
	height: 60px;
	padding-top:15px;
}

.modal-entity  .grid-attachedmedia .emthumbholder,
.modal-entity  .grid-attachedmedia .imageholder {
	position:relative;
	height: 110px;
}
.modal-entity .entity-media .imagethumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-entity .entity-media-faceprofile .imagethumb {
	position: relative;
	transform:none;
	left: 0;
	top:0;
}
.modal-entity  .entity-media .grid-makeprimary,
.faceprofile-attachedmedia .grid-makeprimary  {
	position:absolute;
	width:100%;
	height:20px;
	bottom:0;
	display:none;
	font-size: 0.8rem;

}
.grid-attachedmedia:hover .grid-makeprimary,
.faceprofile-attachedmedia:hover .grid-makeprimary {
	display:block;
	background-color:rgba(0,0,0,0.7);
	z-index:201;
}
.grid-attachedmedia:hover .grid-makeprimary a,
.faceprofile-attachedmedia:hover .grid-makeprimary a {
	color:#ddd;
	padding:0 6px;
	display:block;
}
.grid-attachedmedia:hover .grid-makeprimary a:hover,
.faceprofile-attachedmedia:hover .grid-makeprimary a:hover {
	color:#fff;
	text-decoration: none;
}

.entity-media-faceprofile .emshowbox canvas {
	z-index:200;
}

.emrowselected .resultsselection { }

.gridresultscount { padding:5px 0; font-size:.9rem;}

.entity-media,
.entity-metadata,
.entity-data {
	float:left;
}
.entity-media {
	background-color:#222;
	padding:25px 15px 20px;
	min-height: 140px;
	/*max-height:640px;*/
	overflow:auto;
	position:relative;
}
.entity-media a {
	color:#bbb;
}
.entity-media a:hover {
	color:#fff;
}
.entity-metadata {
	padding:20px;
}
.entity-metadata h4 {
	margin:0 0 10px;

	}
.emgrid-module .entity-seemore {
	color:#fff;
}
.entity-media-faceprofile {
	padding:30px 12px 20px;
}
.editentitymetadata-submodules-container {
	padding:20px;
}
.editentitymetadata-submodule {
	padding:20px 0;
}
.editentitymetadata-submodule h3 {
	margin: 0 0 0.5em;
	}
.editentitymetadata-submodule:nth-child(2) {
	border-top:1px solid #444;

	}
.editentitymetadata-submodule .submodule-actions  a {
	color:#bbb;
	font-size:0.85rem;
}

.editentitymetadata-submodule .submodule-actions  a:hover {
	color:#bbb;
}

.entity-wraper {
	padding: 10px 15px;
	width: 100%;
	min-height: 540px;
	background-color: #222;
	
  	/*flex: 1 100%;*/
}

.entity-navigation { 
	background-color: #222;
	width:100%;
	height:32px;
	color:#bbb;
	font-size: 1rem;
}
.entity-navigation.nav-tabs {
	border:0 none;
}

.entity-navigation a {
	display: inline-block;
	color:#bbb;
	line-height: 2;
	padding: 0 5px;
	float:left;
}

.entity-wraper .entity-metadata {
	padding:20px 20px 20px 20px;
}
.entity-tab {
	display:inline-block;
	padding: 0 5px 0 0;
	float:left;
	max-width: 305px;

}
.entity-tab a.entity-tab-label {
	color:#eee;
	padding:0 5px 0 12px;
	
	max-width: 280px;
	max-height: 32px;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} 
.entity-tab a.entity-tab-label:hover,
.entity-tab.current-entity a.entity-tab-label {
	color:#ccc;
}
.entity-tab-label-type {
	font-weight: 600;
	color:#fff;
}
.entity-tab a.entity-tab-close {
	font-size:0.8em;
	color:#555;
	line-height: 2.5;
}
.entity-tab a.entity-tab-close:hover {
	color:#999;

	}
.current-entity {
	background-color: #333;
	color:#fff;
}

.entity-wraper .entity-media {
	background-color: transparent;
	padding:10px 0;
}

.entity-wraper .entity-media-box {
	padding:10px;
	height: 200px;
	min-height: 200px;
	background-color: #222;
}

.collapsedmediabox.entity-media-box {
	height: 40px;
	min-height: 40px;
}
.expandmediabox {
	cursor: pointer;
}

.entity-media-header  {
  height: 30px;
}
.entity-media-header  a {
	float:right;
	padding:0 4px;
	margin-left: 2px;
}
.entity-media-header h4 {
	font-size: 1rem;
	
	float:left;
 }
.entity-body {
	position:relative;
	height: calc(100% - 34px);
}

.entity-tab-content {
	background-color:#333;
}

.entity-tab-content::after{
  content: '';
  clear: both;
  
}

.entitymetadatamodal .searchonetomany {
	padding:15px;
	border:1px solid #555;
	background-color: #444;
}


.list-attachedmedia {
	height: 30px;
	margin-bottom: 2px;
	background-color: #343434;
	padding:2px;
}
.list-attachedmedia:hover {
	background-color: #313131;
}
.list-attacedmedia-title {
	font-size: 0.9em;
	line-height: 2;
	overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.list-attachedmedia .imagearea {
	display: flex;
	color:#777;
}
.list-attachedmedia .imagearea:hover {
	color:#bbb;

	}
.modal-entity .entity-media .list-attachedmedia .emthumbholder {
	margin-right: 5px;
}
.modal-entity .entity-media .list-attachedmedia .imagethumb {
	position:relative;
	max-height: 26px;
	width:52px; 
	
	top:0;
	left:0;
	transform:initial;
}




@media (min-width: 980px) {
	.modal-lg .entity-media {
	    width: 400px;
	    
	}
	.modal-lg .entity-media-faceprofile {
	    width: 450px;
	    
	}
	.modal-lg .entity-metadata {
	    width: 490px;
	}
	.modal-lg .entity-metadata-faceprofile {
	    width: 390px;
	}
}
@media (min-width: 1024px) {
	.modal-lg .entity-media {
	    width: 352px;
	}
	.modal-lg .entity-metadata{
	    width: 996px;
	}
	.modal-lg .entity-media-faceprofile {
	    width: 280px;
	}
	.modal-lg .entity-metadata-faceprofile{
	    width: 920px;
	}

	.entity-wraper .entity-media{
		width: 300px;
	}
	.entity-wraper .entity-metadata{
		width: 725px;
	}
	.entity-wraper .entity-metadata-withmedia {
		width: 575px;
	}
	
}
@media (min-width: 1280px) {
	.modal-lg .entity-media {
	    width: 360px;
	}
	.modal-lg .entity-metadata{
	    width: calc(100% - 240px);
	}
	.entity-wraper .entity-media{
		width: 480px;
	}
	.entity-wraper .entity-metadata{
		width: calc(100% - 30px);
	}
	.entity-wraper .entity-metadata-withmedia {
		width: calc(100% - 490px);
	}
}


.faceprofile-attachedmedia {
	position:relative;
	margin-bottom:10px;
}

.entity-metadata .removefieldassetvalue:hover {
	color:#fff;

	}
.entity-assets-info {
	padding:2px 5px 0px;
	font-size:0.74rem;
	text-align: right;
}
.entity-assets-info a {
	
	color:#444;
}
.entity-assets-info a:hover {
	color:#000;
	text-decoration:underline;
}
.entity-assets-info .moreactions {
	float:right;
	margin-left:15px;
	text-decoration:none;
}
.entity-assets-info .moreactions:hover {
	text-decoration:none;
}
.entity-assets-info .moreactions:hover span {
	text-decoration: underline;
}
.entity-media .entity-assets-info {
	color:#aaa;
	position:absolute;
	/*width:calc(100% - 30px);*/
	width:100%;
	bottom:5px;
	right:5px;
	padding:0;
}

.modal-entity {
	background-color:#333;
	color:#bbb;
} 
.modal-entity .modal-body {
	padding:0;
/*	display: flex;*/
}

.modal-entity .modal-title {
	font-size: 1.6rem;
	display:block;
	margin-bottom:10px;
}
.modal-entity .entity-assets-info a {
	color:#bbb;
}
.modal-entity .entity-assets-info a:hover {
	color:#fff;
}

.entitiesinfputform .emdatafieldvalue {
	margin-bottom:20px;
} 

.entity-metadata .btns {
	padding:15px 0 0;
}

.emnoresults {
	padding:30px;
	color:#eee;
}

.entitiesinfputform .col-6:nth-child(odd) {
	padding:0 15px 0 0;
}

.jp-play-bar, .jp-volume-bar-value {
	width:0;
}


.resultstablecell .audio-thumb-container {
	padding:4px 0 21px;
}

.resultstablecell .small-thumb-container {
	padding:8px 0;
}

.audio-thumb-name {
	font-size:0.85rem;
	max-width:100px;
	overflow:hidden; 
  	white-space:nowrap; 
  	text-overflow:ellipsis;
  	text-align: center;
  	display: block;
  	text-decoration: none; 
}

/* PAGINATION */
.resultsnumber {
	float:left;
	padding:5px;
}
.resultpages {
    position: relative;
    z-index: 600;
}
.sortable #pages {
    margin: 0;
}
.resultpages .ellipsis {
    color: #797979;
    width: auto !important;
    line-height: 26px;
}
.resultpages ul {
    margin: 0px;
    padding: 0px;
    display: block;
    position: relative;
    top: 0px;
    border: 0px;
    border-top: none;
    z-index: 600;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: transparent;
}
.resultpages ul li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 3px;
    font-weight: bold;
}
.resultpages ul li a {
    display: block;
    font-size: 10px;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    height: 22px;
    
    
    background: #7b7b7b;
    border: 1px solid #6a6a6a;
    color: #fff;
    
    
}
.resultpages ul li a:hover {
	color:#595959!important;
    background: rgb(230,230,230); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
}
.resultpages ul li.current a {
    color: #595959;
    background: rgb(246,246,246); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
    border: 1px solid #ccc;
	
}

.resultpages ul li.pagenav {
	width: 22px;
}

.resultpages ul li.pagenav a span.glyphicon-triangle-right {

	margin-right: -3px;
	margin-top: 6px;
	position: relative;

}

.resultpages ul li.pagenav a span.glyphicon-triangle-left {

	margin-right: -3px;
	margin-top: 6px;
	position: relative;

}

ul.posresultsnavright 
{
    padding:0 15px 0 0;
    margin: 0;
    list-style: none;
    float: right;
}
ul.posresultsnavright   li.textheader
{
    white-space: nowrap;
    vertical-align:top;
    display: inline-block;
    font-size:0.9rem;
}

ul.posresultsnavright li.resultpages
{
	display: inline-block;
} 

ul.inlinelist 
{
    padding:0;
    margin: 0;
    list-style: none;
}
ul.inlinelist   li
{
    white-space: nowrap;
    vertical-align:top;
    display: inline-block;
}
