#emcontainer .emcategorieslist {
	padding: 0px 0 0 4px;
}

#emcontainer .emcategorieslist li a {
	white-space: nowrap;
	padding-bottom: 6px;
	display: block;
	font-weight: bold;
	font-size: 1.1em;
}

.emthumbbox {
	margin-bottom: 4px;
	float: left;
	padding: 0 30px 0 0;
}

.emthumbimage {
	display: inline-block;
	margin: 0 auto;
	/*text-align:center;*/
	vertical-align: middle;
	/*overflow:hidden;*/
	padding: 0 0 4px 0;
}

.emthumbimage {
	vertical-align: middle;
}

/* 
.imagethumb {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
		0 0 3px 0 rgba(0, 0, 0, 0.1);
} 
*/

/** Sizes **/
.emboxthumbsmall {
	width: 150px;
	height: 150px;
}

.emthumbsmall {
	width: 150px;
	height: 150px;
}

td.resultstablecell {
	position: relative;
}

td.resultstablecell .proxythumb {
	width: 118px;
	height: 62px;
	vertical-align: middle;
	margin: 5px auto;
	padding: 3px;

}

.emboxthumb {
	width: calc(33% - 20px);
	height: 254px;
	text-align: center;
	padding-bottom: 15px;
	overflow: hidden;
}

.emgallery .emboxthumb {
	height: 280px;
}

@media (min-width: 1200px) {
	.emboxthumb {
		width: calc(25% - 20px);
	}
}

@media (min-width: 1400px) {
	.emboxthumb {
		width: calc(20% - 20px);
	}
}

.importstatusreport {
	height: 100%;
	/*padding-top: 50px;
	color: white;*/
}

.importstatusreport .uiinfo {
	font-size: 90%;
	height: 20px;
}

.resultstablecell .importstatusreport {
	height: 90px;
}


.grid-thumbimage .importstatusreport {
	color: #ddd;
}

.proxythumb .loadingbarout {
	background-color: #fff;
	width: 100%;
	border: 1px solid #ddd;
	margin-top: 20px;
}

.proxythumb .loadingbar {
	height: 12px;
	margin: 0;
	background: #E5AE2D;

}

.proxythumb .infloading {
	margin-top: 22px;
	margin-left: 4px;
}

.emthumb {
	width: 200px;
}

/* .emthumb:hover {} */

div.emdropshadow {
	background: white;
	padding: 1px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	min-width: 40px;
	min-height: 40px;
	margin-top: 3px;
	margin-bottom: 3px;
}

span.emdropshadow {
	background: white;
	padding: 3px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	min-width: 40px;
	min-height: 40px;
}

.playerarea {
	height: 100%;
}

.playerarea span.emdropshadow {
	padding: 0px;
	background: transparent;
	border: 0px solid #e5e5e5;
	display: block;
	flex: 1;
	min-width: 40px;
	min-height: 40px;
}

.playerarea a.imageplayer {
	flex: 1;
}

.playerarea .player-outer {
	padding: 10px 0;
	height: 100%;
}

.playerarea .player {
	margin: 0 auto;
	width: 100%;
}

.player {

	/*
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto;*/
	background-size: cover;
	width: 100%;
	height: 80%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.player .video-js {
	margin: 0 auto;
	width: 90%;
	height: 100%;
}

@media (min-width: 1480px) {
	.player .video-js {
		width: 80%;
	}
}



div#hiddenoverlay .playerarea {

	width: 600px;
}


/* STACKED VIEW OVERLAY */

#emthumbholder img.mimethumb {

	position: relative;
	margin: auto;

}


div#hiddenoverlay .overlay-margin {

	width: 90px;
	position: relative;
	float: left;

}

.overlay-margin {

	height: 100%;

}

.masonry-gridX {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 2px;
}

.masonry-gridX .masonry-grid-cell {
	justify-self: flex-start;
}

.masonry-grid-cell .grid-thumbimage {
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
}

div.masonry-grid-cell .grid-thumbimage img.imagethumb {
	padding: 0;
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	/* object-position: center;
	object-fit: contain; */
	transition: all 0.1s ease;
}

/* div.masonry-grid-cell:hover .grid-thumbimage img.imagethumb {
	padding: 4px;
} */


.tumbvideocontainer {
	position: relative;
}

.emboxthumblarge {
	height: 300px;
	width: 300px;
}

.emthumblarge {
	height: 300px;
	width: 300px;
}

.emthumbboxicon {
	margin: 10px 0 0 0;
}

.emthumbboxtext {
	margin: 5px 0 0 0;
	height: 50px;
}

#emcontainer .emthumbboxtext .emtitle {
	padding: 4px 0px 0px 0px;
	text-align: left;
	font-weight: bold;
	color: white;
}


#emcontainer .emthumbboxtext .emcaption {
	padding: 2px 4px 0px 0px;
	text-align: left;
	width: 200px;
}

#emfullresults .emrounded {
	min-width: 810px;
	width: 100%;
}

#emfullresults #emslidesheet {
	min-height: 300px;
}

/*------------*/
/* pages.html */
/*------------*/

#emcontainer .emnavigateboxes {
	text-align: right;
	padding-bottom: 50px;
}

#emcontainer #navbox {

	text-align: center;
	padding-right: 5px;

}

#emcontainer #navbox A {
	background-color: #666666;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 28px;
	border: 2px solid #666666;
}

#emcontainer #navbox A:hover {
	color: #666666;
	background-color: #FFFFFF;
	border: 2px solid #666666;
}

#emcontainer #navbox A:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#emcontainer #navboxselected {
	text-align: center;
	padding-right: 5px;
}

#emcontainer #navboxselected A {
	border: 2px solid #666666;
	text-decoration: none;
	display: block;
	width: 28px;
	color: #666666;
	background-color: #FFFFFF;

}

#emcontainer #navboxselected A:visited {
	text-decoration: none;
}


#player_container {
	position: relative;
	background-color: #eee;
	width: 120px;
	height: 41px;
	border: 1px solid #009be3;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

#player_container ul#player_controls {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#player_container ul#player_controls li {
	overflow: hidden;
	text-indent: -9999px;
}

#player_play {
	position: absolute;
	left: 4px;
	top: 0px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: inline;
	background: url("../../images/audioplayer/spirites.jpg") 0 0 no-repeat;
}

#player_play.em_hover {
	background: url("../../images/audioplayer/spirites.jpg") -41px 0 no-repeat;
}

#resultselection {
	clear: both;
	height: 100% !important;
}

#resultselectionclear {
	display: block;
	float: left;
	padding: 14px 8px 0 0 !important;
	line-height: 0p !important;
}

.stackedplayer:hover {
	text-decoration: none;
}

.emthumbholder {
	height: 100%;
	width: 100%;
	/*	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;*/
}

.tablecell-asset .imagethumb,
.subentitycell-asset .imagethumb {
	width: 100%;
}

.assetstable .emthumbholder {
	height: 70px;
}


.masonry-grid-cell {
	position: relative;
	float: left;
	padding: 0;
	width: 250px;
	height: 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: #f6f3f0;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.quicksearchresults .masonry-grid-cell {
	background-color: transparent;
}

.quicksearchresults .masonry-grid-cell {
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
}


.masonry-grid-cell .grid-thumbimage {
	vertical-align: middle;
}

.masonry-grid-cell .grid-thumbimage .tumbvideocontainer {
	font-size: 11px;
}


.masonry-grid-cell .mimethumb {
	height: 60px;
}

.mimethumbcontainerX,
.imageholderX {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

.mimeconversionerror {
	color: red;
	font-size: 10px;
	position: relative;
}

.masonry-grid-cell .mimethumbcontainer {
	padding: 20% 10%;
	/*	background-color: #202835;*/
}

.masonry-grid-cell .grid-caption {
	position: absolute;
	opacity: 0;
	line-height: 1.6;
	word-break: break-word;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding: 6px 5px 5px 7px;
	top: 0;
	left: 0;
	/*top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);*/
}

.masonry-grid-cell:hover .grid-caption {
	opacity: 0.75;
	color: #fff;
	background-color: #222;
}

.masonry-grid-cell .grid-caption-show {
	opacity: 1;
	color: #333;
}


.masonry-grid-cell .grid-cell-hover {
	opacity: 0;
	background-color: rgba(255, 255, 255, .1);

	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 98;

	-webkit-transition: opacity 250ms ease-out;
	-moz-transition: opacity 250ms ease-out;
	-ms-transition: opacity 250ms ease-out;
	-o-transition: opacity 250ms ease-out;
	transition: opacity 250ms ease-out;
}

.masonry-grid-cell .grid-cell-hover:before {
	content: ' ';
	/* Must have content to display */
	position: absolute;
}

.masonry-grid-cell:hover .grid-cell-hover {
	opacity: 1;
}

.masonry-grid-cell.ui-draggable-dragging .grid-caption {
	display: none;
}

.masonry-grid-cell .grid-caption .grid-caption-link {
	display: block;
	height: calc(100% - 30px);
	;
}

.masonry-grid-cell .grid-caption .grid-caption-link spanZ {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.3;
	margin-bottom: 5px;

}

.masonry-grid-cell .grid-caption a {
	color: #eee;
}

.masonry-grid-cell .grid-caption a:hover {
	color: #87CCd2;
	text-decoration: none;
}

.grid-caption .plaintext-detail {
	display: block;
}

.grid-caption .plaintextviewer-field {
	display: inline-block;
}

.grid-caption .plaintextviewer-value {
	display: inline-block;
}

.grid-caption .badge {
	font-size: 0.8rem;
}

.masonry-grid-cell .grid-gallery-checkbox {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 100;
}

.masonry-grid-cell .selectionbox,
.emgallery .emthumbbox .selectionbox {
	display: none;
}

.selectionbox-label {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #cfcfcf;
	background-color: #fff;
	border-radius: 4px;
	z-index: 100;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2) inset;
	cursor: pointer;
}

.emgallery .selectionbox-label {
	color: #cccccc;
	outline: 1px solid rgba(95, 115, 158, 0.25);
	transition: all 0.2s ease-in-out;
}

.emthumbbox:hover .selectionbox-label {
	color: #959595;
	outline: 1px solid rgba(95, 115, 158, 0.4);
}

.masonry-grid-cell .selectionbox-label {
	box-shadow: none;
	opacity: 0;
}

.selectionbox:checked~.selectionbox-label {
	color: #ffffff;
	background-color: #333e55;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.grid-gallery-checked {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	background: rgba(108, 155, 255, 0.5);
	border: #5f739e solid 3px;
	z-index: 98;
	transition: all 0.2s ease-in-out;
}

.emgallery .grid-gallery-checked {
	border: #5f739e solid 3px;
}

.selectionbox:checked~.grid-gallery-checked {
	opacity: 1;
}

.masonry-grid-cell:hover .grid-gallery-checked {
	background: rgba(255, 255, 255, 0);
}

.masonry-grid-cell:hover .grid-gallery-checkbox,
.masonry-grid-cell:hover .selectionbox-label,
.selectionbox:checked~.selectionbox-label,
.emrowselected .grid-gallery-checkbox {
	opacity: 1;
	display: block;
}

.emgrid-seemore {
	float: right;
}

.emgrid-module-media .emselectable {
	margin-bottom: 10px;
}

.emgrid-module-media .emgrid-seemore {
	padding: 3px 10px 3px 0;
}

.emgrid-module-media .emgrid-seemore a,
.emgrid-module-media .resultsnumber {
	color: #fff;
}

.grid-gallery-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
	padding: 8px;
	z-index: 100;
	font-size: 0.85rem;
	line-height: 1;
	height: 25px;
	font-weight: 600;
	color: #fff;
	transform: translateY(25px);
	transition: transform 0.2s ease-in-out;
}

.masonry-grid-cell:hover .grid-gallery-footer {
	transform: translateY(0);
}

.grid-gallery-footer a {
	display: inline-block;
	padding: 0 3px;
}

.grid-gallery-footer a:hover {
	color: #000;
	text-decoration: none;
}

.grid-gallery-footer a.btn-sm,
.btn-view-media {
	font-size: 0.7rem;
	padding: .25rem .5rem;

}

.grid-gallery-footer .favorite-text,
.gallerycell-favorite .favorite-text {
	display: none;
}

.emgrid-moredetails {
	position: absolute;
	top: 6px;
	right: 6px;
}

.emgrid-moredetailsright {
	display: inline-block;
}

.emgrid-moredetailsright .emgrid-favoriteicon {
	height: 20px;
}

.masonry-grid-cell .audio-thumb-container {
	z-index: 99;
	position: absolute;
	width: 70%;
	bottom: 45px;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.masonry-grid-cell .grid-caption-audio {
	padding-top: 5px;
	opacity: 1;
}

.masonry-grid-cell .grid-caption-audio a,
.grid-caption-audio .grid-gallery-footer {
	color: #777;
}

.masonry-grid-cell:hover .grid-gallery-footer {
	color: #eee;
}

.masonry-grid-cell:hover .grid-caption a {
	color: #eee;
}

.quicksearchresults .masonry-grid-cell .audio-thumb-container {
	bottom: 18px;
}

.quicksearchresults .masonry-grid-cell .audio-thumb-container .jp-duration,
.quicksearchresults .masonry-grid-cell .audio-thumb-container .jp-current-time {
	color: #555;
}

.quicksearchresults .masonry-grid-cell:hover .audio-thumb-container .jp-duration,
.quicksearchresults .masonry-grid-cell:hover .audio-thumb-container .jp-current-time {
	color: #ddd;
}

.expandedmodule {
	padding: 0 15px 15px !important;
	margin: 0;
}

@media (min-width: 640px) {
	.emresultscontainer {
		padding: 20px 30px;
	}
}

@media (min-width: 768px) {
	.emresultscontainer {
		padding: 20px;
	}
}

@media (min-width: 992px) {
	.emresultscontainer {
		padding: 20px;
	}

}

.emgrid-subtitle {
	padding: 5px 0 10px 0;
}

.emgrid-subtitle h2 {
	font-size: 1.5rem;
	color: #efefef;
	font-weight: bold;
	float: left;
}

.emgrid-subtitle h3 {
	font-size: 1.1rem;
	color: #fff;
	padding: 0px;
	margin: 0;
	font-weight: normal;
	float: left;
}

.emgrid-subtitle h3 .count {
	font-weight: normal;
	color: #ddd;
}

.emgrid-subtitle a {
	color: #eee;
}

.entitycontextmenu {
	color: #cbcbcb;
	margin-left: 5px;
	line-height: 1.8;
	padding: 2px;
}

.entitycontextmenu:hover {
	text-decoration: none;
	color: #eee;
}

.entitycontextmenu i {
	font-size: .8em;
	padding: 0 5px;
}

.btn-addentity {
	border-radius: 30%;
	font-size: 1.4rem;
	line-height: 1;
	margin: 4px 0 0 10px;
	display: inline-block;
}

.expandedgrid-subtitle h3 {
	font-size: 1.3rem;
	color: #efefef;
	padding: 0px;
	margin: 0;
	font-weight: normal;

}

.expandedgrid-subtitle h3 span.count {
	font-size: .85em;
	line-height: 0.5;
	color: #ddd;
}

.expandedgrid-subtitle h2 a {
	color: #efefef;
}

.expandedgrid-subtitle h2 a:hover {
	text-decoration: none;
}

.emgrid-subtitle a.entitydropdownmenu {
	color: #bbb;
	margin-left: 2px;
	padding: 0 5px;
}

.emgrid-subtitle a.entitydropdownmenu:hover {
	text-decoration: none;
}

.emgrid-subtitle .dropdown-menu .dropdown-item {
	color: #202835;
}

.minimizeexpandedmodule {
	color: #bbb;
	padding-right: 10px;
	font-size: 1.1rem;
	position: absolute;
	top: 10px;
	right: 10px;
}

.minimizeexpandedmodule:hover {
	color: #fff;
}

.emgrid-footer {
	height: 22px;
}

.emgrid-expanded .emgrid-subtitle {
	padding: 10px;
	margin-bottom: 0px;
}


.emgrid-entitydescription {
	line-height: 1.2;
	padding: 5px 0 0 0;

}

.emresultsgrid .pages {
	color: #ddd;
	height: 24px;
	margin-bottom: 15px;
}

.emresultsgrid .emgrid {
	margin-left: 0px;
}

.overlay-panel {
	margin: 50px;
	height: 60%;
}

.panel-heading>.overlay-close {
	z-index: 10;
	position: absolute;
	right: 60px;
	top: 60px;
}

.hiddenoverlay>div {
	flex: 1;

}

#hiddenoverlay {
	background-color: #000;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;

}

.overlay-popup.largeicon {
	font-size: 30px;
	color: rgb(200, 200, 200);
	position: fixed;
	left: 40px;
	top: 10px;
	z-index: 10001;
}

.overlay-close.largeicon {
	font-size: 20px;
	color: #aaa;
	position: fixed;
	right: 12px;
	top: 1px;
	z-index: 10001;
	cursor: pointer;
}

.overlay-close.largeicon:hover {
	color: #fff;
}

/* .entitydialog .entityclose {
	position: absolute;
	right: 0;
	top: 0;
} */

.entitydialog .entityclose span {
	transform: scale(0.8);
}

div#hiddenoverlay span.glyphicon.glyphicon-new-window {
	cursor: pointer;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

span.glyphicon-triangle-right.overlay-nav {

	cursor: pointer;
}

span.glyphicon-triangle-left.overlay-nav {

	cursor: pointer;
}

#main-media {
	display: block;
	margin: auto;
	position: relative;
}

#emcontainer #emselectable #main-results-table .tableresults tr td {
	height: 68px;

}


.badgecontainer {
	position: absolute;
	top: 6px;
	right: 6px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	z-index: 99;
}

td.resultstablecell .badgecontainer {
	top: auto;
	right: auto;
	bottom: 0;
	left: 5px;
	transform: scale(0.8) translate(-10%, -10%);
	padding: 4px;
	border-radius: 4px;
	opacity: 0.8;
}

td.resultstablecell:hover .badgecontainer {
	opacity: 1;
}

.assetVoteTool .badgecontainer {
	bottom: auto;
	top: auto;
	right: auto;
	position: relative;
}

.assetVoteTool>.gallerycell-favorite {
	margin-left: 8px;
}

.embadge {
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 0px;
	margin-left: 4px;
	background-color: transparent;
	background-size: 25px 30px;
	border-radius: 4px;
}

.emgallery {
	margin-top: 6px;
	text-align: left;
	background-color: #202835;
}

.embedmediacol .emgallery {
	background-color: transparent;
}

.emgallery .emthumbbox {
	padding: 35px 0 8px 0;
	background: #ffffff;
	margin: 5px;
	display: inline-block;
	text-align: center;
	position: relative;
	width: 220px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
}


.emgallery .emthumbimage {
	position: relative;
	width: 100%;
	height: 218px;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emgallery .emthumbimage .emthumbholder {
	display: flex;
	justify-content: center;
	align-items: center;

}


.emgallery .gallery-caption {
	text-align: left;
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 2px 10px;
	border-radius: 0 0 0 5px;
}

.emgallery .jp-duration,
.emgallery .jp-audio {
	color: #000;
}

.emgallery .emthumbimage img {
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	max-height: 200px;
}

.emgallery .emthumbimage.emthumb:hover img.emdropshadow:hover {
	box-shadow: none;
	border: none;
}

.assetVoteTool {
	position: absolute;
	top: 6px;
	right: 6px;
	z-index: 2;
}

.assetVoteTool>div,
.assetVoteTool>a {
	display: inline-block;
	margin: 0 4px;
}

.assetVoteTool .votebox {
	background: white;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 2px 0px 0 3px;
	position: relative;
	top: 0px;
	height: 27px;
	display: block;
	border-radius: 0 5px 0 5px;
}

.assetVoteTool .votecounter {
	text-decoration: none;
	margin-right: 5px;
}

.favorite-star {
	display: block;
	color: #5f739e;
	transition: all 0.2s ease;
}

.favorite-star:hover {
	color: #5f739e;
	filter: drop-shadow(0 0 2px #5f739e);
}

/* #embody .emgallery a.updatebasket {} */

/* .emgallery a.updatebasket .remove {} */

.gallery-caption {
	position: relative;
}

.gallery-field-label {
	text-align: left;
	font-size: 10px;
	color: #666;
	font-weight: bold;
}

.gallery-field-info {
	text-align: left;
	color: #444;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 95%;
	white-space: nowrap;
}

.gallery-field-info a {
	font-weight: normal;
	color: #555;
	font-size: 0.85rem;
	line-height: 1.6;
}

.gallery-field-info a:hover {
	text-decoration: underline;
	color: #000;
}

.gallerycell-download {
	color: #666;
}

.gallerycell-download:hover {
	color: #000;

}

.gallery-field-basket {
	position: absolute;
	top: 6px;
	right: 4px;
}

.gallery-field-basket a {
	color: #afafaf
}

.gallery-field-basket a:hover,
.remove-from-basket {
	color: #000;
}

.gallery-checkbox {
	position: absolute;
	top: 6px;
	left: 6px;
	border-left: none;
	border-top: none;
	border-radius: 0 0 3px 0;
	padding: 4px 5px 2px 4px;
	z-index: 100;
}

.gallery-checkbox input[type="checkbox"] {
	transform: scale(1.3);
}

/* VOTING */
#assetVoteCount {
	text-align: center;
}

#asset-viewer-status {
	background: #f7f7f7;
	border-top: 1px solid #000;
	border-bottom: 1px solid #999;
	padding: 16px 13px 16px 13px;

}

#status-flag {
	float: right;
	background: #777;
	border: 1px solid #444;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	/* display: inline-block; */
	padding: 5px 20px;
	margin-top: -10px;
}

#status-flag .emdatafield {
	display: inline-block;
	color: #ccc;
	padding: 0;
}

#status-flag .emdatafieldvalue {
	display: inline-block;
	padding: 0;
}

#assetVoteCount .star {
	display: inline-block;
	line-height: 1;
}

#assetVoteCount .star.full {
	color: #FEDC71;
}

#assetVoteCount .voting-label {
	line-height: 1.5;
	display: inline-block;
}

#assetVoteTool {
	/* display: inline-block; */
	position: relative;
	float: right;
	height: 0px;
}

#assetVoteTool .votebox {
	background: white;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 2px 0px 0 3px;
	position: relative;
	top: 0px;
	height: 27px;
	display: block;
	border-radius: 0 5px 0 5px;
}

#assetVoteTool .star {
	display: block;
	width: 26px;
	margin: 0 5px 0 3px;
	font-size: 120%;
	color: #afafaf;
}

#assetVoteTool .votecounter {
	text-decoration: none;
	margin-right: 5px;
}

#assetVoteTool .star:hover,
#assetVoteTool .star.full {
	color: #FEDC71;
	text-decoration: none;
}

#assetVoteTool a {
	color: #3490B2;
	text-decoration: none;
}

#assetVoteTool a:hover {
	text-decoration: underline;
}



.assetpanel-sidebar .carousel {
	height: 100%;
	overflow-y: auto;
	background-color: #565656;
}

.assetpanel-sidebar .gallery-item {
	display: block;
	position: relative;
	padding: 8px 5px;
	text-align: center;
}

.assetpanel-sidebar .gallery-item-title {
	overflow: hidden;
	display: block;
	height: 28px;
	padding: 4px 8px;

}

.gallery-item-title label {
	line-height: 20px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.assetpanel-sidebar .gallery-thumb.active-asset {
	background-color: #ccc;
	border-right: 0px solid #ccc;
	opacity: 1;
	filter: alpha(opacity=100);
}

.assetpanel-sidebar .gallery-thumb {
	background-color: #e1e1e1;
	border-bottom: 1px solid #565656;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.assetpanel-sidebar .gallery-thumb a {
	text-decoration: none;
}

.assetpanel-sidebar .gallery-thumb:hover {
	/*background-color: #d0e6ef;*/
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.assetpanel-sidebar .gallery-thumb.active-asset:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.assetpanel-sidebar .gallery-thumb:hover .gallery-item-title {
	color: #fff;
	background-color: rgba(20, 20, 20, 0.6);
}

.assetpanel-sidebar .gallery-thumb.selected-asset {
	background-color: #ccc;
	border-right: 0px solid #ccc;
	opacity: 1;
	filter: alpha(opacity=100);
}

.carousel-items .smallthumb {
	max-width: 160px;
	max-height: 100px;
}

.category-search-hit {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

.category-search-hit .category-search-hit-tools {
	top: 5px;
	right: 5px;
	display: none;
}

.category-search-hit .category-search-hit-icon {
	font-size: 1.2em;
	position: absolute;
	left: 5px;
	line-height: 1.5em;
	display: inline;
}

.category-search-hit .category-search-hit-name {
	margin-left: 30px;
	font-size: 1.2em;
	line-height: 1.5em;
	display: inline;
}


.emresultscontainer {
	padding: 0;
	overflow-y: auto;
}

.suggestionscontainer {
	margin: 10px 30px 20px 30px;
	padding: 10px;
	background-color: #efefef;
}

.emresultscontainer.emresultsgrid {
	margin: 0;
}

.emgridflex {
	display: flex;
	justify-content: flex-start;
}

.emgrid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 1072px;
}

.emgridnav {
	width: 24px;
	height: 150px;
	padding-top: 60px;
}

.emgridnav a {
	display: block;
	height: 40px;
	width: 20px;
	padding: 10px 0;
	background-color: #202835;
}

.emgridnav a:hover {
	background-color: #56818F
}

.emgrid-module {
	padding: 12px 7px;
}

.modulesearchmodules .emgrid-module {
	margin: 0 10px 10px;
}

.emgrid-box {
	/*	background-color: #202835;	
	border-bottom:1px solid #333;*/
	position: relative;
	margin: 0;
	padding: 0;
	/* background-color: #202835; */

}

.emgrid-column {
	float: none;
	margin: 0 15px 20px 10px;
}

.emgrid-box .filtered {
	float: left;
	padding: 3px 0 0 5px;
}

.emgrid-box .filtered a {
	color: #bbb;
}

.emgrid-box .filtered .btn-sm {
	padding: .15rem .75rem;
	line-height: 1.2;
}

@media (min-width: 1282px) {
	.emgrid-column {
		margin: 0 10px 20px 10px;
	}


}

@media (min-width: 1440px) {
	.emgrid-module {
		padding: 15px;
	}

	.emgrid-column {

		margin: 0 0 20px 10px;
	}

	.expandedmodule {
		margin: 0;
	}
}

@media (min-width: 1680px) {
	.emgrid-module {
		padding: 15px 20px;
	}

	.emgrid-column {

		margin: 0 10px 20px 10px;
	}

}

.emresultscontainer.emresultstable {
	background-color: #ffffff;
}

.emresultscontainer .resultsnavright {
	color: #eee;
}

.emgridcell-card {
	margin: 0;
	position: absolute;
	border: 0px solid #ccc;
	border-radius: .20rem;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	visibility: hidden;
	background-color: #efefef;
	color: #111;
	max-width: 360px;
	height: 175px;
}

.entitycell {
	border-radius: .20rem;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
	background-color: #efefef;
	color: #111;
	width: 360px;
	height: 165px;
	float: left;
	margin: 0 10px 10px 0;
}


.emgridcell {
	margin: 0;
	position: absolute;
	visibility: hidden;
	color: #111;
	max-width: 360px;
	height: 150px;
}

.emgridcellC-header {
	background-color: #4d5d80;
	color: #fff;
	border-top-left-radius: 14px;
	border-top-right-radius: 0;
	padding: 0;
	width: 30%;
	height: 15px;
	display: inline-block;
	position: relative;
}

.emgridcellC-header:after,
.entitycellC-header:before {
	content: '';
	display: block;
	position: absolute;
}

.emgridcellC-header:after {
	top: -15px;
	right: -15px;
	border: 15px solid transparent
}

.emgridcellC-header:after {
	border-bottom-color: #4d5d80;
}


.emgridcellC .emgrid-content {
	background-color: #4d5d80;
	margin-top: -8px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
	padding-top: 15px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}



.emgridcellC:hover .emgridcellC-header,
.emgridcellC:hover .emgrid-content,
.emgridcellC.active .emgridcellC-header,
.emgridcellC.active .emgrid-content {
	background-color: #5f739e;
}

.emgridcellC:hover .emgridcellC-header:after,
.emgridcellC.active .emgridcellC-header:after {
	border-bottom-color: #5f739e;
}

.emgridcellC .emthumbholder {
	text-align: center;
}

.emgridC-entitymedia {
	height: calc(100% - 28px);
	padding: 5px 0;
	margin: 0 4px;
}

.emgridcellC .emthumbholder .img-fluid {
	max-height: 100%;
	border-radius: 4px;
}

.emgridC-name {
	text-align: center;
	padding: 0px 6px 0;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	max-width: 95%;
	height: 1.2rem;
}

.emgrid-content .drop-over {
	border: 2px solid transparent;
}

.emgrid-content .drop-over.uploaddragenter {
	border: 2px dashed #47505e;
}


.grid-entity-images-icon {
	width: 22px;
	position: absolute;
	bottom: 10px;
	right: 15px;
}



.emgrid-addmore {
	padding: 15px 0 0 5px;
	width: 60px;
	height: 122px;

}

.emgrid-addmore a {
	display: block;
	background-color: #1f425852;
	border-radius: 14px;
	padding: 45px 10px;
	text-align: center;
	font-size: 0.9em;
	color: #b1b1b1;
}

.emgrid-addmore a:hover {
	color: #fff;
	background-color: #56818F;
}

.emgridpreviewlink {
	position: absolute;
	bottom: 2px;
	padding: 1px 5px;
	color: #b1b1b1;
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.emgridcell-media {
	height: 165px;
}

.emgrid-entitydata {
	height: 130px;
}

.emgrid-entitymedia {
	height: 130px;
}

.emgridcell-fields {
	height: 105px;
	overflow: hidden;
}

.emgridcell-entity {
	color: #333;
}

.emgridcellC a {
	color: #fff;
	width: 100%;
	text-align: center;
}

.emgridcellC a:hover {
	color: #fff;
}

.emgridcellC a i {

	font-size: 0.9em;
}

.emgridcell-category {
	border: none;
	box-shadow: none;
	visibility: hidden;
}

.emgrid-content {
	position: relative;
	height: 125px;
	min-height: 100px;
}

.emgrid-content-header {
	padding: 0px 10px 5px;
}

.emgridcell h3,
.entitycell h3 {
	margin: 0 0 0;
	font-size: 0.9rem;
}

.emgridcell h3 a {
	color: #555;
	font-weight: 700;
	text-decoration: none;
	padding: 8px 6px 5px;
	display: inline-block;
}

.emgridcell h3 a:hover {
	color: #000;
}

.emgridcell h3 a.emgridresulttitle {
	width: calc(100% - 60px);
}

.emgridcell h3 a.emgridresulttitle span {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-inline-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.4;
	padding-left: 3px;
	width: calc(100% - 28px)
}


.emgridcell-default,
.emgridcell-field-html {
	padding: 0 0;
	color: #222;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.emgrid-expanded {
	margin-bottom: 15px;
}

.emgrid-type-asset .emgrid-content-header {
	background-color: #202835;

}

.emgrid-type-asset-video .emgrid-content-header {
	background-color: #E51E25;
}

.emgrid-type-asset-document .emgrid-content-header {
	background-color: #164EA1;
}

.emgrid-type-librarycollection .emgrid-content-header {
	background-color: #16A7BA;
}

.emgrid-type-categories {
	padding: 0 0 20px 40px;
}


.emgrid-type-category .emgrid-content-header {
	background-color: #37383A;
}

.emgrid-type-category {
	color: #333666;
	height: 20px;
}

.emgrid-type-category .gridcategory-icon {
	float: left;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #ffd05b;

}

.emgrid-type-asset h3,
.emgrid-type-asset h3 a {
	color: #fff;
}

.gridcategory-name {
	line-height: 1.5em;
	vertical-align: bottom;
	float: left;
	margin-left: 10px;
	font-size: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.emgrid-type-category:hover {
	color: #000
}

.griditem-tools {
	top: 5px;
	right: 5px;
	display: none;
}

/* .emgridcell:hover {} */

/* .emgridcell:hover .emgrid-entitymedia {} */

.emgrid-content:hover .griditem-tools {
	display: block;
}

.emgrid-type-category:hover .griditem-tools {
	top: 0;
	display: block;
}

.emgridcell h4 {
	font-size: 0.9rem;
	font-weight: bold;
	padding: 0 8px;
}

.emgridcell .imageholder,
.emgridcell .tumbvideocontainer {
	height: 100%;
}

/* .emgridcell .imageholder .img-fluid,
.emgridcell .tumbvideocontainer .img-fluid {
	min-height: 100%;
} */

.emgridcell .audio-thumb-container {
	padding: 15px 0 5px;
}

.emgridcell-name {
	margin: 8px 8px 4px 8px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;

	white-space: nowrap;
}

.emgridcell-description {
	margin: 8px;
	margin-bottom: 10px;
	line-height: 1.5;
}

.emgridcell-assetimage {
	text-align: center;
	padding: 0;
	min-height: 100px;
}

.emgridcell-assetimage .videoplay-button {
	font-size: 4rem;
}

.emgriddcell-withkeywords {
	min-height: 100px;
}

.emgridcell-actions {
	height: 24px;
	padding-right: 12px;
	text-align: right;
}

.emgridcell-task h3 {
	color: #ED1D25;
}

.emgridcell-keywords {
	padding: 6px 0;
	width: 100%;

}

.emgridcell-keywords .badge {
	font-size: 0.75rem;
	background-color: #87DEFF;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 48%;
}

.emgridcell-keywords .badge:hover {
	background-color: #2A6C92;
	color: #eee;
}

.emgrid-entityheader {
	margin-bottom: 5px;
	background-color: #e1e1e1;
	border-top-left-radius: .20rem;
	border-top-right-radius: .20rem;
}

.emgridcell:hover .emgrid-entityheader {
	background-color: #c6c6c6;
}

.emgrid-entitydata {
	float: left;
	width: calc(100% - 155px);
	padding: 0 0 0 10px;
	overflow: hidden;
	line-height: 1.25;
	font-size: 0.85rem;
}

.emgrid-entitydata-full {
	width: 100%;

}

.emdatafieldreadonly-default {
	line-height: 1.4;
	margin-bottom: 5px;
}

.grid-caption-title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.4;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.emgrid-entitydata .badge {
	font-size: 0.8rem;
	max-width: 68px;
	overflow: hidden;
	text-overflow: ellipsis;

}

/* .emgridcell-fields a:hover {} */

.emgrid-entitydata .emthumbholder {
	height: 82px;

}

.expandedmodule .emgrid-entitydata .emthumbholder {
	margin: 0 20px;
}

.emgrid-entitydata .imageholder {
	position: relative;
}

.emgrid-entitydata .imagethumb {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.emgrid-entitymedia {
	float: left;
	width: 140px;
	padding: 0 0;
	border: 0 none;
	position: relative;
}

.emgrid-entitymedia.dragoverselected {
	border: 1px dashed #999;
}

.emgrid-entitymedia .grid-attachedmedia {
	width: 135px;
	height: 100px;
	text-align: center;
	overflow: hidden;
	margin: 0 0 5px 10px;
	float: left;
	/*background-color: #fff;
	border:1px solid #eee;*/
}

.emgridC-entitymedia .grid-attachedmedia {
	width: 200px;
	height: 100px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;

	/*background-color: #fff;
	border:1px solid #eee;*/
}

.emgrid-entitymedia .grid-attachedmedia .emthumbholder {
	position: relative;
}

.emgrid-entitymedia .grid-attachedmedia .imagethumb {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-attachedmedia .mimethumb {
	height: 35px;
}

.emgrid-entitymedia .uiinfo {
	display: none;
}

.grid-attachedmedia .jp-type-single,
.audio-thumb-container .jp-type-single {
	padding: 0;
}

.grid-attachedmedia-audio,
.entity-primarymedia-audio {
	max-width: 130px;
	padding-left: 3px;
	font-size: 0.9em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	text-decoration: none;
	cursor: pointer;
}

.grid-attachedmedia-audio:hover {
	text-decoration: underline;
}

.entity-primarymedia-audio {
	max-width: 200px;
	padding: 5px;
}

.emgrid-entitydata .tumbvideocontainer,
.emgrid-entitymedia .tumbvideocontainer,
.entity-media .tumbvideocontainer {
	font-size: 6px;
}


.emgridcell {
	height: 180px;
}

.tablecell-primarymedia .emgridcell {
	height: 125px;
}

.emgrid-content {
	height: 105px;
	min-height: 105px;
	font-size: 0.8rem;
	padding-top: 8px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.emgridC-entitymedia {
	padding: 0;
	height: calc(100% - 18px);
}

.emgridcellC-header {
	width: 77%;
	height: 18px;
	border-top-left-radius: 10px;
	transform: translateY(1px);
	z-index: 1;
}

.emgridcellC-header:after {
	top: -18px;
	right: -18px;
	border: 18px solid transparent;

}

.emgridcellC-header:after {
	border-bottom-color: #4d5d80;
}

.emgridcellC-header a {
	color: #fff;
	width: 95%;
	text-align: left;
	height: 20px;
	font-size: 0.95em;
	display: -webkit-inline-box;
	padding-left: 8px;
	line-height: 1.4;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.emgridC-name {
	width: 100%;
	max-width: 100%;
	padding: 0 5px;
}

.quicksearchresults {
	overflow-y: auto;
	height: 100%;
}

.gridcellhighligh {
	margin-bottom: 10px;
	padding: 5px;
	font-size: 0.9em;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.gridcellhighligh em {
	font-weight: bold;

}

.quicksearchresults .grid-thumbimage .importstatusreport {
	color: #666;
}


.modal-entity .entity-media .grid-attachedmedia {
	width: 160px;
	text-align: center;
	margin: 0 auto 10px;
	overflow: hidden;
	position: relative;
	border: 1px solid #222;
}

/* .modal-entity .grid-attachedmedia .imageholder,
.modal-entity .grid-attachedmedia .mimethumbcontainer {
	transform: initial;
} */

.modal-entity .grid-attachedmedia .mimethumbcontainer {
	height: 75px;

}

.modal-entity .entity-media .grid-attachedmedia .audio-thumb-container {
	margin: 25px 0 25px;
}

.modal-entity .entity-media .grid-isprimaryimage {
	border: 1px solid #eee;
	padding: 1px;
	overflow: hidden;
}

.modal-entity .entity-media .grid-attachedmedia .emthumbholder {
	color: #ddd;
}

.modal-entity .entity-media .grid-attachedmedia .mimethumb {
	height: 60px;
	padding-top: 15px;
}

.modal-entity .grid-attachedmedia .emthumbholder,
.modal-entity .grid-attachedmedia .imageholder {
	position: relative;
	height: 110px;
}

.modal-entity .entity-media .imagethumb {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-entity .entity-media-faceprofile .imagethumb {
	position: relative;
	transform: none;
	left: 0;
	top: 0;
}

.modal-entity .entity-media .grid-makeprimary,
.faceprofile-attachedmedia .grid-makeprimary {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0;
	display: none;
	font-size: 0.8rem;

}

.grid-attachedmedia:hover .grid-makeprimary,
.faceprofile-attachedmedia:hover .grid-makeprimary {
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 201;
}

.grid-attachedmedia:hover .grid-makeprimary a,
.faceprofile-attachedmedia:hover .grid-makeprimary a {
	color: #ddd;
	padding: 0 6px;
	display: block;
}

.grid-attachedmedia:hover .grid-makeprimary a:hover,
.faceprofile-attachedmedia:hover .grid-makeprimary a:hover {
	color: #fff;
	text-decoration: none;
}


.entity-actions-bar {
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.entity-actions-bar a {
	color: #ddd;
	padding: 3px 6px;
	margin: 0 4px;
}

.entity-actions-bar a:hover {
	color: #5f739e;
}

.emshowbox canvas {
	z-index: 200;
}

.entity-actions-bar .emgrid-favoriteicon {
	display: inline-block;
}

.gridresultscount {
	padding: 5px 0;
	font-size: .9rem;
}

.entity-media,
.entity-metadata,
.entity-data {
	float: left;
}

.entity-media-faceprofile {
	padding: 25px 15px 20px;
	min-height: 180px;
	/*max-height:640px;*/
	position: relative;
}

.entity-media a,
.entity-media .up-files-list li a,
.entity-media .up-files-list li a .name {
	color: #bbb;
}

.entity-media a:hover {
	color: #fff;
}

.entity-media .ui-widget-header {
	display: none;
}

.entity-metadata {
	padding: 25px 20px 30px;
	min-height: 300px;
	overflow-y: auto;
	height: 100%;
}

.tab-content .entity-metadata {
	padding: 8px;
}

.entity-metadata h4 {
	margin: 0 0 10px;

}

.emgrid-module .entity-seemore {
	color: #fff;
}

.entity-media-faceprofile {
	padding: 10px 12px 10px;
}

.entitymetadatamodal {
	/*	background-color: #fff;*/
	padding: 8px;
}

.editentitymetadata-submodules-container {
	padding: 0px 0 30px;
}

.editentitymetadata-submodule {
	padding: 25px 20px;
}

.editentitymetadata-submodule>h3 {
	margin: 0 0 0.75em;
	font-size: 1.1rem;
	font-weight: 600;
}

/* .editentitymetadata-submodule:nth-child(2) {} */

.editentitymetadata-submodule .submodule-actions {
	padding: 5px 0 0;
}

.editingsubmodule {
	padding: 30px 20px;
}

.entity-tab-content .emsubnav a {
	color: #333;
}

.entity-wraper {
	padding: 10px 15px;
	width: 100%;
	min-height: 540px;
	background-color: #202835;

	/*flex: 1 100%;*/
}

.entity-wraper h2 {
	font-size: 1.4rem;
	padding: 0 2px;
	color: #eee;
	margin: 0;
	line-height: 1;
}

.entitydialogback {
	color: #999;
	font-size: 0.85em;

	padding: 2px 4px;
}

.entitydialogback:hover {
	color: #fff;

}

.entity-wraper-embedded {
	padding: 10px 0px;
	width: 100%;
	min-height: 140px;

	margin-bottom: 10px;
	/*flex: 1 100%;*/
	border-bottom: 15px solid #202835;
}

.entity-wraper-embedded .entity-metadata {
	padding: 10px 0;
	min-height: 60px;
}

.entity-wraper-embedded .editentitymetadata-submodule {
	padding: 20px 0;
}

.entity-navigation {
	background-color: #333e55;
	width: 100%;
	height: 42px;
	color: #bbb;
	font-size: 1rem;
}

.entity-navigation.nav-tabs {
	border: 0 none;
}

.entity-navigation a {
	/* display: inline-block; */
	color: #bbb;
	line-height: 2;
	padding: 0 5px;
	float: left;
}

.subentity-navigation {
	background-color: #202835;
	width: 100%;
	height: 32px;
	color: #bbb;
	font-size: 1rem;
}

.subentity-navigation.nav-tabs {
	border: 0 none;
}

.subentity-navigation a {
	/* display: inline-block; */
	color: #bbb;
	line-height: 2;
	padding: 0 5px;
	float: left;
}

.entity-tab {
	padding: 0 5px 0 0;
	background-color: #333e55;
	border-right: 1px solid #4d5d80;
	transition: all 0.2s ease-in-out;
}

.entity-tab:last-child {
	border-right: 0 none;
}

.entity-tab a img {
	margin-right: 4px;
	filter: brightness(0) invert(1);
}

.entity-tab.current-entity a img {
	filter: brightness(0);
}

.entity-tab:hover {
	background-color: #4d5d80;
}

.entity-tab a.entity-tab-label {
	display: flex;
	align-items: center;
	color: #fff;
	padding: 4px 20px;
	height: 42px;
	line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-weight: bold;
}

.entity-tab.current-entity a.entity-tab-label {
	font-weight: 600;
}

.entity-tab a.entity-tab-label:hover {
	color: #fff;
}

.entity-tab.current-entity a.entity-tab-label {
	color: #000;

}

.entity-tab-label-type {
	font-weight: 600;
	color: #fff;
}

.entity-tab a.entity-tab-close {
	font-size: 0.8em;
	color: #555;
	line-height: 2.5;
}

.entity-tab a.entity-tab-close:hover {
	color: #999;

}

.current-entity,
.entity-tab.current-entity:hover {
	background-color: #ddd;
	color: #000;
	margin-top: 0;
}

.subentity-navigation .current-entity {
	border-right: 2px solid #353b44;
}

.entity-media {
	margin: 10px 0;
}

.entity-media-box {
	padding: 10px;
	height: 200px;
	min-height: 200px;
	background-color: #222;
	position: relative;
}

.entity-media-box-details {
	padding: 15px;
	height: 120px;
	min-height: 120px;
	background-color: #222;
	position: relative;
}

.entity-categorydetails {
	padding: 0 4px 10px 0;
	font-size: 0.85rem;
	color: #ccc;
}

.collapsedmediabox.entity-media-box {
	height: 40px;
	min-height: 40px;
}

.mediaboxheader {
	cursor: pointer;
}

.collapsedmediabox .mediaboxbody {
	display: none;
}

.entity-media-header {
	height: 30px;
}

.entity-media-header a {
	float: right;
	padding: 0 4px;
	margin-left: 2px;
}

.entity-media-header h4 {
	font-size: 1rem;
	float: left;
}

.entity-media-header h4 span {
	color: #fff;
}

.entity-body {
	position: relative;
	height: calc(100% - 96px);
}

.subentity-body {
	position: relative;
}

.entity-tab-content {
	background-color: #ddd;
	height: 100%;
}

.entity-tab-media {
	height: 100%;
	padding: 5px;
}

.entity-title {
	background-color: #202835;
	padding: 10px 15px 5px;
}

.entity-tab-content::after {
	content: '';
	clear: both;

}

.entitymetadatamodal .searchonetomany {
	padding: 15px;
	border: 1px solid #555;
	background-color: #444;
}

.entity-tab-content .emgrid-box {
	border: 0 none;
	padding: 0;
	color: #333;
}


.entity-tab-content .emgrid-module-asset .emgrid-subtitle {
	top: 0;
	background-color: #ddd;
}

.entity-tab-content .emgrid-module-asset .resultsheader {
	top: 41px;
	background-color: #ddd;
}

.emgrid-module-asset .embedmediacol .resultsheader {
	top: 0px;
}

.list-attachedmedia {
	height: 30px;
	margin-bottom: 2px;
	background-color: #343434;
	padding: 2px;
}

.list-attachedmedia:hover {
	background-color: #313131;
}

.list-attacedmedia-title {
	font-size: 0.9em;
	line-height: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
}

.list-attachedmedia .imagearea {
	display: flex;
	color: #777;
}

.list-attachedmedia .imagearea:hover {
	color: #bbb;

}

.modal-entity .entity-media .list-attachedmedia .emthumbholder {
	margin-right: 5px;
}

.modal-entity .entity-media .list-attachedmedia .imagethumb {
	position: relative;
	max-height: 26px;
	width: 52px;

	top: 0;
	left: 0;
	transform: initial;
}

.entity-listasset-footer {
	padding-top: 1px;
	font-size: 0.8rem;
	position: absolute;
	bottom: 3px;
	right: 8px;
}

.searchonetomany {
	height: 100%;
	overflow-y: auto;
	padding: 0 15px 0 0;
}

@media (min-width: 980px) {
	.modal-lg .entity-media {
		width: 400px;

	}

	.modal-lg .entity-media-faceprofile {
		width: 450px;
		float: none;
	}

	.modal-lg .entity-metadata {
		width: 100%
	}

	.modal-lg .entity-metadata-faceprofile {
		width: 100%;
		float: none;
	}
}

@media (min-width: 1024px) {
	.modal-lg .entity-media {
		width: 352px;
	}

	.modal-lg .entity-metadata {
		width: 100%
	}

	.modal-lg .entity-media-faceprofile {
		width: 100%;
	}

	.modal-lg .entity-metadata-faceprofile {
		width: 920px;
	}

	.entity-media {
		width: 300px;
	}

	.entity-metadata {
		width: 725px;
	}

	.entity-metadata-withmedia {
		width: 575px;
	}

}

@media (min-width: 1280px) {
	.modal-lg .entity-media {
		width: 345px;
	}

	.modal-lg .entity-metadata {
		width: 100%
	}

	.entity-media {
		width: 480px;
	}

	.modal-lg .entity-media-faceprofile {
		width: 100%;
	}

	.entity-metadata {
		width: calc(100%);
	}

	.entity-metadata-withmedia {
		width: 100%;
	}

	.entity-metadata-faceprofile.entity-metadata-withmedia {
		width: calc(100%);
	}
}


.faceprofile-attachedmedia {
	position: relative;
	margin: 5px;
	text-align: center;
	float: left;
	height: 180px;
	overflow: hidden;
}

.entity-metadata .removefieldassetvalue {
	color: #777;
}

.entity-metadata .removefieldassetvalue:hover {
	color: #000;

}

.entity-assets-info {
	padding: 2px 5px 0px;
	font-size: 0.74rem;
	text-align: right;
}

.entity-assets-info a {

	color: #444;
}

.entity-assets-info a:hover {
	color: #000;
	text-decoration: underline;
}

.entity-assets-info .moreactions {
	float: right;
	margin-left: 15px;
	text-decoration: none;
}

.entity-assets-info .moreactions:hover {
	text-decoration: none;
}

.entity-assets-info .moreactions:hover span {
	text-decoration: underline;
}

.entity-media .entity-assets-info {
	position: absolute;
	/*width:calc(100% - 30px);*/
	width: 100%;
	bottom: 5px;
	right: 5px;
	padding: 0;
}

.modal-entity {
	background-color: #202835;
	color: #333;
	height: 100%;
}

.modal-entity .modal-body {
	padding: 0;
	/*	display: flex;*/
	height: 100%;
}

.entitydialog,
.entity-wraper {
	height: 100%;
}

.modal-entity .modal-title {
	font-size: 1.6rem;
	display: block;
	margin-bottom: 10px;
}

.modal-entity .entity-assets-info a {
	color: #bbb;
}

.modal-entity .entity-assets-info a:hover {
	color: #fff;
}

.entitiesinfputform .emdatafieldvalue {
	margin-bottom: 20px;
}

.entity-metadata .btns {
	padding: 15px 0 0;
}

.emnoresults {
	padding: 30px;
	color: #eee;
}

.entitiesinfputform .col-6:nth-child(odd) {
	padding: 0 15px 0 0;
}

.jp-play-bar,
.jp-volume-bar-value {
	width: 0;
}


.resultstablecell .audio-thumb-container {
	padding: 4px 0 21px;
}

.resultstablecell .small-thumb-container {
	padding: 6px 0;
}

.audio-thumb-name {
	font-size: 0.85rem;
	max-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	display: block;
	text-decoration: none;
}

/* PAGINATION */
.table-pagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #444;
	padding: 5px 5px 4px 5px;
	border-top: 1px solid #ddd;
}

.resultsnumber {
	float: left;
	padding: 5px;
}

.resultpages {
	position: relative;
	z-index: 600;
}

.sortable #pages {
	margin: 0;
}

.resultpages .ellipsis {
	color: #fff;
	padding: 0 5px;
	width: auto !important;
	line-height: 26px;
}

.resultpages ul li input {
	height: 36px;
	width: 76px;
	padding: 0 10px;
	color: #fff;
	background-color: #5f739e;
	border: 0;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: all 0.2s ease-in-out;
}

.resultpages ul li input::placeholder {
	color: #fff;
}

.resultpages ul li input:focus::placeholder {
	color: #ccc;
}

.resultpages ul li input:focus {
	background-color: #4d5d80;
	outline: none;
}

.resultpages ul {
	margin: 0px;
	padding: 0px;
	display: block;
	position: relative;
	top: 0px;
	border: 0px;
	border-top: none;
	z-index: 600;
	padding: 0;
	margin: 0;
	box-shadow: none;
	background: transparent;
}

.resultpages ul li {
	list-style: none;
	display: block;
}

.resultpages ul li a {
	display: block;
	font-size: 14px;
	padding: 0 5px;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	background: #4d5d80;
	color: #ffffff !important;
	transition: all 0.2s ease-in-out;
}

.resultpages ul li a:hover {
	background-color: #5f739e;
}

.resultpages ul li.current a {
	font-weight: bold;
	color: #444444 !important;
	background-color: #ffffff;
}

.resultpages ul li.pagenav {
	width: 22px;
}

.resultpages ul li.pagenav a span.glyphicon-triangle-right {

	margin-right: -3px;
	margin-top: 6px;
	position: relative;

}

.resultpages ul li.pagenav a span.glyphicon-triangle-left {

	margin-right: -3px;
	margin-top: 6px;
	position: relative;

}

ul.posresultsnavright {
	padding: 0 15px 0 0;
	margin: 0;
	list-style: none;
	float: right;
}

ul.posresultsnavright li.textheader {
	white-space: nowrap;
	vertical-align: top;
	display: inline-block;
	font-size: 0.9rem;
}

ul.posresultsnavright li.resultpages {
	display: inline-block;
}

ul.inlinelist {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.inlinelist li {
	white-space: nowrap;
	vertical-align: top;
	display: inline-block;
}

/* .expandedmodule .emsubnav {} */

.expandedmodule .emresultscontainer {
	z-index: 200;
	position: relative;
}

.expandedentityactions {
	/*padding:10px 0;*/
	position: sticky;
	z-index: 20;
	top: 0;
	background-color: #202835;
}

.loadericon {
	width: 122px;
	height: 22px;
	text-align: left;
	display: none;
}


.embedded-player-table {
	padding: 10% 0 0;
}



.fas[data-count] {
	position: relative;
}

.fas[data-count]:after {
	position: absolute;
	right: -0.75em;
	top: -.75em;
	content: attr(data-count);
	padding: .5em;
	border-radius: 10em;
	line-height: .9em;
	color: white;
	background: rgba(46, 126, 150, .75);
	text-align: center;
	min-width: 2em;
	font: bold .5em sans-serif;
}

.entityidfooter {
	color: #555;
	font-size: 0.85rem;
	position: absolute;
	bottom: 3px;
	left: 10px;
}


.entityheaderincategory {
	float: left;
	margin: 0 0 0 25px;
	border-left: 1px solid #555;
	padding: 0px 25px;
}

.entityheaderincat-description {
	padding: 5px 0 0;
	color: #ddd;
	max-width: 400px;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.4;
	margin-bottom: 5px;
}


.entitiesontop {
	padding: 10px 0 0 0;
}

.entitypopup {
	position: absolute;
}

.typeaheadmodal {
	color: #666;
}

.qsresultsEntity {
	display: inline-block;
	line-height: 25px;
	color: #555;
	margin-bottom: 5px;
}

.qsresultsEntity .count {
	font-size: 0.85rem;
}

.qsresultsEntity:hover,
.qsresultsEntityall:hover {
	color: #000;

}

.qsresultsEntityall {

	padding: 1px 4px;
	font-size: 0.85rem;
	margin-left: 5px;
}

.qsresultsEntitytext {

	font-weight: bold;
}

.qsresultsEntity:hover .qsresultsEntitytext {
	border-bottom: 1px solid #999;
	font-weight: bold;
}

.quicksearchlinks {
	color: #666;
	text-decoration: underline;
	padding: 1px 4px;
	border-radius: 2px;
	display: inline-block;
	font-size: 0.85rem;
	margin-bottom: 5px;
}

.quicksearchlinks b {
	color: #333;
}

.quicksearchlinks:hover {
	color: #000;
	text-decoration: underline;
	background-color: #e1e1e1;
}

.mediacenterheader {
	position: sticky;
	top: 0;
	background: linear-gradient(180deg, #333e55, #202835);
	z-index: 235;
}

.entitynabarcontainer {
	padding: 0;
	width: 100%;
	margin: 0 auto 10px;
	background-color: #202835;
	position: sticky;
	top: 120px;
	z-index: 230;
}

.filteredmain {
	position: sticky;
	height: 50px;
	top: 131px;
	z-index: 210;
	padding-bottom: 15px;
}

.table.emresultstable,
.tablecontainer .table {
	width: calc(100% - 1px);
	margin-bottom: 0;
}

.tableresults {
	display: flex;
	flex-direction: column;
}

.expandedmodule .expandedentityactions {
	padding-left: 10px;
	padding-right: 10px;
}

.resultsheader {
	/* position: sticky; */
	z-index: 1025;
	top: 172px;
	background-color: #202835;
	border-bottom: 1px solid #5f739e;
}

.emgrid-module-asset .resultsheader {
	top: 222px;
}

.emgrid-subtitle {
	background-color: #202835;
	position: sticky;
	top: 156px;
	z-index: 220;
}

.emgrid-module-asset .emgrid-subtitle {
	top: 156px;
	padding: 12px 0 16px;
}

.emgrid-subtitle .dropdown-menu {
	font-size: 0.95rem;
}

.emgrid-subtitle .dropdown-menu a {
	padding: 0.5rem 1rem;
}

.emgrid-subtitle .dropdown-menu a i {
	width: 22px;
	text-align: center;
}

.emresultsstackedgallery {
	background-color: #202835;
}

.embedmediacontainer .emresultsstackedgallery {
	background-color: #fff;
}

.assetsresultscontainer {
	position: relative;
}


.embedmediacontainer {
	display: flex;
	height: 100%;
}

.embedmediacol {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.embedmediacol-tree {
	width: 260px;
	transition: all 0.2s ease-in-out;
}

.embedmediacol-results {
	width: calc(100% - 260px);
	background-color: #fff;
	min-height: 100px;
	overflow-y: auto;
}

.embedmediacol-tree .emtree {
	padding: 5px;
}

.embedmediacol-tree .embedmediacolheader {
	background-color: #4d5d80;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 36px;
	height: 36px;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.dialogmediacol-faceprofiles {
	width: 100%;
	;
}

.embedmediacolactions {
	height: 36px;
	position: relative;
	background-color: #4d5d80;
}

.embedmediacolactions a {
	color: #fff;
	width: 36px;
	height: 36px;
	line-height: 38px;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.embedmediacolactions a:hover,
.embedmediacolactions a:hover .embedmediacolheader {
	background-color: #5f739e;
}

.embedmediacolactions a:last-child {
	border-right: 1px solid #333e55
}

.embedmediatree {
	background-color: #fff;
	border-right: 1px solid #e5e5e5;
	height: calc(100% - 36px);
	overflow: auto;
}

.embedmediacolheader a {
	color: #ddd;
	display: inline-block;
	padding: 3px 6px;
	height: 31px;
	line-height: 1.85;
}

.embedmediacolheader a:hover {
	color: #fff;
	background-color: #444;
}

.entityuploadheader {
	height: 38px;
	background-color: #333;
	color: #eee;
	line-height: 1.5;
	padding: 6px 15px;
}

.entityuploadheader .uploadto-breadcrumb a {
	color: #eee;
	line-height: 1.5;
}

.embedmediacontainer .emsubnav a {
	color: #333;
}



#searcharea.modal-sm .modal-body {
	padding: 0 0.7rem 0.7rem;
}

.filterbox-mainsearch .select2-container--default .select2-selection--multiple .select2-selection__choice,
.navbar-quicksearch .select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color: transparent;
	border: 0 none;
	padding: 0;
}

.filterbox-mainsearch .select2-container--default .select2-selection--multiple .select2-selection__choice__display,
.navbar-quicksearch .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
	padding-right: 0;
	color: #000;
}

.navbar-quicksearch .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	display: none;
}

.navbar-quicksearch .select2-container {
	width: 100%;
}

.navbar-quicksearch .select2-container--open .select2-dropdown--below {
	max-width: 50%;
}

.select2-dropdown {
	background-color: #4d5d80;
	border: 1px solid #5f739e;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 0;
	border-radius: 4px;
}

.select2-results__options li {
	color: #fff;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background-color: #5f739e;
	color: white;
}

.select2-container--default .select2-results__option--selected {
	background-color: #333e55;
}

.resultsarea {
	display: flex;
	flex-direction: row;
	border-top: 1px solid rgba(95, 115, 158, 0.65);
	min-height: calc(100vh - 250px);
}

a.toggledialogtree {
	width: auto;
	flex: 1;
	padding: 0 10px;
}

a.toggledialogtree h3 {
	margin-left: 8px;
}

.ui-widget-content.ui-datepicker {
	padding: 4px;
	background: #ffffff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: -1px 1px 5px #4d5d80;
}

.ui-datepicker table {
	margin: 0;
}

.ui-widget-content {
	color: #333e55;
}

.ui-corner-all {
	background-color: #4d5d80;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #4d5d80;
	background-color: #5f749e;
	border-radius: 4px;
}

.ui-state-default.ui-state-hover {
	border: 1px solid #333e55;
	background-color: #4d5d80;
	color: #ffffff;

}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #5f749e;
	background: none;
	background-color: #ffffff;
	color: #333e55;
}

.ui-state-highlight.ui-state-hover {
	border: 1px solid #333e55;
	background-color: #4d5d80;
	color: #ffffff;
}

.ui-datepicker-next.ui-datepicker-next-hover,
.ui-datepicker-prev.ui-datepicker-prev-hover {
	background-color: #5f749e;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 0.9rem;
	color: #333e55;
}

.ui-datepicker .ui-datepicker-next {
	right: 0;
}

.ui-datepicker .ui-datepicker-prev {
	left: 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 0;
	width: 2em;
	height: 100%;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
	display: flex;
	justify-content: center;
	align-items: center;
}