#if( !$values && $data )
	#set($values = $data.getValue("category-exact") )
#end
#if( $values )
	<div class="tageditor-viewer">
		#foreach( $type in $values )
			#set( $row = false )
			#set( $row = $mediaarchive.getCategory($type) )
		    #if( $row )
		      <a href="$home$apphome/views/modules/asset/viewfiles/$!{row.getId()}/#dash($row).html"
		      class="badge badge-categories ajax"  data-targetdiv="applicationcontent" data-oemaxlevel="5" data-scrolltocat="true">#esc($row.getName())</a> 
		    #end 
		#end	
	</div>
#elseif( $val)
	#set( $row = $mediaarchive.getCategory($val) )
    #if( $row )
      <a href="$home$apphome/views/modules/asset//viewfiles/$!{row.getId()}/#dash($row).html"
       class="ajax" data-targetdiv="applicationcontent" data-oemaxlevel="5" data-scrolltocat="true">#esc($row.getName())</a>
    #end 
#end	