<ul class="d-flex flex-column list-unstyled accordion" id="drupalMediaAccordion">
  #foreach($row in $value)
    #set($pagelink = $row.get("page"))
    <li class="mb-2">
      <div class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <a href="$pagelink" target="_blank" class="small d-flex align-items-center text-accent flex-grow-1">
            $pagelink
          </a>
          <a type="button" class="bg-contrast text-contrast ml-1 px-1 collapsed" data-toggle="collapse" href="#drupalMedia-${foreach.count}">
            <i class="bi bi-chevron-expand ns"></i>
            <i class="bi bi-chevron-contract ns"></i>
          </a>
        </div>
       
        <div class="collapse bg-contrast py-1 px-2 mt-1 rounded" id="drupalMedia-${foreach.count}" data-parent="#drupalMediaAccordion">
          #foreach($key in $row.keySet())
            #if($key != "page")
              #set($val = $row.get($key))
              #if($key == "lang")
                #set($locale = $mediaarchive.getCachedData("locale", $val))
                #ifnotnull($locale)
                  #set($val = $locale.getName())
                #end
              #end
              <p class="mb-1 small">
                <span class="text-muted fw-bold mr-2">$key:</span><span style="word-break: break-all;">$val</span>
              </p>
            #end
          #end
        </div>
      </div>
    </li>
  #end
</ul>
