#set( $row = $searcherManager.getCachedData($detail.getListCatalogId(), $detail.getListId(), $value ))

#set($entity_module = $detail.getListId())
#ifnotnull( $row )
<ul class="entity-value-list">
    #if( $searcher.getDetail("name").isMultiLanguage())
    	#set($name = $row.getName($context.getLocale()))
    #else
    	#set($name = $row)
    #end
    #set($entityid = $row.id)
    #set($rendertype = $row.modulerendertype)
	#if(!$rendertype)
		#set($rendertype = "entity")
	#end
    #set($link = "$!{siteroot}$applink/views/modules/$!{entity_module}/components/gridsample/preview/${rendertype}.html?id=$entityid&hitssessionid=$!hits.sessionId")
    #set($urlbar = "$!{siteroot}$applink/views/modules/$!{entity_module}/index.html?id=$entityid&hitssessionid=$!hits.sessionId")
    <li>
    <a href="$link" 
    	class="emdialog entity-dialog" 
    	data-noesc="true" 
    	data-entityid="$!row.getId()"
    	data-targetrendertype="$!{rendertype}"
    	data-targetcomponenthome="$!{siteroot}$applink/views/modules/$!{entity_module}/components"
    	data-searchtype="$!entity_module"
    	data-updateurl="true"
    	data-urlbar="$!urlbar">$name</a>
    </li>
</ul>
#end
