#if(!$val)
	#if($detail.getId().equals("primarymedia"))
		#set($detail2 = $searcher.getDetail("primaryimage"))
		#if($detail2)
			#set($val = $data.get("primaryimage"))
		#end
	#end
#end
#if($val && $val != "")
	#set( $facemanager = $mediaarchive.getBean("faceProfileManager") )
	#set( $foundasset = $mediaarchive.getAsset($val)  )
	
	
	#set($h = "80")
	#set($w = "160")
	#set($link = $mediaarchive.asLinkToPreview($foundasset, "image200x200.jpg"))
	#if(!$thumbsize || $thumbsize=="medium")
		#set($h = "350")
		#set($w = "700")
		#set($link = $mediaarchive.asLinkToPreview($foundasset, "image550x350.jpg"))
	#end
	
	#set($imagelocation = $facemanager.getImageAndLocationForGroup($foundasset, $data.id, $h) )
	
	#if($imagelocation.timecodestartseconds > -1)
		 #set($link = "$link?timeoffset=$imagelocation.timecodestartseconds")
	#end
	#if($foundasset)
	<div id="${detail.id}-preview" class="assetpreviewreadonly assetdraggable ui-draggable" data-assetid="$foundrow.getId()">
		##$pages.include("$apphome/components/xml/types/assetpicker/preview.html?assetid=$val&readonly=true", $context)
		
		<div class="emshowbox faceprofileboximage" 
		style="width: ${w}px; "
			data-faceprofilegroup="$entityid" 
			data-showbox="$imagelocation.locationxy"
			data-imagewidth="${w}"
			data-imageheight="${h}">
			<img src="$!link"
				class="imagethumb" 
				style="height:${h}px;" 
				border="0"  
				data-assetid="$hit.getId()" 
				alt="[[View]]: $!hit.getName()" 
				draggable="true"
				data-sourcepath="$hit.getSourcePath()" />
		</div>
	</div>
	#end

#end

