<div style="text-align:right;color:white"><i class="fas fa-plus-square "></i> <i class="fas fa-search "></i>
</div>



<div class="libraryfinder-collections-list">

<ul class="">


#foreach( $hit in $hits.getPageOfHits() )
	#if($hit.collectionimage)
		#set($asset = $mediaarchive.getAsset($hit.collectionimage))
		#set( $link = $mediaarchive.asLinkToPreview($asset,"image200x200.jpg"))
	#end
		<li><a href="$apphome/views/modules/librarycollection/media/${hit.id}/index.html" 
	   title="$hit.name">
	 		<div class="collections-list-thumb" style='#if($link) background-image: url("#uuencode($link)") #end'>
	 			<span class="collections-list-name">$hit.name</span>
	 		</div>
	 		
	 </a>
	 </li>
#end
	</ul>
</div>