<div class="libraryfinder-header text-right">
	<a href=""><i class="fas fa-folder-plus "></i></a> 
	<a href=""><i class="fas fa-search "></i></a>
</div>


<div class="libraryfinder-collections-list">

#set( $rootpath = "${apphome}/components/categories")

##Always clear Tree if not category or nodeID
#set($clearselection = false)
#set($nodeID = $context.getRequestParameter("nodeID"))
#if(!$nodeID)
	#if (!$category)
		#set($clearselection = true)
	#end
#end


<div id="side-categories" class="assetdropcategory">
    #set( $link = "$apphome/components/emtree/tree.html")
    #set( $treename = "collectionTree$library.getId()" )
    #set( $link = "${link}?tree-name=$treename&clearselection=$clearselection&allowselections=false&editabletree=true" )
    #set( $link = "${link}&targetdiv=searchlayout&maxlevelclick=1" )
    ##set( $link = "${link}&url-prefix=$home$apphome/views/modules/category/categorysearch.html" )
    $pages.include($link, $context)
</div>


</div>