<div class="col-main-inner">
	<div class="col-sidebar-header">
		<h2 class="">[[TOPICS]]
		<a href="#"
			title="[[Hide Search Sidebar]]"
			class="sidebar-toggler sidebar-toggler-hide"
			data-action="hide" 
			data-targetdiv="col-sidebars"
			data-modulesearchhitssessionid="$modulehits.sessionId"
			
			data-sidebar="libraries">
			<i class="fas fa-angle-double-left closebar"></i>
		</a>
		</h2>
						<a href="#"
					title="[[Resize Sidebar]]"
					class="sidebar-toggler sidebar-toggler-resize"
					data-sidebar="categories">
					<i class="fas fa-arrows-alt-h "></i>
				</a>
		
	</div>
	
	<div style="padding:0px 0px 20px 10px;">
		##Where to save this?
		$pages.include("$apphome/components/sidebars/libraries/libraryfinder.html",$context)
	</div>
	
</div>
				