<div class="col-main-innerX">
	<div class="col-sidebar-header">
		<h2 class=""><i class="fas fa-grip-horizontal"></i> [[LIBRARIES]]</h2>
		<a href="#"
			title="[[Hide Search Sidebar]]"
			class="sidebar-toggler sidebar-toggler-hide"
			data-action="hide" 
			data-targetdiv="col-sidebars"
			data-sidebar="libraries">
			<i class="fas fa-angle-double-left closebar"></i>
		</a>
	</div>
	
	<div style="padding:20px 20px 20px 30px;">
		##Where to save this?
		$pages.include("$apphome/components/sidebars/libraries/libraryfinder.html",$context)
	</div>
	
</div>
				