@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body, #application {
    height: 100%;
    background-color: #eee;
}
body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
#emcontainer {
	min-height: 480px;
}
.openinstitute {
	
	text-align:center;
	
}

p {
  line-height: 1.75; 
}

a {
  color: #524104; }
  a.active, a:active, projectresultholdera:focus, a:hover {
    color: #fec503; }


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
    font-style: normal;

}
h1 {
  margin: 25px 0 20px 0;
  font-size: 2rem;
}
h2 {
  margin: 20px 0 20px;
font-size: 1.6rem; 
}
h3 {
  margin: 15px 0 15px }


.h-100-50 { height: calc(100% - 50px); }
.h-100-80 { height: calc(100% - 80px); }

.headerlogo {
	font-family: 'Paytone One', sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -.03em;
    line-height: 1.4em;
    text-transform: uppercase; 
	padding:20px 0;
}
.collection-header-actions {
	padding:5px 10px 0;
	font-size:1rem;
	position:relative;
}
.collection-header-actions a {
	color:#666;
	}
.navbar-nav {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size:1rem;
	text-transform: uppercase;
}
.entermedia-media {
  position: relative;
  width: 100%;
  max-width:1080px;
  margin:0 auto;
  height: 0;
  padding-bottom: 55.2%;
}
.entermedia-media iframe,
.entermedia-media video {
  position: absolute;
  width: 100%;
  height: 100%;  
}

.collective-social {
	padding:20px 0;
	text-align:center;
}


.feed-maincol{
	padding-right:30px;
}
.community-maincol {
	padding-right:0px;
}
 
.collective-sidebar {
	background-color: #fff;
	color:#333;
	
	padding-left:30px;
}
.suscribe-btn {
	background-color: #FFDE59;
	color:#fff;
	font-size:1.1rem;
	padding:.275rem 1.5rem;
	font-weight: bold;
}
.suscribe-btn:hover {
	color:#fff;
}
.suscribe-area {
	padding:10px 10px;
	text-align:center;
}
.suscribe-title {
	color:#E2C488;
	font-weight: bold;
}
.suscribe-title, .suscribe-headline {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	padding:10px 0;
}

.suscribers-box {
	border:1px solid #ddd;
	width: 302px;
	margin:10px auto;
}
.suscribers-box-box {
	width:100px;
	display:block;
	float:left;
	padding:10px 0;
	text-align: center;
	color:#666;
}
.box-number {
	font-size:2rem;	
	height: 38px;
	
}
.box-icons {
		height: 38px;
		padding-top:12px;
}
.box-icons a {
	color:#666;
	margin-right:5px;
}
.box-icons a:hover {
	color:#111;
}
.community-area {
	padding:10px 10px;
}
.community-area h3 {
	color:#aaa;
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
	margin:5px 0;
}
.collaborate-sidebar {
	background-color: #222;
	color:#fff;
}
.collaborate-sidebar h3 {
	font-size:1.2rem;
	margin-top:0;
	}
.collaborate-sidebar h4 {
	font-size:1.1rem;
	border-bottom:1px solid #7ED957;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-top:0;
	}
.collaborate-search {
	background-color: #464646;
	padding:10px;
	height: 50px;
}

.community-add-btn {
	font-size:1rem;
	color: #7ED957; 
	line-height: 1.6;
}

.collaborate-content {
	padding:10px;	
}

.collaborate-channels ul {
	list-style: none;
	margin:0;
	padding:0;
	}
.collaborate-channels ul li a {
	display:block;
	padding:3px 6px;
	color:#eee;
}

.collaborate-channels ul li a:hover {
	background-color: #464646;
	text-decoration: none;
	border-radius: 5px;
	}

.collaborate-channels ul li .fas {
	font-size:.80em;
	}
	
.collaborate-channel-header {
	background-color: #F2F2F3;
	padding:10px 15px;
	height: 50px;
	line-height: 30px;
}

.channel-name {
	font-size:1.1rem;
}	
	
.collaborate-content {
	padding:15px;
}
.collaborate-wirte {
	height: 30px;
	
	padding: 3px 15px;
	background-color: #F2F2F3;
	
}
.collaborate-wirte .collaborate-media {
	height: 24px;
	background-color: #9CDC81;
	color:#fff;
	display:inline-block;
	float:left;
	padding:3px;
	width:30px;
	text-align:center;
}
.collaborate-wirte .collaborate-text {
	padding: .125rem .75rem;
    font-size: .95rem;
    line-height: 1.2;
	float:left;
	width:calc(100% - 88px);
	color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
   
}
.collaborate-wirte .btn-sm {
	line-height: 1;
	border-radius: 0;
}
.chatterbox-body-inside {
	padding:10px;
}
.chatterbox-chat {
	position:relative;
	min-height: 60px;
	margin-bottom:20px;
	padding:10px;
}
.chatterbox-chat:hover {
	background-color: #fbfbfb;
}
.chat-icon {
	position:absolute;
	width:50px;
}
.chat-icon-usr {
	border-radius: 50%;
	width:40px;
}
.chat-msg {
	margin-left:50px;
}
.chat-delete {
	position: absolute;
	top:10px;
	right: 10px;
	color:#b0b0b0;
}
.chat-delete:hover {
	color:#333;
}
.feedcard-author a {
	color:#666;
	text-decoration: underline;
	
}
.feedcard-author a:hover {
	color:#56994C;
}
.feed-add-btn {
	display:block; 
	width:28px; height: 28px; 
	border-radius:50%; 
	background-color: #7ED957; 
	color:#fff;
	line-height: 30px;
	font-size:1.2rem;
	text-align:center;
	}
.feed-add-btn:hover {
	color:#fff;
	background-color: #7ED957; 
}
.feedupload { padding:20px; background-color:#f5f5f5;}

.attachfile {
	position:absolute; width:30px;
	text-align:center;
	padding:5px;
	background-color:rgba(0, 0, 0, 0.2);
	color:#fff;
	cursor: pointer;
}
.attachfile:hover {
	background-color:rgba(0, 0, 0, 0.3);
}

.attachtext {
}
.attachtext-textbox {
	padding: .25rem .75rem;
	margin-bottom:5px;
    font-size: .95rem;
    line-height: 1.2;
	width:100%;
	color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #cbd3d5;
	
}

.feedupload-uploader {
	background-color:#fafafa;
	border-bottom:2px solid #f1f1f1;
}

.feedcard {
	padding:20px 0 30px;
	border-bottom:1px solid #ddd;
	margin-bottom:20px;
	background-color: white;
	
}
.feedcard:hover {
	
}
.feedcard-title {
	font-size:2rem;
	margin-left: 10px;
}
.feedcard-author {
	font-size:.85rem;
	color:#666;
	line-height: 1.1;
	padding-bottom:15px;	
	margin-left: 10px;
}
.feedcard-body {
	padding-top:10px;
	margin-left: 10px;
	font-size:1rem;
}
.feedcard-media {
	padding-bottom:10px;
}

.feed-gallery {
	list-style: none;
	margin:0;
	padding:0;
}

.feed-gallery li {
	margin-bottom:10px;
}

.feedcard .badge-tags {
	font-size:.9rem;
	padding:.125rem .5rem;
}

.center-cropped
{
	max-height:406px;
	overflow:hidden;
} 

#topbanner
{
	background-color: white;
    margin-bottom: 20px;
}

.feed-maincol
{
	margin-left: -15px;
}
