@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body, #application {
    height: 100%;
}
body {
  overflow-x: hidden;
  max-width:100%;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .9rem;
  background-color: #eee; 
}
#emcontainer {
	min-height: 480px;
}

p {
  line-height: 1.75; 
}

h1,
h2,
h3,
h4,
h5,
h6,
.resultsnav .nav-btn,
.resultsnavright .nav-btn {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
    font-style: normal;

}
h1 {
  margin: 25px 0 20px 0;
  font-size: 2rem;
}
h2 {
  margin: 20px 0 20px;
  font-size: 1.6rem; 
}
h3 {
  margin: 15px 0 15px;
  font-size: 1.2rem;
	color:#aaa; }

h4 .btn {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

a.primary {
	color:#218838;
	text-decoration:none;
}
a.primary:hover {
	color:#000;
	text-decoration: underline;
}
a.primary:hover .fas {
	text-decoration: none;

	}
.h-100-50 { height: calc(100% - 50px); }
.h-100-80 { height: calc(100% - 80px); }

.table-hover a:hover {
	text-decoration: none;
}

.search-list li:last-child, .sidebar-list li:last-child {
    border-bottom:1px solid #e5e5e5;
}

/*Shadows*/
.collectivebanner,
.account-sidebar,
.collective-sidebar,
.collaborate-sidebar,
.maincontent,
.community-maincol,
.feedupload,
.feed-topics,
.feedupload-uploader,
.feedcard,
.profile-sidebar
.contentcolumn,
.collective-grid-logo {
	/*box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4)*/
	box-shadow:0 0 1px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.3);
}

.feed-maincol {
	box-shadow: none;	
}



#mainNav.navbar-shrink {
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4);
}

.applicationcontent {
	height: calc(100% - 70px);
	position: relative;
}
.applicationcontent.inapp {
	height: 100%;
}

.applicationcontent h1 {
    margin:20px 0;
}

.account-nav {
    border-bottom: 2px solid #666;
}
.account-nav a.navlink {
    display: inline-block;
    line-height: 1.8;
    padding:5px 6px;
    color:#999;
    text-decoration: none;
}

.account-nav a.navlink:hover {
    color:#333;
}

.account-sidebar {
    width:250px;
    z-index:100;
    position:absolute;
    height: 100%;
    background-color: #fff;
    box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
}
.account-content {
    margin-left:250px;
    margin-right:0;
    padding-top:0;
	height: calc(100% - 20px);
}
.account-content-fullwidth {
	margin:0px;
}
.inapp .account-content {
	margin:0;
	padding:0;
	height: 100%;
}

@media (max-width: 1280px) {
	.account-content {
		margin-left:0px;
	}
}


.account-content h1 {
    padding: 0 0 10px;
    margin:0 0 15px;
}

.account-content h3 i {
	font-size:.85em;
	}

.maincontent {
	background-color: #fff;
    padding:10px 30px;
    min-height: 100%;
    margin:15px 20px 10px;
}
.maincontentsidebar {
	 max-width:350px;
}
.account-sidebar .select2-container {
	z-index:102!important;
	}
.navbar-nav .select2-container {
	z-index:102!important;
}
.sidebar-box {
    margin:0px 0px 0px;
    background-color: #fff;
    z-index: 20;
    padding-bottom:40px;
 }
.sidebar-box-header {
    background-color: #f5f5f5;
    border-bottom:1px solid #e0e0e0;
    font-size: 1.1rem;
    line-height: 2;
    padding:0 20px;
}

.sidebar-box-support .sidebar-box-header  {
	   border-top: 8px solid #419D50;
}

.sidebar-box-content {
    padding:10px;
}

.sidebar-opentickets {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
}
.sidebar-opentickets li {
	display:block;
	margin-bottom: 5px;
	padding:3px;
}
.sidebar-opentickets li:hover {
	background-color: rgb(0,0,0,0.1);
}


.sidebar-list a {
    padding: 9px 10px 8px 20px;
}

.sidebar-list .badge {
	display:inline-block;
	padding:.25em .35em;
	font-size:0.8rem;
}


.sidebar-toggler {
	display:inline-block;
	position:absolute;
	right:0;
	width:32px;
	padding:0 10px;
	line-height: 36px;
	color:#666;
	background-color: #e0e0e0;
	font-size: 1.1rem;
    line-height: 2;
}
.sidebar-toggler:hover {
	background-color: #d0d0d0;
}
.sidebar-toggler-show {
	border:1px solid #c0c0c0;
	box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
	opacity: .8;
	z-index:100;
}
.sidebar-toggler-show:hover {
	opacity: 1;

	}
.oauthproviderbtn {
    margin-bottom: 15px;
	text-align:center;
}

.oauthproviderbtn img {
	width:190px;
}


.profile-username {
	padding-top:25px;
}
.profile-username h4 {
	margin-bottom:1px;

	}

.profile-imagecontainer {
	margin-bottom:20px;
	text-align:center;
	position:relative;
}
.profile-userimage {
	border-radius: 50%;
	width:120px;
	height:120px;
	border:3px solid #adb5bd;
	padding:2px;
}
.profile-editimage {
	position:absolute;
	bottom:-10px;
	left:65%;
}
.profileeditimage {
	margin-top:5px;
}

.collectivebanner {
	color:#fff;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#4E4E4E;
	width:100%;
}

.collectivelayout .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.collectivelogo {
	font-family: 'Paytone One', sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -.03em;
    line-height: 1.1em;
    text-transform: uppercase; 
	padding:20px 0 10px;
	display:inline-block;
	vertical-align: middle;
}

.collectivebanner a,
.collectivebanner a:hover {
	color:#fff;
}
.collectivebanner .navbar-brand {
	display:block;
}

.collectiveactions {
	padding:8px 10px 0;
	
	font-size:1rem;
	display:inline-block;
	vertical-align: middle;
}
.collectivebanner .dropdown-item {
	color:#666!important;
	}
.navbar-container {
	display:table;
	margin: 0 auto;
}
.navbar-collective {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size:1rem;
	text-transform: uppercase;
	list-style: none;
	margin:0;
	padding:0 0 25px;
	min-width: 300px;
	min-height: 60px;
}
.navbar-collective li {
	display:inline-block;
	padding:0 .25rem;
}
.navbar-collective .nav-link {
	padding:.25rem .5rem 2px;
}
.navbar-collective .nav-link:hover,
.navbar-collective li.active a {
	border-bottom:2px solid #FFDE59;
}
.entermedia-media {
  position: relative;
  width: 100%;
  max-width:1080px;
  margin:0 auto;
  height: 0;
  padding-bottom: 55.2%;
}
.entermedia-media iframe,
.entermedia-media video {
  position: absolute;
  width: 100%;
  height: 100%;  
}

.collective-social {
	padding:20px 0;
	text-align:center;
}

.community-maincol {
	margin:15px 20px 10px 20px;
}
.community-sidebar {
 	max-width:350px;
}
.goal-tabs {
	margin:15px 20px 10px;
}
 
.collective-sidebar {
	background-color: #fff;
	color:#333;
	height: 100%;
	padding:0 20px 0 20px;
	margin:15px 20px 0 0 ;
}
.suscribe-btn {
	background-color: #FFDE59;
	color:#fff;
	font-size:1.1rem;
	padding:.275rem 1.5rem;
	font-weight: bold;
}
.suscribe-btn:hover {
	color:#fff;
}
.suscribe-area {
	padding:10px 0;
	text-align:center;
	max-width:272px;
	margin: 0 auto;
}
.suscribe-title {
	color:#E2C488;
	font-weight: bold;
}
.suscribe-title, .suscribe-headline {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	padding:10px 0;
}

.suscribers-box {
	margin:10px auto;
	display: inline-block;
}
.suscribers-box-box {
	width:90px;
	display:block;
	float:left;
	padding:10px 0;
	text-align: center;
	color:#666;
}
.suscribers-box-box:hover {
	background-color: #efefef;
}
.box-number {
	font-size:2rem;	
	height: 38px;
	
}
.box-number a:hover {
	text-decoration: none;
}
.box-icons {
		height: 38px;
		padding-top:12px;
}
.box-icons a {
	color:#666;
	margin-right:5px;
}
.box-icons a:hover {
	color:#111;
}
.community-area {
	/*padding:10px 10px;*/
}
.community-area h3 {
	color:#aaa;
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
	margin:10px 0;
}
.collaborate-sidebar {
	background-color: #222;
	color:#fff;
}
.collaborate-sidebar h3 {
	font-size:1.2rem;
	margin-top:0;
	}
.collaborate-sidebar h4 {
	font-size:1.1rem;
	border-bottom:1px solid #7ED957;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-top:0;
	}
.collaborate-search {
	background-color: #464646;
	padding:10px;
	height: 50px;
}

.community-add-btn {
	font-size:1rem;
	color: #7ED957; 
	line-height: 1.6;
}
.community-add-btn:hover {
	color:#eee;
}
.collaborate-channel {
	height: 100%;
}
.collaborate-content {
	padding:10px;	
}

.collaborate-channels ul {
	list-style: none;
	margin:0;
	padding:0;
	}
.collaborate-channels ul li a {
	display:block;
	padding:2px 8px;
	color:#c2c2c2;
	margin-bottom: 4px;
}

.collaborate-channels ul li a:hover {
	background-color: #666666;
	color:#c9c9c9;
	text-decoration: none;
	border-radius: 5px;
	}
.collaborate-channels ul li.current a {
	background-color: #464646;
	color:#d9d9d9;
	text-decoration: none;
	border-radius: 5px;
	}

.collaborate-channels ul li .fas {
	font-size:.80em;
	}
.collaborate-channels ul li.unread  a{
	font-weight: bold;
	color:#fff;
}
.collaborate-channel {
	background-color: #fff;
}
	
.collaborate-channel-header {
	background-color: #F5F5F5;
	padding:5px 15px;
	height: 40px;
}

.channel-name {
	font-size:1rem;
	line-height:2;
	font-weight: bold;
}	
.channel-name .chanel-teamonly {
	font-size: .80rem;
	line-height: .9;
}
.channel-name a:hover {
	text-decoration: none;
}
.collaborate-channel-header .dropdown-menu {
	border-radius: 0;
}
	
.collaborate-content {
	padding:15px;
}
.chatterbox-wirte {
	height: 34px;
	padding: 4px 4px 0;
	background-color: #F2F2F3;
	
}
.chatterbox-wirte .chatterbox-media {
	height: 24px;
	background-color: #9CDC81;
	color:#fff;
	display:inline-block;
	float:left;
	padding:3px;
	width:30px;
	text-align:center;
}
.chatterbox-wirte .chatterbox-text {
	height:28px;
	padding: .125rem .25rem;
    font-size: .95rem;
    line-height: 1.2;
	float:left;
	width:calc(100% - 58px);
	margin-right:1px;
	color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
   
}
.chatterbox-wirte .btn-sm {
	line-height: 1;
	border-radius: 0;
	height: 28px;
}
.chatterbox {
	height: calc(100% - 40px); /*- header*/
}
.chatterbox-chat {
	position:relative;
}
.chatterbox-chat .goalstatus {
	padding: 6px;
	border:1px dashed #999;
}
.chatterbox-chat .goalstatus:hover {
	background-color:#f3f3f3;
}
.chatterbox-chat .btn-resolve {
	position:absolute;
	bottom:5px;
	right:5px;
}
.chatterbox-chat .card-task {
	width:296px;
	height: 225px;
} 
.goalticket-level {
	color:#333;
}

.maketicket{
	margin:6px;
}
.maketicket:hover {
	color:#28a745
}
.chatterbox-body-inside {
	padding:0px;
}
.chatterbox-chat {
	position:relative;
	min-height: 40px;
	margin-bottom:0px;
	padding:5px;
}

.chatterbox-chat:nth-child(odd) {
    background: #fbfbfb;
}
.chatterbox-chat:nth-child(even) {
    background: #f4f7f0;
}

.chatterbox-messages {
	height: calc(100% - 35px);
}
.chat-icon {
	position:absolute;
	padding:0 5px;
	width:50px;
}
.chat-icon-usr {
	border-radius: 50%;
	width:30px;
}
.chat-msg {
	margin-left:45px;
	padding-top:1px;
	word-break:break-word;
}
.chat-delete {
	position: absolute;
	top:10px;
	right: 10px;
	color:#b0b0b0;
}
.chat-timestamp {
	font-size:.8em;
}
.chat-delete:hover {
	color:#333;
}
.chatterlongtext .chatterbox-messages {
	height: calc(100% - 76px);
}
.chatterlongtext .chatterbox-wirte {
	height: 76px;
}
.chatterlongtext .chatterbox-text {
	height: 70px;
}
.chatterlongtext  .chatterbox-wirte .btn-sm {
	margin-top:42px;
} 

.feedcard-author a {
	text-decoration:underline;
}
.feedcard-author a:hover {
	color:#56994C;
}
.feed-add-btn {
	display:block; 
	width:28px; height: 28px; 
	border-radius:50%; 
	background-color: #7ED957; 
	color:#fff;
	line-height: 30px;
	font-size:1.2rem;
	text-align:center;
	}
.feed-add-btn:hover {
	color:#fff;
	background-color: #7ED957; 
}
.feedupload { 
	padding:20px; 
	background-color:#f5f5f5; 
	}
.feed-topics { 
	padding:10px; 
	margin:0 20px;
	background-color:#f5f5f5;
	border:1px solid #f5f5f5;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

a.btn-toolbar {
	color:#6f6f6f;
	background-color: #e5e5e5;
	display:inline-block;
	padding:3px 10px!important;
	border:1px solid transparent;
	border-radius: .25rem;
}
a.btn-toolbar:hover,
a.btn-toolbar.topicselected {
	background-color: #c5c5c5;
	color:#333;
	text-decoration: none;
	}
.topicselected .fas {
	font-size:.85em;
}
.attachfile {
	position:absolute; width:30px;
	text-align:center;
	padding:5px;
	background-color:rgba(0, 0, 0, 0.2);
	color:#fff;
	cursor: pointer;
}
.attachfile:hover {
	background-color:rgba(0, 0, 0, 0.3);
}

.attachtext-textbox {
	padding: .25rem .75rem;
	margin-bottom:5px;
    font-size: .95rem;
    line-height: 1.2;
	width:100%;
	color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #cbd3d5;
	
}

.feedupload-uploader {
	background-color:#fafafa;
	border-bottom:2px solid #f1f1f1;
}
.up-files-list li.uploadprogressrow {
	padding:3px 0;
	position:relative;
}
.uploadprogressrow-size {
	position:absolute;
	right:0;
	top:6px;
	font-size:0.9em;
}
.uploadprogressrow-filename {
	margin-right:80px;
	overflow: hidden;
}

.feedcard {
	padding:0 0 10px;
	border-bottom:1px solid #ddd;
	margin-bottom:20px;
	background-color: white;
}
.feedcard-header {
	padding-top:15px;
	position:relative;
	min-height: 55px;
}
.feedcard-title {
	font-size:2rem;
	line-height: 1.1;
	margin-left: 10px;
	margin-right:180px;
	margin-bottom:0;
	min-height: 32px;
	font-weight: bold;
}
@media (max-width: 640px) {
	.feedcard-title {
		font-size:1.5rem;
		line-height: 1;
	}
}
.feedcard .feedcard-collective {
	padding:0;
	position:absolute;
	top:15px;
	right:10px;
}
.feedcollective .feedcard-collective {
	padding:0;
	position:absolute;
	right:10px;
}
a.collectivetag {
	background-color: #e5e5e5;
    color: #666;
    text-decoration: none;
	display: inline-block;
    padding: 3px 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin:0 2px 4px 0;
}
a.collectivetag:hover {
	background-color: #afafaf;
	text-decoration: none;
	color:#fff;
	}
.feedcard-author {
	font-size:.85rem;
	color:#666;
	line-height: 1.1;
	padding:5px 0 15px;	
	margin-left: 10px;
}
.feedcard-body {
	padding-top:10px;
	margin-left: 10px;
	font-size:1rem;
}
.feedcard-media {
	padding-bottom:10px;
}

.feed-gallery {
	list-style: none;
	margin:0;
	padding:0;
}

.feed-gallery li {
	margin-bottom:10px;
}

.feedcard-footer {
	padding:10px;
}

.feedcard .badge-tags {
	font-size:.9rem;
	padding:.125rem .5rem;
}

.feedcard-comments {
	padding:10px 0;
	position:relative;
}
.feed-comments-textinput {
	margin-left:40px;
	width:calc(100% - 40px);
}
.usericon {
	width:32px;
	height:32px;
	position:absolute;
	border-radius: 100%;
}
.table-suscribers .usericon {
	position:relative;
	margin-right:10px;
}

.profile-sidebar {
	background-color: white;
}
.contentcolumn {
	padding:20px 30px 30px;
	margin:0 ;
	background-color: white;
	
}
.contentcolumn h1 {
    font-size:2rem;
	margin:0 0 30px;
}

.donatecard {
	background-color: #f5f5f5;
}

.donate-secure {
	font-size:.8rem;
	color:#999;
}

div.errormsg {
	padding-bottom:10px;
	color:#cc0000;
}


.masonry-grid {
	background-color: #fff;
}

.collective-grid-container {
    display: table;
    margin: 0 auto;
}

.collective-grid {
	margin:0;
	padding:0;
	min-width: 400px;
}

.collective-grid li {
	display: inline-block;
    padding: 0 .25rem;
}
.collective-grid-logo {
	width: 120px;
    height: 120px;
    margin: 0 7px;
    border: 1px solid #aaa;
    border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
}
.collective-grid-name {
	text-align: center;
	padding-top:10px;
	font-weight: bold;
	text-transform: uppercase;
}

.feedcard-comment {
	margin-bottom:15px;
	padding-bottom:10px;
	
}
.comment-poster {
	/*color:#666;*/
}
.comment-content {
	margin-left:40px;
}

.comment-timestamp {
	font-size:.9em;
	color:#666;
}

.teammember {
	padding: 2px 0 5px 0; 
	position:relative;
	line-height:1.1;
	}

.collectivedescription {
	padding:10px 2px;
	color:#666;
}


.hiddenoverlay > div
{
	flex: 1;
	
}
#hiddenoverlay
{
	background-color: black;
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.95);
    z-index: 10000;
}
.OIoverlay-close.largeicon {
    font-size: 20px;
    color: #9f9f9f;
    position: absolute;
    right: 2px;
    top: -4px;
    z-index: 10001;
    cursor: pointer;
}

#hiddenoverlay .feedcard-header {
	padding-top:20px;
}
#hiddenoverlay .feedcard-collective {
	top:30px;
}

.feed-icon {
	display: inline-block;
	padding:2px 5px;
}

.listcollectivename a
{
	color: #000;
}


.project-item {
	width:300px;
	height: 150px;
	background:url(../images/emprojectdefault.png) top left no-repeat;
	background-color: #EBEBEB;
	border:1px solid #b3b3b3;
	border-radius:5px;
	color:#333;
	margin:0 10px 10px 0;
	float:left;
	padding:0;
	position:relative;
	overflow: hidden;
}
.project-item-box {
	background-color:#444444a6;
	width:100%;
	height:45px;
	position:absolute;
	bottom:0;
}
.project-item a:hover {
	text-decoration: underline;
}

.project-item-box a {
	color:#fff7f7;
	padding:0 15px;
	line-height: 45px;
	display:block;
	font-weight:bold;
}
.project-item-box a:hover {
	color:#fff7f7;
}
.project-item-add {
	background-color: #F3f3f3;
	background-image:none;
	border:1px dashed #b3b3b3;
	text-align:center;
	font-size:1.1rem;
}
.project-item-add a {
	line-height:150px;
	display:block;
}
.project-title {
	font-size:1.05rem;
}

.emptylayoutbody {
	background-color: #808080;
	padding:5px;
	margin:0!important;
	height: 100%;
	}
	
	.emptylayout {
		max-width: 600px;
		min-height:400px;
		margin:2rem auto;
		color:#333;
	}
	
	.emmodal {
	    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;}
    
    
@media (max-width: 640px) {
	.community-maincol {
		margin:0;
	}
	.community-sidebar {
		max-width:100%;
	}	
	.collective-sidebar {
	margin:10px auto 40px;
	}
	.chatterbox-chat {
		padding:15px;
	}
	.collaborate-channel {
		
	}
	.contentcolumn {
	padding:20px 10px;}
	
	.maincontent {
    min-height:auto;
	}
	.maincontentsidebar {
	 max-width:100%;
	 margin:15px 20px 10px
}
}