@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body, #application {
    height: 100%;
}
body {
  overflow-x: hidden;
  max-width:100%;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .9rem;
  background-color: #E9ECEF; 
}
#emcontainer {
	min-height: 480px;
}

p {
  line-height: 1.75; 
}

h1,
h2,
h3,
h4,
h5,
h6,
.resultsnav .nav-btn,
.resultsnavright .nav-btn {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
    font-style: normal;

}
h1 {
  margin: 25px 0 20px 0;
  font-size: 2rem;
}
h2 {
  margin: 20px 0 20px;
  font-size: 1.6rem; 
}
h3 {
  margin: 10px 0 15px;
  font-size: 1.2rem;
 }
h4 {
  margin: 5px 0 15px;
  font-size: 1.2rem;
  color:#888; 
}

h4 .btn {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

a.primary {
	color:#218838;
	text-decoration:none;
}
a.primary:hover {
	color:#000;
	text-decoration: underline;
}
a.primary:hover .fas {
	text-decoration: none;

	}
.h-100-50 { height: calc(100% - 50px); }
.h-100-80 { height: calc(100% - 80px); }

.table-hover a:hover {
	text-decoration: none;
}

.search-list li:last-child, .sidebar-list li:last-child {
    border-bottom:1px solid #e5e5e5;
}

/*Shadows*/
.collectivebanner,
.account-sidebar,
.collective-sidebar,
.collaborate-sidebar,
.maincontent,
.community-maincol,
.feedupload,
.feed-topics,
.feedupload-uploader,
.profile-sidebar,
.contentcolumn,
.collectivemaincol,
.collective-grid-logo,
.shadowbox {
	/*box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4)*/
	box-shadow:0 0 1px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.3);
}

.feed-maincol {
	box-shadow: none;	
}

#mainNav.navbar-shrink {
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.4);
}

.applicationcontent {
	height: calc(100% - 70px);
	position: relative;
}
.applicationcontent.inapp {
	height: 100%;
}

.applicationcontent h1 {
    margin:20px 0;
}


.entermedia-headertop-container {
	background-color: #111;
}
.account-top-menu {
	text-align: right;
	padding:0px 0 4px;
}
.account-top-menu a {
	
}
.account-top-menu a.topnav-link {
	color:#bbb;
	margin-right: 20px;
	font-weight: 600;
	font-size:0.9rem;
	
}
.account-top-menu a.active {
	color:#01b34f;
}
.account-top-menu a:hover {
	color:#fff;
	text-decoration: none;
}
.account-top-menu .homepage-btn {
  font-weight: bold;
  font-size:0.9rem;
  padding: .175em 1em;
  line-height:1;
  text-transform:none;
  background-color: #237C9C;
  border-color:#237C9C;
  border-radius: .25rem;
  color:#eee;
}
.account-top-menu .homepage-btn:hover,
.account-top-menu .homepage-btn.active {
  background-color:#3291AD;
  color:#FFFFFF;
}


.account-top-menu .homepage-btn {
  font-weight: bold;
  font-size:0.9rem;
  padding: .175em 1em;
  line-height:1;
  text-transform:none;
  background-color: #237C9C;
  border-color:#237C9C;
  border-radius: .25rem;
  color:#eee;
}
.account-top-menu .homepage-btn:hover,
.account-top-menu .homepage-btn.active {
  background-color:#3291AD;
  color:#FFFFFF;
}


.entermedia-header-container {
	background-color: #07172C;
}


.entermedia-header {
	padding:15px 15px 20px;
	
}

#mainNav .navbar-nav { width:100%;}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 0.75rem 1rem;
  letter-spacing: 1px;
  color: white;
  font-size:0.9rem;
}


#mainNav .dropdown:hover>.dropdown-menu {
	display: block;
  	top: 100%;
} 
#mainNav .dropdown-toggle::after {
	display:none;
}

#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .subnav-link:hover,
#mainNav .dropdown-item:hover .subnav-link  {
  color: #01b34f;
 text-decoration: none;
}

#mainNav .dropdown-menu {
	background-color: #484848;
}
#mainNav .dropdown-item:focus, 
#mainNav .dropdown-item:hover {
	background-color: #282828;
}
#mainNav .subnav-link {
	font-size: .86rem;
	color:white;
	text-decoration: none;
}


@media (min-width: 992px) {
  #mainNav {
    
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding:  1.2em 2em!important;
    margin-right: 2em;
  }
  #mainNav .navbar-nav .nav-last-item .nav-link {
  padding-right:1px!important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
#mainNav .navbar-nav .btn {
margin-top:.6rem;
}
}

.sidebar-toggler {
	display:inline-block;
	position:absolute;
	right:0;
	width:32px;
	padding:0 10px;
	line-height: 36px;
	color:#666;
	background-color: #e0e0e0;
	font-size: 1.1rem;
    line-height: 2;
}
.sidebar-toggler:hover {
	background-color: #d0d0d0;
}
.sidebar-toggler-show {
	border:1px solid #c0c0c0;
	box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
	opacity: .8;
	z-index:100;
}
.sidebar-toggler-show:hover {
	opacity: 1;

	}

@media (min-width: 1400px) {
.empushcontent {
    margin-left:250px;
}
.sidebar-togglerX {display:none;}
}

.account-nav {
    border-bottom: 2px solid #666;
}
.account-nav a.navlink {
    display: inline-block;
    line-height: 1.8;
    padding:5px 6px;
    color:#999;
    text-decoration: none;
}

.account-nav a.navlink:hover {
    color:#333;
}

.account-sidebar {
    width:250px;
    z-index:100;
    position:absolute;
    height: 100%;
    background-color: #fff;
    box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
}
.account-content {
    margin-left:0;
    margin-right:0;
    padding-top:0;
	height: calc(100% - 20px);
}
.account-content-fullwidth {
	margin:0px;
}
.inapp .account-content {
	margin:0;
	padding:0;
	height: 100%;
}

@media (max-width: 1280px) {
	.account-content {
		margin-left:0px;
	}
}

.account-content h1 {
    padding: 0 0 10px;
    margin:0 0 15px;
}

.account-content h3 i {
	font-size:.85em;
	}
.emmaincontent {
	height: 100%;
}

.maincontent {
	background-color: #fff;
    padding:20px 30px;
    min-height: 100%;
    margin:0px 20px 10px;
}
.maincontentsidebar {
/*	 max-width:350px;*/
}
.account-sidebar .select2-container {
	z-index:102!important;
	}
.navbar-nav .select2-container {
	z-index:102!important;
}
.sidebar-box {
    margin:0px 0px 0px;
    background-color: #fff;
    z-index: 20;
    padding-bottom:40px;
 }
.sidebar-box-header {
    background-color: #f5f5f5;
    border-bottom:1px solid #e0e0e0;
    font-size: 1.1rem;
    font-weight:bold;
    line-height: 2;
    padding:0 20px;
}

.sidebar-box-support .sidebar-box-header  {
	   border-top: 8px solid #419D50;
}

.sidebar-box-content {
    padding:10px;
}

.sidebar-opentickets {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
}
.sidebar-opentickets li {
	display:block;
	margin-bottom: 5px;
	padding:3px;
}
.sidebar-opentickets li:hover {
	background-color: rgb(0,0,0,0.1);
}


.sidebar-list a {
    padding: 9px 10px 8px 20px;
}

.sidebar-list .badge {
	display:inline-block;
	padding:.25em .35em;
	font-size:0.8rem;
}

.oauthproviderbtn {
    margin-bottom: 15px;
	text-align:center;
}

.oauthproviderbtn img {
	width:190px;
}


.profile-username {
	padding-top:25px;
}
.profile-username h4 {
	margin-bottom:1px;

	}

.profile-imagecontainer {
	margin-bottom:20px;
	text-align:center;
	position:relative;
}
.profile-userimage {
	border-radius: 50%;
	width:120px;
	height:120px;
	border:3px solid #adb5bd;
	padding:2px;
}
.profile-editimage {
	position:absolute;
	bottom:-10px;
	left:65%;
}
.profileeditimage {
	margin-top:5px;
}

.collectivebanner {
	color:#fff;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color:#4E4E4E;
	width:100%;
}

.collectivelayout .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.collectivelogo {
	font-family: 'Paytone One', sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -.03em;
    line-height: 1.1em;
    text-transform: uppercase; 
	padding:20px 0 10px;
	display:inline-block;
	vertical-align: middle;
}

.collectivebanner a,
.collectivebanner a:hover {
	color:#fff;
}
.collectivebanner .navbar-brand {
	display:block;
}

.collectiveactions {
	padding:8px 10px 0;
	
	font-size:1rem;
	display:inline-block;
	vertical-align: middle;
}
.collectivebanner .dropdown-item {
	color:#666!important;
	}
.navbar-container {
	display:table;
	margin: 0 auto;
}
.navbar-collective {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size:1rem;
	text-transform: uppercase;
	list-style: none;
	margin:0;
}
.navbar-collective li {
	padding:0;
	display: inline-block;
}
.navbar-collective .nav-link {
	padding:0.2rem .8rem ;
	color:#666;
}

.navbar-collective li.active a {
	border-bottom:2px solid #777;
	color:#111;
	
}
.navbar-collective .nav-link:hover{
	color:#111;
	
}
.entermedia-media {
  position: relative;
  width: 100%;
  max-width:1080px;
  margin:0 auto;
  padding-bottom: 55.2%;
}
.entermedia-media iframe,
.entermedia-media video {
  position: absolute;
  width: 100%;
/*  height: 100%;  */  
}

.collectivecontent {
	height: calc(100% - 135px);
	width:100%;
	padding-top:1px;
}
.collectivemaincol {

}
.collective-social {
	padding:20px 0;
	text-align:center;
}
.collectivecontent .content {
	padding:10px 25px 30px;
}


.community-maincol {
	margin:15px 20px 10px 20px;
}
.community-sidebar {
 	max-width:350px;
}
.goal-tabs {
	margin:15px 20px 10px;
}
 
.collective-sidebar {
	background-color: #fff;
	color:#333;
	height: 100%;
	padding:0 15px;
	margin:15px 20px 0 0 ;
}
.subscribe-btn {
	background-color: #FFDE59;
	color:#fff;
	font-size:1.1rem;
	padding:.275rem 1.5rem;
	font-weight: bold;
}
.subscribe-btn:hover {
	color:#fff;
}
.subscribe-area {
	padding: 0;
	text-align:center;
	margin: 0 auto;
}
.subscribe-area h3 {
	font-size:1.3rem;
	color:#222;
	font-weight: normal;
	margin:0 0 1.1rem;
}
.subscribe-area .btn-action {
	display: inline-block;
}


.subscribers-box {
	margin:10px auto;
	display: inline-block;
}
.subscribers-box-box {
	width:90px;
	display:block;
	float:left;
	padding:10px 0;
	text-align: center;
	color:#666;
}
.subscribers-box-box:hover {
	background-color: #efefef;
}
.box-number {
	font-size:2rem;	
	height: 38px;
	
}
.subscribers-box a:hover {
	text-decoration: none;
}
.box-icons {
		height: 38px;
		padding-top:12px;
}
.box-icons a {
	color:#666;
	margin-right:5px;
}
.box-icons a:hover {
	color:#111;
}
.sidebarbox {
	margin:20px 0 40px;
}
.sidebarbox h4 {
	padding:5px 1px 5px 5px;
	border-bottom:1px solid #28a745;
	margin-bottom:0.6rem;
}
.collaborate-sidebar {
	background-color: #222;
	color:#fff;
}
.collaborate-sidebar h3 {
	font-size:1.2rem;
	margin-top:0;
	}
.collaborate-sidebar h4 {
	font-size:1.1rem;
	border-bottom:1px solid #7ED957;
	padding-bottom:3px;
	margin-bottom:10px;
	margin-top:0;
	}
.collaborate-search {
	background-color: #464646;
	padding:10px;
	height: 50px;
}

.community-add-btn {
	font-size:1rem;
	color: #7ED957; 
	line-height: 1.6;
}
.community-add-btn:hover {
	color:#eee;
}
.collaborate-channel {
	
}
.collaborate-content {
	padding:10px;	
}

.collaborate-channels ul {
	list-style: none;
	margin:0;
	padding:0;
	}
.collaborate-channels ul li a {
	display:block;
	padding:2px 8px;
	color:#c2c2c2;
	margin-bottom: 4px;
}

.collaborate-channels ul li a:hover {
	background-color: #666666;
	color:#c9c9c9;
	text-decoration: none;
	border-radius: 5px;
	}
.collaborate-channels ul li.current a {
	background-color: #464646;
	color:#d9d9d9;
	text-decoration: none;
	border-radius: 5px;
	}

.collaborate-channels ul li .fas {
	font-size:.80em;
	}
.collaborate-channels ul li.unread  a{
	font-weight: bold;
	color:#fff;
}
.collaborate-channel {
	background-color: #fff;
}
	
.collaborate-channel-header {
padding:10px;
height: 40px;
}

.channel-name {
	font-size:1rem;
	font-weight: bold;
}	
.channel-name .chanel-teamonly {
	font-size: .80rem;
	line-height: .9;
}
.channel-name a:hover {
	text-decoration: none;
}
.collaborate-channel-header .dropdown-menu {
	border-radius: 0;
}
	
.collaborate-content { 
	padding:10px;
}
.chatterbox-write {
	height: 38px;
	padding: 4px 4px 0;
	background-color: #F2F2F3;
	
}
.chatterbox-write .chatterbox-media {
	height: 24px;
	background-color: #9CDC81;
	color:#fff;
	display:inline-block;
	float:left;
	padding:3px;
	width:30px;
	text-align:center;
}
.chatterbox-write .chatterbox-text {
	height:32px;
	padding: .45rem .25rem 0;
    font-size: 1rem;
    line-height: 1.1;
	float:left;
	width:calc(100% - 56px);
	margin-right:1px;
	color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
   
}
.chatterbox-write .btn-sm {
	line-height: 1;
	border-radius: 0;
	height: 32px;
	font-weight: bold;
}
.chatterbox {
	height: calc(100% - 40px); /*- header*/
	
}
.chatterbox-chat {
	position:relative;
}
.chatterbox-chat .goalstatus {
	padding: 6px;
	margin-top:3px;
	border:1px dashed #999;
	
}
.chatterbox-chat .goalstatus:hover {
	background-color:#f3f3f3;
}
.chatterbox-chat .card-task {
	width:296px;
	height: 225px;
} 
.chat-msg:hover {
	background-color:rgba(0,0,0,.03);
} 
.chatterbox-chat:hover .message-menu {
	display:block;
} 
.message-menu {
	border:1px solid rgba(0,0,0,.15);
	background-color:#fff;
	border-radius: .25rem;
	position:absolute;
	padding:1px;
	right:5px;
	top:2px;
	display:none;
	box-shadow:0 0 1px rgba(0,0,0,.25), 0 1px 3px rgba(0,0,0,.3);
}
.message-menu-link {
	padding:2px 10px;
	text-align: center;
	display: inline-block;
}

.message-menu-link:hover {
	color:#28a745;
	background-color:rgba(0,0,0,.15);
}
.message-attach-box {
	background-color:#fff;
	width:250px;
	border:1px solid rgba(0,0,0,.15);
	background-color:#fff;
	float:right;
	padding:10px;
	word-break:break-all;
}
.message-attach-box .render-type-thumbnail {
	font-size:80%;
	}
.message-edit-box {
	padding:20px;
	background-color:#FEF9EC;
	border-bottom:1px solid #ced4da;
	border-top:1px solid #ced4da;
}
.message-edit-box .chatterbox-write {
	background-color: #fff;
	height: auto;
	min-height: 28px;
	border: 1px solid #ced4da;
	margin-bottom:10px;
}
.chatter-msg-edit {
	width:100%;
	max-height:100px;
	overflow-y:auto;
	border:0 none;
	/*position:absolute;*/
}
.goalticket-level {
	color:#333;
}

.chatterbox-body-inside {
	padding:0px;
}
.chatterbox-chat {
	position:relative;
	min-height: 40px;
	margin-bottom:0px;
	padding:5px;
}

.chatterbox-chat:nth-child(odd) {
    background: #fbfbfb;
}
.chatterbox-chat:nth-child(even) {
    background: #f4f7f0;
}

.chatterbox-messages {
	height: calc(100% - 39px);
}
.chat-icon {
	position:absolute;
	padding:0 5px;
	width:50px;
}
.chat-icon-usr {
	border-radius: 50%;
	width:30px;
}
.chat-msg {
	margin-left:50px;
	padding-top:1px;
	word-break:break-word;
}
.chat-delete {
	position: absolute;
	top:10px;
	right: 10px;
	color:#b0b0b0;
}
.chat-timestamp {
	font-size:.8em;
}
.chat-delete:hover {
	color:#333;
}
.chatterlongtext .chatterbox-messages {
	height: calc(100% - 76px);
}
.chatterlongtext .chatterbox-write {
	height: 76px;
}
.chatterlongtext .chatterbox-text {
	height: 70px;
}
.chatterlongtext  .chatterbox-write .btn-sm {
	margin-top:42px;
} 

.feedcard-author a {
	text-decoration:underline;
}
.feedcard-author a:hover {
	color:#56994C;
}
.feed-add-btn {
	display:block; 
	width:28px; height: 28px; 
	border-radius:50%; 
	background-color: #7ED957; 
	color:#fff;
	line-height: 30px;
	font-size:1.2rem;
	text-align:center;
	}
.feed-add-btn:hover {
	color:#fff;
	background-color: #7ED957; 
}
.feedupload-container {
	margin-bottom:20px;
}
.feedupload { 
	padding:20px; 
	background-color:#f5f5f5;
	 
	}
	
.loadingspinner {
	padding:8px 5px;
	font-size:1.2rem;
	color:#666;
}
.feed-topics { 
	padding:10px; 
	margin:0;
	background-color:#f5f5f5;
	border:1px solid #f5f5f5;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

a.btn-toolbar {
	color:#6f6f6f;
	background-color: #e5e5e5;
	display:inline-block;
	padding:3px 10px!important;
	border:1px solid transparent;
	border-radius: .25rem;
}
a.btn-toolbar:hover,
a.btn-toolbar.topicselected {
	background-color: #c5c5c5;
	color:#333;
	text-decoration: none;
	}
.topicselected .fas {
	font-size:.85em;
}
.attachfile {
	position:absolute; width:30px;
	text-align:center;
	padding:5px;
	background-color:rgba(0, 0, 0, 0.2);
	color:#fff;
	cursor: pointer;
}
.attachfile:hover {
	background-color:rgba(0, 0, 0, 0.3);
}

.attachtext-textbox {
	padding: .25rem .75rem;
	margin-bottom:5px;
    font-size: .95rem;
    line-height: 1.2;
	width:100%;
	color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #cbd3d5;
	
}

.feedupload-uploader {
	background-color:#fafafa;
	border-bottom:2px solid #f1f1f1;
}
.up-files-list li.uploadprogressrow {
	padding:3px 0;
	position:relative;
}
.uploadprogressrow-size {
	position:absolute;
	right:0;
	top:6px;
	font-size:0.9em;
}
.uploadprogressrow-filename {
	margin-right:80px;
	overflow: hidden;
}

.feedcard {
	padding:0 0 10px;
	border-bottom:1px solid #ddd;
	margin-bottom:20px;
	background-color: white;
}
.feedcard-header {
	padding:15px 0;
	position:relative;
	min-height: 55px;
}
.feedcard-title {
	font-size:1.5rem;
	line-height: 1.1;
	margin-right:180px;
	margin-bottom:0;
	min-height: 32px;
	font-weight: bold;
}
@media (max-width: 640px) {
	.feedcard-title {
		font-size:1.5rem;
		line-height: 1;
	}
	
	.message-attach-box {
		width:250px;
		margin:10px auto;
		float:none;
	}
	
	.chatterbox-chat .card-task {
	width:186px;
	}
}
.feedcard .feedcard-collective {
	padding:0;
	position:absolute;
	width:175px;
	top:25px;
	right:0;
	padding-right:10px;
}
.feedcollective .feedcard-collective {
	padding:0;
	position:absolute;
	right:10px;
}
a.collectivetag {
	font-size:.8em;
	text-align:center;
	
    color: #333;
    text-decoration: none;
	display: inline-block;
    padding: 3px 3px;

    float:right;
}
a.collectivetag:hover {
	text-decoration: none;
	}
.feedcard-author {
	font-size:.85rem;
	color:#666;
	line-height: 1.1;
	padding:5px 0 0;	
	
}
.feedcard-body {
	padding-top:10px;
	margin: 0 10px;
	font-size:1rem;
}
.feedcard-media {
	padding-bottom:10px;
}
.feedcard-media .ajaxstatus {
	padding:10px;
}
.feed-gallery {
	list-style: none;
	margin:0;
	padding:0;
}

.feed-gallery li {
	margin-bottom:10px;
}

.feedcard-footer {
	padding:10px;
}

.feedcard .badge-tags {
	font-size:.9rem;
	padding:.125rem .5rem;
}

.feedcard-comments {
	padding:10px 0;
	position:relative;
}
.feed-comments-textinput {
	margin-left:40px;
	width:calc(100% - 40px);
}
.feedcard-comments .usericon {
	width:32px;
	height:32px;
	position: absolute;
	border-radius: 100%;
}
.table-subscribers .usericon {
	position:relative;
	margin-right:10px;
	width:32px;
	height:32px;
	border-radius: 100%;
}


.channel-feed .feedcard-header {
	padding:15px;
}

.profile-sidebar {
	background-color: white;
}
.contentcolumn {
	padding:20px 30px 30px;
	margin:0 ;
	background-color: white;
	font-size:1rem;
	
}
.contentcolumn h1 {
    font-size:2rem;
	margin:0 0 30px;
}
.contentcolumn h2 {
    font-size:1.6rem;
	margin:0 0 30px;
}


.donatecard {
	background-color: #f5f5f5;
}

.donate-secure {
	font-size:.8rem;
	color:#999;
}

div.errormsg {
	padding-bottom:10px;
	color:#cc0000;
}


.masonry-grid {
	background-color: #fff;
}

.collective-grid-container {
    display: table;
    margin: 0 auto;
}

.collective-grid {
	margin:0;
	padding:0;
	min-width: 400px;
}

.collective-grid li {
	display: inline-block;
    padding: 0 .25rem;
}
.collective-grid-logo {
	width: 120px;
    height: 120px;
    margin: 0 7px;
    border: 1px solid #aaa;
    border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
}
.collective-grid-name {
	text-align: center;
	padding-top:10px;
	font-weight: bold;
	text-transform: uppercase;
}

.feedcard-comment {
	margin-bottom:15px;
	padding-bottom:10px;
	
}
.comment-poster {
	/*color:#666;*/
}
.comment-content {
	margin-left:40px;
}

.comment-timestamp {
	font-size:.9em;
	color:#666;
}

.teammember {
	padding: 2px 0 5px 0; 
	position:relative;
	line-height:1.1;
	font-size:0.9rem;
	}

.collectivedescription {
	padding:10px 2px;
	color:#666;
}


.hiddenoverlay > div
{
	flex: 1;
	
}
#hiddenoverlay
{
	background-color: black;
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.95);
    z-index: 10000;
}
.OIoverlay-close.largeicon {
    font-size: 20px;
    color: #9f9f9f;
    position: absolute;
    right: 2px;
    top: -4px;
    z-index: 10001;
    cursor: pointer;
}

#hiddenoverlay .feedcard-header {
	padding-top:20px;
}
#hiddenoverlay .feedcard-collective {
	top:30px;
}

.feed-icon {
	display: inline-block;
	padding:2px 5px;
}

.listcollectivename a
{
	color: #000;
}

a.pick-item:hover .project-item {
	border:2px solid #edd400;
}
.project-item {
	min-width:313px;
	height: 150px;
	background:url(../images/OI_flower.png);
	background-size: contain;
	background-color: white;
    background-position: center;
    background-repeat: no-repeat;
	border:2px solid #20AAC6;
	border-radius:5px;
	color:#666;
	margin:0 10px 10px 0;
	float:left;
	padding:45px 0 0 0;
	position:relative;
	overflow: hidden;
	text-overflow: ellipsis;
}
.col-collectivesidebar .project-item 
{
	min-width:270px;
	width:100%;
	margin:0 0 10px;
}
.project-item-box {
	background-color:#6b6b6ba6;
	width:100%;
	height:45px;
	position:absolute;
	top:0;
	
}
.project-item-box-title {
	color:#fff!important;
	display:block;
	padding:5px 8px;
}
.project-item-box span {
	color:#fff7f7;
	padding:0 15px;
	line-height: 45px;
	display:block;
	font-weight:bold;
}
.project-item-box span:hover {
	color:#fff7f7;
}
.project-item:hover {
	text-decoration: none;
}

.project-item-add {
	background-color: #F3f3f3;
	background-image:none;
	border:1px dashed #b3b3b3;
	text-align:center;
	font-size:1.1rem;
}
.project-item-add a {
	line-height:150px;
	display:block;
}
.project-title {
	font-weight: bold;
	font-size:1.4rem;
}

.emptylayoutbody {
	background-color: #808080;
	padding:5px;
	margin:0!important;
	height: 100%;
	}
	
	.emptylayout {
		max-width: 600px;
		min-height:400px;
		margin:2rem auto;
		color:#333;
	}
	
	.emmodal {
	    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
 
.stations-grid {
	margin-bottom:30px;
}
.project-grid h3 {
	margin:0 0 15px;
}
    
    
@media (max-width: 640px) {
	.community-maincol {
		margin:0;
	}
	.community-sidebar {
		max-width:100%;
	}	
	.collective-sidebar {
	margin:10px auto 40px;
	}
	.chatterbox-chat {
		padding:5px;
	}
	.collaborate-channel {
		
	}
	.contentcolumn {
	padding:20px 10px;}
	
	.maincontent {
    min-height:auto;
	}
	.maincontentsidebar {
	 max-width:100%;
	 margin:15px 0 10px
	 }
	 .img-header{
	 width: 200px; 
	 height: 100px;
	 }
}


.collectivelayout{
	height: 100%;
}

.collectivebanner {
	background-color: #fff;
	color:#111;
}
.collectivebanner a, .collectivebanner a:hover {
	color:#111;
}
.navbar-container {
	display:block;
	margin-bottom:20px;
	text-align: center;
}
.channel-feed .navbar-container {
	text-align: left;
}
.navbar-collective {
	padding:0;
}
.collectivebanner {
	position:relative;
	margin-bottom:20px;
}
.collectivebanner .project-title {
	font-size:2.2rem;
	padding:1.2rem 0;
	text-decoration: none;
	display:block;
	font-family: 'Oswald', sans-serif;
	color: #808080;
}
.collectivebanner.hasbanner .project-title {
	color: white;
}

.collectivebanner .project-title:hover {
	text-decoration: none;
	}
.collectivebanner .nav-item {
	padding: 0 .5rem;
} 
.collectivebanner .nav-link {
	color:#eee;
	padding:.5rem .2rem .15rem;
	
	}
.collectivebanner .nav-link:hover {
	color:#fff;
}

.collectivebanner .project-thumb {
	position:absolute;
	bottom:-45px;
	left:10%;
	z-index:99;
	width:135px; 
	height:135px; 
	margin:0 auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#fff;
	background-size: cover;
}

@media (max-width: 900px) {
	.collectivebanner .project-thumb 
	{
		bottom:30px;
		left:5%;
		width:90px; 
		height:90px; 
	}
}
@media (max-width: 499px) {
	.collectivebanner .project-thumb 
	{
		bottom:80px;
		left:20px;
		width:60px; 
		height:60px; 
	}
}


/* PAGINATION */
.resultsnumber {
	float:left;
	padding:5px;
}
.resultpages {
    position: relative;
    z-index: 600;
}
.sortable #pages {
    margin: 0;
}
.resultpages .ellipsis {
    color: #797979;
    width: auto !important;
    line-height: 26px;
}
.resultpages ul {
    margin: 0px;
    padding: 0px;
    display: block;
    position: relative;
    top: 0px;
    border: 0px;
    border-top: none;
    z-index: 600;
    padding: 0;
    margin: 0;
    box-shadow: none;
    background: transparent;
}
.resultpages ul li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 4px;
    font-weight: bold;
}
.resultpages ul li a {
    display: block;
    font-size: 10px;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #595959;
    height: 22px;
    background: rgb(246,246,246); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(246,246,246,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
    border: 1px solid #ccc;
}
.resultpages ul li a:hover {
	color:#595959!important;
    background: rgb(230,230,230); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(246,246,246,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,230,230,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(230,230,230,1) 0%,rgba(246,246,246,1) 100%); /* W3C */
}
.resultpages ul li.current a {
    background: #7b7b7b;
    border: 1px solid #6a6a6a;
    color: #fff;
}

.resultpages ul li.pagenav {
	width: 22px;
}

.resultpages ul li.pagenav a span.glyphicon-triangle-right {

	margin-right: -3px;
	margin-top: 6px;
	position: relative;

}

.resultpages ul li.pagenav a span.glyphicon-triangle-left {

	margin-right: -3px;
	margin-top: 6px;
	position: relative;

}

ul.posresultsnavright 
{
    padding:0;
    margin: 0;
    list-style: none;
    float: right;
}
ul.posresultsnavright   li.textheader
{
    white-space: nowrap;
    vertical-align:top;
    display: inline-block;
}

ul.posresultsnavright li.resultpages
{
	display: inline-block;
} 

ul.inlinelist 
{
    padding:0;
    margin: 0;
    list-style: none;
}
ul.inlinelist   li
{
    white-space: nowrap;
    vertical-align:top;
    display: inline-block;
}

.content-collective-home {
	margin-bottom: 20px;
	padding:0;
	position:relative;
}

.project-thumb {
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 99;
    width: 105px;
    height: 105px;
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 40%);
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
}



.project-selected
{
	border:3px solid #edd400;
}


.detaileditor-2cols .form-group label {
	margin:0;
	line-height: 1.8;
}

.taskdetails {
	word-break:break-all;
}

.collectivearchive {
	margin:0 20px;
	box-shadow:2px 2px 6px 0 rgb(0 0 0 / 40%);
	border:1px solid #ddd;
}

.oe-dataedit {
	font-size:0.85rem;
}

.oe-editable {
    border:1px dashed transparent;
}
.oe-editable-space {
	min-height: 25px;	
}
.oe-dataedit:hover + .oe-editable {
    background: #fafafa;
   	border:1px dashed #aaa;
}


