body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }


a {
  color:#666; 
}

a.active, 
a:hover {
}

.oiheader-account {
	margin-left:250px;

	}

.feed-maincol {
	max-width:720px;
}
.collectivemaincol {
	margin-top:0;
}

.contentcolumn {
	margin-bottom:30px;
}
.collective-sidebar {
	padding:15px 10px;
	margin:0 10px 0;
}

.channel-container .collective-sidebar {
	margin:0;
}

.content-collective-home {
	min-height: 120px;
	background-color: #ffffff;
    }

.channel-container .content-collective-home-logo {
	margin-top:10px;
	padding-top:20px;
}

.channel-container  .project-title {
	padding:0 0 40px;
}

.channel-container {
	
}
.channel-container-logo {
	padding-top:20px;
}

.channel-container .collective-sidebar-logo {
	margin-top:10px;
}

.collective-sidebar h2 {
	margin:0 0 20px;

	}

@media (min-width: 990px) {
	.collective-sidebar {
		padding:15px 20px;
		margin:0;
	}
}
@media (min-width: 1100px)
{
	.feed-maincol {
		width:720px;
	}
	.col-collectivesidebar {
		max-width:342px;
	}

}

@media (max-width: 640px) {
	.container {
		padding:0;
	}
}

.headerlogo {
	font-family: 'Paytone One', sans-serif;
	font-weight: 400;
    font-style: normal;
    font-size: 28px;
    letter-spacing: -.03em;
    line-height: 1.4em;
    text-transform: uppercase; 
	padding:20px 0;
}
.entermedia-media {
  position: relative;
  width: 100%;
  max-width:1140px;
  margin:0 auto;
  height: 0;
  padding-bottom: 56.5%;
}
.entermedia-media iframe,
.entermedia-media video {
  position: absolute;
  width: 100%;
  height: 100%;  
}

.oisidebar {
	background-color: #fff;
	margin-top:15px;
}

.list-stations li {
	padding:8px;
	position:relative;
}
.list-stations li:hover {
	background-color: #757570;
}
.list-stations li.active {
	background-color: #51a444;
}

.list-header:hover {
	background-color: #fff;
}
.list-header a {
	font-weight:bold;
	padding:0 0 0 10px;
}
.list-stations li a {
	text-decoration: none;
	display:block;
	font-size:1rem;
	}
.list-stations li:hover a,
.list-stations li.active a {
	color:#fff;
	text-decoration: none;
	
	}
.list-stations li a.stationlink {
	display:block;
	margin-right:20px;
	padding:0 0 0 10px;
}
.list-stations li a.channelslink {
	position:absolute;
	right:10px;
	top:8px;
	width:20px;
}

.oisidebar .sidebar-header
{
	height: 48px;
	margin:0 0 20px 0;
	padding:5px 5px 0 10px;
	background-color: #afafaf;
	box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
	
}

.stations-header {
	height: 48px;
	margin:0 0 20px 0;
	padding:5px 5px 0 10px;
	background-color: #afafaf;
	box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
}

.stations-header h1 {
	margin:0;
}
.stations-header a:hover {
	color:#fff;
}

header.masthead {
  color: white;
  background-image: url("../images/openinstitute2019.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
margin-top:30px;
}

header.masthead .intro-text {
    padding-top: 130px;
    margin-left: 20px;
    padding-bottom: 30px; 
}

header.masthead .intro-text .intro-lead-in {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
      letter-spacing: 10px;
       font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

header.masthead .intro-text .intro-heading {
      font-size: 34px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) 
{

header.masthead .intro-text {
    padding-top: 320px;
    margin-left: 60px;
    padding-bottom: 20px;
  }
  header.masthead .intro-text .intro-lead-in {
    
    }
    header.masthead .intro-text .intro-heading {
    	font-size: 45px;
    	
	} 
	.navbar-brand  img  { 
		margin: 0px; 
	}    
}
.oiheaderout {
	position:relative;
	background-color: #fff;
	box-shadow:2px 2px 2px 0 rgba(0,0,0,0.2);
}
.oiheader {
	
	height:60px;
	/*box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);*/
	
	position:relative;
	z-index:100;
}

.container-feed {
	padding-top:20px;
}



#mainOINav
{
  	z-index: 6000;
	padding:0;
}

#mainOINav .navbar-nav .nav-item .nav-link 
{
		
		padding-right:.5rem
}

#mainOINav .nav-item {

	}
#mainOINav .navbar-collapse.show {
box-shadow:2px 2px 6px 0 rgba(0,0,0,0.4);
background-color: #fff;

}

.oiheaderow { margin: 0 -15px; padding: 0 10px;}

.emmaincontent {
    padding-top: 0px;
}

.collectivelayout {
	padding-top:40px;
	height: 100%;
}


@media (min-width: 640px) {
	#mainOINav {
		background:none;
		padding:0;
	}

	#mainOINav .navbar-nav a
	{
		color:#666;
	}
	
	#mainOINav .navbar-nav a:hover,
	#mainOINav .navbar-nav .nav-item:hover  a
	{
		color:#000;
	}
	#mainOINav .navbar-nav a.subnav-link
	{
		color:#000;
	}
	
	#mainOINav .navbar-nav .nav-item 
	{
		background-color: transparent;
		border:0 none;
	}
	
	#mainOINav .dropdown-menu {
		.border-radius:0;
	}

	.collectivelayout {
	padding-top:20px;
	}
	
}

#mainOINav .navbar-toggler {
 	color:#3e4553;
	padding:.25rem .25rem
 }
#mainOINav .nav-item { 
	text-align:right; 
	font-family: 'Oswald', sans-serif;
		font-weight: normal;
	font-size:1rem;
	text-transform: uppercase;
}

#mainOINav .nav-item.active
{
	background-color: #757570;
}
#mainOINav .nav-item.active a
{
	color: white;
}

.profile-sidebar {
	background-color: #fff;
	padding:20px 10px;
}
.profile-userimage {
	position:relative;
}
.profile-userimage img {
  
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  border-radius: 100% !important;
}

.profileeditimage {
	position:absolute;
	bottom:0;
	right:0;
	font-size:.75rem;
	width:72px;
	padding:.15rem .10rem;
	display:none;
}
.profile-userimage:hover .profileeditimage {
	display:block;
}

.teammember {
	font-size:.85rem;
}

label.error {
	padding:.5rem 0 0 0;
	margin-bottom: 0;
}

.isteammeber {
	font-size:.80rem;
	text-decoration:none;
}
.isteammeber .fas {
	color:#E7B82A!important;
}
.searchcollectivescontainer .select2-container {
	z-index:200;
	}
	
.searchcollectivescontainer {
	padding:6px;
	width:100%;
	background-color:#AFAFAF;
}
@media (min-width: 840px) {
	.searchcollectivescontainer{
		padding:5px 60px 0 0;
		width:400px;
		background-color: transparent;
	}
}

.selectcard:hover
{
	background-color: #eee;
}

.oauthproviderbtn {
    margin-bottom: 0px;
	text-align:center;
}

.oauthproviderbtn img {
	width:190px;
}

.collectivelayout
{
	height: 100%;
}

h1.navcommunity
{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #3e4553;
    margin:0px 24px 0px 0;
    padding: 0px;
    
    text-transform: uppercase;
}

.dropdown-item a {
	display: block;
	text-decoration: none;
}
.dropdown-item a:hover {
	text-decoration: none;
}

.mainoinav .nav-item a.nav-link
{
	display: block;
}
.mainoinav .nav-item a.nav-link:hover
{
	margin-bottom: 0px;
}

.community-maincol  {
	margin:0 ;
}

.collectivecontent {
    height: calc(100% - 130px);
    padding-top: 1px;
}

.collectiveheader {
	width: calc(100% - 20px);
	height:130px;
	margin:0 10px 20px;
}
.project-thumb {
	width: 80px;
	height: 80px;
}
.collectiveheadermenu {
	
	padding-top:10px;
	position:absolute;
}
.collectiveheaderlogo {
	width:110px;
}
.project-title {
	padding-left:95px;

	height: 100px;
}
.project-title h1 {
	font-weight: bold;
	font-size:1.4rem;
	line-height:1.2;
	margin:0 0 5px 0;
}
.project-likes {
	font-weight:normal;
	color:#555;
	font-size:0.9rem;
}
.project-likes-count {
	display: inline-block;
	margin-right: 25px;
	line-height: 21px;
}
.request-join {
	font-size:.75rem;
	line-height:21px;
	color:#555;
}
.btn-liked {
	color:#909090;
}
.collectiveheadermenu .navbar-collective li {
	float:left;
}
.collectiveheadermenu .navbar-collective .nav-link {
	padding:0.2rem .35rem;
	font-size:0.80rem;
}
.coldonatios {
	margin:0 10px 20px;
}
.feedcard .feedcard-collective {
	top:5px;
	right:5px;
}
@media (min-width: 640px) {
	.collectiveheader {
		width: 720px;
		margin:auto;
	}
	.collectiveheadermenu {
	left:95px;
	}
	.project-thumb {
	width: 105px;
	height: 105px;
	}
	.project-title {
	font-size:1.6rem;
	padding-left:5px;
	height: 70px;
	text-align:center;
	}
	.project-title h1 {
	margin-bottom:10px;
	}
	.collectiveheadermenu {
	padding-top:10px;
	left:135px;
	width:calc(100% - 135px);
	}
	.collectiveheadermenu .navbar-collective li {
	float:none;
	}
	.collectiveheadermenu .navbar-collective .nav-link {
		padding:0.2rem .5rem;
	font-size:0.95rem;
	}
	.community-maincol  {
		margin:0 20px 20px 0;
	}
	.community-maincol-homepage  {
	margin: 0px;
	}
	.coldonatios {
		margin:0 20px 10px;
	}
	.feedcard .feedcard-collective {
		top:25px;
	}
}
.collectivelayoutlogo .community-maincol,
.collectivelayoutlogo .collective-sidebar,
.collectivelayoutlogo .collectivemaincol  {
	margin-top:30px;
}
.collectivelayoutlogo .collectivecontent {
    height: calc(100% - 190px);
}


.feedcard-body a {
	text-decoration: underline;
	color:#1e7e34;
}

.feedcard-body a:hover {
	color:#28a745;
}

.chatterbox-write .chatterbox-text {
	width:calc(100% - 60px);

	}
	
	
.project-item-box {
    height: 40px;
}

.project-item-box span {
    color: #fff7f7;
    padding: 0 15px;
    line-height: 40px;
}
    
.subscribe-headline-content {
	margin:10px 0;
}

.htmlintro {
	padding:20px;
}