<script type="text/javascript" src="$siteroot$apphome/components/javascript/component-viewer.js"></script>

#set($depth = 4)
#set($maxchildren = 5)
#set($height = $maxchildren * 220)
#set($width = $depth * 320) 
<div class="overflow-hidden" style="height: calc(100vh - 200px)">
  <div>
    <div id="componentViewer" style="height: ${height}px;width: ${width}px;"   
    data-entityid="$entity.id"
    data-moduleid="$module.id"
    data-loadurl="/${mediaarchive.getMediaDbId()}/services/module/componentdata/search.json"   ></div>
  </div>
</div>