body {
	background: url('http://www.highlightskids.com/media/kids/highlightskids/page-theme/looking-up-at-the-clouds/images/top-center_bg.jpg') top center no-repeat;
	background-color: #8DD7F0;
}
#emcontent {
	border: 1px solid #61b5d1;
	border-top: none;
}
#nav {
	background: rgb(237,28,36); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkMWMyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYjE1MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(237,28,36,1) 0%, rgba(187,21,31,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(187,21,31,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* W3C */
}
ul.emheaderbuttons li.navselected a {
	border: 1px solid #0d6962;
	background: rgb(28,206,191); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjY2ViZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDcxNmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(28,206,191,1) 0%, rgba(13,113,106,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,206,191,1)), color-stop(100%,rgba(13,113,106,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* W3C */
}

ul.emheaderbuttons li a:hover span {
	background: rgba(255,255,255,0.2);
}
#header .navlinks {
	color: #0d6962;
	border: 1px solid #0d6962;
	border-top: none;
	background: rgb(28,206,191); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjY2ViZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDcxNmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(28,206,191,1) 0%, rgba(13,113,106,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,206,191,1)), color-stop(100%,rgba(13,113,106,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(28,206,191,1) 0%,rgba(13,113,106,1) 100%); /* W3C */
}
.footer-p, .footer-p a {
	color: #fff;
}
.ui-widget-header {
	background: rgb(237,28,36); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkMWMyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYjE1MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(237,28,36,1) 0%, rgba(187,21,31,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(187,21,31,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(237,28,36,1) 0%,rgba(187,21,31,1) 100%); /* W3C */
}
#emcontainer #tableheader th, #emcategoryinline .dTreeNodeSel {
	background: #199e94;
}
#searchform {
	border-color: #b11927;
}
