
#header {

#if($template.disableshadows == "true")
box-shadow: none;
#end

#set($solidcolor = $template.headercolor)
#set($color1 = $template.headercolorgradienthi)
#set($color2 = $template.headercolorgradientlo)
#if ($solidcolor)
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color2)
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
}


#header .header-text{
position: relative;
#if ($template.headerfont)
font-family: $template.headerfont;
#end
#if ($template.headerfontcolor)
color: ${template.headerfontcolor};
#end
#if($template.headerfontsize)
font-size: ${template.headerfontsize}px;
#end
#if($template.headerfontopacity)
opacity: ${template.headerfontopacity};
#end
}

h1 {
#if ( $template.h1font )
font-family: $template.h1font;
#end
#if( $template.h1fontsize )
font-size: ${template.h1fontsize}px;
#end
#if( $template.h1fontcolor )
color: ${template.h1fontcolor};
#end
#if($template.h1fontopacity)
opacity: ${template.h1fontopacity};
#end
}

h2 {
#if ( $template.h2font )
font-family: $template.h2font;
#end
#if( $template.h2fontsize )
font-size: ${template.h2fontsize}px;
#end
#if( $template.h2fontcolor )
color: ${template.h2fontcolor};
#end
#if($template.h2fontopacity)
opacity: ${template.h2fontopacity};
#end
}

h3 {
#if ( $template.h3font )
font-family: $template.h3font;
#end
#if( $template.h3fontsize )
font-size: ${template.h3fontsize}px;
#end
#if( $template.h3fontcolor )
color: ${template.h3fontcolor};
#end
#if($template.h3fontopacity)
opacity: ${template.h3fontopacity};
#end
}

h4 {
#if ( $template.h4font )
font-family: $template.h4font;
#end
#if( $template.h4fontsize )
font-size: ${template.h4fontsize}px;
#end
#if( $template.h4fontcolor )
color: ${template.h4fontcolor};
#end
#if($template.h4fontopacity)
opacity: ${template.h4fontopacity};
#end
}

h5 {
#if ( $template.h5font )
font-family: $template.h5font;
#end
#if( $template.h5size )
font-size: ${template.h5fontsize}px;
#end
#if( $template.h5fontcolor )
color: ${template.h5fontcolor};
#end
#if($template.h5fontopacity)
opacity: ${template.h5fontopacity};
#end
}

h6 {
#if ( $template.h6font )
font-family: $template.h6font;
#end
#if( $template.h6fontsize )
font-size: ${template.h6fontsize}px;
#end
#if( $template.h6fontcolor )
color: ${template.h6fontcolor};
#end
#if($template.h6fontopacity)
opacity: ${template.h6fontopacity};
#end
}

p {
#if ( $template.pfont )
font-family: $template.pfont;
#end
#if( $template.pfontsize )
font-size: ${template.pfontsize}px;
#end
#if( $template.pfontcolor )
color: ${template.pfontcolor};
#end
#if($template.pfontopacity)
opacity: ${template.pfontopacity};
#end
}

#nav {
#if ($template.navcolor)
#set($solidcolor = $template.navcolor)
#else
#set($solidcolor = "")
#end
#if($template.navcolorgradienthi && $template.navcolorgradienthi!="" && $template.navcolorgradientlo && $template.navcolorgradientlo!="")
#set($color1 = $template.navcolorgradienthi)
#set($color2 = $template.navcolorgradientlo)
#else
#set($color1 = "")
#set($color2 = "")
#end
#if ($solidcolor && $solidcolor!="")
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color1!="" && $color2 && $color2!="")
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
}

#nav li a {
#if ($template.navbuttoncolor)
#set($solidcolor = $template.navbuttoncolor)
#else
#set($solidcolor = "")
#end
#if($template.navbuttoncolorgradienthi && $template.navbuttoncolorgradienthi!="" && $template.navbuttoncolorgradientlo && $template.navbuttoncolorgradientlo!="")
#set($color1 = $template.navbuttoncolorgradienthi)
#set($color2 = $template.navbuttoncolorgradientlo)
#else
#set($color1 = "")
#set($color2 = "")
#end
#if ($solidcolor && $solidcolor!="")
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color1!="" && $color2 && $color2!="")
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
#if ( $template.navfont )
font-family: $template.navfont;
#end
#if( $template.navfontsize )
font-size: ${template.navfontsize}px;
#end
#if( $template.navfontcolor )
color: ${template.navfontcolor};
#end
#if($template.navfontopacity)
opacity: ${template.navfontopacity};
#end
#if($template.disableshadows == "true")
box-shadow: none;
#end
}

#nav li a:hover {
#if ( $template.navhoverfont )
font-family: $template.navhoverfont;
#end
#if( $template.navhoverfontsize )
font-size: ${template.navhoverfontsize}px;
#end
#if( $template.navhoverfontcolor )
color: ${template.navhoverfontcolor};
#end
#if($template.navhoverfontopacity)
opacity: ${template.navhoverfontopacity};
#end
#if ($template.navbuttonhovercolor)
#set($solidcolor = $template.navbuttonhovercolor)
#else
#set($solidcolor = "")
#end
#if($template.navbuttonhovercolorgradienthi && $template.navbuttonhovercolorgradienthi!="" && $template.navbuttonhovercolorgradientlo && $template.navbuttonhovercolorgradientlo!="")
#set($color1 = $template.navbuttonhovercolorgradienthi)
#set($color2 = $template.navbuttonhovercolorgradientlo)
#else
#set($color1 = "")
#set($color2 = "")
#end
#if ($solidcolor && $solidcolor!="")
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color1!="" && $color2 && $color2!="")
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
}

#nav li .active{
#if ($template.navbuttonhovercolor)
#set($solidcolor = $template.navbuttonhovercolor)
#else
#set($solidcolor = "")
#end
#if($template.navbuttonhovercolorgradienthi && $template.navbuttonhovercolorgradienthi!="" && $template.navbuttonhovercolorgradientlo && $template.navbuttonhovercolorgradientlo!="")
#set($color1 = $template.navbuttonhovercolorgradienthi)
#set($color2 = $template.navbuttonhovercolorgradientlo)
#else
#set($color1 = "")
#set($color2 = "")
#end
#if ($solidcolor && $solidcolor!="")
background: $solidcolor !important; /* Old browsers */ 
#end
#if($color1 && $color1!="" && $color2 && $color2!="")
background: -moz-linear-gradient(top, $color1 0%, $color2 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%) !important; /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ) !important; /* IE6-9 */
#end
}

#nav .flat-right {
#if ($template.navbuttoncolor)
#set($solidcolor = $template.navbuttoncolor)
#else
#set($solidcolor = "")
#end
border-right-color: $solidcolor;
}

#embody {
#set($tile = $mediaarchive.getAsset(${template.tileupload}))
#if($tile)
#set($link = $mediaarchive.asLinkToOriginal($tile))
		background-image: url('$link');
		#if($template.backgroundstyle == "tile")
			background-repeat:repeat-x;
		#elseif($template.backgroundstyle == "single")
			background-position:center top;
			background-repeat: no-repeat;
			background-size: 100%;
			
		#end
#else
	#if($template.backgroundtile)
		background-image: url('/${content.applicationid}/theme/images/backgrounds/${template.backgroundtile}');
		#if($template.backgroundstyle == "tile")
		background-repeat:repeat-x;
		#elseif($template.backgroundstyle == "single")
		background-position:center top;navcolorgradienthi
		#end
	#end
#end
}

#emcontent {
#if($template.backgroundoppacity)
opacity: $template.backgroundoppacity;
#end
}

#main{
#if($template.disableshadows == "true")
box-shadow: none;
#end
}

#left-col{
#if($template.disableshadows == "true")
box-shadow: none;
#end
#if($template.contentbackgroundcolor)
color: $template.contentbackgroundcolor;
#end
}

#left-col .ui-widget-header {
#if ($template.navcolor)
#set($solidcolor = $template.navcolor)
#else
#set($solidcolor = "")
#end
#if($template.navcolorgradienthi && $template.navcolorgradienthi!="" && $template.navcolorgradientlo && $template.navcolorgradientlo!="")
#set($color1 = $template.navcolorgradienthi)
#set($color2 = $template.navcolorgradientlo)
#else
#set($color1 = "")
#set($color2 = "")
#end
#if ($solidcolor && $solidcolor!="")
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color1!="" && $color2 && $color2!="")
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
#if($template.navfontcolor)
color: $template.navfontcolor;
#end
}

#left-col .ui-widget-content {
#if($template.disableshadows == "true")
box-shadow: none;
#end
}

#help-content .ui-widget-header {
#if ($template.navcolor)
#set($solidcolor = $template.navcolor)
#else
#set($solidcolor = "")
#end
#if($template.navcolorgradienthi && $template.navcolorgradienthi!="" && $template.navcolorgradientlo && $template.navcolorgradientlo!="")
#set($color1 = $template.navcolorgradienthi)
#set($color2 = $template.navcolorgradientlo)
#else
#set($color1 = "")
#set($color2 = "")
#end
#if ($solidcolor && $solidcolor!="")
background: $solidcolor; /* Old browsers */ 
#end
#if($color1 && $color1!="" && $color2 && $color2!="")
background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
#end
#if($template.navfontcolor)
color: $template.navfontcolor;
#end
}

