body {
	margin: 0;
	padding: 0;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

#header {
	height: auto;
	padding: 35px 16px 10px 16px;
}
#header .navlinks {
	display: block;
	float: right;
	background: #2790B0;
	border-radius: 0 0 5px 5px;
	padding: 1px 10px 5px 10px;
	margin: -35px -16px 0 0;
}
#header .navlinks a {
	position: relative;
	top: -1px;
	color: #fff;
	padding: 0 5px;
}
#header .navlinks a:hover {
	color: #fff;
}
#header .navlinks {
	color: #59bbd9;
}
.ui-widget {
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-o-border-radius: 5px 5px;
	-ms-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	border-radius: 5px 5px;
}
.ui-widget-content
{
	
	padding: 10px;
}
#emselectable { margin: 0 auto; }
#emselectable  
{
	-webkit-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px;
	-o-border-radius: 5px 5px;
	-ms-border-radius: 5px 5px;
	-khtml-border-radius: 5px 5px;
	border-radius: 5px 5px;
}
#emselectable thead tr { font_size: 11px; font-weight: bold; padding: 5px 0px 5px 14px; }

table td {
	vertical-align: top;
}

.emdetailactions{
	padding-top: 40px;
	list-style: none;
	margin: 0;
}
.embuttons {
	list-style: none;
	margin: 5px 0px 0px 0px;
}

.emdetailactions li, .embuttons li {
	margin-left: 5px;
	float: left;
}
.emdetailactions li 
{
	margin-bottom: 20px;
}
.emdetailactions span 
{
	width: 130px;	
}	
.embuttons span 
{
	width: 98px;	
}	

.emdetailactions span, .embuttons span {
	font-size: 12px;
	font-weight: bold;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 3px 4px -1px #464646;
	-moz-box-shadow: 0 3px 4px -1px #464646;
	box-shadow: 0 3px 4px -1px #464646;

	padding: 5px 12px;
}
.emdetailactions .ui-button-text
{
	width: 130px;
}
.emdetailactions .ui-button-text, .embuttons .ui-button-text{
	font-size: 12px;
	font-weight: bold;
	min-width: 70px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 3px 4px -1px #464646;
	-moz-box-shadow: 0 3px 4px -1px #464646;
	box-shadow: 0 3px 4px -1px #464646;

	padding: 5px 12px;
}





.tanmodule {
	padding: 8px;
}

ul.emheaderbuttons {
	padding: 0px;
	margin: 5px;
	margin-left: -10px;
	list-style: none;
	clear: left;
	height: 23px;
}

ul.emheaderbuttons li {
	float: left;
	display: inline;
	line-height: 50px;
	/*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.emheaderbuttons li a {
	text-decoration: none;
	float: left;
	cursor: pointer;
}




ul.emheaderbuttons li a span {
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 23px;
	padding: 5px 15px;
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-o-border-radius: 8px 8px 8px 8px;
	-ms-border-radius: 8px 8px 8px 8px;
	-khtml-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}

ul.emheaderbuttons li a.current span, ul.emheaderbuttons li a:hover span {
	text-decoration: none;

}

ul.emheaderbuttons li.navactive a {

	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-o-border-radius: 8px 8px 8px 8px;
	-ms-border-radius: 8px 8px 8px 8px;
	-khtml-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}

ul.emheaderbuttons li.navactive a {
	text-decoration: none;
}

li.navactive a {
	text-decoration: none;
}

li.navactive a:hover span {
	text-decoration: none;
}

.navactive:hover {


}

ul.emheaderbuttons li.navselected a {

	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-o-border-radius: 8px 8px 8px 8px;
	-ms-border-radius: 8px 8px 8px 8px;
	-khtml-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}



.detailsbox {
	height: 510px;
}

.emdetailactions img {
	border: 0px;
}
#resultsdiv {
	margin: 0;
	padding: 0;
}
#emresultscontent {
	margin: -10px;
}

#emresultscontent a {
	font-size: 11px;
	font-weight: bold;
}

.playerbox {
	text-decoration: none;
}

.emprevnext {
	padding: 20px 0 20px 0;
}

.emprevnext A {
	text-decoration: none;
}

.emprevnext A:hover {
	text-decoration: none;
}

.linkprevious {
	background: url(../images/buttons/back_16x16.png) no-repeat top left;
}

.linkprevious span {
	padding-left: 18px;
}

.linknext {
	float: right;
	background: url(../images/buttons/forwd_16x16.png) no-repeat top right;
}

.linknext span {
	padding-right: 18px;
}

.finishbutt {
	font-size: 12px;
	font-weight: bold;
	color: #fff;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.file_input_textbox {
	float: left;
	width: 215px;
	margin-right: 8px;
	margin-top: 4px;
}

.file_input_div {
	position: relative;
	height: 30px;
	overflow: hidden;
}

.file_input_hidden {
	font-size: 30px;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
}

.file_input_button {
	position: absolute;
	top: 0px;
	font-weight: bold;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


input, a, button {
	outline: none !important;
}

input:hover, a:hover, button:hover {
	outline: none !important;
}

input:active, a:active, button:active {
	outline: none !important;
}

input:focus, a:focus, button:focus {
	outline: none !important;
}

input[type=submit], button, a.btn {
	/* GENERAL */

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	border-style: solid;
	border-width: 1px;
	display: inline-block;
	font-weight: bold;
	margin: 5px 0 5px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}


.emsearchfield {
	font-weight: bold;
	font-size: 12px;
}

.commentinput input {
	width: 300px;
	height: 50px;
}
#emcontainer .emcommentdate
{
	display: inline;
	margin: 0 10px 0 30px;
}

#commentprompt textarea {
	max-width:689px;
	min-width:689px;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-color: #b4b4b4 #e9e9e9 #e9e9e9 #b4b4b4;
	border-style: solid;
	border-width: 1px;
	/*Rounded corners*/

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 1px 1px 0px #fff;
	-moz-box-shadow: 1px 1px 0px #fff;
	box-shadow: 1px 1px 0px #fff;
	height: 20px;
}

#commentprompt textarea:focus {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	border: 0 0 8px rgba(82,168,236,0.75);
	!important

-webkit-box-shadow: 0 0 8px rgba(82,168,236,0.5);
	-moz-box-shadow: 0 0 8px rgba(82,168,236,0.5);
	box-shadow: 0 0 8px rgba(82,168,236,0.5);
	height:80px;
}


#embedprompt textarea {
	padding-top: 5px;
	max-width:400px;
	min-width:400px;
	margin-top: 25px;
	max-height: 160px;
	min-height: 160px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-color: #b4b4b4 #e9e9e9 #e9e9e9 #b4b4b4;
	border-style: solid;
	border-width: 1px;
	/*Rounded corners*/

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 1px 1px 0px #fff;
	-moz-box-shadow: 1px 1px 0px #fff;
	box-shadow: 1px 1px 0px #fff;
}

.error {
	font-weight: bold;
	line-height: 16px;
	display: block;
}

ul.emuploadbutton {
	padding: 0px;
	margin: 5px;
	list-style: none;
	clear: left;
	height: 23px;
}

ul.emuploadbutton li {
	float: left;
	display: inline;
	/*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.emuploadbutton li a {
	text-decoration: none;
	float: left;
	cursor: pointer;
}

ul.emuploadbutton li a span {
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 23px;
	padding: 5px 15px;
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	margin-top: -38px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

ul.emuploadbutton li a.current span, ul.emuploadbutton li a:hover span {
	text-decoration: none;

	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-o-border-radius: 8px 8px 8px 8px;
	-ms-border-radius: 8px 8px 8px 8px;
	-khtml-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;

}

.editcolumnheaderpicker {
	white-space: nowrap;
	width: 75px;
}

.editcolumnheader {
	white-space: nowrap;
}



#searchform {
    background: url("../images/search_icon.png") no-repeat scroll 190px 0px #F4F4F4;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    height: 27px;
    margin: 6px 0 0 9px;
    width: 220px;
}

#searchform input {
    border-style: none;
    color: #777;
    height: 20px;
    margin-left: 5px;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    width: 160px;
}

.emactionheader
{
	 background: none;
	 padding: 10px 0 14px 0;
}
.embuttons {
	
}
.borderedcell, .resultstablecell {
	vertical-align: middle;
}

#emcommentarea
{
	padding: 5px;	
}

.uipanel
{
	margin-bottom: 8px;
	padding: 0px;
}

#emcontainer #emcontent .selectedfolder A 
{
	font-weight: bold;
	background-image: url("../images/navigation/folderopen.png");
}
#emcontainer .folderlink 
{
	padding: 5px;
	margin-left: 10px;
}	
#emcontainer .folderlink A
{
	display:block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url("../images/navigation/folderclosed.png");
	line-height: 16px;
}
#emcontainer .folderlink A span
{
	padding-left: 20px;
}
#emcontainer .folderlink A:hover span
{
	text-decoration: underline;
}

.emdropshadow
{
	margin: 5px;
}

#emcontainer  .emselectmenu ul 
{
	list-style: none;
	white-space: nowrap;
	padding:0px;
}

#emcontainer  .emselectmenu ul li a 
{
	display: block;
	text-decoration: none;
	text-align: left;
	padding: 2px 0px 0px 10px;
}


#emcontainer  .emselectmenu  .active
{
	font-weight: bold;
}

#emcontainer #emselectable table th 
{
 	white-space: nowrap; padding: 4px; text-align: left; font-weight: bold; 
 }
#emcontainer #emselectable table tr {	cursor:pointer;  }
#emcontainer #emselectable table tr td {	padding: 4px;   }
#emcontainer #emselectable table tr.emhighlight {	cursor:pointer; }
#emcontainer #emselectable .emselectabledetails { padding-left: 20px; }

.ui-widget { margin: 0 auto; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-size: 11px; }
.ui-widget-content {   font-size: 11px; padding: 0px; overflow:hidden;}
.ui-widget-content a { font-size: 11px;}
.ui-widget-header { font_size: 11px; font-weight: bold; padding: 5px 0px 5px 14px; }
.ui-widget-header a { font_size: 11px; font-weight: bold;}
#header {
	background: none;
}
#nav {
	padding: 6px 10px 11px 10px;
	border-radius: 5px 5px 0 0;
}
#application {
 	border: none;
 	padding: 0;
 	margin: 0 auto;
 	background: none;
}
#main {
	padding: 10px 10px 0 10px;
}
.ui-widget {
	border: none;
}
.c25l .ui-widget {
	margin-bottom: 20px;
}
.ui-widget-header {
	font-size: 13px;
	border-radius: 5px 5px 0 0;
}
.ui-widget-content {
	border-radius: 0 0 5px 5px;
	border: 1px solid #ccc;
	border-top: none;
}
.c75r .ui-widget-content {
	padding: 10px;
}
#emcontainer {
	background: none;
}
#emcontent {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 10px 0 20px 0;
	border: 1px solid #ccc;
	border-top: none;
}
.footer-p, .footer-p a {
	font-size: 12px;
	color: #aaa;
	text-decoration: none;
}
.footer-p a:hover {
	color: #777;
}
#tableheader {
	vertical-align: middle;
}
#emselectable {
	margin-bottom: 15px;
}
.ui-widget-content input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
}
.ui-widget-content input[type="text"]:focus {
	border: 1px solid #2790B0;
	color: #444;
}
.emgallery {
	text-align: center;
}
.emthumbbox {
	margin-bottom: 4px;
	float: none;
	display: inline-block;
	padding: 0 30px 0 0;
}
.emboxthumb
{
	width: 200px;
	height: 260px;
	text-align: center;
	border-bottom: none;
	padding-bottom: 0;
}
.emthumbbox:hover .emdropshadow {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
	border: 1px solid #cfcfcf;
}
#emcategoryinline .dTreeNodeSel {
	margin-bottom: 10px;
	padding: 5px;
	background: #90BE5A;
	color: #fff;
}
#emcategoryinline .dTreeNodeSel a {
	color: #fff;
}
#emcategoryinline .treerowtext {
	padding: 3px 0 1px 0;;
}
#emcategoryinline .node {
	position: relative;
	top: -1px;
	margin-right: 3px;
}
#uploadform #fileName {
	width: 187px;
	margin-right: 10px;
}
#uploadform .finishbutt {
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
	float: right;
	margin: 0 13px 20px 0;
	text-transform: none;
	letter-spacing: normal;
}
#uploadform .file_input_hidden {
	width: 81px;
	height: 29px;
	position: relative;
	left: -5px;
	cursor: pointer;
	z-index: 99;
}
.detailsbox {
	background: none;
}
.commentbox {
	margin-top: 15px;
}
td.player {
	padding-right: 15px;
}
input[type="submit"] {
	cursor: pointer !important;
}
#uploadform .required {
	float: left;
	margin: 1px 0 0 5px;
}
#uploadform .embutton img {
	margin: 5px 0 0 7px;
	float: left;
}
#uploadform h2 {
	margin: 0; 
	margin-bottom: 10px;
	float: left;
}
#uploadform input[type="text"] {
	padding: 5px 10px;
	font-size: 14px;
	margin-bottom: 20px;
}
p.noresults {
	text-align: center;
	font-size: 14px;
	color: #777;
}
#collectionbasket {
	font-size: 11px;
}
.emdetailsbox {
	width: 180px;
	padding: 10px;
	color: #777;
}
.emdetailactions {
	padding: 30px 0 0 0;
	margin: 0 0 0 7px;
}
.emdetailactions .ui-button-text {
	text-align: left;
}
.emdetailactions .ui-button-text img {
	margin-left: 8px;
	margin-right: 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: #777;
}
.emdetailactions .ui-state-hover, .emdetailactions .ui-state-hover .ajax {
	color: #444;
}
.emdetailactions a.ajax {
	color: #777;
	font-size: 12px;
}
th {
	text-align: center !important;
}
.resultstablecell {
	text-align: center;
}
.la {
	text-align: left;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
