#set( $searcher = $mediaarchive.getSearcher("librarycollection") )
$context.putPageValue("searcher",$searcher)
#set($searchcollectinolauncher = $context.getRequestParameter("searchcollectinolauncher"))
<div  id="search-collections-dialog" data-searchcollectinolauncher="$!{searchcollectinolauncher}" >
	<div id="searcharea" >
		#set($viewid = "librarysearchcollection")
		#set($viewpath = "librarycollection/${viewid}")
		#set($details = $searcher.getDetailsForView($viewpath, $userprofile))
		#set($hitssessionid = $context.getRequestParameter("hitssessionid"))
		#if($hitssessionid)
			#set( $hits = $context.getSessionValue($hitssessionid))
			#if( $hits && $hits.getSelectionSize() > 0)	
				<div class="alert alert-info">
			  		[[Adding]] $hits.getSelectionSize() [[assets to Album]]
				</div>
			#end	
		#end
	<form  id="colsearchform" 
			class="ajaxform autosubmit"  
			data-targetdivinner="collectionresultsdialog" 
			action="$siteroot$apphome/components/opencollections/searchcollectionresults.html">
		
		<input type="hidden" name="sortby" value="name" />
		<table style="width:100%;">
		<tr>
		<td>

		<div  class="row inlinesearch" >
			$context.putPageValue("autocomplete","off")
			#foreach( $detail in $details)
			<div class="col">
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
			</div>
			#if( $counter == 4)
				</div>
				<div  class="row" >
			#end	
			#end
		</div>	
		</td>
		#if($canviewsettings)
		<td style="width:20px; padding:0; position:relative">
			<a style="position:absolute; top:3px; right:3px;"
				class=" edit-icon"
				href="$apphome/views/settings/modules/librarycollection/metadata/viewssystem/index.html?viewid=${viewid}&viewpath=${viewpath}"
				title="[[Edit Search Form Fields]]">
			<i class="fas fa-edit"></i>
			</a>
		</td>
		#end
		</tr>
		</table>
	</form>
	

	
	<div id="collectionresultsdialog">
		$pages.include("$apphome/components/opencollections/searchcollectionresults.html",$context)
		<div class="clearfix"></div>
	</div>
	
	#if($canaddnewcollection)
		#set($targetdiv = $context.getRequestParameter("targetdiv"))
		#if(!$targetdiv)
			#set($addnewurl = "$siteroot$apphome/components/librarycollection/pickcollectionaddnew.html?searchtype=librarycollection")
		#else
			#set($addnewurl = "$siteroot$apphome/components/opencollections/pickcollectionaddnew.html?searchtype=librarycollection&targetdiv=$!{targetdiv}&library.value=$!library.getId()&hitssessionid=$!hitssessionid")
		#end
		    <a  class="emdialog btn btn-secondary" 
	       	title="[[New Album]]" 
	       	href="$addnewurl">
	       	<i class="fa fa-plus-square"></i> [[Create Album]]</a>
    #end	
	</div>
	
	
	<form id="collectionselectform" 
		class="ajaxform autoclose"  
		
		
		#if($searchcollectinolauncher=="sidebarsearchalbum")
			action="$home$apphome/views/modules/librarycollection/media/showcategory.html"
			data-oemaxlevel="3"
			data-targetdiv="applicationcontent"
			data-ajaxreloadtargets="sidebarcontent"
		#elseif($searchcollectinolauncher=="uploadfindcollection")
		 	action="$siteroot$apphome/components/upload/types/html5/collectionpicker.html"
		 	data-targetdiv="uploadcollectionpicker"
		#else
			action="$home$apphome/components/opencollections/addtocollection.html"
			data-targetdiv="collectionresultsdialog" 
		#end
		>
		
		<input id="emselectedrow" type="hidden" name="collectionid" />
		
		##<input type="hidden" name="searchtype" value="librarycollection" />
		<input type="hidden" name="hitssessionid" value="$!hitssessionid" />
		
	</form>
</div>	
