#set($moduleid = $module.getId())
#if (!$rendertype && $moduleid)
	#if(!$module)
		#set($module = $mediaarchive.getCachedData("module", $moduleid))
	#end
   	#set($rendertype = $module.modulerendertype)
#end
#if (!$rendertype)
   	#set($rendertype = "entity")
#end
$context.putPageValue("entityrendertype", $rendertype)

#set( $topmodule = $module)
$context.putPageValue("topmodule", $topmodule)

#set($topentityid = $context.getRequestParameter("topentityid"))

#if( !$entity)
	#set( $entity  = $mediaarchive.getData($topmodule.getId(), $entityid) )
#end

#set($uploadsourcepath =  $topmodule.getValue("uploadsourcepath"))
$context.putPageValue("uploadsourcepath", $uploadsourcepath)

#set($maintargetdiv = "$!{moduleid}resultscontainer")
$context.putPageValue("maintargetdiv", $maintargetdiv)

#set($pickertarget = $context.getRequestParameter("pickertarget"))

<div id="$maintargetdiv"
	class="resultsdiv moduleajaxreloadtarget adjustHeight"
	data-moduleid="$topmodule.getId()"
	data-hitssessionid="$!hits.getSessionId()"
	data-url="$apphome/views/modules/$!{module.id}/index.html"
	data-componenthome = "$!componenthome"
	data-searchhome="$!home$!componenthome/results"
	data-targetdiv="$maintargetdiv"
	data-pickertarget="$!{pickertarget}"
	#if($topentityid) data-topentityid="$topentityid" #end
	data-oemaxlevel="1"
>	
	#set($entityurl = "$siteroot$apphome/views/modules/$module.id/index.html")
 	<div class="emgrid-box expandedmodule">

		
		##$pages.include("$apphome/views/modules/${moduleid}/contextmenu.html", $context)
		
		$pages.include("${searchhome}/index.html", $context)
	</div>
</div>
#set($entityid = $context.getRequestParameter('entityid'))
#set($entitytabopen = $context.getRequestParameter('entitytabopen'))
#if($entityid)
<span class="showentity" data-id="$entityid" data-entitytabopen="$!{entitytabopen}"></span>
#end


