<div id="vieweditorarea">
	#set( $viewid = $context.getRequestParameter("viewid") )
	#set( $assettype = $context.getRequestParameter("assettype") )

	#if( !$assettype )
		#set( $assettype = "default" )
	#end

	#set( $moduleid = $context.findValue("module") )
	#set( $viewpath = $context.getRequestParameter("viewpath") )

	#set( $viewsroot = $content.viewsroot )

  <ul class="emsettingslist"  viewid="$viewid" catalogid="$catalogid" searchtype="$moduleid" assettype="$assettype" viewpath="$viewpath" path="$siteroot$viewsroot/movefields.html">
    #if( $viewid )
      #set( $view = $searcherManager.getData("$catalogid", "view", $viewid) )
      <li class="header no-sort" id="views-header">
        <span id="name">$context.getText($view)</span>
        #if ( $view.rendertable )
          <span class="type">[[Table]]: $view.rendertable</span>
        #end
        <button class="btn-unstyled mr-3 close-fp" type="button">
          <i class="bi bi-x-lg text-white"></i>
        </button>
      </li>
              
      <li class="no-sort add-to subheader shadow-sm m-2 mb-0">
        #if( $view.rendertable)
          #set($searchtype = $view.rendertable)
        #else
          #set($searchtype = $moduleid)
        #end

        <div class="d-flex align-items-center justify-content-between">
          #if( $canviewsettings ) 
          <a class="btn btn-xs btn-primary mr-2" data-targetdiv="applicationcontent" data-oemaxlevel="6" href="$siteroot$apphome/views/settings/lists/datamanager/properties/index.html?&searchtype=$searchtype" id="addnewfield">[[Edit Fields]]</a>	 
          #end
          <form name="addtoview" class="ajaxform novalidate d-flex align-items-center" data-targetdiv="vieweditorarea" id="addtoview" action="$siteroot$viewsroot/addtoview.html?refresh=individual">
            <input type="hidden" name="catalogid" value="$!catalogid"/>
            <input type="hidden" name="searchtype" value="$moduleid"/>
            <input type="hidden" name="assettype" value="$assettype"/>
            <input type="hidden" name="oemaxlevel" value="1"/>
            <input type="hidden" name="viewid" value="$viewid"/>
            <input type="hidden" name="viewpath" value="$viewpath"/>
            <input type="hidden" name="refresh" value="individual"/>
            #if( $view.rendertable)
              #set($searcher = $searcherManager.getSearcher($catalogid, $view.rendertable))
            #else
              #set($searcher = $searcherManager.getSearcher($catalogid, $moduleid))
            #end
            <select id="tableid" 
              name="tableid"
              class="form-control form-control-sm2 float-right #if($canviewsettings) d-block #else d-none  #end" 
              onchange='$("#fieldnames").load("$siteroot$apphome/views/settings/modules/${moduleid}/metadata/views/listfieldoptions.html?searchtype=" + $("#tableid").val())'>
              <option value=""> </option>
              #foreach( $table in $searcher.getPropertyDetailsArchive().listSearchTypes() )
              <option value="$table" #if( $table == $searcher.getSearchType() ) selected #end>$table</option>
              #end
            </select>
            <select id="fieldnames" name="newone" class="form-control form-control-sm2 float-right selectsubmitform #if($canviewsettings) d-block #else d-none #end">
              <option value=""> </option>
              #foreach( $detail in $searcher.getUserPropertyDetails() )
              <option value="$detail.id">$detail.getText($context)</option>
              #end
            </select>
          </form>
        </div>
      </li>
		#end
  </ul>

  <ul class="emsettingslist listsort overflow-y mx-2 mb-2 shadow-sm" style="max-height: 600px;"
    data-path="$siteroot$viewsroot/saveview.html?viewpath=$viewpath&searchtype=$moduleid&assettype=$assettype&viewid=$viewid">
    #set($details = false)
    #set($details =  $searcher.getDetailsForView($viewpath, $user))
    #foreach( $element in $details)
      #set( $pid = "${element.searchType}.${element.id}")
      <li id="$pid" > 
        #if( $canviewsettings )
        <a class="sortableitem ajax" 
          data-targetdivinner="applicationmaincontent" 
          data-oemaxlevel="5" 
          href="$siteroot$apphome/views/settings/lists/datamanager/properties/edit.html?id=$pid&searchtype=$searchtype">
          <i class="bi bi-chevron-expand mr-1"></i> ${element.searchType} / $element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end</span>
        </a>
        #else	
          <a href="#">
            $element.getText($context)<span class="type-of-field">#if( $element.getDataType() ) $element.getDataType() #else textbox #end</span>
          </a>
        #end	
        <a class="ajax delete-row" data-targetdivinner="vieweditorarea" href="$siteroot$viewsroot/removefromview.html?searchtype=$moduleid&toremove=$pid&assettype=$assettype&viewid=$viewid&viewpath=$viewpath&oemaxlevel=1&refresh=individual">
          <i class="bi bi-x"></i>
        </a>
      </li>
    #end
  </ul>
</div>