#set($entityid = $context.getRequestParameter("entityid"))
#if(!$parentsearchtype)
	#set($parentsearchtype = $context.getRequestParameter("parentsearchtype"))
#end
$context.putPageValue("parentsearchtype", $parentsearchtype)
#if( !$entity)
	#set( $entity  = $mediaarchive.getData($parentsearchtype, $entityid) )
#end
#set($entityid = $entity.id)
#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
	$context.putPageValue("topmoduleid", $topmoduleid)
#end
#ifnotnull($topmoduleid)
		#set($topmodule = $mediaarchive.getCachedData("module", $topmoduleid))
#end


<div id="${tabid}" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
##style=" #if($currenttab != $tabid || $hidesubmodule) display:none; #end"
data-tabid="${tabid}"
data-viewid="$viewid"
data-entityid="$!entityid"
data-currenttab="$!viewid"
data-parentsearchtype="$!parentsearchtype"
data-topmoduleid="$!topmoduleid"
data-url="$componenthome/gridsample/preview/tabpopulatecategory.html"
>
$pages.include("$componenthome/publish/ditatopics/tab.html")
</div>


