#set($count=0)
#if ($data.keywords)
     <div id="ibmkeywords_$data.id" class="insight-keywords seemoreclosed">
     	  #set ($keywords = $data.keywords.split("\s*\|\s*"))
	      #foreach ($tag in $keywords)
<a class="badge badge-light" 
					title="$tag"
					href="?searchtype=modulessearch&field=keywords&operation=matches&keywords.value=$tag&clearfilters=true">$tag</a>#end
	</div>
	#if($keywords.size() > 10) <div class="ibmtextseemore"><a href="#" class="seemorelink" data-seemore="ibmkeywords_$data.id">[[more]]</a></div><div class="clearfix"></div> #end	
#end