##Generic table component

## $searchtype - comming from url

#set( $xmledithome = "$componenthome/xml")
#set( $candelete = $context.getRequestParameter("candelete"))

#ifnull($viewid)
#set( $viewid = $context.getRequestParameter("viewid"))
#end
#ifnull($viewpath )
	#set( $viewpath = $context.getRequestParameter("viewpath"))
#end
#ifnull($viewpath )
	#set( $viewpath = $context.getRequestParameter("view"))
#end
#ifnull($viewpath )
	#set( $viewpath = "${searchtype}/${viewid}")
#end

#set( $fieldexternalid = $context.getRequestParameter("fieldexternalid"))
#set( $fieldexternalvalue = $context.getRequestParameter("fieldexternalvalue"))

##For module Editing tables
#set ($id = $context.getRequestParameter("id"))

#ifnull($details)
	#set( $details = $searcher.getDataProperties($viewpath, $user) )
#end

#ifnull($details)
[[No view defined for]]: $viewpath
#end

#ifnotnull($details)
	#set($sortable = "sortable")
	
	##For Subtables on entities
	#if(!$tabletype)
		#set( $tabletype = $context.getRequestParameter("tabletype"))
	#end
	#if($tabletype == "subentity")
		#set( $targetdiv = $context.getRequestParameter("targetdiv"))
		#set( $targetoemaxlevel = $context.getRequestParameter("targetoemaxlevel"))
	#end
	#set( $targetrendertype = $context.getRequestParameter("targetrendertype"))
	#if($tabletype == "subentityadd")
		#set( $targetdiv = $context.getRequestParameter("targetdiv"))
		#set($sortable = "")
	#end
	
	#set($clickurl = $context.getRequestParameter("clickurl"))
	#set($clickurltargetdiv = $context.getRequestParameter("clickurltargetdiv"))
	#set($clickurloemaxlevel = $context.getRequestParameter("clickurloemaxlevel"))
	
	
	#set($emselectableform = $context.getRequestParameter("emselectableform"))
	
	#set($hits = $tablehits)
	
	#if( $hits && $hits.size() > 0 )

			#set($total = $hits.getTotalPages() )
			
			$context.putPageValue("hits", $hits)
			$context.putPageValue("resultsLink", "/$applicationid/views/modules/$!{searchtype}/components/table/table.html")
			#set($targetdivposition = "tmc_#eid($searchtype)#eid($fieldexternalvalue)")
			$context.putPageValue("targetdivtablepositions", $targetdivposition)
			#if(!$targetdiv)
				#set($targetdiv = $targetdivposition)
			#end
			$context.putPageValue("oemaxlevel", "1")
		
		<div id="resultsdiv$!{entity.getId()}"
				class="domdatacontext" 
				data-view="$!viewpath"
				data-viewid="$!viewid" 
				#if($id) data-id="$!id" #end
				data-searchtype="$!searchtype" 
				data-searchhome="$!searchhome"
				data-tabletype="$!tabletype"
				
				data-hitssessionid="$hits.getSessionId()" 
				data-componenthome="$!home$!componenthome"
			
				data-pagenum="$hits.getPage()" 
				data-totalpages="$hits.getTotalPages()"
				data-module="$!moduleid"
				
				data-targetdivtablepositions = "$!targetdivposition"
				data-tablepositionsoemaxlevel = "1"
				
				data-targetrendertype="$!targetrendertype"
				
			>
			#if($hits.totalPages > 1)
			<ul class="table-positions-top domdatacontext" 
				data-targetdivinner="$!targetdivposition" 
				data-oemaxlevel="1" 
				data-viewid="$!viewid"
				#if ($fieldexternalid)
					data-field="$fieldexternalid"
					data-$!{fieldexternalid}.value="$!fieldexternalvalue"
					data-operation="exact"
					data-fieldexternalid="$!fieldexternalid"
					data-fieldexternalvalue="$!fieldexternalvalue"
				#end
				>
				
				$pages.include("/$applicationid/components/table/positions.html", $context)
				
			</ul> 
			<div class="clearfix"></div>
			#end
			
			<div id="${searchtype}_table_entities" class="tableholder">
			
			
			#if($tabletype == "subentity")
				#set($tableclass = "emselectableentity" )
			#elseif($tabletype == "subentityadd")
				#set($tableclass = "emselectableentityadd" )
			#else
				#set($tableclass = "emselectable" )
			#end
			   
			##if($candelete != "false")
				<div id="emselectable"
					class='$tableclass emselectablesortable adjustHeight' 
					data-view="$!viewpath"
					data-viewid="$!viewid" 
					#if ($fieldexternalid)
					data-field="$fieldexternalid"
					data-$!{fieldexternalid}.value="$!fieldexternalvalue"
					data-operation="exact"
					data-fieldexternalid="$!fieldexternalid"
					data-fieldexternalvalue="$!fieldexternalvalue"
					#end
					data-hitssessionid="$hits.getSessionId()" 
					data-pagenum="$hits.getPage()" 
					data-hitsperpage="$!hits.hitsPerPage"
					data-totalpages="$hits.getTotalPages()"
					##data-module="$!moduleid"
					
					#if($id) data-id="$!id" #end
					data-searchtype="$!searchtype" 
					
					data-tabletype="$!tabletype"
					#if($tabletype == "subentity" && $targetrendertype)
						data-targetcomponenthome="/$applicationid/views/modules/$!searchtype/components"
						data-searchhome="/$applicationid/views/modules/$!searchtype/components/table"
						data-targetrendertype="$!targetrendertype"
						data-targetdiv="$!targetdiv"
						data-oemaxlevel="1"
					#elseif($tabletype == "subentityadd")
						data-targetdiv="$!targetdiv"
						data-oemaxlevel="2"
					#elseif($clickurl)
						data-clickurl="$clickurl"
						data-targetdiv="$clickurltargetdiv"
						data-oemaxlevel="$clickurloemaxlevel"
					#end
					
					#if($emselectableform)
						data-emselectableform="$emselectableform"
					#end
					
					>
			##end
			
			#set($selectedid = $context.getRequestParameter("selectedid"))
			#set( $sortby = $hits.getSearchQuery().getSortBy() )
			<table id="main-results-table" 
					class="emdata table table-striped table-hover tabletype$!tabletype"
					data-hitssessionid="$!hits.sessionId">
				<thead>
				<tr id="tableheader" class="tableheader">
				
				#foreach( $detail in $details )
				<th class='$!sortable 
					#if($edit)editcolumnheader #end 
					#if($sortable && $sortby.startsWith($detail.getId())) 
					currentsort 
					#if($sortby.endsWith("Up")) up #else down #end 
					#end' 
					style='#if($detail.viewType =="asset" || $detail.viewType =="primarymedia" )width:180px;#end'
					id="th-$detail.id" 
					data-sortby="$detail.id">
					#text($detail.text)
					
					#if ($sortable && $sortby.startsWith($detail.getId()))
							#if($sortby.endsWith("Up"))
								#set($sorticon="up")
							#else
								#set($sorticon="down")
							#end	
							&nbsp;&nbsp;&nbsp;<span class="sorticon bi bi-caret-$sorticon-fill"></span>
					#end
				</th>
				#end
				##if($candelete && $candelete == true && $showdelete == "true")
				<th></th>
				##end
				</tr>
				</thead>
				<tbody>
				#set($rowidfield = $context.getRequestParameter("rowidfield"))
				#set($rowidname = $context.getRequestParameter("rowidname"))
				#foreach ( $hit in $hits.getPageOfHits() )
					#if($rowidfield)
						#set($rowid = $hit.getValue($rowidfield))
					#else
						#set($rowid = $hit.id)
					#end	
					<tr #if($candelete != "false") rowid="$!rowid" #end 
						#if($rowidname) data-${rowidname}="$!rowid" #end
						class="#if($selectedid == $hit.id) emhighlight #end rowclick domdatacontext"
						>
					#foreach( $detail in $details )
						<td>
						
							#set( $val = "$!hit.get($detail.id)" )
							#set( $values = false )
							#set( $values = $hit.getValues($detail.id) )
							#if($detail.rendermask)
								#set( $val = $searcherManager.getValue($catalogid, $detail.rendermask, $hit.properties,$context.getLocale()))
								#set( $values = $val)
							#end
							
							$context.putPageValue("detail",$detail)
							$context.putPageValue("values",$values)
							$context.putPageValue("value",$value)
							$context.putPageValue("val",$val)
							$context.putPageValue("hit",$hit)
							$context.putPageValue("data",$hit)
							
							$pages.include("$xmledithome/detailreadonly.html", $context)
						</td>
					#end
					
					
						<td>
						#if($candelete && $candelete == true && $showdelete == "true")
						<a href="#" onclick="if(confirm('Delete Item?')) { showpath('${searchtype}_table', '$home/system/components/xml/table-deleterow.html?delete=true&$editargs'); } return false;">
							[[delete]]
						</a>
						#end		x
						</td>
					
					</tr>
				#end
				</tr>
				</tbody>
			</table>
			
			
			
			#set($link = $context.getRequestParameter("selectlink"))
			
			#set($jumptomodule = $context.getRequestParameter("jumptomodule"))
			
			#if($link)
			
				###<div id="$!editlink" data-targetdiv="${viewid}editor" data-link="$home$editpath?$args&edit=true&oemaxlevel=1"></div>
				<div id="$!editlink" data-targetdiv="$!{targetdiv}" data-link="$link"></div>
				
			#elseif( $jumptomodule && $jumptomodule == "true")
					#set( $link = "$apphome/views/modules/${searchtype}/edit/edit.html")
					<form name="editrow" method="post" action="$home$link?$passalongdec">
						#set($fieldname = $context.getRequestParameter("fieldname"))
						#if(!$fieldname)
							#set($fieldname = "id" )
						#end
						<input type="hidden" id="emselectedrow" name="$fieldname" />	
						<input type="hidden"  name="edit" value="true" />
						<input type="hidden" name="searchtype" value="${searchtype}" />
					</form>
			#elseif($link)
					<form name="editrow" 
					method="post" class="ajaxform" 
					data-targetdiv="${viewid}editor"
					action="$home$link?$passalongdec">
						#set($fieldname = $context.getRequestParameter("fieldname"))
						#if (!$fieldname)
							#set($fieldname = "id" )
						#end
						<input type="hidden" id="emselectedrow" name="$fieldname" />	
						<input type="hidden"  name="edit" value="true" />
						<input type="hidden"  name="oemaxlevel" value="1" />
						<input type="hidden" name="searchtype" value="${searchtype}" />
					</form>
			#end
			
			
			##if($candelete != "false")
			</div>
			##end
		</div>
		
		
	
	
	#if( !$hits || $hits.size() == 0 )
		<p class="info">[[No records found]]</p>
	#end
	</div>
	#else
		#if($tabletype == "subentity")
			#set($entity = $mediaarchive.getCachedData("module", $searchtype))	
			<div id="resultsdiv$!{entity.getId()}"></div>
		#end
	#end
#end