<div class="col-guide filters-sidebar" style="height: 100%;" >
#if($user)
	<div class="col-sidebar-header">
		<h2>
		[[Organize Your Media]]
		</h2>
		<a href="#" title="[[Hide Guide]]" class="sidebar-toggler sidebar-toggler-hide" data-action="hide" data-targetdiv="col-sidebars">
			<i class="bi bi-chevron-double-left closebar"></i>
		</a>	
	</div>
	<div class="col-sidebar-scroll">
	
	<div class="side-guide darktext" >
	<h3>Phase 1: Use The Smart Organizer</h3>
	<ul class="auto-active-container">

	<li> 
	
		<h4><i class="bi bi-check-lg"></i> Creating Smart Folders</h4>
		<p class="text-end">	
		<a href="$applink/components/smartorganizer/index.html" class="emdialog auto-active-link" data-oemaxlevel="1"
							data-modulesearchhitssessionid="$!modulehits.sessionId" data-action="show" data-sidebar="addentity" title="[[Smart Organizer]]">
<i class="bi bi-magic" style="color: #ff91f6;">		</i>		Open	
		</a>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>

		<p>	<b>Feature:</b> Customized Smart Folders makes the application more user friendly for non-technical users. </p>
		<p> <b>Action:</b> quickly get started by <a href="">downloading</a> from existing templates </p>
		<p> <b>Action:</b> Or create new Smart Folders such as "Products", "Location", "Project" , "Event" etc.  </p>
		<p> <b>Action:</b> Enter a label, icon and ID. We recommend ID's be singular </p>
		
	</li> 

	<li>
		<h4><i class="bi bi-check-lg"></i> Setup Your Top Menu</h4>
		<p>	<b>Feature:</b> The top tab menu (located under the main search) is driven by smart folders. </p>
		<p> <b>Action:</b> Set the order of the tabs by double clicking on the Smart Folder</p>
	</li> 


	<li>
		<h4><i class="bi bi-check-lg"></i> Change Advanced Settings</h4>
		<p>	<b>Feature:</b> Permissions and Storage Options can be customized by folder type</p>
		<p> <b>Action:</b> On the bottom of each folder there is a View Settings link </p>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>
	</li> 

	<li>
		<h4><i class="bi bi-check-lg"></i> Setup Fields</h4>
		<p>	<b>Feature:</b> Fields Show </p>
		<p> <b>Action:</b> On the bottom of each folder there is a View Settings link </p>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>
	</li> 



	<li> 
	<a class="ajax auto-active-link" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3"  href="$siteroot$applink/views/modules/asset/add/start.html">
	<h4><i class="bi bi-check-lg"></i> Download Desktop App </h4>
	<p> You can pick multiple files by holding the Control/Command key. Or choose a folder structure that will be uploaded into your album.Click on 'Pick Folder'.</p>
	</a>
	<a class="ajax auto-active-link" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3"  href="$siteroot$applink/views/modules/asset/add/start.html">
	<h4><i class="bi bi-check-lg"></i> Upload more files and keep the folder structure </h4>
	<p> You can pick multiple files by holding the Control/Command key. Or choose a folder structure that will be uploaded into your album.Click on 'Pick Folder'.</p>
	</a>
	</li> 
	<li> 
	<a class="ajax auto-active-link" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3"  href="">
	<h4><i class="bi bi-check-lg"></i> Edit Metadata</h4>
	<p> You can click on a thumb-nail to edit metadata.</p>
	</a>
	</li> 
	<li> 
	<a class="ajax auto-active-link" data-targetdivinner="applicationmaincontent" data-oemaxlayout="3"  
		##href="$siteroot$applink/views/modules/modulesearch/components/results/togglepage.html?oemaxlevel=1&hitssessionid=hitsassetfinder/catalog&action=page&collectionid="
		href="$siteroot$applink/views/modules/asset/select.html?action=page&hitssessionid=hitsassetfinder/catalog">
	<h4><i class="bi bi-check-lg"></i> Multi-file Editing</h4>
	<p> You can use the check-boxes or hold the Control/Command key to select multiple thumb-nails, then use the action menu to edit multiple assets at once.</p>
	</a>
	</li>
	#set( $workspaceid = $mediaarchive.getCatalogSettingsValue("workspace-id"))
	#if( $workspaceid ) 
	<li> 
	<a class="auto-active-link" target="_blank" href="https://emediafinder.com/app/collective/community/index.html?collectionid=$workspaceid">
	<h4><i class="bi bi-check-lg"></i> Use our Support chat</h4>
	<p> If you get stuck at any point, just chat with our Support staff. We'll help you get all setup. Login to our portal and chat with us in your Workspace's profile. </p>
	</a>
	</li> 
	#end
	
	</ul>

	<h3>Phase 2: Add Users and Workflows </h3>
	<ul class="auto-active-container">
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Fully Customize Your Workspace</h4>
	<p> Work with our developers to customize any area of your workspace to suit your team's branding guidelines.</p>
	</a>
	</li> 
	
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Advanced Integrations</h4>
	<p> Implement Amazon Elemental, Amazon S3 sync, Google Drive sync, YouTube uploading, Wordpress/Drupal, Wowza, etc.</p>
	</a>
	</li> 
	
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Custom Automated Workflows</h4>
	<p> Create custom workflows to optimize your team's efficiency.</p>
	</a>
	</li> 
	
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Custom Features</h4>
	<p> If you need eMediaFinder to do anything else, work with our developers to create custom features.</p>
	</a>
	</li> 
	
	<li>
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href=""> 
	<h4><i class="bi bi-check-lg"></i> Developer/Admin Training</h4>
	<p> Get personalized training for different roles in your team.</p>
	</a>
	</li>
	 </ul>

	<h3>Phase 3: Importing and Editing Media From The Desktop</h3>
	<ul class="auto-active-container">
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Schedule a meeting</h4>
	<p> Ready to take the next step? Get on a Zoom call with our Support team to discuss your team's current needs and how our app can help.</p>
	</a>
	</li>
	#if($canviewsettings)
	<li>
	<h4><i class="bi bi-check-lg"></i> Custom User Guide</h4>
	<a href="$siteroot/openedit/components/html/edit/htmledit/index.html?editPath=/finder/find/components/sidebars/guide/userguide.html&path=/finder/find/components/sidebars/guide/userguide.html&origURL=/finder/find/index.html" class="">[[Edit Anonymous User Guide Content]]</a>
	</li>
	#end
	
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Add team members</h4>
	<p> Start collaborating with the key stake holders in your project.</p>
	</a>
	</li>
	
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> SSO Integration</h4>
	<p> Strengthen your security with the Single Sign On authentication scheme.</p>
	</a>
	</li>
	
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Standard Integrations</h4>
	<p> Single Sign (SSO), indexing network drives, Amazon Elemental, Amazon S3 sync, Google Drive sync, YouTube uploading, WordPress Drupal, Wowza, etc. </p>
	</a>
	</li>
	 
	<li> 
	<a class="ajax auto-active-link" data-targetdiv="emresultscontent" data-oemaxlevel="1" href="">
	<h4><i class="bi bi-check-lg"></i> Optional Custom Domain</h4>
	<p> Setup a second domain for failproof server redundancy.</p>
	</a>
	</li>
	 
	</ul>
		 

	</div>
	</div>
#else

	##ANONYMOUS USERS
	
	$pages.include("$applink/components/sidebars/guide/userguide.html")
		
#end
</div>	





