<div class="col-guide filters-sidebar" style="height: 100%;">


<div class="col-sidebar-header">
	<h2>[[Creating an Easy to Use Library]]</h2>
	<a href="#"
		title="[[Hide Guide]]"
		class="sidebar-toggler sidebar-toggler-hide"
		data-action="hide" 
		data-targetdiv="col-sidebars">
		<i class="bi bi-chevron-double-left closebar"></i>
	</a>	
</div>


<div class="col-sidebar-scroll">
<div class="side-guide darktext">
<h3>Phase 1: Organize your files with Smart Folders </h3>

<ul class="auto-active-container">


	<li>
	<h4>Step 1: Setup User Friendly Theme</h4>
	<p><b>1.1:</b> Use the theme editor to change logo or colors</p>
	<p><b>1.2:</b> Can customize any part of the UI using the Debug Developer Mode</p>
	</li>
	<li>

	<li>
	<h4>Step 2: Creating Smart Folders to Track Everything</h4>

	<p><b>2.1:</b> Use the <a class="emdialog action-link" data-action="show" data-modulesearchhitssessionid="$!modulehits.sessionId" data-oemaxlevel="1" data-sidebar="addentity" href="$applink/components/smartorganizer/index.html" title="[[Smart Organizer]]">Smart Organizer</a> to create a new Smart Folder based on your desired storage layout and terminology, e.g.; "Products", "Locations", "Projects" , "Events", etc.</p>

	<p><b>2.2:</b> Enter a label and choose an helpful Icon</p>
	
	<p><b>2.3:</b> Or Pre-made Smart Folders can be <a target="_new" class="action-link" href="https://emedialibrary.com/templates/">downloaded</a> or exported from an existing site</p>

	<p><b>2.4:</b> The top tab menu layout, located under the main search bar, is arranged by the Smart Folders. Set the order of the tabs by double clicking on the Smart Folder and choosing the menu position</p>

##	<p><b>Watch Video:</b><a class="emdialog action-link" data-action="show" data-modulesearchhitssessionid="$!modulehits.sessionId" data-oemaxlevel="1" data-sidebar="addentity" href="$applink/components/smartorganizer/index.html" title="[[Smart Organizer]]">Open </a></p>
	
	</li>

<li>
	<h4>Step 3: Use Smart Folder Relationships</h4>
	<p><b>3.1:</b> Smart Folders can be connected to one another to illustrate your workflow. Draw a connection from left to right between Smart Folders, creating a one-to-many relationship</p>
	<p><b>3.2:</b> You can also have field relationships between folders as a linked field. So there is no limit.</p>
	<p><b>3.3:</b> Enable Lightboxes to further flush out your folder structures</p>
	
</li>

	<li>
	<h4>Step 4: Setup Data Fields</h4>

	<p><b>4.1:</b> Double on Smart Folder to click on Settings, Editing Fields and Search Fields</p>
	<p><b>4.2:</b> Or Click on settings to edit Permissions and Fields can be customized</p>
	<p><b>4.3:</b> Customize your Table results, Add New, Data and Summary panels</p>
	</li>
</ul>

<h3>Phase 2: Centralize Your Media</h3>

<ul class="auto-active-container">
	<li>
	<h4>Step 6: Uploading With a Browser</h4>

	<p>6.1: Using the "Files" side icon and right click on any folder </p>
	<p>6.2: Or use the "Upload To:" button on the top of the page to create folders or pick existing folder</p>
	<p>6.3: Or use the "Create New" button and Click the "Files" tab. There is an upload button there</p>
	<p>6.4: Or Click Import button on any entity and see the options</p>
	</li>
	
	<li>
	<h4>Step 7: Bulk Folder Importing</h4>
	<p><b>7.1:</b> <a target="_new" href="https://emedialibrary.com/downloads.html">Download</a> and <a target="_new" href="https://emedialibrary.com/knowledge/11/entermedia-app.html">Install Desktop app</a></p>
	<p><b>7.1:</b>Do a bulk import using the Cloud Sync icon on the right side</p>
	<p><b>7.3:</b>Or Create a new Folder using "Create New" then use the Import Button</p>
	</li>
	
	<li>
	<h4>Step 8: Online Image Cropping</h4>
	<p><b>8.1:</b>Click on an image expand buttons and click on Image Editor</p>
	<p><b>8.2:</b>Crop online then use the Save As to create a second image. The two images are linked together</p>
	<p><b>8.3:</b>Crop Or edit the image and save with the same name. A new version will be created under the "More | History" areas</p>
	</li>

	<li>
	<h4>Step 9: Light box Asset and Folder Editing</h4>
	<p><b>9.1:</b> Use the light boxes to drag and drop images from the Working Folders</p>
	<p><b>9.2:</b> Press the "Open Locally button" to edit the images on your computers and save</p>
	<p><b>9.3:</b> Press the Sync button to complete the save. New revisions or versions will be made in each Lightbox with a link to the original</p>
	</li>

	<li>
	<h4>Step 10: Enable Hot Folders</h4>
	<p><b>10.1:</b> Local storage drives, Cloud: Google Drive, Amazon or FTP volumes</p>
	<p><b>10.2:</b> Track all edits and deletes.</p>
	<p><b>10.3:</b> Automatically create Smart Folders.</p>
	</li>
</ul>

<h3>Phase 3: Efficient editing and processing of media files</h3>

<ul class="auto-active-container">
	<li>
	<h4>Step 11: Setup Workflows with Lightboxes</h4>
	<p><b>11.1:</b> Organize the sub-folders within your most important smart folders.</p>
	<p><b>11.2:</b> Folders can be customized by data type </p>
	<p><b>11.3:</b> Use Notifications on each folder activity </p>
	</li>
	
	<li>
	<h4>Step 12: History and Version Control</h4>
	<p><b>12.1:</b> Organize the sub-folders within your most important smart folders.</p>
	<p><b>12.2:</b> On the bottom of each detail there is a Settings, Editing Fields and Search Fields</p>
	</li>
	
	<li>
	<h4>Step 13: Add Status Fields</h4>
	<p><b>13.1:</b> Add extra fields of each Smart Folder</p>
	<p><b>13.2:</b> Create a production status field with a drop of values and add it to the organizer</p>
	</li>
	
	<li>
	<h4>Step 14: Asset Approval</h4>
	<p><b>14.1:</b> Hide Assets from searches that are pending</p>
	<p><b>14.2:</b> Finally, use asset Approval to do final approval or rejection notifications </p>
	</li>
</ul>

<h3>Phase 4: Intuitive Searching</h3>

<ul class="auto-active-container">
	<li>
	<h4>Step 15: Smart Folder Categorization</h4>
	<p><b>15.1:</b> Search Categories can be applied to any Smart Folder and searched </p>
	<p><b>15.2:</b> Helpful on the home page for end user searching </p>
	</li>

	<li>
	<h4>Step 16: Automatic Facial Recognition</h4>
	<p><b>16.1:</b> Uses internal search engine to combine similar faces</p>
	</li>

	<li>
	<h4>Step 17: AI Tagging</h4>
	<p><b>17.1:</b> By default uses Google AI to categorize images</p>
	<p><b>17.2:</b> Will also pull all the metadata from the files themselves for searching</p>
	</li>

	<li>
	<h4>Step 18: Folder Summary Panel</h4>
	<p><b>18.1:</b> Quick way to use checkboxes and limit results</p>
	</li>

	<li>
	<h4>Step 19: Multiple Folder Relationships (Linking)</h4>
	<p><b>19.1:</b> By traversing relationship links you can find connected records</p>
	<p><b>19.2:</b> Create one to many or one to one relationship fields</p>
	
	</li>
</ul>

<p>
#if($canviewsettings) <a href="$siteroot/openedit/components/html/edit/htmledit/index.html?editPath=$apphome/components/sidebars/guide/index.html&amp;path=$apphome/components/sidebars/guide/index.html&amp;" target="_new">[[Edit]]</a> #end</p>

</div>
</div>
</div>
