<div class="col-guide filters-sidebar" style="height: 100%;" >
#if($user)
	<div class="col-sidebar-header">
		<h2>
		[[Organize Your Media]]
		</h2>
		<a href="#" title="[[Hide Guide]]" class="sidebar-toggler sidebar-toggler-hide" data-action="hide" data-targetdiv="col-sidebars">
			<i class="bi bi-chevron-double-left closebar"></i>
		</a>	
	</div>
	<div class="col-sidebar-scroll">
	
	<div class="side-guide darktext" >
	<h3>Phase 1: Use The Smart Organizer</h3>
	<ul class="auto-active-container">

	<li> 
	
		<h4><i class="bi bi-check-lg"></i> Creating Smart Folders</h4>
		<p class="text-end">	
		<a href="$applink/components/smartorganizer/index.html" class="emdialog auto-active-link" data-oemaxlevel="1"
							data-modulesearchhitssessionid="$!modulehits.sessionId" data-action="show" data-sidebar="addentity" title="[[Smart Organizer]]">
<i class="bi bi-magic" style="color: #ff91f6;">		</i>		Open	
		</a>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>

		<p>	<b>Feature:</b> Customized Smart Folders makes the application more user friendly for non-technical users. </p>
		<p> <b>Action:</b> quickly get started by <a href="">downloading</a> from existing templates </p>
		<p> <b>Action:</b> Or create new Smart Folders such as "Products", "Location", "Project" , "Event" etc.  </p>
		<p> <b>Action:</b> Enter a label, icon and ID. We recommend ID's be singular </p>
		
	</li> 

	<li>
		<h4><i class="bi bi-check-lg"></i> Setup Your Top Menu</h4>
		<p>	<b>Feature:</b> The top tab menu (located under the main search) is driven by smart folders. </p>
		<p> <b>Action:</b> Set the order of the tabs by double clicking on the Smart Folder</p>
	</li> 


	<li>
		<h4><i class="bi bi-check-lg"></i> Smart Folder Relationships</h4>
		<p>	<b>Feature:</b> Folders can be connected to one another to improve user friendly navigation of data</p>
		<p> <b>Action:</b> By drawing a connection from left to right of a smart folder you are creating a one-to-many rule</p>
		<p> <b>Action:</b> You can also have field relationships between folders as links. So there is no limit.</p>
	</li> 

	<li>
		<h4><i class="bi bi-check-lg"></i> Setup Data Fields</h4>
		<p>	<b>Feature:</b> Permissions and Fields can be customized by folder type</p>
		<p> <b>Action:</b> On the bottom of each detail there is a Settings, Editing Fields and Search Fields </p>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>
	</li> 
	</ul>

	<h3>Phase 2: Importing and Editing Files</h3>
	<ul class="auto-active-container">
	<li> 
	<h4><i class="bi bi-check-lg"></i> Uploading With a Browser</h4>
	<p> Ready to take the next step? Get on a Zoom call with our Support team to discuss your team's current needs and how our app can help.</p>
	</li>

	<li> 
	<h4><i class="bi bi-check-lg"></i> Bulk Folder Importing</h4>
		<p>	<b>Feature:</b>Remotely upload a large catalog of files and folders only sending the incremental changes </p>
		<p> <b>Action:</b> Install Desktop app</p>
		##	 <i class="bi bi-play-btn-fill"></i>	Video </p>
	</li>
	
	<li> 
	<h4><i class="bi bi-check-lg"></i> Easy Asset and Folder Editing</h4>
		<p>	<b>Feature:</b> Open remote media on the desktop and edit with any tools such a Photoshop or Video Editing</p>
		<p> <b>Action:</b> Press the lightbox "Open Locally" button and make edits. Then press sync</p>
	</li>
	
	<li> 
	<h4><i class="bi bi-check-lg"></i> Hot Folders</h4>
		<p>	<b>Feature:</b> Local storage drives, Cloud: Google Drive, Amazon or FTP volumes</p>
		<p> <b>Action:</b> On the bottom of each detail there is a Settings, Editing Fields and Search Fields </p>

	</li>

	</ul>
	
		<h3>Phase 3: Workflows </h3>
	<ul class="auto-active-container">
	<li> 
	<h4><i class="bi bi-check-lg"></i> Enable Lightboxes</h4>
		<p>	<b>Feature:</b> Organize the sub-folders within your most important smart folders. </p>
		<p> <b>Action:</b> On the bottom of each detail there is a Settings, Editing Fields and Search Fields </p>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>
	</li> 

	<li> 
	<h4><i class="bi bi-check-lg"></i> History and Version Control</h4>
		<p>	<b>Feature:</b> Organize the sub-folders within your most important smart folders. </p>
		<p> <b>Action:</b> On the bottom of each detail there is a Settings, Editing Fields and Search Fields </p>
	##	 <i class="bi bi-play-btn-fill"></i>	Video </p>
	</li> 

	<li>
	<h4><i class="bi bi-check-lg"></i>Add Status Fields</h4>
		<p>	<b>Feature:</b> Add extra fields of each Smart Folder</p>
		<p> <b>Action:</b> Create a production status field with a drop of values and add it to the organizer </p>
		<p> <b>Action:</b> Create boolean fields to track specific states that can be used with scripts in the Scheduler </p>
	</li>

	<li>
	<h4><i class="bi bi-check-lg"></i>Asset Approval</h4>
		<p>	<b>Feature:</b> Files can be hidden from users until an admin approves them</p>
		<p> <b>Action:</b> Use the check boxes to select assets and Approve them from the asset menu </p>
	</li>

	 </ul>


	#if($canviewsettings)
	<a target="_new" href="$siteroot/openedit/components/html/edit/htmledit/index.html?editPath=$apphome/components/sidebars/guide/index.html&path=$apphome/components/sidebars/guide/index.html&origURL=/finder/find/index.html" class="">[[Edit]]</a>
	#end

	</div>
	</div>
#else

	##ANONYMOUS USERS
	
	$pages.include("$applink/components/sidebars/guide/userguide.html")
		
#end
</div>	





