<div class="creator-header">
  <div class="d-flex align-items-center me-2" style="min-width:300px">
    <img src="$siteroot$apphome/theme/images/emedialogo.png" alt="eMedia Logo" />
    <div class="d-flex flex-column">
      <h2>Smart Creator</h2>
      <h1>${tutorial.name}</h1>
    </div>
  </div> 

  <div class="d-flex align-items-center">
    <a class="btn text-primary rounded ms-4">
      <i class="bi bi-clock-history"></i>
      <span class="ms-2">
        Versions
      </span>
    </a>
    <a class="btn text-dark rounded ms-4">
      <i class="bi bi-arrow-90deg-left"></i>
      <span class="ms-2">
        Undo
      </span>
    </a>
    <a class="btn text-dark rounded ms-4">
      <i class="bi bi-arrow-90deg-right"></i>
      <span class="ms-2">
        Redo
      </span>
    </a>

    <a class="btn text-dark rounded ms-4">
      <i class="bi bi-box-arrow-right"></i>
      <span class="ms-2">
        Export
      </span>
    </a>
    <a class="btn text-dark rounded ms-4">
      <i class="bi bi-box-arrow-in-right"></i>
      <span class="ms-2">
        Import
      </span>
    </a>
    <a class="btn text-dark rounded ms-4">
      <i class="fas fa-share-alt"></i>
      <span class="ms-2">
        Share
      </span>
    </a>
    <a class="btn btn-accent rounded ms-4" style="font-size: 1rem;">
      <i class="fas fa-save"></i>
      <span class="ms-2">
        Publish
      </span>
    </a>
    <button id="closecreator" class="ms-2 btn" title="Close Dialog">
      <i class="bi bi-x-lg"></i>
    </button>
  </div> 
</div>
