#if(!$module)
	#set($module = $mediaArchive.getCachedData($context.module))
#end


#if($librarycol)
	#set( $collectionid = $librarycol.getId())
#else
	#set( $collectionid = $context.getRequestParameter("collectionid"))
#end
<div class="nav-form nav-quicksearch">
##TODO  Remember last selected module of profile

#ifnull($hits)
	#set($hits = $modulehits)
#end
		#set( $input = $hits.getSearchQuery().getMainInput())
		#if (!$input)
			#set( $input = "")
		#end
		
		#set( $input = $url_util.decode($input) )
		
		<div class="input-group" >
			<input name="description.value" 
				id="mainsearchvalue" 
				class="form-control mainsearch  "
				##data-url="$componenthome/xml/types/autocomplete/tagsearch.txt" 
				data-typeaheadurl="$siteroot$applink/components/quicksearch/results.html"
				data-sortby="" 
				value="#esc($input)"
				autocomplete="off"
				placeholder="[[Search...]]"
				data-width="100%"
			/>

			<div class="quicksearchloading"></div>
			
			<div class="quicksearchexpand"><i class="fas fa-caret-down"></i></div>
		</div>
		
		


</div>


