#ifnotnull($featuredfolders)
  #if(!$featuredfolders.isEmpty())
    <div class="mb-4">
      <div class="mt-2 qsresultsEntity d-flex align-items-center">
        <i class="far fa-folder module-icon"></i>
        <span class="qsresultsEntitytext">[[Featured Folders]]</span>
      </div>
      
      <div class="quicksearchmodules">
        #foreach ( $featuredfolder in $featuredfolders )
          #if($featuredfolder.getId() != "modulesearch")
            #set($entityrendertype = "entity")
            #if ($featuredfolder.modulerendertype)
              #set($entityrendertype = $featuredfolder.modulerendertype)
            #end
          
            #set($entityurl = "$!siteroot$apphome/views/modules/asset/editors/viewfilescategory/${featuredfolder.id}/#dash($featuredfolder.name).html")
			#if( $query )
				#set($entityurl = "${entityurl}?field=description&operation=freeform&descriptionvalue=$query") 
			#end
            <a class="qsmodule" title="[[View]] #text($featuredfolder) ($featuredfolder.getCount())" 
              href="$entityurl">
              <div class="p-2">
                <i class="fas fa-folder semilarge-folder"></i>
              </div>
              <span class="d-flex align-items-center">
                <span class="d-inline-block text-truncate" style="max-width: 100px;">
                #text($featuredfolder) 
                </span>
                <span class="d-inline-block ms-1">
                  ($featuredfolder.getCount())
                </span>
              </span>
            </a>
          #end
        #end
      </div>
    </div>
  #end
#end