#if(!$featuredfolders.isEmpty())
  <div class="quicksearchmodules">
    #foreach ( $featuredfolder in $featuredfolders )
      #if($featuredfolder.getId() != "modulesearch")
        #set($entityrendertype = "entity")
        #if ($featuredfolder.modulerendertype)
          #set($entityrendertype = $featuredfolder.modulerendertype)
        #end
      
        #set($entityurl = "$!siteroot$apphome/views/modules/asset/editors/viewfilescategory/${featuredfolder.id}/#dash($featuredfolder.name).html")
        <div class="qsmodule">
          <a class=""
            title="[[View]] #text($featuredfolder)" 
            href="$entityurl" >
            <div class="p-2">
              <i class="fas fa-folder semilarge-folder"></i>
            </div>
            #text($featuredfolder) ($featuredfolder.getCount())
          </a>
        </div>
      #end
    #end
  </div>
#end