#set($popupheight = 10)

#if($livesuggestions.size())
	#set($popupheight = $popupheight+50)
#end
#if($topichits.size())
	#set($popupheight = $popupheight+60)
#end

#set( $moduleid = $context.getRequestParameter("moduleid") )

#set( $url = "$applink/views/modules/asset/index.html")


#set($ajax = $context.getRequestParameter("ajax")) 

<div class="quicksearchresults" style="position:relative;  ">
<div style="position:absolute; top:0px; right:2px; color:#333;">
<span title="[[Esc to Close]]" class="fas fa-window-close"></span>
</div>
#set($filter = $modulehits.findFilterValue("entitysourcetype") )
$context.putPageValue("filter", $filter)

<ul class="">	
#foreach ($suggestion in $contextmatches)
	#set( $hit = $suggestion.getHitMatched() )
	#set( $sourcetype = $hit.entitysourcetype )
	#if($sourcetype)
		#set($smodule = $mediaarchive.getCachedData("module", $sourcetype))
		#set($rendertype = $smodule.modulerendertype)
		#if (!$rendertype)
		   	#set($rendertype = "entity")
		#end
		#set( $url = "$!siteroot$apphome/views/modules/$!{smodule.id}${edithome}/tabs/preview/${rendertype}.html?id=$hit.getId()")
		<li>
			<a href="$url" 
			class="quicksearchlinks emdialog entity-dialog"  >
				 <span>$suggestion.getMatchContext()</span></a>  ##make bold
		</li>
	#end	 
#end
</ul>

#foreach($module in $organizedModules)
	#set($hits = $organizedHits.get($module.id))
	
	$context.putPageValue("hits", $hits)
	$context.putPageValue("module", $module)
	$context.putPageValue("moduleid", $module.id)

   	#set($moduleicon = "entity")
   	#if ($module.moduleicon)
   		#set($moduleicon = $module.moduleicon)
   	#end
   	
   	#set( $val = $hits.getInput("description"))
   	
	#set($entityurl = "$!siteroot$apphome/views/modules/$!{module.id}/index.html?$!{module.id}page=1&field=description&operation=freeform&description.value=$val")
	<div style="margin-bottom: 10px;">
	<a href="$entityurl" 
		class="ajax qsresultsEntity" 
		
		data-targetdiv="applicationmaincontent" 
		data-oemaxlevel="3" 
		data-updateurl="true" 
		data-profilepreference="defaultmodule"
		data-profilepreference.value="$!module.getId()"
		title="[[View]]: #text($module)" >
	<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" 
	style="height: 25px; max-width:20px;"> 
	<span class="qsresultsEntitytext">
	#if( $module.id == "asset") ##this is safe
		#set( $count = $hits.size()) 
	#else
		#set( $count = $filter.getCount($module.id) ) 
	#end
	#ifnull($count)
		#set( $count = $hits.size()) 
	#end
	#text($module)
	</span>
	 ##<span class="count">([[Found]]: $count)</span>
	</a>
	##set($entityurlall = "$!siteroot$apphome/views/modules/$!{module.id}/index.html?$!{module.id}page=1")
	<a href="$entityurl" 
		class="ajax qsresultsEntityall" 
		
		data-targetdiv="applicationmaincontent" 
		data-oemaxlevel="3" 
		data-updateurl="true" 
		data-profilepreference="defaultmodule"
		data-profilepreference.value="$!module.getId()"
		title="[[View]] $count: #text($module)" >
	
	<span class="qsresultsEntitytext">
	#if( $module.id == "asset") ##this is safe
		#set( $count = $hits.size()) 
	#else
		#set( $count = $filter.getCount($module.id) ) 
	#end
	#ifnull($count)
		#set( $count = $hits.size()) 
	#end
	([[View]] <span class="count">$count</span>)
	</span>
	</a>
	
	#set($rendertype = $module.modulerendertype)
	#if (!$rendertype)
	   	#set($rendertype = "entity")
	#end
	
	<ul class="qsrecent">	
		#foreach( $hit in $hits.getPageOfHits())
		   	#set( $val2 = $hit.getName())
					##set($url = "$!siteroot$apphome/views/modules/$!{module.id}/index.html?$!{module.id}page=1&field=description&operation=freeform&description.value=$val2&topentityid=$hit.getId()&entityid=$hit.getId()&entitytype=${module.id}")
			#set($url = "$!siteroot$apphome/views/modules/$!{module.id}${edithome}/tabs/preview/${rendertype}.html?id=$hit.getId()")
		<li>
		
			<a href="$url" 
			class="quicksearchlinks emdialog entity-dialog" 
			title="[[View]] #text($module): #esc($hit) " >
			$hit
			
			##$hit.getValue("description")
			</a> 
		</li>	
		#end
	</ul>
	</div>
#end

#if($livesuggestions.size())

#set($assetmodule = $mediaarchive.getModule("asset"))

#set($moduleicon = "entity")
#if ($assetmodule.moduleicon)
	#set($moduleicon = $assetmodule.moduleicon)
#end

#set($entityurl = "$!siteroot$apphome/views/modules/asset/search.html?field=description&operation=freeform&description.value=$val")
<a href="$entityurl" 
		class="ajax qsresultsEntity" 
		
		data-targetdiv="applicationmaincontent" 
		data-oemaxlevel="3" 
		data-updateurl="true" 
		data-profilepreference="defaultmodule"
		data-profilepreference.value="$!assetmodule.getId()"
		title="[[View Media Keywords]]" >
	<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg"	style="height: 25px; max-width:20px;"> 
	<span class="qsresultsEntitytext">[[Media Keywords]]</span>
	</a>
<ul class="qsrecent">
#foreach ($suggestion in $livesuggestions)
	#set( $k = $suggestion.getKeyword() )
	##if (!$ajax)
	##set($url = "$url?operation=contains&field=description&description.value=#esc($k)&clearfilters=true")
	##end		
	<li>
		<a href="$url" 
			data-oemaxlevel="3" 
			data-searchtype="applicationmaincontent" 
			data-field="description" 
			data-operation="contains" 
			data-targetdivinner="applicationmaincontent"
			data-description.value="#esc($k)" 
			class="ajax quicksearchlinks" >
			 <span>$suggestion.getBoldKeyword()</span></a>  ##make bold
	</li>	 
#end
</ul>
<div class="clearfix"></div>
#end

</div>