#set($moduleid = $context.getRequestParameter("moduleid"))
#if(!$moduleid)
	#set($moduleid = $userprofile.mainsearchmodule)
#end

#set($resetsearch = $context.getRequestParameter("resetsearch"))
#if($resetsearch == "true")
	#set($moduleid = "") 
#end


<div id="mainsearchcontainer">
	#set( $input = $hits.getSearchQuery().getMainInput())
	#if (!$input)
		#set( $input = "")
	#end
	
	#set( $input = $url_util.decode($input) )
  <input name="description.value" 
    id="mainsearchinput"
    value="#esc($input)"
    autocomplete="off"
    placeholder="[[Search...]]"
    data-width="100%"
    autofocus
  />
</div>

$pages.include("./results.html", $context)