#set($hitssessionid = $modulehits.getSessionId())
##fix module vs moduleid
#if($module)
	#if($module.id)
		#set($moduleid = $module.id)
	#else
		#set($moduleid = $module)
	#end
#end

#if (!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeID"))
	$context.putPageValue("nodeID",$nodeID)
#end

#if( !$librarycol && $category ) 
	#set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end

#if( $librarycol )	
	$context.putPageValue("librarycol",$librarycol)
#end



<a href="#mainsearch" data-urlbar="#mainsearch"
	data-url="$siteroot$applink/components/quicksearch/search-dialog.html" 
	class="btn-topnav btn-accent mainSearchDialog"
	data-updateurl="true"
	data-dialogid="mainsearch"
	data-modalclass="persistentmodal"
	data-hideheader="true"
	data-hidefooter="true"
	data-dialogwidth="1200"
	title="[[Search]]">
	<i class="bi bi-search ns" style="font-size: 18px;"></i>
</a>