<div id="mainsearchcontainer">

  <input name="description.value" 
    id="mainsearchinput"
    autocomplete="off"
    placeholder="[[Search...]]"
    data-width="100%"
    autofocus
  />
</div>

<div class="quicksearchresults overflow-y minimal">
	<div id="searchLoading">
		<div class="d-flex flex-column align-items-center">
			<div class="lds-dual-ring"></div>
			<div class="loading-text">[[Searching for results]]</div> 
		</div>
	</div>

  <div class="p-3">
    <div id="mainsearchresults">
      $pages.include("./results.html", $context)
    </div>
  </div>

</div>