#set($moduleid = $module.getId())


<div class="category-breadcrumb #if($searchcategory) category-breadcrumb-tall #end">
	<div class="d-flex justify-content-between">
	<div class="d-flex category-breadcrumb-name">
		<a href="$!{siteroot}$apphome/views/modules/searchcategory/index.html" title="[[All Categories]]">[[All]] #text($module)</a>
			#if($searchcategory)
				<i class="bi bi-chevron-right mx-1 bi-small" style="font-size: 0.6em;;"></i>
			
				$context.putPageValue("thumbsize", "crop" )

				#set( $primarymedia = $mediaarchive.getCachedAsset($searchcategory.primarymedia))

				#ifnotnull($primarymedia)
					
					$context.putPageValue("hit", $primarymedia) 
					$context.putPageValue("asset", $primarymedia)
					#set( $assetrendertype = $mediaarchive.getMediaRenderType($primarymedia.fileformat))
					<div class="pl-3" style="width: 100px;">
					$pages.include("$componenthome/results/thumbnails/${assetrendertype}.html", $context)
					</div>
				#end

				<div class="pl-3">
				#text($searchcategory) ($!hits.size())
				</div>
			#end
		
	
	</div>

		<div class="category-header-right">
			#if($permissions.can($moduleid, "create") && $moduleid!="faceprofilegroup" && $moduleid!="order")
				#set($addurl = "$siteroot$applink/views/modules/${moduleid}/components/gridsample/preview/entity.html?edit=true&addnew=true&viewid=$!{moduleid}addnew")


					<a class="emdialog resultsnavlink" href="$addurl" title="[[Add New Record]]">
						<i class="bi bi-plus-lg mr-1"></i> [[Create New]]
					</a>

			#end
			
			<a href="$applink/views/modules/${moduleid}/components/filters/dialogsort.html" 
				class="emdialog emsort #if($selectedpreference == "true") closed #end"
				data-dialogid="sortdialog"
				data-hidebackdrop="true"
				data-hidefooter="true"
				data-modalsize="sm"
				data-moduleid="$!{moduleid}"
				data-hitssessionid="$hits.getSessionId()"
				data-categoryid="$!categoryid"
				data-rootcategory="$!rootcategory"
				data-topmoduleid="$!topmoduleid"
				data-entityid="$!entityid"
				data-dialogindextype="$!dialogindextype" 
				data-targetdivsearch="$!{moduleid}resultscontainer"
				style="padding:0 8px 0 10px;" 
				title="[[Sort Results]]"><i class="bi bi-sort-down"></i> [[Sort]]</a>
		</div>
	</div>
</div>