<div class="bg-white py-2 px-3 shadow-sm mt-2 rounded">
  <p>
   AI Topic Creation
  </p>
  <div class="border-top mb-3"></div>
  <div class=" mb-2 w-100">
    <form name="save" class="ajaxform text-center mx-auto" data-targetdiv="importdone" action="$componenthome/publish/ditatopics/create.html">
      <input type="hidden" name="importtype" value="dita" />
      <input type="hidden" name="moduleid" value="${module.id}" />
      <input type="hidden" name="entityid" value="${entity.id}" />

       <p>
     Create:
      <select class="list2" name="ai-lastcreationtype">
		<option>Select</option>
      	#foreach($row in $userprofile.getEntities())
      	<option value="$row.id" #if( $row.id == $entity.get("ai-lastcreationtype") ) selected #end>#text($row)</option>
      	#end
      </select>
     </p>
      
      <p>
      Extra Instructions:
      <textarea name="ai-extrainstructions">$!entity.extrainstructions</textarea>
      </p>
      
      <div class="d-flex">
        <button class="input-group-text btn-accent ml-2" type="submit" for="inputGroupDITA">Create</button>
      </div>
    </form>
    <div id="importdone">
    </div>
  </div>
</div>