#if(!$moduleid)
	#set( $moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$entityid)
	#set( $entityid = $context.getRequestParameter("entityid"))
#end

#set( $currentcategoryid = $context.getRequestParameter("categoryid"))
#if(!$currentcategoryid && $defaultfolder)
	#set( $currentcategoryid = $defaultfolder.getId())
#end
#if($currentcategoryid)
	#set($currentcategory = $mediaarchive.getCategory($currentcategoryid))
#end

#set( $assetsshown = 4)
#if( $searchtype == "faceprofilegroup" )
	#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact("faceprofiles.faceprofilegroup", $entityid).sort("assetaddeddateDown").search() )
#elseif($searchtype == "librarycollection")
	
	#set($rootcategory = $librarycol.rootcategory)
	#set($category  = $mediaarchive.getCategory($rootcategory))

	#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).sort("assetaddeddateDown").search() )
	
#else
	##set( $assetshits = $mediaarchive.query("asset").facet().hitsPerPage($assetsshown).match("category", $currentcategoryid).sort("assetaddeddateDown").search() )
	#set($sizevalues = $mediaarchive.getBean("entityManager").listTotalSize($currentcategory.getId(),$context) )
	#set( $assetshits = $sizevalues.get("hits") )
	
#end

$context.putPageValue("assetshits", $assetshits)
$context.putPageValue("fullview",true) 
$context.putPageValue("thumbsize", "small" )
$context.putPageValue("primaryimage", $entity.primaryimage )
$context.putPageValue("mediarender", "attachedmedialist" )
<div id="entityassetresults#eid($entityid)" class="entity-media-box-details ">
	<div  class="entityassetresults uploadformarea" data-onupload="reloadentity" data-entityid="$entityid" >
		<div class="entity-media-header">
		<h4 class="mediaboxheader">
				<i class="bi bi-folder-fill"></i> <span>$currentcategory.getName()</span>
				##[[Media Folder]] 
			</h4>
		</div>	
			
		#if($moduleid && $entityid)
			<div class="mediaboxbody" style="width: 120px;">	
			
			#if($moduleid=="librarycollection")
				#if(!$rootcategory)
					#set($rootcategory = $context.getRequestParameter("rootcategory"))
				#end
				#set($link = "$siteroot$applink/views/modules/librarycollection/media/showcategory.html?nodeID=$rootcategory&clearfilters=true&collectionid=$!librarycol.getId()")
				#set($link = "$!link&sidebarcomponent=categories")
				
			#elseif($moduleid=="faceprofilegroup")
				#set($link = "$siteroot$applink/views/modules/asset/faceprofilegroup.html")
				#set($link = "$link?faceprofilegroupid=$!entityid&clearfilters=true")
				
			#else
				#set($link = "$siteroot$applink/views/modules/asset/index.html")
				##set($link = "$link?field=$!moduleid&operation=matches&${moduleid}.value=$!entityid&clearfilters=true")
				#set($link = "$siteroot$applink/views/modules/asset/viewfiles/${currentcategoryid}/#dash($currentcategory).html?clearfilters=true")
			#end	
			#set($targetdivinner = "applicationmaincontent")
			#set($oemaxlevel = "3")
			
			<div class="entity-categorydetails">
			
				
				<i class="bi bi-folder-fill"></i>  $currentcategory.getChildren().size() 
				&nbsp;|&nbsp;
				<a href="$link" 
						class="ajax"
						data-oemaxlevel="$!oemaxlevel" 
						data-targetdivinner="$!targetdivinner" 
						data-closedialog="true"
						data-updateurl="true"
						data-closemediaviewer="true"
						title="[[View]] $assetshits.size() [[Assets]]"></a>
				<i class="fas fa-images"></i> $assetshits.size() [[Files]] ##($sizer.inEnglish($total) )
				
					
				
			</div>

			
			</div>
			
			#end
			
			$context.putPageValue("category", $currentcategory)
			$context.putPageValue("categoryid", $currentcategoryid)
			$pages.include("$componenthome/categories/entities/actions.html",$context)
			
			
			
			</div>
	</div>



