#if ( !$hit )
    #set( $hit = $asset )
#end

#if (!$thumbsize )
    #set($thumbsize = $context.getRequestParameter("thumbsize") )
	$!context.putPageValue("thumbsize",$thumbsize)
#end

#if($conversionerrors && $conversionerrors.size() >0)
	#set ($mime = $mediaarchive.getMimeTypeIcon($hit.fileformat))
	#set( $thumbpath =  "$themeprefix/images/mimetypes/${mime}.png" )
	<div class="mimethumbcontainer">
		<img title="[[Conversion Error]]" class="mimethumb" src="$siteroot$thumbpath" border="0"/>
    	<div class="mimeconversionerror">[[Conversion Error]]</div>
    </div>
#elseif($publisherrors && $publisherrors.size() >0)
	#set ($mime = $mediaarchive.getMimeTypeIcon($hit.fileformat))
	#set( $thumbpath =  "$themeprefix/images/mimetypes/${mime}.png" )
	<div class="mimethumbcontainer">
		<img title="[[Publish Error]]" class="mimethumb" style="height:64px" src="$siteroot$thumbpath" border="0"/>
    	<div class="mimeconversionerror">[[Publish Error]]</div>
    </div>
#elseif( $hit.importstatus && $hit.importstatus == "complete")
    $context.putPageValue("hit", $hit)
    #set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
    ##$context.putPageValue("type", $rendertype)
    
    ###if($thumbsize == "crop")
    ##$pages.include("$apphome/components/results/thumbnails/small.html",$context)
    ###else
    ##$pages.include("$apphome/components/results/thumbnails/image.html",$context)
    ###end
    
    #if(!$rendertype || $type =="rendertype")
   		#set( $rendertype = "mime" )
   	#elseif( $rendertype =="video")
   		#set( $rendertype = "videothumbnail" )
   	#end   
   	
   	$pages.include("$componenthome/results/thumbnails/${rendertype}.html", $context)     

#elseif($publish && $publish.size() >0 )
    <div id="status$!hit.id"  class="ajaxstatus"  #if( $content == $page)data-ajaxrunning="true"#end  ajaxpath="$siteroot$apphome/components/convertqueue/importstatus.html?assetid=$hit.id&thumbsize=$thumbsize" >
    	<div class="uiinfo	 proxythumb" title="[[Publishing Proxy]] $publish.size()" >
    		<div class="loadingbar" style="width:30px;"></div>
    	</div> 
     </div>
#elseif($conversions && $conversions.size() == 0)
    <div id="status$!hit.id" class="ajaxstatus" 
    	#if( $content == $page)data-ajaxrunning="true"#end  
    	data-reloadspeed="3500"
    	ajaxpath="$siteroot$apphome/components/convertqueue/importstatus.html?assetid=$hit.id&thumbsize=$thumbsize" >
        <div class="uiinfo	 proxythumb" title="[[Queing Conversions]]" >
        	<div class="loadingbarout" style="width:20px;">
        	<div class="loadingbar" style="width:20px;"></div>
        	</div>
        </div> 
    </div>
#else
    <div id="status$!hit.id" class="ajaxstatus importstatusreport" 
    	#if( $content == $page)data-ajaxrunning="true"#end 
    	data-reloadspeed="2000"
    	ajaxpath="$siteroot$apphome/components/convertqueue/importstatus.html?assetid=$hit.id&thumbsize=$thumbsize" >
        #set( $totalcount = $conversions.size() )

        #if( $conversionsremaining )
        	#set( $remaining = $conversions.size() )
        #else
        	#set( $remaining = $totalcount )
        #end

        #set ($mime = $mediaarchive.getMimeTypeIcon($hit.fileformat))
		
		#set( $thumbpath =  "$themeprefix/images/mimetypes/${mime}.png" )
	
		<div class="mimethumbcontainer">
			<img title="[[Conversions in process]]" class="mimethumb" src="$!siteroot$thumbpath" border="0"/>
			#set( $completed = $totalcount - $remaining )
	        #set( $total = 80 * $mathutil.getPercentage($completed, $totalcount) )
	        #set( $total = $total + 20 )
	        <div class="uiinfo" title="[[Conversions Completed]] $completed / $totalcount">${total}% [[complete]]</div>
		</div>
        
        


    </div>

#end



