
<div  id="lightboxresults"  class="tabpulications-col h-100 submodulepicker entity-tab-content" >
	
#ifnotnull( $selectedbox)
		$pages.include("$componenthome/entities/lightboxes/gallery.html?lightboxid=$selectedbox.getId()", $context)
#end
#ifnull( $selectedbox)
	$pages.include("$componenthome/entities/lightboxes/header.html", $context)

	#if($module && $entity)
		#set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
		$context.putPageValue("defaultfolder", $defaultfolder)
	#end

	$context.putPageValue("defaultfolder", $defaultfolder)
	$context.putPageValue("categoryid", $defaultfolder.getId())
	$context.putPageValue("entitydialogid", "entity")
	
	$pages.include("$apphome/views/modules/asset/dialogindex.html", $context)
#end	
	<div class="clearfix"></div>
</div>
