<div class="dita-viz-header">  
	<a href="$componenthome/entities/viewhtml/visualviewer.html"
	 data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="visualviewer")current#end'>
		<i class="bi bi-pencil-square"></i>
		<span>Visual Viewer</span>
	</a>
	<a href="$componenthome/entities/viewhtml/ditastructure.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="xmlstructure")current#end'>
		<i class="bi bi-filetype-xml"></i>
		<span>DITA</span>
	</a>
	<a href="$componenthome/entities/viewhtml/xmlstructure.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="xmlstructure")current#end'>
		<i class="bi bi-diagram-3-fill"></i>
		<span>Structure</span>
	</a>
	<a href="$componenthome/entities/viewhtml/versions.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="versions")current#end'>
		<i class="bi bi-clock-history"></i>
		<span>Versions</span>
	</a>
</div>