<div class="dita-viz-header">  
	<a href="$componenthome/entities/viewhtml/html.html"
	 data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="html")current#end'>
		<i class="bi bi-filetype-html"></i>
		<span>HTML</span>
	</a>
	<a href="$componenthome/entities/viewhtml/dita.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="dita")current#end'>
		<i class="bi bi-filetype-xml"></i>
		<span>DITA</span>
	</a>
	<a href="$componenthome/entities/viewhtml/pdf.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="pdf")current#end'>
		<i class="bi bi-filetype-pdf"></i>
		<span>PDF</span>
	</a>
</div>