<div id="lightboxessidemenu" class="overflow-y dita-list" style="width:300px">


	#set($section = $context.getRequestParameter("tabsection"))
#ifnull($section)
	#set( $section = "select")
#end
<br><br>
#set($section = $context.getRequestParameter("tabsection"))

#set( $found =  $mediaarchive.getBean("contentManager").findDitaAssets($entity) )
#foreach($hit in $found)
		<div class="rounded lightboxdropasset" >
			<a class="ajax btn-wide #if( $asset == $hit.id ) active #end"
				data-targetdiv="ditavizeditor" 
				data-oemaxlevel="2"
				data-entityid="$entity.id" data-moduleid="$topmodule.id"  
				href="$componenthome/entities/viewhtml/visualviewer.html?assetid=$hit.id&entityid=$entity.id&moduleid=$module.id">
			#text( $hit )
			</a>
		</div>
#end

		
</div>