#set( $searchtype = $context.findPathValue("searchtype"))
#set( $currentsubab = $content.findPathValue("subtab"))

#ifnull($currentsubab)
	#set($currentsubab = "html")
#end

$context.putPageValue("subtab", $currentsubab)

#set( $parentsearchtype = $searchtype)
#if( !$entity)
	#set($entityid = $context.getRequestParameter("entityid"))
	#set( $entity  = $mediaarchive.getData($searchtype, $entityid) )
#end
#set($entityid = $entity.id)
$context.putPageValue("entity", $entity)
$context.putPageValue("entityid", $entityid)

#set($subtab = $context.findValue("subtab") )

<div id="ditavizeditor"
	class="entity-tab-content entity-tab-media tabtypemedia" 
	data-tabid="${tabid}"
	data-entityid="$!entityid"
	data-currenttab="$!viewid"
	data-topmoduleid="$!moduleid"
	data-url="$componenthome/gridsample/preview/tabpublishing_gallery.html"
>

<div  class="tablightbox d-flex h-100" style="height: 100%;">
	
	$context.putPageValue("topmodule",$module)

	$pages.include("$componenthome/entities/viewhtml/sidemenu.html",$context) 
	#set( $path = "$componenthome/entities/viewhtml/${subtab}.html")
	$pages.include($path, $context)
</div>