.username
{
	min-width: 100px;
	display: table-cell;
	font-size: 1.2em;

}
.usernote
{
	min-width: 200px;
	font-style: italic;
	display: table-cell;
	font-size: .9em;
	padding-left: 10px;
}

.whatsapp
{
	background-color: #eee;
	min-width: 100px;
	display: table-cell;
}