#set($hitssessionid = $hits.getSessionId())
#set( $module = $content.module)
#if (!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeID"))
	$context.putPageValue("nodeID",$nodeID)
#end

#if( !$librarycol && $category ) 
	#set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end

#if( $librarycol )	
	$context.putPageValue("librarycol",$librarycol)
#end

<div class="filters-container">
<div class="row no-gutters">
	<div class="col-md-4">
	$pages.include("$apphome/components/filters/collectionmenu.html",$context)
	</div>
	<div class="col-md-4">
	#if ($canquicksearch || $canshowcollectionpicker || $canshowlibrarypicker)
	<div class="navbar-quicksearch" id="nav-quicksearch" style="margin: 0 auto;">
		#if( $canshowcollectionpicker || $canshowlibrarypicker)
			$pages.include("$apphome/components/libraries/pickcollection.html")
		#end

		#if ($canquicksearch)
			$pages.include("$apphome/components/quicksearch/navbar.html")
		#end
	</div>
	#end
	</div>
	<div class="filtered #if( $librarycol ) filteredinresults #end">
#if( $hits.getSearchQuery().hasMainInput())
	#if($librarycol)
		[[Searching within]]: <strong><em>$librarycol</em> </strong> [[for]]:  <strong><em>$hits.getSearchQuery().getMainInput()</em></strong>
	#else
		[[Searching for]]:  <strong><em>$hits.getSearchQuery().getMainInput()</em></strong>
	#end
#end
##TODO Loop over the view and show them here if they match

#if( $category )
	#if( $mediaarchive.getCategorySearcher().getRootCategory() != $category)
		#if( $librarycol )
			#set($href = "$home$apphome/views/modules/librarycollection/media/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&clearselection=true")
		#else
			#set($href = "$home$apphome/views/modules/asset/index.html?clearselection=true")
		#end
		
	<a
	href="$href"
	class="badge badge-light"
	title="[[Clear Category]]">$category <i class="fas fa-times"></i></a>
	#end
#end


#set( $terms = $userfilters.getFilteredTerms($hits) )
#foreach( $term in $terms)
	#if( $librarycol )
		#set($href = "$home$apphome/views/modules/librarycollection/media/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&removeterm=$term.getId()")
		
	#else
		#set($href = "$home$apphome/views/modules/asset/index.html?hitssessionid=$hits.getSessionId()&removeterm=$term.getId()")
	#end
	#if ($nodeID)
	 	#set($href = $href + "&nodeID=${nodeID}")
	#end

	<a href="$href"
		class="badge badge-light"
		title="[[Clear]] $term.getDetail()">$term.getDetail(): 
		#foreach( $val in $term.getValueCollection() )
			
		 	#if ($term.getDetail().getId() == "keywords")
				#if( $foreach.count > 1) [[and]] #end
			#else
				#if( $foreach.count > 1) [[or]] #end
			#end
			
			#if($term.getDetail().isList())
				$context.getText( $mediaarchive.getData($term.getDetail().getListId(),$val) )
			#elseif($term.getDetail().isBoolean())
				#if($term.getValue() == "true")
					[[True]]
				#else
					[[False]]
				#end
			#elseif($term.getDetail().isDate())
				#set($op = $term.operation)
				#if($op == "afterdate")
					[[After]]:
				#elseif($op == "beforedate")
					[[Before]]:
				#elseif($op == "betweendates")
					[[Between]]:
				#end
				
	            $term.getValue()
			#else
	            #if($term.getValue())
	                $term.getValue()
	            #elseif($val)
	                $val
	            #end
			#end
			
			 
			#end <i class="fas fa-times"></i></a>
	#end


	#if( $hits.getSearchQuery().hasMainInput() || ($terms && !$terms.isEmpty()) )
		#if( $librarycol )
			#set($href = "$home$apphome/views/modules/librarycollection/media/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&assetclearresults=true&clearfilters=true")
		#else
			#set($href = "$home$apphome/views/modules/asset/index.html?hitssessionid=$hits.getSessionId()&assetclearresults=true&assetclearselection=true&clearselection=true&clearfilters=true")
		#end
		#if ($nodeID)
	 		#set($href = $href + "&nodeID=$!{nodeID}")
		#end
		<a class="clearfilters" href="$href" title="[[Cear Filters]]">[[Clear]]</a>
	#end
	</div>
	</div>
	<div class="col-md-4">
	
	
	</div>

</div>