#set($hitssessionid = $hits.getSessionId())
##fix module vs moduleid
#if($module)
	#if($module.id)
		#set($moduleid = $module.id)
	#else
		#set($moduleid = $module)
	#end
#end
#if (!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeID"))
	$context.putPageValue("nodeID",$nodeID)
#end

#if( !$librarycol && $category ) 
	#set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end

#if( $librarycol )	
	$context.putPageValue("librarycol",$librarycol)
#end

<div class="filters-container">
##$pages.include("$apphome/components/filters/collectionmenu.html",$context)
<table style="width:50%; margin:0 auto;">
<tr>
<td style="width:60px; padding-top:20px;">

#set($modules = $mediaarchive.query("module").exact("showonsearch","true").sort("orderingUp").search($context))
<div class="dropdown show">

	#if( $moduleid)
	<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	$module
	</a>
	#end
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	#foreach($modulelink in $modules)
	    <a class="dropdown-item" href="$applink/views/modules/${modulelink.id}/grid/index.html">$modulelink</a>
	#end
	</div>
</div>

</td>
<td style="padding-top:20px;">
#if ($canquicksearch || $canshowcollectionpicker || $canshowlibrarypicker)
	<div class="navbar-quicksearch" id="nav-quicksearch" style="margin: 0 auto;">
		#if( $canshowcollectionpicker || $canshowlibrarypicker)
			$pages.include("$apphome/components/libraries/pickcollection.html")
		#end

		#if ($canquicksearch)
			$pages.include("$apphome/components/quicksearch/navbar.html")
		#end
	</div>
#end
</td>
<td style="padding-top:20px;">
	#if ($moduleid=="modulesearch")
		#set($resultview = $userprofile.get("mediaappresultview"))
		#if(!$resultview)
			#set($resultview = $content.get("mediaappresultview"))
		#end
		#if(!$resultview)
			#set($resultview = "grid")
		#end
	#else
		#set($resultview = $userprofile.get("resultview"))
		#if(!$resultview)
			#set($resultview = $content.get("resultview"))
		#end
		#if(!$resultview)
			#set($resultview = "table")
		#end
	#end
	$context.putPageValue("resultview",$resultview)
	<div class="resultsview">
		#set($resultviewurl = "$apphome/components/results/changeresultview.html?oemaxlevel=1&cache=false&hitsperpage=$!hitsperpage&module=$!moduleid&resultviewtype=mediaappresultview")
		<a href="$resultviewurl&resultview=grid" data-searchtype="modulesearch" data-hitssessionid="$hitssessionid" class="selectresultview  #if($resultview=='grid')currentview#end" title="[[Grid View]]"><i class="fas fa-th"></i></a>
		<a href="$resultviewurl&resultview=finder" data-searchtype="modulesearch" data-hitssessionid="$hitssessionid" class="selectresultview  #if($resultview=='finder')currentview#end" title="[[Table View]]"><i class="fas fa-list"></i></a>
	</div>
</td>
</tr>
</table>
	
	<div class="filtered #if( $librarycol ) filteredinresults #end">
	#if ($librarycol)
	 <a class="badge badge-light" href="$apphome">$librarycol <i class="fas fa-times"></i></a>
	#end
	
	#if( $hits.getSearchQuery().hasMainInput())
	
		[[Searching for]]:  <strong><em>$hits.getSearchQuery().getMainInput()</em></strong>
	#end
	##TODO Loop over the view and show them here if they match

	#if( $category )
		#if( $mediaarchive.getCategorySearcher().getRootCategory() != $category)
			#if( $librarycol )
				#set($href = "$home$apphome/views/modules/librarycollection/media/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&clearselection=true")
			#else
				#set($href = "$home$apphome/views/modules/asset/index.html?clearselection=true")
			#end
			
		<a
		href="$href"
		class="badge badge-light"
		title="[[Clear Category]]">$category <i class="fas fa-times"></i></a>
		#end
	#end


	#set( $terms = $userfilters.getFilteredTerms($hits) )

	#foreach( $term in $terms)
		#if( $librarycol )
			#set($href = "$home$apphome/views/modules/librarycollection/media/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&removeterm=$term.getId()")
			
		#else
			#set($href = "$home$apphome/views/modules/asset/index.html?hitssessionid=$hits.getSessionId()&removeterm=$term.getId()")
		#end
		#if ($nodeID)
		 	#set($href = $href + "&nodeID=${nodeID}")
		#end
	
		<a href="$href"
			class="badge badge-light"
			title="[[Clear]] $term.getDetail()">$term.getDetail(): 
			#foreach( $val in $term.getValueCollection() )
				
			 	#if ($term.getDetail().getId() == "keywords")
					#if( $foreach.count > 1) [[and]] #end
				#else
					#if( $foreach.count > 1) [[or]] #end
				#end
				
				#if($term.getDetail().isList())
					$context.getText( $mediaarchive.getData($term.getDetail().getListId(),$val) )
				#elseif($term.getDetail().isBoolean())
					#if($term.getValue() == "true")
						[[True]]
					#else
						[[False]]
					#end
				#elseif($term.getDetail().isDate())
					#set($op = $term.operation)
					#if($op == "afterdate")
						[[After]]:
					#elseif($op == "beforedate")
						[[Before]]:
					#elseif($op == "betweendates")
						[[Between]]:
					#end
					
		            $term.getValue()
				#else
		            #if($term.getValue())
		                $term.getValue()
		            #elseif($val)
		                $val
		            #end
				#end
			#end <i class="fas fa-times"></i></a>
		#end
	
	
		#if( $hits.getSearchQuery().hasMainInput() || ($terms && !$terms.isEmpty()) )
			#if( $librarycol )
				#set($href = "$home$apphome/views/modules/librarycollection/media/index.html?hitssessionid=$hits.getSessionId()&collectionid=$librarycol.getId()&assetclearresults=true&clearfilters=true")
			#else
				#set($href = "$home$apphome/views/modules/asset/index.html?hitssessionid=$hits.getSessionId()&assetclearresults=true&assetclearselection=true&clearselection=true&clearfilters=true")
			#end
			#if ($nodeID)
		 		#set($href = $href + "&nodeID=$!{nodeID}")
			#end
			<a class="clearfilters" href="$href" title="[[Cear Filters]]">[[Clear]]</a>
		#end
	</div>
</div>
