#if( $canviewassets )

	<div class="col-sidebar-header">
		<h2 class="filterstoggle">
		<i class="fas fa-sliders-h"></i> [[SEARCH]] 
		
				<a href="#"
					title="[[Hide Search Sidebar]]"
					class="nav-btn float-right sidebar-toggler"
					data-action="hide" 
					data-targetdiv="col-sidebars"
					data-sidebar="filters">
					<i class="fas fa-angle-double-left closebar"></i>
				</a>
		</h2>
	</div>
	
	$pages.include("$apphome/components/filters/index.html", $context)
	
	<div class="clearfix"></div>
	
	#if ( $canviewopencollections )
		$pages.include("$apphome/components/opencollections/sidebar.html",$context)
	#end

#end
