@font-face {
    font-family: 'futuraheavy';
    src: url('fonts/futura_heavy_font-webfont.woff2') format('woff2'),
         url('fonts/futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futurabold';
    src: url('fonts/futura_bold_font-webfont.woff2') format('woff2'),
         url('fonts/futura_bold_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuralight';
    src: url('fonts/futura_light_bt-webfont.woff2') format('woff2'),
         url('fonts/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  font-family: futuralight, sans-serif;
  font-size:1.1rem;
}

.bodywebsite {
	  background-color: #0C223A;
  color:#fff;
	
}

@media (min-width: 1200px) {
	.container {
	   max-width: 1040px; 
	}
}

a {
  color: #555; 
}
  a.active, a:active, a:hover {
    color: #111; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futurabold, sans-serif;
  font-weight: 400;

}
h1 {
	font-size:2.2em;
	margin-bottom: 2rem;

}
.h2, h2 {
    font-size: 2rem;
    margin-bottom: 2.1rem;
}
.h3, h3 {
    font-size: 1.8rem;
    text-transform:uppercase;
    margin-bottom: 1.6rem;
}
.bodywebsite h4 {
	color:#fefefe;
}
section {
  padding: 30px 0;
}
.hometext {
	font-size:1.2rem;
	padding:10px 10%;
}

.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.account-top-menu {
	text-align: right;
	padding:2px 0;
}
.account-top-menu a {
	color:#bbb;
	margin-left: 20px;
	font-weight: 600;
	font-size:0.9rem;
	
}
.account-top-menu a.active {
	color:#bbb;
}
.account-top-menu a:hover {
	color:#fff;
	text-decoration: none;
}
.entermedia-header-container {
	background-color: #07172C;
}
.entermedia-header {
	padding:15px 15px 20px;
	
}
.entermedia-headertop-container {
	background-color: #111;
}

#mainNav.navbar { padding:0; }
#mainNav .navbar-nav { width:100%;}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: .9rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  letter-spacing: 1px;
  color: white;
}

#mainNav .dropdown:hover>.dropdown-menu {
	  display: block;
  top: 100%;
} 
#mainNav .dropdown-toggle::after {
	display:none;
}


#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .subnav-link:hover,
#mainNav .dropdown-item:hover .subnav-link  {
  color: #01b34f;
 text-decoration: none;
}

#mainNav .dropdown-menu {
	background-color: #484848;
}
#mainNav .dropdown-item:focus, 
#mainNav .dropdown-item:hover {
	background-color: #282828;
}
#mainNav .subnav-link {
	font-size: .86rem;
	color:white;
	text-decoration: none;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.8em 2em 0.8em!important;
    margin-right: 2em;
  }
  #mainNav .navbar-nav .nav-last-item .nav-link {
  padding-right:1px!important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
#mainNav .navbar-nav .btn {
margin-top:.6rem;
}
}

header.masthead {
  
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 75px;
  text-align: center;
}
header.masthead .intro-text-2  { 
	padding:20px 0 40px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;

}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 230px;
    padding-bottom: 180px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 35px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;

  }
  header.masthead .intro-text .intro-heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 40px;

  }
  header.masthead .intro-text-2 { padding:250px 0 50px;}
}

.headline {
	padding:10px 45px;
}
.headline p {
font-size:1.5rem;
	line-height:1.4;
	margin:1rem 0 2rem;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}


.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/entermedia-2020-04.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

section#contact .section-heading
{
  color: #fff;

}
section#contact .contact-text{
  color: #fff;
	font-size:1.2rem;
}

section#contact .form-group {
  margin-bottom: 40px;
}

section#contact .form-group input[type=text],
section#contact .form-group input[type=email],
section#contact .form-group textarea {
  padding: 10px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 100px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;

}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */

}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */

}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;

}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #01b34f;
}

@media (min-width: 992px) {
	.nav-item-button {
		padding-top:10px;
	}
}

label.error { color:#F93122; font-weight: normal; line-height: 1.2; padding: 3px 0; font-size: .9em;}


.bestpractices {
	background-color:#efefef;
}
.bestpractices .bestpractice {
	margin:15px 10px;
	padding:20px 15px;
	min-height:200px;
	background-color: rgb(0,0,0,0.2);
}
.architecture-list {
	padding:0 80px;
	font-size:1.2rem;
}

.features-highlights {
  background-color:#efefef;
  font-size:.9rem;
}



.customer-service {
  background-color:#D4E8CB;
  
}

.customer-service h3 {
  background-color:#666;
  color:#fff;
  line-height:45px;
  padding:5px 10px;
  float:left;
}

.carousel-indicators li {
	cursor: pointer;
	opacity: .50;
	background-color: rgba(255, 255, 255, 0.75);
	
}


.plans {
 background-color:#fff;
  border-radius: 15px;
  padding:10px;
  margin:0 10px;
}
.plans h4 {
text-align:center;
  font-size:1.2rem;
  border-bottom:1px solid #333;
  display:block;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navbar { 
	 margin-bottom:0;
	 flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-brand {
    float: left;
    height: 70px;
    padding: 5px 15px;
}

.navbar-collapse { width:100%;}

@media (min-width: 768px) {
	.navbar-collapse { float: right; width:auto;}
}


.topicons { float: right;  min-width: 300px; text-align: right; padding: 5px 0 10px;}
.topicons .btn-sm { padding:2px 14px; font-weight: bold;}
.topicons a img { max-height:25px; opacity: 0.5; filter: alpha(opacity=50); }
.topicons a:hover img {opacity: 1; filter: alpha(opacity=100);}

.homecontainer { margin-top: 40px; }

.developer h2, .features h2 { font-size: 26px; text-align:left; background-color: #666; color:#01B34F; line-height:30px; padding:10px 18px; margin:0 0 20px; }
.developer p {text-align: right; color:#5AA04F; line-height:1.8!important;}

.features h2 { margin-right: 40%;}
.features { color:#5AA04F; padding:0px 20px 0 0; line-height: 1.6; }
.features ul { margin: 0!important; list-style: none; padding: 0; }
.features ul li { line-height: 1.4;}

.opensource { border:5px solid #01B34F; padding:13px 15px 0 140px; text-align:left; color:#fff; margin:15px 0; background:url("images/open-source-dam.png") 20px 30px no-repeat #888; }

@media (min-width: 992px) {
	.freeconsultation { padding-left: 50px; }
   .homemain iframe { height: 375px;}
}

.freeconsultation h2 { margin-bottom: 30px; font-weight: bold;}
.homesubmit { font-weight: bold;}

.home-bar { background-color:  #666; color:#fff;  }
.home-bar-text { padding:12px 6px 12px 0; font-weight:bold; }
#main-container .home-bar-text p { margin: 0;}

.home-bar-btn { padding:15px 0;}
.home-bar-btn .btn {font-weight: bold; font-size: 18px;}

.home-bar-1 { margin: 50px 0; }
.home-bar-2 { margin: 50px 0 0 0; }

.homecontent { margin: 50px 0 0 0;}

.stars { color: #FCD94D; padding-left: 5px;}

iframe { border:0 none; }


#footer .superfooter {
    height: 80px;
    padding: 10px 0;
    background-color: #6fb353;
    width: 100%;
}

#footer .container-menu {
    padding-top: 36px;
    min-height: 106px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    background-color: #000;
    color:#fff;
}
#footer .container-menu a {color:#fff; text-decoration: none;}

#footer ul {
    font-size: 90%;
    margin:0px;
    padding:0px;
    list-style: none;
}

.footer-menu nav ul {
    float: left !important;
}

#footer ul li {
    text-align: left; margin: 0 10px 0 0;
}
.footer-menu nav ul li {
    display: inline-block;
    margin-right: 18px;
    vertical-align: top;
}

.footer-menu nav .menu-main-menu-container #menu-main-menu-1 ul {
    float: left;
}

.footer-menu nav ul li .sub-menu {
    float: none;
}
.footer-menu nav ul li ul {
    margin-left: 0px;
    padding-left: 0px;
    float: none !important;
    display: block !important;
    vertical-align: top !important;
}
.footer-menu nav ul li ul li {
    float: none !important;
    display: block !important;
    vertical-align: top !important;
}

.em-page .page h1 { font-size:33px;}
.em-page .page h2 { font-size:30px;}



.page-title { background:url("/wp-content/uploads/2014/11/blurrybinary-fullwidth.png"); border-bottom:4px solid #5AA04F;  color:#fff; padding:10px 0; text-align:center; margin-bottom:0px; }

@media (min-width: 768px) {
.page-title {
	padding:30px 0;
}
#main-container h1 { margin: 20px 0 10px;}
}

#main-container h1, #main-container h2, #main-container h3, #main-container h4 {

}

#main-container h1 { margin: 5px 0 10px;  font-size:38px;}
#main-container h2 { margin: 20px 0;  font-size:30px;}
#main-container h3 { margin: 15px 0; font-size: 25px;}
#main-container h4 { margin: 10px 0; font-size: 21px;}

#main-container p { margin-bottom: 25px; line-height: 1.4;}

#main-container ul { margin: 0 10px 30px 20px;}
#main-container li { margin: 0 0 10px;}

#main-container a { color:#5AA04F; text-decoration: underline;}

#main-container a:hover { color:#508746; text-decoration: underline;}

#main-container a.btn-success,
#main-container a.btn-success:hover,
#main-container a.btn-primary,
#main-container a.btn-primary:hover {color: #fff; text-decoration: none; font-weight: bold; font-size: 120%;}

#main-container .type-post { margin-bottom: 50px; padding-bottom: 30px; border-bottom: 1px solid #efefef;}
#main-container .type-post h2 a {text-decoration: none; }
#main-container .type-post h2 { margin-bottom: 5px;}
#main-container .type-post .date { font-size: 90%; color: #333;}

#breadcrumbs { font-size: 90%; color: #333;}

#knowledgebasesidebar { padding-top:40px; border-left: 2px solid #efefef;}
#knowledgebasesidebar h3 { background-color: #efefef; padding: 6px 10px; }
#knowledgebasesidebar h4 { margin-left: 30px; }
#knowledgebasesidebar ul { margin: 0 0 30px 0; font-size: 90%; padding: 0 0 0 40px;}
#knowledgebasesidebar li { margin-bottom: 5px;}

#blogsidebar { padding-top:40px; border-left: 2px solid #efefef;}
#blogsidebar h3 { background-color: #efefef; padding: 6px 10px; }

.post-content, .em-index, .em-single, .em-page { }

.post-content a { text-decoration: underline; color: #537C41;}

.em-index img,
.em-single img,
.post-content img
{
     border: 0 none;
     max-width: 100%;
     vertical-align: middle;
}
.post-content pre {
	background-color: #efefef;
    padding: 10px;
    margin: 10px 0;
}

.post-content h1 {
	margin-top:0;
}

.knowledgetable {
	width:100%;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}

.knowledgetable th {
	background-color: #666;
	color:#fff;
	padding:2px 4px;
}

.knowledgetable td {
	border-bottom:1px solid #ddd;
	padding:2px 4px;
}


/*Wordpress editor styles start*/

.entry-content img {
	margin: 0 0 1.5em 0;
	}
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
	}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	/* not sure about this one */
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}

/*Wordpress editor styles end*/

.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-submenu.pull-left{
  float:none;}

.dropdown-submenu>.dropdown-menu{
  top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}

.dropdown-submenu:hover>.dropdown-menu{
  display:none;}

.dropdown-submenu:hover>a:after{
  border-left-color:#000000;}

.dropdown-submenu{
  position:relative;}


#menu-item-34 .dropdown-menu {
  min-width: 300px;
}

.col-home-boout  {
	text-align:center;
font-weight:bold;
line-height:1.5;
}
.col-home-boout a {
	margin:0 auto;
	margin-top:-20px;
}
.col-home-box {
height:210px;
border:2px solid #449D44;
padding:30px 35px 40px;
margin:30px 20px 0px;
}


.homepage-slide {
	background-color:#d1d1d1;
}

.nav-homepage-slide .nav-homepage-link {
  padding:.8rem .8rem;
  font-size:.9rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color:#c1c1c1;
  line-height: 30px;
  color:#333;
  display:block;
  width:100%;
}
.nav-homepage-slide .nav-homepage-link.active {
background-color:#ececec;
color:#333;
border-color:#bbb;
}
.nav-homepage-slide .nav-homepage-link:hover {
background-color:#fefefe;
color:#333;
border-color:#bbb;
}
.tabs-homepage-slide {
background-color:#ececec;
text-align:center;
padding:2px;}


.tabs-homepage-slide h3 {
margin:20px 0;
}
.tabs-homepage-slide h4 {
margin:10px 0;
font-size:.8rem;
}

.tab-text {
text-align:justify;
padding:5px 20px;
}


.contactformcontainer {
  overflow: hidden;
  overflow: hidden !important;
  position: relative; }

.contact-container-inner {
padding:60px 0px 50px 9px
 }
  .contact-container-inner .section_title {
    color: #fff; }

#contactvideo {
  min-width: 1280px; }

div.contactformbackground {
  height: auto !important;
  overflow: visible !important;
  position: absolute;
  width: 100%;
  height: 100%; }

.googlemap {
  position: relative;
  height: 0;
  overflow: hidden;
  height: 450px;
  width: 50%;
  float: right; }

.googlemap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important; }

.contact_div {
  padding: 57px 0px 10px 0; }


.knowledge-sidebar ul {
list-style:none;
padding:0;
margin:0;
}
.knowledge-sidebar li {
margin-bottom:4px;
}
.knowledge-sidebar li a {
padding:2px 8px;
display:block;
font-size:0.9rem;
}

.knowledge-sidebar h2 ,
.knowledge-sidebar h2 a {
color:#000;
background-color: #eee;
display:block;
padding:4px 8px 2px 6px;
font-size:1.4rem;
margin:0;
   text-decoration:none;
}
.knowledge-sidebar h2 a:hover {
   text-decoration:none;
  color:#fed136;
}
.knowledge-current a {
  color:#fed136;
  font-weight:bold;
}

.shadow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.support-header-out {
background-image:url("/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/37/f2e/Code Background Full Green.png/Code Background Full Green.png");
background-size: 100% 100%;
padding:35px 0;
margin:85px 0 50px;
}
.support-header {
background-color: rgba(0,0,0,0.75);
min-height:100px;
margin:0;
}

.support-header h1,
.knowledgetitle {
color:#fff;
font-size:2.3em;
font-weight: normal;
text-align:center;
padding:0;
margin:0;
}

.section-highlight {
background-color:#F8F8F8;
color:#333;
padding:5px;

margin:10px -15px 10px -15px;
}
.section-highlight h3 {
margin-bottom:0.5rem;
}



.section-highlight-bottom {
padding:0;
}

.section-highlight-bottom .section-support-gold {
margin:0 15px;
}
.section-highlight-gold {
background-color:#F1F1F1;
padding:10px;
}
.section-highlight-gold h2 {
margin: 8px 0 10px;
padding-top:20px;
}
.section-highlight-gold h4 { 
font-size:1.1rem;
color:#555;
}
h4.price {
color:#FFDE58;
margin:5px 0;
}

.benefitsleft {
padding-top:100px;
}
.benefitsright {
padding-top:100px;
}
.benefitsleft .benefitsbox {
text-align:right;
padding-left:20px;
}
.benefitsright .benefitsbox {
text-align:left;
padding-right:20px;
}

.benefitsbox {
height:120px;
}

.benefitsbox-container {
width:1000px;
margin:0 auto 60px auto;
}

.benefitsbox-l {
float:left;
width:465px;
height:80px;
position:relative;

} 

.benefitsbox-r {
float:right;
width:535px;
height:80px;
position:relative;

} 

.diamond-shape {
  background-image: url("/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Support Page/2019/01/9e/a30/benefit-bg.png/benefit-bg.png");
  height: 142px;
  width:142px;
padding:40px;
text-align:center;
}

.benefitsbox-l .diamond-shape {
position:absolute;
right:-50px;
}
.benefitsbox-r .diamond-shape {
position:absolute;
left:-10px;
}

.benefitsbox-l .benefitsbox-text {
position:absolute;
right:115px;
top:40px;
text-align:right;
width:360px;

}

.benefitsbox-r .benefitsbox-text {
position:absolute;
left:155px;
top:40px;
text-align:left;

}

.benefitsbox-r .benefitsbox-text-one-line,
.benefitsbox-l .benefitsbox-text-one-line  {
top:60px;
}
.benefitsbox-l .benefitsbox-text-two-lines,
.benefitsbox-r .benefitsbox-text-two-lines {
top:45px;
}
.section-price {
padding:40px 0;
}
.custom-support {
padding: 0 10px 80px;

}

.custom-support .support-text {
padding:70px 0 0;
margin-top:60px;
font-size:1.2rem;
}
.custom-support .support-text h3 {
font-size:1.6rem;
margin-bottom:0.4rem;
}
.custom-support .support-text p {
line-height:1.3;
}
.support-getstarted {
text-align:center;
font-size: 1.6rem;
}
.support-getstarted strong {
font-size:2rem;
line-height:1.6;
}
.support-small {
font-size:1.3rem;
display:block;
padding:0 0 20px;
}

.price-title {
padding:60px 0 10px;
}
.price-title h2 {
margin-bottom:10px;
}

.os-title {
padding:120px 0 0;
}
.os-title h2 {
margin-bottom:10px;
}

.cloudhosting-header-out {
background-image:url("/entermediadb/mediadb/services/module/librarycollection/downloads/originals/AWb0PND9DN7UPe4NWYnc/Collections/admin/entermediadb.com/Cloud%20Hosting/2019/02/ae/378/Cloud%20Hosting%20page%20banner.png/Cloud%20Hosting%20page%20banner.png");
background-size: 100% 100%;
padding:35px 0;
margin:85px 0 50px;
}
.cloudhosting-header {
background-color: rgba(0,0,0,0.75);
min-height:100px;
margin:0;
}
.cloudhosting-header h1 {
color:#fff;
text-align:center;
padding:0;
margin:0;
}

.section-blackbar {
background-color:#000;
color:#fff;
}

.section-hostingforall {
background-color:#5F9248;
color:#fff;

}


.package {
float:left;
width:45%;
font-size:1rem;
margin-bottom:20px;
text-align: left;
}


@media (min-width: 992px) {
	.package {
		width:220px;
		font-size:0.9rem;
	}
}
@media (min-width: 1200px) {
	.package {
		width:240px;
	}
}

.package-left {
margin-right:10px;
}

.package-title {
background-color:#3B5E2A;

color:#fff;
border:1px solid #3B5E2A;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
text-align:center;
font-weight:bold;
font-size:1.2rem;
padding:20px 0;

}

.package-content {
background-color:#fff;
color:#333;
padding:15px;
height:410px;
line-height:1.7;
}

.package-name {
padding:10px;
}

.package-bottom {
background-color:#7DD956;
color:#525053;
text-align:center;
font-weight:bold;
font-size:1.2rem;

border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
padding:20px;
}


.checkmark {
color:#F4C000;
font-size:1.2rem;
font-weight:bold;
}

.cloud-services h3 {
padding:30px 0;
border-bottom:2px solid #9FE285;
margin-bottom:20px
}

.cloud-services-row {
margin-bottom:50px;
}
.cloud-services-block {
margin-bottom:70px;
}
.cloud-services-image {
float:right;
/*width:190px;*/
margin-left:30px;
}
.cloud-services-image-left {
float:left;
/*width:190px;*/
margin-right:30px;
}

.cloud-services p {
margin-top:40px;
line-height:1.4;
font-size:1.1rem;
}
.text-subtitle {
font-size:1.4rem;
line-height:1.2;
margin-bottom:60px
}

.scalable {
padding-left:40px;
padding-right:40px;
}

.section-getstarted {
padding:20px 0;
}
.section-getstarted .btn-primary {
background-color:#FF914D;
}

.availability {
padding:0 0 60px;
background-color:#F4F7F5;
}
.availability h3 {
text-align:center;
background-color:#58B155;
color:#fff;
padding:5px 0;
margin:0 0 40px;
}

.section-logos {
padding:20px 0;
text-align:center;
}
.cloud-clients {
/*height:75px;*/
margin:10px 20px 10px 0;
}

.clients-adopted {
border: 9px solid #666;
background-color:#fff;
}

.clients-adopted-inner {
padding:40px 20px 0;
}

.clients-adopted-inner p {
line-height:1.2;
}

.clients-adopted-inner i {
font-size:0.8rem;
}

.clients-ss-left {
border-left:9px solid #666;
}

.section-highlight-footer {
background-color:#000;
color:#fff;
padding:20px;
}


.note { font-size: .8em;}




.knowledgebar {
background-color:#73B658;
text-align:center;
color:#000;
font-weight:600;
margin: 0 auto 30px auto;
padding:10px 0;
}

.knowledgebar a {
color:#fff;
}

@media (min-width: 768px) {
  section {
    padding: 80px 0;
  }
.btn-xl {
  font-size: 1.8rem;
  padding: 1.1rem 2rem;
}
.section-highlight {
	width:80%;
	margin: 10px auto;
	padding:10px;
	}
.section-highlight-gold {
	padding:30px; 
	}
.support-header-out, .cloudhosting-header-out {
	margin-top:0px;
	}
.support-header, .cloudhosting-header {
	padding:90px;
}
.clients-ss-right {
    border-right: 9px solid #666;
}
.knowledgebar {
	width:80%;
}
.product-sla {
	padding:0 50px
}
.section-highlight-footer {
padding:20px 60px;
}
	.benefitsbox-text{
			font-size:1.2rem;
			line-height:1.3;
	}
}

@media (max-width: 768px) {
	.support-text {
		padding:0!important;
	}
	.benefitsbox-container {
		width:100%;
	}
	.benefitsbox-r, .benefitsbox-l {
		width:100%;
		height: 150px;
	}
	.benefitsbox-l .benefitsbox-text{
		right:auto;
		left:5px;
		text-align:left;
		width:100%;
		padding-right:140px;
	
	}

	.benefitsbox-l .diamond-shape {
		right:0;
	}
	.package {
		margin:0 auto 40px auto!important;
		float:none!important;
		width:80%;
	}
	.package-content {
		height: auto;
	}
	.cloud-services p {
		margin: 0 0  40px 0;
		font-size:0.9rem;
	}
	.cloud-services-row, .cloud-services-block {
		margin-bottom: 0;
	}
	.cloud-services-image-left, .cloud-services-image {
		margin:5px 10px 50px 10px!important;
		max-width:120px!important;
	}
	}

.collectivelayout{
	height: 100%;
}

.collectivebanner {
	background-color: #fff;
	color:#111;
}
.collectivebanner a, .collectivebanner a:hover {
	color:#111;
}
.navbar-container {
	display:block;
	background-color: #000;
}
.navbar-collective {
	padding:0;
	min-height: 44px;
}

.goal-tabs {
	margin-top:30px;
} 

.collective-sidebar {
	margin:15px 15px 0 0 ;
}

.chat-channels {
	padding:10px 15px;
	
}
.chat-channels h3 {
	margin-bottom:5px;
}
.chat-channels ul {
	list-style: none;
	padding:0;
	margin:0;
}
.chat-channels ul li a {
    display: block;
    padding: 2px 8px;
    color: #eee;
    margin-bottom: 4px;
}
.chat-channels ul li.current a {
    background-color: #464646;
    text-decoration: none;
    border-radius: 5px;
}

.chat-channels ul li a:hover {
    background-color: #666666;
    text-decoration: none;
    border-radius: 5px;
}

.emdatafield { 
	font-weight: bold;
}


.tageditor-monitorstatuscolor.tageditor-RED,
.tageditor-monitoringstatus.tageditor-error,
.tageditor-sslstatus.tageditor-error {
	background-color: #dc3545!important;
	color:#fff!important;
}

.video-js {
	background-color:#fff;
}


@media (max-width: 767px) {
	section#introduction {
	  padding:86px 0 50px;
	}	
	.navbar-brand {
		padding:12px 0 0 0;
	}
	section#introduction .btn-lg {
		font-size:.83rem;
		font-weight: bold;
		padding:.95rem .65rem;
	}
	#mainNav .nav-item .nav-link {
		font-size: 1rem;
  		font-weight: bold;
	}
}







.emcarouselhome {
  background-image: url("../img/entermedia-2020-header-02.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top:60px;
  padding-bottom:40px;
}

.entermedia-introduction .headerbanner-content {
  background-image: url("../img/entermedia-2020-header-01_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.emcarouselhome .carousel {
	padding-bottom:30px;
}

.headerbanner-content {
  padding:10px 0 80px;
  color:#fff;
}
.entermedia-introduction h2 {
	color:#fff;
	font-family: futuraheavy, sans-serif;
	font-size:1.8rem;
	margin-bottom:0.2em;
	text-transform: uppercase;
}
.entermedia-introduction h3 {
	color:#ccc;
	font-size:1.6rem;
	text-transform: uppercase;
}
.entermedia-introduction p {
	font-size: 1.3rem;
	padding:20px 0;
	padding-right:30%;
}
.homepage-btn {
  font-weight: bold;
  font-size:1.1rem;
  padding: .475rem 2.5rem;
  text-transform: uppercase;
  background-color: #63AF57;
  border-color:#63AF57;
  border-radius: .8rem;
}

.carousel-item {
    color: #fff;
    text-align: center;
}

.home-video {
	padding:60px 0;
}

.account-services {
	padding:10px 10px;
	font-size:1rem;
}

@media (min-width: 960px) {
	.entermedia-introduction h2 {
		font-size:2.6rem;
		margin:0 0 0.2em;
	}
	.entermedia-introduction h3 {
		font-size:2.1rem;
	}
	.entermedia-introduction p {
		font-size: 1.6rem;
		padding:20px 0;
		padding-right:30%;
	}
	h3 {
	font-size:2rem;
	}
	.hometext {
	font-size:1.4rem;
	}
	.account-services {
	padding:20px 80px;
	font-size:1.1rem;
}
}


.thankyoucontact {
	margin:60px; 
	text-align: center;
}


.emheader .navbar {
	padding:0;
}

.workspacesheader { min-height: 20px; }

.emheader .navlinks, .emheader .dropdown-menu, .emheader .navlinks .dropdown-item {
    background-color: #07172C;
    color: #fff;
}

.emheader .navbar-toggler {
	padding:.15rem .5rem;
	font-size:1rem; 
	background-color: #2680A0;
	margin:5px 3px;
	right: 0;
    top: 0;
    position: absolute;
    z-index:1001;
}
.emheader .navlinks li>a {
    position: relative;
    padding: 0 15px;
    display: block;
    height: 22px;
    font-size: 0.85rem;
}

.emheader .navlinks li>a {
    color: #eee;
}
.emheader .navbar-collapse.show .navbar-nav {
	margin-top:10px;
}
.emheader .navbar-collapse.show .dropdown-menu {
	background-color: transparent;
	border:0 none;
	padding:0;
	background-color:rgba(0,0,0,0.2);
	border-radius:0;
}
.emheader .navbar-collapse.show .dropdown-item {
	border-bottom:1px solid #efefef;
	color:#fff;
}

.emheader .navlinks {
    z-index:99;
}
.emheader .navlinks>ul { list-style: none; margin:0; padding: 0; float:right}

.emheader .navlinks>ul li.nav-first-item { border:0 none;}
.emheader .dropdown-menu {
	padding:0;
	border:0;
}
.emheader ul.dropdown-menu li { float: none;}
.emheader .navlinks li>a {
    position: relative;
    padding: 0 15px;
    display: block;
    height: 22px;
    font-size:0.85rem;
}
.emheader .navlinks li>a:hover {
    text-decoration: none;
}
.emheader .navlinks>ul li.dropdown:last-child .dropdown-menu {
  right: 0;
  left: auto;
}
.emheader .navlinks .dropdown-item {
	padding:.25rem 1rem;
	font-size:1rem;
}

.workspacescontainer {
	  margin:0 auto; 
	  padding:20px 2%
}