<h5 class="mt-0 mb-2">
  [[Welcome to Image creation wizard. Describe the image you want to create]].
</h5>
#set($semantictopics = $entity.getValues("semantictopics"))
#ifnotnull($semantictopics)
  <p class="mb-1">
    [[Here are some suggestions]]:
  </p>
  #foreach($topic in $semantictopics)
  <ul>
    <li class="autoprefixchatmsg"
      data-prefix="[[Create an image about]] $topic"
    >
    <span class="text-success">
      [[Create an image about]] $topic
    </span>
  </li>
  </ul>
  #end
#end