#set($previewlink = "$applink/views/modules/${playbackentitymodule.getId()}/editors/default/tabs/index.html")
<p>
  [[Created]] <a class="emdialog"
  			data-dialogid="entitydialog"
  			data-entityid="${playbackentity.getId()}"
			data-parententityid="$entity.getId()" 
			data-parententitymoduleid="$entitymodule.getId()"  
  			href="$previewlink"><strong>#text($playbackentity)</strong></a> in 
			
			#set($previewlink = "$applink/views/modules/${entitymodule.getId()}/editors/listentities/tabs/index.html")
			<a class="emdialog" 
				data-dialogid="entitydialog"
	  			data-entityid="${entity.getId()}"
				data-entitymoduleviewid="${entitymodule.getId()}${playbackentitymodule.getId()}" 
				href="$previewlink"><strong>#text($playbackentitymodule)</strong></a>
</p>
<messageplain>[[Created]] #text($playbackentity) in #text($playbackentitymodule)</messageplain>

<messageplain>[[Outline]]:</messageplain>
<p class="m-0">[[Outline]]:</p>
<ol>
  #foreach($section in $confirmedoutline)
    <li>
      ${section}
      <messageplain>${foreach.count}. ${section}</messageplain>
    </li>
  #end
</ol>

<div class="d-flex align-items">
  <a href="$applink/views/modules/${playbackentitymodule.getId()}/editors/listentities/tabs/index.html" class="emdialog me-3" data-dialogid="entitydialog" data-entityid="${playbackentity.getId()}" data-entitymoduleid="${playbackentitymodule.getId()}" data-entitymoduleviewid="${playbackentitymodule.getId()}smartcreator">
    <i class="bi bi-pencil-square ns me-1"></i> [[Edit]]
  </a>
  <a href="$applink/views/modules/${playbackentitymodule.getId()}/editors/listentities/tabs/index.html" class="emdialog text-secondary" data-dialogid="entitydialog" data-entityid="${playbackentity.getId()}" data-entitymoduleid="${playbackentitymodule.getId()}" data-entitymoduleviewid="${playbackentitymodule.getId()}preview">
    <i class="bi bi-eye ns me-1"></i> [[View]]
  </a>
</div>
