

$inputdata

This is pertinent info on the parent data:

#foreach($detail in $parentdetails)
	
    #set($value = $searcherManager.getValue($parent, $detail, $context.getLocale()))
 	#ifnotnull($value)
		$detail.getText($context):$value
	#end
#end



You're adding data to a sub module called $targetmodule.  It is structured like this:
#set($childsearcher = $mediaarchive.getSearcher($targetmodule.id))


#set($view = "$targetmodule.id/${targetmodule.id}addnew")
#set ($childdetails = $childsearcher.getDetailsForView($view))
$view

#foreach($detail in $childdetails)

    - **Field Name**: $detail.getText($context)
        - **Field ID**: $detail.id
        - **Editable**: #if($detail.isEditable()) Yes #else No #end
        - **Required**: #if($detail.isRequired()) Yes #else No #end
        #if($detail.dataType)
        - **Data Type**: $detail.dataType
        #else
        - **Data Type**: String
        #end
        #if($detail.note)
            - **Note**: $context.getText($detail.note.toString())
        #end
        #if($detail.isList())
        - **Options Mapping**:
            #foreach($option in $mediaarchive.getList($detail.id))
                - ID: $option.id, Name: $option.name
            #end
        #end
#end


 

#if($directions) These are some specific directions:
	$!directions
#end


Main Task:

Follow the directions and create the new data as requested


$contentrequest $contentrequest.aitarget
