			<div class="col-sidebar-header">
				<h2>
				#if( $module.id =="librarycollection" && $librarycol )
				<a class="nav-btn float-left sidebarheaderactions" href="$apphome/views/modules/asset/index.html?nodeID=$librarycol.getRootCategoryId()">
					<i class="fas fa-arrow-alt-circle-up"></i>
				</a>
				#else
				<a class="emdialog sidebarsubmenu float-left sidebarheaderactions" data-hidefooter="true" data-width="1000" data-height="600"  title="[[Select Category]]" href="$home$apphome/components/categories/search/searchcategory.html">
				<i class="fas fa-search"></i>
				</a>
				#end
				[[My Computer]]
				<a href="#"
					title="[[Hide Sidebar]]"
					class="sidebar-toggler sidebar-toggler-hide"
					data-action="hide" 
					data-targetdiv="col-sidebars"
					data-sidebar="categories">
					<i class="fas fa-angle-double-left closebar"></i>
				</a>	
				</h2>
				<a href="#"
					title="[[Resize Sidebar]]"
					class="sidebar-toggler sidebar-toggler-resize"
					data-sidebar="categories">
					<i class="fas fa-arrows-alt-h "></i>
				</a>
				
			</div>
	
	
	<div class="libraryfinder-header text-right">
	<a href=""><i class="fas fa-folder-plus "></i></a> 
	<a href=""><i class="fas fa-search "></i></a>
	</div>

	
	##Show users folders, this blocks the first time if there is a desktop
	$pages.include("$apphome/components/sidebars/categories/userfiles.html",$context)
	
	<div class="clearfix"></div>



