<div id="pickersearchentities" >
 
	
	#set($moduleid = $context.getRequestParameter("moduleid"))
	#if(!$moduleid)
		#set($moduleid = $module.getId())	
	#end
	
	#set($copyinghitssessionid = $context.getRequestParameter("copyinghitssessionid"))
	#set($copyinghits = $context.getSessionValue($copyinghitssessionid))

	#set($copyingsearchtype = $context.getRequestParameter("copyingsearchtype"))
	#set($assetid = $context.getRequestParameter("assetid"))
	

	#if( $copyinghits || $assetid)
	<div class="alert alert-info">
		
		#if( $copyinghitssessionid && $copyinghits.getSelectionSize() > 0)	
		  		<strong>[[Adding]]</strong> $copyinghits.getSelectionSize() [[items]]
		#elseif($assetid)	
				<strong>[[Adding]]</strong> 1 [[asset]]
		#end	
	</div>
	#end
	
	#set($pickersearchaddnew = $context.getRequestParameter("pickersearchaddnew"))
	#if($pickersearchaddnew)
		#set($addnew = "$apphome/views/modules/${moduleid}/components/entities/addnew.html")
		#set($pickertarget = $context.getRequestParameter("pickertarget"))
		<a class="btn btn-sm btn-blue mb-2 float-right ajax"
		data-targetdivinner="pickersearchentities"
		data-pickertarget="$!pickertarget"
		data-oemaxlevel="1"
		href="$addnew">
		<i class="bi bi-plus-lg mr-1"></i> [[New]] #text($module)</a>
	#else
		#set($addnew = "$apphome/views/modules/${moduleid}/components/gridsample/preview/entity.html")
		
		#if($assetid)
			#set($addnew = "${addnew}?edit=true&addnew=true&viewfiles=true&saveaction=addassets&assetid=$!assetid")
		#elseif($copyinghits)
			#set($addnew = "${addnew}?edit=true&addnew=true&viewfiles=true&copyingsearchtype=$!copyingsearchtype&saveaction=additems&copyinghitssessionid=$!copyinghitssessionid&moduleid=$moduleid")
		#else
			#set($addnew = "${addnew}?edit=true&addnew=true&saveaction=upload")
		#end
		<a class="btn btn-sm btn-blue mb-2 float-right emdialog"
		href="$addnew">
		<i class="bi bi-plus-lg mr-1"></i> [[New]] #text($module)</a>
	#end
	
     
    <form  id="colsearchform" 
	    class="ajaxform autosubmit"  
	    data-targetdivinner="entitypickerresults" 
	    action="$home$apphome/views/modules/$!{moduleid}/components/entities/search/results.html">

		<input type="hidden" name="sortby" value="name" />
		<input type="hidden" name="assetid" value="$!asset.id" />
		<table  width="100%">
		<tr>
		<td>
		<div class="row inlinesearch" style="margin-bottom: 10px;;" >
			$context.putPageValue("autocomplete","off")
			<input type="hidden" name="operation" value="contains" />
			<input type="hidden" name="field" value="description" />
			<div class="col">
			<input type="text" name="description.value" class="form-control" placeholder="[[Or search for existing]]" autocomplete="off" />
			</div>
	
##			#foreach( $detail in $details)
##			<div class="col">
##					$context.putPageValue("detail", $detail)
##					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
##			</div>
##			#if( $counter == 4)
##				</div>
##				<div  class="row" >
##			#end	
##			#end
	
		</div>	
		</td>
		
		</tr>
		</table>
	</form>

	<div id="entitypickerresults"
		class="pickerresults"
		#set($pickertarget = $context.getRequestParameter("pickertarget"))
		#if( $copyinghits || $assetid)
			#if($assetid)
				data-assetid="$assetid"
			#else
				data-copyinghitssessionid="$!copyinghitssessionid"
			#end
			#if($copyingsearchtype == "assets")
				data-clickurl="$applink/views/modules/${moduleid}/components/entities/addassetstoentity.html"
			#else 
				data-clickurl="$applink/views/modules/${moduleid}/components/entities/copytoentity.html"
			#end
			data-copyingsearchtype="$!copyingsearchtype"
			data-clicktargetdiv="applicationmaincontent"
			data-clicktargettype="message"
			data-pickedmoduleid="$!{moduleid}"
			
		#elseif($pickertarget)
			data-clicktargettype="entitypicker"
			data-pickertarget="$pickertarget"
		#else
			data-clicktargettype="entitydialog"
			data-targetlink="$applink/views/modules/${moduleid}/components/gridsample/preview/entity.html"
			data-uploadmedia="true"
		#end
		
		data-viewfiles="true"
		data-moduleid="${moduleid}">
	
		$pages.include("$apphome/components/entities/search/results.html",$context)
		
	</div>
	

</div>	
