<div class="dita-viz-header">
	#set( $moduleicon = "pencil-square")
	<a href="#" class="current">
		<i class="bi bi-${moduleicon}"></i>
		<span>Visual Viewer</span>
	</a>
	#set( $moduleicon = $box.moduleicon)
	#ifnull($moduleicon)
		#set( $moduleicon = "diagram-3-fill")
	#end
	<a href="#">
		<i class="bi bi-${moduleicon}"></i>
		<span>Xml Structure</span>
	</a>
	<a href="#">
		<i class="bi bi-${moduleicon}"></i>
		<span>Table</span>
	</a>
	<a href="#">
		<i class="bi bi-${moduleicon}"></i>
		<span>Versions</span>
	</a>
</div>