<div class="dita-viz-header">  
	<a href="$componenthome/publish/ditaeditcontent/visualviewer.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="visualviewer")current#end'>
		<i class="bi bi-pencil-square"></i>
		<span>Visual Viewer</span>
	</a>
	<a href="$componenthome/publish/ditaeditcontent/xmlstructure.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="xmlstructure")current#end'>
		<i class="bi bi-filetype-xml"></i>
		<span>XML Structure</span>
	</a>
	<a href="$componenthome/publish/ditaeditcontent/table.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="table")current#end'>
		<i class="bi bi-table ns"></i>
		<span>Table</span>
	</a>
	<a href="$componenthome/publish/ditaeditcontent/versions.html" data-targetdiv="ditavizeditor" data-oemaxlevel="2" class='ajax #if($subtab=="versions")current#end'>
		<i class="bi bi-diagram-3-fill"></i>
		<span>Versions</span>
	</a>
</div>