<p>
#set( $moduleicon = "pencil-square")
			<i class="bi bi-${moduleicon}"></i>
			<span>Visual Viewer</span>
			</a>
			
	#set( $moduleicon = $box.moduleicon)
			#ifnull($moduleicon)
				#set( $moduleicon = "diagram-3-fill")
			#end
			<i class="bi bi-${moduleicon}"></i>
			<span>Xml Structure</span>		
			
				#set( $moduleicon = $box.moduleicon)
			#ifnull($moduleicon)
				#set( $moduleicon = "diagram-3-fill")
			#end
			<i class="bi bi-${moduleicon}"></i>
			<span>Table</span>		
			
				#set( $moduleicon = $box.moduleicon)
			#ifnull($moduleicon)
				#set( $moduleicon = "diagram-3-fill")
			#end
			<i class="bi bi-${moduleicon}"></i>
			<span>Versions</span>		
			
			
</p>			