<div id="lightboxessidemenu" class="overflow-y dita-list" style="width:300px">
	#set($section = $context.getRequestParameter("tabsection"))
#ifnull($section)
	#set( $section = "select")
#end
		<div class="rounded lightboxdropasset" data-entityid="$entity.id" data-moduleid="$topmodule.id" data-lightboxid="$section">
			<a class="ajax btn-wide #if( $section == "select" ) active #end"
				data-targetdiv="tablightboxes"
				data-oemaxlevel="1"
				href="$componenthome/publish/dita/show.html?lightboxid=$section&entityid=$entity.id&moduleid=$module.id">
			
			90130_SPC_C-EFM.ditamap
			</a>
			
		</div>


		<div class="rounded lightboxdropasset" data-entityid="$entity.id" data-moduleid="$topmodule.id" data-lightboxid="$section">
			<a class="ajax btn-wide #if( $section == $selectedbox.id ) active #end"
				data-targetdiv="tablightboxes"
				data-oemaxlevel="1"
				href="$componenthome/publish/dita/show.html?lightboxid=$section&entityid=$entity.id&moduleid=$module.id">
			
			learning/lac_90130_SPC_C-EFM.dita
			
			</a>
		</div>
		
</div>