#set( $searchtype = $context.findValue("searchtype"))
#set( $parentsearchtype = $searchtype)
#if( !$entity)
	#set($entityid = $context.getRequestParameter("entityid"))
	#set( $entity  = $mediaarchive.getData($searchtype, $entityid) )
#end
#set($entityid = $entity.id)
$context.putPageValue("entity", $entity)
$context.putPageValue("entityid", $entityid)

#if(!$currenttab)
	#set($currenttab = $context.getRequestParameter("currenttab"))
#end


#set($tabid = "tablightboxes")
<div id="${tabid}" 
class=" entity-tab-content entity-tab-media tabtypemedia" 
data-tabid="${tabid}"
data-entityid="$!entityid"
data-currenttab="$!viewid"
data-topmoduleid="$!moduleid"
data-url="$componenthome/gridsample/preview/tabpublishing_gallery.html"
>


<div  class="tablightbox d-flex h-100" style="height: 100%;">
	
	$context.putPageValue("topmodule",$module)

#set( $lightboxid = $context.getRequestParameter("lightboxid"))

	$pages.include("$componenthome/publish/ditaeditcontent/sidemenu.html",$context)
	$pages.include("$componenthome/publish/ditaeditcontent/visualedit.html",$context)



</div>