#ifnull($hits)
	#set($hits = $modulehits)
#end

#set($hitssessionid = $hits.getSessionId())

#if(!$moduleid)
#set($moduleid = $module.id)
#end

#if (!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeID"))
	$context.putPageValue("nodeID",$nodeID)
#end

#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end

#if(!$dialogresults)
	#set($dialogresults = $context.getRequestParameter("dialogresults"))
#end
#if(!$dialogindextype)
	#set($dialogindextype = $context.getRequestParameter("dialogindextype"))
#end

#set($targetdiv = $maintargetdiv) 

#set($filtercount = 0)
#set( $terms = $hits.getFilteredTerms($context,"advancedfilter") )

#if(!$terms)
	##check modulehits
	#set( $terms = $modulehits.getFilteredTerms($context,"advancedfilter") )
#end

#if(($hits.getSearchQuery().hasMainInput()) || ($terms && $terms.size() > 0))
	<div class="d-flex align-items-center justify-content-between selectedfilters">
		<div id="filtersselected" class="filtersselected overflow-x">
			#if($hits.getSearchQuery().hasMainInput())
				#if($moduleid=="asset")
					#if($dialogresults)
						#set($href = "$siteroot$apphome/views/modules/${moduleid}/dialogindex.html?hitssessionid=$!hits.getSessionId()&topmoduleid=$!topmoduleid&entityid=$!entityid&dialogindextype=$!dialogindextype&rootcategory=$!rootcategory&categoryid=$!{categoryid}&removeterm=description")
						#set($targetdiv = "dialogassetresultscontainer")
						#set($oemaxlevel = "1")
					#else
						#if($categoryid)
							#ifnull($category)
								#set($category = $mediaarchive.getCachedData("category", $categoryid))
							#end
							#set($href = "$applink/views/modules/asset/viewfiles/${categoryid}/#dash($category).html?hitssessionid=$!hits.sessionId&removeterm=description")
							#set($oemaxlevel = "2")
						#else
							#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&removeterm=description")
							#set($oemaxlevel = "1")
						#end		
					#end
					
				#else
					#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&removeterm=description")
					#set($oemaxlevel = "1")
				#end
				<div class="d-flex align-items-center selected-filters">
					<a href="$href"
						class="ajax clearsearchbar"
						title="[[Clear Search]]"
						data-targetdiv="$!targetdiv" 
						data-oemaxlevel="$!oemaxlevel"
						data-updateurl="false"> 
						[[Searching for]] <strong>$hits.getSearchQuery().getMainInput()</strong> 
						<i class="bi bi-x ml-1"></i>
					</a>
				</div>
			#end
			#if(!$terms.isEmpty())
			<div class="d-flex align-items-center selected-filters">		
				#foreach( $term in $terms)
					#if($term.getId() != "description")
						#if($moduleid=="asset")
							#ifnotnull($dialogresults)
								#set($href = "$siteroot$apphome/views/modules/${moduleid}/dialogindex.html?hitssessionid=$!hits.getSessionId()&topmoduleid=$!topmoduleid&entityid=$!entityid&dialogindextype=$!dialogindextype&rootcategory=$!rootcategory&categoryid=$!{categoryid}&removeterm=$!term.getId()")
								#set($targetdiv = "dialogassetresultscontainer")
								#set($oemaxlevel = "1")
							#end
							#ifnull($dialogresults)
								#if($categoryid)
									#ifnull($category)
										#set($category = $mediaarchive.getCachedData("category", $categoryid))
									#end
									#set($href = "$applink/views/modules/asset/viewfiles/${categoryid}/#dash($category).html?hitssessionid=$!hits.sessionId&removeterm=$!term.getId()")
									#set($oemaxlevel = "2")
								#else
									#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&categoryid=$!{categoryid}&removeterm=$!term.getId()")
									#set($oemaxlevel = "1")
								#end		
							#end
							
						#else
							#if($tabletype == "subentity")
								#set($href = "$siteroot$apphome/views/modules/${moduleid}/components/table/subentitytable.html?hitssessionid=$!hits.getSessionId()&${moduleid}clearfilters=true")
								#set($href = "$href&topmoduleid=$!{topmoduleid}&entityid=$!{entityid}&viewid=$!{viewid}")
								#set($href = "$href&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&field=$!fieldexternalid&$!{fieldexternalid}.value=$!fieldexternalvalue&operation=exact")
								#set( $targetdiv = "results$!{viewid}")
							#else
								#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&removeterm=$!term.getId()")
							#end
							#set($oemaxlevel = "1")
						#end
					
						#ifnotnull($nodeID)
							#set($href = $href + "&nodeID=${nodeID}")
						#end
						#ifnotnull($currentSort)
							#set($href = $href + "&sortby=${currentSort}")
						#end
					
						<a href="$href"
							class="ajax"
							title="[[Clear]] ${term.getDetail()}"
							data-targetdiv="$!targetdiv" 
							data-oemaxlevel="$!{oemaxlevel}"
							data-updateurl="false">
							$term.getDetail():
							<span> 
							#foreach( $val in $term.getValueCollection() )
								#if($val && $term.getDetail().getId())
								
									#if ($term.getDetail().getId() == "keywords")
										#if( $foreach.count > 1) [[and]] #end
									#else
										#if( $foreach.count > 1) [[or]] #end
									#end
									
									#if($term.getDetail().isList())
										#set($label = $searcherManager.getCachedData($catalogid, $term.getDetail().getListId(), $val))
										<strong>$label</strong>
									#elseif($term.getDetail().isBoolean())
										#if($term.getValue() == "true")
											<strong>[[True]]</strong>
										#else
											<strong>[[False]]</strong>
										#end
									#elseif($term.getDetail().isDate())
										#set($op = $term.operation)
										#if($op == "afterdate")
											[[After]]
										#elseif($op == "beforedate")
											[[Before]]
										#elseif($op == "betweendates")
											[[Between]]
										#end
										
										<strong>$term.getValue()</strong>
									#else
										#if($term.getValue())
											<strong>$term.getValue()</strong>
										#elseif($val)
											<strong>$val</strong>
										#end
									#end
								#end
							#end
							</span>
							<i class="bi bi-x ml-1"></i>
						</a>
						#set($filtercount = $filtercount+1)
					#end
				#end
			</div>
			#end
		</div>
		#if($moduleid=="asset")
			#if($dialogresults)
				#set($href = "$siteroot$apphome/views/modules/${moduleid}/dialogindex.html?hitssessionid=$!hits.getSessionId()&topmoduleid=$!topmoduleid&entityid=$!entityid&dialogindextype=$!dialogindextype&rootcategory=$!rootcategory&categoryid=$!{categoryid}&${moduleid}clearfilters=true")
				#set($targetdiv = "dialogassetresultscontainer")
			#else
				#if($categoryid)
					#ifnull($category)
						#set($category = $mediaarchive.getCachedData("category", $categoryid))
					#end
					#set($href = "$applink/views/modules/asset/viewfiles/${categoryid}/#dash($category).html?hitssessionid=$!hits.sessionId&${moduleid}clearfilters=true")
					#set($oemaxlevel = "2")
				#else
					#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&${moduleid}clearfilters=true")
					#set($oemaxlevel = "2")
				#end
				
			#end
		#else	
			#if($tabletype == "subentity")
				#set($href = "$siteroot$apphome/views/modules/${moduleid}/components/table/subentitytable.html?hitssessionid=$!hits.getSessionId()&${moduleid}clearfilters=true")
				#set($href = "$href&topmoduleid=$!{topmoduleid}&entityid=$!{entityid}&viewid=$!{viewid}")
				#set($href = "$href&fieldexternalid=$!fieldexternalid&fieldexternalvalue=$!fieldexternalvalue&field=$!fieldexternalid&$!{fieldexternalid}.value=$!fieldexternalvalue&operation=exact")
				#set( $targetdiv = "results$!{viewid}")
			
			#else
				#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&${moduleid}clearfilters=true")
			#end
		#end
		<a href="${href}" title="[[Clear All Filters]]" 
			class="clear-all ajax clearsearchbar" 
			data-oemaxlevel="${oemaxlevel}" 
			data-targetdiv="$!{targetdiv}"><i class="bi bi-x"></i> [[Clear All]]</a>
	</div>
#end

