#ifnull($hits)
	#set($hits = $modulehits)
#end

#set($hitssessionid = $hits.getSessionId())
#set($moduleid = $module.id)
#if (!$nodeID)
	#set($nodeID = $context.getRequestParameter("nodeID"))
	$context.putPageValue("nodeID",$nodeID)
#end

#if( !$librarycol && $category ) 
	#set( $librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end

#if( $librarycol )	
	$context.putPageValue("librarycol",$librarycol)
#end


#if($canviewentitiestopmenu)

	#set( $menu = $mediaarchive.query("appsection").all().sort("ordering").search($context) )
	#set($selected = $userprofile.getValue("defaultmodule") )
	
	<div class="entitynabarcontainer">
	<ul class="entity-navbar">
		
		#if($menu.isEmpty())
		<li>
			<a href="$applink/index.html" class="ajax #ifnull($selected) active #end" 
				data-targetdiv="applicationcontent" 
				data-oemaxlevel="4" 
				data-updateurl="true"
				data-sidebarcomponent="categories"
				data-profilepreference="defaultmodule" 
				data-profilepreference.value="" 
			 	title="[[View All]]">
					  [[Folders]]
			</a>
		</li>
		#else
		#foreach( $link in $menu)
			#set( $entity = $mediaarchive.getCachedData("module",$link.toplevelentity) )
			##sort type			
		<li >
			<a href="$applink/views/modules/$entity.getId()/index.html?${entity.getId()}page=1" class="ajax activelistener #ifnotnull($selected) #if( $selected == $entity.getId()) active#end #end" 
				data-targetdiv="applicationcontent" 
				data-oemaxlevel="4" 
				data-updateurl="true"
				data-profilepreference="defaultmodule" 
				data-profilepreference.value="${entity.getId()}" 
				#if($entity.getId() =="asset") data-sidebarcomponent="categories" #end
				title="[[View]] #text($link)">
					#text($link)
			</a>
		</li>
		#end
		#end
	</ul>
	</div>
#end

<div class="filtered">

## BREADCRUMB
#if($canviewbreadcrumb)
	#if( $hits.getSearchQuery().hasMainInput())
		<div class="filtered-breadcrumb">
		#if($librarycol)
			[[Searching within]]: <strong><em>$librarycol</em> </strong> [[for]]:  <span class="searchterm">$hits.getSearchQuery().getMainInput()</span>
		#else
			[[Searching for]]:  <span class="searchterm">$hits.getSearchQuery().getMainInput()</span>
		#end
		</div>
	
	#end
	
	#set($currentSort = $hits.getSearchQuery().getSortBy())
	
	##TODO Loop over the view and show them here if they match
	
	#if( $category )
		<div class="filtered-breadcrumb">
			
			#set( $count = $hits.size())
			#set($parentcategories = $category.getParentCategories())
			
			#if(!$parentcategories.isEmpty())
				#foreach( $parent in $parentcategories)
					#if( ${foreach.count} > 1) / #end
					#if($category.getId() != $parent.getId())
					<a style="padding:0px 4px 0;" 
						href="$siteroot$apphome/views/modules/asset/viewfiles/$!{parent.id}/#dash($parent).html?hitssessionid=$!hits.getSessionId()"
						title="[[View Files]]: $parent"
						class="ajax"
						data-targetdiv="applicationcontent"
						data-oemaxlevel="5"
						data-scrolltocat="true"
						data-updateurl="true"
						data-sidebarcomponent="categories">$parent</a>
					#else
					<span class="currentcategory">$parent</span>
					#end		
				#end
			
				&nbsp;<span>($count)</span>
			#end
		</div>
	#end
#end


## ENTITIES
#if($canviewentitiesbreadcrumb)
	#set( $entities = $userprofile.getEntitiesInParent($category) )
	#if(!$entities.isEmpty())
	<div class="category-entities-actions">
		#foreach ( $data in $entities)
			#set($entity = $data.getData())
			#set($entityid = $data.getId())
			#set($emoduleid = $data.getModuleId()) 
			
			#set($emodule = $mediaarchive.getData("module", $emoduleid))
			
			#set($rendertype = $emodule.modulerendertype)
			#if (!$rendertype)
	   			#set($rendertype = "entity")
			#end
			$context.putPageValue("rendertype", $rendertype)
			$context.putPageValue("rendermoduleid", $emoduleid)
			
			#set($moduleicon = "entity")
	     	#if ($emodule.moduleicon)
	     		#set($moduleicon = $emodule.moduleicon)
	     	#end
		     	
			#set($previewurl = "$!{siteroot}$apphome/views/modules/$!{emoduleid}/components/gridsample/preview/${rendertype}.html?id=$entity.getId()&hitssessionid=$!hits.sessionId")
			
			$context.putPageValue("hit", $entity)
			
			#set($moduleicon = "entity")
	    	#if ($module.moduleicon)
	    		#set($moduleicon = $module.moduleicon)
	    	#end
	    	
			<div class="category-entity">    	
				<a href="$previewurl" 
		   	 	class="emdialog entity-dialog emgridresulttitle " 
		   	 	data-hidefooter="true" 
		   	 	data-hideheader="true"
		   	 	id="clickid${entityid}"  
		   	 	data-id="${entityid}"
		   	 	data-moduleid="$!emoduleid"
		   	 	title="#text($!entity.name)">
		   	 	<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 23px;">
		   	 	#text($emodule) \ #text($entity)&nbsp; <i class="fas fa-external-link-alt"></i></a>
	   	 	</div>
		#end
		<div class="clearfix"></div>
	</div>
	#end
#end

#set( $terms = $hits.getFilteredTerms($context,"advancedfilter") )

#if(!$terms)
	##check modulehits
	#set( $terms = $modulehits.getFilteredTerms($context,"advancedfilter") )
	
#end

#foreach( $term in $terms)
	#if( $librarycol )
		#set($href = "$siteroot$apphome/views/modules/librarycollection/showcategory.html?hitssessionid=$!hits.getSessionId()&collectionid=$!librarycol.getId()&removeterm=$!term.getId()")
		#set($oemaxlevel = "3")
	#else
		#if($moduleid=="asset")
			#set($href = "$siteroot$apphome/views/modules/$moduleid/index.html?hitssessionid=$!hits.getSessionId()&removeterm=$!term.getId()")
			#set($oemaxlevel = "4")
		#else
			#set($href = "$siteroot$apphome/views/modules/$moduleid/index.html?hitssessionid=$!hits.getSessionId()&removeterm=$!term.getId()")
			#set($oemaxlevel = "3")
		#end
	#end
	#if ($nodeID)
	 	#set($href = $href + "&nodeID=${nodeID}")
	#end
	#if($currentSort)
		#set($href = $href + "&sortby=${currentSort}")
	#end

	<a href="$href"
		class="btn btn-xs btn-green ajax"
		title="[[Clear]] $term.getDetail()"
		data-targetdiv="applicationcontent" 
		data-oemaxlevel="$oemaxlevel"
		data-updateurl="true" >$term.getDetail(): 
		#foreach( $val in $term.getValueCollection() )
			
		 	#if ($term.getDetail().getId() == "keywords")
				#if( $foreach.count > 1) [[and]] #end
			#else
				#if( $foreach.count > 1) [[or]] #end
			#end
			
			#if($term.getDetail().isList())
				#set($data = $mediaarchive.getCachedData($term.getDetail().getListId(),$val))
				$!context.getText( $data )
			#elseif($term.getDetail().isBoolean())
				#if($term.getValue() == "true")
					[[True]]
				#else
					[[False]]
				#end
			#elseif($term.getDetail().isDate())
				#set($op = $term.operation)
				#if($op == "afterdate")
					[[After]]:
				#elseif($op == "beforedate")
					[[Before]]:
				#elseif($op == "betweendates")
					[[Between]]:
				#end
				
	            $term.getValue()
			#else
	            #if($term.getValue())
	                $term.getValue()
	            #elseif($val)
	                $val
	            #end
			#end
			
			 
		#end <i class="fas fa-times"></i></a>
#end



#if( $hits.getSearchQuery().hasMainInput() || ($terms && !$terms.isEmpty()) )
	#if( $librarycol )
		#set($href = "$siteroot$apphome/views/modules/librarycollection/showcategory.html?hitssessionid=$!hits.getSessionId()&collectionid=$!librarycol.getId()&assetclearresults=true&clearfilters=true")
		#set($oemaxlevel = "2")
	#else
		#if($moduleid=="modulesearch")
			#set($href = "$siteroot$apphome/index.html?hitssessionid=$!hits.getSessionId()&clearselection=true&clearfilters=true")
			#set($oemaxlevel = "3")
		#else
			#if($moduleid=="asset")
				#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&assetclearresults=true&assetclearselection=true&clearselection=true&clearfilters=true")
				#set($oemaxlevel = "4")
			#else
				#set($href = "$siteroot$apphome/views/modules/${moduleid}/index.html?hitssessionid=$!hits.getSessionId()&${moduleid}clearresults=true&${moduleid}clearselection=true&clearselection=true&clearfilters=true")
				#set($oemaxlevel = "3")
			#end
		#end
	#end
	#if ($nodeID)
 		#set($href = $href + "&nodeID=$!{nodeID}")
	#end
	<a class="clearallfilters ajax btn btn-secondary btn-xs btn-clearall " 
		href="$href"
		data-targetdiv="applicationcontent" 
		data-oemaxlevel="$oemaxlevel" 
		data-updateurl="true" 
		data-onsuccess="closetypeaheadmodal"
		title="[[Clear Search Filters]]">[[Clear Filters]] <i class="fas fa-times"></i> </a>
#end


</div>