#set( $moduleid = $module.getId())


##$hits

#if ($editfilters)
	#set( $edit = true )
#elseif( !$editfilters)
	#set( $edit = $context.getRequestParameter("editfilters"))
#end
#if( $edit)
	$context.putPageValue("edit",$edit)
#end

#if(!$categoryid)
	#set($categoryid = $context.getRequestParameter("categoryid"))
#end
#if(!$topmoduleid)
	#set ( $topmoduleid = $context.getRequestParameter("topmoduleid") )
#end
#if(!$targetdivsearch)
	#set ( $targetdivsearch = $context.getRequestParameter("targetdivsearch") )
#end

<div id="moduleadvfilterpanel" class="advfilterpanel" >
	

$pages.include("$componenthome/filters/filters-inline.html", $context)


<div class="advfilterpanelcontent" >
	#set( $view = "$moduleid/$!{moduleid}advancedfilter")

	#set( $searcher = $mediaarchive.getSearcher($moduleid))
	
	$context.putPageValue("view", $view)
	$context.putPageValue("searcher", $searcher)
	
	#set($usestartswith = $page.isPropertyTrue('usestartswith'))
	$context.putPageValue("usestartswith",$usestartswith)
	$context.putPageValue("caneditlists",false)
	
	#if(!$targetdivsearch)
		#set($targetdivsearch = "$!{moduleid}resultscontainer")
	#end

	
	<form  	name="filterform" 
			id="filterform" 
			class="ajaxform autosubmitform filterform"
			method="POST" 
			data-targetdiv="$targetdivsearch" 
			
			#set($resultslink = $context.getRequestParameter("resultslink"))
			#if($resultslink)
				action="$resultslink"
			#elseif($topmoduleid)
				#if($moduleid== "asset" && $categoryid)
					action="$siteroot$apphome/views/modules/$moduleid/dialogshowcategory.html"
					data-oemaxlevel="3"
				#else
					action="$siteroot$apphome/views/modules/$moduleid/dialogindex.html"
				#end
				
				data-updateurl="false"
			#else
				#if($moduleid== "asset" && $categoryid)
					action="$siteroot$apphome/views/modules/$moduleid/showcategory.html"
					data-oemaxlevel="2"
				#else
					action="$siteroot$apphome/views/modules/$moduleid/index.html"
				#end
			#end  
	>
		#if( $librarycol)
			<input name="collectionid" type="hidden" value="$!librarycol.getId()">
		#end
		
		##We need 2 things passed in: $searcher, $view or $searcher $details
	
##		#if (!$details && $userprofile)
##			#set ($details = $searcher.getDetailsForView($view, $userprofile))
##		#else
			#set ($details = $searcher.getDetailsForView($view))
##		#end
		
		$context.putPageValue("idprefix","search")
	
		##FILTERS
		#foreach( $detail in $details)   
			#set( $viewpermission = $context.getPageValue("canviewfilter${detail.getId()}") )
			##ifnull($viewpermission)
				#set( $viewpermission = true)
			##end
			
			  #if( $viewpermission )
				$context.putPageValue("detail", $detail)
				$context.putPageValue("searchform", true)

				#if ($detail.isLeaf())
				
					##if ($detail.isFilter())
						#set($filternode = $hits.findFilterValue($detail.id))
						$context.putPageValue("filternode",$filternode)
					##end

					$pages.include("/${applicationid}/components/filters/detailedit.html", $context)
						
				#else($detail.hasChildren())
					$pages.include("/${applicationid}/components/filters/section.html", $context)
				#end
			  #end
		#end
			
		
		#set( $nodeID = $context.getRequestParameter("nodeID"))
		
		#if($topmoduleid)
			<input name="topmoduleid" type="hidden" value="$topmoduleid" />
			<input name="dialogresults" type="hidden" value="true" />
			<input name="targetdivsearch" type="hidden" value="$!targetdivsearch" />
		#end
		
		#if( $categoryid )
		
			<input type="hidden" name="field" value="category" />
			<input type="hidden" name="operation" value="exact" />
			<input type="hidden" name="category.value" value="$categoryid" />
			<input type="hidden" name="nodeID" value="$!nodeID" />
			<input type="hidden" name="categoryid" value="$categoryid" />
		#end
		

		<input type="hidden" name="$!{moduleid}endusersearch" value="true"/>
	
		<input type="hidden" name="customproperty" value="userinputsearch"/>
		<input type="hidden" name="userinputsearch.value" value="true"/>
		<input type="hidden" name="removeterm" id="filtersremoveterm" value=""/>
					
				    
					
			
		#set ($resultview = $userprofile.get('resultview'))
		
		#if( !$resultview )
		<input type="hidden" name="resultstype" value="table" />
		#end
		
		</form>
		
		
		##EDITING
		
		#if ($edit == "true")
			##TODO: Pass this view name in
			#set ($alldetails = $searcher.getUserPropertyDetails() )
			<div class="advancedsearcheditform">
			<strong style="margin-bottom:10px;display:block">[[Edit Filters]]:</strong>
			<form id="searchaddfield" 
				class="ajaxform" 
				data-targetdiv="moduleadvfilterpanel" 
				action="$siteroot$apphome/views/modules/$moduleid/components/filters/addfield.html" 
				method="post">
			
				<input type="hidden" name="oemaxlevel" value="1"/>
				<input type="hidden" name="editadvsearch" value="true"/>
				<input type="hidden" name="view" value="$view"/>
				<input type="hidden" name="catalogid" value="$searcher.getCatalogId()"/>
				<input type="hidden" name="collectionid" value="$!collectionid"/>
				<input type="hidden" name="moduleid" value="$!moduleid"/>
				<input type="hidden" name="searchtype" value="$searcher.getSearchType()"/>
				<div class="form-group">
				<select  class="form-control"  name="field" onChange="jQuery('#searchaddfield').submit();">
					<option value="">#text($module)</option>
					#foreach( $detail in $alldetails)
						#if($detail.isLeaf())
						<option value="$detail.id" style="margin-left: 10px;">$detail.getText($context)</option>
						#else							
							<optgroup label="$detail.title"></optgroup>
							#foreach($child in $detail)
							<option value="$child.id" style="margin-left: 10px;">$child.getText($context)</option>
							#end
						#end
					#end	
				</select>
				</div>
				<div class="form-group">
				<select class="form-control" name="field" onChange="jQuery('#searchaddfield').submit();">
					<option value="">[[Album]]</option>
					#set( $librarydetails = $mediaarchive.getSearcher("librarycollection").getUserPropertyDetails() )
					#foreach( $detail in $librarydetails)
					<option value="librarycollection.${detail.id}" style="margin-left: 10px;">$detail.getText($context)</option>
					#end
				</select>
				</div>
				<div class="form-group">
				<select  class="form-control"  name="field" onChange="jQuery('#searchaddfield').submit();">
					<option value="">[[Library]]</option>
					#set( $librarydetails = $mediaarchive.getSearcher("library").getUserPropertyDetails() )
					#foreach( $detail in $librarydetails)
					<option value="library.${detail.id}" style="margin-left: 10px;">$detail.getText($context)</option>
					#end
				</select>
				</div>
			<div class="form-group">
				###set($doneUrl = "$siteroot$componenthome/filters/index.html?oemaxlevel=1&collectionid=$!collectionid&moduleid=$!moduleid")
				
				#set($doneUrl = "$siteroot$apphome/views/modules/$moduleid/index.html?collectionid=$!collectionid&moduleid=$!moduleid")
				<a class="btn btn-sm btn-secondary ajax"  data-targetdiv="applicationcontent" data-oemaxlevel="4" href="$doneUrl">[[Done Editing]]</a>
			</div>	
			</form>
			</div>
		#end
	
	</div>
</div>