
	
<div class="category-search">
			#foreach( $hit in $hits)
		     	$context.putPageValue("hit", $hit)
		     	$context.putPageValue("module", $module)
		    
<div class="category-search-hit">
<a href="$home$apphome/views/modules/asset/showcategory.html?nodeID=$hit.id" class="ajax" data-oemaxlevel="2" data-targetdiv="searchlayout">
	<div class="category-search-hit-icon" >
        	<i class="fas fa-folder" ></i>
     </div>
     <div class="category-search-hit-name" style="">
     	$hit.categorypath
     </div>
</a>	
     <div class="category-search-hit-tools">
     #if( $desktop )
       	<a href="#" class="emdesktopdownload emdownloadasset" data-categoryid="$hit.id" title="[[Download]]">
       	<i class="fas fa-download"> </i>
       	</a>
	#end     
     </div>
</div>
<div class="clearfix"></div>    
#end    

</div>
