/*Color*/
:root {
	--primary-color-black: #202835;
  --primary-color-dark: #333e55;
  --primary-color-normal: #4d5d80;
  --primary-color-light: #5f739e;
  --accent-color-dark: #1174d4;
  --accent-color-normal: #3884fd;
  --action-color-dark: #0e2f50;
  --action-color-enabled: #378637;

		--themed-sidebar-bg: #151515;

		--themed-sidebar-text: #FFFFFF;

    --themed-navbar-text: #FFFFFF;

    --themed-navbar-primary: #252525;

    --themed-navbar-secondary: #444444;

    --themed-nav-btn: #444444;

    --themed-nav-btn-hover: #5e5e5e;
	
    --themed-nav-btn-text: #FFFFFF;

    --themed-nav-btn-active: #FFFFFF;

	
    --themed-nav-btn-active-text: #444444;

    --themed-btn: #444444;

    --themed-btn-hover: #666666;
	
    --themed-btn-text: #FFFFFF;

		--themed-btn-sec: #888888;

		--themed-btn-sec-hover: #a1a1a1;

		--themed-btn-sec-text: #FFFFFF;

		--themed-btn-acc-active: #378637;

		--themed-btn-acc: #3884FD;

		--themed-btn-acc-hover: #6da4fe;

		--themed-btn-acc-text: #FFFFFF;

    --themed-th: #FFFFFF;

    --themed-th-hover: #e6e6e6;

    --themed-th-text: #444444;
	
    --themed-td: #FFFFFF;
	
	--themed-td-stripe: #f2f2f2;
	
    --themed-td-text: #444444;
	
}



#embody {


}

#header {

}



#header .header-text{
position: relative;

}



.entityNavBarContainer {
	
		
;
}

@media (max-width: 768px) {
	.navbar-quicksearch {
			
			
		
		
	}
	
}

/*EMNav Tabs*/
.emnav .navtabs .navtabitem,
#header .navbar-toggler  {
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);
		box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
	
}


/*emnav Tabs Hover*/
.emnav .navtabitem:hover {
	
	
}









.search-list li.current a.search-href, .sidebar-list li.current a {
}
