/* Bootstrap Dropdown Related Styles */
/* .dropdown-item:focus,
.dropdown-item:hover {
	color: var(--themed-navbar-secondary-text);
	background: var(--themed-nav-btn-hover);
} */
.dropdown-noarrow::before,
.dropdown-noarrow::after {
	border: 0 none;
}
.dropdown-toggle.no-icon::before,
.dropdown-toggle.no-icon::after {
	display: none !important;
}
.dropdown-menu {
	border-radius: 0.25rem;
	z-index: 100000;
}
.dropdown-menu.dropdown-menu-top {
	top: auto;
	bottom: 100%;
}
.dropdown-menu > :first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.dropdown-menu > :last-child {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.dropright .dropdown-menu {
	margin-left: 0;
}
li.dropdown {
	cursor: pointer;
}
.dropup .dropdown-menu {
	margin-bottom: 0;
}
.dropdown-menu {
	padding: 0;
	font-size: 0.9rem;
	margin-top: 0;
	background: var(--themed-tab-btn-hover);
}
.dropdown-submenu {
	position: relative;
}
.dropdown-item {
	padding: 0.4rem 0.85rem;
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn-hover);
}
.dropdown-item:hover {
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn);
}
.dropdown-item-icon {
	padding-right: 5px;
	font-size: 0.8em;
}
.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: 1.2em;
	vertical-align: 0.4em;
	border-top: 0.4em solid;
	border-right: 0.4em solid transparent;
	border-bottom: 0;
	border-left: 0.4em solid transparent;
}
.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
.dropdown-toggle::after {
	vertical-align: 0.1em;
}
.dropdown:hover > .dropdown-menu,
.dropup:hover > .dropdown-menu,
.dropstart:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu,
.dropupstart:hover > .dropdown-menu,
.dropupend:hover > .dropdown-menu,
.dropdown-center:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.creator-section-content .dropdown-menu-end {
	transform: translateX(calc(-100% + 66px));
}
.ai-content-helper .dropdown-menu-end {
	transform: translateX(calc(-100% + 32px));
}
.dropdown > .dropdown-toggle:active {
	pointer-events: none;
}
.dropdown.fixed:hover > .dropdown-menu {
	position: fixed;
	z-index: 99999;
}
.site-switcher .dropdown-menu,
.site-switcher button {
	color: #fff;
	background: var(--themed-nav-btn);
	margin: 0;
}
.site-switcher.show .dropdown-menu,
.site-switcher.show button {
	color: #fff;
	background: #4d5d80;
}
.site-switcher a.dropdown-item {
	padding: 8px 12px;
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn);
}
.site-switcher a.dropdown-item:hover {
	background: var(--themed-nav-btn-hover);
}
.site-switcher a.dropdown-item:not(:last-child) {
	border-bottom: var(--1px-dark);
}
.ui-widget-header .dropdown-menu a {
	color: var(--default-text);
}
.ui-widget-header .dropdown-menu a:hover,
.ui-widget-header .dropdown-item:hover {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.col-settings .ui-widget-header .dropdown-menu {
	border-radius: 0;
	width: 80%;
}
.col-settings .ui-widget-header .dropdown-item {
	background: #232323;
	border-bottom: 1px solid var(--black-border);
	font-size: 1rem;
	line-height: 1.5;
}
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background: var(--themed-btn);
	border-color: var(--themed-btn);
}
.show > .btn-primary.dropdown-toggle:focus {
	outline: 0;
	box-shadow: none;
}
.show > .btn-primary.dropdown-toggle {
	color: #fff;
}
.show > .btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #252525;
	border-color: #252525;
}
.asset-menu .dropdown-menu {
	background: #3d4a5d;
}
.workspacedropmenu .dropdown-item {
	color: #eee;
}
.workspacedropmenu .dropdown-item:hover {
	color: #fff;
	background: var(--pale-grey-black);
	text-decoration: underline;
}
.template-dropdown .dropdown-menu {
	padding: 0;
	border-color: #c2e1ff;
}
.template-dropdown .dropdown-menu.show {
	box-shadow: 1px 2px 5px #c2e1ff;
}
.template-dropdown .dropdown-item {
	padding: 0.5rem 1rem;
}
.template-dropdown .dropdown-item:not(:last-child) {
	border-bottom: 1px solid #c2e1ff;
}
.template-dropdown .dropdown-item:focus,
.template-dropdown .dropdown-item:hover {
	color: var(--default-text);
	background: #ecf6ff;
}
.template-dropdown .dropdown-toggle {
	color: var(--dodger-blue);
}
.ai-content-helper .dropdown-toggle {
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
}
.ai-content-helper .dropdown-menu {
	z-index: 999;
}
.light-dropdown .dropdown-menu,
.light-dropdown .dropdown-item {
	background: #fefeff;
	color: #444444;
	border-bottom: 1px solid #dddddd !important;
}
.light-dropdown .dropdown-item:hover {
	background: #f0f0f0 !important;
	color: #000000;
}
.emsubnav ul.resultsnav li a.dropdown-item {
	padding: 0.25em 0.5em 0.25em 0.75em;
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn);
	line-height: 30px;
}
.emsubnav .resultsnav .dropdown-menu .dropdown-item:hover {
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn-hover);
}
.emsubnav .resultsnav ul.dropdown-menu li:first-child a.dropdown-item {
	border-top-right-radius: var(--btn-radius);
	border-top-left-radius: var(--btn-radius);
}
.emsubnav .resultsnav ul.dropdown-menu li:last-child a.dropdown-item {
	border-bottom-right-radius: var(--btn-radius);
	border-bottom-left-radius: var(--btn-radius);
}
.emsubnav .dropdown-menu {
	padding: 0;
	margin: 0;
	min-width: 11rem;
}
.emsubnav .dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.emsubnav .dropdown-submenu > .dropdown-toggle:active {
	pointer-events: none;
}
.emsubnav li .dropdown-menu {
	box-shadow: var(--raised-shadow);
	border-radius: 0.25rem;
}
@media (min-width: 992px) {
	.dropdown-menu .submenu {
		position: absolute;
		left: 100%;
	}
}
.dropdown-menu > .dropdown-item,
.resultsnav .dropdown li {
	cursor: pointer;
	border-bottom: var(--1px-dark);
}
.lighttheme .dropdown-menu > .dropdown-item,
.lighttheme .resultsnav .dropdown li {
	border-bottom: var(--1px-light);
}
.dropdown-menu > .dropdown-item:last-child,
.resultsnav .dropdown li:last-child {
	border-bottom: none !important;
}
.emsubnav li .dropdown-menu,
.resultsnav li.dropdown:hover,
.resultsnav .nav-li:hover,
.resultsnav .dropdown-item:focus {
	background: var(--themed-navbar-secondary);
	color: #fff;
}
.emsubnav .resultsnav li.dropdown:hover a.nav-link {
	color: #fff;
}
.resultsnav .dropdown-menu {
	border: 0 none;
	border-radius: 0;
}
.resultsnav .dropdown-submenu:hover a.dropdown-toggle,
.resultsnav .dropdown-item:hover {
	background: #666;
	color: #fff;
}
#categoryEditTreecontextMenu .dropdown-menu {
	right: 6px;
	left: auto;
}
.emgrid-subtitle .dropdown-menu .dropdown-item {
	color: var(--pale-grey-black);
}
.entity-actions-bar a.dropdown-toggle {
	display: inline-block;
	padding: 0 8px;
	margin: 0 5px;
	font-size: 0.85rem;
	height: 32px !important;
	line-height: 32px !important;
}
.entity-action-header a.dropdown-toggle::after,
.entity-actions-bar a.dropdown-toggle::after {
	display: none;
}
.entity-actions-bar .dropdown-menu {
	margin-left: 0.25rem;
	overflow: hidden;
}
.entity-action-header .dropdown-menu .dropdown-item,
.entity-actions-bar .dropdown-menu .dropdown-item {
	margin: 0;
	padding: 6px 12px;
	background: var(--themed-nav-btn);
	color: var(--themed-nav-btn-text);
}
.entity-actions-bar .dropdown-menu .dropdown-item.active {
	background: var(--themed-btn-acc);
}
.entity-action-header .dropdown-menu .dropdown-item:hover,
.entity-actions-bar .dropdown-menu .dropdown-item:hover {
	background: var(--themed-btn-acc);
}
.languagesfield .dropdown-menu {
	border: none !important;
	overflow: hidden;
}
.languagesfield a.dropdown-item {
	padding: 4px 8px;
}
.emgrid-subtitle .dropdown-menu {
	font-size: 0.95rem;
}
.emgrid-subtitle .dropdown-menu a {
	padding: 0.5rem 1rem;
}
.emgrid-subtitle .dropdown-menu a i {
	width: 22px;
	text-align: center;
}
.entity-action-header a.dropdown-item {
	border: none;
}
.col-mainsidebar h3.dropdown {
	padding: 8px 13px;
}
.lighttheme .col-mainsidebar h3.dropdown {
	border-top: none;
}
#header .dropdown-toggle-btn,
.dropdown-menu.show {
	box-shadow: var(--raised-shadow);
}
.nav-btn-row .dropdown-menu,
.col-sidebar-subheader .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 1px solid var(--themed-navbar-secondary);
	background: var(--themed-navbar-secondary);
	margin: 0;
}
.nav-btn-row .dropdown-menu {
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
}
.nav-btn-row .dropdown-item,
.col-sidebar-subheader .dropdown-item {
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn);
	font-weight: normal;
	padding: 0.25rem 0.75rem;
	line-height: 1.8;
	border-bottom: var(--1px-dark);
	transition: all 0.2s ease-in-out;
}
.nav-btn-row .dropdown-item {
	padding: 0.25rem 0.5rem;
}
.nav-btn-row .dropdown-item:last-child,
.col-sidebar-subheader .dropdown-item:last-child {
	border-bottom: 0 none;
}
.nav-btn-row .dropdown-item:hover,
.col-sidebar-subheader .dropdown-item:hover {
	color: var(--themed-nav-btn-text);
	background: var(--themed-nav-btn-hover);
}
