.mediacenterheader {
  position: relative;
  top: unset;
  z-index: unset;
}
#header .z-n1 {
  z-index: 0 !important;
}
.login-area .loginbox {
  max-width: 100%;
}
.bi {
  transform: scale(1);
}
.sidebar-togglers-bar {
  width: 100%;
  height: 32px;
  flex-direction: row;
  bottom: 0;
  top: auto;
}
#header {
  min-width: auto;
  padding: 0.5rem;
}
#header .nav-btn-row a:not(.account-btn) {
  display: none;
}
.em .dropdown-toggle-btn {
  margin-left: 0;
  height: 38px;
}
#header .logocontainer {
  height: 60px;
  max-width: 100px;
  --themed-logo-width: auto;
  --themed-logo-height: 52px;
}
.logocontainer .emlogo {
  margin-left: 0;
}
.col-content-main {
  margin: 0 !important;
}
#footer {
  position: relative;
  justify-content: center;
  bottom: auto;
}
#application {
  --height-ex-hf: 100%;
  --nav-btn-height: 28px;
  padding-bottom: 0;
}
#application:has(.entityNavBarContainer) {
  --height-ex-hf: 100%;
}
#applicationcontent {
  height: 100%;
}
.heightExcludingHeaderFooter {
  height: 100%;
}
.table-autoresize-inner {
  max-height: 100%;
}
.entity-navbar li a {
  padding: 1px 8px 2px 6px;
  font-size: 0.9rem;
}
.entityNavBarContainer {
  position: relative;
  top: 0 !important;
  padding: 8px;
  height: auto;
}
.emsubnav ul.resultsnav li a.resultsnavlink {
  padding: 0 0.35rem;
}
.filters-container {
  height: auto;
  padding: 0 8px;
}
.search-entity-dropdown {
  display: none;
}
.firstheader input[type="checkbox"],
.selectionbox.resultsselection {
  transform: scale(1);
}
.emfolder-inner::before,
.emfolder-wrapper.compact .emfolder-inner::before {
  display: none !important;
}
.emfolder-wrapper::before,
.emfolder-wrapper.compact::before,
.emfolder-text,
.emfolder-wrapper::after,
.emfolder-wrapper.compact::after {
  display: none !important;
}
.emfolder-wrapper,
.emfolder-wrapper.compact {
  height: auto;
}
.emfolder-wrapper.compact .emfolder-inner {
  width: 80px;
  height: 45px;
  border-radius: 4px;
  margin: 0 auto;
}
td.resultstablecell.resultstablecol-primarymedia,
td.resultstablecell.resultstablecol-primaryimage,
.emfolder-wrapper.compact,
.emgridcell {
  width: 100px !important;
}
.resultstablecell .small-thumb-container {
  padding: 5px;
}
td.resultstablecell > div.overflow-y {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
td.resultstablecell {
  min-width: 110px;
}
.mbl-hideexcept > *:not(.mbl-except),
.mbl-hidden {
  display: none !important;
}
.modal-lg:has(.entitydialog) {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.bi.mr-1:has(~ .mbl-hidden) {
  margin-left: 0.25rem;
}
.lightbox-header {
  font-size: 1rem;
}
.drawer {
  position: fixed;
  bottom: 0;
  z-index: 100500;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* visibility: hidden; */
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}
.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.drawer-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
.drawer-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.drawer-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}
.drawer-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}
.drawer.open {
  transform: none;
}
.drawer.open .drawer-start {
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.drawer .btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  backdrop-filter: blur(10px);
  opacity: 0.5;
}
.entity-navigation {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.lightbox-header {
  padding: 4px;
}
.lightbox-header .emdrawer {
  border-right: var(--1px-light);
}
