/*Color*/
:root {
	--primary-color-black: #202835;
  --primary-color-dark: #333e55;
  --primary-color-normal: #4d5d80;
  --primary-color-light: #5f739e;
  --accent-color-dark: #1174d4;
  --accent-color-normal: #3884fd;
  --action-color-dark: #0e2f50;
  --action-color-enabled: #378637;

	#if($theme.get("sidebar-bg"))
		--themed-sidebar-bg: $theme.get("sidebar-bg");
	#end

	#if($theme.get("sidebar-text"))
		--themed-sidebar-text: $theme.get("sidebar-text");
	#end

  #if($theme.get("navbar-text"))
    --themed-navbar-text: $theme.get("navbar-text");
  #end

  #if($theme.get("navbar-primary"))
    --themed-navbar-primary: $theme.get("navbar-primary");
  #end

  #if($theme.get("navbar-secondary"))
    --themed-navbar-secondary: $theme.get("navbar-secondary");
  #end

  #if($theme.get("nav-btn"))
    --themed-nav-btn: $theme.get("nav-btn");
  #end

  #if($theme.get("nav-btn-hover"))
    --themed-nav-btn-hover: $theme.get("nav-btn-hover");
	#end
	
  #if($theme.get("nav-btn-text"))
    --themed-nav-btn-text: $theme.get("nav-btn-text");
	#end

	#if($theme.get("nav-btn-active"))
    --themed-nav-btn-active: $theme.get("nav-btn-active");
  #end

  #if($theme.get("nav-btn-active-hover"))
    --themed-nav-btn-hover: $theme.get("nav-btn-active-hover");
	#end
	
  #if($theme.get("nav-btn-active-text"))
    --themed-nav-btn-active-text: $theme.get("nav-btn-active-text");
	#end

	#if($theme.get("btn"))
    --themed-btn: $theme.get("btn");
  #end

  #if($theme.get("btn-hover"))
    --themed-btn-hover: $theme.get("btn-hover");
	#end
	
  #if($theme.get("btn-text"))
    --themed-btn-text: $theme.get("btn-text");
	#end

	#if($theme.get("btn-sec"))
		--themed-btn-sec: $theme.get("btn-sec");
	#end

	#if($theme.get("btn-sec-hover"))
		--themed-btn-sec-hover: $theme.get("btn-sec-hover");
	#end

	#if($theme.get("btn-sec-text"))
		--themed-btn-sec-text: $theme.get("btn-sec-text");
	#end

	#if($theme.get("btn-acc-active"))
		--themed-btn-acc-active: $theme.get("btn-acc-active");
	#end

	#if($theme.get("btn-acc"))
		--themed-btn-acc: $theme.get("btn-acc");
	#end

	#if($theme.get("btn-acc-hover"))
		--themed-btn-acc-hover: $theme.get("btn-acc-hover");
	#end

	#if($theme.get("btn-acc-text"))
		--themed-btn-acc-text: $theme.get("btn-acc-text");
	#end

	#if($theme.get("th"))
    --themed-th: $theme.get("th");
	#end

	#if($theme.get("th-hover"))
    --themed-th-hover: $theme.get("th-hover");
	#end

	#if($theme.get("th-text"))
    --themed-th-text: $theme.get("th-text");
	#end
	
	#if($theme.get("td"))
    --themed-td: $theme.get("td");
	#end
	
	#if($theme.get("td-stripe"))
	--themed-td-stripe: $theme.get("td-stripe");
	#end
	
	#if($theme.get("td-text"))
    --themed-td-text: $theme.get("td-text");
	#end
	
}



#set( $apphome = $context.findValue("applicationid") )
#set( $apphome = "/${apphome}" )
#embody {
	#set($color1 = "")
	#set($color2 = "")
#if($theme.bodybackgroundcolor)
	background: $theme.bodybackgroundcolor;
#else
	#if( ${theme.tileupload})
		#set($asset = $mediaarchive.getAsset(${theme.tileupload}))
		#set( $originalpath = $mediaarchive.asLinkToOriginal($asset) )
    #set ($backgroundpath = "$siteroot$apphome/views/modules/asset/downloads/originals/$originalpath")
	#else
		#set($backgroundpath = $theme.backgroundpath)
	#end
	#if(!$backgroundpath && $theme.backgroundstyle)
		#set($backgroundpath = "/${content.applicationid}/theme/images/backgrounds/${theme.backgroundstyle}" )
	#end
	#if($backgroundpath)
		background-image: url('$backgroundpath');
		#if($theme.backgroundtile == "true")
			background-repeat:repeat;
		#else
		background-position:center top;
		background-repeat: no-repeat;
		background-size: 100%;		
		#end
	#end

#end

}

#header {
	#if($theme.disableshadows == "true")
		box-shadow: none;
	#end

	#set($color1 = $theme.headercolor)
	#set($color2 = $theme.headercolorgradient)
	#if ($color1)
		background: $color1; /* Old browsers */ 
	#end
	#if($color1 && $color2)
		background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
		background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
	#end
	#set($color1 = "")
	#set($color2 = "")
}



#header .header-text{
position: relative;
#if ($theme.headerfont)
	font-family: $theme.headerfont;
#end
#if ($theme.headerfontcolor)
	color: ${theme.headerfontcolor};
#end
#if($theme.headerfontsize)
	font-size: ${theme.headerfontsize}px;
#end
#if($theme.headerfontopacity)
	opacity: ${theme.headerfontopacity};
#end

}



.entityNavBarContainer {
	#if( ${theme.navbackgroundpath})
		background: url('$theme.navbackgroundpath');
	#else
		#set($color1 = $theme.navcolor)
		#set($color2 = $theme.navcolorgradient)
		#if($color1)
			background:none;
			background-color: $color1;
			border-bottom: 1px solid $color1;
		#end
		#if($color1 && $color2)
			background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
			background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
			border-bottom: 1px solid $color2;
		#end
	
		#set($color1 = "")
		#set($color2 = "")
		
	#end;
}

@media (max-width: 768px) {
	.navbar-quicksearch {
		#if( ${theme.navbackgroundpath})
			background: url('$theme.navbackgroundpath');
		#else
			
			#set($color1 = $theme.navcolor)
			#set($color2 = $theme.navcolorgradient)
			
			#if ($color1 && $color2=="")
				background: $color1; /* Old browsers */ 
			#end
		
			#if($color1 && $color2)
				background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
				background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
			#end
		
			#set($color1 = "")
			#set($color2 = "")
	  #end										
	}
	
}

/*EMNav Tabs*/
.emnav .navtabs .navtabitem,
#header .navbar-toggler  {
	#set($color1 = $theme.navbuttoncolor)
	#set($color2 = $theme.navbuttoncolorgradient)
	#if ($color1)
		background-color: $color1; /* Old browsers */
	#end
	#if($color1 && $color2)
		background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE1ta0+ */
		background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
	#end
	#if ( $theme.navfont )
		font-family: $theme.navfont;
	#end
	#if( $theme.navfontsize )
		font-size: ${theme.navfontsize}px;
	#end
	#if( $theme.navbuttontext )
		color: ${theme.navbuttontext};
	#end
	#if($theme.navfontopacity)
		opacity: ${theme.navfontopacity};
	#end
	#if($theme.disableshadows == "true")
		box-shadow: none;
	#else
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);
	#end
	#if( $theme.navbuttonbordercolor )
		border:1px solid $theme.navbuttonbordercolor;
		border-bottom:0 none;
	#end
	#if($theme.disableshadows == "false")
		box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
	#end
	
	#set($color1 = "")
	#set($color2 = "")
}


/*emnav Tabs Hover*/
.emnav .navtabitem:hover {
	#set($color1 = $theme.navbuttonhovercolor)
	#set($color2 = $theme.navbuttonhovercolorgradient)
	
	#if ($color1)
		background:none;
		background-color: $color1; /* Old browsers */ 
	#end
	#if($color1 && $color2)
		background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
		background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
	#end
	#if( $theme.navbuttonhoverbordercolor )
		border-color: $theme.navbuttonhoverbordercolor;
	#end
	#if ( $theme.navhoverfont )
		font-family: $theme.navhoverfont;
	#end
	#if( $theme.navhoverfontsize )
		font-size: ${theme.navhoverfontsize}px;
	#end
	#if( $theme.navbuttontexthover )
		color: ${theme.navbuttontexthover};
	#end
	#if($theme.navhoverfontopacity)
		opacity: ${theme.navhoverfontopacity};
	#end
	
	#set($color1 = "")
	#set($color2 = "")
}
#if($theme.navfontcolor)
.nav-collectionsearch {
	color:$theme.navfontcolor;
}
.nav-collectionsearch:hover {
	color:$theme.navfontcolor;
}

#end

#if ($theme.navlinksbackgroundcolor)
	#header .navlinks,
	#header .dropdown-menu {
		background-color: $theme.navlinksbackgroundcolor;
	}
	#header .navlinks .dropdown-item {
		background-color: $theme.navlinksbackgroundcolor;
	}
#end
#if ($theme.navlinkfontcolor)
	#header .navlinks li>a,
	#header .navlinks .dropdown-item {
    	color:$theme.navlinkfontcolor;
    	background-color: $theme.navlinksbackgroundcolor;
	}
#end
#if ($theme.navlinkfontcolorhover)
	#header .navlinks li a:hover {
    	color:$theme.navlinkfontcolorhover;
	}
#end

#if($theme.backgroundoppacity)
	#emcontent {
		opacity: $theme.backgroundoppacity;
	}
#end


#if ($theme.sidebarheaderbackground) 
.emsubnav .nav-btn, 
.col-sidebar-header h2,
.col-sidebar-header h2 a,
.emnotify {
	background-color:$theme.sidebarheaderbackground;
	color:$theme.sidebarheadercolor;
} 
#end
#if ($theme.sidebarheaderbackgroundhover) 
.emsubnav .nav-btn:hover,  
.col-sidebar-header h2:hover,
.col-sidebar-header h2:hover a  {
	background-color:$theme.sidebarheaderbackgroundhover;
	#if ($theme.sidebarheadercolorhover)
		color:$theme.sidebarheadercolorhover;
	#end
} 
#end


#if ($theme.badgetagsbackground) 
.badge-tags {
	background-color:$theme.badgetagsbackground;
	color:$theme.badgetagscolor;
} 
#end
#if ($theme.badgetagsbackgroundhover) 
.badge-tags:hover  {
	background-color:$theme.badgetagsbackgroundhover;
	color:$theme.badgetagscolorhover;
} 
#end


#if ($theme.badgecategoriesbackground) 
.badge-categories {
	background-color:$theme.badgecategoriesbackground;
	color:$theme.badgecategoriescolor;
} 
#end
#if ($theme.badgecategoriesbackgroundhover) 
.badge-categories:hover  {
	background-color:$theme.badgecategoriesbackgroundhover;
	color:$theme.badgecategoriescolorhover;
} 
#end

.search-list li.current a.search-href, .sidebar-list li.current a {
#if ($theme.settingsmenuselectioncolor)
background: $theme.settingsmenuselectioncolor;
#end
#if ($theme.settingsmenuselectioncolortext)
color: $theme.settingsmenuselectioncolortext
#end
}