/*Color*/
#macro(checkval $val1 $val2)#ifnull($val1)#set($val1=$val2)#end$val1#end

:root {
	--primary-color-black: #202835;
  --primary-color-dark: #333e55;
  --primary-color-normal: #4d5d80;
  --primary-color-light: #5f739e;
  --accent-color-dark: #1174d4;
  --accent-color-normal: #3884fd;
  --action-color-dark: #0e2f50;
  --action-color-enabled: #378637;

	--themed-sidebar:#checkval($theme.get("sidebar"), "#151515");
	--themed-sidebar-text:#checkval($theme.get("sidebar-text"), "#FFFFFF");
	--themed-navbar-primary:#checkval($theme.get("navbar-primary"), "#252525");
	--themed-navbar-primary-text:#checkval($theme.get("navbar-primary-text"), "#FFFFFF");
	--themed-navbar-secondary:#checkval($theme.get("navbar-secondary"), "#444444");
	--themed-navbar-secondary-text:#checkval($theme.get("navbar-secondary-text"), "#FFFFFF");
	--themed-nav-btn:#checkval($theme.get("nav-btn"), "#444444");
	--themed-nav-btn-hover:#checkval($theme.get("nav-btn-hover"), "#5E5E5E");
	--themed-nav-btn-text:#checkval($theme.get("nav-btn-text"), "#FFFFFF");
	--themed-nav-btn-active:#checkval($theme.get("nav-btn-active"), "#FFFFFF");
	--themed-nav-btn-active-hover:#checkval($theme.get("nav-btn-active-hover"), "#E6E6E6");
	--themed-nav-btn-active-text:#checkval($theme.get("nav-btn-active-text"), "#444444");
	--themed-tab-bar:#checkval($theme.get("tab-bar"), "#444444");
	--themed-tab-btn-hover:#checkval($theme.get("tab-btn-hover"), "#5E5E5E");
	--themed-tab-btn:#checkval($theme.get("tab-btn"), "#444444");
	--themed-tab-btn-text:#checkval($theme.get("tab-btn-text"), "#ffffff");
	--themed-tab-btn-hover:#checkval($theme.get("tab-btn-hover"), "#A1A1A1");
	--themed-tab-btn-active:#checkval($theme.get("tab-btn-active"), "#FFFFFF");
	--themed-tab-btn-active-text:#checkval($theme.get("tab-btn-active-text"), "#444444");
	--themed-tab-btn-active-hover:#checkval($theme.get("tab-btn-active-hover"), "#A1A1A1");
	--themed-btn:#checkval($theme.get("btn"), "#444444");
	--themed-btn-hover:#checkval($theme.get("btn-hover"), "#666666");
	--themed-btn-text:#checkval($theme.get("btn-text"), "#FFFFFF");
	--themed-btn-sec:#checkval($theme.get("btn-sec"), "#888888");
	--themed-btn-sec-hover:#checkval($theme.get("btn-sec-hover"), "#A1A1A1");
	--themed-btn-sec-text:#checkval($theme.get("btn-sec-text"), "#FFFFFF");
	--themed-btn-acc-active:#checkval($theme.get("btn-acc-active"), "#378637");
	--themed-btn-acc:#checkval($theme.get("btn-acc"), "#3884FD");
	--themed-btn-acc-hover:#checkval($theme.get("btn-acc-hover"), "#6DA4FE");
	--themed-btn-acc-text:#checkval($theme.get("btn-acc-text"), "#FFFFFF");
	--themed-th:#checkval($theme.get("th"), "#FFFFFF");
	--themed-th-hover:#checkval($theme.get("th-hover"), "#E6E6E6");
	--themed-th-text:#checkval($theme.get("th-text"), "#444444");
	--themed-td:#checkval($theme.get("td"), "#FFFFFF");
	--themed-td-stripe:#checkval($theme.get("td-stripe"), "#F2F2F2");
	--themed-td-text:#checkval($theme.get("td-text"), "#444444");
	--themed-footer:#checkval($theme.get("footer"), "#151515");
	--themed-footer-text:#checkval($theme.get("footer-text"), "#888888");
}



#set( $apphome = $context.findValue("applicationid") )
#set( $apphome = "/${apphome}" )
#embody {
	#set($color1 = "")
	#set($color2 = "")
#if($theme.bodybackgroundcolor)
	background: $theme.bodybackgroundcolor;
#else
	#if( ${theme.tileupload})
		#set($asset = $mediaarchive.getAsset(${theme.tileupload}))
		#set( $originalpath = $mediaarchive.asLinkToOriginal($asset) )
    #set ($backgroundpath = "$siteroot$apphome/views/modules/asset/downloads/originals/$originalpath")
	#else
		#set($backgroundpath = $theme.backgroundpath)
	#end
	#if(!$backgroundpath && $theme.backgroundstyle)
		#set($backgroundpath = "/${content.applicationid}/theme/images/backgrounds/${theme.backgroundstyle}" )
	#end
	#if($backgroundpath)
		background-image: url('$backgroundpath');
		#if($theme.backgroundtile == "true")
			background-repeat:repeat;
		#else
		background-position:center top;
		background-repeat: no-repeat;
		background-size: 100%;		
		#end
	#end

#end

}

#header {
	#if($theme.disableshadows == "true")
		box-shadow: none;
	#end

	#set($color1 = $theme.headercolor)
	#set($color2 = $theme.headercolorgradient)
	#if ($color1)
		background: $color1; /* Old browsers */ 
	#end
	#if($color1 && $color2)
		background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
		background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
	#end
	#set($color1 = "")
	#set($color2 = "")
}



#header .header-text{
position: relative;
#if ($theme.headerfont)
	font-family: $theme.headerfont;
#end
#if ($theme.headerfontcolor)
	color: ${theme.headerfontcolor};
#end
#if($theme.headerfontsize)
	font-size: ${theme.headerfontsize}px;
#end
#if($theme.headerfontopacity)
	opacity: ${theme.headerfontopacity};
#end

}



.entityNavBarContainer {
	#if( ${theme.navbackgroundpath})
		background: url('$theme.navbackgroundpath');
	#else
		#set($color1 = $theme.navcolor)
		#set($color2 = $theme.navcolorgradient)
		#if($color1)
			background:none;
			background-color: $color1;
			border-bottom: 1px solid $color1;
		#end
		#if($color1 && $color2)
			background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
			background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
			border-bottom: 1px solid $color2;
		#end
	
		#set($color1 = "")
		#set($color2 = "")
		
	#end;
}

@media (max-width: 768px) {
	.navbar-quicksearch {
		#if( ${theme.navbackgroundpath})
			background: url('$theme.navbackgroundpath');
		#else
			
			#set($color1 = $theme.navcolor)
			#set($color2 = $theme.navcolorgradient)
			
			#if ($color1 && $color2=="")
				background: $color1; /* Old browsers */ 
			#end
		
			#if($color1 && $color2)
				background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
				background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
			#end
		
			#set($color1 = "")
			#set($color2 = "")
	  #end										
	}
	
}

/*EMNav Tabs*/
.emnav .navtabs .navtabitem,
#header .navbar-toggler  {
	#set($color1 = $theme.navbuttoncolor)
	#set($color2 = $theme.navbuttoncolorgradient)
	#if ($color1)
		background-color: $color1; /* Old browsers */
	#end
	#if($color1 && $color2)
		background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE1ta0+ */
		background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
	#end
	#if ( $theme.navfont )
		font-family: $theme.navfont;
	#end
	#if( $theme.navfontsize )
		font-size: ${theme.navfontsize}px;
	#end
	#if( $theme.navbuttontext )
		color: ${theme.navbuttontext};
	#end
	#if($theme.navfontopacity)
		opacity: ${theme.navfontopacity};
	#end
	#if($theme.disableshadows == "true")
		box-shadow: none;
	#else
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);
	#end
	#if( $theme.navbuttonbordercolor )
		border:1px solid $theme.navbuttonbordercolor;
		border-bottom:0 none;
	#end
	#if($theme.disableshadows == "false")
		box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
	#end
	
	#set($color1 = "")
	#set($color2 = "")
}


/*emnav Tabs Hover*/
.emnav .navtabitem:hover {
	#set($color1 = $theme.navbuttonhovercolor)
	#set($color2 = $theme.navbuttonhovercolorgradient)
	
	#if ($color1)
		background:none;
		background-color: $color1; /* Old browsers */ 
	#end
	#if($color1 && $color2)
		background: -moz-linear-gradient(top, $color1 0%, $color2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $color1 0%,$color2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $color1 0%,$color2 100%); /* IE10+ */
		background: linear-gradient(top, $color1 0%,$color2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
	#end
	#if( $theme.navbuttonhoverbordercolor )
		border-color: $theme.navbuttonhoverbordercolor;
	#end
	#if ( $theme.navhoverfont )
		font-family: $theme.navhoverfont;
	#end
	#if( $theme.navhoverfontsize )
		font-size: ${theme.navhoverfontsize}px;
	#end
	#if( $theme.navbuttontexthover )
		color: ${theme.navbuttontexthover};
	#end
	#if($theme.navhoverfontopacity)
		opacity: ${theme.navhoverfontopacity};
	#end
	
	#set($color1 = "")
	#set($color2 = "")
}
#if($theme.navfontcolor)
.nav-collectionsearch {
	color:$theme.navfontcolor;
}
.nav-collectionsearch:hover {
	color:$theme.navfontcolor;
}

#end

#if ($theme.navlinksbackgroundcolor)
	#header .navlinks,
	#header .dropdown-menu {
		background-color: $theme.navlinksbackgroundcolor;
	}
	#header .navlinks .dropdown-item {
		background-color: $theme.navlinksbackgroundcolor;
	}
#end
#if ($theme.navlinkfontcolor)
	#header .navlinks li>a,
	#header .navlinks .dropdown-item {
    	color:$theme.navlinkfontcolor;
    	background-color: $theme.navlinksbackgroundcolor;
	}
#end
#if ($theme.navlinkfontcolorhover)
	#header .navlinks li a:hover {
    	color:$theme.navlinkfontcolorhover;
	}
#end

#if($theme.backgroundoppacity)
	#emcontent {
		opacity: $theme.backgroundoppacity;
	}
#end


#if ($theme.sidebarheaderbackground) 
.emsubnav .nav-btn, 
.col-sidebar-header h2,
.col-sidebar-header h2 a,
.emnotify {
	background-color:$theme.sidebarheaderbackground;
	color:$theme.sidebarheadercolor;
} 
#end
#if ($theme.sidebarheaderbackgroundhover) 
.emsubnav .nav-btn:hover,  
.col-sidebar-header h2:hover,
.col-sidebar-header h2:hover a  {
	background-color:$theme.sidebarheaderbackgroundhover;
	#if ($theme.sidebarheadercolorhover)
		color:$theme.sidebarheadercolorhover;
	#end
} 
#end


#if ($theme.badgetagsbackground) 
.badge-tags {
	background-color:$theme.badgetagsbackground;
	color:$theme.badgetagscolor;
} 
#end
#if ($theme.badgetagsbackgroundhover) 
.badge-tags:hover  {
	background-color:$theme.badgetagsbackgroundhover;
	color:$theme.badgetagscolorhover;
} 
#end


#if ($theme.badgecategoriesbackground) 
.badge-categories {
	background-color:$theme.badgecategoriesbackground;
	color:$theme.badgecategoriescolor;
} 
#end
#if ($theme.badgecategoriesbackgroundhover) 
.badge-categories:hover  {
	background-color:$theme.badgecategoriesbackgroundhover;
	color:$theme.badgecategoriescolorhover;
} 
#end

.search-list li.current a.search-href, .sidebar-list li.current a {
#if ($theme.settingsmenuselectioncolor)
background: $theme.settingsmenuselectioncolor;
#end
#if ($theme.settingsmenuselectioncolortext)
color: $theme.settingsmenuselectioncolortext
#end
}