
##<textarea name="${detail.getId()}.value" id="${detail.getId()}" cols="40" rows="5" 
## class="#if($detail.isRequired() && !$multiedit) required #end htmleditor form-control">$!val</textarea>


<div style="width:100%;min-height:300px;border: 1px solid #cbd3d5;background:white;" 
	class="  oehtmlinput attachtext-textbox #if($detail.isRequired() && !$multiedit) required #end" 
	data-saveto="html${detail.getId()}value"
	data-placeholder=""
	>$!val</div>
	
<input id="html${detail.getId()}value" name="${detail.getId()}.value" type="hidden" value="#esc($val)" />
