@font-face {
    font-family: 'futuraextra_black';
    src: url('futura_extra_black_font-webfont.woff2') format('woff2'),
         url('futura_extra_black_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurabold';
    src: url('futura_bold_font-webfont.woff2') format('woff2'),
         url('futura_bold_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuramedium';
    src: url('futura_medium_condensed_bt-webfont.woff2') format('woff2'),
         url('futura_medium_condensed_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurabook';
    src: url('futura_book_font-webfont.woff2') format('woff2'),
         url('futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuraheavy';
    src: url('futura_heavy_font-webfont.woff2') format('woff2'),
         url('futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuralight';
    src: url('futura_light_font-webfont.woff2') format('woff2'),
         url('futura_light_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuramedium';
    src: url('futura_medium_bt-webfont.woff2') format('woff2'),
         url('futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futuralight';
    src: url('futura_light_bt-webfont.woff2') format('woff2'),
         url('futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurabold';
    src: url('unicode.futurab-webfont.woff2') format('woff2'),
         url('unicode.futurab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
