<div  id="col-sidebars" >
<div class="col-main sidebar-togglers-bar">


#if( !$sidebarcomponent && $modulehits.isEmpty() )
	#set( $sidebarcomponent = "guide" ) 
#end

#set($forcedsidebarcomponent = $context.getRequestParameter("sidebarcomponent")) 
#if($forcedsidebarcomponent)
	#set( $sidebarcomponent = $forcedsidebarcomponent )
#end

	<div class="sidebar-togglers #if($sidebarcomponent == "guide") sidebar-selected #end">
	<a href="#" 
		class="sidebar-toggler sidebar-toggler-show light" 
		data-action="show" 
		data-targetdiv="col-sidebars"
		data-sidebar="guide"
		data-modulesearchhitssessionid="$modulehits.sessionId"
	title="[[Guide]]">
	<i class="fas fa-question-circle"></i> 
	</a>
	</div>


	<div class="sidebar-togglers #if($sidebarcomponent == "filters") sidebar-selected #end">
	<a href="#" 
		class="sidebar-toggler sidebar-toggler-show light" 
		data-action="show" 
		data-targetdiv="col-sidebars"
		data-sidebar="filters"
		data-modulesearchhitssessionid="$modulehits.sessionId"
	title="[[Search]]">
	<i class="fas fa-filter"></i>
	</a>

	</div>

	
#if( $canviewcategorynavcollections ) 	
	<div class="sidebar-togglers #if($sidebarcomponent == "topics") sidebar-selected #end">
	<a href="#" 
		class="sidebar-toggler sidebar-toggler-show light" 
		data-modulesearchhitssessionid="$modulehits.sessionId"
		data-action="show"
		data-targetdiv="col-sidebars"
		data-sidebar="topics"
	title="[[Tags]]">
	<i class="fas fa-tags"></i>
	</a>
	</div>
#end
	#if( $canviewcategorynav || ( $librarycol && $canviewcategorynavcollections ) )
		<div class="sidebar-togglers #if($sidebarcomponent == "categories") sidebar-selected #end">
		<a href="#" 
			class="sidebar-toggler sidebar-toggler-show light" 
			data-action="show" 
			data-targetdiv="col-sidebars"
			data-sidebar="categories"
			data-modulesearchhitssessionid="$modulehits.sessionId"
		title="[[Show Categories]]">
		<i class="fas fa-folder"></i>
		</a>
		</div>
	#end
 	
##	<!-- #if($desktop)
##		<div class="sidebar-togglers #if($sidebarcomponent == "localcategories") sidebar-selected #end">
##		<a href="#" 
##			class="sidebar-toggler sidebar-toggler-show light" 
##			data-action="show" 
##			data-targetdiv="col-sidebars"
##			data-sidebar="localcategories"
##			data-modulesearchhitssessionid="$modulehits.sessionId"
##		title="[[Show My Computer]]">
##		<i class="fas fa-laptop-house"></i>
##		</a>
##		</div>
##	#end -->
	
#if( $usercollections && !$usercollections.isEmpty() )
	<div class="sidebar-togglers #if($sidebarcomponent == "libraries") sidebar-selected #end">
	<a href="#" 
		class="sidebar-toggler sidebar-toggler-show light" 
		data-action="show" 
		data-targetdiv="col-sidebars"
		data-sidebar="libraries"
		data-modulesearchhitssessionid="$modulehits.sessionId"
	title="[[Recent Albums]]">
	<i class="fas fa-grip-horizontal"></i>
	</a>
	</div>
#end
	
##	
##	<!-- <div class="sidebar-togglers #if($sidebarcomponent == "faceprofiles") sidebar-selected #end">
##	<a href="#" 
##		class="sidebar-toggler sidebar-toggler-show light" 
##		data-modulesearchhitssessionid="$modulehits.sessionId"
##		data-action="show"
##		data-targetdiv="col-sidebars"
##		data-sidebar="faceprofiles"
##	title="[[Facial Recognition]]">
##	<i class="fas fa-portrait"></i>
##	</a>
##	</div> -->


	<div class="sidebar-togglers #if($sidebarcomponent == "userdownloads") sidebar-selected #end">
	<a href="#" 
		class="sidebar-toggler sidebar-toggler-show light" 
		data-action="show" 
		data-targetdiv="col-sidebars"
		data-sidebar="userdownloads"
		data-modulesearchhitssessionid="$modulehits.sessionId"
	title="[[Recent Files]]">	
	<div class="downloadsUpdateWrapper">
		<div class="downloadsUpdate">
			#if($user && $sidebarcomponent != "userdownloads")
				#set($recentdownloads = $mediaarchive.query("userdownloads").exact("user",$user.getId()).sort("dateDown").search($context))
				$recentdownloads.size()
			#end
		</div>
	</div>
	<i class="fas fa-history"></i>
	</a>
	</div>


#if( $userprofile.getModules().size() > 1 )
	#set( $urlbase = "$siteroot$applink/views/modules" )


	<div class="sidebar-togglers #if($sidebarcomponent == "addentity") sidebar-selected #end">
	<a href="#" 
		class="ajax sidebar-toggler sidebar-toggler-show light" 
		data-modulesearchhitssessionid="$modulehits.sessionId"
		data-action="show"
		data-targetdiv="col-sidebars"
		data-sidebar="addentity"
	title="[[Database]]">
	<i class="fas fa-database"></i>
	</a>
	</div>
#end

	#if( $canviewsettings ) 
		<div class="sidebar-togglers #if($sidebarcomponent == "settings") sidebar-selected #end">
		<a href="#" 
			class="sidebar-toggler sidebar-toggler-show light" 
			data-action="show" 
			data-targetdiv="col-sidebars"
			data-sidebar="settings"
			data-modulesearchhitssessionid="$modulehits.sessionId"
		title="[[Settings]]">
		<i class="fas fa-cog"></i>
		</a>
		</div>
	#end
	

</div>
#if($sidebarcomponent)
	#if($sidebarcomponent == "libraries" )
		#set($sidebarurl = "$apphome/components/sidebars/libraries/index.html")
	#end

	#if($sidebarcomponent == "guide" )
		#set($sidebarurl = "$apphome/components/sidebars/guide/index.html")
	#end

	
	#if($sidebarcomponent == "filters" )
		#set($sidebarurl = "$apphome/components/sidebars/filters/index.html")
	#end
	
	#if($sidebarcomponent == "topics" )
		#set($sidebarurl = "$apphome/components/sidebars/tags/index.html")
	#end
	
	#if($sidebarcomponent == "faceprofiles" )
		#set($sidebarurl = "$apphome/components/sidebars/faceprofiles/index.html")
	#end
	
	#if($sidebarcomponent == "favorites" )
		#set($sidebarurl = "$applink/views/modules/modulesearch/favorites.html?clearselection=true&clearfilters=true")
	#end
	
	
	#if($sidebarcomponent == "categories" )
		#if( $canviewcategorynav || ( $librarycol && $canviewcategorynavcollections ) )
			#set($sidebarurl = "$apphome/components/sidebars/categories/index.html")
		#end
	#end
	
	#if($sidebarcomponent == "localcategories" )   
		#if( $canviewcategorynav)
			#set($sidebarurl = "$apphome/components/sidebars/localcategories/index.html")
		#end
	#end

	#if($sidebarcomponent == "addentity" )
		#set($sidebarurl = "$apphome/components/sidebars/addentity/index.html?selectedmodule=$!module.id")
	#end

	#if($sidebarcomponent == "userdownloads" )
		#set($sidebarurl = "$apphome/components/sidebars/userdownloads/index.html")
	#end
	
	#if($sidebarcomponent == "settings" )
		#set($sidebarurl = "$apphome/components/sidebars/settings/index.html")
	#end


	##SIDEBAR WIDTH
	
	#set( $sidebarwidth = $userprofile.get("sidebarwidth"))

	#if($sidebarurl)
		#if($sidebarwidth=='' || $sidebarwidth=='undefined')
			#set($sidebarwidth = 280)
	#end
	
	
	<div class="col-main col-mainsidebar #if($sidebarwidth && $sidebarwidth>320)sidebarwide #end"   
	 style="#if($sidebarwidth) width:${sidebarwidth}px;#end"
	 data-sidebarwidth="$!sidebarwidth">
	<div id="col-$sidebarcomponent" 
	 class="col-main col-left col-$sidebarcomponent">
	 	<div class="col-main-inner">
		$pages.include($sidebarurl, $context)
		<div class="colslidercontainer">
			<a href="#" class="col-resize" title="[[Resize Sidebar]]"></a>
		</div>
		</div>
	</div>
	</div>
	#end
	
#end

</div>

