#if($hit)
	#set($entity = $hit)
	#set($entityid = $entity.id)
	#if($rendermoduleid)
		#set($moduleid = $rendermoduleid)
	#else
		#set($moduleid = $module.id)
	#end
#else
	#if(!$moduleid)
		#set($moduleid = $context.getRequestParameter("moduleid"))
	#end
	#if(!$entityid)
		#set($entityid = $context.getRequestParameter("entityid"))
	#end
	#if($moduleid && $entityid)
		#set($entity = $mediaarchive.getCachedData($moduleid, $entityid))
	#end
#end

#set($module = $mediaarchive.getCachedData("module", $moduleid))

$context.putPageValue("entityid", $entityid)
$context.putPageValue("moduleid", $moduleid)



#set($previewurl = "$!{siteroot}$apphome/views/modules/$!moduleid/components/gridsample/preview/entity.html?id=$entityid&hitssessionid=$!hits.sessionId")
$context.putPageValue("previewurl", $previewurl)

<div class="emgrid-content emgrid-type-$!moduleid entitycontainer entity$!moduleid$!entityid" 
	 id="emgridentity$!moduleid$!entityid"
		data-id="${entityid}"
   	 	data-moduleid="$!moduleid"
   	 	data-rendertype="entity">
   	 <div class="emgrid-entityheader">
   	 
   	 <h3>
   	 <a href="$previewurl" 
   	 	class="emdialog entity-dialog emgridresulttitle" 
   	 	data-hidefooter="true" 
   	 	data-hideheader="true"
   	 	id="clickid${entityid}"  
   	 	data-id="${entityid}"
   	 	data-moduleid="$!moduleid"
   	 	title="#text($!entity.name)">
   	 	#set($moduleicon = "entity")
    	#if ($module.moduleicon)
    		#set($moduleicon = $module.moduleicon)
    	#end
    	<img src="$siteroot$apphome/theme/images/entity/${moduleicon}.svg" style="height: 22px; float:left;"> 
   	 
   	 	##$!hits.highlight($hit,"name")
   	 	<span>#text($!entity)</span>
   	 	</a>
   	 	<div style="float:right; padding:4px 2px;">	 	
   	 		<div class="emgrid-moredetailsright">
 				$pages.include("$componenthome/gridsample/favorites.html?id=$hit.id&searchtype=$moduleid", $context)
			</div>
   	 	</div>
   	 </h3>
       	<div class="clearfix"></div>
 	 </div>
   	 
   	 
   	 	##check for view
		#set($viewid = "${moduleid}gridfields")
		#set($view = "$moduleid/$viewid")

		#if( $context.getUserProfile() )
			#set($searcher = $searcherManager.getSearcher($catalogid,$moduleid))
			#set ($details = $searcher.getDetailsForView($view, $context.getUserProfile()))
			
		#else
			#set ($details = $searcher.getDetailsForView($view))
			
		#end
	
		
		$context.putPageValue("details", $details)
		
		##look for primaryimage
		#foreach( $detail in $details )
		
			#if($detail.getId() == "primaryimage")
				#set( $primaryasset = $mediaarchive.getAsset($entity.primaryimage))
				$context.putPageValue("primaryasset", $primaryasset)
			#end
		#end
		
   	
		<div class="emgrid-entitydata #ifnull($primaryasset) emgrid-entitydata-full #end">
			$context.putPageValue("searchtype", $moduleid)
			$context.putPageValue("data", $entity)
			
	      	$pages.include("$componenthome/gridsample/types/fields.html",$context)
	    </div>
    
	   	#set($assetsshown = 1)
	    $context.putPageValue("viewer", "e_m_g_${entity.id}")
		
       #ifnotnull($primaryasset)
       <div class="emgrid-entitymedia assetdropentity"
       		id="attachedmedia$entityid" 
       		data-moduleid="$moduleid" 
       		data-entityid="$entityid" 
       		data-assetsshown="$assetsshown"
       		data-attachedmediaurl="$siteroot$componenthome/gridsample/types/entity.html"
       		data-targetdiv="emgridentity$!moduleid$!entityid"> 	
	        $pages.include("$componenthome/gridsample/types/attachedmedia/entity2.html", $context)
	   
	        
        <div class="clearfix"></div>
        

        </div>
        #end
      
       
       #set($defaultfolder =  $mediaarchive.getBean("entityManager").loadDefaultFolder($module, $entity, $context.getUser()))
       #if($defaultfolder.getId() != $category.getId())
		##set($sizevalues = $mediaarchive.getBean("entityManager").listTotalSize($defaultfolder.getId(),$context) )
		##set( $assetshits = $sizevalues.get("hits") )
		#ifnotnull($defaultfolder)
		<div class="grid-gallery-footer">
			   	#set($link = "$!siteroot$applink/views/modules/asset/viewfiles/${defaultfolder.id}/#dash($defaultfolder).html")
			<a href="$link" 			
				class="btn-sm btn-blue entity-add-media ajax"
				data-targetdiv="applicationcontent"
				data-sidebarcomponent="categories"
				data-updateurl="true"
				data-oemaxlevel="5"
				title="[[View Media]]">
			<i class="fas fa-images"></i> [[View Media]]</a>
		</div>
		#end
	#end
       
       
</div>


