#set($type = $hit.getSearchHit().getType())
#set( $rendertype = $mediaarchive.getMediaRenderType($hit.fileformat))
<div class="emgrid-content emgrid-type-$type emgrid-type-asset-$rendertype resultsassetcontainer">        	 
        	 <div class="emgrid-content-header">
        	 <a class="stackedplayer" data-assetid="$hit.id" href="#" title="$!hit.name">
        	 <h3>
        	 #if($rendertype == "image")
        	 <i class="fas fa-image"></i>
        	 #elseif($rendertype == "video")
        	 <i class="fas fa-play"></i>
        	 #elseif($rendertype == "document")
        	 	#if($hit.fileformat == "pdf")
        	 		<i class="fas fa-file-pdf"></i>
        	 	#else
        	 		<i class="fas fa-file"></i>
        	 	#end
        	 #else
        	 <i class="fas fa-file"></i>
        	 #end
        	 $!hit.name
        	 </h3> 
        	 </a>
        	 </div>
	        <div class="emgridcell-assetimage #if ($hit.keywords) emgriddcell-withkeywords #end" data-width="$!{hit.width}" data-height="$!{hit.height}">
		        $context.putPageValue("type", $rendertype)
		        #if ($rendertype == "video")
		        	#set($rendertype="videothumbnail")
		        	
		        #end
		        
		        <a class="stackedplayer" data-assetid="$hit.id" href="#" title="$!hit.name">
		        $pages.include("${searchhome}/thumbnails/${rendertype}.html", $context)
		        </a>
	        </div>

	        $pages.include("$componenthome/gridsample/tags.html",$context)
	        
	        <div class="ibmgrid-footer">
	        	<a href="" class="float-left ibmfavorite" title="[[Add to Favorites]]">
		        	<i class="bi bi-bookmark"></i>
  	        	</a>
  	        	#if( $desktop )
		        	<a href="#" class="emdesktopdownload emdownloadasset" data-assetid="$hit.id" title="[[Download]]">
		        	<i class="fas fa-download"> </i>
		        	</a>
	        	#else
		        	<a href="DownloadtoOriginal" class="emdownloadasset" data-assetid="$hit.id" title="[[Download]]">
		        	<i class="fas fa-download"> </i>
		        	</a>
	        	#end
	        </div>
	        
	        <div class="griditem-tools">
	        <input type="checkbox" class="selectionbox resultsselection" name="count" value="" data-dataid="$hit.getId()">
	        </div>
</div>