#set($selectedUser = $user)

#set ($userSearcher = $searcherManager.getSearcher($catalogid, "user"))
$context.putPageValue("searcher", $userSearcher)     
$context.putPageValue("viewid", "editmyaccount")  
$context.putPageValue("data", $selectedUser) 

   
<div class="row no-gutters">
<div class="col-5">
	<div class="pt-3 mb-4">
	<h3>[[User Profile]]</h3>
		<div class="">
		
		        <form class="ajaxform validate" id="usereditform" 
		        	data-targetdivinner="myaccountcontent" 
		        	name="usereditform"
		        	data-oemaxlevel="3"
		         	action="$home$apphome/views/myaccount/profilesave.html">
		            <input type="hidden" name="userid" value="$selectedUser.id"/>
		        
		            <input type="hidden" name="save" value="true"/>
		            <input type="hidden" name="username" value="$selectedUser.id"/> ## so the page loads after we save
		            <input type="hidden" name="method" value="edituser"/>
		                        <input type="hidden" name="oemaxlevel" value="1"/>
		            <input type="hidden" name="reloadprofile" value="true"/>
		            
		                  
						<div id="resultslist">
							<div id="default-fields">
				 				$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
								#set($groups = $user.groups)
								#if(!$groups.isEmpty())
								<div class="row no-gutters">
								<div class="col-md-12 editor-data-detail emdatafield-default">
									<div class="container-fluid">
										<div class="row">
												<div class="col-md-3 col-lg-2 col-emdatafield">
													<label class="emdatafield">
															[[Groups]]
													</label>				
												</div>
											<div class="col-md-9 col-lg-10">
												
													#foreach($group in $user.groups)
														$group<br>	
													#end
											</div>
										</div>				
									</div>
									</div>
								</div>
								#end
								
								#set ($userProfileSearcher = $searcherManager.getSearcher($catalogid, "userprofile"))
								#set ($selectedprofile = $userProfileSearcher.searchByField("id", $user.id))
								#if($selectedprofile.settingsgroup)
								<div class="row no-gutters">
									<div class="col-md-12 editor-data-detail emdatafield-default">
										<div class="container-fluid">
											<div class="row">
													<div class="col-md-3 col-lg-2 col-emdatafield">
														<label class="emdatafield">
																[[Role]]
														</label>				
													</div>
												<div class="col-md-9 col-lg-10">
														#set($role = $mediaarchive.getCachedData("settingsgroup", $selectedprofile.settingsgroup))
														#text($role)
												</div>
											</div>				
										</div>
										</div>
									</div>
								#end
							</div>
						</div>
						
						
						
					
						
					
					
					
		            
		            #if( $errors)
		                <div class="common-success">
		                    $context.getText($message)  $!errors
		                </div>
		            #end
		            <div class="" style="margin:20px 0;">
		            <a href="#" class="btn btn-sm btn-primary"  onclick="$('#usereditform').submit();" >[[Save]]</a>
		            
		            <a href="$applink/views/myaccount/setuserpassword.html" 
		            	class="btn btn-sm btn-secondary emdialog" data-hidefooter="true" >[[Change Password]]</a>
		            </div>
		        </form>
		    
		    </div>
	</div>

</div>
<div class="col-7" style="background-color:#f1f1f1;">
	<div class="pt-3 px-4 mb-4">
		$pages.include("/${applicationid}/views/myaccount/preferences/index.html")
	</div>
</div>


</div>