#set ( $username = $request.getParameter( 'username' ) )


<form method="post" name="wizard" action="$home$apphome/views/myaccount/setuserpassword-finish.html">
 <input type="hidden" name="userid" value="$user.id"/>
	<table width="50%" class="table table-striped" cellspacing="0" cellpadding="0">
	
	
			                  
	<tr>
			                    
	<td class="oedivided-box-blue" style="width:200px; padding:10px;">[[Password]]:</td>
	<td><input type="password" name="password" class="form-control"></td>
	
	
			                  
	</tr>
			                  
	<tr>
			                    
	<td class="oedivided-box-blue" style="width:200px; padding:10px;">[[Retype Password]]:</td>
	<td><input type="password" name="retypedPassword"  class="form-control"></td>
			                  
	</tr>
		
	</table>
		               	               
	<input type="hidden" name="username" value="$user.id"/> ## so the page loads after we save
	<input class="btn btn-sm btn-primary" style="margin-right:10px" value="[[Save]]" type="submit">
	<input class="btn btn-sm btn-secondary" value="[[Cancel]]" name="[[CANCEL]]" type="button" data-dismiss="modal" class="oestandard-button">
</form>
