<input type="hidden" name="itemid" value="$item.id"/>
<input type="hidden" name="field" value="status"/>
<input type="hidden" name="assetselect_$catalogid" value="${item.assetid}"/>

<tr class="assetrow" id="assetrow_${assetid}" >
	<td class="imagepad resultstablecell">
	   	#set( $sourcepath = $asset.sourcePath )
	   	$context.putPageValue("thumbsize", "thumbnail" )
	   	#set( $assetrendertype = $mediaarchive.getMediaRenderType($asset.fileformat))
	   	
		$pages.include("${searchhome}/thumbnails/${assetrendertype}.html", $context)
		<div>
			#set($details = $mediaarchive.getAssetSearcher().getDetailsForView("assetorderitems",$userprofile) )
			#foreach( $detail in $details )
				#set( $value = false )
				#set($value = $item.get($detail.id) )
				#if( !$value )
					#set($value = $asset.get($detail.id) )
				#end	
				#if( $detail.isEditable() )
					$detail.getText($context) :
					<textarea name="${item.id}.${detail.id}.value" >#if( $value )$value#end</textarea><br>
				#elseif( $value )
					$detail.getText($context) : $value<br>
				#end
			#end
		</div>
	</td>
   	<td class="resultstablecell" >
	       #set($statuslist = $searcherManager.getList($catalogid, "orderitem/approval"))
	      
	       	<select class="statusfield" name="${item.id}.status.value">
	      		 <option  value=""></option>
	      		 
	      		 #foreach($status in $statuslist)
	       	  			<option #if($item.get("status") == $status.id) selected #end value="$status.id">$status</option>
       		
			       #end
	       	</select>
	</td>
 </tr>	  

  
 
   