##this will block and will be loaded using a one time ajaxstatus reload
#if( !$desktop )
	<div id="userfiles" class="ajaxstatus" data-ajaxpath="$applink/components/sidebars/categories/userfiles.html" >
	</div>
#else
<div class="localfiles col-categories categorytree " >

<div id="side-categories" class="assetdropcategory">
    #set( $link = "$apphome/components/desktop/tree.html")
    #set( $treename = "desktopTree$hit.getId()" )
    #set( $link = "${link}?tree-name=$treename&clearselection=$clearselection&allowselections=false&editabletree=true" )
    #set( $link = "${link}&targetdiv=searchlayout&maxlevelclick=1" )
   	$pages.include($link, $context)
</div>

</div>
#end