.goals-container {

}
.goals-sidebar {
	width:100%;
	
}
.goals-content {
	margin-left:248px;
}
.goals-columns {
	padding:10px;
}

.dragoverselected
{
	border: 1px #3423e1 solid;
}

.editgoalshow
{
	display: block;
	
}
.editgoalshow:hover
{
	text-decoration:none;
}

.goals-header-actions {
	padding:8px;
	background-color: #f5f5f5;
	border-bottom:1px solid #efefef;
}

.showonhover
{
	display:none;
}
.goals-column-container {
	float:left;
	width:20%;
}
.goals-column {
	border: 1px solid #d1d1d1;
	background-color:#fcfcfc; 
	margin:0 10px 0 0;
	min-height:700px
}
.goals-column-header {
	padding:3px 4px;
	color:#666;
	background-color:#eee;
	text-align:center;
	height:40px;
	font-weight:700;
	margin:1px;
}
.goals-column-header-close {
	float:right;
}
.card-goal
{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); 
	margin:0 0 20px 0;
	padding:12px 10px;
	min-height:80px;
}
.goal-footer {
	margin-top: 10px;
	padding-bottom:0px;
	font-size:90%;
}
.goal-footer a {
	display:block;
	float:left;
	margin:4px 6px 0px 0;
	font-weight: normal!important;
}
.goal-status-2 {
	background-color:#218838;
	color:#fff;
}
.dragicon
{
	display:none;
	color:#AAA;
	position:absolute; top:0px;left:0px; 
}
ul.projectgoals {
	margin:10px;
	padding:0;
}
.goals-tasks-container {
	padding:1px;
}
.card-task {
	position:relative;
	float:left;width:270px;height: 280px; margin:5px;
}
.card-task-body {
	padding:5px;
	min-height: 190px;
}

.card-task-body.taskcomplete
{
	background:#eee;	
}

.card-task-header {
	padding:5px;
	background-color: #efefef;
	min-height: 32px;
	position:relative;
	font-size:14px;
}
.card-task-header.alert-success {
	background-color: #1e7e34;
	color: white;
}
.card-task-header.alert-warning {
	background-color: #fff3cd;
}
.card-task-footer {
	position:absolute;
	bottom:0;
	padding-bottom:3px;
	font-size:90%;
}

.goal-commentauthor {
	cursor: pointer;
	font-size: 90%;
}
.goal-commentarea {
	margin:5px 0 0 0;
	padding:3px;
	border:1px solid #333;
	background-color:#fcfcfc;
	color:#666;
	font-size:.8em;
	width:100%;

}

.goal-delete
{
	display: block;
	float:right;
}
.goal-comments-container {
	margin:5px 0 5px 0;
	font-size:.8em;
}
.goal-comments-scroll {
	padding:0;
	overflow-y: auto;
	max-height: 160px;
}

.goal-comment-status
{
	color: #777;
}

.goals-sidebar {
		margin-top:30px;
	
}
@media (min-width: 992px) {
	.goals-sidebar {
	margin-top:0;	
	}
}
.taskcomplete 
{
	color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}

/* Yellow */
.taskcomplete1:hover 
{
	color: white;

}
.taskcomplete1 
{
	color: #111;
    background-color: #ffc107;
    border-color: #ffc107;
}

/* RED */
.taskcomplete2 
{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.taskcomplete3
{
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.taskcomplete3
{
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.taskcomplete4
{
	color: black;
    background-color: #ffcb86;
    border-color: #ffcb86;
}

.taskcomplete4:hover 
{
	color: black;

}


.tasklistdelete {
	position:absolute;
	right:2px;
	top: 2px;
	font-size:14px;
}
.tasklistdelete:hover {
	color:#dc3545;
}
.taskinfopoints {
	font-size:14px;
}
.completedby {
	font-size:12px;
}


.col-form-label
{
	text-align: right;
}

.noderow .selected
{
	background-color: #eee;
}

.likedgoals .card-mini
{
	float:left;
	width: 300px;
	height: 200px;
	margin: 0 10px 10px 10px;
}

.goalstatusopen
{
	
}

.goalstatusclosed
{
	background: #d8d8d8;
}

.goalstatuscompleted
{
	background: #e2efe2;
}

.goalstatuscritical
{
	background: #ff8080;
}


#advsearchpanel { padding: 10px;}
.advancedsearch-table {
	table-layout: fixed;
}

#advsearchpanel .form-control.datepicker {
	width:185px;
	margin-top:5px;
}

.emtabs {
	margin-left:0;
}

.goals-sidebar .ui-widget-content {
	border:0 none;
	background: 0 none;
}