
  #set( $files = $assetmap.files )
  #set( $folders = $assetmap.folders )
  #set( $missingfiles = $missingassetmap.files )
  
  <div id="currentfolder"
  		data-categorypath="${categorypath}"
  		class="px-4 pt-1 pb-4 sync-stage new rounded">
	  
	    <div class="sync-folder mx-4 mb-4">
	    <span>[[Folder]]:</span>
			<input id="pullSaveFolder" type="text" class="form-control" placeholder="[[Save Folder]]" readonly value="$!assetmap.filedownloadpath">
			#if($assetmap.filedownloadpath)
				<a href="#" 
					class="btn btn-primary rounded ml-2 open-folder" 
					data-path="$!assetmap.filedownloadpath"
					title="[[Open Local Folder]]">
					[[Open]]
				</a>
				<button class="btn-unstyled refresh-sync ml-2">
					<i class="bi bi-arrow-repeat ns"></i>
				</button>
			#end
	  </div>

	  #if($files.size() > 0)
      	<div class="d-flex align-items-center justify-content-between px-1 py-2">
	      <a href="#pullfiles" data-toggle="collapse" role="button">
			
	        <i class="bi bi-caret-right-fill ns"></i> 
	        
	        $files.size() [[new]] file#if($files.size()>1)s#end [[found on the server]]
	      </a>
	       
	      <button class="btn btn-success rounded ml-2 download-pull">
	        <i class="bi bi-cloud-arrow-down-fill mr-1"></i> [[Download]]
	      </button>
    	</div>
		
    	
	    <ul id="pullfiles" class="collapse list-unstyled overflow-y pl-4">
	    #foreach( $file in $files)
	      <li class="d-flex" data-assetid="$file.id" data-categorypath="$!assetmap.categorypath" data-path="$file.path" data-url="$file.url">
			  #if($file.url)
	        	<a href="$file.url" class="mr-2"> ##should be file preview url
	          	<i class="bi bi-eye-fill ns"></i>
	        	</a>
	        	#end
	        <span>$file.path</span>
	        <button class="ml-auto mr-2 btn-unstyled pull-individual">
	          <i class="bi bi-download ns"></i>
	        </button>
	      </li>
	    #end
	    </ul>
    	#end
    
	     #if($missingfiles.size() > 0)
		    <div class="d-flex align-items-center justify-content-between px-1 py-2">
		      <a href="#pulllocalfiles" data-toggle="collapse" role="button">
					#if($missingfiles.size() > 0)
		        	<i class="bi bi-caret-right-fill ns"></i>
		        	#end
		         	$missingfiles.size() [[New file found locally]]
		      </a>
		      
					<div class="d-flex align-items-center"> 
						<a  class='btn btn-success rounded text-white ajax refresh-sync'
							data-targetdivinner="tabexportcontent"
							data-oemaxlevel="1"
							data-tabsection="pushlocal"
							href="$apphome/components/desktop/import/push.html">
							<i class="bi bi-cloud-arrow-up-fill mr-1"></i>
							[[Push to server]]
						</a> 
						<span class="mx-2">
							[[Or]]
						</span>
						<button class="btn btn-danger rounded download-pull">
							<i class="bi bi-trash-fill mr-1"></i>
							[[Delete Local Files]]
						</button> 
		      </div>
		    </div>
		    <ul id="pulllocalfiles" class="collapse list-unstyled overflow-y pl-4">
		    #foreach( $file in $missingfiles)
		      <li class="d-flex" data-assetid="$file.id" data-categorypath="$!assetmap.categorypath" data-path="$file.path" data-url="$file.url">
		        #if($file.url)
		        <a href="$file.url" class="mr-2"> ##should be file preview url
		          <i class="bi bi-eye-fill ns"></i>
		        </a>
		        #end
		        <i class="bi bi-file ns"></i> <span class="pl-2">$file.path</span>
		        <button class="ml-auto mr-2 btn-unstyled pull-individual">
		          <i class="bi bi-download ns"></i>
		        </button>
		      </li>
		    #end
		    </ul>
		  #end
    

  	#if($missingfiles.size() < 1 && $files.size() <1)
    <div class="d-flex align-items-center justify-content-center my-3 px-2 py-2synced">
    <strong>
      [[You are up to date!]]
    </strong>
    </div>
	#end
  </div>
