#set($isimmidiate = $context.getRequestParameter("immediate"))

#if($isimmidiate && $isimmidiate == "true")
	<div id="immediate-download" data-toplevelcategorypath="$category.getCategoryPath()"></div>
#end
<div class="entityuploadheader" style="font-size:1rem; font-weight: 600;">
	[[Download]] #text($category) [[Folder]]
</div>

#if($category.getCategoryPath())
<div class="row no-gutters mt-2 mb-1 watch-entity" data-entityid="$!entity.getId()" data-toplevelcategorypath="$category.getCategoryPath()">
	<div class="col-4">
		<div class="d-flex align-items-center p-2 h-100">
			<button class="btn btn-success rounded scan-changes"
				data-toplevelcategorypath="$category.getCategoryPath()">
				<i class="bi bi-arrow-repeat mr-1"></i> <span>[[Refresh]]</span>
			</button>
			<button class="ml-2 btn btn-success rounded download-pull-all" style="display: none;"
				data-toplevelcategorypath="$category.getCategoryPath()">
				<i class="bi bi-cloud-arrow-down-fill mr-1"></i> [[Download]]
			</button>
		</div>
	</div>
	<div class="col">
		<div class="d-flex align-items-center p-2">
			<div class="pending-folders">
				<p class="alert alert-success no-download mb-0" style="display: none;">[[All files are downloaded]]</p>
				<div class="d-flex flex-column">
					<div class="alert alert-success mb-0 pull-msg" style="display: none;">
						<p class="mb-0 dl-progress">[[This will download]] <strong class="dl-count">0</strong> [[file(s)]] (<strong class="dl-size">0</strong>) [[to your local folder.]]</p>
					</div>
				</div>
			</div> 
		</div> 
	</div>
</div>
#end

<div class="sync-container row no-gutters">
	<div class="col-4">
		<div class="syncfoldertree mr-2">
		#set($allchildren = $mediaarchive.getCategorySearcher().listAllCategories($category))
		#foreach($parent in $allchildren)
			#set($padding = ($parent.getLevel() - 1) * 8)
			#set($index = $foreach.count - 1)
			<div style="padding-left: ${padding}px;" class="pull-folder" id="folder-$index">
				<a href="#"
					class="pullfetchfolder"
					data-tab="pull"
					data-categorypath="$!parent.getCategoryPath()">
					<i class="bi bi-folder mr-1"></i>
					<span class="mx-1 notif">$parent.name <i class="bi bi-circle-fill"></i></span>
					<i class="fas fa-spinner fa-spin text-muted" style="display: none;"></i>
				</a>
			</div>
		#end
		</div>
	</div>
	<div class="col">
		<div id="fetchfolder">
			##load content via pullfetchfolder click -> Electron
		</div>
	</div>
</div>