#set($firstfolder ="firstfolderid")
#macro(pullcategories $parent)
 	<div>
		 <a href="#"
		 	id="$!firstfolder"
		 	class="pullfetchfolder"
		 	data-categorypath="$!parent.getCategoryPath()">
			 <i class="bi bi-folder"></i> $parent.name
		</a>
 	</div>
	#if($parent.hasChildren())
		<div style="padding-left:10px">
		#set($subfolders = $parent.getChildren())
		#foreach( $subfolder in $subfolders)
			#pullcategories($subfolder)
		#end
		</div>
	#end
	#set($firstfolder ="")
 #end

<div class="entityuploadheader" style="font-size:1rem; font-weight: 600;">
	<div class="d-flex align-items-center justify-content-between">
		<span>[[Download To Local Drive]]</span>
		<a href="#" 
			class="btn btn-accent open-folder" 
			data-path="$category.getCategoryPath()"
			title="[[Open Local Folder]]">
			<i class="bi bi-folder2-open mr-2"></i>
			[[Open Local Folder]]
		</a>
	</div>
</div>

#if($category.getCategoryPath())
<div class="segment mb-2">
	<p>[[This will syncronize $category.getChildren().size() to your local emedia folder.]]<br>
	25 (50Mb / 50,029,000 bytes) local files. <br>
	26 (55Mb / 55,829,213 bytes) server files. </p>
	<p>
		<a class="btn btn-primary rounded" 
			href="$category.getCategoryPath()"
			title="[[Open]]">
			<i class="bi bi-folder2-open mr-2"></i>
			[[Open]]
		</a>
		<button class="btn btn-success rounded download-pull-all"
			data-toplevelcategorypath="$category.getCategoryPath()">
			<i class="bi bi-cloud-arrow-down-fill mr-1"></i> [[Download All]]
		</button>
	</p>
	<div>
		<p>11 [[Extra or modified files found locally]]</p>
		<p>
			<button class="btn btn-danger rounded download-pull">
				<i class="bi bi-trash-fill mr-2"></i>[[Remove Extra Files]]
			</button>
			<span class="mx-2">
				[[Or]]
			</span>
			<a  class='btn btn-success rounded ajax refresh-sync'
				data-targetdivinner="tabexportcontent"
				data-oemaxlevel="1"
				data-tabsection="pushlocal"
				href="$apphome/components/desktop/import/push.html">
				<i class="bi bi-cloud-arrow-up-fill mr-1"></i>
				[[Push to server]]
			</a>
		</p>
	</div>
</div>
#end
	
<div class="sync-container mt-2 row no-gutters" >
	<div class="col-2 pullfoldertree">
	#pullcategories($category)
	</div>
	<div class="col">
		<div id="fetchfolder">
			##load content via pullfetchfolder click -> Electron
		</div>
	</div>
</div>