<div class="entityuploadheader" style="font-size:1rem; font-weight: 600;">Pull Changes To Local Drive</div>
<div class="sync-container mt-2">
  <!-- <div class="sync-enabler">
    <input id="pullEnabler" type="checkbox" />
    <label for="pullEnabler"></label>
  </div> -->
  <div class="sync-folder mx-4 my-4">
    <span>Exporting to:</span>
    <input id="pullSaveFolder" type="text" class="form-control" placeholder="Save Folder" readonly 
    		value="$!assetmap.filedownloadpath">
    <button class="btn btn-brand ml-2 open-folder" data-path="$!assetmap.filedownloadpath">
      Open
    </button>
  </div>

  #set( $files = $assetmap.files )
  #if($files.size() > 0)
  <div class="my-3 py-1 sync-stage new">
    <div class="d-flex align-items-center justify-content-between px-1 py-2">
      <a href="#pullfiles" data-toggle="collapse" role="button">
        <i class="bi bi-file-plus ns mr-1"></i> $files.size() new file#if($files.size()>1)s#end found on the server
      </a>
      <button class="btn btn-success rounded ml-2 download-pull">
        <i class="bi bi-cloud-arrow-down-fill mr-1"></i> Download
      </button>
    </div>
    <ul id="pullfiles" class="collapse list-unstyled overflow-y px-1">
    #foreach( $file in $files)
      <li class="d-flex" data-assetid="$file.id" data-categorypath="$!assetmap.categorypath" data-path="$file.path" data-url="$file.url">
        <a href="$file.url" class="mr-2"> ##should be file preview url
          <i class="bi bi-eye-fill ns"></i>
        </a>
        <span>$file.path</span>
        <button class="ml-auto mr-2 btn-unstyled pull-individual"> ##should be file preview url
          <i class="bi bi-download ns"></i>
        </button>
      </li>
    #end
    </ul>
  </div>
    
<!-- 
	#set( $folders = $assetmap.folders )
    <ul id="pullfiles">
    #foreach( $folder in $folders)
    <li data-assetid="$folder.id" data-categorypath="$!assetmap.categorypath" data-path="$folder.path" ><span>$!folder.path</span></li>
    #end
    </ul>
  -->   

  <!-- <div class="d-flex align-items-center justify-content-between my-3 px-2 py-2 sync-stage deleted">
    <span>
      <i class="bi bi-file-minus ns mr-1"></i> 0 files deleted
    </span>
    <button class="btn btn-danger rounded ml-2">
      <i class="bi bi-trash-fill mr-1"></i>
      Delete From Local
    </button>
  </div> -->
  #else

  <div class="d-flex align-items-center justify-content-center my-3 px-2 py-2 sync-stage synced">
    <span>
      You are up to date!
    </span>
  </div>
#end
  <!-- <div class="sync-progress">
    <p class="sync-changes pending">
      <div class="d-flex align-items-center justify-content-between">
        <span>
          <i class="bi bi-file-diff ns mr-1"></i> 5 changes detected
        </span>
        <button class="btn refresh-sync">
          <i class="bi bi-arrow-repeat ns mr-1"></i> Refresh
        </button>
      </div>
    </p>
    <p class="sync-changes">
      <i class="bi bi-check-lg ns mr-1"></i> All changes are up to date
    </p>
    <span class="bi bi-cloud-arrow-down-fill"></span>
    <p class="sync-status">
      Downloading <span class="sync-finished">156</span> of <span class="sync-total">500 MB</span>
    </p>
  </div> -->
</div>