$context.putPageValue("hits", $searchcategoryhits)

#set($moduleid = $module.id)
#set($expandedmodule = $moduleid)

#set($rendertype = "entity")
#if ($module.modulerendertype)
	#set($rendertype = $module.modulerendertype)
#end

$context.putPageValue("rendertype", $rendertype)

#if(!$hits.isEmpty())
	#set( $count = $hits.size())
#end
$context.putPageValue("count", $count)

#set( $topmodule = $module)
$context.putPageValue("topmodule", $topmodule)

#set($topentityid = $context.getRequestParameter("topentityid"))
<div id="$!{moduleid}topcontainer"
	class="topmodulecontainer $!{moduleid}topcontainer"
	data-hitssessionid="$!hits.getSessionId()"
	data-url="$apphome/views/modules/$!{module.id}/index.html"
	#if($topentityid) data-topentityid="$!topentityid" #end
	data-oemaxlevel="2">
	$pages.include("${searchhome}/tabs/categorybreadcrumb.html", $context)
	$pages.include("$componenthome/filters/filters-selected.html", $context)
	
	

		$pages.includeContent()

</div>



