#ifnull($moduleid)
#set($moduleid = $context.getRequestParameter("topmoduleid"))
#end
#ifnull($entity)
	#set($entityid = $context.getRequestParameter("entityid"))
	#set( $entity  = $mediaarchive.getData($moduleid, $entityid) )
#end
#set($entityid = $entity.id)
$context.putPageValue("entity", $entity)
$context.putPageValue("entityid", $entityid)

##set($channel = $context.getRequestParameter("channel"))


#set($tabid = "tabworkflowchat")
<div id="${tabid}" 
class=" entity-tab-content entity-tab-chatterbox" 
data-tabid="$!{tabid}"
data-entityid="$!entityid"
data-currenttab="$!viewid"
data-topmoduleid="$!topmoduleid"
data-url=""
>
<div class="chatterbox"
data-collectionid="$!entityid"
data-entityid="$!entityid"  
data-renderurl="${componenthome}/entities/chatterbox/index.html" 
data-rendermessageurl="${componenthome}/entities/chatterbox/message.html"
data-channel="$!{currenttopic.getId()}" 
##data-channel="$!channel"
data-channeltype="community" 
data-user="$!{user.id}" 
data-catalogid="$!{catalogid}"
data-broadcastall="true">
	
	$pages.include("${componenthome}/entities/chatterbox/messages.html", $context)				
				
	#if( $caneditcollection)
			$pages.include("${componenthome}/entities/chatterbox/editarea.html", $context)				
	#end


</div>
</div>