#set($offsetx = $context.getRequestParameter("offsetx"))
#set($offsety = $context.getRequestParameter("offsety"))
#set($scenarioid = $context.getRequestParameter("scenarioid"))

#set( $agentid = $context.getRequestParameter("agentid"))

#set($searchtype = "automationagentenabled")

#ifnotnull($agentid)
  #set( $agenttype = $context.getRequestParameter("agenttype"))
  $context.putPageValue("agentid", $agentid)
  $context.putPageValue("searcher", $mediaarchive.getSearcher($searchtype))
  #set( $scenario = $mediaarchive.getData($searchtype, $agentid) )
  $context.putPageValue("data", $scenario)
#end



<form class="pb-2 ajaxform autocloseform" data-targetdivinner="smartautomation" data-oemaxlevel="1" action="$applink/components/smartautomation/agent-edit.html">
  <input name="save" type="hidden" value="true" />
  <input name="searchtype" type="hidden" value="$searchtype" />
  
  #ifnotnull($agentid)
    <input type="hidden" name="id" value="$agentid"/>
  #end

  #ifnotnull($scenarioid)
    <input type="hidden" name="field" value="automationscenario"/>
    <input type="hidden" name="automationscenario.value" value="$scenarioid"/>
  #end

  #ifnotnull($offsetx)
    <input type="hidden" name="field" value="offsetx"/>
    <input type="hidden" name="offsetx.value" value="$offsetx"/>
  #end
  #ifnotnull($offsety)
    <input type="hidden" name="field" value="offsety"/>
    <input type="hidden" name="offsety.value" value="$offsety"/>
  #end

  #set($viewid = "${searchtype}general")

  #ifnotnull($agenttype)
    #set($viewid = $agenttype + "edit")
  #end

  $context.putPageValue("viewid", $viewid) 
  $pages.include("/${applicationid}/components/xml/detaileditor.html", $context)

  <button type="submit" class="btn btn-primary">
    #ifnull($agentid)
      [[Create]]
    #end
    #ifnotnull($agentid)
      [[Save Changes]]
    #end
  </button>
</form>