$context.putPageValue("cangoback", true)
$context.putPageValue("editmode", "true")

<div id="smartautomationmain" class="automation" data-setpagetitle="[[Smart Organizer]]">
  <div class="automation-inner">
    $pages.include("./header.html", $context)
		<input type="hidden" id="automationId" name="id" value="$!scenario.getId()" />

	
    <div class="org-row">
      $pages.include("./sidebar.html", $context)
      <div class="automation-canvas">
        <div id="draggableArea" class="h-100">
          <div
            id="automation_canvas" data-initializing="true"
            style="width: 3000px; height: 3000px"
          ></div>
        </div>
      </div>
      <button id="edit-toggler" style="display: none;">
        <i class="bi bi-gear"></i>
      </button>
    </div>
  </div>
</div>