<header class=" org-header automation-header">
   <div class="d-flex me-auto  align-items-center">
     <img src="$siteroot$apphome/theme/images/emedialogo.png" alt="eMedia" />
     <h1>[[Enabled Scenarios]]</h1>
   </div>

   <div class="d-flex align-items-center">
		<div class="btn-group">
		  <a href="" class="btn btn-cta"><i class="bi bi-plus-lg me-1"></i>[[Add Scenario]]</a>
		  <a href="" class="btn btn-cta dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
		    <span class="visually-hidden">Toggle Dropdown</span>
		  </a>
		  <ul class="dropdown-menu">
		    
		    <li><a class="dropdown-item" href="#" id="importScenario">[[Import]]</a></li>
		    <li><a class="dropdown-item emdialog"  href="$applink/components/smartautomation/scenario-form.html" data-hidefooter="true">[[Create New]]</a></li>
		  </ul>
		  <input type="file" id="importScenarioFile" style="display:none;position:absolute;right:-9999px;" accept=".json,application/json">
		</div>
	</div>

	<button id="closeautomation" class="ms-2 btn closeorgnizer" title="[[Close Dialog]]">
       <i class="bi bi-x-lg"></i>
   	</button>
</header>


