$context.putPageValue("previewmode", "true")

<input
	id="brandLogo"
	type="hidden"
	value="$!{siteroot}$themeprefix/lighttheme/logo.png"
	style="display: none"
/>
<div id="smartautomationmain" class="automation" data-setpagetitle="[[Smart Organizer]]">
  <div class="automation-inner">
    $pages.include("./header.html", $context)
		<input type="hidden" id="automationId" name="id" value="$!scenario.getId()" />

	
    <div class="org-row">
      <div class="automation-canvas preview">
        <div id="draggableArea" class="h-100">
          <div
            id="automation_canvas_preview" data-initializing="true"
            style="width: 3000px; height: 3000px"
            class="preview"
          ></div>
        </div>
      </div>
      <div id="previewpan"></div>


		<div class="position-absolute bottom-0 start-0 p-3">
			<div class="d-flex flex-column align-items-center my-2">
				<div id="addPrevLabelBtn" class="round-btn">
					<img src="$siteroot$apphome/theme/images/signpost.svg" alt="[[Add Labels]]" title="[[Add Label]]" style="width: 50px" />
				</div>
				<label class="text-brand mt-1 mb-0 fw-bold" for="addPrevLabelBtn">
					Label
				</label>
			</div>
      <div class="viewport-nav">
        <button id="vToTop" title="[[Move Up (Ctrl + Scroll Up)]]">
          <i class="bi bi-chevron-up"></i>
        </button>
        <div class="w-100 d-flex justify-content-between">
          <button id="vToLeft" title="[[Move Left (Ctrl + Shift + Scroll Up)]]">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button id="vToRight" title="[[Move Right (Ctrl + Shift + Scroll Down)]]">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
        <button id="vToBottom" title="[[Move Down (Ctrl + Scroll Down)]]">
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="canvas-zoom">
        <button id="zoomInBtn">
          <i class="bi bi-zoom-in"></i>
        </button>
        <button id="zoomResetBtn">
          <i class="bi bi-crosshair"></i>
        </button>
        <button id="zoomOutBtn">
          <i class="bi bi-zoom-out"></i>
        </button>
      </div>
    </div>


    </div>
  </div>
</div>