<div class="automation-scenarios">
	$pages.include("./header.html", $context)
  
  <div class="p-4">
    <div class="automation-list row row-cols-2 row-cols-md-3 g-3">
      #foreach($scenario in $scenarios)
      <div class="col">
        <div class="card">
			#set($icon = $scenario.scenarioicon)
			#ifnull($icon)
				#set($icon = "robot")
			#end
			<div class="card-title d-flex  justify-content-between">
	            <h5>
					<i class="bi bi-${icon} me-2"></i> $scenario.name
	              	
	
				</h5>
				<a class="me-1 ajax" 
				  	title="[[View Scenario]]"
				  	data-scenarioid="$scenario.id" 
					href="$applink/components/smartautomation/view.html" 
					data-targetdivinner="smartautomation" 
					data-oemaxlevel="1">
	                <i class="bi bi-arrows-angle-expand"></i>
              	</a>
			</div>
          <div class="card-body">
			#set($scenarioimage = "/${mediadbappid}/views/automations/${scenario.id}.png")
			#set($imageexists = $mediaarchive.getPageManager().getPage( $scenarioimage).exists())
			#if(!$imageexists)
				#set($scenarioimage = "/${mediadbappid}/views/automations/default.png")
				
			#end
			<a class="ajax" 
				  	title="[[View Scenario]]"
				  	data-scenarioid="$scenario.id" 
					href="$applink/components/smartautomation/view.html" 
					data-targetdivinner="smartautomation" 
					data-oemaxlevel="1">
				<img src="$scenarioimage" class="card-img-top p-1" alt="[[View]] $scenario.name" />
			</a>
            <p class="card-text">$!scenario.longdescription</p>
			<div class="d-flex position-relative">
	            <div class="active-automation">
	              <div>Status: Not running 	
					<a href="#" class="ms-1" title="[[Run Scenario]]">
					[[Run Now]]</a>
				</div>
				  <div>Last run: 00:15m ago</div>
	            </div>
				<div class="actions">

	              <a class="btn btn-primary btn-sm edit-btn me-1 ajax" 
				  	title="[[Edit Scenario]]"
				  	data-scenarioid="$scenario.id" 
					href="$applink/components/smartautomation/editor.html" 
					data-targetdivinner="smartautomation" 
					data-oemaxlevel="1">
	                <i class="bi bi-pencil-square"></i>
	              </a>
	              <a class="btn btn-primary btn-sm delete-btn me-1 ajax" 
				  title="[[Delete Scenario]]"
				  href="$applink/components/smartautomation/scenario-delete.html?id=${scenario.id}&searchtype=automationscenario" 
				  data-confirm="[[Are you sure you want to delete this scenario?]]"  
				  data-targetdivinner="smartautomation" 
				  data-oemaxlevel="1">
	                <i class="bi bi-trash"></i>
	              </a>
	            </div>
			</div>
          </div>
        </div>
      </div>
      #end
    </div>
  </div>
</div>