<div class="automation-scenarios">
  <header class=" org-header automation-header">
    <div class="d-flex me-auto  align-items-center">
      <img src="$siteroot$apphome/theme/images/emedialogo.png" alt="eMedia" />
      <h1>[[Enabled Scenarios]]</h1>
    </div>

    <div class="d-flex align-items-center">
      <button class="btn btn-accent me-3 45deg" id="importScenario">
        [[Import]]
        <i class="bi bi-download deg-90 ms-1"></i>
      </button>
      <input type="file" id="importScenarioFile" style="display:none;position:absolute;right:-9999px;" accept=".json,application/json">
      <a class="btn btn-cta emdialog" href="$applink/components/smartautomation/scenario-form.html" data-hidefooter="true">
        <i class="bi bi-plus-lg me-1"></i>
        [[Create New Scenario]]
      </a>
    </div>
	
	<button id="closeautomation" class="ms-2 btn closeorgnizer" title="[[Close Dialog]]">
        <i class="bi bi-x-lg"></i>
    </button>
  </header>
  
  <div class="p-4">
    <div class="automation-list row row-cols-2 row-cols-md-3 g-3">
      #foreach($scenario in $scenarios)
      <div class="col">
        <div class="card">
			#set($icon = $scenario.scenarioicon)
			#ifnull($icon)
				#set($icon = "robot")
			#end
          <h5 class="card-title"><i class="bi bi-${icon} me-2"></i> $scenario.name</h5>
          <div class="card-body">
			#set($scenarioimage = "/${mediadbappid}/views/automations/${scenario.id}.png")
			#set($imageexists = $mediaarchive.getPageManager().getPage( $scenarioimage).exists())
			#if(!$imageexists)
				#set($scenarioimage = "/${mediadbappid}/views/automations/default.png")
				
			#end
			<img src="$scenarioimage" class="card-img-top p-1" alt="$scenario.name" />
            <p class="card-text">$!scenario.longdescription</p>
            <div class="active-automation">
              <div>Status: Not running</div>
			  <div>Last run: 00:15m ago</div>
            </div>
            <div class="actions">
              <a class="btn btn-primary btn-sm edit-btn ajax" data-scenarioid="$scenario.id" href="$applink/components/smartautomation/editor.html" data-targetdivinner="smartautomation" data-oemaxlevel="1">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a class="btn btn-danger btn-sm delete-btn ajax" href="$applink/components/smartautomation/scenario-delete.html?id=${scenario.id}&searchtype=automationscenario" data-confirm="[[Are you sure you want to delete this scenario?]]"  data-targetdivinner="smartautomation" data-oemaxlevel="1">
                <i class="bi bi-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      #end
    </div>
  </div>
</div>