#set($manager = $mediaarchive.getBean("automationManager"))

#ifnotnull($scenario)
  #set($scenarioid = $scenario.id)
#end

#ifnull($scenario)
  #set($scenarioid = $context.getRequestParameter("scenarioid"))
#end

#set($scenariocontexts = $manager.getRecentScenerioContext($scenarioid))

<div id="automation-logs" class="soft-scrollbar">
  <h5 class="log-header w-100 text-center">[[Recent Runs]]</h5>
  <div class="list-group list-group-flush">
    #foreach($agentcontext in $scenariocontexts)
      #set($errtotal = $agentcontext.getTotalErrorLogs())

      <a href="$applink/components/smartautomation/log.html" data-scenarioid="$scenarioid" data-agentcontextid="$agentcontext.id" class="list-group-item d-flex flex-column ajax px-0" data-targetdivinner="automation-logs">
        #set($lastactive = $agentcontext.getLastActive())
        <p class="m-0 text-muted"><b>Ran on:</b> $lastactive</p>
        <span class="m-0 text-muted"><b>Status:</b> Completed #if($errtotal > 0)with errors#end</span>
        #if($errtotal > 0)
          <span class="text-danger ms-auto">$errtotal errors</span>
        #end
      </a>
    #end
  </div>
</div>