 
<form class="pb-2 ajaxform autocloseform" data-targetdivinner="smartautomation" data-oemaxlevel="1" action="$applink/components/smartautomation/scenario-save.html">
  <input name="save" type="hidden" value="true" />
  <input name="searchtype" type="hidden" value="automationscenario" />

  $context.putPageValue("viewid", "automationscenarioaddnew") 
  $pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
  <button type="submit" class="btn btn-primary">Create</button>
</form>