 
<form class="pb-2 ajaxform autocloseform" data-targetdivinner="smartautomation" data-oemaxlevel="1" action="$applink/components/smartautomation/scenario-save.html">
  <input name="save" type="hidden" value="true" />
  <input name="searchtype" type="hidden" value="automationscenario" />
  <div class="mb-3">
    <label for="nameInput" class="form-label">Name</label>
    <input name="field" type="hidden" value="name" />
    <input type="text" class="form-control" id="nameInput" placeholder="Enter name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Description</label>
    <input name="field" type="hidden" value="longdescription" />
    <textarea class="form-control" id="descriptionInput" rows="4" placeholder="Enter description" name="longdescription"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>