#set($scenarioid = $context.getRequestParameter("scenarioid"))
#set($scenario = $mediaarchive.query("automationscenario").exact("id", $scenarioid).searchOne())
<div id="previewWindow">
  <div class="preview-header">
    <h4 class="m-0">#text($scenario)</h4>
    <div class="d-flex align-items-center">
      <a class="btn btn-primary btn-sm edit-btn me-2 ajax" 
        title="[[Edit Scenario]]"
        data-scenarioid="$scenarioid" 
        href="$applink/components/smartautomation/editor.html" 
        data-targetdivinner="smartautomation" 
        data-oemaxlevel="1">
        <i class="bi bi-pencil-square me-1"></i> [[Edit]]
      </a>
      <a href="$apphome/components/smartautomation/runnow.html?scenarioid=$scenario.id" 
        data-targetdiv="previewWindow"
        data-oemaxlevel="1"
        data-toastmessage="[[Running]] #text($scenario)"
        class="ajax me-2 btn btn-sm btn-cta" title="[[Run Scenario]]">
        <i class="bi bi-play-fill me-1"></i>
        [[Run]]
      </a>
      <span class="btn btn-sm btn-secondary me-2">
        #if($scenario.getBoolean("isrunning") ) [[Running]] #else [[Not Running]] #end
      </span>
      #ifnotnull($ran)
      <span class="text-muted">Last run: $!context.getAge($ran) ago</span>
      #end
      <button id="closeautomationprev" class="ms-2 btn closeorgnizer" title="[[Close Dialog]]">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <div class="automation-preview">
    #set($scenarioimage = "/${mediadbappid}/views/automations/${scenarioid}.png")
    #set($imageexists = $mediaarchive.getPageManager().getPage( $scenarioimage).exists())
    #if(!$imageexists)
      #set($scenarioimage = "/${mediadbappid}/views/automations/default.png")
    #end
  
    <img src="$scenarioimage" class="card-img-top p-2" alt="[[View]] $scenario.name" />
    $pages.include("./log-list.html", $context)
  </div>
</div>
