
<div id="smartautomationmain" class="automation" data-setpagetitle="[[Smart Organizer]]">
  <div class="automation-inner">
    $context.putPageValue("cangoback", true)
    $context.putPageValue("viewmode", "true")
    $pages.include("./header.html", $context)
    <input type="hidden" id="automationId" name="id" value="$!scenario.getId()" />
	
    <div class="org-row">
      <div class="automation-canvas w-100">
        <div id="draggableArea" class="h-100">
          <div
            id="automation_canvas" data-initializing="true"
            style="width: 3000px; height: 3000px"
          ></div>
        </div>
      </div>
      <button id="edit-toggler" style="display: none;">
        <i class="bi bi-gear"></i>
      </button>
    </div>

    <div class="position-absolute bottom-0 start-0 p-3">
      <div class="viewport-nav">
        <button id="vToTop" title="[[Move Up (Ctrl + Scroll Up)]]" disabled>
          <i class="bi bi-chevron-up"></i>
        </button>
        <div class="w-100 d-flex justify-content-between">
          <button id="vToLeft" title="[[Move Left (Ctrl + Shift + Scroll Up)]]">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button id="vToRight" title="[[Move Right (Ctrl + Shift + Scroll Down)]]">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
        <button id="vToBottom" title="[[Move Down (Ctrl + Scroll Down)]]">
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <div class="canvas-zoom">
        <button id="zoomInBtn">
          <i class="bi bi-zoom-in"></i>
        </button>
        <button id="zoomResetBtn">
          <i class="bi bi-crosshair"></i>
        </button>
        <button id="zoomOutBtn">
          <i class="bi bi-zoom-out"></i>
        </button>
      </div>
    </div>
  </div>
</div>