
<div id="smartautomationmain" class="automation" data-setpagetitle="[[Smart Organizer]]">
  <div class="automation-inner">
    $pages.include("./header.html", $context)
	<input type="hidden" id="automationId" name="id" value="$!scenario.getId()" />
	<div class="d-flex automation-subheader">
	  <div class="d-flex align-items-center me-2" style="min-width:300px">

	    <div class="d-flex flex-column">
	      <div class="d-flex align-items-center">
	        <h2 class="my-0 me-2">#text($scenario)</h2>
	      </div>
	      <p class="m-0 scenario-description">$!scenario.longdescription</p>
	    </div> 
	  </div> 

	  <div class="d-flex align-items-center justify-content-end flex-grow-1">
	    <div class="d-flex align-items-center">
		  <a class="ajax btn btn-primary ms-2 pe-2" href="$applink/components/smartautomation/index.html" data-targetdivinner="smartautomation" data-oemaxlevel="1">
		  <i class="bi bi-arrows-angle-contract ns me-1"></i>[[Back]]</a>
	    </div> 
	  </div>
	</div>
	
    <div class="org-row">
      $pages.include("./sidebar.html", $context)
      <div class="automation-canvas">
        <div id="draggableArea" class="h-100">
          <div
            id="automation_canvas" data-initializing="true"
            style="width: 3000px; height: 3000px"
          ></div>
        </div>
      </div>
      <button id="edit-toggler" style="display: none;">
        <i class="bi bi-gear"></i>
      </button>
    </div>
  </div>
</div>