#set( $root = "$siteroot$componenthome/upload/types/html5")
#set( $nodeID = $context.getRequestParameter("nodeID") )
#if(!$nodeID)
	#set( $nodeID = $context.getRequestParameter("categoryid") )
#end
#if(!$nodeID)
	##Is a Collection Upload?
	#set($collectionid = $context.getRequestParameter("collectionid"))
	#if(!$collectionid)
		#set($librarycol = $mediaarchive.getProjectManager().loadUserCollection($mediaarchive, $userprofile))
	#end
	#if($collectionid)
		#set($librarycol = $mediaarchive.getCachedData("librarycollection",$collectionid) )
	#end
	#if( $librarycol)
		#set($collectionid = $librarycol.getId())
		#set( $nodeID = $librarycol.getValue("rootcategory") )
		$context.putPageValue("librarycol", $librarycol)
	#end
	
#end
#if( $nodeID )
	#set($category = $mediaarchive.getData("category",$nodeID))
	#set($categoryid = $category.getId())
#end



<div class="uploadformarea" data-ajaxreloadtargets="assetresults">
	<input class="upload_field" type="file" style="position:absolute; top:-2000px;" multiple="multiple" data-autostartupload="false" />
	<input class="upload_folder" type="file" style="position:absolute; top:-2000px;" webkitdirectory multiple="multiple" />


	<form id="uploaddata" name="wizard" onsubmit="return false;" data-finishaction="" action="${root}/finish.html" class="force-validate-inputs">
	#ifnotnull($nodeID)
		<div class="entityuploadheader">
			<div class="uploadto-breadcrumb">
				<span style="font-size:1rem; font-weight: 600;; ">[[Uploading to]]:</span> 
				#set($parentcategories = $category.getParentCategories())
				#if(!$parentcategories.isEmpty())
					#foreach( $parent in $parentcategories)
						#if( ${foreach.count}> 1) / #end
						<a style="padding:0px 4px 0;" 
							href="$siteroot$apphome/views/modules/asset/editors/viewfilescategory/$!{parent.id}/#dash($parent).html?assethitssessionid=$!hits.getSessionId()"
							title="[[View Files]]: $parent"
							class="ajax #if($nodeID == $parent.id) currentcategory #end"
							data-targetdiv="applicationcontent"
							data-oemaxlevel="5"
							data-scrolltocat="true"
							data-updateurl="true"
							data-closedialog="true">#text($parent)</a>
					#end	
				#end
			</div>		
		</div>
		<input id="nodeid" type="hidden" name="parentcategoryid" value="$nodeID"/>
	#end
	
	
		
		<div class="p-2 p-md-4">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-upload-left overflow-y pr-md-1 mb-4 mb-md-0">
					<div class="uploadinstructions d-block">	 
						<div id="drop-area">
							<div class="drop-over">
								<div class="uploadinstructions">
									<div class="pickerHolder">
										<a class="btn btn-cta btn-lg picker filePicker my-2 ml-2 mr-1" href="#">
										<i class="fas fa-file-upload"></i> [[Choose Files]]</a>
										<a class="btn btn-secondary btn-lg picker folderPicker my-2 mr-2 ml-1" href="#">
										<i class="bi bi-folder-plus"></i> [[Choose Folder]]</a>
									</div>
								</div>	
								<div style="min-height: 175px;">
									<div id="completed-uploads" style="display:none;">
										<ul id="up-files-list-completed" class="up-files-list">
										</ul>
									</div>
									<ul class="up-files-list up-files-list-pending"></ul>		
								</div>
								##<div class="w-100 text-right">
								##	<button type="button" class="btn btn-danger btn-sm clear-upload-list" style="display:none;">[[Clear All]]</button>
								##</div>
								<div class="dropicon">
									<i class="fas fa-cloud-upload-alt"></i>
									<div class="hints">[[Drop files here]]</div>
								</div>
							</div>
						</div>
						
					</div>	
					<!-- This is not shown -->
					<div class="progress_report_template" style="display:none;">
						<li class="uploadprogressrow" data-fileindex="currentupload">
							<span style="width: 0px;" class="uploadprogress progress_report_barcurrentupload"></span>
							<a href="#" class="fileinfo">
								<span  class="progress_report_namecurrentupload name"></span>
								<span  class="progress_report_sizecurrentupload size"></span>
								<span class="progress_report_statuscurrentupload uploadstatus"></span>
							</a>	
							<a href="#" class="removefile" title="[[Remove from Queue]]"><i class="fas fa-times"></i></a>
						</li>
					</div>			 
					##<div id="createmediapanel" style="text-align: left; padding:40px 0;">
					##	<a class="ajax btn btn-secondary createmedia-btn" data-targetdivinner="createmediapanel" 
					##	 	href="$siteroot$apphome/components/createmedia/url/start.html?categoryid=$!categoryid"
					##		title="[[Create media assets from a URL or Embed code]]">
					##  	[[or Add By URL]]
					##	</a>
					##</div>
				</div>

				<div class="col-sm-12 col-md-6 col-upload-right overflow-y pl-md-1">
					#if( $collectionid )
						$!context.setRequestParameter("libraries.value",$!librarycol.library)
						<input type="hidden" name="collectionid" id="currentcollection" value="$!collectionid" />
						<input type="hidden" name="currentcollection" id="currentcollection" value="$!collectionid" />
					#else
						#ifnull($categoryid)		 
							#if($collectionid || $mediaarchive.isCatalogSettingTrue("show_add_media_collection"))
								<div class="upload-detail-box">
								$pages.include("$apphome/components/upload/types/html5/collectionpicker.html", $context)
								</div>
							#end
						#end	
					#end
					<div id="uploadmetadata" class="h-100">
						#set($viewid = "assetmultipleupload") ##Default finder
						$context.putPageValue("viewid",$viewid)
						<div class="upload-detail-box h-100 rounded">
							<div class="details-header">
								[[Add File Details]]
								#if( $caneditsettings )
								<span class="widget-header-edit">
								<a class="emdialog" 
									href="$siteroot$apphome/views/settings/modules/asset/metadata/views/dialog/index.html?viewid=$viewid" title="[[Edit Fields]]">
									<i class="bi bi-gear-fill"></i></a>
								</span>
								#end
							</div>
							<div class="toggle-content">
								$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
								$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)
							</div>
						</div>
						##have the cancel delete these assets?
					</div>
				</div>
			</div>

			<span class="uploadcompleteText" data-totaluploads="0" data-postfix=" [[Files Complete. Choose More Files.]]"></span>
			
			<div class="uploadinstructionsafter text-center my-3" style="display: none;">
				<a class="btn btn-cta btn-lg upload-btn startbutton"
					data-textstartupload="[[Start Uploading]]" 
					data-textuploading="[[Uploading...]]"
					data-textcomplete="[[Complete]]"
					href="#">
					<i class="fas fa-cloud-upload-alt mr-1"></i> [[Start Uploading]]
					
				</a>
			</div>
		</div>
	</form>
</div>