#set( $root = "$siteroot$componenthome/upload/types/html5")
#set( $nodeID = $context.getRequestParameter("nodeID") )

#set($customredirect = $content.redirectviewupload)

#set($collectionid = $context.getRequestParameter("collectionid"))

#if( !$collectionid && $nodeID ) 
    #set($category = $mediaarchive.getData("category",$nodeID))
	#set($librarycol = $mediaarchive.query("librarycollection").orgroup("rootcategory",$category.getParentCategories()).searchOne() )
#end

#if (!$librarycol)
	#if(!$collectionid)
		#set($collectionid = $userprofile.get("lastselectedcollection"))
	#end
	#if(!$collectionid)
		#set($librarycol = $mediaarchive.getProjectManager().loadUserCollection($mediaarchive, $userprofile))
	#end
	#if(!$librarycol && $collectionid)
		#set($librarycol = $mediaarchive.getCachedData("librarycollection",$collectionid) )
	#end
#end
#if( $librarycol && !$collectioinid)
    #set($collectionid = $librarycol.getId())
#end



$context.putPageValue("librarycol",$librarycol)

<input id="upload_field" type="file" style="position:absolute; top:-2000px;" multiple="multiple"  />
<input id="upload_folder" type="file" style="position:absolute; top:-2000px;" webkitdirectory multiple="multiple"  />


<form id="uploaddata" name="wizard" onSubmit="return false;" 
		data-finishaction="" action="$root/finish.html" class="force-validate-inputs"  >

<div class="row">
    <div  class="col-md-4 col-upload-left">
		

		<div style="text-align: right;">
		  <a class="ajax createmedia-btn" targetdivinner="createmediapanel" href="$siteroot$apphome/components/createmedia/url/start.html?collectionid=$!collectionid"
  title="[[Create media assets from a URL or Embed code]]" >
        [[Add By URL or]]
		   </a>
		</div>
			
		<div class="ui-widget-header">[[CHOOSE FILES OR FOLDER]]</div>
   		
		
		<div class="uploadinstructions" style="padding-top:10px;">
			<div class="pickerHolder">
				<a class="btn btn-primary btn-lg picker" href="#" id="filePicker" style="margin-top: 0">
				<i class="fas fa-file-upload"></i> [[Pick Files]]</a>
				<a class="btn btn-primary btn-lg picker" href="#" id="folderPicker" style="margin-top: 0">
				<i class="fas fa-folder"></i> [[Pick Folders]]</a>
			</div>
			   ##<p class="hints" style="text-align: left; padding: 5px 20px;" id="drag-and-drop-instructions">
	           ## [[Upload multiple files by using the]] <strong>[[Shift]]</strong> [[key on your keyboard while selecting the files you wish to upload]].
	           ##</p>			             
		</div>				
	<ul id="up-files-list" class="up-files-list">				
	</ul>	
	
	<div class="uploadinstructions d-none d-lg-block">	  
           <div id="drop-area" >
		<div class="drop-over"></div>
		<div class="hints" >[[Drop files here!]]</div>
	</div>
	
		<div id="completed-uploads" style="display:none;padding-top:30px;" >
		<div class="ui-widget uipanel">
		    <div  class="ui-widget-header">[[Upload Queue]]</div>
		    <div>

					<ul id="up-files-list-completed" class="up-files-list" >
					</ul>	
			</div>
		</div>	
		</div>
	
	
	</div>	
	
	<!-- This is not shown -->
       <div id="progress_report_template" style="display:none;">
        <li class="uploadprogressrow" >
			<span id="progress_report_barcurrentupload" style="width: 0px;" class="uploadprogress"></span>
			<a href="#">
				<span  id="progress_report_namecurrentupload"  class="name"></span>
				<span id="progress_report_sizecurrentupload"  class="size"></span>
				<span id="progress_report_statuscurrentupload"  class="uploadstatus"></span>
			</a>	
		</li>
	 </div>				

    </div>
    <div  class="col-md-8 col-upload-right" >
    
    	<div class="upload-detail-box">
    	#if( $nodeID )
			$!context.setRequestParameter("libraries.value",$!librarycol.library)
			<input type="hidden" name="collectionid" id="currentcollection" value="$!collectionid" />
			<input type="hidden" name="currentcollection" id="currentcollection" value="$!collectionid" />
			#if ($librarycol)
			<div class="ui-widget-header"><i class="fas fa-caret-right"></i> [[Album]]</div>
			#end
			<div style="padding:5px 8px; margin:5px 0 10px; background-color: #c6c6c6;">
				[[Uploading to:]] 
				#if ($librarycol)
					<strong>$librarycol.getName()</strong>
				#end
				#if (!$category)
					#set($category = $mediaarchive.getData("category",$nodeID))
				#end
				#if($category && $category.getId() != $librarycol.getRootCategoryId())
					| $category.getName() 
				#end
			</div>
		#else		 
			#if($collectionid || $mediaarchive.isCatalogSettingTrue("show_add_media_collection"))
				$pages.include("$apphome/components/upload/types/html5/collectionpicker.html", $context)
			#end	
		#end	
		</div>
		
		
		<div id="uploadmetadata">
		
		
		#set( $entityupload = $context.getRequestParameter("entityupload") )
		#set( $entitytype = $context.getRequestParameter("entitytype") )
		
		#if($entitytype)
			#set( $addselection = $context.getRequestParameter("addselection") )
			#if($addselection)
				#set($customredirect = "$siteroot$apphome/views/modules/asset/index.html?clearfilters=true&field=$!entitytype&operation=matches&${entitytype}.value=$!addselection")
			#end
		#end
		
		$pages.include("$apphome/components/upload/entities/picker.html", $context)
		
		
		##if($collectionid || $nodeid)
		##	#set($viewid = "multipleuploadcollection")
		##else
			#set($viewid = "multipleupload")  ##Default finder
		##end
		#set($viewpath = "asset/$viewid")
		$context.putPageValue("view",$viewpath)
		
			<div class="upload-detail-box">
		    <div class="ui-widget-header toggle-upload-details" data-status="open">
		    <i class="fas fa-caret-right"></i> [[Add More Details]]
		    	#if( $caneditmetadatasetup )
		    	<span class="widget-header-edit">
				 <a class="ajax" 
				 	data-targetdivinner="applicationmaincontent" 
				 	data-oemaxlayout="3"  
				 	href="$siteroot$apphome/views/settings/modules/asset/metadata/views/index.html?viewid=$viewid&viewpath=$viewpath" title="[[Edit]]"><i class="fas fa-cog"></i></a>
				</span>
				#end
		    </div>
		    
		    <div class="toggle-content "> 
				
				$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
				
				#if($nodeID)
						<input type="hidden" name="field" value="category" />
						<input id="nodeid" type="hidden" name="category.value" value="$nodeID"/>
				#end

                    
					$pages.include("/$applicationid/components/xml/detaileditorcss.html", $context)
					
			</div>
			</div>
			
			##have the cancel delete these assets?
					<div id="uploadinstructionsafter" style="display: none">
			   			<a class="btn btn-primary btn-lg" 
			   				id="startbutton" 
							data-uploadreadytext="[[Upload]]" data-complete="[[Upload Complete]]" 
			   				href="#"><i class="fas fa-upload"></i> [[Upload]]</a>
			   			
			   			

							<a id="viewassetsbtn" 
							style="display:none;" 
							class="autoclick btn btn-sm btn-primary" 
							disabled 
							href ="$!redirect" 
							data-targetdivinner="applicationmaincontent" 
							data-oemaxlayout="3" 
							#if($entityupload)
								data-entityupload="true"
							#else 
								data-customviewupload="$!customredirect"
							#end
							
							data-updateurl="true"> [[View Uploads]]</a>
							 
			  		</div>
		</div>
		
	</div>
</div>
</form>
