#ifnotnull($categoryid)
	#set($category = $mediaarchive.getCachedData("category", $categoryid))
#end
#ifnotnull($entityid)
	#set($entity = $mediaarchive.getCachedData($moduleid, $entityid))
#end
#if( !$entity)
	#set( $entity  = $mediaarchive.getData($moduleid, $entityid) )
#end

<div class=" entitycategoryactions" data-entityid="$entityid" data-moduleid="$moduleid" >

		#if($module.getBoolean("enableuploading") && $permissions.can($moduleid, "upload_files"))
		
		<a class="btn-sm btn-blue entity-add-media ajax"
		
		data-updateurl="true" 
		data-targetdivinner="applicationmaincontent" 
		data-oemaxlayout="3"
		data-closedialog="true" 
		data-updateurl="true"
		href="$siteroot$applink/views/modules/asset/editors/assetupload/index.html?categoryid=$!categoryid" title="[[Upload Media to]]: $category">
   		
		<i class="fas fa-file-upload"></i> [[Upload]]</a>
			
		#end
		
		
		#if($category && $assetshits)
			<a	class="btn-sm btn-blue hideonupload"
  				title="[[Download]]: $category.getName()"
  				href="$applink/views/modules/asset/downloads/bycategory/${category.id}/#eid($category.name).zip">
  				<i class="fa fa-download" aria-hidden="true"></i> [[Download]]</a>
		#end
		
		
		#set($link = "$!siteroot$applink/views/modules/asset/viewfiles/${category.id}/#dash($category).html")
		#if($category)
		<a href="$link" 			
			class="btn-sm btn-blue entity-add-media hideonupload ajax"
			data-targetdiv="applicationcontent"
			data-oemaxlevel="5"
			data-updateurl="true"
			data-closedialog="true"
			title="[[View Media]]">
		<i class="fas fa-external-link-alt"></i> [[View Folder]]</a>	
		#end
		<div class="clearfix"></div>
</div>
		