#if(!$moduleid)
#set( $moduleid = $context.getRequestParameter("moduleid"))
#end
#set($module = $mediaarchive.getCachedData("module", $moduleid))
#if(!$entityid)
#set( $entityid = $context.getRequestParameter("entityid"))
#end
#ifnull($entity)
#set( $entity = $data)
#end


##set( $existingcategories = $mediaarchive.query("category").hitsPerPage(6).match($moduleid, $entityid).sort("name").search($context) )
#if($moduleid && $entityid)
	#set( $existingcategories =  $mediaarchive.getBean("entityManager").loadCategories($moduleid, $entityid))
#end

#set($existingids = [])
#foreach ($c in $existingcategories)
	#set($null = $existingids.add($c.getId()))
#end
<div id="entitycategoryresults#eid($entityid)" class="entity-media-box #if(!$existingcategories) collapsedmediabox #end" style="margin-bottom:20px;">
<div  class="entitycategoryresults uploadformarea " >
		
			
	#set($uploadsourcepath =  $mediaarchive.getBean("entityManager").loadUploadSourcepath($module,$entity, $context.getUser()))
	#ifnull($uploadsourcepath)
		#set($uploadsourcepath = "Albums/Users/$user.getScreenName()/Desktops")
	#end	
	
	<div class="entity-media-header">
		<h4 class="expandmediabox">
		#if(!$existingcategories)
			<i class="fas  fa-caret-right  expandmediaboxicon"></i>
		#else
			<i class="fas  fa-caret-down  expandmediaboxicon"></i>
		#end [[Folders]]</h4>
		
		
		#if($moduleid && $entityid)
			
			

			#if($desktop)
				<a  
				href="#" 
				id="localfolderPicker"
				class="localfolderPicker" 
				data-sourcepath="$uploadsourcepath"
				data-moduleid="$moduleid"
		   		data-entityid="$entityid"
				class="entity-add-media"
				title="[[Upload Folder]]">
				<i class="fas fa-upload"></i></a>
			#else
				<a class="entity-add-media" href="#" 
				id="folderPicker" 
				title="[[Upload Folder]]" style="margin-top: 0">
				<i class="fas fa-upload"></i></a>
			
					  <input id="upload_field" data-autostartupload="true" type="file" style="position:absolute; top:-2000px;" multiple="multiple"  />
					  <input id="upload_folder" type="file" style="position:absolute; top:-2000px;" webkitdirectory multiple="multiple"  />
					  
					  #set( $root = "$siteroot$componenthome/upload/types/html5")
					  <form id="uploaddata" name="wizard" onSubmit="return false;" 
		data-finishaction="" action="$root/finish.html" class="force-validate-inputs" >
					  	<input name="createentityfolder" value="true" type="hidden"/>
					  	<input name="entitytype" value="$moduleid" type="hidden"/>
					  	<input name="selected$moduleid" value="$entityid" type="hidden"/>
					    ##<input name="field" value="$moduleid" />
					  	##<input name="${moduleid}.value" value="$entityid" />
					  	<input name="sourcepath" value="$uploadsourcepath" type="hidden"/>
			#end
			
			#set($searchlink = "$apphome/components/categories/search/searchcategory.html")
			<a href="$searchlink" 
			   class="detail-edit-icon btn emdialog"
			   data-dialogid="categorypickermodule"
			   data-cancelsubmit="true" 
			   data-multivalue="false"
			   data-pickone="true"
			   data-moduleid="$moduleid"
			   data-entityid="$entityid"
			   data-existingcategories="$!{existingids}"
			   data-pickedcategoryaction="$apphome/components/categories/entities/listcategories.html"
			   data-targetdiv="entitycategoryresults#eid($entityid)"
			   data-parameterdata="id"
			   data-noesc="true"
			   title="[[Choose Folder]]"><i class="fas fa-search"></i></a>
	   #end	
	   
	</div>
	
	

		<div  id="cat-list" class="emlist">
		
		#ifnull($desktop)
			<div>
				<!-- This is not shown -->
		       <div id="progress_report_template" style="display:none;">
		        <li class="uploadprogressrow" >
					<span id="progress_report_barcurrentupload" style="width: 0px;" class="uploadprogress"></span>
					<a href="#">
						<span  id="progress_report_namecurrentupload"  class="name"></span>
						<span id="progress_report_sizecurrentupload"  class="size"></span>
						<span id="progress_report_statuscurrentupload"  class="uploadstatus"></span>
					</a>	
				</li>
			 	</div>
			 	
			 	<ul id="up-files-list" class="up-files-list">
				</ul>	
			 	
			 	<div id="completed-uploads" style="display:none;padding-top:3px;" >
				<div class="ui-widget uipanel">
				    <div  class="ui-widget-header">[[Upload Queue]]</div>
				    <div>
							<ul id="up-files-list-completed" class="up-files-list" >
							</ul>	
					</div>
				</div>	
				</div>		
			</div>
		#end
		
		<table style="width:100%;">
		#foreach ($c in $existingcategories)
		
			##better way to do this?
			#set ($category = $mediaarchive.getCategory($c.getId()))
			
			 
			#set( $iscollection = $categoryCollectionCache.isPartOfCollection($category))
			
			
			<tr>
			<td>
				<div  class="list-row">
				<div  class="category #if($iscollection) cat-collection #else cat-category #end">
				#foreach( $parent in $category.getParentCategoriesFrom(1))
					#if( ${foreach.count} > 1)\
					#end
					<a style="padding:0px 0 4px 0;" 
						class="ajax"
						data-targetdiv="applicationcontent"
						data-oemaxlevel="4"
						data-closedialog="true"
						data-updateurl="true"
						data-nodeId="$entityid"
		   				data-sidebarcomponent="categories"
						
						href="views/modules/asset/bycategory/${parent.id}.html">$parent</a>
				#end
				</div>
				</div>
			</td>
			<td style="width:30px; text-align: right; vertical-align: top; padding:6px 2px 0 0;">
			#if($desktop)
				<a href="" 
					class="folderdesktopdownload"
					data-categoryid="$c.getId()"
					title="[[Download Folder]]">
					<i class="fas fa-download"></i></a>
			#else
				#if( $caneditassetcategories )
				 	<a class="ajax list-delete"  
				 		data-targetdiv="entitycategoryresults" 
				 		href="$!home$apphome/components/categories/asset/removeassetcategory.html?assetid=${asset.id}&categoryid=${category.id}" >
				 	<i class="fas fa-times"></i></a>
			 	#end
		 	#end
			</td>
			</tr>
			
			
			
			
		#end
		</table>
		</div>
	</div>
</div>