#if(!$moduleid)
	#set( $moduleid = $context.getRequestParameter("moduleid"))
#end
#if(!$entityid)
	#set( $entityid = $context.getRequestParameter("entityid"))
#end

#set( $currentcategoryid = $context.getRequestParameter("categoryid"))
#if(!$currentcategoryid && $defaultfolder)
	#set( $currentcategoryid = $defaultfolder.getId())
#end
#if($currentcategoryid)
	#set($currentcategory = $mediaarchive.getCategory($currentcategoryid))
#end

#set( $assetsshown = 4)
#if( $searchtype == "faceprofilegroup" )
	#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).exact("faceprofiles.faceprofilegroup", $entityid).sort("assetaddeddateDown").search() )
#elseif($searchtype == "librarycollection")
	
	#set($rootcategory = $librarycol.rootcategory)
	#set($category  = $mediaarchive.getCategory($rootcategory))

	#set( $assetshits = $mediaarchive.query("asset").hitsPerPage($assetsshown).match("category",$rootcategory).sort("assetaddeddateDown").search() )
	
#else
	##set( $assetshits = $mediaarchive.query("asset").facet().hitsPerPage($assetsshown).match("category", $currentcategoryid).sort("assetaddeddateDown").search() )
	#set($sizevalues = $mediaarchive.getBean("entityManager").listTotalSize($currentcategory.getId(),$context) )
	#set( $assetshits = $sizevalues.get("hits") )
	
#end

$context.putPageValue("assetshits", $assetshits)
$context.putPageValue("fullview",true) 
$context.putPageValue("thumbsize", "small" )
$context.putPageValue("primaryimage", $entity.primaryimage )
$context.putPageValue("mediarender", "attachedmedialist" )
<div id="entityassetresults#eid($entityid)" class="entity-media-box-details ">
	<div  class="entityassetresults uploadformarea" data-onupload="reloadentity" data-entityid="$entityid" >
		<div class="entity-media-header">
			<h4 class="mediaboxheader">
				 [[Folder Details]]: <span>$currentcategory.getName()</span> 
			</h4>
			#if($currentcategory)
				<a style="padding:0px 0 4px 6px; " 
						class=" "
						data-targetdiv="applicationcontent"
						data-oemaxlevel="4"
						data-closedialog="true"
						data-updateurl="true"
						data-nodeId="$entityid"
		   				data-sidebarcomponent="categories"
		   				title="[[Download]]: $currentcategory.getName()"
		   				href="$applink/views/modules/asset/downloads/bycategory/${currentcategory.id}/#eid($currentcategory.name).zip"><i class="fa fa-download" aria-hidden="true"></i></a>
			#end
			
			#if($permissions.can($moduleid, "upload_files"))
				#ifnull($uploadsourcepath)
					#if( !$entity)
						#set( $entity  = $mediaarchive.getData($moduleid, $entityid) )
					#end
					#set($uploadsourcepath =  $mediaarchive.getBean("entityManager").loadUploadSourcepath($module, $entity, $context.getUser()))
				#end
				#ifnull($uploadsourcepath)
					#set($uploadsourcepath = "Albums/Users/$user.getScreenName()/Desktops")
				#end
				
				

				   	
					#if($permissions.can($moduleid, "edit"))
					 	<a class="ajax list-delete"  
					 		data-targetdiv="entitycategoryresults" 
					 		href="" >
					 	<i class="fas fa-times"></i></a>
					#end



					<a href="#" 
						style="padding:0px 4px 4px 6px;"
						class="entity-add-media filePicker entityuploadPicker"
						title="[[Upload Media to]]: $!uploadsourcepath">
					<i class="fas fa-file-upload"></i></a>
					
					<div class="loadericon float-right" 
						style="padding:0px 4px 4px 6px;"><i class="fas fa-spinner fa-spin"></i></div>
						
					<a style="padding:0px 4px 4px 6px;" 
							class=""
							target="_blank"
							##data-targetdiv="entityassetresults#eid($entityid)"
							data-oemaxlevel="1"
							data-entityid="$entityid"
							data-moduleid="$moduleid"
			   				title="[[View Folder]]: $currentcategory.getName()"
			   				
			   				href="$applink/views/modules/asset/bycategory/$!{currentcategory.id}.html?sidebarcomponent=categories&scrolltocat=true">
			   				<i class="fas fa-external-link-alt"></i></a>
										
						<input class="upload_field" data-autostartupload="true" type="file" style="position:absolute; top:-2000px;" multiple="multiple"  />
						#set( $root = "$siteroot$componenthome/upload/types/html5")
						<form id="uploaddata" 
						  		name="wizard" 
						  		onSubmit="return false;" 
								data-finishaction="" action="$root/finish.html" class="force-validate-inputs" >
						  	<input name="createentityparent" value="true" type="hidden"/>
						  	<input name="entitytype" value="$moduleid" type="hidden"/>
						  	<input name="selected$moduleid" value="$entityid" type="hidden"/>
						    <input name="field" value="$moduleid"type="hidden" />
						  	<input name="${moduleid}.value" value="$entityid"type="hidden" />
						  	<input name="field" value="category"type="hidden" />
						  	<input name="category.value" value="$currentcategoryid"type="hidden" />
						  	<input name="sourcepath" value="$uploadsourcepath" type="hidden"/>
						  	
						 </form>
						
					
				#end	
				
		</div>
		
		#if($moduleid && $entityid)
			<div class="mediaboxbody">	
			
			#if($moduleid=="librarycollection")
				#if(!$rootcategory)
					#set($rootcategory = $context.getRequestParameter("rootcategory"))
				#end
				#set($link = "$siteroot$applink/views/modules/librarycollection/media/showcategory.html?nodeID=$rootcategory&clearfilters=true&collectionid=$!librarycol.getId()")
				#set($link = "$!link&sidebarcomponent=categories")
				
			#elseif($moduleid=="faceprofilegroup")
				#set($link = "$siteroot$applink/views/modules/asset/faceprofilegroup.html")
				#set($link = "$link?faceprofilegroupid=$!entityid&clearfilters=true")
				
			#else
				#set($link = "$siteroot$applink/views/modules/asset/index.html")
				##set($link = "$link?field=$!moduleid&operation=matches&${moduleid}.value=$!entityid&clearfilters=true")
				#set($link = "$siteroot$applink/views/modules/asset/bycategory/${currentcategoryid}.html?clearfilters=true")
			#end	
			#set($targetdivinner = "applicationmaincontent")
			#set($oemaxlevel = "3")
			
			<div class="entity-categorydetails">
			
				<div style="padding:4px 0;">
				<i class="fas fa-folder"></i>  $currentcategory.getChildren().size() [[Subfolders]]
				</div>
				<div>
				<a href="$link" 
						class="ajax"
						data-oemaxlevel="$!oemaxlevel" 
						data-targetdivinner="$!targetdivinner" 
						data-closedialog="true"
						data-updateurl="true"
						data-closemediaviewer="true"
						title="[[View]] $assetshits.size() [[Assets]]"><i class="fas fa-images"></i> $assetshits.size() [[Files]]</a> ##($sizer.inEnglish($total) )
				
					#if($permissions.can($moduleid, "assign_folders"))
						#set($searchlink = "$componenthome/assetpicker/entities/searchassets.html")
						&nbsp; 
						<a href="$searchlink"
							id="assetpicker#eid($entityid)" 
							data-launcher="assetpicker#eid($entityid)"
							data-targetdiv="entityassetresults#eid($entityid)"
							data-clickurl="$componenthome/categories/entities/listcategorydetails.html"
							data-entityid="$entityid"
							data-moduleid="$moduleid"
							data-categoryid="$currentcategoryid"
							data-target="$!siteroot$apphome/components/assetpicker/entities/searchassets.html"
							data-dialogid="assetsearchdialog" 
							class="emdialog "
							title="[[Choose Asset]]"><i class="fas fa-search-plus"></i></a>
					#end
				</div>
			</div>

			#if($permissions.can($moduleid, "upload_files"))
				<div>
					<!-- This is not shown -->
			       <div class="progress_report_template" style="display:none;">
			        <li class="uploadprogressrow" >
						<span style="width: 0px;" class="uploadprogress progress_report_barcurrentupload"></span>
						<a href="#">
							<span   class="progress_report_namecurrentupload name"></span>
							<span   class="progress_report_sizecurrentupload size"></span>
							<span   class="progress_report_statuscurrentupload uploadstatus"></span>
						</a>	
					</li>
				 	</div>
				 	
				 	<ul class="up-files-list up-files-list-pending">
					</ul>	
				 	
				 	<div class="completed-uploads" style="display:none;padding-top:3px;" >
					<div class="ui-widget uipanel">
					    <div  class="ui-widget-header">[[Upload Queue]]</div>
					    <div>
							<ul class="up-files-list up-files-list-completed" >
							</ul>	
						</div>
					</div>	
					</div>		
				</div>
			#end
			</div>
			
			#end
			</div>
	</div>



