#set($viewid = $context.getRequestParameter("viewid"))
#set($viewsearcher = $searcherManager.getSearcher($catalogid, "view"))
#set ( $systemdefined = "false" )
#set ( $systemdefined = $context.findValue("systemdefined") )

#set ( $moduleid = $context.findValue("module") )		

#set( $viewsroot = $content.viewsroot )

#set( $viewid = $context.getRequestParameter("viewid") )
#set( $assettype = $context.getRequestParameter("assettype") )

#if( !$assettype )
	#set( $assettype = "default" )
#end
#set( $moduleid = $context.findValue("module") )
#set( $viewpath = $context.getRequestParameter("viewpath") )
#set( $ids = [])
#set( $viewsroot = $content.viewsroot )
<div id="viewpicker">
<div class="emsettingslist  pb-3" >
	#set($details = false)
	#set($details = $searcher.getDetailsForView($viewpath, $user))

<ul class="emsettingslist listsort" data-ajaxreloadtargets="resultsdiv"   data-path="$siteroot$viewsroot/dialog/saveview.html?viewpath=$viewpath&searchtype=$moduleid&assettype=$assettype&viewid=$viewid">

	#foreach( $detail in $details)
		#set( $pid = "${detail.searchType}.${detail.id}")
		#set( $null = $!ids.add($detail.id) )
		<li id="$pid">  
			<div class="sortableitem" style="cursor: hand;" >
				<span class="drag-and-drop"></span>
				$detail.getText($context) 
				<span class="type-of-field">#if( $detail.getViewType() ) $mediaarchive.getCachedData("datarendertype" , $detail.getViewType() ) #else Text #end</span>
			</div>
			<a class="ajax delete-row" data-targetdivinner="viewpicker" href="$siteroot$viewsroot/dialog/removefromview.html?searchtype=$moduleid&toremove=$pid&assettype=$assettype&viewid=$viewid&viewpath=$viewpath&oemaxlevel=1" data-ajaxreloadtargets="resultsdiv">
				<i class="fas fa-times"></i>
			</a>
		</li>
	#end
	</ul>	
</div>

<div class="emsettingslistd border-top pt-3" viewid="$viewid" catalogid="$catalogid" searchtype="$moduleid" assettype="$assettype" viewpath="$viewpath" path="$siteroot$viewsroot/movefields.html">
	#if( $viewid )
		#set( $view = $searcherManager.getData("$catalogid", "view", $viewid) )
		#if( $view.rendertable)
			#set($searchtype = $view.rendertable)
		#else
			#set($searchtype = $moduleid)
		#end
		<form name="addtoview" class="ajaxform d-flex flex-grow-1 flex-column mr-2" data-targetdiv="viewpicker" id="addtoview" action="$siteroot$viewsroot/dialog/addtoview.html" data-ajaxreloadtargets="resultsdiv">
			<input type="hidden" name="catalogid" value="$!catalogid"/>
			<input type="hidden" name="searchtype" value="$moduleid"/>
			<input type="hidden" name="assettype" value="$assettype"/>
			<input type="hidden" name="oemaxlevel" value="1"/>
			<input type="hidden" name="viewid" value="$viewid"/>
			<input type="hidden" name="viewpath" value="$viewpath"/>
			#if( $view.rendertable)
				#set($searcher = $searcherManager.getSearcher($catalogid, $view.rendertable))
			#else
				#set($searcher = $searcherManager.getSearcher($catalogid, $moduleid))
			#end	
			<input id="tableid" name="tableid" type="hidden" value="$moduleid">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<label class="fw-bold text-muted m-0">[[Add new column to ]] #text($module) [[table]]</label>
				##if(admin)
				<a href="#" class="text-primary">
					<div class="bi bi-gear mr-1 ns"></div>
					Admin settings
				</a>
				##end
			</div>
			
			<select id="fieldnames" name="newone" class="form-control selectsubmitform">
				<option value=""></option>
				#foreach( $detail in $searcher.getUserPropertyDetails() )
					#if( !$ids.contains($detail.getId()))
					<option value="$detail.id">$detail.getText($context)</option>
					#end
				#end
			</select>
		</form> 
	#end
</div>

</div>