#if($canviewsettings)
<div class="sidebar-box">
    <div class="sidebar-box-header">
        [[Agent]]        
    </div>
    <div class="sidebar-box-content">
		<p><a href="$applink/agent/index.html?collectionid=*&goaltrackerstaff=$user.id"><i class="far fa-file-alt"></i> [[Calendar]]</a></p>
		<p><a href="$applink/agent/report.html?collectionid=*&goaltrackerstaff=*"><i class="far fa-file-alt"></i> [[Completed]]</a></p>
		<p><a href="$applink/agent/search.html?field=ticketlevel&ticketlevel.value=1&operation=exact&field=projectstatus&projectstatus.value=open%7Ccritical&operation=orsgroup&sortby=creationdateDown"><i class="far fa-file-alt"></i> [[Level 1]]</a></p>
		<p><a href="$applink/agent/search.html?field=ticketlevel&ticketlevel.value=2&operation=exact&field=projectstatus&projectstatus.value=open%7Ccritical&operation=orsgroup&sortby=creationdateDown"><i class="far fa-file-alt"></i> [[Level 2]]</a></p>
		<p><a href="$applink/agent/search.html?field=ticketlevel&ticketlevel.value=3&operation=exact&field=projectstatus&projectstatus.value=open%7Ccritical&operation=orsgroup&sortby=creationdateDown"><i class="far fa-file-alt"></i> [[Level 3]]</a></p>
		
		<div id="" style="margin:20px 0;">
	
					<select  id="collectivesearch2" 
						name="collectionid" 
						class="form-control autosubmitlink" 
						data-placeholder="[[Projects]]"
						data-url="$applink/collective/community/index.html?goaltrackerstaff=*&collectionid="
					>
					<option></option>
					#set( $collectives = $mediaarchive.query("librarycollection").match("library","organizations").sort("name").search() )
					#foreach( $collective in $collectives )
						<option value="$collective.getId()">#esc($collective.name)</option>
					#end
				   </select>
	
		</div>
    </div>
</div>
#end

