#embody {




}

#header {

}


#header .header-text{
position: relative;

}


.emlogo
{
	display: block;
	width: 170px;
	height: 59px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.logocontainer img
{
	display: none;	
}

.emnav {
			background:none;
			background-color: #565656;
			border-bottom: 1px solid #565656;
			background: -moz-linear-gradient(top, #565656 0%, #333333 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #565656 0%,#333333 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #565656 0%,#333333 100%); /* IE10+ */
			background: linear-gradient(top, #565656 0%,#333333 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	
		
;
}

@media (max-width: 768px) {
	.navbar-quicksearch {
			
			
		
				background: -moz-linear-gradient(top, #565656 0%, #333333 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #565656 0%,#333333 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #565656 0%,#333333 100%); /* IE10+ */
				background: linear-gradient(top, #565656 0%,#333333 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
		
	}
	
}

/*EMNav Tabs*/
.emnav .navtabs .navtabitem,
#header .navbar-toggler  {
		background-color: #8E8E8E; /* Old browsers */
		color: #FFFFFF;
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);
		border:1px solid #8E8E8E;
		border-bottom:0 none;
		box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
	
}


/*EMNav Tabs Hover*/
.emnav .navtabs li a.navtabitem:hover,
.emnav .navtabs li.navactive a.navtabitem,
#side-nav-inner ul li.current a {
	
		background:none;
		background-color: #D5D5D5; /* Old browsers */ 
		border-color: #C4C4C4;
		color: #4F4F4F;
	
}
.emnav .navtabsright li a,
.nav-collectionsearch {
	color:#FFFFFF;
}
.emnav .navtabsright a:hover,
.nav-collectionsearch:hover {
	color:#FFFFFF;
}


	.emnav .librarycollectionpicker,
	.emnav .nav-quicksearch {
		border-left: 1px solid #8E8E8E;
	}
	#header .navlinks,
	#header .dropdown-menu {
		background-color: #666666;
	}
	#header .navlinks li>a,
	#header .navlinks .dropdown-item {
    	color:#EEEEEE;
    	background-color: #666666;
	}
	#header .navlinks li a:hover {
    	color:#FFFFFF;
	}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
}

	.collectionshomecontent {
		background-color: #D5D5D5;
	}


.col-sidebar {
	background:none;
    background-color: #D5D5D5; /* Old browsers */
		background: -moz-linear-gradient(left, #D5D5D5 79%, #A2A2A2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #D5D5D5 79%,#A2A2A2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #D5D5D5 79%,#A2A2A2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D5D5D5', endColorstr='#A2A2A2',GradientType=1 ); /* IE6-9 */
}
.ui-widget-header {
}
.ui-widget-header,
.ui-widget-header a,
.ui-widget-header a:hover,
.ui-widget-header a:visited  {

	background: -moz-linear-gradient(top, #565656 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #565656 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #565656 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(top, #565656 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
		color: #FFFFFF;


}
.ui-widget-header .dropdown-menu a,
.ui-widget-header .dropdown-item {
		background: none;
		background-color:#333333;
		color: #FFFFFF;

	
}

.col-sidebar .ui-widget-content {
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);

	
}


#help-content .ui-widget-header {


background: -moz-linear-gradient(top, #565656 0%, #333333 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #565656 0%,#333333 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #565656 0%,#333333 100%); /* IE10+ */
background: linear-gradient(top, #565656 0%,#333333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */

color: #FFFFFF;


}

.table #tableheader,
.emdata .tableheader,
#emcontainer #emselectable #tableheader,
.settings-table .tableheader th,
.settings-table #tableheader th,
#table-container li.header {
		background:none;
		background-color: #565656; /* Old browsers */ 
		background: -moz-linear-gradient(top,  #565656 0%, #333333 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #565656 0%,#333333 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #565656 0%,#333333 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #565656 0%,#333333 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	

}

/* Table Colors */

#eml-tab-subnav ul, 
#sub-nav {
	
	
	
}

/*TR Hovers*/
/*TR Hovers*/
tr.emborderhover td,
.opencollections ul li:hover,
.table-hover tbody tr:hover,
#side-nav-inner ul li a:hover,
#workarea ul li:hover,
.search-list li.current a.search-href, 
.sidebar-list li.current a,
.search-list li:hover a.search-href, 
.sidebar-list a:hover,
.emtree .checkbox .field, .emtree .treerow:hover, .emtree .treerow.selected, .emtree .treerow.selected:hover,
.cat-list .cat-row:hover,
.filters-sidebar li:hover,
.filters-sidebar-selected li:hover {
	background: #C9E8F2;
}



.emsubnav,
.emsubnav .nav-link,
.emtabs li.emtabselected a,
.emtabs li a:hover,
.emtabs li a, #eml-tab-subnav ul li a {
	
	
		color:#333333;
	

}

.emsubnav .nav-link:hover,
#sub-nav a:hover,
.emsubnav .nav-item:hover .nav-link,
.emsubnav .nav-item:hover .nav-link:hover, 
.emsubnav .dropdown-menu,
#eml-tab-subnav ul li a:hover {
		background-color: #9F9F9F!important;
		color:#EEEEEE;
}
.emtabs li a {
		background-color: #9F9F9F;
}

#sub-nav li:hover ul li a:hover {
	background-color: #9F9F9F;
}

#sub-nav a { 
	color:#333333;
}




#right-col {
}

/* Table Hover Color */
#emcontainer #main-results-table tr.emborderhover, #main-results-table tr:hover {
}

.sidebar-media li.currentsubtle {
}

#de-side-nav li.current a, #de-side-nav li.current a:hover {


}

#de-side-nav ul li.current::after, 
#pdf-thumbnail-sidebarX ul li.current::after {


}

.title-bar {
	

}

.search-list li.current a.search-href, .sidebar-list li.current a {
background: #C9E8F2;
}
