#embody {




}

#header {

		background: #F4F4F4; /* Old browsers */ 
}


#header .header-text{
position: relative;

}


.emlogo
{
	display: block;
	width: 170px;
	height: 59px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.logocontainer img
{
	display: none;	
}

.emnav {
			background:none;
			background-color: #565656;
			border-bottom: 1px solid #565656;
			background: -moz-linear-gradient(top, #565656 0%, #333333 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #565656 0%,#333333 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #565656 0%,#333333 100%); /* IE10+ */
			background: linear-gradient(top, #565656 0%,#333333 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	
		
;
}

@media (max-width: 768px) {
	.navbar-quicksearch {
			
			
		
				background: -moz-linear-gradient(top, #565656 0%, #333333 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#333333)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #565656 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #565656 0%,#333333 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #565656 0%,#333333 100%); /* IE10+ */
				background: linear-gradient(top, #565656 0%,#333333 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
		
	}
	
}

/*EMNav Tabs*/
.emnav .navtabs .navtabitem,
#header .navbar-toggler  {
		background-color: #8E8E8E; /* Old browsers */
		color: #EFEFEF;
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .1);
		border:1px solid #8E8E8E;
		border-bottom:0 none;
		box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
	
}


/*EMNav Tabs Hover*/
.Xemnav .navtabs li.navactive a.navtabitem {
		box-shadow: inset 0 10px 10px -10px rgba(255,255,255,0.5);
		color: #4F4F4F;
}
.Xemnav .navtabs li a:hover {
		box-shadow: inset 0 10px 10px -10px rgba(255,255,255,0.5);
			}
.Xemnav .navtabs li.navactive a.navtabitem,
#Xside-nav-inner ul li.current a {
	
		background:none;
		background-color: #D5D5D5; /* Old browsers */ 
		border-color: #C4C4C4;
		color: #4F4F4F;
	
}
.Xemnav .navtabsright li a,
.nav-collectionsearch {
	color:#FFFFFF;
}
.emnav .navtabsright a:hover,
.nav-collectionsearch:hover {
	color:#FFFFFF;
}


	.emnav .librarycollectionpicker,
	.emnav .nav-quicksearch {
		/*border-left: 1px solid #8E8E8E;*/
	}
	#header .navlinks,
	#header .dropdown-menu {
		background-color: #666666;
	}
	#header .navlinks li>a,
	#header .navlinks .dropdown-item {
    	color:#EEEEEE;
    	background-color: #666666;
	}
	#header .navlinks li a:hover {
    	color:#FFFFFF;
	}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
}

	.Xcollectionshomecontent,
	.Xcreatemediapanel {
		background-color: #D5D5D5;
	}



/* Table Hover Color */
#emcontainer #main-results-table tr.emborderhover, #main-results-table tr:hover {
}

.sidebar-media li.currentsubtle {
}

#de-side-nav li.current a, #de-side-nav li.current a:hover {


}

#de-side-nav ul li.current::after, 
#pdf-thumbnail-sidebarX ul li.current::after {


}

.title-bar {
	

}

.search-list li.current a.search-href, .sidebar-list li.current a {
background: #C9E8F2;
}
