#set( $action = $context.getRequestParameter("action") ) 
#set( $targetdiv = $context.getRequestParameter("targetdiv") )

#set( $launcher = $context.getRequestParameter("launcher") )
#set( $moduleid = $context.getRequestParameter("moduleid") )

#set($hits = $pickerhits)
$context.putPageValue("hits",$hits)
<div id="search-categories" >
	<div id="searcharea" >
		#set( $searcher = $mediaarchive.getSearcher("asset") )
		$context.putPageValue("searcher",$searcher)
		#set($viewid = "asset")
		#set($viewpath = "asset/picker")
		#set($details = $searcher.getDetailsForView("asset/picker", $userprofile))
		<form  class="autosubmit ajaxform"
				style="margin-bottom:10px;"
			 	data-targetdivinner="assetsearchresultsdialog" 
			  	action="$siteroot$apphome/components/assetpicker/entities/searchassetresults.html">
			<div class="row inlinesearch">
			#foreach( $detail in $details)
				<div class="col">
					$context.putPageValue("detail", $detail)
					$pages.include("/${applicationid}/components/advancedsearch/detaileditinline.html", $context)
				</div>
			#end
			</div>
		</form>
		
		#if($canviewsettings)
		
			<a style="position:absolute; top:3px; right:3px;"
				class=" edit-icon"
				href="$apphome/views/settings/modules/asset/metadata/viewssystem/index.html?viewid=${viewid}&viewpath=${viewpath}"
				title="[[Edit Search Form Fields]]">
			<i class="fas fa-edit"></i>
			</a>
		
		#end
		
		<div id="assetsearchresultsdialog"  
			class="emselectable" 
	 		data-launcher="$!launcher"
	 		
	 		data-searchhome="$siteroot$apphome/views/modules/$!{moduleid}/components/assetpicker/entities"
	 		data-searchtype="asset" >
			$pages.include("$apphome/components/assetpicker/entities/searchassetresults.html",$context)
		</div>
		
	</div>
</div>	
