##edit/addnew.html?viewid=projectgeneral&viewpath=project/projectgeneral&hitssessionid=hitsprojectfinder/catalog

#set( $moduleid = $context.findValue("searchtype") )
#set( $viewid = $context.findValue("viewid") )

#set( $searchtype = $context.findValue("searchtype") )
$context.putPageValue("searcher",$mediaarchive.getSearcher($searchtype))

#if( !$viewid )	
	#set($viewid = "${moduleid}general")
#end

#if( !$viewpath )	
	#set($viewpath = "${moduleid}/$viewid")
#end


#set($id = $data.id )
#if( !$id )
	#set( $id = $context.getRequestParameter("id") )
#end


#set($targetdiv = $context.getRequestParameter("targetdiv"))
#set( $defaultaction = "$!siteroot$apphome/views/modules/$searchtype/edit/addnewentitysave.html")



<div id="default-fields">
    <div id="editlayout">
    <form id="dataeditor" 
    		name="dataeditor" 
    		class="force-validate-inputs ajaxform autocloseform" 
    		data-targetdivinner="$!targetdiv"
    		data-oemaxlevel="1"
    		method="post"  
    		data-defaultaction="$!defaultaction">
    	<input name="save" type="hidden" value="true" />
    	<input name="id" type="hidden" value="$!id" />
    	<input name="searchtype" type="hidden" value="$searchtype" />
    	<input name="viewid" type="hidden" value="$viewid" />
    	<input name="entitytype" type="hidden" value="$searchtype" />
    	<input name="module" type="hidden" value="$searchtype" />
    	
    	$context.putPageValue("viewid", $viewid)

#set( $origURL = $context.getRequestParameter("origURL" ) )
#set( $moduleid = $context.findValue("module") )

$pages.include("/$applicationid/components/xml/detaileditor.html", $context)

#if( $caneditmetadatasetup )
	
	 <a class=" float-right btn btn-light" href="$siteroot$apphome/views/settings/modules/${searcher.searchType}/metadata/views/index.html?viewid=$viewid&viewpath=$viewpath">
	 <i class="bi bi-gear-fill"></i> [[Fields]]</a>
	
#end
	
    #if($caneditdata)
    <input class="btn btn-cta float-left" style="margin-right:10px;" type="submit" value="[[Save]]" />
    #end
    <button id="closebutton" type="button" class="btn btn-secondary float-left" data-dismiss="modal">[[Close]]</button>
    ###if($caneditdata || $candelete)	
    ##<a class="btn btn-danger ajax" data-targetdiv="editlayout" data-confirm="[[Are you sure]]?" style="margin-right:10px;" href="$siteroot$content.searchhome/edit/delete.html?id=$data.id&catalogid=$searcher.catalogId&searchtype=$searcher.searchType&viewid=$viewid&viewpath=$viewpath&oemaxlevel=1" style="margin: 20px 20px 0 0;">[[Delete]]</a>
    ###end



    </form>

    </div>
</div>





