<div class="ui-widget uipanel" id="entitypicker">
    <div class="ui-widget-header" style="font-size:.9em;">Entity Tags
    	<span class="widget-header-edit">
		 <a href="$applink/views/settings/modules/asset/metadata/views/index.html?viewid=multipleupload&amp;viewpath=asset/multipleupload" title="Edit"><i class="fas fa-cog"></i></a>
		</span>
    </div>
    
	#set( $type = $context.getRequestParameter("entitytype") )		##TODO remember the last selected	 
    <div class="ui-widget-content"> 
		<div class="container-fluid">
		<div class="row">
		    <div class="col" style="margin-right:-40px;">
			#foreach ( $amodule in $userprofile.getEntities() )
				#if( $amodule.id != "asset")
				
					#set( $key = "picked$amodule.getId()" )
					#set( $hits = $userprofile.getValues($key))
					<div class="side-select-menu #if( $type == $amodule.id) active #end"  > ##style="border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee;">
					<a class="ajax" data-targetdiv="entitypicker" data-oemaxlevel="1" style="display:block;" 
					href="$applink/components/upload/entities/picker.html?entitytype=${amodule.id}"> 
					
					<div class="row addMediaRow">
					    <div class="col-10 leftColumn">
							<h5 class="selectedEntity" style="margin: 10px 0px 10px 10px;;font-size: 1.0rem;">$amodule</h5>
						</div>
					</div>	
					</a>
						<input type="hidden" name="field" value="$amodule.id" />
					#if( $hits && !$hits.isEmpty() )
						<div class="addEntityButtonContainer">
						#foreach( $id in $hits )
							#set( $data = $mediaarchive.getCachedData($amodule.getId(),$id))
						<a class="badge badge-light ajax" style="margin:4px;" data-targetdiv="entitypicker" data-oemaxlevel="1" 
						href="$applink/components/upload/entities/picker.html?entitytype=$amodule.getId()&removeselection=$id">
						<input type="hidden" name="${amodule.id}.value" value="$id" />
						#text($data) 
			 				<i class="fas fa-times"></i>
				 		</a>
				 		#end
			 			</div>
		 			#end
					</div>
				#end
			#end
		  </div>
		<div class="col outerRightColumn" style="margin-left:-4px;min-height:100%;">
		#if( $type )
			<div class="addEntity">
		
			<a class="ajax" style="margin-top:-20px;margin-right:-22px; float:right;display:block;width:20px;height:20px;" data-targetdiv="entitypicker" data-oemaxlevel="1" 
					href="$applink/components/upload/entities/picker.html"> <i class="fas fa-window-close"></i></a>
			
				<div class="addEntityButtonHolder">
					<a class="badge badge-success  emdialog TODOautocloseside addEntityButton" style="margin:4px;"  data-hidefooter="true" 
						href="$applink/components/upload/entities/addnewentity.html?viewid=${type}addnew&searchtype=$type">
						<i class="fas fa-plus"></i> Add New </a>
				</div>
			<br>
			#set($entries = $mediaarchive.getList($type))
			#set( $key = "picked$type" )
			#set( $hits = $userprofile.getValues($key))
			
			#foreach($item in $entries)
				#if( !$hits.contains($item.getId()))
				<a class="badge badge-light ajax" style="margin:4px;" data-targetdiv="entitypicker" data-oemaxlevel="1" 
					href="$applink/components/upload/entities/picker.html?entitytype=$type&selected=$selectedtext&addselection=$item.getId()">
					<i class="fas fa-angle-double-left"></i> $item </a>
				#end	
			#end
			</div>
		#end
		</div>
		</div>	##row	    
	
	</div> ##content

 </div>  ##dialog
	
</div>  ##panel