<div class="ui-widget uipanel" id="entitypicker">
    <div class="ui-widget-header">Entity Tags
    	<span class="widget-header-edit">
		 <a href="/finder/find/views/settings/modules/asset/metadata/views/index.html?viewid=multipleupload&amp;viewpath=asset/multipleupload" title="Edit"><i class="fas fa-cog"></i></a>
		</span>
    </div>
    
    <div class="ui-widget-content"> 
		<div class="container-fluid">
		<div class="row">
		    <div class="col-sm" style="max-width:200px;">
			#set( $type = $context.getRequestParameter("entitytype") )		##TODO remember the last selected	 
	
		  <ul class="sidebar-list">
			#foreach ( $amodule in $userprofile.getEntities() )
				#if( $amodule.id != "asset")
				<li #if($type == $amodule.id) class="current" #end>
				<a class="dropdown-item ajax" data-targetdiv="entitypicker" data-oemaxlevel="1" 
				href="$applink/components/upload/entities/picker.html?entitytype=${amodule.id}">$amodule </a></li>
				#end
			#end
		</ul>	
		  </div>
		<div class="col-sm">
			<div style="min-height:300px">
	
		#if( $type )
			#set($entries = $mediaarchive.getList($type))
			#foreach($item in $entries)
			<a class="badge badge-light ajax" style="margin:4px;" data-targetdiv="entitypicker" data-oemaxlevel="1" 
				href="$applink/components/upload/entities/picker.html?entitytype=$type&selected=$selectedtext&addselection=$item.getId()">
				$item </a>
			#end
	
					<br>
			<a class="badge badge-success ajax" style="margin:4px;" data-targetdiv="entitypicker" data-oemaxlevel="1"  ##TODO do inline, just add the name column 
				href="$applink/components/upload/entities/addnew.html?entitytype=$type">
					<i class="fas fa-plus"></i> Add New </a>
		#end
			</div>
		</div>
		</div>	##row	    

			<div style="padding:20px">
		
			##handle add and remove here or in java code
			#foreach ( $amodule in $userprofile.getEntities() )
				#set( $key = "picked$amodule.getId()" )
				#set( $hits = $userprofile.getValues($key))
				#if( $hits && !$hits.isEmpty() )
				<h5>$amodule:</h5> 
					#foreach( $id in $hits )
						#set( $data = $mediaarchive.getCachedData($amodule.getId(),$id))
					<a class="badge badge-light ajax" style="margin:4px;" data-targetdiv="entitypicker" data-oemaxlevel="1" 
					href="$applink/components/upload/entities/picker.html?entitytype=$module.getId()&removeselection=$id">
					$data 
		 				<i class="fas fa-times"></i>
			 		</a>
			 		#end
	 			#end
			#end	
			
		</div> 

	
	</div> ##content

 </div>  ##dialog
	
</div>  ##panel