<div class="chatterbox-chat" role="alert" id="chatter-message-$chat.id">
	<div class="chat-icon">
	<img src="/$applicationid/theme/images/user.png" class="img-fluid chat-icon-usr">
	</div>
	<div class="chat-msg">
	<a href="" title="$context.getDateTime($chat.date)"><strong> $mediaarchive.getUser($chat.user)</strong></a><br>
	$!chat.message  
	#if($candeletecomments)
		<a class="chat-delete float-right" data-id="${chat.id}" data-target="#chatter-message-$chat.id" data-searchtype="chatterbox"  href="#"><i class="fas fa-times"></i></a>
	#end
	</div>
	<div class="clearfix"></div>
</div>