.emheader .navbar-toggler {
    padding: .15rem .5rem;
    font-size: 1rem;
    margin: 30px 5px 0;
    right: 50px;
    top: 0;
    position: absolute;
    z-index: 1001;
}

.btn-hideoverlay {
	margin:26px 5px;
	padding:.5rem;
	color:#aaa;
	font-size: 1.6rem;
	line-height: 0.6rem;
}

.btn-hideoverlay:hover {
	color:#fff;
}

.masonry-grid-cell .grid-gallery-checkbox {
	top:12px;
}