#if (!$treename)
	#set( $treename = "dialogCategoryPickerTree" )
#end
#set( $action = $context.getRequestParameter("pickedcategoryaction") ) 
#if (!$targetdiv)
	#set( $targetdiv = $context.getRequestParameter("targetdiv") )
#end
$context.putPageValue("targetdiv",$targetdiv)

#set( $detailid = $context.getRequestParameter("detailid") )
#if(!$detailid)
	#set( $detailid = "category") 
#end

#set( $pickone = $context.getRequestParameter("pickone") )
#if (!$pickone)
	#set( $pickone = true )
#end
#set( $categories = $context.getRequestParameter("${detailid}.value") )
#if(!$categories)
	#set( $categories = $context.getRequestParameter("category-exact.values") )
#end	
#if(!$categories)
	#set( $categories = $context.getRequestParameter("category.values") )
#end
#if(!$categories)
	#set( $categories = $context.getRequestParameter("category-exact.values") )
#end	
#if(!$categories)
	#set( $categories = $context.getRequestParameter("existingcategories") )
#end

#if(!$categories)
	#set( $categories = $context.getRequestParameter("nodeID") )
#end


#set( $multivalue = $context.getRequestParameter("multivalue") )
#if(!$multivalue)
	#set( $selectedcategories = $categories )
	$context.putPageValue("selectedcategories",$selectedcategories)
#end



#set( $assetid = $context.getRequestParameter("assetid") )

<div id="search-catgories">
<div class="searchcategories-tree">
    <div class="assetdropcategory assetdropcategorymove searchcategories-treecontainer" >
        #set( $link = "$apphome/components/emtree/tree.html")
        #set( $link = "${link}?tree-name=$treename&editabletree=true&clearselection=true" )
        #set( $link = "${link}&oemaxlevel=1&targetdivinner=applicationmaincontent&maxlevelclick=$!maxlevelclick" )
        
		$pages.include($link, $context)  
	</div>
</div>
<div class="searchcategories-filter">
	<div id="searchareacontent"> 
	$pages.include("$apphome/components/categories/search/searchcategoryfilter.html?nodeID=index",$context)
	</div>
</div>

<div class="clearfix"></div>
</div>	
