
#set ($userSearcher = $searcherManager.getSearcher($catalogid, "userprofile"))
$context.putPageValue("searcher", $userSearcher)     
$context.putPageValue("view", "userprofile/preferences")  
$context.putPageValue("data", $userprofile) 

<h3>[[Preferences]]</h3>

        
        <form class="ajaxform validate" 
        	id="usereditprefform" 
        	data-targetdivinner="myaccountcontent"
        	data-oemaxlevel="3" 
        	name="usereditprefform" 
        	action="$home$apphome/views/myaccount/preferences/profilesave.html">
            <input type="hidden" name="id" value="$userprofile.id"/>
        
            <input type="hidden" name="save" value="true"/>
            <input type="hidden" name="username" value="$selectedUser.id"/> ## so the page loads after we save
            <input type="hidden" name="method" value="edituser"/>
            <input type="hidden" name="oemaxlevel" value="1"/>
            
            <div class="clearfix">
                   
			<div id="resultslist">
				<div id="default-fields">
	 				$pages.include("/${applicationid}/components/xml/detaileditor.html", $context)
				</div>
			</div>
            </div>
            
            #if( $errors)
                <div class="common-success">
                    $context.getText($message)  $!errors
                </div>
            #end
  			<div id="usereditproperties" ></div>
  			<div style="margin:20px 0;">
            <a href="#" class="btn btn-sm btn-primary submitform">[[Save Preferences]]</a>
            </div>
        </form>

